<style scoped>
    table {
        text-align: left;
    }
    .bank-details td
    {
        padding-left:4%;
    }

</style>

<script>

    export default {
        data: function () {
            return {
                activeNames: ['1']
            };
        },
    }
</script>

<template>
    <el-collapse v-model="activeNames" @change="handleChange">


        <el-collapse-item title="Standard Chartered Bank, Kenya" name="1">
            <div>
                <table>
                    <tr>
                        <th>Account Name</th>
                        <td>Cytonn High Yield Solutions LLP</td>
                    </tr>
                    <tr>
                        <th>Account Number (USD)</th>
                        <td>87050-404767-00</td>
                    </tr>
                    <tr>
                        <th>Account Number (KES)</th>
                        <td>01050-404767-00</td>
                    </tr>
                    <tr>
                        <th>Bank & Branch</th>
                        <td>Standard Chartered Bank Kenya Limited (Chiromo Branch)</td>
                    </tr>
                    <tr>
                        <th>Swift Code</th>
                        <td>SCBLKENX</td>
                    </tr>
                </table>
            </div>
        </el-collapse-item>

        <el-collapse-item title="Pay with M-PESA details" name="2">
            <div>
                <table>
                    <tr>
                        <td colspan="2">Go to M-PESA menu on your phone.</td>
                    </tr>
                    <tr>
                        <td>Select Pay Bill Option</td>
                    </tr>
                    <tr>
                        <td>Enter Business Number</td>
                        <td>329035</td>
                    </tr>
                    <tr>
                        <td>Enter Account Number</td>
                        <td>(YourID + Product e.g. 123456789CMS)</td>
                    </tr>
                    <tr>
                        <td colspan="2">Enter the Amount to top-up</td>
                    </tr>
                    <tr>
                        <td colspan="2">Enter M-PESA Pin and Send.</td>
                    </tr>
                </table>
            </div>
        </el-collapse-item>
        <el-collapse-item title="TD Bank, USA" name="3">
            <div>
                <table>
                    <tr>
                        <th>Account Name</th>
                        <td>Cytonn High Yield Solutions LLP</td>
                    </tr>
                    <tr>
                        <th>Account Number</th>
                        <td>4305658499</td>
                    </tr>
                    <tr>
                        <th>Bank & Branch</th>
                        <td>TD Bank - 6 Grove Street, Cherry Hill, NJ 08002br</td>
                    </tr>
                    <tr>
                        <th>ABA Routing Number</th>
                        <td>031201360</td>
                    </tr>
                </table>
            </div>
        </el-collapse-item>
    </el-collapse>
</template>