
<script>

    import {mapState, mapGetters} from 'vuex';

    export default {
        data () {
            return {
                filterText: '',
                filterProduct: {name: "All Products", id: null}
            }
        },
        computed: {
            ...mapGetters({
                products: 'myProductsList',
                selectedClient: 'selectedClient'
            }),
            pdropdown () {
                return [...[{name: "All Products", id: null}], ...this.products];
            }
        },
        watch: {
            selectedClient: function () {
                this.$store.commit('MY_PRODUCTS_LIST', this.selectedClient.id);
            }
        },
        methods: {
            doFilter () {
                this.$store.dispatch('searchInvestment', this.filterText);
            },
            setStatementClient: function ()
            {
                this.$store.dispatch('setStatementClient');
                this.$router.push({ name: 'investments.statements' });
            },
            swtichToTopup: function ()
            {
                this.$router.push({ name: 'topup' });
            }
        },
        mounted () {
            this.$store.commit('MY_PRODUCTS_LIST', this.selectedClient.id);
        }
    }
</script>

<template>
    <div class="row inv-filter">
        <div class="small-12 medium-4 columns">
            <span class="title">
                <h6><span class="title-text">INVESTMENTS</span></h6>
            </span>
        </div>

        <div class="small-12 medium-8 columns">
            <div class="search-area">
                <label class="float-left inline search-box margin-right-10 top-row-item">
                    <select name="filterProduct" id="filterProduct" v-search="'product'">
                        <option v-for="p in pdropdown" :value="p.id"> {{ p.name }}</option>
                    </select>
                </label>

                <button class="button top-row-item" @click="swtichToTopup()"> Topup </button>

                <button class="button top-row-item"> <span @click="setStatementClient"> Statements </span> </button>
                <label class="float-right inline search-box top-row-item">
                    <span class="float-left icon "><i class="fa fa-search"></i></span>
                    <span class="float-right"><input v-model="filterText" type="text" v-search="" placeholder="Search investments"/></span>
                </label>
            </div>
        </div>
    </div>
</template>
<style scoped>

    .inv-filter {
        margin: 10px 10px 5px 00px;
    }
    @media screen and (max-width: 640px) {
        .top-row-item {
            display: block;
            width: 100%;
            float: left !important;
            margin-bottom: 3px !important;
            margin-left: 0;
        }
        .search-area {
            padding: 20px 10px 10px 10px;
            margin: 0px;
        }
    }
    @media screen and (min-width: 640px) {
        .search-area {
            float: right;
        }
    }
    .title-text {
        color: #006A5A;
        font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        font-weight: bolder;
        font-size: 16px;
    }
</style>