<script>
    export default {
        props: ['project_name']
    }
</script>

<template>
    <div class="dashboard-banner">
        <div class="banner-cover">
            <div class="banner-container">
                <div class="grid-x grid-padding-x ">
                    <div class="large-6 cell salutation">
                        <div class="contain">
                            <!--<span class="h2" style="color: #fff;">{{project_name}}</span>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>