<script>
    import { mapGetters } from 'vuex';

    export default {
        data() {
            return {
                form: {},
                subAssets: [
                    { name: "", asset_class_id: ''},
                ]
            }
        },
        computed: {
            ...mapGetters({
                formErrors: 'formErrors',
                assetClassId: 'assetClassId',
                savingSubAsset: 'savingSubAsset'
            })
        },
        methods: {
            saveSubAssetClass: function ()
            {
                let vm = this;
                this.subAssets.forEach( function($ass)
                {
                    $ass.asset_class_id = vm.$route.params.id;
                });

                this.$store.commit('ADD_NEW_SUB_ASSET_CLASS', { asset_class_id: vm.$route.params.id, assets: vm.subAssets });
            },

            addRow: function() {
                this.subAssets.push({ name:"" });
            },

            removeRow: function(row) {
                let items = this.subAssets;

                if(items.length > 1)
                {
                    items.splice(_.indexOf(items, _.find(items, function (item) { return item.name === row.name; })), 1);
                }
            },

            closeModal: function ()
            {
                this.$store.commit('ADD_SUB_ASSET_CLASS_MODAL', false);
            }
        }
    }
</script>

<template>
    <div class="">
        <div class="form-group">
            <template v-for="row in subAssets">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="text" name="name" class="form-control" placeholder="Sub Asset Class..." v-model="row.name" required>
                        </div>
                        <div class="col-md-4" v-if="subAssets.length > 1">
                            <button class="btn btn-primary" @click="removeRow(row)"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                </div>
            </template>
            <button class="btn btn-primary" @click="addRow"><i class="fa fa-plus"></i></button>
            <br>
            <br>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit" @click="saveSubAssetClass"><i class="fa fa-spinner fa-spin" v-if="savingSubAsset"></i> <i class="fa fa-save" v-else></i> Save </button>
            <a data-dismiss="modal" class="btn btn-default" @click="closeModal">Close</a>
        </div>
    </div>
</template>

<style>

</style>