<script>
    import { mapGetters } from 'vuex';

    export default {
        data() {
            return {
                form: {
                    name: '',
                    id: ''
                },
            }
        },

        props: ['subAsset'],

        mounted() {
            this.form.name = this.subAsset.name;
            this.form.id = this.subAsset.id;
        },

        computed: {
            ...mapGetters({
                updateErors: 'updateErors',
                subAssetName: 'subAssetName',
                subAssetId: 'subAssetId',
                editing: 'editingSubAsset'
            })
        },

        methods: {
            updateSubAssetClass: function () {
                this.$store.commit('UPDATE_SUB_ASSET_CLASS', this.form);
            },

            closeModal: function () {
                this.$store.commit('EDIT_SUB_ASSET_CLASS_MODAL', {value: false});
            }
        }
    }
</script>

<template>
    <div class="">
        <div class="form-group">
            <label>Sub Asset Class Name</label>
            <input type="text" class="form-control" v-model="form.name" required>
            <ul v-if="updateErors['name']" class="text-danger">
                <li v-for="message in updateErors['name']" v-text="message"></li>
            </ul>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit" @click="updateSubAssetClass"><i class="fa fa-spinner fa-spin" v-if="editing"></i> <i class="fa fa-save" v-else></i> Update </button>
            <a data-dismiss="modal" class="btn btn-default" @click="closeModal()">Close</a>
        </div>
    </div>
</template>