<script>
    import PurchasesDetails from './purchasedetails'

    export default {
        mixins: [PurchasesDetails]
    }
</script>


<template>
    <div class="crims-page topup-list">
        <breadcrumb :noswitchbar = 'true'>
            <h3>
                <router-link :to="{name: 'unittrust.details', params: {id: $route.params.fundId}}">
                    Fund
                </router-link>
                <span>Purchase Details</span>
            </h3>
        </breadcrumb>

        <div class="crims-table-area">
            <div class="crims-table-area__head"></div>
            <div class="crims-table-area__body">
                <table class="crims-table">
                    <thead class="crims-table-head">
                    <tr>
                        <th>Total Amount</th>
                        <th>Fund</th>
                        <th>Purchase Date</th>
                        <th>Method Of Payment</th>
                        <th>Proof of Payment</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>{{purchase.currency}} {{purchase.amount | currency}}</td>
                        <td>{{purchase.unit_fund}}</td>
                        <td>{{purchase.date | date}}</td>
                        <td>
                            {{purchase.mode_of_payment | uppercase}}
                        </td>
                        <td>
                            <span v-show="purchase.document_id">
                                <a target="_blank" :href="'/api/document/'+purchase.document_id">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>
                            </span>

                            <span v-show="!purchase.document_id">Not Uploaded</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="crims-table-area__foot topup-list-area">
                <div class="bank-details">
                    <button @click="bank_details_modal = true" >See our bank details here</button>
                </div>

                <div class="top-up-details-upload" v-show="!purchase.document_id && purchase.mode_of_payment != 'mpesa'">
                    <div class="" >

                        <!--START of upload section-->

                        <div class="form-group" >
                            <el-upload
                                    drag
                                    :action= url
                                    :headers="defaultHeaders"
                                    :on-success="showUploadSuccess"
                            >
                                <i class="el-icon-upload"></i>
                                <div class="el-upload__text">Drop file here or <em>click to upload</em> proof of payment</div>
                                <div class="el-upload__tip" slot="tip">image or pdf files with a size less than 500kb</div>
                            </el-upload>

                            <p>Looking for our bank details? <a @click="bank_details_modal = true">Please find them here.</a> </p>
                        </div>

                        <!--END of bank transfer upload form-->
                    </div>
                </div>
            </div>
        </div>


        <!-- Bank details modal -->
        <el-dialog class="bank_details_modal" title="OUR BANK DETAILS" :visible.sync="bank_details_modal" :before-close="closeBankDetailsModal">
            <el-alert
                    type="info"
                    title="To make a transfer, kindly use any of the bank account details below"
                    show-icon>
            </el-alert>
            <br/>
                <utf-bank-details :fundId="fund_id"></utf-bank-details>
        </el-dialog>

    </div>
</template>
