<template>
    <div>
        <span class="help-block errors" v-if="errors[name] && name">
            <span v-for="error in errors[name]"> {{ error }}</span>
        </span>

        <!-- When name prop is not defined use slot-->
        <span v-else class="help-block errors">
            <slot></slot>
        </span>
    </div>
</template>

<script>
    export default {
        props: ['errors', 'name'],
    }
</script>