<script>
    import moment from 'moment';
    import { Message } from 'element-ui';

    export default {
        data() {
            return {
                schedule: {
                },
                form: {
                    date: null,
                    amount: '',
                    schedule_id : this.scheduleId
                },
                loading: false
            }
        },

        props: ['scheduleId'],

        methods: {
            getScheduleDetails() {
                axios.get('/api/investments/investment-payment-schedules/edit/' + this.scheduleId)
                    .then(({data}) => {
                        this.schedule = data;
                        this.form.date = this.schedule.date;
                        this.form.amount = this.schedule.amount;
                    });
            },

            closeModal()
            {
                this.$emit('editInvestmentPaymentScheduleClosed');
            },

            submit() {
                if (this.form.date == '' || this.form.date == null) {
                    Message.warning({message: "Please select a date for the investment payment schedule"});
                }

                if (this.form.amount == '' || this.form.amount == null) {
                    Message.warning({message: "Please provide an amount for the investment payment schedule"});
                }

                this.form.date = moment(this.form.date).format('YYYY-MM-DD');

                this.loading = true;

                axios.post('/api/investments/investment-payment-schedules/update/' + this.scheduleId, this.form)
                    .then((response) => {
                        this.loading = false;

                        let data = response.data;

                        if (data.status == 201) {
                            Message.success({message: data.data.message});
                            window.location.href = "/dashboard/investments/investment_payment_schedules/" + this.schedule.parent_investment_id;
                        } else {
                            Message.error({message: data.errors});
                        }
                    }, (response) => {
                        this.loading = false;
                        Message.error({message: 'Whoops, something went wrong'});
                        window.location.href = "/dashboard/investments/investment_payment_schedules/" + this.schedule.parent_investment_id;
                    });
            }

        },

        watch: {
            scheduleId: {
                handler: function () {
                    if (this.scheduleId != null) {
                        this.getScheduleDetails();
                    }
                }
            },
        },

        mounted() {
            this.getScheduleDetails();
        }
    }
</script>

<template id="id-of-template">
    <div>
        <div class="panel panel-success">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Investment Schedule Date </label>
                            <el-date-picker
                                    v-model="form.date"
                                    type="date"
                                    placeholder="Investment schedule date..."
                                    style="width: 100%">

                            </el-date-picker>
                        </div>
                        <div class="form-group">
                            <label>Schedule Amount </label>
                            <el-input v-model="form.amount"
                                      placeholder="Investment Amount"
                                      style="width: 100%">
                            </el-input>
                        </div>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <button class="btn btn-primary" type="submit" @click="submit">
                <i class="fa fa-spinner fa-spin" v-if="loading"></i>
                <i class="fa fa-save" v-else></i> Update
            </button>
            <a class="btn btn-default" @click="closeModal">Cancel</a>
        </div>
    </div>
</template>