<script>
    import vueTableMixin from '../../../mixins/vuetable_mixin';
    import Vue from 'vue';

    Vue.component('edit-investment-payment-schedule', require('./edit.vue'));

    export default {

        mixins: [ vueTableMixin ],

        data() {
            return {
                fields: [
                    { name: '__sequence'},
                    { name: 'date', sortField: 'date' },
                    { name: 'description', sortField: 'description' },
                    { name: 'amount', sortField: 'amount' },
                    { name: 'interest_rate', title : "Interest Rate", sortField: 'interest_rate' },
                    { name: 'paid', sortField: 'paid' },
                    { name: 'date_paid', title : 'Date Paid', sortField : 'paid' },
                    { name: 'show_url', title: 'Process', callback : 'viewDetails' },
                    { name: '__slot:edit_url', title: 'Edit'},
                ],
                editScheduleId : null,
                showEditSchedule: false,
                tableState: {
                },
                promise: true,
            }
        },

        props : ['investmentId'],

        computed: {
            dataUrl() {
                return '/api/investments/investment-payment-schedules/' + this.investmentId;
            }
        },
        methods: {
            viewDetails(value) {
                return '<a href="' + value + '"><i class="fa fa-eye"></i></a>'
            },

            edit(id){
                this.editScheduleId = id;
                this.showEditSchedule = true;
            },

            editModalClosed() {
                this.editScheduleId = null;
                this.showEditSchedule = false;
            }
        }
    }
</script>

<template>
    <div class="col-md-12">
        <div class="panel-dashboard">

            <div class="row" style="margin: 10px;">
                <search-bar :search-label='"Search schedule ..."'></search-bar>
            </div>

            <div class="crims_table">
                <vuetable ref="vuetable"
                          :api-url="dataUrl"
                          :fields="fields"
                          pagination-path=""
                          @vuetable:pagination-data="onPaginationData"
                          :append-params="tableState"
                          :per-page="itemsPerPage"
                >
                    <template slot="edit_url" slot-scope="props">
                        <a v-if="! props.rowData.investment_id" @click="edit(props.rowData.id)">
                            <i class="fa fa-edit"></i>
                        </a>
                    </template>

                </vuetable>

                <div class="vuetable-pagination ui basic segment grid crims_pagination">
                    <table>
                        <tfoot>
                        <tr>
                            <td class="text-center" width="50%">
                                <div class="inline-block" style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                    <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                    <select style="width: 100px" class="form-control" v-model="itemsPerPage" @change="changePerPage">
                                        <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}</option>
                                    </select>
                                </div>
                            </td>
                            <td class="text-center">
                                <vuetable-pagination-info ref="paginationInfo">
                                </vuetable-pagination-info>
                                <vuetable-pagination ref="pagination"
                                                     @vuetable-pagination:change-page="onChangePage"
                                ></vuetable-pagination>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <el-dialog
                    title = "Edit Investment Payment Schedule"
                    :visible.sync="showEditSchedule"
                    width="30%">
                <span>
                    <edit-investment-payment-schedule @editInvestmentPaymentScheduleClosed="editModalClosed" :schedule-id="editScheduleId"></edit-investment-payment-schedule>
                </span>
            </el-dialog>
        </div>
    </div>
</template>

<style>

</style>