//[ui-view].ng-enter, [ui-view].ng-leave {
//  position: absolute;
//  left: 0;
//  right: 0;
//  transition:all .5s ease-in-out;
//}
//
//[ui-view].ng-enter {
//  opacity: 0;
//}
//
//[ui-view].ng-enter-active {
//  opacity: 1;
//}
//
//[ui-view].ng-leave {
//  opacity: 1;
//}
//
//[ui-view].ng-leave-active {
//  opacity: 0;
//}
//
//
//
//
//.ng-hide-add{
//  animation:0.5s easeOutX ease;
//}
//
//
//.ng-hide-remove{
//  animation:0.5s easeInX ease;
//}
//
//@keyframes easeInX {
//  0% {
//    opacity: 0;
//  }
//  100% {
//    opacity: 1;
//  }
//}
//
//@keyframes easeOutX {
//  0% {
//    opacity: 1;
//  }
//
//  100% {
//    opacity: 0;
//  }
//}
//
//.ng-enter, .ng-leave {
//  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
//}
//
//.ng-enter,
//.ng-leave.ng-leave-active {
//  opacity: 0;
//}
//
//.ng-leave,
//.ng-enter.ng-enter-active {
//  opacity: 1;
//}