.page-wrap{
  margin-bottom: 40px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  margin-top: 20px;
}

.clear-form p{
  text-align: right;
}
[zf-modal]{
  font-family: 'Open Sans', sans-serif;
  font-size: inherit;
  font-weight: 600;
  color: #9d9d9d;
  span{
    display: block;
    text-align: left;
  }
  .buttons{
    display: block;
    .button{
      @extend .button;
      padding: 10px 5px !important;
    }
    .alert{
      @extend .alert;
    }
    .secondary{
      @extend .secondary;
    }
  }
}

/*
 *Top menu of the application forms
 */
.application-top-menu{
  border-bottom: 1px solid #E7E7E7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.application-top-menu{
  .menu-item{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding-top: 35px;
    padding-bottom: 35px;
    .badge{
      background:  #C8CFCE;
    }
    .badge.icon{
      display: none;
    }
  }
  .menu-item.active{
    color: $cytonn_green;
    border-bottom: 1px solid $cytonn_green;
    .badge{
      background: #A3CF5F;
    }
  }
  .menu-item.complete{
    color: $cytonn_green;
    background: #F6FBEF;
    .badge{
      background: #A3CF5F;
    }
    .badge.no{
      display: none;
    }
    .badge.icon{
      display: inline-flex;
    }
  }
  .menu-item:hover{
    background: #F7F7F7;
  }
}


/**
 * Invest page & general for pages
 */
.form-section{
  background: #F7F7F7;
  margin: 30px 15px;
  padding: 10px;
  border-radius: 5px;

}

.form-section.rate-section{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #4A4A4A;
  line-height: 18px;
}

//.form-element{
//  margin-bottom: 15px;
//
//  label{
//    line-height: 40px;
//  }
//  input,
//  select{
//    border: 1px solid #C8CFCE;
//    border-radius: 3px;
//  }
//  input{
//    background: #fff;
//  }
//  input::placeholder{
//    color: #9B9B9B;
//    margin-bottom: 3px;
//  }
//}

.form-section.rate-section .rate-box{
  background: rgba(163,207,95,0.08);
  border: 1px dashed #A3CF5F;
  border-radius: 3px;
  padding: 15px 30px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: Bold;
  font-size: 36px;
  color: #006B5B;
  letter-spacing: 1.38px;
}

.form-section .section-title{
  font-family: 'Open Sans', sans-serif;
  font-weight: Bold;
  font-size: 12px;
  color: #768280;
  letter-spacing: 0.46px;
}


.form-section hr{
  border-bottom: 1px solid #C8CFCE;
}


/*
 * Subscriber Details page
*/
.subscriber-form{
  margin-top: 30px;

  .form-section{
    background: #FFF;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
  }


  .form-section.uploaded{
    .form-section-title{
      background: $cytonn_green;

      h5{
        color: #fff;
      }
    }
    i{
      color: #fff;
    }
    i:not(.form-complete-icon){
      display: none;
    }
    .form-complete-icon{
      @extend .fa-check-circle;
      color: #a3cf5f;
      font-size: 2em;
      line-height: normal;
    }
  }

  .form-section-title{
    @extend .clearfix;
    background: #ECECEC;;
    padding: 17px 20px 10px;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 2;

    h5{
      font-family: 'Open Sans', sans-serif;
      font-weight: Bold;
      font-size: inherit;
      color: #768280;
      letter-spacing: 0.5px;
      float: left;
    }
    i{
      float: right;
      color: #768280;
      line-height: inherit;
    }
  }

  .form-section-body{
    padding: 10px 10px;

    label{
      line-height: 25px;
    }

    input::placeholder{
      color: #9B9B9B;
    }
    input,
    select{
      border: 1px solid #C8CFCE;
      border-radius: 3px;
    }
    input{
      //background: #FFFFFF;
    }
  }

  //.dropdown-icon{
  //  border-radius: 3px;
  //  select{
  //    background: #FFF;
  //    border:none;
  //  }
  //}
}

.application-form-footer{
  .button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    padding: 10px 20px;
  }
  .back.button{
    float: left;
    color:  #768280;
    background: #DEDEDE;
    box-shadow: inset 0px -2px 0 0 rgba(0,0,0,0.10);
    border-radius: 3px;
  }
  .next.button{
    float: right;
    color: #FFFFFF;
    background: #A3CF5F;
    box-shadow: inset 0px -2px 0 0 rgba(0,0,0,0.10);
    border-radius: 3px;
    margin-right: 0;
  }
  .next.disabled{
    background: #A3CF5F;
  }
  .terms-link{
    margin-bottom: 20px;
  }
}
.file-drop-box{
  border: 2px dashed #e3e3e3;
  text-align: center;
  padding: 20px;
  border-radius: 3px;
  background: #FAFAFA;

  meter, progress{
    height: 4px;
    margin: 0 auto;
    max-width: 350px;
  }
  .file-description{
    font-size: 16px;
    color: #3E4D5C;
  }
  .file-instructions{
    font-size: 12px;
    color: #9B9B9B;
  }
}

.file-drag-over{
  border: 2px dashed #A3CF5F;
}
.help-sidebar{
  margin-top: 35px;
  margin-bottom: 30px;
  background: #F7F7F7;
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #4A4A4A;
  line-height: 18px;

  .title{
    padding-top: 10px;
    border-bottom: 1px solid #C8CFCE;
    margin-bottom: 16px;
  }
  h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: Bold;
    font-size: 12px;
    color: #768280;
    letter-spacing: 0.5px;
  }
  p{
    margin-bottom: 0.5em;
  }
  a{
    color: $cytonn_green;
    font-weight: 600;
  }
  .content{
    font-size: 12px;
    color: #768280;
    letter-spacing: 0.46px;
  }
}

hr.separator{
  margin-top: 20px;
  margin-bottom: 20px;
}
.terms-container{
  overflow: scroll;
  height: 75vh;
}
[zf-modal]{
  .primary{
    background: #A3CF5F;;
  }
  .button{
    min-width: 80px;
    margin-top: 10px;
    background: #A3CF5F;
  }

  border-radius: 3px;

  aside.modal.is-active{
    overflow: scroll;
    border-radius: 3px;
  }
}

//mobile views
@media screen and (max-width: 640px) {
  .application-form-footer{
    .terms-link{
      margin-bottom: 20px;
      display: block;
    }
  }
}

.risk{
  font-size: 13px;

  h4{
    font-size: 20px;
    color: #4A4A4A;
    letter-spacing: 0;
  }
  .question{
    font-weight: 600;
    margin-bottom: 5px;
  }
  .answers{
    @extend .clearfix;
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }
  .answers ul{
    list-style: none;
    display: block;
    margin-left: 0 !important;
    margin-bottom: 0;
  }
  .answers.v-list li{
    display: block;
  }
  @media screen and (min-width: 40em){
    .answers.v-list-2-cols li{
      display: inline;
      float: left;
      width:50%;
    }
  }
  .answers.h-list li{
    display: inline;
  }
  .answers.v-list.dark{
    li{
      font-size: 13px;
      color: #4A4A4A;
      background: #F0F0F0;
      border-radius: 2px;
      padding: 10px;
      margin-bottom: 5px;

      @extend .clearfix;
      label{
        display: inline-block;
        width: 90%;
      }
      @media screen and (max-width: 455px){
        label{
          width: 80%;
        }
      }
      input[type="radio"] {
        vertical-align: middle;
        display: inline-block;
        float: left;
      }
    }
  }
}

.float-left{
  float: left;
}

.upload-meter{
  width: 100%;
}

.float-right{
  float: right;
}

.inline{
  display: inline;
}

.errors{
  color: red;
  font-size: 14px;
}