.login-panel{
  background-color: #FFF;
  border-radius: 3px;
  padding: 70px;
  text-align: center;
  margin-top: 35px;

  .login-button{
    width: 100%;
    font-family: "Open sans", sans-serif;
    font-weight: 700;
    background: #A3CF5F;
  }

  .login_text_field{
    border-color: #C0C0C0;
    height: 50px;
    margin-bottom: 1em;
  }
  input::placeholder{
    color: #9F9F9D;
  }

  h3{
    font-family: "Open sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    line-height: 24px;
    padding-bottom: 15px;
  }
  .forgot_password_link{
    color: #9F9F9D;
  }

  .instructions{
    color: #9F9F9D;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: 'Open Sans',sans-serif;
  }
  .error {
    list-style: none;
    font-size: 12px;
    margin-bottom: 20px;
    color: red;
  }
  .sms-link{
    float: left;
    margin-bottom: 10px;
    color: #a3cf5f;
    font-weight: 600;
  }
}

.login-footer{
  text-align: center;
  margin-top: 20px;

  li, li a{
    font-size: 12px;
    color: #9B9B9B;
    display: inline;
  }
  ul{
    list-style-type: none;
  }
}

.user-profile-button{
  background: #DEDEDE;
  border-radius: 3px;

  .text{
    color: $cytonn_green;
  }
}

