.billing_body {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;

  h4 {
    color: #066;
    font-family: Proxima Nova;
    font-size: 16px;
    font-weight: 600;
  }

  &_header {
    text-align: center;

    .el-row {

      button {
        border: 0;
        border-radius: 0;

        &:focus, &:active, &:hover {
          background-color: transparent;
        }
      }

      .active_btn {
        border-bottom: 2px solid #066;
        color: #066;
      }
    }
  }

  &_content {
    padding-top: 20px;

    .alert {
      padding: 15px;
      margin-bottom: 20px;
      border: 1px solid transparent;
      border-radius: 4px;
    }

    .alert-info {
      color: #31708f;
      background-color: #d9edf7;
      border-color: #bce8f1;
    }

    .billing_body_panel {
      margin: 0 0;
      padding: 0;
      border: 0 #fff;
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .billing_card {
        margin-left: 0.5%;
        margin-right: 0.5%;
        margin-bottom: 1.5%;
        padding: 20px 20px 30px;
        min-height: 100px;
        border-radius: 5px;
        float: left;
        display: block;
        width: 23%;
        min-width: 250px;
        max-width: 380px;
        flex: 1;
        height: 150px;
        box-shadow: 0 0 10px 0.01px rgba(0, 0, 0, 0.1);

        .bill-name {
          font-size: 15px;
          font-weight: bold;
        }

        .dstv_back {
          background: url('/assets/img/billing/dstv-logo.png') no-repeat center;
          background-size: 65%;
          height: 100%;
        }

        .power_back {
          background: url('/assets/img/billing/kenya-power.png') no-repeat center;
          background-size: 30%;
          height: 100%;
        }

        .zuku_back {
          background: url('/assets/img/billing/zuku-logo.jpg') no-repeat center;
          background-size: 75%;
          height: 100%;
        }

        .water_back {
          background: url('/assets/img/billing/nairobi-water-logo.png') no-repeat center;
          background-size: 50%;
          height: 100%;
        }

        .airtel_back {
          background: url('/assets/img/billing/airtel-logo.png') no-repeat center;
          background-size: 50%;
          height: 100%;
        }

        .safaricom_back {
          background: url('/assets/img/billing/safaricom-logo.png') no-repeat center;
          background-size: 60%;
          height: 100%;
        }

        .telkom_back {
          background: url('/assets/img/billing/telkom-logo.png') no-repeat center;
          background-size: 60%;
          height: 100%;
        }

        .gotv-back {
          background: url('/assets/img/billing/gotv-logo.png') no-repeat center;
          background-size: 60%;
          height: 100%;
        }

        .zuku-internet-back {
          background: url('/assets/img/billing/zuku-internet-logo.png') no-repeat center;
          background-size: 60%;
          height: 100%;
        }

        .startimes-back {
          background: url('/assets/img/billing/startimes-logo.png') no-repeat center;
          background-size: 60%;
          height: 100%;
        }

      }
    }
  }
}