

ul[uib-datepicker-popup-wrap]{
  table tr{
    height: 30px !important;
  }

  list-style: none;
  position: absolute;
  left: 0;
  z-index: 1000;
  background: #fff;
  padding: 5px;
  border: 1px solid #E9E9E9;
  border-radius: 3px;

  ul:focus{
    outline: none;
  }
  td, th{
    padding: 0;
    min-width: 30px;
    button{
      width: 100%;
      height: 100%;
      border: 1px solid #e3e3e3;
      border-radius: 3px;
      background: #fff;

      &:hover{
        background: #e3e3e3;
        span{
          background: inherit;
        }
      }

      span{
        background: inherit;
      }
    }
  }
  .uib-day{
    font-size: 14px !important;
  }
  .text-center.h6 em{
    font-size: 12px !important;
  }
  $btn-border-rad: 3px;

  .btn-group{
    @extend .button-group;
    border-radius: $btn-border-rad;
    margin-bottom: 0;
    .btn{
      border-radius: 0 !important;
    }
  }

  .btn-sm{
    @extend .small.button;
    font-size: 12px !important;
    margin: 0;
  }

  .btn-info{
    @extend .button;
    //padding: inherit;
  }
  .btn-sm.active{
    padding: 0;
  }
  .btn-success{
    @extend .button;
    @extend .success;
  }
  .btn-danger{
    @extend .button;
    @extend .alert;
  }

  .glyphicon{
    @extend .fa;
  }
  .glyphicon-chevron-right{
    @extend .fa-chevron-right;
  }
  .glyphicon-chevron-left{
    @extend .fa-chevron-left;
  }
  .text-info {
    color: #31708f;
  }
}

/*subscribe.vu styles*/
.subform {
  .el-select {
    width: 100%;
    .el-input {
      .el-input__icon {
        top: 40%;
      }
    }
  }
  .el-date-editor.el-input {
    width: 100% !important;
    .el-input__icon {
      top: -5%;
    }
}
.el-picker-panel {
  .el-datepicker{

    top:460px;
  }
}
}
