.el-tabs_item {
  font-weight: bolder !important;
}

.el-select .el-input__inner {
  cursor: pointer;
  padding-right: 35px;
  background-color: transparent !important;
}

.el-input-group--prepend .el-input__inner, .el-input-group__append {
  margin: 0.1px !important;
  width: 99.5%;
}

.el-input-group__append {
  background-color: #006633 !important;
  color: #fff !important;
  border: none !important;
}

.el-input-group__append {
  width: 60px !important;
}

.el-input-group__prepend {
  width: 140px !important;
  font-size: 12px !important;
  color: #006699 !important;
}

.el-select .el-input__inner {
  color: #000;
}

.el-input__inner::placeholder {
  color: #bdbdbd !important;
}

.el-slider__bar {
  background-color: #2b542c !important;
}

.el-slider__runway {
  background-color: #2b542c !important;
}

.el-slider__button {
  background-color: #006633 !important;
}

.currency-select {
  .el-select .el-input__inner {
      border: none !important;
      margin: 0;
      width: 100%;
  }

  .el-input__icon {
    height: 100% !important;
    width: 25px;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s;
    line-height: 40px;
  }
}

.statements-fetch-form {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 60%;

  .statement-form {
      width: 31%;
      margin: 1%;
      font-family: Futura;

      .el-select .el-input__inner {
        width: 100% !important;
        border: 1px solid #eef;
        padding: 20px;
        border-radius: 4px;
      }

      .el-input {
        width: 100% !important;
      }
  }
}

.el-tabs__header {
  padding: 0;
  position: relative;
  margin: 10px 15px 15px !important;
}

