
//alerts
.alert-box {
  border: 1px solid #0078A0;
  display: block;
  font-weight: normal;
  margin-bottom: 1.11111rem;
  padding: 0.5rem 1.33333rem 0.5rem 0.5rem;
  position: relative;
  transition: opacity 300ms ease-out;
  background-color: #008CBA;
  color: #FFFFFF;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
}
.back-link{
  margin-left: 20px;
}

.button{
  background: #a3cf5f;
  color: #fff;
  border-radius: 3px;
  &hover{
    background: darken(#a3cf5f, 20%)
  }
}
.alert-box.success {
  color: #4C8650;
  background-color: #DFF0D8;
  border: 1px solid #95BA93;
}

/*
 * Forms
 */
.form-errors{
  color: #F00;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 20px;
}


.el-upload,
.el-upload .el-upload-dragger
{
  width: 100% !important;
  height: 100%;
  padding: 10px;
}

.form-group input{
  margin-bottom: 5px;
}
.form-group{
  margin-bottom: 20px;
}
/*
 * Select dropdowns
 */
//.dropdown-icon{
//  display: block;
//  border: 1px solid #e1e1e1;
//  box-shadow: inset -2px 0 0 rgba(0, 0, 0, 0.10);
//  background: #fcfcfc;
//  margin-bottom: 5px;
//}
//.dropdown-icon select{
//  border: none !important;
//  appearance: none;
//  display: inline;
//  margin: 0;
//}
//.dropdown-icon:after{
//  font-family: FontAwesome;
//  content: "\f107";
//  display: inline;
//  position: relative;
//  float: right;
//  font-size: 1.5em;
//  vertical-align: middle;
//  top: -30px;
//  right: 13px;
//}

select{
  border: 1px solid #e3e3e3;
  background: none;
}

radio{
  /*
 * Radios and checkboxes
 */
  //input[type=checkbox]:not(old),
  input[type=radio   ]:not(old){
    width     : 1.3em;
    margin    : 0;
    padding   : 0;
    font-size : 1em;
    opacity   : 0;
  }

  //input[type=checkbox]:not(old) + label,
  input[type=radio   ]:not(old) + label{
    display      : inline-block;
    margin-left  : -2em;
    line-height  : 1.5em;
  }

  //input[type=checkbox]:not(old) + label > span,
  input[type=radio   ]:not(old) + label > span{
    display          : inline-block;
    width            : 1.5em;
    height           : 1.5em;
    margin           : 0.25em;
    border           : 0.0625em solid rgb(192,192,192);
    border-radius    : 50%;
    background       : rgb(224,224,224);
    vertical-align   : middle;
  }

  //input[type=checkbox]:not(old):checked + label > span,
  input[type=radio   ]:not(old):checked + label > span{
    background       : #006b5b;
    border           : 1px solid #006b5b;
  }

  //input[type=checkbox]:not(old):checked + label > span:before{
  //  content     : '✓';
  //  display     : block;
  //  width       : 1em;
  //  color       : rgb(153,204,102);
  //  font-size   : 0.875em;
  //  line-height : 1em;
  //  text-align  : center;
  //  text-shadow : 0 0 0.0714em rgb(115,153,77);
  //  font-weight : bold;
  //}

  //display bullet
  input[type=radio]:not(old):checked + label > span > span{
    display          : block;
    width            : 60%;
    height           : 60%;
    margin           : 20%;
    padding          : 0;
    border           : 0.0625em solid #a3cf5f;
    border-radius    : 50%;
    background       : #a3cf5f;
    box-shadow       : 0 2px 5px 0 rgba(0, 0, 0, 0.05);
  }

  p.label-text{
    display: inline;
    margin: 0;
  }
}
