/*
 * Footer styles
 */


.grid-content.footer{
  padding-right: 0;
  padding-left: 0;
}

@media screen and (max-width: 640px){
  .footer footer .right, .left{
    float: none;
    display: block;

    p{
      text-align: center !important;
    }
  }
}

.footer {
  .footer-links {
    ul {
      margin-bottom: 0;
      li {
        &.mobile_icon{
          a {
            img{
              max-width: 120px;
              max-height: 40px;
            }
          }
        }

        &.mobile_desc{
          font-size: 10px;
          color: #707070;
        }
      }
    }
  }
}