input, select, textarea,
[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color']
{
  border: 1px solid #C8CFCE;
  border-radius: 3px;
  box-shadow: none;
}

.form-element {
  margin-bottom: 1em;
}