body.is-reveal-open {
  overflow: auto;
  user-select: none;
}

.modal{
  height: auto;
  border-radius: 5px;
  color: #9d9d9d;
  top: 450px;

  .button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    padding: 10px 20px;
  }
  .back.button{
    float: left;
    color:  #768280;
    background: #DEDEDE;
    box-shadow: inset 0px -2px 0 0 rgba(0,0,0,0.10);
    border-radius: 3px;
  }
  .next.button{
    float: right;
    color: #FFFFFF;
    background: #A3CF5F;
    box-shadow: inset 0px -2px 0 0 rgba(0,0,0,0.10);
    border-radius: 3px;
    margin-right: 0;
  }
  .danger.button{
    float: right;
    color: #FFFFFF;
    background: #FF0000;
    box-shadow: inset 0px -2px 0 0 rgba(0,0,0,0.10);
    border-radius: 3px;
    margin-right: 0;
  }
  .next.disabled{
    background: #A3CF5F;
  }
  .terms-link{
    margin-bottom: 20px;
  }

  table {
    display: inherit;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;

    tbody tr:nth-child(even) {
      background-color: #fff;
    }
  }
}
.is-reveal-open {
  overflow: auto;
  user-select: none;
}

.modal.dialogModal{

  max-width: 250px;
  border: none;
  margin-top: 200px;

  .button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 7px 14px;
    border-radius: 0;
    box-shadow: none;
  }
  //mobile view
  @media screen and (max-width: 640px) {
    height: 150px;
  }
}

.contact-modal{
  //width: 30%;
  height: 550px;

  .contact-textarea{
    height: 200px;
  }

  //mobile view
  @media screen and (max-width: 640px) {
    width: auto;
  }
}

.termsModal{
  width: 50%;
  top: 30px;

  //mobile view
  @media screen and (max-width: 640px) {
    width: auto;
  }
}

/**
 * Rollover and withdrawals modals
 */

.inv-modal-close{
  font-weight: 700;
  font-size: 3em;
  color: #c9c9c9;
}

.investment-modal{
  .modal-content-wrap{
    margin-top: 40px;
  }
  h3, h4{
    font-size: 24px;
    color: #222222;
  }
  select{
    background: #fcfcfc;
  }
  input::placeholder{
    font-size: 16px;
    color: #b3b3b3;
  }
  .button{
    border-radius: 3px;
    font-size: 18px;
  }
  .submit.button{
    background: #a3cf5f;
  }
  .block.button{
    width: 100%;
  }
  .cancel.button{
    background: #e0e0e0;
    color: #4a4a4a;
  }

  //mobile view
  @media screen and (max-width: 640px) {
    .button{
      border-radius: 3px;
      font-size: 13px;
      padding: 15px;
      margin: 0;
    }
    .submit.button{
      background: #a3cf5f;
    }
    .block.button{
      width: 50%;
    }
    .cancel.button{
      background: #e0e0e0;
      color: #4a4a4a;
    }

  }
}
.topup-modal,
.withdraw-modal,
.rollover-modal{
  .form-group{
    margin-bottom: 30px;
  }
  h3{
    margin-bottom: 40px;
  }
}

aside.modal.is-active{
  overflow: scroll;
}


