//@import "../form/form_select";

.real-estate {
  //background-color: #f1f1f1;
  //padding: 20px 20px;

  .projects-area {
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ededed;
    background-color: #ffffff;
    min-height: 50%;
    padding: 1%;

    .heading {
      padding: 15px 0;
      display: flex;
      align-items: center;

      .heading-title {
        width: 60%;
        float: left;
        font-weight: 600;
        color: #006A5A;
      }
    }

    &-panels {
      margin: 0 0;
      padding: 0;
      border: 0 #fff;
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .projects-card {
        margin-left: 0.5%;
        margin-right: 0.5%;
        margin-bottom: 1.5%;
        padding: 20px;
        min-height: 100px;
        border-radius: 5px;
        float: left;
        display: block;
        width: 23%;
        min-width: 270px;
        max-width: 380px;
        flex: 1;
        &:hover {
          cursor: pointer;
        }

        &-body {
          display: flex;
          width: 100%;

          .project-name {
            width: 50%;
          }

          .project-logo {
            width: 50%;
          }
        }
      }

      .applewood-card {
        background-image: linear-gradient(180deg, #ae944e 0%, #9e833d 100%);
        color: white;
      }

      .applewood-back {
        background: url('/assets/img/projects/Applewood.png') no-repeat center;
        background-size: 110%;
        height: 100%;
      }

      .newtown-card {
        background-image: linear-gradient(90deg, #61aa5b 0%, #278359 100%);
        color: white;
      }

      .newtown-back {
        background: url('/assets/img/projects/Newtown.png') ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 110%;
        height: 100%;
      }

      .amara-card {
        background-image: linear-gradient(90deg, #3d3d63 0%, #1c1d4b 100%);
        color: white;
      }

      .amara-back {
        background: url('/assets/img/projects/Amara.png') ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 110%;
        height: 100%;
      }

      .ridge-card {
        background-image: linear-gradient(180deg, #172726 0%, #052f2e 100%);
        color: white;
      }

      .ridge-back {
        background: url('/assets/img/projects/Ridge.png') ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 110%;
        height: 100%;
      }

      .situ-card {
        background-image: linear-gradient(90deg, #6c294a 0%, #5a0d31 100%);
        color: white;
      }

      .situ-back {
        background: url('/assets/img/projects/Situ.png') ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 110%;
        height: 100%;
      }

      .alma-card {
        background-image: linear-gradient(180deg, #731e35 0%, #8e1b3c 100%);
        color: white;
      }

      .alma-back {
        background: url('/assets/img/projects/Alma.png') ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 110%;
        height: 100%;
      }

      .taraji-card {
        background-image: linear-gradient(90deg, #1a3256 0%, #1d4078 100%);
        color: white;
      }

      .taraji-back {
        background: url('/assets/img/projects/Taraji.png') ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 110%;
        height: 100%;
      }

      .riverrun-card {
        background-image: linear-gradient(180deg, #529acc 0%, #2581c1 100%);
        color: white;
      }

      .riverrun-back {
        background: url('/assets/img/projects/Riverrun.png') ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 110%;
        height: 100%;
      }

      .towers-card {
        background-image: linear-gradient(90deg, #39393a 0%, #0c1117 100%);
        color: white;
      }

      .towers-back {
        background: url('/assets/img/projects/Towers.png') ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 110%;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .real-estate {
    .projects-area {
      .heading {
        display: flex;
        flex-wrap: wrap;

        .form {
          width: 100%;
        }
      }
    }
  }
}

.project-details {
  margin: -160px auto 0 auto;
  width: 90%;
  min-height: 80%;
  overflow-x: hidden;
  max-width: 100%;
  padding: 3%;

  &_data {

    .project-logo {
      text-align: center;
      height: 100%;
      padding: 7px;
      border-radius: 5px;
      color: #ffffff;
      font-weight: 900;
      font-size: 18px;
      font-family: Roboto, sans-serif;

      .amara-details-back {
        background: url('/assets/img/projects/Amara.png') ;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #1c1d4b;
        background-size: 80%;
        min-height: 300px;
      }

      .amara-link {
        color: #1c1d4b !important;
      }

      .applewood-details-back {
        background: url('/assets/img/projects/Applewood.png') ;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #9e833d;
        background-size: 80%;
        min-height: 300px;
      }

      .applewood-link {
        color: #9e833d !important;
      }

      .taraji-details-back {
        background: url('/assets/img/projects/Taraji.png') ;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #1d4078;
        background-size: 80%;
        min-height: 300px;
      }

      .taraji-link {
        color: #1d4078;
      }

      .towers-details-back {
        background: url('/assets/img/projects/Towers.png') ;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #0c1117;
        background-size: 80%;
        min-height: 300px;
      }

      .towers-link {
        color: #0c1117;
      }

      .ridge-details-back {
        background: url('/assets/img/projects/Ridge.png') ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
        background-color: #052f2e;
        min-height: 300px;
      }

      .ridge-link {
        color: #052f2e !important;
      }

      .alma-details-back {
        background: url('/assets/img/projects/Alma.png') ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
        background-color: #8e1b3c;
        min-height: 300px;
      }

      .alma-link{
        color: #8e1b3c !important;
      }

      .situ-details-back {
        background: url('/assets/img/projects/Situ.png') ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
        background-color: #5a0d31;
        min-height: 300px;
      }

      .situ-link {
        color: #5a0d31 !important;
      }

      .riverrun-details-back {
        background: url('/assets/img/projects/Riverrun.png') ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
        background-color: #2581c1;
        min-height: 300px;
      }

      .riverrun-link {
        color: #2581c1;
      }

      .newtown-details-back {
        background: url('/assets/img/projects/Newtown.png') ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%;
        background-color: #278359;
        min-height: 300px;
      }

      .newtown-link {
        color: #278359;
      }

      .project-link {
        margin-top: 10px;

        a {
          font-weight: 600;
          border-bottom: 1px solid;
          padding: 5px;
        }
      }
    }

    .project-data {
      padding: 140px 30px;

      h5 {
        font-family: Roboto, sans-serif;
        font-weight: 600;
        font-size: 16px;
      }

      .payment-plans-area {
        margin: .5%;
        border: 0 #fff;
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .project-plans {
          margin: .3%;
          min-height: 100px;
          border-radius: 5px;
          float: left;
          display: block;
          width: 49%;
        }
      }
    }
  }
}

@media screen and (min-width: 1150px) {
  .real-estate {
    .projects-area {
      &-panels {
        .projects-card {
          min-width: 23%;
        }
      }
    }
  }
}