.no-border-right{
  border-right: none;
}
.title{
  font-weight: 700;
}
a{
  color: #A3CF5F;
}
.close_icon{
  float: right;
  font-weight: 200;
  cursor: pointer;
  padding: 10px;
  font-size: 1.3em;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}
.alert-box.error{
  background: #F04124 !important;
  border: 1px solid #F04124;
}
.def.button{
  background: #a3cf5f;
  color: #fff;
  border-radius: 3px;
}
.reveal{
  padding: 0;
  outline: none;
  & > div{
    padding: 1rem;
  }
}
.dialog{
  @extend .reveal;
}
.no-margin{
  margin: 0;
}
.no-padding{
  padding: 0;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
h3.title{
  font-size: 27px;
  font-weight: 300;
  display: block;
}
.inline-block{
  display: inline-block;
}
.text-center, .center {
  text-align: center;
}
.bold{
  font-weight: 800;
}
.el-dialog
{

}
.no-padding .el-upload{
  padding: 0;
}
@media screen and (max-width: 992px) {
  .el-dialog
  {
    width: 95%;
  }
}

.currency-select {
    margin-left: 10%;
}

.password-reset-blade {
  ul li a {
    color: #2b542c;
  }
}


