.table tr td, .table tr th{
  border-collapse: collapse;
}
.table-scroll{
  max-width: 100vw;

  table{
    width: 100%;
  }
}
.table td th, .table tr th{
  font-weight: 600;
}
.table-responsive{
    width: 100% !important;

}

.table-bordered {
  tr, td, th {
    border: 1px solid #e3e3e3;
    border-collapse: collapse;
  }
  tbody td {
    padding-left: 10px;
    font-family: Helvetica, Arial, sans-serif;
  }
  thead td {
    color: #006A5A !important;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding-left: 10px;
  }
  th {
    color: #006A5A !important;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding-left: 10px;
  }
}
.table-striped {
    tbody tr:nth-child(even){
      background-color: #f1f1f1;
    }
}
.table-boxed{
  border: 1px solid #e3e3e3;
}
.table-hover{
  tbody tr:hover{
    background: rgba(227, 227, 227, 0.2);
  }
}
.table .header{
  height: 47px;
  background-color: #F2F7F7;
  border-top: 2px solid #EEE;
  border-bottom: 2px solid #EEE;
}
.table td, .table th{
  padding: 10px 5px;
  vertical-align: middle;
}

.chevron{
  font-family: FontAwesome;
  font-style: normal;
  font-size: 0.7em;
  font-weight: lighter;
  text-decoration: inherit;
  float: right;
  margin-left: 2px;
  margin-right: 5px;
  vertical-align: middle;
}
.st-sort-ascent:after{
  vertical-align: top;
  content: "\f077";
  @extend .chevron;
}

.st-sort-descent:after{
  margin-top: 5px;
  vertical-align: bottom;
  content: "\f078";
  @extend .chevron;
}
.st-sort-ascent, .st-sort-descent{
  background-color: #e3e3e3;
}

.per-page{
  display: inline-block;
  float: left;
  position: relative;

  input{
    display: inline;
    position: relative;
    width: 50px;
    border-radius: 3px;
    border: 1px solid #e3e3e3;
    padding: 0;
    height: 100%;
    text-align: center;
  }
}
.paginator{
  display: inline-block;
  float: right;
  position: relative;
}
.tooltip{
  position: absolute;
  top: 0;
  left: 0;
}

dmc-pagination{
  font-size: 0.9rem;
  line-height: 1rem;
  input{
    display: inline !important;
    font-size: 0.9rem;
    padding: 1px !important;
    height: 100% !important;
    margin-bottom: 0 !important;
  }
  a{
    color: #222;
    font-size: 0.9rem;
  }
  .pagination .select-page{
    font-size: inherit;
  }
}

.crims-table-area table, .crims-table-area .crims-table {
  background: none !important;
}