<script>
    import { mapGetters } from 'vuex';

    export default {
        data() {
            return{
                form: {},
                assetClass: '',
                fund_manager_id: '',
                investor_bank: '',
                investor_bank_branch: '',
                assetClassName: '',
                bankBranches: [],
            }
        },
        computed: {
            ...mapGetters({
                createSecurity: 'createSecurity',
                investors: 'investors',
                fundManagers: 'fundManagers',
                assetClasses: 'assetClasses',
                subAssetClasses: 'subAssetClasses',
                fetchingSubAssetClasses: 'fetchingSubAssetClasses',
                savingSecurity: 'savingSecurity',
                formErrors: 'securityFormErrors',
                fetching: 'fetching',
                banks: 'banks',
                branches: 'branches',
                depositTypes: 'depositTypes',
                portfolioDepositTypes: 'portfolioDepositTypes',
                sectors: 'sectors',
                states: 'states',
                currencies: 'currencies'
            }),

        },
        watch: {
            assetClass: {
                handler: function () {
                    let vm = this;

                    this.assetClassName = this.assetClasses.filter( function (assetClass) {
                        return (assetClass.id === vm.assetClass);
                    })[0].name;

                    this.getSubAssetClasses(this.assetClass);
                }
            },

            'form.investor_bank': function(bankId){

                this.bankBranches = this.getBankBranch(bankId);

            }

        },
        methods: {
            saveSecurity: function ()
            {
                this.$store.commit('SAVE_SECURITY', this.form);
            },

            closeModal: function ()
            {
                this.$store.commit('CREATE_SECURITY_MODAL', false);
            },

            getSubAssetClasses: function (classId) {
                this.$store.commit('GET_SUB_ASSET_CLASSES', classId);
            },

            getFund: function () {
                this.$store.commit('GET_FUNDS', this.fund_manager_id);
            },

            getFromDBAllBanks: function(){

                this.$store.commit('GET_BANK');

            },

            getBankBranch: function (bankID) {

                this.$store.commit('GET_BANK_BRANCHES', bankID);

            }
        },
        mounted() {

            this.form = {};

            this.getFromDBAllBanks();
        }
    }
</script>
<template>
    <div class="">
        <div class="panel panel-success">
            <div class="panel-heading">
                <p><i class="fa fa-info"></i> Choose Asset Class</p>
            </div>
            <div class="panel-body">
                <div class="">
                    <div class="col-md-6">
                        <div class="form-group">
                            <br>
                            <label>Name:</label>
                            <el-input placeholder="Please input" v-model="form.name" style="width: 100%;"></el-input>
                            <ul v-if="formErrors['name']" class="text-danger">
                                <li v-for="message in formErrors['name']" v-text="message"></li>
                            </ul>
                            <br>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <br>
                            <label>Asset Class:</label>
                            <el-select v-model="assetClass" placeholder="" style="width: 100%;">
                                <el-option
                                        v-for="asset in assetClasses"
                                        :key="asset.id"
                                        :label="asset.name"
                                        :value="asset.id">
                                </el-option>
                            </el-select>
                            <br>
                        </div>
                    </div>

                    <div class="col-md-6" v-if="assetClassName == 'Deposits' || assetClassName == 'Bonds'">
                        <div class="form-group">
                            <br>
                            <label>Portfolio Deposit Type:</label>
                            <el-select v-model="form.deposit_type_id" placeholder="" style="width: 100%;">
                                <el-option
                                        v-for="type in portfolioDepositTypes"
                                        :key="type.id"
                                        :label="type.name"
                                        :value="type.id">
                                </el-option>
                            </el-select>
                            <br>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <br>
                            <label>
                                <i class="fa fa-spinner fa-spin" v-if="fetchingSubAssetClasses"></i>
                                Sub Asset Class:
                            </label>
                            <el-select v-model="form.sub_asset_class_id" placeholder="" style="width: 100%;">
                                <el-option
                                        v-for="sub in subAssetClasses"
                                        :key="sub.id"
                                        :label="sub.name"
                                        :value="sub.id">
                                </el-option>
                            </el-select>
                            <ul v-if="formErrors['sub_asset_class_id']" class="text-danger">
                                <li v-for="message in formErrors['sub_asset_class_id']" v-text="message"></li>
                            </ul>
                            <br>
                        </div>
                    </div>

                    <div class="col-md-6" v-if="assetClassName == 'Deposits' || assetClassName == 'Bonds'">
                        <div class="form-group">
                            <br>
                            <label>Portfolio Deposit Type:</label>
                            <el-select v-model="form.deposit_type_id" placeholder="" style="width: 100%;">
                                <el-option
                                        v-for="type in portfolioDepositTypes"
                                        :key="type.id"
                                        :label="type.name"
                                        :value="type.id">
                                </el-option>
                            </el-select>
                            <br>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <br>
                            <label>Fund Manager:</label>
                            <el-select v-model="form.fund_manager_id" placeholder="" style="width: 100%">
                                <el-option
                                        v-for="manager in fundManagers"
                                        :key="manager.value"
                                        :label="manager.label"
                                        :value="manager.value">
                                </el-option>
                            </el-select>
                            <ul v-if="formErrors['fund_manager_id']" class="text-danger">
                                <li v-for="message in formErrors['fund_manager_id']" v-text="message"></li>
                            </ul>
                            <br>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <br>
                            <label>Contact Person:</label>
                            <el-input type="text" v-model="form.contact_person" class="form-control"required></el-input>
                            <ul v-if="formErrors['contact_person']" class="text-danger">
                                <li v-for="message in formErrors['contact_person']" v-text="message"></li>
                            </ul>
                            <br>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <br>
                            <label>Currency:</label>
                            <el-select v-model="form.currency_id" filterable placeholder="" style="width: 100%">
                                <el-option
                                        v-for="currency in currencies"
                                        :key="currency.value"
                                        :label="currency.label"
                                        :value="currency.value">
                                </el-option>
                            </el-select>
                            <br>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <br>
                            <label>Country:</label>
                            <el-select v-model="form.country_id" filterable placeholder="" style="width: 100%">
                                <el-option
                                        v-for="state in states"
                                        :key="state.name"
                                        :label="state.name"
                                        :value="state.id">
                                </el-option>
                            </el-select>
                            <br>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <br>
                            <label>Sector:</label>
                            <el-select v-model="form.sector_id" filterable placeholder="" style="width: 100%">
                                <el-option
                                        v-for="sector in sectors"
                                        :key="sector.id"
                                        :label="sector.name"
                                        :value="sector.id">
                                </el-option>
                            </el-select>
                            <br>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <br>
                            <label>Issuer:</label>
                            <el-input type="text" v-model="form.issuer" class="form-control"required></el-input>
                            <ul v-if="formErrors['issuer']" class="text-danger">
                                <li v-for="message in formErrors['issuer']" v-text="message"></li>
                            </ul>
                            <br>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <br>
                            <label>Batch Pricing:</label>
                            <el-input type="text" v-model="form.batch_pricing" class="form-control"required></el-input>
                            <br>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <br>
                            <label>ISIN Code:</label>
                            <el-input type="text" v-model="form.isin_code" class="form-control"required></el-input>
                            <br>
                        </div>
                    </div>

                    <br><br>
                </div>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <p><i class="fa fa-info"></i> Bank Details</p>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="required">Account Name</label>
                            <el-input  v-model="form.investor_account_name" placeholder="Account Name"></el-input>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="required">Account Number</label>
                            <el-input  v-model="form.investor_account_number" placeholder="Account Number"></el-input>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="required">Bank</label>
                            <el-select v-model="form.investor_bank" filterable placeholder="Select Method of Contact" style="width: 100%;">
                                <el-option v-for="bank in banks" :key="bank.id" :label="bank.name" :value="bank.id"> </el-option>
                            </el-select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <!--<span v-if="fetching"><i class="fa fa-spinner fa-spin"></i></span>-->
                            <label class="required">Branch</label>
                            <el-select v-model="form.investor_bank_branch" filterable placeholder="Select Bank Branch" style="width: 100%;">
                                <el-option v-for="branch in branches" :key="branch.id" :label="branch.name" :value="branch.id"> </el-option>
                            </el-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <button class="btn btn-primary" type="submit" @click="saveSecurity">
                <i class="fa fa-spinner fa-spin" v-if="savingSecurity"></i> <i class="fa fa-save" v-else></i> Save
            </button>
            <a class="btn btn-default" @click="closeModal()">Close</a>
        </div>

    </div>
</template>