<script>
    import { mapGetters } from 'vuex';

    export default {
        data() {
            return {
                form: {},
                id: this.$route.params.id,
                assetClassName: '',
                assetClass: '',
                bankBranches: [],
                setBankId:'',
                investor_bank: '',
                investor_bank_branch: '',
            }
        },

        computed: {
            ...mapGetters({
                funds: 'funds',
                investors: 'investors',
                fundManagers: 'fundManagers',
                assetClasses: 'assetClasses',
                subAssetClasses: 'subAssetClasses',
                depositTypes: 'depositTypes',
                portfolioDepositTypes: 'portfolioDepositTypes',
                editingSecurity: 'editingSecurity',
                fetching: 'fetchingSubAssetClasses',
                formErrors: 'formErrors',
                rawPortfolioSecurity: 'rawPortfolioSecurity',
                banks: 'banks',
                branches: 'branches',
            }),
        },

        watch: {

            rawPortfolioSecurity: {
                handler: function () {
                    this.form = this.rawPortfolioSecurity;
                    this.assetClass = this.rawPortfolioSecurity.asset_class;
                }
            },

            assetClass: {
                handler: function () {
                    let vm = this;

                    this.assetClassName = this.assetClasses.filter( function (assetClass) {
                        return (assetClass.id === vm.assetClass);
                    })[0].name;

                    this.getSubAssetClasses(this.assetClass);
                }
            },

            'form.investor_bank': {
                handler: function(bankId){
                    let vm = this;

                    if(typeof bankId == 'string'){
                        this.setBankId = vm.banks.filter(function (bank) {
                            return (bank.name == bankId)
                        })[0].id;

                        this.bankBranches = this.getBankBranch(this.setBankId);
                    }else{

                        this.bankBranches = this.getBankBranch(bankId);
                    }
                }
            }
        },

        methods: {
            submit: function () {
                this.$store.commit('EDIT_PORTFOLIO_SECURITY', this.form);
            },

            getSecurityDetails: function () {
                this.$store.commit('GET_SECURITY_RAW_DETAILS', this.id);
            },

            getSubAssetClasses: function (classId) {
                this.$store.commit('GET_SUB_ASSET_CLASSES', classId);
            },

            getFromDBAllBanks: function(){
                this.$store.commit('GET_BANK');
            },

            getBankBranch: function (bankID) {
                this.$store.commit('GET_BANK_BRANCHES', bankID);
            },

        },

        created() {

            this.getSecurityDetails();

            this.getFromDBAllBanks();

        }
    }
</script>

<template>
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4>Edit Portfolio Security</h4>
            </div>
            <div class="panel-body">
                <div class="">
                    <div class="col-md-6">
                        <div class="form-group">
                            <br>
                            <label>Name:</label>
                            <el-input placeholder="Please input" v-model="form.name" style="width: 100%;"></el-input>
                            <ul v-if="formErrors['name']" class="text-danger">
                                <li v-for="message in formErrors['name']" v-text="message"></li>
                            </ul>
                            <br>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <br>
                            <label>Asset Class:</label>
                            <el-select v-model="assetClass" placeholder="" style="width: 100%;">
                                <el-option
                                        v-for="asset in assetClasses"
                                        :key="asset.id"
                                        :label="asset.name"
                                        :value="asset.id">
                                </el-option>
                            </el-select>
                            <br>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <br>
                            <label>
                                <i class="fa fa-spinner fa-spin" v-if="fetching"></i>
                                Sub Asset Class:
                            </label>
                            <el-select v-model="form.sub_asset_class_id" placeholder="" style="width: 100%;">
                                <el-option
                                        v-for="sub in subAssetClasses"
                                        :key="sub.id"
                                        :label="sub.name"
                                        :value="sub.id">
                                </el-option>
                            </el-select>
                            <ul v-if="formErrors['sub_asset_class_id']" class="text-danger">
                                <li v-for="message in formErrors['sub_asset_class_id']" v-text="message"></li>
                            </ul>
                            <br>
                        </div>
                    </div>

                    <div class="col-md-6" v-if="assetClassName == 'Deposits' || assetClassName == 'Bonds'">
                        <div class="form-group">
                            <br>
                            <label>Portfolio Deposit Type:</label>
                            <el-select v-model="form.deposit_type_id" placeholder="" style="width: 100%;">
                                <el-option
                                        v-for="type in portfolioDepositTypes"
                                        :key="type.id"
                                        :label="type.name"
                                        :value="type.id">
                                </el-option>
                            </el-select>
                            <br>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <br>
                            <label>Fund Manager:</label>
                            <el-select v-model="form.fund_manager_id" placeholder="" style="width: 100%">
                                <el-option
                                        v-for="manager in fundManagers"
                                        :key="manager.value"
                                        :label="manager.label"
                                        :value="manager.value">
                                </el-option>
                            </el-select>
                            <ul v-if="formErrors['fund_manager_id']" class="text-danger">
                                <li v-for="message in formErrors['fund_manager_id']" v-text="message"></li>
                            </ul>
                            <br>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <br>
                            <label>Contact Person:</label>
                            <el-input type="text" v-model="form.contact_person" class="form-control"required></el-input>
                            <ul v-if="formErrors['contact_person']" class="text-danger">
                                <li v-for="message in formErrors['contact_person']" v-text="message"></li>
                            </ul>
                            <br>
                        </div>
                    </div>
                    <br><br>
                </div>
            </div>
            <div class="panel-body">
                <div class="">
                    <h4>Bank Details</h4>

                    <div class="col-md-6">
                        <div class="form-group">
                            <br>
                            <label>Account Name:</label>
                            <el-input placeholder="Please input" v-model="form.investor_account_name" style="width: 100%;"></el-input>
                            <br>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <br>
                            <label>Account Number:</label>
                            <el-input placeholder="Please input" v-model="form.investor_account_number" style="width: 100%;"></el-input>
                            <br>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <br>
                            <label>Bank Name:</label>
                            <el-select v-model="form.investor_bank" placeholder="" style="width: 100%;">
                                <el-option
                                        v-for="bank in banks"
                                        :key="bank.id"
                                        :label="bank.name"
                                        :value="bank.id">
                                </el-option>
                            </el-select>
                            <br>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <br>
                            <label>
                                <i class="fa fa-spinner fa-spin" v-if="fetching"></i>
                                Bank Branch:
                            </label>
                            <el-select v-model="form.investor_bank_branch" placeholder="" style="width: 100%;">
                                <el-option
                                        v-for="branch in branches"
                                        :key="branch.id"
                                        :label="branch.name"
                                        :value="branch.id">
                                </el-option>
                            </el-select>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <button class="btn btn-primary" type="submit" @click="submit">
                        <i class="fa fa-spinner fa-spin" v-if="editingSecurity"></i> <i class="fa fa-save" v-else></i> Update
                    </button>
                </div>
            </div>
        </div>

    </div>
</template>