<script>
    import Vue from 'vue';
    import vueTableMixin from '../../../mixins/vuetable_mixin';
    import PortfolioMixins from '../mixins/index';
    import { mapGetters } from 'vuex';

    Vue.component('create-security', require('./create.vue'));
    Vue.component('securities-filter-bar', require('../../../components/vuetable/filters/securitiesFilterBar.vue'));

    export default {

        mixins: [ vueTableMixin, PortfolioMixins ],

        data() {
            return {
                url: '/api/portfolio/securities/',
                fields: [
                    { name: 'id', title: 'ID', sortField: 'id' },
                    { name: 'name', title: 'Name', sortField: 'name' },
                    { name: 'code', title: 'Code', sortField: 'code' },
                    { name: 'investor', title: 'Investor', sortField: 'investor' },
                    { name: 'asset_class', title: 'Asset Class', sortField: 'asset_class' },
                    { name: 'sub_asset_class', title: 'Sub Asset Class', sortField: 'sub_asset_class' },
                    { name: 'fund_manager', title: 'Fund Manager'},
                    { name: '__view_action', title: 'View', titleClass: 'text-center', dataClass: 'text-center' },
                    { name: '__edit_action', title: 'Edit', titleClass: 'text-center', dataClass: 'text-center' },
                ],
                tableState: {

                },
                promise: true,
                securityModal: false
            }
        },
        computed: {
            ...mapGetters({
                createSecurity: 'createSecurity'
            })
        },
        watch: {
            createSecurity: {
                handler: function ()
                {
                    this.securityModal = this.createSecurity;
                }
            },

        },
        methods: {
            createSecurityModal: function ()
            {
                this.$store.commit('CREATE_SECURITY_MODAL', true);
            },

            getAssetClasses: function ()
            {
                this.$store.commit('GET_ASSET_CLASSES');
            },

            getDepositTypes: function () {
                this.$store.commit('GET_PORTFOLIO_DEPOSIT_TYPES');
            }
        },
        mounted() {
            this.getAssetClasses();
        }
    }
</script>

<template>
    <div class="col-md-12">
        <div class="panel-dashboard">
            <h3>
                <div class="btn-group pull-left">
                    <span class="dropdown">
                        <button class="btn btn-success dropdown-toggle toggler" data-toggle="dropdown">
                          <i class="fa fa-area-chart"></i> Class Summaries <span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <li class="devider"><a href="/dashboard/portfolio/deposit/summary">Deposits</a></li>
                            <li class="devider"><a href="/dashboard/portfolio/equity/summary">Equities</a></li>
                          </ul>
                    </span>
                    <router-link v-bind:to="{ name: 'asset-classes' }" class="btn btn-default"><i class="fa fa-eye-slash"></i> Asset Classes</router-link>
                    <button class="btn btn-success" @click="createSecurityModal"><i class="fa fa-plus-square-o"></i> Add Security </button>
                </div>
            </h3>
            <br>
            <br>

            <div class="table-area">
                <br>
                <securities-filter-bar :search-label='"Search ..."' class="pull-right"></securities-filter-bar>

                <div class="crims_table">
                    <vuetable ref="vuetable"
                              :api-url="url"
                              :fields="fields"
                              pagination-path=""
                              @vuetable:pagination-data="onPaginationData"
                              :append-params="tableState"
                              :per-page="itemsPerPage"
                    >
                    </vuetable>

                    <div class="vuetable-pagination ui basic segment grid crims_pagination">
                        <table>
                            <tfoot>
                            <tr>
                                <td class="text-center" width="50%">
                                    <div class="inline-block" style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                        <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                        <select style="§width: 100px" class="form-control" v-model="itemsPerPage" @change="changePerPage">
                                            <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <vuetable-pagination-info ref="paginationInfo">
                                    </vuetable-pagination-info>
                                    <vuetable-pagination ref="pagination"
                                                         @vuetable-pagination:change-page="onChangePage"
                                    ></vuetable-pagination>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <el-dialog
                title = "Add Security"
                :visible.sync="securityModal"
                width="30%"
                :show-close="false">
                <span>
                    <create-security></create-security>
                </span>
        </el-dialog>
    </div>
</template>

<style>
    .dropdown {
        padding-left: 20px;
    }
    .dropdown-menu {
            margin-left: 20px;
    }
    .table-area {
        border: 1px solid #eef;
        border-radius: 3px;
        padding: 10px;
    }
</style>
