<script>
    import { mapGetters } from 'vuex';
    import Vue from 'vue';

    Vue.component('bond-holdings', require('../bonds/bonds.vue'));
    Vue.component('deposit-holdings', require('../deposits/deposits.vue'));
    Vue.component('equity-holdings', require('../equities/equities.vue'));

    Vue.component('sell-share-form', require('../equities/sell-shares.vue'));
    Vue.component('buy-share-form', require('../equities/buy-shares.vue'));
    Vue.component('accrue-dividend', require('../equities/dividend.vue'));

    export default {
        data() {
            return {
                type: ''
            }
        },
        computed: {
            ...mapGetters({
                security: 'portfolioSecurityDetails',
                sellShareModal: 'sellShareModal',
                buyShareModal: 'buyShareModal',
                accrueDividendModal: 'accrueDividendModal',
            })
        },
        watch: {
            security: {
                handler: function () {
                    this.$store.commit('SET_PORTFOLIO_SECURITY_TYPE', this.security);
                }
            }
        },
        methods: {
             getSecurityDetails: function () {
                 this.$store.commit('GET_PORTFOLIO_SECURITY_DETAILS', this.$route.params.id);
             },
            showSellShareModal: function () {
                this.$store.commit('SELL_SHARE_MODAL', true);
            },
            showBuyShareModal: function () {
                this.$store.commit('BUY_SHARE_MODAL', true);
            },
            showAccrueDividendModals: function () {
                this.$store.commit('ACCRUE_DIVIDEND_MODAL', true);
            }
        },
        mounted() {
            this.getSecurityDetails();
        }
    }
</script>

<template>
    <div class="col-md-12 col-md-offset-0" v-cloak>
        <div class="panel-dashboard">
            <h3 class="red">
                Portfolio Security Details
                <div class="btn-group pull-right">
                    <a v-if="security.asset_class == 'Deposits'" :href="'/dashboard/portfolio/security/'+security.id+'/details'" class="btn btn-default"> <i class="fa fa-list"></i> Details </a>
                    <a v-if="security.asset_class == 'Equities'" :href="'/dashboard/portfolio/equity/summary'" class="btn btn-primary"> <i class="fa fa-list"></i> Equity Summary </a>
                    <a v-if="security.asset_class == 'Equities'" :href="'/dashboard/portfolio/security/'+security.id+'/dividends'" class="btn btn-info"> View Dividends </a>

                    <router-link :to="{ name: 'portfolio-securities.index' }" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Back to Securities</router-link>
                </div>
            </h3>

            <table class = "table table-hover">
                <tbody>
                    <tr>
                        <td width="30%">CODE</td>
                        <td>{{ security.code }}</td>
                    </tr>
                    <tr>
                        <td width="30%">NAME</td>
                        <td>{{ security.name }}</td>
                    </tr>
                    <tr>
                        <td width="30%">ASSET CLASS</td>
                        <td>{{ security.asset_class }}</td>
                    </tr>
                    <tr>
                        <td width="30%">SUB-ASSET CLASS</td>
                        <td>{{ security.sub_asset_class }}</td>
                    </tr>
                    <tr>
                        <td width="30%">INVESTOR</td>
                        <td>{{ security.investor }}</td>
                    </tr>
                    <tr>
                        <td width="30%">FUND MANAGER</td>
                        <td>{{ security.fund_manager }}</td>
                    </tr>
                    <tr v-if="security.unit_fund">
                        <td width="30%">UNIT FUND</td>
                        <td>{{ security.unit_fund }}</td>
                    </tr>
                </tbody>
            </table>


            <div class="details-area" v-if="security.asset_class == 'Equities'">
                <hr>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Number of Shares</th>
                            <th>Cost</th>
                            <th>Total Cost</th>
                            <th>Market Value</th>
                            <th>Market Price</th>
                            <th>Target Price</th>
                            <th>Alpha</th>
                            <th>Portfolio Cost</th>
                            <th>Portfolio Value</th>
                            <th>Dividend</th>
                            <th>Portfolio Return</th>
                            <th>Exposer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ security.total_number }}</td>
                            <td>{{ security.cost | currency }}</td>
                            <td>{{ security.total_cost | currency }}</td>
                            <td>{{ security.market_value | currency }}</td>
                            <td>{{ security.market_price | currency }}</td>
                            <td>{{ security.target_price | currency }}</td>
                            <td>{{ security.alpha }}</td>
                            <td>{{ security.portfolio_cost | currency }}</td>
                            <td>{{ security.portfolio_value | currency }}</td>
                            <td>{{ security.dividend | currency }}</td>
                            <td>{{ security.portfolio_return | currency }}</td>
                            <td>{{ security.exposure  }}%</td>
                        </tr>
                    </tbody>
                </table>

                <br>

                <div class="btn-group">
                    <button class="btn btn-success margin-bottom-20" @click="showBuyShareModal"> Buy Shares </button>
                    <button class="btn btn-danger margin-bottom-20" @click="showSellShareModal"> Sell Shares </button>
                    <button class="btn btn-info margin-bottom-20" @click="showAccrueDividendModals"> Accrue dividends </button>
                    <router-link :to="{ name: 'portfolio-securities.showMarketPrice' }" class="btn btn-warning margin-bottom-20">Market Price</router-link>
                    <router-link :to="{ name: 'portfolio-securities.showTargetPrice' }" class="btn btn-primary margin-bottom-20">Target Price</router-link>
                </div>

            </div>

            <!--show the holding for the specific security-->
            <div class="holdings-section">
                <div class="">
                    <p class="holding-header">{{ security.asset_class }} Holdings</p>
                </div>
                <hr>
                <div v-if="security.asset_class == 'Bonds'">
                    <bond-holdings></bond-holdings>
                </div>

                <div v-if="security.asset_class == 'Deposits' || security.asset_class== 'Fixed Income'">
                    <deposit-holdings></deposit-holdings>
                </div>

                <div v-if="security.asset_class == 'Equities'">
                    <equity-holdings></equity-holdings>
                </div>
            </div>

        </div>

        <!--modals-->
        <el-dialog
                title = ""
                :visible.sync="buyShareModal"
                width="20%"
                :close-on-click-modal="false"
                :show-close="false">
                <span>
                    <buy-share-form></buy-share-form>
                </span>
        </el-dialog>

        <el-dialog
                title = ""
                :visible.sync="sellShareModal"
                width="20%"
                :close-on-click-modal="false"
                :show-close="false">
                <span>
                    <sell-share-form></sell-share-form>
                </span>
        </el-dialog>

        <el-dialog
                title = ""
                :visible.sync="accrueDividendModal"
                width="20%"
                :close-on-click-modal="false"
                :show-close="false">
                <span>
                    <accrue-dividend></accrue-dividend>
                </span>
        </el-dialog>

    </div>
</template>

<style scoped>
    .holdings-section {
        border: 1px solid #eef;
        border-radius: 3px;
        padding: 10px;
    }
    .holding-header {
        font-weight: 900;
        font-size: 16px;
        color: #006A5A;
    }
</style>

