<script>
    import {mapGetters} from 'vuex';
    import PaginationMixins from '../../../mixins/vuetable/paginationMixins'

    export default {
        mixins: [PaginationMixins],
        data() {
            return {
                fields: [
                    {
                        name: '__slot:actions',
                        title: ''
                    }

                ],
            }
        },
        computed: {
            ...mapGetters(
                {
                    logs: 'fundActivityLogs',
                    brief: 'getBriefOverviewLog',
                    selectedClient: 'selectedClient'
                }),
            url() {
                return '/api/unitization/unit-fund/' + this.selectedClient.id + '/recent-activities-summaries';
            }
        },
        watch: {
            selectedClient:
                {
                    handler: function () {
                        this.getBriefActivityLog();
                        this.checkPageData();
                    },
                }
        },
        methods: {
            getBriefActivityLog: function () {
                if (this.selectedClient.id) {
                    this.$store.commit('GET_BRIEF_FUND_ACTIVITY_LOG', this.selectedClient.id);
                }
            },
            checkPageData() {
                if (!this.selectedClient.hasUT) {
                    this.$router.push({
                        path: '/home'
                    });
                }
            },

        },
        mounted() {
            this.checkPageData();
        }
    }
</script>
<template>
    <div class="crims-page">

        <breadcrumb>
            <h3>Unit Trust Activities</h3>
        </breadcrumb>

        <div class="crims-page-area r-activities">
            <div class="grid-x">
                <div class="large-6 account-activity">
                    <div class="head">
                        <h3>RECENT ACCOUNT <span>Activity</span></h3>
                    </div>


                    <div class="body" v-if="selectedClient">


                        <div class="crims-table-area">
                            <div class="crims-table-area__body">
                                <vuetable ref="vuetable"
                                          :api-url="url"
                                          :fields="fields"
                                          :multi-sort="true"
                                          :per-page="5"
                                          pagination-path=""
                                          @vuetable:loaded="onLoaded"
                                          @vuetable:pagination-data="onPaginationData">
                                    <template slot="actions" slot-scope="props" class="action">
                                        <div class="activity-item-list">
                                            <div class="list-content">
                                                <div class="date">
                                                    {{props.rowData.date}}
                                                </div>

                                                <div class="description" v-show="props.rowData.type == 'Sale'">
                                                    A {{props.rowData.unitFund}} sale of {{props.rowData.number}} Units was made.
                                                </div>

                                                <div class="description" v-show="props.rowData.type == 'Purchase'">
                                                    A {{props.rowData.unitFund}} Purchase of amount
                                                    {{props.rowData.amount}} was made.
                                                </div>

                                                <div class="description" v-show="props.rowData.type == 'transfer'">
                                                    A {{props.rowData.unitFund}} Transfer of units
                                                    {{props.rowData.number}} was made.
                                                </div>
                                            </div>
                                        </div>
                                    </template>

                                </vuetable>
                            </div>

                            <div class="crims-table-area__foot">
                                <div class="vuetable-pagination crims-table-area__pagination  ui basic segment grid">
                                    <vuetable-pagination-info ref="paginationInfo"></vuetable-pagination-info>
                                    <vuetable-pagination :css="pagination" ref="pagination"
                                                         @vuetable-pagination:change-page="onChangePage">
                                    </vuetable-pagination>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="large-5 account-overview">
                    <div class="head">
                        <h3>ACCOUNT <span>Overview</span></h3>
                    </div>

                    <div class="body" v-if="selectedClient">
                        <!--<div v-for="inv in brief.maturities">-->
                        <!--<div class="activity-item-list" v-for="(total, product) in brief.totals" >-->
                        <!--<div class="list-content">-->
                        <!--<span>-->
                        <!--{{ inv.currency }} {{ inv.amount | currency }} matures on {{ inv.maturity_date | date }}-->
                        <!--</span>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>