<script>
    import Vue from 'vue';
    import vueTableMixin from '../../../mixins/vuetable_mixin';

    Vue.component('redeem-points-view', require('./partials/redeem-points-view'));

    export default {
        mixins: [vueTableMixin],

        data() {
            return {
                fields: [
                    {name: 'clientCode', title: 'Client Code', sortField: 'clientCode'},
                    {name: 'client', title: 'Client Name', sortField: 'client'},
                    {name: 'invPoints', title: 'Investments Points'},
                    {name: 'fundPoints', title: 'UnitFunds Points'},
                    {name: 'rePoints', title: 'RealEstate Points'},
                    {name: 'totalPoints', title: 'Total Points',},
                    {name: 'availablePoints', title: 'Available Points',},
                    {name: 'currency', title: 'Currency'},
                    {name: 'value', title: 'Points Value'},
                    {name: '__slot:view_document', title: ''},
                ],
                tableState: {},
                promise: true,
                url: '',
                client: {}
            }
        },

        methods: {
            viewLoyaltyValues() {
                this.$router.push({name: 'client-loyalties.values'});
            },

            viewVouchers() {
                this.$router.push({name: 'client-loyalties.vouchers'});
            },

            redeemLoyaltyPoints(data) {
                this.$router.push({name: 'client-loyalties.redeem', params: {clientId: data.id}})
            }
        },

        created() {
            this.url = '/api/clients/loyalty/index';
        }
    }
</script>

<template>
    <div class="col-md-12">
        <div class="panel-dashboard">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-6" style="padding-top: 20px;">
                            <p><i class="fa fa-hashtag"></i> Clients Loyalty Points </p>
                        </div>
                        <div class="col-md-6" style="padding-top: 20px;">
                            <div class="panel-filters pull-right">
                                <div class="btn-group">
                                    <el-button
                                            @click="viewVouchers"
                                            type="warning"
                                            size="small">
                                        <i class="fa fa-gift"></i> Vouchers
                                    </el-button>

                                    <el-button
                                            @click="viewLoyaltyValues"
                                            type="primary"
                                            size="small">
                                        <i class="fa fa-line-chart"></i> Loyalty Rates
                                    </el-button>
                                </div>
                                <search-bar class="search-input"
                                            :search-label='"Search by Client Name or Client Code..."'></search-bar>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <vuetable ref="vuetable"
                              :api-url="url"
                              :fields="fields"
                              pagination-path=""
                              @vuetable:pagination-data="onPaginationData"
                              :append-params="tableState"
                              :per-page="itemsPerPage"
                    >
                        <template slot="view_document" slot-scope="props">
                            <el-button
                                    v-if="props.rowData.id"
                                    @click="redeemLoyaltyPoints(props.rowData)"
                                    type="success"
                                    size="small">Redeem
                            </el-button>
                        </template>

                    </vuetable>

                    <div class="vuetable-pagination ui basic segment grid crims_pagination">
                        <table>
                            <tfoot>
                            <tr>
                                <td class="text-center" width="50%">
                                    <div class="inline-block"
                                         style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                        <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                        <select style="width: 100px" class="form-control" v-model="itemsPerPage"
                                                @change="changePerPage">
                                            <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}
                                            </option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <vuetable-pagination-info ref="paginationInfo">
                                    </vuetable-pagination-info>
                                    <vuetable-pagination ref="pagination"
                                                         @vuetable-pagination:change-page="onChangePage"
                                    ></vuetable-pagination>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<style>
    .panel .panel-heading .panel-filters {
        display: flex;
        flex-flow: row wrap;
        float: right;
        height: 50px;
    }

    .panel .panel-heading .panel-filters .search-input {
        margin-left: 20px;
        width: 300px;
    }

    .panel .panel-heading .panel-filters .search-input input {
        height: 40px;
    }
</style>