<script>
    import vueTableMixin from '../../../mixins/vuetable_mixin';
    import LoyaltyMixin from './LoyaltyMixin';

    export default {
        mixins: [vueTableMixin, LoyaltyMixin],
        data() {
            return {
                fields: [
                    {name: 'id', title: 'ID', sortField: 'id'},
                    {name: 'duration', title: 'Investment Duration (in Months)', sortField: 'duration'},
                    {name: 'value', title: 'Loyalty Points Rate', sortField: 'value'},
                ],
                tableState: {},
                promise: true,
                url: '',
            }
        },
        created() {
            this.url = this.url = '/api/clients/loyalty/values';
        }
    }
</script>

<template>
    <div class="col-md-10 col-md-offset-1">
        <div class="panel-dashboard">
            <h4>
                Loyalty Points Values
                <div class="btn-group pull-right">
                    <router-link :to="{ name: 'client-loyalties.index'}" class="btn btn-default">
                        <i class="fa fa-arrow-left"></i>
                        Back
                    </router-link>
                </div>
            </h4>
            <br>
            <hr style="width: 100%;">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p><i class="fa fa-gg"></i> Loyalty Values </p>
                </div>
                <div class="panel-body">
                    <vuetable ref="vuetable"
                              :api-url="url"
                              :fields="fields"
                              pagination-path=""
                              @vuetable:pagination-data="onPaginationData"
                              :append-params="tableState"
                              :per-page="itemsPerPage"
                    >
                    </vuetable>

                    <div class="vuetable-pagination ui basic segment grid crims_pagination">
                        <table>
                            <tfoot>
                            <tr>
                                <td class="text-center" width="50%">
                                    <div class="inline-block"
                                         style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                        <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                        <select style="width: 100px" class="form-control" v-model="itemsPerPage"
                                                @change="changePerPage">
                                            <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}
                                            </option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <vuetable-pagination-info ref="paginationInfo">
                                    </vuetable-pagination-info>
                                    <vuetable-pagination ref="pagination"
                                                         @vuetable-pagination:change-page="onChangePage"
                                    ></vuetable-pagination>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>