<script>
    import axios from 'axios';
    import vueTableMixin from '../../../mixins/vuetable_mixin';
    import {Message} from 'element-ui';

    export default {
        mixins: [vueTableMixin],

        data() {
            return {
                voucherFields: [
                    {name: '__checkbox'},
                    {name: 'name', title: 'Voucher Name'},
                    {name: 'document', title: 'Upload Available', callback: 'uploadAvailable'},
                    {name: 'value', title: 'Value'},
                ],
                activitiesFields: [
                    {name: 'amount', title: 'Amount'},
                    {name: 'vouchers', title: 'Voucher'},
                    {name: '__slot:status', title: 'Status'},
                    {name: 'date', title: 'Date'},
                    {name: '__slot:origin', title: 'Origin'}
                ],
                tableState: {},
                promise: true,
                form: {},
                addingLoyaltyValue: false,
                client: {},
                fetchingClient: false,
                submittingForm: false,
                viewActivities: false,
                viewRedeemForm: false,
            }
        },

        computed: {
            voucherUrl() {
                return '/api/clients/loyalty/vouchers/';
            },

            activitiesUrl() {
                return `/api/loyalty/${this.$route.params.clientId}/points-instructions`;
            }
        },

        watch: {},

        methods: {
            uploadAvailable(value) {
                var out = `i class="text-center fa fa-close" style="color: #a94442"></i>`;

                if (value) {
                    out = `<i class="text-center fa fa-check-square-o" style="color: #3c763d"></i>`;
                } else {
                    out = `<i class="text-center fa fa-close" style="color: #a94442"></i>`;
                }
                return out;
            },
            fetchClientDetails() {
                this.fetchingClient = true;

                axios.get('/api/clients/loyalty/details/' + this.$route.params.clientId)
                    .then(({data}) => {
                        this.fetchingClient = false;
                        this.client = data.details;
                    }, () => {
                        this.fetchingClient = false;
                    })
            },

            submitRedeemForm() {
                this.form.voucher_ids = this.$refs.vuetable.selectedTo;
                this.form.client_id = this.$route.params.clientId;

                this.submittingForm = true;

                axios.post('/api/clients/loyalty/redeem/voucher/', this.form)
                    .then(({data}) => {
                        this.submittingForm = false;

                        if (data.status !== 422) {
                            Message.success('Redeem Points instruction successfully saved for approval');

                            location.reload();
                        } else {
                            Message.warning(data.errors);
                        }
                    }, ({data}) => {
                        this.submittingForm = false;
                        Message.warning(data.errors);
                    })
            },

            toggleActivities() {
                this.viewActivities = !this.viewActivities;
            },

            toggleRedeem() {
                this.viewRedeemForm = !this.viewRedeemForm;
            },
        },

        created() {
            this.fetchClientDetails();
        }
    }
</script>

<template>
    <div class="">
        <div class="panel panel-success">
            <div class="panel-heading">
                <p>
                    <i class="fa fa-plus"></i>&nbsp;&nbsp;Redeem Points
                    <router-link :to="{ name: 'client-loyalties.index'}" class="btn btn-default pull-right">
                        <i class="fa fa-arrow-left"></i>
                        Back
                    </router-link>
                </p>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-responsive table-striped">
                            <tbody>
                            <tr>
                                <th>Client</th>
                                <td>{{client.client}}</td>
                            </tr>
                            <tr>
                                <th>Total Points</th>
                                <td>{{client.totalPoints}}</td>
                            </tr>
                            <tr>
                                <th>Available Points</th>
                                <td>{{client.availablePoints | currency('', 2)}}</td>
                            </tr>
                            <tr>
                                <th>Redeemed Points</th>
                                <td>{{client.redeemedPoints}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-success">
                            <div class="panel-body">
                                <div>
                                    <button class="btn btn-default" type="button" style="background-color: #f5f5f5;"
                                            v-if="!client.canRedeem" data-toggle="tooltip" data-placement="left"
                                            title="Unable to redeem as available points are below 2000 points" >
                                        Redeem Points
                                    </button>
                                    <button class="btn btn-default" @click="toggleRedeem"
                                            v-else>
                                        Redeem Points
                                    </button>
                                    <button class="btn btn-primary" @click="toggleActivities">
                                        Latest Activities
                                    </button>
                                </div>
                                <br>
                                <div class="alert alert-info" v-if="!client.canRedeem">
                                    <p>Unable to do any actions as clients available points are below redeemable
                                        points</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="panel panel-success" v-if="viewRedeemForm">
                            <div class="panel-body">
                                <h4>Redeemable Rewards</h4>
                                <label>Select the reward to redeem</label>
                                <div class="crims_table">

                                    <vuetable ref="vuetable"
                                              :api-url="voucherUrl"
                                              :fields="voucherFields"
                                              pagination-path=""
                                              @vuetable:pagination-data="onPaginationData"
                                              :append-params="tableState"
                                              :per-page="itemsPerPage"
                                    >
                                    </vuetable>

                                    <div class="vuetable-pagination ui basic segment grid crims_pagination">
                                        <table>
                                            <tfoot>
                                            <tr>
                                                <td class="text-center" width="50%">
                                                    <div class="inline-block"
                                                         style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                                        <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                                        <select style="width: 100px" class="form-control"
                                                                v-model="itemsPerPage"
                                                                @change="changePerPage">
                                                            <option v-for="option in itemsPerPageOptions"
                                                                    :value="option">{{ option }}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <vuetable-pagination-info ref="paginationInfo">
                                                    </vuetable-pagination-info>
                                                    <vuetable-pagination ref="pagination"
                                                                         @vuetable-pagination:change-page="onChangePage"
                                                    ></vuetable-pagination>
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>

                                <br>
                                <button class="btn btn-info" @click="submitRedeemForm">Redeem Points</button>
                            </div>
                        </div>

                        <div class="panel panel-success" v-if="viewActivities">
                            <div class="panel-body">
                                <h4>Latest Activities</h4>

                                <div class="crims_table">

                                    <vuetable ref="vuetable"
                                              :api-url="activitiesUrl"
                                              :fields="activitiesFields"
                                              pagination-path=""
                                              @vuetable:pagination-data="onPaginationData"
                                              :append-params="tableState"
                                              :per-page="itemsPerPage">

                                        <template slot="status" slot-scope="props">
                                            <span class="label label-success"
                                                  v-if="props.rowData.status">REDEEMED</span>
                                            <span class="label label-info" v-else>PENDING</span>
                                        </template>

                                        <template slot="origin" slot-scope="props">
                                            <span class="label label-info" v-if="props.rowData.origin == 0">ADMIN</span>
                                            <span class="label label-info" v-else>CLIENT</span>
                                        </template>
                                    </vuetable>

                                    <div class="vuetable-pagination ui basic segment grid crims_pagination">
                                        <table>
                                            <tfoot>
                                            <tr>
                                                <td class="text-center" width="50%">
                                                    <div class="inline-block"
                                                         style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                                        <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                                        <select style="width: 100px" class="form-control"
                                                                v-model="itemsPerPage"
                                                                @change="changePerPage">
                                                            <option v-for="option in itemsPerPageOptions"
                                                                    :value="option">{{ option }}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <vuetable-pagination-info ref="paginationInfo">
                                                    </vuetable-pagination-info>
                                                    <vuetable-pagination ref="pagination"
                                                                         @vuetable-pagination:change-page="onChangePage"
                                                    ></vuetable-pagination>
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
    .form-control-custom {
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
</style>