<script>
    import vueTableMixin from '../../../mixins/vuetable_mixin';

    import AddLoyaltyVoucher from './partials/add-loyalty-voucher';
    import axios from 'axios';
    import {Message} from 'element-ui';

    export default {
        name: "loyalty-vouchers",
        mixins: [vueTableMixin],

        components: {AddLoyaltyVoucher},

        data() {
            return {
                fields: [
                    {name: 'name', title: 'Name', sortField: 'name'},
                    {name: 'value', title: 'value', sortField: 'value'},
                    {name: 'number', title: 'Available', sortField: 'number'},
                    {name: '__slot:view_document', title: 'Upload'},
                    {name: '__slot:edit_voucher', title: 'Edit'},
                ],
                tableState: {},
                promise: true,
                url: '',
                voucherId: '',
                loyaltyVoucherModal: false,
                confirmDelete: false,
            }
        },

        methods: {
            confirmDeleteVoucher(id) {
                this.voucherId = id;
                this.confirmDelete = true;
            },

            closeModal() {
                this.loyaltyVoucherModal = false;
            },

            deleteVoucher() {
                axios.post(`/api/clients/loyalty/vouchers/${this.voucherId}/delete`)
                    .then(({data}) => {
                        if (data.status == 422) {
                            Message.warning('Could not Delete record as its being used.');
                        } else if (data.status == 202) {
                            Message.success('Loyalty reward voucher deleted successfully');
                            location.reload();
                        }
                    }, () => {
                    })
            }
        },

        created() {
            this.url = '/api/clients/loyalty/vouchers';
        }
    }
</script>

<template>
    <div class="col-md-10 col-md-offset-1">
        <div class="panel-dashboard">
            <h4>
                Loyalty Vouchers
                <div class="btn-group pull-right">
                    <router-link :to="{ name: 'client-loyalties.index'}" class="btn btn-default">
                        <i class="fa fa-arrow-left"></i>
                        Back
                    </router-link>

                    <button class="btn btn-success margin-bottom-20" @click="loyaltyVoucherModal = true"><i
                            class="fa fa-plus"></i>&nbsp;&nbsp;
                        Add Voucher
                    </button>
                </div>
            </h4>
            <br>
            <hr style="width: 100%;">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p><i class="fa fa-gg"></i> Vouchers </p>
                </div>
                <div class="panel-body">
                    <vuetable ref="vuetable"
                              :api-url="url"
                              :fields="fields"
                              pagination-path=""
                              @vuetable:pagination-data="onPaginationData"
                              :append-params="tableState"
                              :per-page="itemsPerPage"
                    >
                        <template slot="view_document" slot-scope="props">
                            <a v-if="props.rowData.document" target="_blank"
                               :href="'/document/view-document/'+props.rowData.document">
                                <i class="fa fa-file-pdf-o"></i> View
                            </a>
                        </template>

                        <template slot="edit_voucher" slot-scope="props">
                            <a class="text-danger" @click="confirmDeleteVoucher(props.rowData.id)">
                                <i class="fa fa-trash"></i>
                            </a>
                        </template>
                    </vuetable>

                    <div class="vuetable-pagination ui basic segment grid crims_pagination">
                        <table>
                            <tfoot>
                            <tr>
                                <td class="text-center" width="50%">
                                    <div class="inline-block"
                                         style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                        <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                        <select style="width: 100px" class="form-control" v-model="itemsPerPage"
                                                @change="changePerPage">
                                            <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}
                                            </option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <vuetable-pagination-info ref="paginationInfo">
                                    </vuetable-pagination-info>
                                    <vuetable-pagination ref="pagination"
                                                         @vuetable-pagination:change-page="onChangePage"
                                    ></vuetable-pagination>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <el-dialog
                title=""
                :visible.sync="loyaltyVoucherModal"
                :close-on-click-modal="false"
                width="30%"
                :show-close="false">
                <span>
                    <add-loyalty-voucher :voucherId="voucherId" @clicked="closeModal"></add-loyalty-voucher>
                </span>
        </el-dialog>

        <el-dialog
                title=""
                :visible.sync="confirmDelete"
                :close-on-click-modal="false"
                width="30%"
                :show-close="false">
            <span>Are you sure of deleting this voucher record?</span>

            <span slot="footer" class="dialog-footer">
                <el-button @click="confirmDelete = false">Cancel</el-button>
                <el-button type="danger" @click="deleteVoucher">Confirm</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<style>
    table.vuetable > tr > td.description-slot {
        width: 50%;
    }
</style>