<script>
    import { mapGetters } from 'vuex';

    export default {
        props: {
            tableId: {
                default: 'crims_table'
            },
            searchLabel: {
                default: 'Search ...'
            }
        },
        data() {
            return {
                assetClass: '',
                subAssetClass: '',
                searchText: '',
            }
        },
        computed: {
            ...mapGetters({
                assetClasses: 'assetClassFilters',
                subAssetClasses: 'subAssetClasses',
                fetchingSubAssetClasses: 'fetchingSubAssetClasses'
            })
        },
        watch: {
            assetClass: {
                handler: function ()
                {
                    this.doFilter();
                    this.fetchSubAssetClass();
                }
            },
            subAssetClass: {
                handler: function () {
                    this.doFilter();
                }
            }
        },
        methods: {
            doSearch: function ()
            {
                this.$events.fire('search-set', {'id': this.tableId, 'data': this.searchText });
            },

            doFilter: function ()
            {
                this.$events.fire('filter-set', {'id': this.tableId, 'assetClassId': this.assetClass, 'subAssetClassId': this.subAssetClass});
            },

            fetchSubAssetClass: function ()
            {
                if(this.assetClass !== '')
                {
                    this.subAssetClass = '';
                    this.$store.commit('GET_SUB_ASSET_CLASSES', this.assetClass);
                }
            }
        }
    }
</script>

<template>
    <div class="">
        <div class="form-group pull-left" style="width:100%">

            <div class="row">
                <div class="col-md-4">
                    <el-select v-model="assetClass" placeholder="Select Asset Class" style="width: 100%;">
                        <el-option
                                v-for="aClass in assetClasses"
                                :key="aClass.id"
                                :label="aClass.name"
                                :value="aClass.id">
                        </el-option>
                    </el-select>
                </div>
                <div class="col-md-4" v-if="assetClass !== ''">
                    <span v-if="fetchingSubAssetClasses">
                        <i class="fa fa-spinner fa-spin"></i> Fetching Sub Asset Class
                    </span>
                    <span v-else>
                        <el-select v-model="subAssetClass" placeholder="Select Asset Class" style="width: 100%;">
                            <el-option
                                    v-for="sub in subAssetClasses"
                                    :key="sub.id"
                                    :label="sub.name"
                                    :value="sub.id">
                            </el-option>
                        </el-select>
                    </span>
                </div>
                <div class="col-md-4"><input type="text" class="form-control" style="width: 100%;" v-model="searchText" @keyup="doSearch" :placeholder="searchLabel"></div>
            </div>
        </div>
    </div>
</template>