<script>
    import moment from 'moment';

    export default {
        props: {
            tableId: {
                default: 'crims_table'
            },

            searchLabel: {
                default: 'Search by client code ...'
            }
        },

        data() {
            return {
                start_date: '',
                end_date: '',
                client_code: '',
                start: '',
                end: '',
                type: '',
                types: [
                    {
                        label: 'Topup',
                        value: 'topup'
                    },

                    {
                        label: 'Withdrawal',
                        value: 'withdrawal'
                    },
                    {
                        label: 'Unit Sale',
                        value: 'unit_sale'
                    }
                ]
            }
        },

        watch: {
            client_code: {
                handler: function ()
                {
                    this.doFilter();
                }
            },

            type: {
                handler: function () {
                    this.doFilter();
                }
            },

            start_date: {
                handler: function ()
                {
                    this.start = moment(this.start_date).format('YYYY-MM-DD');
                    this.doFilter();
                }
            },

            end_date: {
                handler: function () {
                    this.end = moment(this.end_date).format('YYYY-MM-DD');
                    this.doFilter();
                }
            }
        },

        methods: {
            doFilter: function ()
            {
                this.$events.fire('filter-set', {
                    'id': this.tableId,
                    'start': this.start,
                    'end': this.end,
                    'client_code': this.client_code,
                    'type': this.type
                });
            }
        }
    }
</script>

<template>
    <div class="col-md-12">
        <div class="col-md-3">
            <el-input
                    type="text"
                    class="form-control"
                    style="width: 100%;"
                    v-model="client_code"
                    :placeholder="searchLabel">
            </el-input>
        </div>


        <div class="col-md-3">
            <el-select v-model="type" placeholder="Filter by type" style="width: 100%;">
                <el-option
                        v-for="type in types"
                        :key="type.label"
                        :label="type.label"
                        :value="type.value">
                </el-option>
            </el-select>
        </div>

        <div class="col-md-3">
            <el-date-picker
                    v-model="start_date"
                    type="date"
                    placeholder="Pick a  start day"
                    width="100%">
            </el-date-picker>
        </div>

        <div class="col-md-3">
            <el-date-picker
                    v-model="end_date"
                    type="date"
                    placeholder="Pick an end day"
                    width="100%">
            </el-date-picker>
        </div>
    </div>
</template>