/**
 * Created by Raphael Karanja on 03/12/2018.
 */
.notifications {
  table {
    tr {
      td {
        p {
          font-weight: 400;
          span {
            color: #006a5b;
            font-weight: 400;
            margin-right: 10px;
          }
        }
      }
    }
  }
}