<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapGetters({
                depositSummary: 'depositSummary'
            })
        },
        created() {
            this.getDepositsSummaries();
        },
        methods: {
            getDepositsSummaries: function ()
            {
                this.$store.commit('GET_DEPOSIT_SUMMARY');
            }
        }
    }
</script>
<template>
    <div></div>
</template>