<script>
    import Vue from 'vue';

    Vue.component('deposits-summaries', require('./deposits.vue'));
    Vue.component('equities-summaries', require('./equities.vue'));
    Vue.component('bonds-summaries', require('./bonds.vue'));

    export default {
        data() {
            return {}
        }
    }
</script>

<template>
    <div class="col-md-10 col-md-offset-1">
        <div class="panel-dashboard">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="deposits-tab" data-toggle="tab" href="#home" role="tab" aria-controls="deposits" aria-selected="true">Deposits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="equities-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="equities" aria-selected="false">Equities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="bonds-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="bonds" aria-selected="false">Bonds</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="deposits" role="tabpanel" aria-labelledby="deposits-tab">
                    <deposits-summaries></deposits-summaries>
                </div>
                <div class="tab-pane fade" id="profile" role="equities" aria-labelledby="equities-tab">
                    <equities-summaries></equities-summaries>
                </div>
                <div class="tab-pane fade" id="contact" role="bonds" aria-labelledby="bonds-tab">
                    <bonds-summaries></bonds-summaries>
                </div>
            </div>
        </div>
    </div>
</template>ds