<script>
    import { mapGetters } from 'vuex';
    import moment from 'moment';

    export default {
        data() {
            return {
                form: {},
                date: ''
            }
        },

        computed: {
            ...mapGetters({
                fetchingRecipients: 'fetchingRecipients',
                submitting: 'submittingFeePayment',
                recipients: 'recipients',
                formErrors: 'feeErrors',
                fetching: 'fetching',
                fees: 'fees'
            })
        },

        watch: {
            date: {
                handler: function () {
                    this.form.date = moment(this.date).format('YYYY-MM-DD');
                }
            },
            formErrors: {
                handler: function () {
                    console.log(this.formErrors, "these are the form errors");
                }
            }
        },

        methods: {
            submitPayment: function () {
                this.form.unit_fund_id = this.$route.params.fid;
                this.$store.commit('SUBMIT_FEE_PAYMENT', this.form);
            },

            getFundFees: function () {
                this.$store.commit('GET_FUND_FEES', this.$route.params.fid);
            },

            getRecipients: function () {
                this.$store.commit('GET_FEE_PAYMENT_RECIPIENTS');
            }
        },

        mounted() {
            this.getFundFees();
            this.getRecipients();
        }
    }
</script>

<template id="id-of-template" v-cloak>
    <div class="col-md-8 col-md-offset-2">
        <div class="panel-dashboard">
            <h3>
                Unit Funds Fee Payments
                <div class="btn-group pull-right">
                    <router-link :to="{ name: 'unit-fund-fee-payments.index', params: { fid: this.$route.params.fid } }" class="btn btn-default">
                        <i class="fa fa-list-alt"></i>
                        Back to fee payments
                    </router-link>
                </div>
            </h3>
            <hr>

            <div class="panel panel-success">

                <div class="panel-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label> Fund Fee </label>
                                <div v-if="!fetching">
                                    <el-select v-model="form.fee_id" placeholder="Select fund fee" style="width: 100%">
                                        <el-option
                                                v-for="fee in fees"
                                                :key="fee.id"
                                                :label="fee.type"
                                                :value="fee.id">
                                        </el-option>
                                    </el-select>
                                    <ul v-if="formErrors['fee_id']" class="text-danger">
                                        <li v-for="message in formErrors['fee_id']" v-text="message"></li>
                                    </ul>
                                </div>
                                <i class="fa fa-spinner fa-spin" v-if="fetching"></i>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Amount </label>
                                <div>
                                    <el-input type="input" v-model="form.amount"></el-input>
                                    <ul v-if="formErrors['amount']" class="text-danger">
                                        <li v-for="message in formErrors['amount']" v-text="message"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Date </label>
                                <div>
                                    <el-date-picker
                                            v-model="date"
                                            type="date"
                                            placeholder="Pick date"
                                            style="width: 100%">
                                    </el-date-picker>
                                    <ul v-if="formErrors['date']" class="text-danger">
                                        <li v-for="message in formErrors['date']" v-text="message"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Recipient </label>
                                <div v-if="!fetchingRecipients">
                                    <el-select v-model="form.recipient_id" placeholder="Select recipient" style="width: 100%">
                                        <el-option
                                                v-for="recipient in recipients"
                                                :key="recipient.id"
                                                :label="recipient.name"
                                                :value="recipient.id">
                                        </el-option>
                                    </el-select>
                                    <ul v-if="formErrors.recipient_id" class="text-danger">
                                        <li v-for="message in formErrors.recipient_id" v-text="message"></li>
                                    </ul>
                                </div>
                                <i class="fa fa-spinner fa-spin" v-else></i>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <el-button
                                        type="success"
                                        @click="submitPayment">
                                    <i v-show="submitting" class="fa fa-spinner fa-spin"></i>
                                    Make payment
                                </el-button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</template>