<script>

    import vueTableMixin from '../../../mixins/vuetable_mixin';

    export default {

        mixins: [vueTableMixin],

        data() {
            return {
                url: '',
                fundId: null,
                fields: [
                    { name: 'type', title: 'FEE TYPE' },
                    { name: 'amount', title: 'AMOUNT', sortField: 'amount' },
                    { name: 'date', title: 'Date', sortField: 'date' },
                    { name: 'description', title: 'DESCRIPTION' },
                    { name: 'recipient', title: 'RECIPIENT' },
                    { name: '__view_action', title: 'View', titleClass: 'text-center', dataClass: 'text-center' },
                    // { name: '__edit_action', title: 'Edit', titleClass: 'text-center', dataClass: 'text-center' },
                ],
                tableState: {
                },
                promise: true
            }
        },

        created: function() {
            this.fundId = this.$route.params.fid;
            this.url = `/api/unitization/unit-funds/${this.fundId}/unit-fund-fee-payments`;
        },

    }
</script>
<template id="list-counties">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel-dashboard">
            <h4>
                Unit Fund Fee Payments
                <span class="btn-group pull-right">
                    <router-link v-bind:to="{ name: 'unit-funds.show', params: { id: fundId } }" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Back to Fund</router-link>
                    <router-link v-bind:to="{ name: 'unit-fund-fee-payments.new', params: { fid: fundId } }" class="btn btn-default"><i class="fa fa-plus-square-o"></i> Add Fee Payment</router-link>
                </span>
            </h4>

            <div class="crims_table">
                <vuetable ref="vuetable"
                          :api-url="url"
                          :fields="fields"
                          pagination-path=""
                          @vuetable:pagination-data="onPaginationData"
                          :append-params="tableState"
                          :per-page="itemsPerPage"
                >
                </vuetable>

                <div class="vuetable-pagination ui basic segment grid crims_pagination">
                    <table>
                        <tfoot>
                        <tr>
                            <td class="text-center" width="50%">
                                <div class="inline-block" style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                    <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                    <select style="width: 100px" class="form-control" v-model="itemsPerPage" @change="changePerPage">
                                        <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}</option>
                                    </select>
                                </div>
                            </td>
                            <td class="text-center">
                                <vuetable-pagination-info ref="paginationInfo">
                                </vuetable-pagination-info>
                                <vuetable-pagination ref="pagination"
                                                     @vuetable-pagination:change-page="onChangePage"
                                ></vuetable-pagination>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>