<script>
    import { mapGetters } from 'vuex';
    import moment from 'moment';

    export default {
        data() {
            return {}
        },

        computed: {
            ...mapGetters({
                fetching: 'fetchingFeePayment',
                payment: 'feePayment',
            })
        },

        methods: {
            getFeePayment: function () {
                this.$store.commit('GET_FEE_PAYMENT',
                    {
                        unit_fund_id: this.$route.params.fid,
                        fee_id: this.$route.params.id
                    });
            }
        },

        mounted() {

            this.getFeePayment();
        }
    }
</script>

<template id="id-of-template" v-cloak>
    <div class="col-md-8 col-md-offset-2">
        <div class="panel-dashboard">
            <h3>
                Unit Funds Fee Payment Details
                <div class="btn-group pull-right">
                    <router-link :to="{ name: 'unit-fund-fee-payments.index', params: { fid: this.$route.params.fid } }" class="btn btn-default">
                        <i class="fa fa-list-alt"></i>
                        Back to fee payments
                    </router-link>
                </div>
            </h3>
            <hr>

            <div class="panel">

                <div class="panel-body">
                    <div v-if="fetching"><i class="fa fa-spinner fa-spin"></i></div>
                    <div v-else>
                        <table class = "table table-hover">
                            <tbody>
                            <tr>
                                <td width="30%">ID</td>
                                <td>{{ payment.id }}</td>
                            </tr>

                            <tr>
                                <td width="30%">Fee Type</td>
                                <td>{{ payment.type }}</td>
                            </tr>

                            <tr>
                                <td width="30%">Unit Fund</td>
                                <td>{{ payment.fund }}</td>
                            </tr>

                            <tr>
                                <td width="30%">Fee Amount</td>
                                <td>{{ payment.amount | currency }}</td>
                            </tr>

                            <tr>
                                <td width="30%">Date</td>
                                <td>{{ payment.date | date }}</td>
                            </tr>

                            <tr>
                                <td width="30%">Description</td>
                                <td>{{ payment.description }}</td>
                            </tr>

                            <tr>
                                <td width="30%">Recipient</td>
                                <td>{{ payment.recipient }}</td>
                            </tr>

                            <tr>
                                <td>Actions</td>
                                <td>
                                    <div class="btn-group">

                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>