<template id="id-of-template">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel-dashboard">
            <h3>
                Add Unit Fund Commission Rate
                <router-link v-bind:to="{ name: 'unit-fund-commission-rates.index', params: { fid: fundId } }" class="btn btn-default pull-right"><i class="fa fa-long-arrow-left"></i> Back to Commission Rates</router-link>
            </h3>

            <form v-on:submit.prevent="saveUnitFundCommissionRate(item)">
                <div class="form-group">
                    <label>Date </label>
                    <div class="input-group margin-bottom-20">
                        <el-date-picker v-model="item.date" type="date" placeholder="Date..."></el-date-picker>
                    </div>
                    <ul v-if="formErrors['date']" class="text-danger">
                        <li v-for="message in formErrors['date']" v-text="message"></li>
                    </ul>
                </div>
                <div class="form-group">
                    <label>Recipient Type </label>
                    <select class="form-control" v-model="item.commission_recipient_type_id">
                        <option v-for="type in recipientTypes" v-bind:value="type.value" v-text="type.label"></option>
                    </select>
                    <ul v-if="formErrors['commission_recipient_type_id']" class="text-danger">
                        <li v-for="message in formErrors['commission_recipient_type_id']" v-text="message"></li>
                    </ul>
                </div>
                <div class="form-group">
                    <label>Commission Rate (%) </label>
                    <input type="number" class="form-control" step="0.001" placeholder="Commission Rate..." v-model="item.rate">
                    <ul v-if="formErrors['rate']" class="text-danger">
                        <li v-for="message in formErrors['rate']" v-text="message"></li>
                    </ul>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Save <i class="fa fa-spinner fa-spin" v-if="loading"></i> </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script type="text/babel">

    export default {

        data() {
            return {
                loading: false,
                url: '',
                fundId: null,
                formErrors: {},
                item: {
                    id: null,
                    date: null,
                    rate: null
                },
                recipientTypes: []
            }
        },

        created: function() {
            this.fundId = this.$route.params.fid;
            this.url = `/api/unitization/unit-funds/${this.fundId}/unit-fund-commission-rates`;
            this.getRecipientTypes();
        },

        methods: {
            getRecipientTypes: function() {

                axios.get('/api/unitization/unit-fund-recipient-types-list')
                    .then((response) => {
                        if (response.status == 200) {

                            let data = response.data;

                            if (data.fetched) {
                                this.$set(this, 'recipientTypes', data.data);
                            }
                            else {
                                flash('Could not fetch list of commission recipient types', 'danger');
                            }
                        }
                    }, (response) => {
                        flash('Oops! Something went wrong', 'danger');
                    });
            },

            saveUnitFundCommissionRate: function(item) {
                this.loading = true;

                let input = item;

                axios.post(this.url, input)
                    .then((response) => {
                        this.loading = false;

                        let data = response.data;

                        if(response.status == 202) {
                            this.success();
                        }
                        else if(response.data.status == 422) {
                            this.throwValidationError(data);
                        }
                    }, (response) => {
                        this.loading = false;
                        flash('Oops! Something went wrong', 'danger');
                        this.formErrors = response.data;
                    });
            },

            success: function() {
                flash('Request to create the unit fund commission rate has been saved for approval.', 'info');
                this.$router.push({ name: 'unit-fund-commission-rates.index', params: { fid: this.fundId } });
            },

            throwValidationError: function(data) {
                flash('Unit fund commission rate failed to save.', 'danger');

                this.formErrors = data.errors;
            }
        }
    }
</script>