<script type="text/babel">

    import UnitFundSummary from './partials/unitfundsummary.vue';

    export default {

        components: { UnitFundSummary },

        data() {
            return {
                funds: [],
                activeFund: ''
            }
        },

        watch: {
            funds: {
                handler: function () {
                    this.activeFund = this.funds[0].id;
                }
            }
        },

        created: function() {
            this.funds = this.getUnitFunds();
        },

        methods: {
            getUnitFunds: function() {
                axios.get('/api/unitization/unit-funds-list')
                    .then((response) => {
                        if (response.status == 200) {

                            let data = response.data;

                            if (data.fetched) {
                                this.$set(this, 'funds', data.data);
                            }
                            else {
                                flash('Could not fetch list of unit funds', 'danger');
                            }
                        }
                    }, (response) => {
                        flash('Oops! Something went wrong', 'danger');
                    });
            },
        }
    }
</script>

<template>
    <div>
        <ul id="myUnitFunds" class="nav nav-tabs" role="tablist">
            <li v-for="fund in funds" role="presentation">
                <a :href="'#fund-'+fund.id" id="fund-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="false" v-text="fund.name"></a>
            </li>
        </ul>

        <div id="myUnitFundContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade" v-for="fund in funds" :id="'fund-' + fund.id" aria-labelledby="fund-tab">
                <unit-fund-summary :fund="fund"></unit-fund-summary>
            </div>
        </div>
    </div>
</template>