<script>
    import Vue from 'vue';
    import { mapGetters} from 'vuex';
    Vue.component('all-investment', require('./structuredproducts/list.vue'));
    Vue.component('breadcrumb', require('../partials/breadcrumb.vue'));

    export default {
        name: 'all-investments',
        data() {
            return {
                activeInvestment: 'product'+0,
                filterText: '',
                filterProduct: {name: "All Products", id: null},

            };
        },
        computed: {
            ...mapGetters({
                products: 'products',
                selectedClient: 'selectedClient',
                fetchingProducts: 'fetchingProducts'
            })
        },
        watch: {
            selectedClient: {
                handler: function () {
                    this.$store.commit('CLIENT_PRODUCT_LIST', this.selectedClient.id);
                }
            }
        },
        methods: {
            switchInvestments(tab, event) {

            },

            checkData(){
                if (!this.selectedClient.hasSP) {
                    this.$router.push({
                        path: '/home'
                    });
                }
            }
        },

        mounted(){
            this.checkData();
            if(this.products.length ===0){
                this.$store.commit('CLIENT_PRODUCT_LIST', this.selectedClient.id);
            }
        }
    }
</script>

<template>
    <div class=" crims-page all-investments">

        <breadcrumb :topUpButton="true" id="inv_step_0">
            <h3>Investments: Structured Products
                <!--<div id="inv_step_0" style = "width: 2px; height: 2px; opacity: 0"></div>-->
            </h3>
        </breadcrumb>
        <div id="inv_step_end" style = "width: 2px; height: 2px; opacity: 0"></div>
        <div v-if="fetchingProducts" >
            <tab-loader-shimmer></tab-loader-shimmer>
        </div>
        <div v-else>
            <el-tabs v-model="activeInvestment" class="investment-switch-tabs" id="inv_step_1">
                <el-tab-pane v-for="(product, key) in products" :name="'product'+key" :label="product.name" :key="product.id" :value="product.id">
                    <all-investment :product="product.id"></all-investment>
                </el-tab-pane>
            </el-tabs>
        </div>
    </div>
</template>