<script>
    import events from "../../events";
    import {mapGetters} from 'vuex';
    import axios from 'axios'
    import {Message} from 'element-ui';

    export default {
        data() {
            return {
                userDetails: {
                    email: '',
                    phone: ''
                },
                ver_option: 2,
                requestVerification: false,
                inputToken: false,
                authenticating: false,
                form: {}
            }
        },

        computed: {
            ...mapGetters({
                client: 'currentUser',
            }),
        },

        methods: {
            requestToken() {
                this.requestVerification = true;
                this.setOption();

                axios.post('/api/verify/transaction/token', this.form).then(
                    ({data}) => {
                        if (data.verified) {
                            this.requestVerification = false;
                            this.inputToken = true;
                            Message.success('Token request successfully done. Enter Code to proceed');
                        } else {
                            this.requestVerification = false;
                            Message.error('Token request was unsuccessful. Retry or confirm you contact information')
                        }
                    },
                );
            },

            setOption() {
                this.form.userID = this.client.id;

                if (this.ver_option === 1) {
                    this.form.option = 'email';
                } else if (this.ver_option === 2) {
                    this.form.option = 'sms';
                } else {
                    this.form.option = 'authy';
                }
            },

            authenticate(event) {
                this.authenticating = true;
                event.preventDefault();
                axios.post('/api/verify/transaction/validate', this.form).then(
                    ({data}) => {
                        if (data.validated) {
                            this.clearForm();
                            this.authenticating = false;
                            this.$emit('tokenValidated');
                            Message.success('Token validated successfully.');
                        } else {
                            this.authenticating = false;
                            Message.error('Token has not been validated successfully. Try Again')
                        }
                    }
                );
            },

            close() {
                events.bus.$emit('close_withdraw');
                this.clearForm();
            },

            clearForm() {
                this.form = {};
            },
        },

    }
</script>

<template>
    <div>
        <div class="description">
            <p>Please select an option where you would like us to send you the confirmation code:</p>
        </div>
        <div class="verification-form">
            <div v-if="!inputToken">
                <el-radio-group v-model="ver_option">
                    <el-radio :label="1">Your email at <strong> {{ client.email | trimEmail }}</strong></el-radio>
                    <br>
                    <el-radio :label="2">Your phone through sms at <strong>{{ client.phone | trimPhone }}</strong>
                    </el-radio>
                    <br>
                    <el-radio :label="3">I have the Authy Application.</el-radio>
                </el-radio-group>

                <br>
                <br>

                <div>
                    <el-button type="custom-success" @click="requestToken">
                        <i :class="{'fa-spinner fa-spin':requestVerification, 'fa-envelope':!requestVerification }"
                           class="fa"></i>
                        Send Token
                    </el-button>
                    <el-button type="custom-default" @click="close">Cancel</el-button>
                </div>
            </div>
            <br>
            <div v-if="inputToken">
                <div class="description">
                    <p>
                        A six digit verification has been sent to your
                        <span v-if="ver_option  === 1">Email <i class="el-icon-message"></i></span>
                        <span v-else-if="ver_option  === 2">SMS <i class="el-icon-chat-round"></i></span>
                        <span v-else-if="ver_option  === 3">Authy Application <i class="el-icon-mobile"></i></span>
                    </p>
                </div>

                <div>
                    <label>Enter token</label>

                    <el-input v-model="form.token" placeholder="123456" style="width: 100%;"
                              autoComplete="off"></el-input>
                </div>
                <br>

                <div class="description">
                    <p>
                        Did not get the code? <a @click="requestToken">Send Again</a>
                    </p>
                </div>
                <br>
                <div>
                    <el-button type="custom-success" :disabled="authenticating" @click="authenticate($event)">
                        <i :class="{'fa-spinner fa-spin':authenticating, 'fa-envelope':!authenticating }"
                           class="fa"></i>
                        Continue
                    </el-button>
                    <el-button type="custom-default" @click="close">Cancel</el-button>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
    .el-radio__inner {
        background: #d0caca;
    }
</style>
