<script>
    import axios from 'axios';
    import {mapGetters} from 'vuex'

    export default {
        props: ['form'],

        data() {
            return {
                terms: {},
                fetchingTerms: false
            }
        },

        computed:{
            ...mapGetters({
                applicationProduct: 'applicationProduct'
            })
        },

        watch: {
            applicationProduct: {
                handler: 'fetchGeneralTerms',
                immediate: true
            }
        },

        methods: {
            fetchGeneralTerms() {
                this.fetchingTerms = true;
                let id = (this.form.product_category === 'funds') ? this.form.unit_fund_id : this.form.product_id;

                axios.get('/api/terms/' + this.form.product_category + '/' + id + '/general')
                    .then(({data}) => {
                        this.terms = data;
                        this.fetchingTerms = false;
                    }, () => {
                        this.fetchingTerms = false;
                    })
            }
        },
    }

</script>

<template>
    <div class="">
        <div>
            <p><span style="font-weight:bold;">GENERAL TERMS and CONDITIONS </span></p>

            <span v-if="fetchingTerms">
                <i class="el-icon-loading"></i>
            </span>

            <div class="" v-else>
                <span class="terms-display" v-html="terms.description"></span>
            </div>
        </div>
    </div>
</template>