<script>
    import { mapGetters } from 'vuex';

    export default {
        props: ['investment'],

        data() {
            return {
                terms : {},
                fetchingTerms: false
            }
        },

        watch: {
            product: {
                handler: 'fetchRolloverTerms',
                immediate: true
            }
        },

        methods: {
            fetchRolloverTerms() {
                axios.get('/api/terms/'+this.investment+'/rollover')
                    .then(({data}) => {
                        this.terms = data;
                        this.fetchingTerms = false;
                    }, () => {
                        this.fetchingTerms = false;
                    })
            }
        }
    }


</script>

<template>
    <div>
        <p><span style="font-weight:bold;">General Terms and Conditions</span></p>

        <span v-if="fetchingTerms">
                <i class="el-icon-loading"></i>
            </span>

        <div class="" v-else>
            <span class="terms-display" v-html="terms.description"></span>
        </div>
    </div>
</template>

<style>
    .terms-display {
        text-align: justify;
    }
</style>