<script>

    export default {
        props: ['product'],

        data() {
            return {
                terms : {},
                fetchingTerms: false
            }
        },

        watch: {
            product: {
                handler: 'fetchTopupTerms',
                immediate: true
            }
        },

        methods: {
            fetchTopupTerms() {
                axios.get('/api/terms/'+this.product+'/topup')
                    .then(({data}) => {
                        this.terms = data;
                        this.fetchingTerms = false;
                    }, () => {
                        this.fetchingTerms = false;
                    })
            }
        }
    }

</script>

<template>
    <div class="">
        <div>
            <p><span style="font-weight:bold;">GENERAL TERMS and CONDITIONS </span></p>

            <span v-if="fetchingTerms">
                <i class="el-icon-loading"></i>
            </span>

            <div class="" v-else>
                <span class="terms-display" v-html="terms.description"></span>
            </div>
        </div>
    </div>
</template>