<script>
    import redeemPointsMixins from './redeem';

    export default {
        mixins: [redeemPointsMixins],
    }
</script>

<template>
    <div class="">
        <div v-show="step == 'form' ">
            <el-form ref="form" :model="redeemPointsForm" label-position="top" size="small" label-width="">

                <div class="description">
                    <div class="topup-investment-rate-info confirm-topup-info">
                        No of Points: <strong v-show="pointsDetail.availablePoints">{{pointsDetail.availablePoints |
                        currency('', 2)}}
                        points available.</strong>
                    </div>
                </div>

                <el-form-item label="Vouchers to Redeem">
                    <el-select
                            clearable
                            v-model="redeemPointsForm.voucher_id"
                            placeholder="Voucher "
                            style="width: 100%">
                        <el-option v-for="voucher in vouchers" :key="voucher.id" :value="voucher.id"
                                   :label="voucher.name"></el-option>
                    </el-select>
                    <p class="form_errors" v-if="errors['voucher_id']">{{errors['voucher_id'][0]}}</p>
                </el-form-item>

                <div class="description" v-if="redeemPointsForm.voucher_id && selectedVoucher">
                    <div class="topup-investment-rate-info confirm-topup-info">
                        Value of voucher: <strong>{{selectedVoucher.value | currency('', 2)}}</strong>
                    </div>
                </div>
                <br/>
                <el-form-item>
                    <el-tooltip class="item" effect="dark"
                                content="Fill in valid inputs in all required fields (Points must be less or same as total points)"
                                placement="bottom-end" v-show="!canRedeemPoints">
                        <el-button class="crims_action_button success disabled">Redeem Points</el-button>
                    </el-tooltip>

                    <el-button v-show="canRedeemPoints" class="crims_action_button success"
                               @click="confirmRedeemPoints()">Redeem Points
                    </el-button>

                    <el-button class="crims_action_button default" @click="cancel">Cancel</el-button>
                </el-form-item>
            </el-form>
        </div>

        <div v-show="step == 'confirm'">
            <div class="confirm-top-up"
                 v-loading="submittingForm"
                 element-loading-text="Please wait as the Redeem Points information you provided is being submitted">

                <div class="description">
                    <h3>Available Points</h3>
                    <p>{{pointsDetail.availablePoints | currency('', 2)}}</p>
                </div>

                <div class="description" v-if="selectedVoucher">
                    <h3>Voucher Name</h3>
                    <p>{{selectedVoucher.name}} </p>
                </div>

                <div class="description" v-if="selectedVoucher">
                    <h3>Voucher Value</h3>
                    <p>{{selectedVoucher.value | currency}} </p>
                </div>

                <div class="description" v-if="selectedVoucher">
                    <div class="topup-investment-rate-info confirm-topup-info">
                        You are redeeming <strong>{{selectedVoucher.value}} </strong> points.
                    </div>
                </div>

                <div class="description last">
                    <el-button type="custom-success" @click="verifyRedeem">Confirm</el-button>
                    <el-button class="crims_action_button default" @click="cancel">Cancel</el-button>
                </div>
            </div>
        </div>

        <div v-show="step == 'success' ">
            <div class="topupSuccessful">
                <div class="message">
                    <h3>Loyalty Points Redeem details were submitted successfully. We will notify you after 24 hours and
                        update
                        the details accordingly. Thank you.</h3>
                </div>
                <div class="icon">
                    <h1><i class="fa fa-check-circle" aria-hidden="true"></i></h1>
                </div>
            </div>
        </div>
    </div>
</template>