<script>
    import Details from './details'

    export default {
        mixins: [Details]
    }
</script>

<template>
    <div class="crims-page unittrust investment-details">
        <breadcrumb :noswitchbar = 'true'>
            <h3>
                <router-link :to="{name: 'unittrust.list'}">Unit Trust</router-link>
                <span>
                     <strong v-if="fund.shortname">{{fund.shortname}}</strong> Details
                </span>
            </h3>
        </breadcrumb>

        <div class="unittrust__details">

            <div v-if="fetchingFundSummary">
                <table-holder></table-holder>
            </div>

            <div class="crims-table-area" v-else>
                <div class="crims-table-area__head">
                    <div class="head-left">

                    </div>
                    <div class="head-right" id="ut_details_step_2">
                        <router-link
                                :to="{ name: 'unittrust.instructions', params: {id: getParamId()} }"
                        style="margin-right: 20px;font-size: 18px;">
                            <small>
                                View Instructions
                                <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                            </small>
                        </router-link>
                        <el-button class="crims_action_button success" @click="buy_units = true">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            Buy Units
                        </el-button>
                        <el-button class="crims_action_button success" @click="sell_units = true">
                            <i class="fa fa-suitcase" aria-hidden="true"></i>
                            Sell Units
                        </el-button>
                        <el-button class="crims_action_button success" @click="transfer_units = true">
                            <i class="fa fa-exchange" aria-hidden="true"></i>
                            Transfer Units
                        </el-button>
                    </div>
                </div>
                <div class="crims-table-area__body">
                    <table v-if="fund" class="crims-table" id="ut_details_step_0">
                        <thead class="crims-table-head">
                            <tr>
                                <th>Fund</th>
                                <th>Principal</th>
                                <th>Gross Interest</th>
                                <th>Withholding Tax</th>
                                <th>Net Interest</th>
                                <th>Withdrawals</th>
                                <th>Current Balance</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>{{fund.shortname}}</td>
                                <td>KES {{ fund.calculate ? fund.calculate.purchases : 0 | currency(null, 0) }}</td>
                                <td>KES {{ fund.calculate ? fund.calculate.gross_interest: 0 | currency(null, 0) }}</td>
                                <td>KES {{ fund.calculate ? fund.calculate.withholding_tax: 0 | currency(null, 0) }}</td>
                                <td>KES {{ fund.calculate ? fund.calculate.net_interest: 0 | currency(null, 0) }}</td>
                                <td>KES {{ fund.calculate ? fund.calculate.sales : 0 | currency(null, 0) }}</td>
                                <td>KES {{ fund.calculate ? fund.calculate.total: 0 | currency(null, 0) }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <div class="drawers">

                    <action-drawer title="Buy Units" :visible.sync="buy_units">
                        <buy-units :fund="fund"></buy-units>
                    </action-drawer>

                    <action-drawer title="Sell Units" :visible.sync="sell_units">
                        <sell-units :fund="fund"></sell-units>
                    </action-drawer>

                    <action-drawer title="Transfer Units" :visible.sync="transfer_units">
                        <transfer-units :fund="fund"></transfer-units>
                    </action-drawer>

                </div>
            </div>

        </div>

        <div class="unittrust__tabs">


            <div class="unittrust__details" v-if="fund_purchases > 0">
                <unit-purchases  id="ut_details_step_3"></unit-purchases>
            </div>


            <div class="unittrust__details" v-if="fund_sales > 0">
                <unit-sales  id="ut_details_step_4"></unit-sales>
            </div>


            <el-collapse accordion>

                <el-collapse-item title="Transfers given" name="4" v-if="fundGiven_Transfers > 0" id="ut_details_step_7">
                    <div class="unittrust__details">
                        <unit-transfers-given></unit-transfers-given>
                    </div>
                </el-collapse-item>

                <el-collapse-item title="Transfers Received" name="3" v-if="fundRecieved_Transfers > 0" id="ut_details_step_6">
                    <div class="unittrust__details">
                        <unit-transfers-received></unit-transfers-received>
                    </div>
                </el-collapse-item>
            </el-collapse>
        </div>
    </div>
</template>
