<script>
    import Details from './details'

    export default {
        mixins: [Details]
    }
</script>

<template>
    <div class="crims-page unittrust investment-details">
        <breadcrumb :noswitchbar = 'true'>
            <h3>
                <router-link :to="{name: 'unittrust.list'}">Unit Trust</router-link>
                <span>
                     <strong v-if="fund.shortname">{{fund.shortname}}</strong> Instructions
                </span>
            </h3>
        </breadcrumb>

        <div class="unittrust__tabs">

            <div class="" v-if="fund_Instructions > 0">
                <h5 style="color: #4a494a;font-weight: 600;font-family: 'Proxima Nova',serif;">Recent Instructions</h5>

                <unit-instructions></unit-instructions>

            </div>
        </div>
    </div>
</template>