<script>
    import {mapGetters} from 'vuex';
    export default {
        data: () => ({
        ratesForm: {},
        unitsForm: {},
        amountsForm: {}
    }),
        computed: {
            ...mapGetters({
                funds: 'cisUnitFunds',
                loadingFunds: 'loadingCisFunds',
                calculatedAmount: 'amountNeeded',
                calculatedUnits: 'calculatedUnits',
                loadingUnits: 'fetchCalculatedUnits',
                loadingAmount: 'fetchAmountNeeded'
            })
        },

        methods: {
            calculateAmount() {
                if (this.amountsForm.units == undefined || this.amountsForm.units == ''
                    || this.amountsForm.fund == undefined || this.amountsForm.fund == '') {
                    this.$notify({
                        title: 'Required fields!!',
                        message: 'Fill in all required fields before submiting.',
                        type: 'warning'
                    });

                    return;
                }

                this.$store.commit('UNIT_PURCHASE_CALCULATOR_AMOUNT', this.amountsForm);
            },

            calculateUnits() {
                if (this.unitsForm.amount == undefined || this.unitsForm.amount == ''
                    || this.unitsForm.fund == undefined || this.unitsForm.fund == '') {
                    this.$notify({
                        title: 'Required fields!!',
                        message: 'Fill in all required fields before submiting.',
                        type: 'warning'
                    });

                    return;
                }

                this.$store.commit('UNIT_PURCHASE_CALCULATOR_UNITS', this.unitsForm);
            },

            getCISUnitFunds() {
                if (this.funds.length === 0) {
                    this.$store.commit('GET_CIS_UNIT_FUNDS');
                }
            },
        },
        mounted(){
            this.getCISUnitFunds();
        }

    }
</script>
<template>
    <div class="trusts">

        <el-tabs tab-position="left" >
            <el-tab-pane label="Units">
                <div class="trust">
                    <div class="head">
                        <h3> How many units can I purchase from amount I have?</h3>

                        <p>Tell us how much you have and get a quick idea of how many Units you can purchase.</p>
                    </div>

                    <div class="body" style="margin-top: 15px;">
                        <div class="select-form calculator_tour_step_3_unit">
                            <el-input placeholder="Please input Amount here" v-model="unitsForm.amount" class="input-with-select">
                                <el-select v-model="unitsForm.fund" style="width: 200px !important;" slot="prepend" placeholder="Select Fund" v-loading="loadingFunds">
                                    <el-option
                                            v-for="fund in funds"
                                            :label="fund.name"
                                            :key="fund.id"
                                            :value="fund.id"></el-option>
                                </el-select>
                                <el-button @click="calculateUnits" slot="append" icon="el-icon-search"></el-button>
                            </el-input>
                        </div>
                        <p v-show="loadingUnits"><i class="fa fa-spinner fa-pulse fa-fw"></i> Loading Funds information.....</p>
                        <div class="calculator-result" v-show="calculatedUnits.units">
                            <div class="result-table">
                                <p>You will purchase units: <span>{{ calculatedUnits.units | currency }}</span> for Ksh. <span>{{calculatedUnits.amount | currency}}</span></p>
                                <table class="table table-borderless cms-calc">
                                    <tbody>
                                        <tr>
                                            <td>Amount:</td>
                                            <td> {{ calculatedUnits.amount | currency }} </td>
                                        </tr>
                                        <tr>
                                            <td>Units:</td>
                                            <td> {{ calculatedUnits.units | currency }} </td>
                                        </tr>
                                        <tr>
                                            <td>Unit Price:</td>
                                            <td> {{ calculatedUnits.unitPrice }} </td>
                                        </tr>
                                        <tr>
                                            <td>Value:</td>
                                            <td>{{ calculatedUnits.valueOfUnits | currency }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!--<div class="footer-text">-->
                                <!--<p>-->
                                <!--*The expected time and returns will only work if you do not withdraw your money until the expected time is reached.-->
                                <!--</p>-->
                                <!--</div>-->
                            </div>
                        </div>

                    </div>
                </div>
            </el-tab-pane>

            <el-tab-pane label="Amount">
                <div class="trust">
                    <div class="head">
                        <h3> How much amount can I use to purchase certain units?</h3>

                        <p>Tell us how many units you need and get a quick idea of how many much Amount you need to make a purchase.</p>
                    </div>

                    <div class="body" style="margin-top: 15px;">
                        <div class="select-form">
                            <el-input placeholder="Please input Units" v-model="amountsForm.units" class="input-with-select">
                                <el-select v-model="amountsForm.fund" style="width: 200px !important;" slot="prepend" placeholder="Select Fund">
                                    <el-option
                                            v-for="fund in funds"
                                            :label="fund.name"
                                            :key="fund.id"
                                            :value="fund.id"></el-option>
                                </el-select>
                                <el-button @click="calculateAmount" slot="append" icon="el-icon-search"></el-button>
                            </el-input>
                        </div>
                        <p v-show="loadingAmount"><i class="fa fa-spinner fa-pulse fa-fw"></i> Loading Funds information.....</p>
                        <div class="calculator-result" v-show="calculatedAmount.units">
                            <div class="result-table">
                                <p>You will purchase units: <span>{{ calculatedAmount.units }}</span> for Ksh. <span>{{calculatedAmount.amount}}</span></p>
                                <table class="table table-borderless cms-calc">
                                    <tbody>
                                        <tr>
                                            <td>Amount:</td>
                                            <td> {{ calculatedAmount.amount }} </td>
                                        </tr>

                                        <tr>
                                            <td>No of units:</td>
                                            <td> {{ calculatedAmount.units }} </td>
                                        </tr>

                                        <tr>
                                            <td>Unit Price:</td>
                                            <td> {{ calculatedAmount.unitPrice }} </td>
                                        </tr>

                                        <tr>
                                            <td>Value of units:</td>
                                            <td>{{ calculatedAmount.valueOfUnits }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!--<div class="footer-text">-->
                                <!--<p>-->
                                <!--*The expected time and returns will only work if you do not withdraw your money until the expected time is reached.-->
                                <!--</p>-->
                                <!--</div>-->
                            </div>
                        </div>

                    </div>
                </div>
            </el-tab-pane>

        </el-tabs>

    </div>
</template>