<script>
    import EditProfileKycMixins from './edit_kyc'

    export default {
        mixins: [EditProfileKycMixins]
    }
</script>

<template>
    <div>
        <el-form label-position="top" size="small" style="width: 100%;" :model="editClientKyc"
                 ref="editClientKyc">
            <div class="details">
                <div class="description edit_card">
                    <div class="card-heading">
                        <h4>Edit KYC Details</h4>

                        <el-alert
                                title="Please provide necessary details and document proof for the following KYCs"
                                type="info"
                                effect="dark"
                                :closable="false">
                        </el-alert>
                    </div>

                    <div class="subscriber-form">
                        <form name="subform">
                            <div v-show="editClientKyc.clientType == 'individual'">

                                <div class="el-icon-loading" v-if="fetchingPendingKyc"></div>
                                <div v-else>
                                    <div v-for="doc in pendingKycDocs">
                                        <div :class="{'uploaded': checkSlug(doc['slug']), 'founding-block' : firstItem(doc['id'])}"
                                             class="form-section">
                                            <div class="form-section-title expander">
                                                <h5>{{doc['name']}}</h5>

                                                <i class="fa expander-icon"></i>
                                                <i class="fa form-complete-icon"></i>
                                            </div>

                                            <div class="upload-block">
                                                <el-form-item label="" prop="id_or_passport"
                                                              v-show="doc['slug'] == 'id_or_passport'">
                                                    <el-input v-model="editClientKyc.id_or_passport"></el-input>
                                                </el-form-item>

                                                <el-form-item label="" prop="tax_pin"
                                                              v-show="doc['slug'] == 'pin_individual' ">
                                                    <el-input v-model="editClientKyc.tax_pin"></el-input>
                                                </el-form-item>

                                                <el-upload
                                                        class="upload-demo"
                                                        drag
                                                        :data="dataToUpload(doc['slug'])"
                                                        :action=url
                                                        ref="upload"
                                                        :headers="defaultHeaders"
                                                        :on-error="errorOnUpload"
                                                        :on-success="showUploadSuccess"
                                                        :accept=extensions>

                                                    <div class="el-upload__text">
                                                        <span><i class="el-icon-upload"></i></span><br/>
                                                        <em>Click to upload</em> a copy of the document
                                                    </div>
                                                    <div class="el-upload__tip" slot="tip">jpg/png files with a size
                                                        less than
                                                        500kb
                                                    </div>
                                                </el-upload>
                                            </div>
                                        </div>
                                    </div>

                                    <br>
                                    <div v-show="editClientKyc.joint">
                                        <el-button class="crims_action_button primary" @click="updateJoint">
                                            Update Joint
                                        </el-button>
                                    </div>

                                    <div v-show="viewJoint" class="joint-block">
                                        <div class="subscriber-form">
                                            <form name="subform">
                                                <div v-show="editClientKyc.joint"
                                                     v-for="joint in editClientKyc.jointHolders"
                                                     v-bind:value="joint.id">

                                                    <h5 class="joint-name">
                                                        NAME: <span>{{joint.firstname}} {{joint.middlename}} {{joint.lastname}}</span>
                                                    </h5>

                                                    <br>

                                                    <div v-for="doc in pendingKycDocs">
                                                        <div :class="{'uploaded': checkSlug((doc['slug'] === 'pin_individual') ? 'joint_pin_no' : 'joint_id_or_passport'), 'founding-block' : firstItem(doc['id'])}"
                                                             class="form-section">
                                                            <div class="form-section-title expander">
                                                                <h5>{{doc['name']}}</h5>

                                                                <i class="fa expander-icon"></i>
                                                                <i class="fa form-complete-icon"></i>
                                                            </div>

                                                            <div class="upload-block">
                                                                <el-form-item label="" prop="id_or_passport"
                                                                              v-show="doc['slug'] == 'id_or_passport'">
                                                                    <el-input
                                                                            v-model="joint.id_or_passport"></el-input>
                                                                </el-form-item>

                                                                <el-form-item label="" prop="tax_pin"
                                                                              v-show="doc['slug'] == 'pin_individual' ">
                                                                    <el-input
                                                                            v-model="joint.pin_no"></el-input>
                                                                </el-form-item>

                                                                <el-upload
                                                                        class="upload-demo"
                                                                        drag
                                                                        :data="dataToUpload(doc['slug'], joint)"
                                                                        :action=url
                                                                        ref="upload"
                                                                        :headers="defaultHeaders"
                                                                        :on-error="errorOnUpload"
                                                                        :on-success="showUploadSuccess"
                                                                        :accept=extensions>

                                                                    <div class="el-upload__text">
                                                                            <span><i
                                                                                    class="el-icon-upload"></i></span><br/>
                                                                        <em>Click to upload</em> a copy of the
                                                                        document
                                                                    </div>
                                                                    <div class="el-upload__tip" slot="tip">jpg/png
                                                                        files with a size
                                                                        less than
                                                                        500kb
                                                                    </div>
                                                                </el-upload>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--                                                    <div class="joint-block-content">-->
                                                    <!--                                                        <div class="form-section" style="width: 50% !important;" :class="{'uploaded': checkSlug('joint_id_or_passport')}">-->
                                                    <!--                                                            <div class="form-section-title expander">-->
                                                    <!--                                                                <h5>Identification documents</h5>-->

                                                    <!--                                                                <i class="fa expander-icon"></i>-->
                                                    <!--                                                                <i class="fa form-complete-icon"></i>-->
                                                    <!--                                                            </div>-->

                                                    <!--                                                            <div class="upload-block">-->
                                                    <!--                                                                <el-form-item label="" prop="id_or_passport">-->
                                                    <!--                                                                    <el-input v-model="joint.id_or_passport"></el-input>-->
                                                    <!--                                                                </el-form-item>-->
                                                    <!--                                                                <el-upload-->
                                                    <!--                                                                        class="upload-demo"-->
                                                    <!--                                                                        drag-->
                                                    <!--                                                                        :data=idJointData-->
                                                    <!--                                                                        :action=url-->
                                                    <!--                                                                        ref="upload"-->
                                                    <!--                                                                        :headers="defaultHeaders"-->
                                                    <!--                                                                        :on-error="errorOnUpload"-->
                                                    <!--                                                                        :on-success="showUploadSuccess"-->
                                                    <!--                                                                        :before-upload="uploadJointId(joint)"-->
                                                    <!--                                                                        :accept=extensions>-->

                                                    <!--                                                                    <div class="el-upload__text">-->
                                                    <!--                                                                        <span><i class="el-icon-upload"></i></span><br/>-->
                                                    <!--                                                                        <em>Click to upload</em> a copy of ID or-->
                                                    <!--                                                                        Passport-->

                                                    <!--                                                                    </div>-->
                                                    <!--                                                                    <div class="el-upload__tip" slot="tip">jpg/png files-->
                                                    <!--                                                                        with a-->
                                                    <!--                                                                        size less than-->
                                                    <!--                                                                        500kb-->
                                                    <!--                                                                    </div>-->
                                                    <!--                                                                </el-upload>-->
                                                    <!--                                                            </div>-->
                                                    <!--                                                        </div>-->
                                                    <!--                                                        <div class="form-section" style="width: 50% !important;" :class="{'uploaded': checkSlug('joint_pin_no')}">-->
                                                    <!--                                                            <div class="form-section-title expander">-->
                                                    <!--                                                                <h5>Tax Certificate</h5>-->

                                                    <!--                                                                <i class="fa expander-icon"></i>-->
                                                    <!--                                                                <i class="fa form-complete-icon"></i>-->
                                                    <!--                                                            </div>-->
                                                    <!--                                                            <div class="upload-block">-->
                                                    <!--                                                                <el-form-item label="" prop="tax_pin">-->
                                                    <!--                                                                    <el-input v-model="joint.pin_no"></el-input>-->
                                                    <!--                                                                </el-form-item>-->

                                                    <!--                                                                <el-upload-->
                                                    <!--                                                                        class="upload-demo"-->
                                                    <!--                                                                        drag-->
                                                    <!--                                                                        ref="upload"-->
                                                    <!--                                                                        :action=url-->
                                                    <!--                                                                        :data=pinJointData-->
                                                    <!--                                                                        :headers="defaultHeaders"-->
                                                    <!--                                                                        :on-error="errorOnUpload"-->
                                                    <!--                                                                        :on-success="showUploadSuccess"-->
                                                    <!--                                                                        :before-upload="pinJointIndividual(joint)"-->
                                                    <!--                                                                        :accept=extensions>-->
                                                    <!--                                                                    <div class="el-upload__text">-->
                                                    <!--                                                                        <span><i class="el-icon-upload"></i></span><br/>-->
                                                    <!--                                                                        <em>Click to upload</em> a copy of PIN (TAX)-->
                                                    <!--                                                                        certificate or a copy of tax exemption-->
                                                    <!--                                                                        certificate-->
                                                    <!--                                                                        where applicable <em>click to upload</em></div>-->
                                                    <!--                                                                    <div class="el-upload__tip" slot="tip">jpg/png files-->
                                                    <!--                                                                        with a-->
                                                    <!--                                                                        size less than-->
                                                    <!--                                                                        500kb-->
                                                    <!--                                                                    </div>-->
                                                    <!--                                                                </el-upload>-->
                                                    <!--                                                            </div>-->
                                                    <!--                                                        </div>-->
                                                    <!--                                                    </div>-->
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div v-show="editClientKyc.clientType == 'corporate'">

                                <div class="el-icon-loading" v-if="fetchingPendingKyc"></div>
                                <div v-else>
                                    <div v-for="doc in pendingKycDocs" v-if="pendingKycDocs">
                                        <div :class="{'uploaded': checkSlug(doc['slug']), 'founding-block' : firstItem(doc['id'])}"
                                             class="form-section">
                                            <div class="form-section-title expander">
                                                <h5>{{doc['name']}}</h5>

                                                <i class="fa expander-icon"></i>
                                                <i class="fa form-complete-icon"></i>
                                            </div>

                                            <div class="upload-block">

                                                <el-form-item label="" prop="tax_pin"
                                                              v-show="doc['slug'] == 'pin_corporate'">
                                                    <el-input v-model="editClientKyc.tax_pin"></el-input>
                                                </el-form-item>

                                                <el-upload
                                                        class="upload-demo"
                                                        drag
                                                        :data="dataToUpload(doc['slug'])"
                                                        :action=url
                                                        ref="upload"
                                                        :headers="defaultHeaders"
                                                        :on-error="errorOnUpload"
                                                        :on-success="showUploadSuccess"
                                                        :accept=extensions>

                                                    <div class="el-upload__text">
                                                        <span><i class="el-icon-upload"></i></span><br/>
                                                        <em>Click to upload</em> a copy of the document
                                                    </div>
                                                    <div class="el-upload__tip" slot="tip">jpg/png files with a size
                                                        less than
                                                        500kb
                                                    </div>
                                                </el-upload>
                                            </div>
                                        </div>
                                    </div>
                                    <div v-else>
                                        <p>All KYC Documents have been provided</p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="details submit_edit">
                <el-form-item>
                    <el-button class="crims_action_button success" @click="saveEdit">
                        Save Edit <span v-show="submitting"><i class="fa fa-spinner fa-pulse fa-fw"
                                                               aria-hidden="true"></i></span>
                    </el-button>
                </el-form-item>
            </div>
        </el-form>
    </div>
</template>

<style scoped>
    .el-upload-dragger .el-icon-upload {
        font-size: 47px;
        color: #c0c4cc;
        margin-top: 20px;
        line-height: 0;
    }

    .el-input--small {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
    }

    .joint-block {
        padding: 30px;
    }

    .joint-name {
        font-family: 'Open Sans', sans-serif;
        font-size: inherit;
        color: #768280;
        letter-spacing: 0.5px;
    }

    .joint-name span {
        font-weight: Bold;
    }

    .primary {
        background-color: #ffffff;
        color: #006a5b;
        -webkit-transition: all .3s;
        transition: all .3s;
    }

    .primary:hover {
        background-color: #006a5b;
        color: #ffffff;
        -webkit-transition: all .3s;
        transition: all .3s;
    }

    .joint-block-content {
        display: flex;
        justify-content: space-between;
    }
</style>
