<script>
    import Vue from 'vue';

    export default {
        props: ['output', 'state', 'field', 'before', 'after'],
        methods: {
            currency: function (val) {
                return Vue.$filters.currency(val);
            }
        }
    }
</script>
<template>
    <td>
        {{ currency(output[field]) }} {{ after }}
        <i v-if="state[field] == 'loading'" class="fa fa-spinner fa-spin"></i>
        <i v-if="state[field] == 'error'" class="fa fa-warning" style="color: red"></i>
    </td>
</template>