<script>
    import Vue from 'vue';
    import {mapGetters} from 'vuex';
    import events from '../../../events';

    Vue.component('structured-products', require('./structuredproducts/structured-products.vue'));
    Vue.component('unit-fund', require('./unittrust/unit-fund.vue'));

    export default {
        data: () => ({
            activeTab: '',
            tabs: []
        }),
        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient',
            }),
        },
        methods: {
            checkActiveTab() {
                if (this.selectedClient.hasSP) {
                    this.activeTab = 'structured_products';
                } else if (!this.selectedClient.hasSP && this.selectedClient.hasUT ) {
                    this.activeTab = 'unit_trust';
                } else if (!this.selectedClient.hasSP && !this.selectedClient.hasUT && this.selectedClient.hasRe) {
                    this.activeTab = 'real_estate';
                }

            }
        },
        created() {
            events.bus.$on('client_switched', () => {
                this.checkActiveTab();
            })
        },
        mounted() {
            this.checkActiveTab();
        }
    }
</script>
<template>
    <div class="dashboard-summary">
        <el-tabs v-model="activeTab" id="dashboard_tour_step_1">
            <el-tab-pane :disabled="!selectedClient.hasSP" label="Structured Products" name="structured_products">
                <structured-products></structured-products>
            </el-tab-pane>

            <el-tab-pane label="Unit Trust" name="unit_trust" :disabled="!selectedClient.hasUT">
                <unit-fund></unit-fund>
            </el-tab-pane>

            <el-tab-pane label="Real Estate" name="real_estate" :disabled="!selectedClient.hasRE">
                <real-estate></real-estate>
            </el-tab-pane>

<!--            <el-tab-pane label="Loyalty Points" name="loyalty_points" :disabled="!selectedClient.canRedeem">-->
<!--                <loyalty-points></loyalty-points>-->
<!--            </el-tab-pane>-->

            <el-tab-pane label="OTC" name="otc" disabled>

            </el-tab-pane>
        </el-tabs>
    </div>
</template>