.about-page {
  height: 100%;
  overflow-y: scroll;
}

.about-page .page-header-wrap .header {
  background-color: #fff;
}

.about-page .page-header-wrap {
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  margin-top: 20px;
}

.about-side-menu {
  border-bottom: 1px solid #E7E7E7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 30px;
}

.about-page .page-header-wrap .header .breadcrumb {
  padding: 20px 17px 0 17px;
  box-shadow: 0 0 0;
  background-color: #ffffff;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-page .page-header-wrap .breadcrumb .path {
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
}

.about-page .page-header-wrap .breadcrumb .path span {
  padding-right: 15px;
  color: #4a494a;
  font-family: Proxima Nova;
  font-size: 16px;
  font-weight: 600;
}

.about-page .about-side-menu .el-tabs .el-tabs__header .el-tabs__nav-wrap .el-tabs__nav-scroll .el-tabs__nav .el-tabs__active-bar {
  background-color: #006a5b;
}

.about-page .about-side-menu .el-tabs .el-tabs__header .el-tabs__nav-wrap .el-tabs__nav-scroll .el-tabs__nav .el-tabs__item.is-active,
.about-page .about-side-menu .el-tabs .el-tabs__header .el-tabs__nav-wrap .el-tabs__nav-scroll .el-tabs__nav .el-tabs__item:focus,
.about-page .about-side-menu .el-tabs .el-tabs__header .el-tabs__nav-wrap .el-tabs__nav-scroll .el-tabs__nav .el-tabs__item:hover {
  color: #a2d45f;
}

.about-page .about-side-menu .head h3,
.about-page .about-side-menu .body h3 {
  padding-right: 15px;
  color: #4a494a;
  font-family: Proxima Nova;
  font-size: 16px;
  font-weight: 600;
}

.about-page .about-side-menu .btn-faqs {
  background-color: #006a5b;
  color: #fff;
  font-family: Proxima Nova;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 40px;
  transition: all 2s;
  border-radius: 3px;
}

.about-page .about-side-menu .body table tr td a {
  color: #000000;
}

.about-page .about-side-menu .body table tr td a:hover {
  color: #a2d45f;
}

.about-page .about-side-menu .body table tr td .fa-mobile-phone {
  color: #006a5b;
}

.about-page .about-side-menu .body table tr td .fa-phone {
  font-size: 18px;
  color: #a2d45f;
}

.about-page .about-side-menu .body table tr td .fa-whatsapp {
  color: #044239;
  font-weight: 500;
}

.about-page .about-side-menu .body table tr td .fa-facebook {
  color: #0d67c3;
}

.about-page .about-side-menu .body table tr td .fa-twitter {
  font-size: 19px;
  color: #0288fb;
}

.about-page .about-side-menu .body table tr td .fa-youtube {
  color: #a71327;
}

.about-page .about-side-menu .body table tr td .fa-envelope {
  color: #a71327;
}

.about-page .about-side-menu .body table tr td .fa-linkedin {
  color: #0c8bf9;
}

.calculator .calculator-tabs {
  width: 950px;
}