<script>
    import AboutOffices from './partials/offices'
    import AboutContacts from './partials/contacts'
    import AboutCalculator from '../resources/partials/calc';
    import AboutProducts from './partials/products'
    import PrevailingRates from '../resources/prevailing_rates/rates_body'

    export default {
        components: {AboutContacts, AboutOffices, AboutCalculator, AboutProducts, PrevailingRates},

        mounted() {
            this.$store.commit('GET_PRODUCTS');
        }
    }
</script>

<template>
    <div class="about-page">
        <div class="row page-header-wrap">
            <div class="small-12 columns header">
                <div class="breadcrumb grid-x">
                    <div class="path">
                        <span><i class="fa fa-tachometer" aria-hidden="true"></i>&nbsp;&nbsp;About Cytonn</span>

                    </div>
                </div>
            </div>
        </div>

        <div class="row page-wrap">
            <div class="small-12 columns">
                <div class="row about-side-menu">
                    <el-tabs tab-position="left">

                        <el-tab-pane label="Products">
                            <div class="trust">
                                <div class="head">
                                    <h3>Our Products</h3>
                                </div>

                                <div class="body" style="margin-top: 15px;">
                                    <about-products></about-products>
                                </div>
                            </div>
                        </el-tab-pane>

                        <el-tab-pane label="Rates">
                            <div class="trust">
                                <div class="head">
                                    <h3>Prevailing Rates</h3>

                                    <p>Here are our Structured Products rates</p>
                                </div>

                                <div class="body" style="margin-top: 15px;">
                                    <prevailing-rates></prevailing-rates>
                                </div>
                            </div>
                        </el-tab-pane>

                        <el-tab-pane label="Calculator">
                            <div class="trust">
                                <div class="head">
                                    <h3>Investments Calculator</h3>
                                </div>

                                <div class="body" style="">
                                    <about-calculator></about-calculator>
                                </div>
                            </div>
                        </el-tab-pane>

                        <el-tab-pane label="Offices">
                            <div class="trust">
                                <div class="head">
                                    <h3>Our Offices</h3>
                                </div>

                                <div class="body" style="margin-top: 15px;">
                                    <about-offices></about-offices>
                                </div>
                            </div>
                        </el-tab-pane>

                        <el-tab-pane label="Contacts">
                            <div class="trust">
                                <div class="head"></div>

                                <div class="body" style="margin-top: 15px;">
                                    <about-contacts></about-contacts>
                                </div>
                            </div>
                        </el-tab-pane>

                        <el-tab-pane label="FAQs">
                            <div class="trust">
                                <div class="head">
                                    <h3> Frequent Asked Questions</h3>
                                </div>

                                <div class="body" style="margin-top: 15px;">
                                    <a class="btn-faqs" href="https://cytonn.com/faqs" target="_blank">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        Click to view
                                    </a>
                                </div>
                            </div>
                        </el-tab-pane>
                    </el-tabs>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="css" src="./about.css"></style>