<template id="id-of-template">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel-dashboard">
            <h3>
                Add Unit Fund Fee Parameter
                <router-link v-bind:to="{ name: 'unit-funds.index' }" class="btn btn-default pull-right"><i class="fa fa-long-arrow-left"></i> Back to Resources</router-link>
            </h3>

            <form v-on:submit.prevent="saveUnitFundFeeParameter(item)">
                <div class="form-group">
                    <label>Fee Parameter</label>
                    <input type="text" name="name" class="form-control" placeholder="Fee parameter..." v-model="item.name" required>
                    <ul v-if="formErrors['name']" class="text-danger">
                        <li v-for="message in formErrorsUpdate['name']" v-text="message"></li>
                    </ul>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Save <i class="fa fa-spinner fa-spin" v-if="loading"></i> </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script type="text/babel">

    export default {

        data() {
            return {
                loading: false,
                url: '',
                formErrors: {},
                item: {
                    id: null,
                    name: '',
                }
            }
        },

        mounted: function() {
            this.url = `/api/unitization/unit-fund-fee-parameters`;
        },

        methods: {
            saveUnitFundFeeParameter: function(item) {
                this.loading = true;

                let input = item;

                axios.post(this.url, input)
                    .then((response) => {
                        this.loading = false;

                        let data = response.data;

                        if(response.status == 202) {
                            this.success();
                        }
                        else if(response.data.status == 422) {
                            this.throwValidationError(data);
                        }
                    }, (response) => {
                        this.loading = false;
                        flash('Oops! Something went wrong', 'danger');
                        this.formErrors = response.data;
                    });
            },

            success: function() {
                flash('Request to create the unit fund fee parameter has been saved for approval.', 'info');
                this.$router.push({ name: 'unit-fund-fee-parameters.index' });
            },

            throwValidationError: function(data) {
                flash('Unit fund fee parameter failed to save.', 'danger');

                this.formErrors = data.errors;
            }
        }
    }
</script>