<script>
    import searchClient from "../../../../components/investments/client/search-client";
    import {mapGetters} from 'vuex';

    export default {
        components: {searchClient},
        data() {
            return {
                options: [],
                selectClient: null,
                amount: '',
                entered_tenor: '',
                tenor: '',
                product_id: '',
                mode_of_payment: '',
                agreed_rate: '',
                item: {},
                disable: true,
            }
        },
        computed: {
            ...mapGetters({
                products: 'productsList',
                topupErrors: 'topupErrors',
                topupLoading: 'topupLoading',
                topupRate: 'topupRate',
                fetchingRates: 'fetchingRates',
            })
        },
        watch: {
            amount: {
                handler: function () {
                    this.item.amount = this.amount;
                    this.fetchRate();
                }
            },
            entered_tenor: {
                handler: function () {
                    this.item.tenor = this.entered_tenor;
                    this.fetchRate();
                }
            },
            product_id: {
                handler: function () {
                    this.item.product_id = this.product_id;
                    this.fetchRate();
                }
            },
            mode_of_payment: {
                handler: function () {
                    this.item.mode_of_payment = this.mode_of_payment;
                }
            },
            tenor: {
                handler: function () {
                    this.item.tenor = this.tenor;
                    this.fetchRate();
                }
            },
            topupRate: {
                handler: function () {
                    this.item.agreed_rate = this.topupRate;
                    this.disable = false;
                }
            }
        },
        methods: {
            submitTopup: function () {
                this.$store.commit('SAVE_TOP_UP', this.item);
            },

            selectedUser: function (value) {

                this.item.client_id = value;
                this.fetchRate();
            },

            getProducts: function () {
                this.$store.commit('GET_PRODUCTS_LIST');
            },

            fetchRate: function () {
                console.log(this.item, "this is items");
                if (this.item.client_id && this.item.product_id && this.item.amount && this.item.tenor) {
                    this.$store.commit('GET_TOPUP_RATES', this.item);
                }
            }
        },

        mounted() {
            this.getProducts();
        }
    }
</script>
<template>
    <div class="panel panel-success">
        <div class="panel-heading">
            <p><i class="glyphicon glyphicon-plus-sign"></i> Topup Form</p>
        </div>
        <div class="panel-body">
            <div class=" col-md-8">
                <div class="row">
                    <client-search @selected="selectedUser"></client-search>
                </div>
            </div>
            <div class="form-group col-md-8">
                <el-input v-model="amount" placeholder="Investment Amount"></el-input>
                <ul v-if="topupErrors['amount']" class="text-danger">
                    <li v-for="message in topupErrors['amount']" v-text="message"></li>
                </ul>
            </div>
            <div class="form-group col-md-8">
                <el-select v-model="entered_tenor" placeholder="please select the tenor" style="width: 100%;">
                    <el-option label="1 Month" value="1"></el-option>
                    <el-option label="3 Months" value="3"></el-option>
                    <el-option label="6 Months" value="6"></el-option>
                    <el-option label="9 Months" value="9"></el-option>
                    <el-option label="1 Year" value="12"></el-option>
                    <el-option label="2 Years" value="24"></el-option>
                    <el-option label="3 Years" value="36"></el-option>
                    <el-option label="Other" value="NaN"></el-option>
                </el-select>
                <ul v-if="topupErrors['tenor']" class="text-danger">
                    <li v-for="message in topupErrors['tenor']" v-text="message"></li>
                </ul>
            </div>
            <div class="form-group col-md-8" v-show="entered_tenor == 'NaN'">
                <el-input v-model="tenor" placeholder="Investment Period in months"></el-input>
            </div>
            <div class="form-group col-md-8">
                <el-select v-model="product_id" placeholder="Select Product" style="width: 100%;">
                    <el-option v-for="product in products" :key="product.id" :label="product.name"
                               :value="product.id"></el-option>
                </el-select>

                <ul v-if="topupErrors['product_id']" class="text-danger">
                    <li v-for="message in topupErrors['product_id']" v-text="message"></li>
                </ul>
            </div>
            <!--<div class="form-group col-md-8">-->
            <!--<el-select v-model="mode_of_payment" placeholder="Select mode of payment" style="width: 100%;">-->
            <!--<el-option value="Direct Bank Deposit" label="Direct Bank Deposit"></el-option>-->
            <!--<el-option value="M-Pesa Paybill" label="M-Pesa Paybill"></el-option>-->
            <!--</el-select>-->
            <!--<ul v-if="topupErrors['mode_of_payment']" class="text-danger">-->
            <!--<li v-for="message in topupErrors['mode_of_payment']" v-text="message"></li>-->
            <!--</ul>-->
            <!--</div>-->
            <div class="form-group col-md-8">
                <el-button type="success" @click="submitTopup" disabled v-if="disable"><i class="fa fa-save"></i> Topup
                    <i class="fa fa-spinner fa-spin" v-if="topupLoading"></i></el-button>
                <el-button type="success" @click="submitTopup" v-else><i class="fa fa-save"></i> Topup <i
                        class="fa fa-spinner fa-spin" v-if="topupLoading"></i></el-button>
            </div>
            <div class="form-group" v-if="topupRate">
                <div class="">
                    <div class="">
                        <label>Agreed interest rate is:</label>
                    </div>
                    <br>
                    <div class="">
                        <div>
                            <p>
                                <span class="rate-box"> {{ topupRate }} %</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
