<script>
    import { mapGetters } from 'vuex';

    export default {
        props: [ 'investment', 'topup' ],
        data() {
            return {
                form: this.topup,
                entered_tenor: parseInt(this.topup.tenor),
            }
        },
        computed: {
            ...mapGetters({
                topupErrors: 'editTopupErrors',
                loading: 'editingTopup',
                fetching: 'fetchingRates',
                topupRate: 'topupRate',
                products: 'productsList',
            })
        },
        watch: {
            entered_tenor: {
                handler: function ()
                {
                    this.form.tenor = this.entered_tenor;
                }
            },
            topupRate: {
                handler: function ()
                {
                    this.form.agreed_rate = this.topupRate;
                }
            },
            form: {
                handler: function ()
                {
                    this.fetchRate();
                }, deep: true
            }
        },
        methods: {
            updateTopup: function ()
            {
                this.$store.commit('UPDATE_TOPUP', this.form);
            },
            fetchRate: function ()
            {
                if(this.form.client_id && this.form.product_id && this.form.amount && this.form.tenor)
                {
                    this.$store.commit('GET_TOPUP_RATES', this.item);
                }
            },
            getProducts: function ()
            {
                this.$store.commit('GET_PRODUCTS_LIST');
            },
        },
        mounted() {
            this.getProducts();
        }
    }
</script>
<template>
        <div class="">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><span class="inv-header"> EDIT </span> TOPUP</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group col-md-8">
                        <label class="required">Investment Amount</label>
                        <el-input  v-model="form.amount" placeholder="Investment Amount"></el-input>
                        <ul v-if="topupErrors['amount']" class="text-danger">
                            <li v-for="message in topupErrors['amount']" v-text="message"></li>
                        </ul>
                    </div>
                    <div class="form-group col-md-8">
                        <label class="required">Select Tenor</label>
                        <el-select v-model="entered_tenor" placeholder="please select the tenor" style="width: 100%;">
                            <el-option label="1 Month" value="1"></el-option>
                            <el-option label="3 Months" value="3"></el-option>
                            <el-option label="6 Months" value="6"></el-option>
                            <el-option label="9 Months" value="9"></el-option>
                            <el-option label="1 Year" value="12"></el-option>
                            <el-option label="2 Years" value="24"></el-option>
                            <el-option label="3 Years" value="36"></el-option>
                            <el-option label="Other" value="NaN"></el-option>
                        </el-select>
                        <ul v-if="topupErrors['tenor']" class="text-danger">
                            <li v-for="message in topupErrors['tenor']" v-text="message"></li>
                        </ul>
                    </div>
                    <div class="form-group col-md-8" v-show="entered_tenor == 'NaN'">
                        <label class="required">Specify Other Tenor</label>
                        <el-input v-model="form.tenor" placeholder="Investment Period in months"></el-input>
                    </div>
                    <div class="form-group col-md-8">
                        <label class="required">Product</label>
                        <el-select v-model="form.product_id" placeholder="Select Product" style="width: 100%;">
                            <el-option v-for="product in products" :key="product.id" :label="product.name" :value="product.id"> </el-option>
                        </el-select>

                        <ul v-if="topupErrors['product_id']" class="text-danger">
                            <li v-for="message in topupErrors['product_id']" v-text="message"></li>
                        </ul>
                    </div>
                    <!--<div class="form-group col-md-8">-->
                        <!--<label class="required">Mode of Payment</label>-->
                        <!--<el-select v-model="form.mode_of_payment" placeholder="Select mode of payment" style="width: 100%;">-->
                            <!--<el-option value="Direct Bank Deposit" label="Direct Bank Deposit"></el-option>-->
                            <!--<el-option value="M-Pesa Paybill" label="M-Pesa Paybill"></el-option>-->
                        <!--</el-select>-->
                        <!--<ul v-if="topupErrors['mode_of_payment']" class="text-danger">-->
                            <!--<li v-for="message in topupErrors['mode_of_payment']" v-text="message"></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <div class="form-group col-md-8">
                        <button class="btn btn-primary" @click="updateTopup"><i class="fa fa-save"></i> Update <i class="fa fa-spinner fa-spin" v-if="loading"></i> </button>
                    </div>
                    <div class="form-group">
                        <div class="">
                            <div class="">
                                <label>Agreed interest rate is:</label>
                            </div>
                            <br>
                            <div v-if="fetching">
                                <i class="fa fa-spinner fa-spin"></i>
                            </div>
                            <div class="" v-else>
                                <div>
                                    <p>
                                        <span class="rate-box"> {{ form.agreed_rate }} %</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>