<script>
    import summaryOutput from './components/summary_output.vue';
    import moment from 'moment';

    export default {

        props: ["date", "from_date", "currencies", "products"],
        components: {
            summaryOutput
        },
        data(){
            return {
                output : {},
                state: {},
                analytics: {
                    type: 'products',
                    product_id: null,
                    currency_id: null,
                    date: new Date(this.date),
                    from_date: new Date(this.from_date)
                }
            }
        },
        methods: {
           update: function (evt) {
               if(evt) evt.preventDefault();

               let type = this.analytics.type;
               let id = null;

               type === 'products' ? id = this.analytics.product_id : id = this.analytics.currency_id;

               let vm = this;

               let params = {date: moment( vm.analytics.date).format('Y-MM-DD'), from_date: moment(vm.analytics.from_date).format('Y-MM-DD')};

               console.log(params);

               let fetch = {
                   base_url : '/api/investments/analytics/',
                   completeUrl : function (sec) {
                       return this.base_url+sec+'/'+type+'/'+id;
                   },
                   data: function (sec) {
                       Vue.set(vm.state, sec, 'loading');
                       Vue.set(vm.output, sec, 0);

                       Vue.http.get(this.completeUrl(sec), {params:  params})
                           .then(function ({data}) {
                               Vue.set(vm.output, sec, data);
                               Vue.set(vm.state, sec, 'success')
                           }, function () {
                               Vue.set(vm.state, sec, 'error')
                           })
                   }
               };

               fetch.data('market-value');
               fetch.data('cost-value');
               fetch.data('withholding-tax');
               fetch.data('custody-fees');
               fetch.data('residual-income');
               fetch.data('weighted-rate');
               fetch.data('weighted-tenor');
               fetch.data('persistence');
               fetch.data('export');
           }
        },
        mounted: function(){
            this.analytics.product_id = this.products[0].id;
            this.analytics.currency_id = this.currencies[0].id;

            this.update();
        }
    }
</script>
<template>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">Filters</div>
            <div class="panel-body">
                <div class="analytics_configuration row">
                    <form @submit="update($event)">
                        <div class="form-group col-md-6">
                            <label for="type">Filter by</label>

                            <select name="type" id="type" class="form-control" v-model="analytics.type">
                                <option value="products">Products</option>
                                <option value="currencies">Currencies</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6" v-show="analytics.type == 'currencies'">
                            <label for="currency_id">Currency</label>

                            <select name="currency_id" id="currency_id" v-model="analytics.currency_id" class="form-control">
                                <option v-for="currency in currencies" :value="currency.id">{{ currency.code }}</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6" v-show="analytics.type == 'products'">
                            <label for="product_id">Product</label>

                            <select name="product_id" id="product_id" class="form-control" v-model="analytics.product_id">
                                <option v-for="product in products" :value="product.id">{{ product.name}} </option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label>From Date</label>

                            <el-date-picker id="from_date" class="form-control"
                                            v-model="analytics.from_date"
                                            type="date"
                                            placeholder="Pick a day"
                            >

                            </el-date-picker>
                        </div>

                        <div class="form-group col-md-6">
                            <label>As At Date</label>

                            <el-date-picker id="date" class="form-control"
                                            :default-value="date"
                                            v-model="analytics.date"
                                            type="date"
                                            placeholder="Pick a date">
                            </el-date-picker>
                        </div>

                        <div class="form-group col-md-6">
                            <input type="submit" class="btn btn-success">
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Investment Totals
            </div>
            <div class="panel-body table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Total Cost Value</th><th>Total Market Value</th><th>Total Withholding Tax</th><th>Total Custody fees</th><th>Residual Income</th>
                    </tr>
                    <tr>
                        <summary-output :output="output" :state="state" field="cost-value"></summary-output>
                        <summary-output :output="output" :state="state" field="market-value"></summary-output>
                        <summary-output :output="output" :state="state" field="withholding-tax"></summary-output>
                        <summary-output :output="output" :state="state" field="custody-fees"></summary-output>
                        <summary-output :output="output" :state="state" field="residual-income"></summary-output>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Rates
            </div>
            <div class="panel-body table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Weighted rate</th><th>Weighted Tenor</th><th>Persistence</th>
                    </tr>
                    <tr>
                        <summary-output :output="output" :state="state" field="weighted-rate" after="%"></summary-output>
                        <summary-output :output="output" :state="state" field="weighted-tenor" after="months"></summary-output>
                        <summary-output :output="output" :state="state" field="persistence"></summary-output>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<style scoped>
    label{
        display: block;
    }
    .el-date-picker{
        display: block;
        width: 100%;
    }
</style>