<script>
    import moment from 'moment';
    import { mapGetters } from 'vuex';
    import { Message } from 'element-ui';

    export default {
        data() {
            return {
                startDate: moment(),
                endDate: moment().add(5, 'months'),
                retainer: null,
            }
        },
        computed: {
            ...mapGetters({
                currentFa: 'currentFa',
                projections: 'projections',
                fetchingProjections: 'fetchingProjections'
            }),
            fa_id()
            {
                let param = this.$route.params.faId;
                if(param === undefined) return this.currentFa.id;

                return param;
            },
            columns() {
                if(this.projections.length > 0)
                {
                    return Object.keys(this.projections[0]);
                }
                return [];
            },
            values() {
                let val = [];
                this.projections.forEach( (projection)=>
                {
                    val.push(Object.values(projection));
                });

                return val;
            },
            valCols(){
                return this.columns.splice(2);
            }
        },
        methods: {
            getProjections: function ()
            {
//                event.preventDefault();
                if(!this.confirmParameters())
                {
                    Message.warning({ message: 'End date must be greater than start date'});
                }
                else {
                    let range = { start: this.startDate, end: this.endDate };
                    this.$store.commit('GET_PROJECTIONS', { range: range, faId: this.fa_id, retained: this.retainer });
                }
            },
            confirmParameters: function ()
            {
                return (!!this.startDate <= this.endDate);
            },
            calculateTotal: function (valCol)
            {

                if(this.projections)
                {
                    return this.projections.reduce(function (carry, val)
                    {
                        return carry + parseFloat(val[valCol]);
                    }, 0);
                }

                return 0;
            },
            refreshProjections: function ()
            {
                this.startDate = moment();
                this.endDate = moment().add(5, 'months');
                this.retainer = null;

                this.getProjections();
            }
        },
        mounted(){
            this.getProjections();
        }
    }
</script>
<template>
    <div class="crims-page projections">

        <fa-breadcrumb>
            <h3>Projections</h3>
        </fa-breadcrumb>


        <div class="projections_area table_scroll">
            <div class="heading">
                <!--<div class="projections-title">-->
                    <!--<h3>Earning Projections </h3>-->
                <!--</div>-->
                <div class="form">
                    <el-form :inline="true">
                        <el-form-item>
                            <el-date-picker
                                    v-model="startDate"
                                    type="date"
                                    clear-icon=""
                                    placeholder="Pick a starting date">
                            </el-date-picker>
                        </el-form-item>

                        <el-form-item>
                            <el-date-picker
                                    v-model="endDate"
                                    type="date"
                                    clear-icon=""
                                    placeholder="Pick an end date">
                            </el-date-picker>
                        </el-form-item>
                        <el-form-item>
                            <el-select v-model="retainer" placeholder="Select FA type" style="">
                                <el-option label="Default" value=""></el-option>
                                <el-option label="On Retainer" value="0"></el-option>
                                <el-option label="Off Retainer" value="1"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-button type="success" text="refresh" @click="getProjections()"> GO </el-button>
                    </el-form>
                </div>
            </div>
           <div class="crims-table-area table_scroll">
               <div v-if="fetchingProjections">
                   <table-holder></table-holder>
               </div>
                <div v-else>
                    <table >
                        <thead>
                        <tr>
                            <td v-for="col in columns">{{ col }}</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="value in values">
                            <td v-for="val in value">{{ val }}</td>
                        </tr>
                        <tr v-show="values.length == 0">
                            <td :colspan="columns.length">
                                            <span class="null-notify">
                                                Sorry, No data to display!
                                            </span>
                            </td>

                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="2">Totals</td>
                            <td v-for="valCol in valCols">{{ calculateTotal(valCol) | amount }}</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
           </div>
        </div>
    </div>
</template>