<template>
    <div>
        <div class="analysis_cards__sections">
            <div @click="goToClientInvestments('/dashboard/investments/clientinvestments')" class="analysis_card">
                <div class="card_content client">
                    <div class="summary">
                        <div class="summary__head">
                            <h5>SP INVESTMENTS</h5>
                        </div>
                        <div class="summary__content">
                            <div class="summary__content_sub1">
                                <h2>
                                    <span v-if="fetchingSpInvestmentsStats"><i class="el-icon-loading"></i></span>
                                    <span v-else>{{ spInvestmentsStats | numAbbr }}</span>
                                </h2>
                                <p>Today</p>
                            </div>
                            <div class="summary__content_sub2">
                                <h2>
                                </h2>
                                <p>View All <i class="fa fa-angle-right" aria-hidden="true"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div @click="goToClientInvestments('/dashboard/investments/unit-fund-investments')"
                 class="analysis_card">
                <div class="card_content investments">
                    <div class="summary">
                        <div class="summary__head">
                            <h5>UTF INVESTMENTS</h5>
                        </div>
                        <div class="summary__content">
                            <div class="summary__content_sub1">
                                <h2>
                                    <span v-if="fetchingUtfInvestmentsStats"><i class="el-icon-loading"></i></span>
                                    <span v-else>{{ utfInvestmentsStats | numAbbr }}</span>
                                </h2>
                                <p>Today</p>
                            </div>
                            <div class="summary__content_sub2">
                                <h2>
                                </h2>
                                <p>Add New <i class="fa fa-plus" aria-hidden="true"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div @click="goToClientInvestments('/dashboard/investment/client/apply')" class="analysis_card">
                <div class="card_content applications">
                    <div class="summary">
                        <div class="summary__head">
                            <h5>INVESTMENTS APPLICATIONS</h5>
                        </div>
                        <div class="summary__content">
                            <div class="summary__content_sub1">
                                <h2>
                                        <span v-if="fetchingInvestmentsApplications"><i
                                                class="el-icon-loading"></i></span>
                                    <span v-else>{{ investmentsApplications | numAbbr }}</span>
                                </h2>
                                <p>APPLICATIONS TODAY</p>
                            </div>
                            <div class="summary__content_sub2">
                                <h2>
                                </h2>
                                <p>Add New <i class="fa fa-plus" aria-hidden="true"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div @click="goToClientInvestments('/dashboard/investments/client-instructions')" class="analysis_card">
                <div class="card_content aum">
                    <div class="summary">
                        <div class="summary__head">
                            <h5>CLIENTS INSTRUCTIONS</h5>
                        </div>
                        <div class="summary__content">
                            <div class="summary__content_sub1">
                                <h2>
                                    <span v-if="fetchingClientPendingInstructions"><i
                                            class="el-icon-loading"></i></span>
                                    <span v-else>{{ clientPendingInstructions | numAbbr }}</span>
                                </h2>
                                <p>Pending Instructions</p>
                            </div>
                            <div class="summary__content_sub2">
                                <h2>
                                </h2>
                                <p>Add New <i class="fa fa-plus" aria-hidden="true"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from "vuex";

    export default {
        name: "analysis_cards_section",
        computed: {
            ...mapGetters([
                'spInvestmentsStats',
                'utfInvestmentsStats',
                'investmentsApplications',
                'clientPendingInstructions',
                'fetchingSpInvestmentsStats',
                'fetchingUtfInvestmentsStats',
                'fetchingInvestmentsApplications',
                'fetchingClientPendingInstructions',
            ])
        },
        methods: {
            goToClientInvestments(url) {
                window.location.href = url;
            },
            getStats: function () {
                this.$store.commit('GET_SP_INVESTMENTS_STATS');

                this.$store.commit('GET_UTF_INVESTMENTS_STATS');

                this.$store.commit('GET_APPLICATION_STATS');

                this.$store.commit('GET_INSTRUCTIONS_STATS');
            }
        },
        mounted() {
            this.getStats();
        }

    }
</script>

<style scoped>
    .applications {
        background-image: linear-gradient(-60deg, #006a5b 0%, #a2d45e 100%);
    }

    .client {
        background-image: linear-gradient(120deg, #f5515f 0%, #9f041b 100%);
    }
</style>
