<template id="list-unit-fund-commission-recipients">
    <div>
        <div class="form-group pull-right margin-left-20">
            <div class="input-group">
                <el-date-picker v-model="date" type="date" placeholder="Date..."></el-date-picker>
            </div>
        </div>

        <search-bar :search-label='"Search..."' class="margin-top-20"></search-bar>

        <div class="crims_table">
            <vuetable ref="vuetable"
                      :api-url="url"
                      :fields="fields"
                      pagination-path=""
                      @vuetable:pagination-data="onPaginationData"
                      :append-params="tableState"
                      :per-page="itemsPerPage"
            >
            </vuetable>

            <div class="vuetable-pagination ui basic segment grid crims_pagination">
                <table>
                    <tfoot>
                    <tr>
                        <td class="text-center" width="50%">
                            <div class="inline-block" style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                <select style="width: 100px" class="form-control" v-model="itemsPerPage" @change="changePerPage">
                                    <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}</option>
                                </select>
                            </div>
                        </td>
                        <td class="text-center">
                            <vuetable-pagination-info ref="paginationInfo">
                            </vuetable-pagination-info>
                            <vuetable-pagination ref="pagination"
                                                 @vuetable-pagination:change-page="onChangePage"
                            ></vuetable-pagination>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">

    import vueTableMixin from '../../../../mixins/vuetable_mixin';

    export default {

        mixins: [vueTableMixin],

        props: ['tableStateIndex', 'fund'],

        data() {

            return {
                url: '',
                fields: [
                    { name: 'id', title: 'ID', sortField: 'id' },
                    { name: 'name', title: 'Recipient Name', sortField: 'name' },
                    { name: 'email', title: 'Recipient E-Mail', sortField: 'email' },
                    { name: 'earned', title: 'Earned'},
                    { name: 'override', title: 'Overrides'},
                    { name: 'commission', title: 'Total' },
                    {name: 'id', title: 'View', callback: 'viewRecipient'},
                ],
                tableState: {
                },
                promise: true,
                date: null
            }
        },

        created: function() {
            this.url = `/api/unitization/unit-funds/${this.fund.id}/unit-fund-commissions`;
        },

        watch: {
            date: {
                handler: function () {
                    let formattedDateString = moment(this.date).format('YYYY-MM-DD');
                    this.$events.fire('filter-set', {
                        'id': 'crims_table',
                        'data': {date: formattedDateString},
                        'tableStateIndex': this.tableStateIndex
                    });
                }
            }
        },
        methods: {
            viewRecipient(value) {
                return '<a href="/dashboard/unitization/commission/payment/' + value + '" class="fa fa-eye"></a>'
            },
        }
    }
</script>