<script>
    import {mapGetters} from 'vuex'

    export default {

        props: ['recipientDetails'],

        data() {
            return {

                recipient_type_id: '',
                commission_rate: 0,
                commission_rate_value: null,
                date_value: '',
                zero_commission_rate: null,
                rates: 0,
                loading: false,
            }
        },

        methods: {
            ...mapGetters(['getRecipientCommissionRate']),

            getRate($type_details) {

                let $type_id = $type_details.type_id;

                let vm = this;

                axios.get('/api/investments/client-instructions/commission-paid-rate/' + $type_id)
                    .then(function (response) {
                        vm.loading = true;
                        vm.rates = response.data;
                    }).catch(function (error) {
                    console.log(error.response.data);
                });

            }
        }
    }
</script>

<template>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div>
                    <label>Commission paid to</label>

                    <el-select class="select-large" filterable="true" @change="getRate(recipient_type_id)" v-model="recipient_type_id"
                               placeholder="Select">
                        <el-option
                                v-for="(item) in recipientDetails"
                                :key="item.id"
                                :label="item.display_name"
                                :value="item.type_details">
                        </el-option>
                    </el-select>

                </div>
                <!--{!! Form::label('commission_recepient', 'Commission paid to') !!}-->

                <!--{!! Form::select('commission_recepient', $recipients, $recipient_id,  ['id'=>'commission_recepient','class'=>'form-control', 'ui-select2', 'init-model'=>'commission_recepient', 'required']) !!}-->
            </div>
        </div>

        <div class="col-md-6">

            <div class="form-group">

                <i class="fa fa-spinner fa-spin" v-show="loading === true"></i>

                <label>Commission rate</label>

                <el-alert class="commission_rate" title="" :closable="false" type="info">

                    <h1>{{rates}}&nbsp;%</h1>

                </el-alert>

                <!--{!! Form::hidden('commission_rate',null, ['id' => 'commission_rate_value', 'data-ng-value' => 'checkCommissionRateValue()']) !!}-->
                <!--{!! \Cytonn\Presenters\ErrorsPresenter::formErrors($errors, 'commission_rate') !!}-->
            </div>

        </div>

        <div class="col-md-6">
            <div class="form-group">

                <label>Commission Start Date</label>

                <el-date-picker class="select-large"
                                v-model="date_value"
                                type="date"
                                placeholder="Commission Start Date">
                </el-date-picker>

                <!--{!! Form::label('commission_start_date', 'Commission Start Date') !!}-->
                <!--{!! Form::text('commission_start_date', NULL, ['id'=>'commission_start_date' , 'class'=>'form-control', 'datepicker-popup init-model'=>"commission_start_date", 'is-open'=>"status.opened_2", 'ng-focus'=>'status.opened_2 = ! status.opened_2']) !!}-->
                <!--{!! \Cytonn\Presenters\ErrorsPresenter::formErrors($errors, 'commission_start_date') !!}-->
            </div>
        </div>

    </div>

</template>

<style scoped>
    .select-large {
        width: 100%;
    }
    .commission_rate{
        height: 100px;
    }
</style>