<script>
    import vueTableMixin from '../../../mixins/vuetable_mixin';

    export default {
        mixins: [vueTableMixin],

        data() {
            return {
                url: '',
                fundId: null,
                fields: [
                    {name: 'id', title: 'ID', sortField: 'id'},
                    {name: 'client', title: 'Client'},
                    {name: 'client_code', title: 'Client Code'},
                    {name: 'feesIncurred', title: 'Fees Incurred'},
                    {name: 'numberOfUnits', title: 'Number of Units'},
                    {name: 'unitPrice', title: 'Unit Price'},
                    {name: 'date', title: 'Date', sortField: 'date'},
                    {name: '__slot:confirmation', title: 'Confirmation'},
                    {name: '__view_action', title: 'View', titleClass: 'text-center', dataClass: 'text-center'},
                ],
                tableState: {},
                promise: true,
                options: [
                    {value: '', label: 'All'},
                    {value: 'sent', label: 'Sent'},
                    {value: 'not', label: 'Not Sent'}
                ],
                sentFilter: ''
            }
        },

        watch: {
            sentFilter: {
                handler: function () {
                    this.doFilter();
                }
            }
        },

        created: function () {
            this.url = `/api/unitization/redemption-confirmations`;
        },

        methods: {
            doFilter: function () {
                this.$events.fire('filter-set', {
                    'id': this.tableId,
                    'sent_option': this.sentFilter,
                });
            }
        }
    }
</script>

<template>
    <div class="panel-dashboard">
        <h3>Unit Fund Redemption Confirmations Management</h3>

        <div class="panel-filters">
            <el-select v-model="sentFilter" :search-label="sentFilter" placeholder="Select">
                <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>

            <search-bar class="search-input" :search-label='"Search by Client Name..."'></search-bar>
        </div>

        <div class="crims_table">
            <vuetable ref="vuetable"
                      :api-url="url"
                      :fields="fields"
                      pagination-path=""
                      @vuetable:pagination-data="onPaginationData"
                      :append-params="tableState"
                      :per-page="itemsPerPage"
            >
                <template slot="confirmation" slot-scope="props" class="action">
                    <span v-if='props.rowData.confirmation' class="label label-success">Sent</span>
                    <span v-else class="label label-info">Not Sent</span>
                </template>
            </vuetable>

            <div class="vuetable-pagination ui basic segment grid crims_pagination">
                <table>
                    <tfoot>
                    <tr>
                        <td class="text-center" width="50%">
                            <div class="inline-block"
                                 style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                <select style="width: 100px" class="form-control" v-model="itemsPerPage"
                                        @change="changePerPage">
                                    <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}</option>
                                </select>
                            </div>
                        </td>

                        <td class="text-center">
                            <vuetable-pagination-info ref="paginationInfo">
                            </vuetable-pagination-info>
                            <vuetable-pagination ref="pagination"
                                                 @vuetable-pagination:change-page="onChangePage"
                            ></vuetable-pagination>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</template>

<style>
    .panel-dashboard .panel-filters {
        display: flex;
        flex-flow: row wrap;
        float: right;
    }

    .panel-dashboard .panel-filters .search-input {
        margin-left: 20px;
        width: 300px;
    }

    .panel-dashboard .panel-filters .search-input input {
        height: 40px;
    }
</style>