<script>
    import {Message} from 'element-ui';
    import axios from 'axios';

    export default {
        data() {
            return {
                loading: false,
                url: '',
                sale: {},
                client: {},
                payment: {},
                fund: {},
            }
        },

        methods: {
            redemptionConfirmation: function () {

                axios.get(this.url)
                    .then(({data}) => {
                        if (data.status == 200) {

                            this.sale = data.sale;
                            this.client = data.client;
                            this.fund = data.fund;
                            this.payment = data.payment;

                        } else {
                            flash('Could not fetch requested unit fund redemption confirmations', 'danger');
                            this.$router.push({name: 'unit-fund-redemption-confirmations.index'});
                        }
                    }, (response) => {
                        flash('Oops! Something went wrong', 'danger');
                        this.$router.push({name: 'unit-fund-redemption-confirmations.index'});
                    });
            },

            sendConfirmation: function () {
                this.loading = true;
                axios.post(`/api/unitization/redemption-confirmations/${this.sale.id}/send`)
                    .then(() => {

                        this.loading = false;

                        Message.success({message: 'The Redemption confirmation has been successfully sent to the unit fund client'});

                        this.redemptionConfirmation();

                    }, (response) => {

                        this.removeModal('#confirmRCResend');

                        this.loading = false;

                        Message.warning({message: 'Oops! Something went wrong'});
                    });
            },

            removeModal: function (id) {
                $(id).modal('hide');
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            }

        },

        created() {
            this.sale.id = this.$route.params.id;

            this.url = `/api/unitization/redemption-confirmations/${this.sale.id}`;

            this.redemptionConfirmation();
        }
    }
</script>

<template>
    <div class="col-md-12">
        <div class="panel-dashboard">
            <h3>
                Unit Fund Redemption Confirmation Details
                <div class="btn-group pull-right">
                    <router-link v-bind:to="{ name: 'unit-fund-redemption-confirmations.index' }"
                                 class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Back to RCs
                    </router-link>
                </div>
            </h3>

            <table class="table table-hover">
                <tbody>
                <tr>
                    <td>Client Name</td>
                    <td>{{ client.name }}</td>
                </tr>

                <tr>
                    <td>Client Code</td>
                    <td>{{client.client_code}}</td>
                </tr>

                <tr>
                    <td>Fund Name</td>
                    <td>{{ fund.name }}</td>
                </tr>

                <tr>
                    <td>No. of Units</td>
                    <td> {{sale.number | currency}}</td>
                </tr>

                <!--<tr>-->
                    <!--<td>Amount in words</td>-->
                    <!--<td>{{ sale.number | numberWords }}</td>-->
                <!--</tr>-->

                <tr>
                    <td>Unit price:</td>
                    <td>{{ sale.unit_price | currency }}</td>
                </tr>

                <tr>
                    <td>Value of Sold Units</td>
                    <td> {{ (sale.number * sale.unit_price) | currency }}</td>
                </tr>

                <tr>
                    <td>Date</td>
                    <td>{{ sale.date | formatDate }}</td>
                </tr>

                <tr>
                    <td>Sent</td>
                    <td>{{ sale.is_confirmation_sent | booleanYesNo }}</td>
                </tr>

                </tbody>
            </table>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                <h4>Redemption Actions</h4>
            </div>
            <div class="panel-body">

                <div class="btn-group">
                    <a class="btn btn-primary" target="_blank"
                       :href="'/api/unitization/redemption-confirmations/' + sale.id + '/preview'"><i
                            class="fa fa-file-pdf-o"></i> Preview Confirmation</a>
                    <a class="btn btn-danger" data-toggle="modal" data-target="#confirmRCResend"
                       v-if="sale.is_confirmation_sent"><i class="fa fa-envelope"></i> Resend Confirmation</a>
                    <button class="btn btn-success" @click="sendConfirmation()" v-else><i
                            class="fa fa-paper-plane-o"></i> Send Confirmation <i class="fa fa-spinner fa-spin"
                                                                                  v-if="loading"></i></button>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmRCResend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Resend Redemption Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        <p>This redemption confirmation has already been sent. Are you sure that you want to resend
                            it?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" @click="sendConfirmation()"><i
                                class="fa fa-paper-plane-o"></i> Resend <i class="fa fa-spinner fa-spin"
                                                                           v-if="loading"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>