@import "side_menu";
.admin_body {

 .content {
   margin-top: 52px;
 }
  &_area {

    $c: &;
    display: flex;
    @include side-menu;

    &__content_wrapper {
      //-webkit-transition: transform .3s ease-in-out,width .3s ease-in-out;
      //-moz-transition: transform .3s ease-in-out,width .3s ease-in-out;
      //transition: transform .3s ease-in-out,width .3s ease-in-out;

      -webkit-animation-name: resize;
      -webkit-animation-duration: .4s;
      animation-name: resize;
      animation-duration: .4s;

      width: calc(100% - #{$full_menu_width});
      margin-left: $full_menu_width;
      min-height: 100vh;
      max-height: 100vh;
      overflow-y: auto;
      background-color: #f4f7fb;
      padding: 10px 40px;
    }

    &.menu-minimised {

      #{$c}__content_wrapper {
        -webkit-animation-name: resize-small;
        -webkit-animation-duration: .4s;
        animation-name: resize-small;
        animation-duration: .4s;

        width: calc(100% - #{$collapsed_menu_width});
        margin-left: $collapsed_menu_width;
        min-height: 100vh;
      }
    }
  }
}

@at-root {
  @media screen and (max-width: 1024px){
    .admin_body {
      &_area {
        &__content_wrapper {
          width: 100%;
          margin-left: 0;

          -webkit-animation-name: none;
          -webkit-animation-duration: .04s;
          animation-name: none;
          animation-duration: .04s;

        }
        $c: &;
        &.menu-minimised {
          #{$c}__content_wrapper {
            width: 100%;
            margin-left: 0;

            -webkit-animation-name: none;
            -webkit-animation-duration: .04s;
            animation-name: none;
            animation-duration: .04s;
          }
        }

        .main_side_menu {
          position: absolute;


          &.side_menu_collapsed {
            -webkit-animation-name: resize-menu-small;
            -webkit-animation-duration: .4s;
            animation-name: resize-menu-small;
            animation-duration: .4s;

            width: 0;
            visibility: hidden;
            >div {
              opacity: 0;
              -webkit-animation-name: resize-menu-small;
              -webkit-animation-duration: .4s;
              animation-name: resize-menu-small;
              animation-duration: .4s;

            }
          }
        }


      }

    }

  }
}

@-webkit-keyframes resize {
  0%   {
    width: calc(100% - #{$collapsed_menu_width});
    margin-left: $collapsed_menu_width;
  }

  100% {
    width: calc(100% - #{$full_menu_width});
    margin-left: $full_menu_width;
  }
}

/* Standard syntax */
@keyframes resize {
  0%   {
    width: calc(100% - #{$collapsed_menu_width});
    margin-left: $collapsed_menu_width;

  }

  100% {
    width: calc(100% - #{$full_menu_width});
    margin-left: $full_menu_width;
  }
}

@-webkit-keyframes resize-small {
  0%   {
    width: calc(100% - #{$full_menu_width});
    margin-left: $full_menu_width;

  }

  100% {
    width: calc(100% - #{$collapsed_menu_width});
    margin-left: $collapsed_menu_width;
  }
}

/* Standard syntax */
@keyframes resize-small {
  0%   {
    width: calc(100% - #{$full_menu_width});
    margin-left: $full_menu_width;

  }

  100% {
    width: calc(100% - #{$collapsed_menu_width});
    margin-left: $collapsed_menu_width;
  }
}



@-webkit-keyframes resize-menu-small {
  0%   {
      visibility: visible;
      opacity: 0;
    top: 51px;
  }

  100% {
    visibility: hidden;
    opacity: 1;
    top: 51px;
  }
}

/* Standard syntax */
@keyframes resize-menu-small {
  0%   {
    visibility: visible;
    opacity: 0;
    top: 51px;
  }

  100% {
    visibility: hidden;
    opacity: 0;
    top: 51px;
  }
}


body.modal-open {
  overflow: visible;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

body {
  .v-modal {
    z-index: 302 !important;
  }
}