.main_top_bar {
  position: fixed;
  max-height: 50px;
  z-index: 430;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 52px;
  right: 0;
  top: 0;
  left: 0;
  //box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 7px 0 80px -9px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  .logo {
    display: flex;
    width: 150px;

    img {
      margin-left: 15px;
      height: 32px;
      width: 85px;
    }
  }

  .main_menu_area {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 150px);

    .menu_left {
      flex: 1;
      padding-left: 15px;
    }

    .menu_right {
        display: flex;
        align-items: center;

      .menu_right_icon {
        margin-left: 15px;

        i {
          font-size: 24px;
          color: #4a4a4a;
          font-weight: 400;
        }

        &.notifications {

          .badge {
            background-color: #2dd1ac;
            color: #fff;
          }
        }

        a {
          &.login {
            display: flex;
            //align-items: center;
            font-size: 16px;

            i {
              font-size: 18px;
              margin: 0;
              padding: 0;
            }
            &:hover {
              color: #72c21b;
              text-decoration: none;
              i {
                text-decoration: none;
                color: #72c21b;
              }
            }
          }
        }
      }
    }
  }
}

//modals
.top-bar-notifications {


  .notification_modal {
    right: 0;
    bottom: 0;
    margin: 0;
    left: auto;
    min-height: 100vh;
    overflow-y: hidden;
    width: 70%;

    .el-dialog {
      margin-right: 0;
      margin-top: 51px !important;
      width: 100%;
      padding: 0;
      height: 100%;
      overflow-y: hidden;

      //box-shadow: none;
      //background-color: #ffffff;
      //border-top: 1px solid #e6e6e6;
      box-shadow: 7px 0 80px -9px rgba(0, 0, 0, 0.15);
      background-color: #ffffff;

      .el-dialog__header {
        //border-bottom: 1px solid #e6e6e6;;
        box-shadow: 7px 0 80px -9px rgba(0, 0, 0, 0.15);
      }
       .el-dialog__body {
         height: 90%;
         overflow-y: auto;
       }
      .admin_notification_list {
        padding: 0;
        li {
          list-style: none;
          i{
            color: #72c21b;
            font-size: 12px;
          }

          a {
            font-size: 12px;
            font-weight: 400;
            color: #343a40;
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding: 15px 10px;
            border-bottom: 1px solid #e5e5e5;

            &:hover {
              color: #72c21b;
              text-decoration: none ;
            }
          }
        }

      }

    }

  }



}

.modal-backdrop {
  top: 50px;
  &.in {
    opacity: 0.3;
  }
}

@media screen and (max-width: 700px){
.main_top_bar {
  .top-bar-notifications {
    .notification_modal {
      width: 100%;

      .el-dialog {
        width: 100% !important;
      }
    }
  }
}
}