
@mixin side-menu {
  .main_side_menu {
    font-family: 'Roboto', sans-serif;
    background-color: #161a27;
    width: $full_menu_width;
    position: fixed;
    min-height: 100%;
    bottom: 0;
    padding-top: 60px;
    overflow-y: auto;
    height: 100vh;
    -webkit-transition: transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition: transform .3s ease-in-out,width .3s ease-in-out;
    transition: transform .3s ease-in-out,width .3s ease-in-out;
    display: flex;
    flex-direction: column;
    z-index: 200;
    justify-content: space-between;

    .menu_area {
      .title {
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        color: #9b9b9b;
        font-size: 11px;
        font-weight: 300;
        padding-left: 15px;
        margin: 10px 0;
      }

      ul {
        &.primary_nav {
          margin: 10px 0;
        }
        li {
          a {
            font-family: 'Roboto', sans-serif;
            display: flex;
            color: #ffffff;
            font-size: 12px;
            font-weight: 300;
            font-style: normal;

            &:hover, &:focus, &:active {
              background: transparent;
              //border-left: 6px solid #206e6a;
              border-radius: 0;
            }



            i {
              font-size: 16px;
              padding-right: 10px;
            }

          }

          .el-collapse {
            background-color: #161a27;
            border: 0;
            .el-collapse-item {
              &__header {
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                background-color: #161a27;
                color: #ffffff;
                border: 0;
                font-size: 12px;
                padding-left: 15px;
                .menu_dropdown {
                  display: flex;
                  .material-icons {
                    font-size: 16px;
                    padding-right: 10px;
                    display: inline-block;
                    line-height: unset;
                  }

                  &:hover {
                    background: transparent;
                    //border-left: 6px solid #206e6a;
                    border-radius: 0;
                  }

                }
              }

              &__content {
                font-family: 'Roboto', sans-serif;
                background-color: #161a27;
                border: 0;
                border-radius: 0;
              }
            }
          }
        }
      }
    }


      &.side_menu_collapsed {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        width: $collapsed_menu_width;
        z-index: 200;
        overflow-y: visible;


        .menu_area {
          .title {
            font-size: 5px;
          }

          ul {
            li {
              a {
                .menu_name {
                  display: none;
                }

                &:hover {
                  .menu_name {
                    display: block;
                    position: absolute;
                    left: 45px;
                    background-color: #161a27;
                    padding: 5px;
                    white-space: nowrap;

                    a {
                      text-decoration: none;
                    }
                  }

                }

                i {
                  font-size: 20px;
                }
              }


              .el-collapse {
                position: relative;
                .el-collapse-item {
                  position: relative;
                  &__header {
                    a {
                      &:hover {
                        text-decoration: none;
                      }
                    }
                    .menu_name {
                      display: none;
                    }
                    i {
                      display: none;
                      &.material-icons {
                        display: block;
                        font-size: 20px;
                      }

                    }

                    &:hover{
                      .menu_name {
                        display: block;
                        position: absolute;
                        left: 45px;
                        //width: 180px;
                        background-color: #161a27;
                        cursor: pointer;
                        padding: 5px;
                        line-height: initial;
                        bottom: 10px;
                        white-space: nowrap;
                      }

                    }
                  }

                    @at-root {
                      .side_menu_collapsed .menu_area .el-collapse-item .el-collapse-item__header:hover {
                          .el-collapse-item {
                            &__wrap {
                              display: block;
                            }
                          }

                      }
                    }
                  &__wrap {
                    position: absolute;
                    left: 50px;
                    width: 180px;
                    top: 0;
                    display: none;
                     .el-collapse-item__content {
                      ul {
                        li {
                          a {
                            .menu_name {
                              display: block;
                            }

                          }
                        }
                      }
                    }
                  }


                }
              }

            }
          }
        }
      }

    .collapse-icon {
      text-align: right;
      cursor: pointer;
      padding: 10px;
      background-color: rgba(61, 112, 178, 0.1);

      
      i {
        color: #fff;
      }
    }
  }


}

