<script type="text/babel">
    import moment from 'moment';
    import axios from 'axios';

    export default {

        data() {
            return {
                loading: false,
                url: '',
                formErrors: {},
                form: {},
                types: [],
                fundId: '',
                send_date: ''
            }
        },

        watch: {
            send_date: {
                handler: function () {
                    this.form.send_date = moment(this.send_date).format('YYYY-MM-DD');
                }
            }
        },

        created: function() {
            this.url = `/api/unitization/unit-fund-statement-campaigns`;

            this.fundId = this.$route.params.id;

            this.getStatementCampaignTypes();
        },

        methods: {
            getStatementCampaignTypes: function() {

                axios.get('/api/unitization/statement-campaign-types-list')
                    .then((response) => {
                        if (response.status == 200) {

                            let data = response.data;

                            if (data.fetched) {
                                this.$set(this, 'types', data.data);
                            }
                            else {
                                flash('Could not fetch list of statement campaign types', 'danger');
                            }
                        }
                    }, (response) => {
                        flash('Oops! Something went wrong', 'danger');
                    });
            },

            saveUnitFundStatementCampaign: function(form) {

                form.unit_fund_id = this.fundId;

                this.loading = true;

                axios.post(this.url, form)
                    .then((response) => {

                        this.loading = false;

                        let data = response.data;

                        if(response.status == 202) {
                            this.success();
                        }
                        else if(response.data.status == 422) {
                            this.throwValidationError(data);
                        }
                    }, (response) => {
                        this.loading = false;
                        flash('Oops! Something went wrong', 'danger');
                        this.formErrors = response.data;
                    });
            },

            success: function() {
                flash('Request to create the unit fund statement campaign has been saved for approval.', 'info');
                this.$router.push({ name: 'unit-fund-statement-campaigns.index' });
            },

            throwValidationError: function(data) {
                flash('Unit fund statement campaign failed to save.', 'danger');
                this.formErrors = data.errors;
            }
        }
    }
</script>
<template id="id-of-template">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel-dashboard">
            <h3>
                Add Unit Fund Statement Campaign
                <router-link v-bind:to="{ name: 'unit-fund-statement-campaigns.index' }" class="btn btn-default pull-right"><i class="fa fa-long-arrow-left"></i> Back to Campaigns</router-link>
            </h3>

            <form v-on:submit.prevent="saveUnitFundStatementCampaign(form)">
                <div class="form-group">
                    <label>Campaign Name </label>
                    <input type="text" class="form-control" placeholder="Campaign name..." v-model="form.name">
                    <ul v-if="formErrors['name']" class="text-danger">
                        <li v-for="message in formErrors['name']" v-text="message"></li>
                    </ul>
                </div>

                <div class="form-group">
                    <label>Campaign Type </label>
                    <select class="form-control" v-model="form.type_id">
                        <option v-for="type in types" v-bind:value="type.value" v-text="type.label"></option>
                    </select>
                    <ul v-if="formErrors['type_id']" class="text-danger">
                        <li v-for="message in formErrors['type_id']" v-text="message"></li>
                    </ul>
                </div>

                <div class="form-group">
                    <label>Date </label>
                    <div class="input-group">
                        <el-date-picker v-model="send_date" type="date" placeholder="Date..."></el-date-picker>
                    </div>
                    <ul v-if="formErrors['send_date']" class="text-danger">
                        <li v-for="message in formErrors['send_date']" v-text="message"></li>
                    </ul>
                </div>
                <br/>
                <br/>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Save <i class="fa fa-spinner fa-spin" v-if="loading"></i> </button>
                </div>
            </form>
        </div>
    </div>
</template>