<script type="text/babel">

    export default {

        data() {
            return {
                loading: false,
                url: '',
                formErrorsUpdate: {},
                item: {
                    id: null,
                    type_id: null,
                    name: null,
                    date: null,
                    type: {},
                },
                types: [],
                cid: '',
                fund_id: ''
            }
        },

        created: function() {

            this.item.id = this.$route.params.id;
            this.fund_id = this.$route.params.id;

            let campaign_id = this.$route.params.cid;

            this.cid = campaign_id;

            this.url = `/api/unitization/unit-fund-statement-campaigns/${campaign_id}`;

            this.getUnitFundStatementCampaign();

            this.getStatementCampaignTypes();
        },

        methods: {
            getUnitFundStatementCampaign: function() {
                axios.get(this.url)
                    .then((response) => {
                        if(response.status == 200) {

                            var data = response.data;

                            if(data.fetched) {
                                this.$set(this, 'item', data.data);
                            }
                            else {
                                flash('Could not fetch requested unit fund statement campaign', 'danger');
                                this.$router.push({ name: 'unit-fund-statement-campaigns.index' });
                            }
                        }
                    }, (response) => {
                        flash('Oops! Something went wrong!', 'danger');
                        this.$router.push({ name: 'unit-fund-statement-campaigns.index' });
                    });
            },

            getStatementCampaignTypes: function() {

                axios.get('/api/unitization/statement-campaign-types-list')
                    .then((response) => {
                        if (response.status == 200) {

                            let data = response.data;

                            if (data.fetched) {
                                this.$set(this, 'types', data.data);
                            }
                            else {
                                flash('Could not fetch list of statement camapign types', 'danger');
                            }
                        }
                    }, (response) => {
                        flash('Oops! Something went wrong', 'danger');
                    });
            },

            updateUnitFundStatementCampaign: function(item) {
                this.loading = true;

                let input = item;

                axios.put(this.url, input).then((response) => {
                    this.loading = false;

                    let data = response.data;

                    if(response.status == 202) {
                        this.success();
                    }
                    else if(response.data.status == 422) {
                        this.throwValidationError(data);
                    }
                }, (response) => {
                    this.loading = false;
                    flash('Oops! Something went wrong', 'danger');
                    this.formErrorsUpdate = response.data;
                });
            },

            success: function() {
                flash('Request to update the statement campaign has been saved for approval.', 'info');
                this.$router.push({ name: 'unit-fund-statement-campaigns.index' });
            },

            throwValidationError: function(data) {
                flash('Unit fund statement campaign failed to save.', 'danger');

                this.formErrorsUpdate = data.errors;
            }
        }
    }
</script>

<template id="id-of-template">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel-dashboard">
            <h3>
                Edit Unit Fund StatementCampaign 
                <span class="btn-grouul pull-right">
                    <router-link v-bind:to="{ name: 'unit-fund-statement-campaigns.index' }" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Back to Campaigns</router-link>
                    <router-link v-bind:to="{ name: 'unit-fund-statement-campaigns.show', params: { id: fund_id, cid: cid } }" class="btn btn-default"><i class="fa fa-eye"></i> Show Campaign </router-link>
                </span>
            </h3>

            <form v-on:submit.prevent="updateUnitFundStatementCampaign(item)">
                <div class="form-group">
                    <label>Campaign Name </label>
                    <input type="text" class="form-control" placeholder="Campaign name..." v-model="item.name">
                    <ul v-if="formErrorsUpdate['name']" class="text-danger">
                        <li v-for="message in formErrorsUpdate['name']" v-text="message"></li>
                    </ul>
                </div>

                <div class="form-group">
                    <label>Campaign Type  </label>
                    <select class="form-control" v-model="item.type_id">
                        <option v-for="type in types" v-bind:value="type.value" v-text="type.label"></option>
                    </select>
                    <ul v-if="formErrorsUpdate['type_id']" class="text-danger">
                        <li v-for="message in formErrorsUpdate['type_id']" v-text="message"></li>
                    </ul>
                </div>

                <div class="form-group">
                    <label>Date </label>
                    <div class="input-group">
                        <el-date-picker v-model="item.send_date" type="date" placeholder="Date..."></el-date-picker>
                    </div>
                    <ul v-if="formErrorsUpdate['send_date']" class="text-danger">
                        <li v-for="message in formErrorsUpdate['send_date']" v-text="message"></li>
                    </ul>
                </div>
                <br/>
                <br/>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Update <i class="fa fa-spinner fa-spin" v-if="loading"></i> </button>
                </div>
            </form>
        </div>
    </div>
</template>