<script type="text/babel">

    import vueTableMixin from '../../../mixins/vuetable_mixin';

    export default {

        mixins: [vueTableMixin],

        data() {
            return {
                url: "/api/unit-fund/statement/campaigns/" + this.$route.params.id,
                fundId: null,
                fields: [
                    { name: 'id', title: 'ID', sortField: 'id' },
                    { name: 'name', title: 'Name', sortField: 'name' },
                    { name: 'type', title: 'Type' },
                    { name: 'closed', title: 'Closed' },
                    { name: 'sender', title: 'Sender' },
                    { name: 'date', title: 'Date' },
                    { name: '__view_action', title: 'View', titleClass: 'text-center', dataClass: 'text-center' },
                    { name: '__edit_action', title: 'Edit', titleClass: 'text-center', dataClass: 'text-center' },
                ],
                tableState: {
                },
                promise: true,
            }
        }
    }
</script>
<template id="list-counties">
    <div class="col-md-12">
        <div class="panel-dashboard">
            <h3>
                Unit Fund Statement Campaigns Management
                <span class="btn-group pull-right">
                    <a href="/dashboard/investments/unit-fund-investments" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Back to Summary</a>
                    <router-link v-bind:to="{ name: 'unit-fund-statement-campaigns.new' }" class="btn btn-default"><i class="fa fa-plus-square-o"></i> Add  Campaign</router-link>
                </span>
            </h3>

            <!--<div class="col-md-4 pull-right">-->
                <!--<search-bar :search-label='"Search statement campaign..."'></search-bar>-->
            <!--</div>-->

            <div class="crims_table">
                <vuetable ref="vuetable"
                          :api-url="url"
                          :fields="fields"
                          pagination-path=""
                          @vuetable:pagination-data="onPaginationData"
                          :append-params="tableState"
                          :per-page="itemsPerPage"
                >
                </vuetable>

                <div class="vuetable-pagination ui basic segment grid crims_pagination">
                    <table>
                        <tfoot>
                            <tr>
                                <td class="text-center" width="50%">
                                    <div class="inline-block" style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                        <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                        <select style="width: 100px" class="form-control" v-model="itemsPerPage" @change="changePerPage">
                                            <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <vuetable-pagination-info ref="paginationInfo">
                                    </vuetable-pagination-info>
                                    <vuetable-pagination ref="pagination"
                                                         @vuetable-pagination:change-page="onChangePage"
                                    ></vuetable-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>