<template id="missing-clients-list" v-cloak>
    <div class="margin-top-25">
        <div class="col-md-6 pull-right">
            <search-bar :search-label='"Search ..."'></search-bar>
        </div>

        <div class="crims_table">
            <vuetable ref="vuetable"
                      :api-url="missingClientsUrl"
                      :fields="fields"
                      pagination-path=""
                      @vuetable:pagination-data="onPaginationData"
                      :append-params="tableState"
                      :per-page="itemsPerPage"
            >
            </vuetable>

            <div class="vuetable-pagination ui basic segment grid crims_pagination">
                <table>
                    <tfoot>
                    <tr>
                        <td class="text-center" width="50%">
                            <div class="inline-block" style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                <select style="width: 100px" class="form-control" v-model="itemsPerPage" @change="changePerPage">
                                    <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}</option>
                                </select>
                            </div>
                        </td>
                        <td class="text-center">
                            <vuetable-pagination-info ref="paginationInfo">
                            </vuetable-pagination-info>
                            <vuetable-pagination ref="pagination"
                                                 @vuetable-pagination:change-page="onChangePage"
                            ></vuetable-pagination>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</template>

<script type="text/babel">

    import vueTableMixin from '../../../mixins/vuetable_mixin';

    export default {

        props: ['missingClientsUrl'],

        mixins: [vueTableMixin],

        data() {
            return {
                fields: [
                    { name: 'id', title: 'ID', sortField: 'id' },
                    { name: 'holderNumber', title: 'Holder Number' },
                    { name: 'holderName', title: 'Holder Name' },
                    { name: 'clientType', title: 'Client Type' },
                    { name: 'email', title: 'E-Mail' },
                    { name: 'phone', title: 'Phone No.' },
                    { name: 'active', title: 'Active' },
                    { name: 'unitFund', title: 'Unit Fund' },
                    { name: '__view_action', title: 'View', titleClass: 'text-center', dataClass: 'text-center' },
                ],
                tableState: {
                },
                promise: true
            }
        },

        methods: {

        }
    }
</script>