<script type="text/babel">

    import SendingToList from './sending-to-list.vue';
    import MissingClientsList from './missing-clients-list.vue';

    export default {

        components: { SendingToList, MissingClientsList },

        data() {
            return {
                loading: false,
                url: '',
                sendingToUrl: '',
                fundId: null,
                item: {
                    id: null,
                    send_date: false,
                    type: {},
                    sender: {}
                },
                cid: ''
            }
        },

        created: function() {

            this.item.id = this.$route.params.id;

            this.fundId = this.$route.params.id;

            this.cid = this.$route.params.cid;

            this.url = `/api/unitization/unit-fund-statement-campaigns/${this.cid}`;

            this.sendingToUrl = `/api/unitization/unit-fund-statement-campaigns/${this.item.id}/${this.cid}/items`;

            this.missingClientsUrl = `/api/unitization/unit-fund-statement-campaigns/${this.item.id}/${this.cid}/items/missing`;

            this.getUnitFundStatementCampaign();
        },

        methods: {
            getUnitFundStatementCampaign: function() {

                axios.get(this.url)
                    .then((response) => {
                        if(response.status == 200) {

                            let data = response.data;

                            if(data.fetched) {
                                this.$set(this, 'item', data.data);
                            }
                            else {
                                flash('Could not fetch requested unit fund statement campaign', 'danger');
                                this.$router.push({ name: 'unit-fund-statement-campaigns.index' });
                            }
                        }
                    }, (response) => {
                        flash('Oops! Something went wrong', 'danger');
                        this.$router.push({ name: 'unit-fund-statement-campaigns.index'});
                    });
            },

            sendCampaign: function () {

                this.loading = true;

                axios.post(this.url + '/send').then((response) => {
                    this.loading = false;
                    this.removeModal('#sendCampaign');

                    let data = response.data;

                    if(response.status == 202) {
                        flash('Success! The statements have been queued for dispatched.');
                        this.item.closed = true;
                    }
                    else if(data.status == 422) {
                        flash('Warning! ' + data.warning, 'warning');
                    }
                    else {
                        flash('Oops! Something went wrong', 'danger');
                    }
                }, (response) => {
                    this.loading = false;
                    this.removeModal('#sendCampaign');
                    flash('Oops! Something went wrong (500)', 'danger');
                });
            },

            closeCampaign: function () {
                this.loading = true;

                axios.put(this.url + '/' + this.cid + '/close').then((response) => {
                    this.loading = false;
                    this.removeModal('#closeCampaign');

                    let data = response.data;

                    if(response.status == 202) {
                        flash('Campaign has been successfully closed!');
                        this.item.closed = true;
                    }
                    else {
                        flash('Oops! Something went wrong', 'danger');
                    }
                }, (response) => {
                    this.loading = false;
                    this.removeModal('#closeCampaign');
                    flash('Oops! Something went wrong (500)', 'danger');
                });
            },

            removeModal: function(id) {
                $(id).modal('toggle');
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            }
        }
    }
</script>

<template id="id-of-template" v-cloak>
    <div class="col-md-10 col-md-offset-1">
        <div class="panel-dashboard">
            <h3>
                Unit Fund Statement Campaign  Details
                <div class="btn-group pull-right">
                    <router-link v-bind:to="{ name: 'unit-fund-statement-campaigns.index', params: { id: fundId } }" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Back to Statement Campaigns</router-link>
                    <router-link v-bind:to="{ name: 'unit-fund-statement-campaigns.edit', params: { id: fundId, cid: cid } }" class="btn btn-default"><i class="fa fa-pencil-square-o"></i> Edit Statement Campaign </router-link>
                </div>
            </h3>
            <table class = "table table-hover">
                <tbody>
                    <tr>
                        <td>Campaign Name</td>
                        <td>{{ item.name }}</td>
                    </tr>
                    <tr>
                        <td>Campaign Type</td>
                        <td>{{ item.type.name }}</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>{{ item.send_date | formatDate }}</td>
                    </tr>
                    <tr>
                        <td>Created By</td>
                        <td>{{ item.sender.firstname }} {{ item.sender.lastname }}</td>
                    </tr>
                    <tr>
                        <td>Closed</td>
                        <td>
                            <span class="label label-default" v-if="item.closed">Closed</span>
                            <span class="label label-success" v-else>Ongoing</span>
                            <span>{{ item.sent_items_count }}/{{ item.total_items_count }} sent</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Actions</td>
                        <td>
                            <div class="btn-group">
                                <a href="" class="btn btn-success" data-toggle="modal" data-target="#sendCampaign">Send Statements</a>
                                <a href="" class="btn btn-danger" data-toggle="modal" data-target="#closeCampaign">Close Campaign</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="panel-dashboard">

            <el-tabs type="card">
                <el-tab-pane label="Sending To">
                    <sending-to-list :sendingToUrl="sendingToUrl"></sending-to-list>
                </el-tab-pane>
                <el-tab-pane label="Missing">
                    <missing-clients-list :missingClientsUrl="missingClientsUrl"></missing-clients-list>
                </el-tab-pane>
            </el-tabs>

        </div>

        <!-- Close Campaign Modal-->
        <div class="modal fade" id="closeCampaign" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Close Campaign</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-info">
                            <p>A campaign should only be closed when no clients should be added, typically when statements have been sent to all clients.</p>
                            <p>Are you sure you want to close this campaign?</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" @click="closeCampaign"><i class="fa fa-close"></i> Close Campaign <i class="fa fa-spinner fa-spin" v-if="loading"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Send Campaign Modal -->
        <div class="modal fade" id="sendCampaign" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Send Campaign</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-info">
                            <p>This will send the statements in the campaign to the clients. Are you sure you want to perform this action?</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" @click="sendCampaign"><i class="fa fa-paper-plane-o"></i> Send Campaign <i class="fa fa-spinner fa-spin" v-if="loading"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>