<script>
    import { mapGetters } from 'vuex';
    import PasswordController from './controller';

    export default {
        mixins: [ PasswordController ]
    }
</script>

<template>
    <div class="">

        <h3>Reset your password</h3>

        <form name="login_form" @submit.prevent="submit()">

            <p class="instructions">If you've forgotten your password we will send you an email with instructions to reset your password.</p>

            <input
                    class="login_text_field"
                    placeholder="Enter your username or email address"
                    name="username"
                    type="text"
                    v-model="reset_creds.username"
            >

            <button
                    :disabled="submitting || reset_success.success"
                    class="large button login-button"
                    type="submit"
            >
                <i v-show="verifying" class="fa fa-spinner fa-spin"></i>
                Continue
            </button>

        </form>
    </div>
</template>