<script>
    import { mapGetters } from 'vuex';
    import PasswordController from './controller';

    import Vue from 'vue';

    Vue.component('forgot-password', require('./forgot'));
    Vue.component('reset-token-verification', require('./reset_token'));

    export default {
        mixins: [ PasswordController ]
    }
</script>

<template>
    <div class="row align-center">
        <div class="small-12 medium-8 md-6 columns">

            <div class="login-panel" v-if="!foundUser">
                <forgot-password></forgot-password>
            </div>

            <div class="login-panel" v-if="foundUser">
                <reset-token-verification></reset-token-verification>
            </div>

        </div>
    </div>
</template>
