<script>
    import PasswordController from './controller';

    export default {
        mixins: [ PasswordController ],

        methods: {
            togglePassword() {
                let x = document.getElementById("password");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }
        },

        mounted() {
            this.url = this.$route.path;
        }
    }
</script>

<template>
    <div class="login-panel">
        <h3>Create Password</h3>

        <div class="pass-reset">
            <div class="pass-reset-input">
                <el-input
                    v-model="password"
                    :type="togglePass"
                    placeholder="Create new password"
                    :suffix-icon="{ 'el-icon-error' : !charLength, 'el-icon-circle-check' :  charLength }">

                </el-input>
            </div>

            <div class="pass-reset-checks">
                <p :class="{ 'check-error' : !characters, 'check-success': characters }">
                    <span>
                        <i class="el-icon-circle-check-outline" v-if="!characters"></i>
                        <i class="el-icon-circle-check" v-else></i>
                    </span>
                    <span>Must have a capital letter, small letters and numbers e.g Welcome2018</span>
                </p>

                <p :class="{ 'check-error' : !charLength, 'check-success': charLength }">
                    <span>
                        <i class="el-icon-circle-check-outline" v-if="!charLength"></i>
                        <i class="el-icon-circle-check" v-else></i>
                    </span>
                    <span>Must be a minimum of 8 characters</span>
                </p>
            </div>

            <el-checkbox class="login_text_field" v-model="seePass" border size="mini">See password</el-checkbox>
        </div>

        <div class="pass-reset">
            <div class="pass-reset-input">
                <el-input
                        v-model="password_confirmation"
                        :type="togglePass"
                        placeholder="Confirm password"
                        :suffix-icon="{ 'el-icon-error' : !passConfirm, 'el-icon-circle-check' :  passConfirm }">

                </el-input>
            </div>

            <div class="pass-reset-checks">

                <p :class="{ 'check-error' : !passConfirm, 'check-success': passConfirm }">
                    <span>
                        <i class="el-icon-circle-check-outline" v-if="!passConfirm"></i>
                        <i class="el-icon-circle-check" v-else></i>
                    </span>
                    <span>Must be the same as the password added above</span>
                </p>
            </div>
        </div>

        <button
                @click="resetPassword($event)"
                :disabled="!passwordCorrect"
                class="large button login-button"
                type="submit"
        >
            <i :class="{'fa-spinner fa-spin':reseting, 'fa-lock':!reseting }" class="fa"></i>
            Continue
        </button>
    </div>
</template>

<style lang="scss">
    .pass-reset {

        .pass-reset-input {
            .el-input__icon {
                height: 0 !important;
            }
        }

        .pass-reset-checks {
            text-align: left !important;
            font-family: Futura;
            font-size: 14px;
            font-weight: bold;

            .check-error {
                color: red;
            }

            .check-success {
                color: #5c8c7d;
            }
        }
    }
</style>