<script>
    import PasswordController from './controller';

    export default {
        mixins: [PasswordController]
    }
</script>

<template>
    <div>
        <h3>Please approve your Password Reset</h3>

        <div class="reset-form">
            <p>To approve your password reset, select an option below where a six digit verification token will be sent to you then use the token to confirm reset in the popup screen.</p>
        </div>

        <div class="reset-form">
            <el-radio-group v-model="verification_option">
                <el-radio :label="1">Your email at {{ reset_user.email | trimEmail }}<strong> </strong></el-radio>
                <br>
                <el-radio :label="2">Your phone through sms at {{ reset_user.phone | trimPhone }}<strong></strong>
                </el-radio>
                <br>
                <el-radio :label="3">I have the authy application, use the token sent there</el-radio>
            </el-radio-group>

            <br>

            <p v-if="requestingSms"><i class="el-icon-loading"></i> Sending reset token via <b>{{ reset_creds.option }}</b></p>

            <br>

            <p v-if="requestMade">
                <strong>
                    <el-alert
                            title="Please provide the six digit verification token that has been set to you"
                            type="info"
                            :closable="false"
                            show-icon>
                    </el-alert>
                </strong>
            </p>
        </div>

        <el-dialog
                :visible.sync="sms_sent"
                class="verify_modal"
                center
                :show-close="false">
            <div class="verification_token">

                <div class="verification_token__header">
                    <h4>2-Step Verification</h4>
                    <p>This helps to show the account really belongs to you.</p>

                    <p>
                        A six digit verification has been sent to you. Enter here and click continue.
                    </p>
                </div>

                <div class="verification_token__form">
                    <form name="login_form">
                        <input
                                autocomplete="off"
                                class="login_text_field"
                                placeholder="Enter token"
                                name="token"
                                type="text"
                                v-model="reset_creds.token"
                        >

                        <button
                                @click="authenticateResetPassword($event)"
                                :disabled="submitting"
                                class="large button login-button"
                                type="submit"
                        >
                            <i :class="{'fa-spinner fa-spin':submitting, 'fa-unlock':!submitting }" class="fa"></i>
                            Continue
                        </button>
                    </form>

                    <br>

                    <div class="">
                        <el-button type="info" size="small" @click="closeVerifyModal">Go back</el-button>
                    </div>
                </div>
            </div>

        </el-dialog>



            <!--<a-->
            <!--@click="requestSMSPasswordReset($event)"-->
            <!--class="forgot_password_link" href="#"-->
            <!--&gt;-->
            <!--I don't have the app, request SMS-->
            <!--</a>-->
    </div>
</template>