<style scoped lang="scss">
    .input-custom {
        height: 33px;
    }

    .phone-error {
        background-color: transparent;
        font-size: 14px;
        color: #a94442;
        border-color: transparent;
    }
</style>
<script>
    import axios from 'axios';
    import events from "../../events";
    import {Message} from "element-ui";
    import VueTelInput from 'vue-tel-input';

    export default {
        data() {
            return {
                referralForm: {},
                canRefer: false,
                sendingReferral: false,
            }
        },
        components: {
            VueTelInput,
        },
        computed: {
            canReferClient() {
                return this.referralForm.phone_number.length === 15
            }
        },
        watch: {
            "referralForm.fullname": {
                handler: function () {
                    this.validateForm();
                }
            },

            "referralForm.phone_number": {
                handler: function () {
                    this.validateForm();
                }
            },

            "referralForm.email": {
                handler: function () {
                    this.validateForm();
                }
            },
        },

        methods: {
            refer() {
                this.canRefer = false;
                this.sendingReferral = true;

                axios.post('/api/refer-client', this.referralForm)
                    .then(({data}) => {
                        this.canRefer = false;
                        this.sendingReferral = false;

                        if (data.status !== 422) {
                            this.referralForm = {};

                            Message.success('Client referred successful!');

                            events.bus.$emit('update_title', 'Refer Client');

                            events.bus.$emit('close_drawer');
                        } else {
                            Message.error('An Error occurred when submitting the form!');

                            events.bus.$emit('update_title', 'Refer Client');
                        }
                    })
            },

            validateForm() {
                this.canRefer = false;

                if (this.referralForm.hasOwnProperty('fullname') && this.referralForm.fullname !== "") {

                    if (this.referralForm.hasOwnProperty('phone_number') && this.referralForm.phone_number !== "") {
                        this.canRefer = true;
                    }

                    if (this.referralForm.hasOwnProperty('email') && this.referralForm.email !== "") {
                        this.canRefer = true;
                    }
                }
            },

            cancel() {
                this.referralForm = {};

                events.bus.$emit('close_drawer');
            }
        }
    }

</script>

<template>
    <div>
        <el-form ref="form" :model="referralForm" label-position="top" size="small" label-width="">
            <el-form-item label="Please enter Name">
                <el-input v-model="referralForm.fullname" placeholder="John Doe"></el-input>
            </el-form-item>

            <el-form-item label="Enter Phone Number">
                <vue-tel-input v-model="referralForm.phone_number"
                               placeholder="Phone Number e.g 0712345678"
                               class="el-input__inner input-custom"></vue-tel-input>
            </el-form-item>

            <div class="description"
                 v-show="referralForm.phone_number && referralForm.phone_number.length !== 15 ">
                <div class="phone-error">
                    Please input valid phone number e.g. 0722123456.
                </div>
            </div>

            <el-form-item label="Enter Email">
                <el-input v-model="referralForm.email" placeholder="johndoe@gmail.com"></el-input>
            </el-form-item>

            <el-form-item>
                <el-tooltip class="item" effect="dark"
                            content="Make sure you have provided Name and Phone Number or Email"
                            placement="bottom-end" v-if="!canRefer">
                    <el-button class="crims_action_button success disabled">
                        Refer&nbsp;&nbsp;
                        <i :class="{'fa-spinner fa-spin':sendingReferral, 'fa-send':!sendingReferral }"
                           class="fa"></i>
                    </el-button>
                </el-tooltip>

                <el-button v-if="canRefer" :disabled="!canReferClient" class="crims_action_button success"
                           @click="refer">
                    Refer&nbsp;&nbsp;
                    <i :class="{'fa-spinner fa-spin':sendingReferral, 'fa-send':!sendingReferral }"
                       class="fa"></i>
                </el-button>

                <el-button class="crims_action_button default" @click="cancel">Cancel</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>
