<script>
    import {mapGetters} from 'vuex';

    export default {
        name: 'crims-page',
        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient'
            })
        }
    }
</script>

<template>
    <div class="crims-main-page">

        <div class="crims-body">

            <div class="crims-body__content">
                <slot></slot>
            </div>


            <div class="crims_footer">
                <footer-section></footer-section>
            </div>

        </div>
    </div>
</template>