<style scoped>
    .el-upload-dragger .el-icon-upload{
        line-height: 0;
        font-size: 47px;
        margin: 22px 0 16px;
    }
</style>

<script>
    import { mapState, mapGetters } from 'vuex';
    import { Notification } from 'element-ui';

    export default {
        data: function () {
            return {
                url: '/api/feedback'
            };
        },
        computed: {
            ...mapGetters({
                submitting: 'submitFeedbackForm',
                submitted: 'feedbackSubmited',
                errors: 'formErrors',
                form: 'feedbackForm',
                feedbackModal: 'feedbackModal',
                currentUser: 'currentUser'
            }),
            formData: function () {
                let subject = this.form.subject;
                let description = this.form.description;

                this.form = {
                    subject: subject,
                    description: description
                };

                return this.form;
            }
        },
        methods: {
            submit() {
                event.preventDefault();
                if(this.$refs.upload.uploadFiles[0] && this.formData != null) {
                    this.submitting = true;
                    this.$refs.upload.submit();
                }
                else {
                    this.$store.commit('SUBMIT_FEEDBACK', this.formData);
                }
            },
            closeModal() {
                event.preventDefault();
                this.$store.commit('feedbackModal', false);
            },
            showUploadSuccess(){
                this.closeModal();
                swal("Feedback", "Feedback sent successfully, will get back to you", "success");
            },
            errorOccurred() {
//                Notification.warning({title: '', message: 'Oops! There was an error submitting the feedback'});
            }
        }
    }
</script>

<template>
    <div class="feedback-form">
        <el-alert
                type="info"
                title=""
                description="Give us feedback about the application and our services"
                show-icon>
        </el-alert>
        <br>
        <form>
            <div class="form-group">
                <label>Subject</label>
                <input type="text" v-model="form.subject" class="">
                <form-error name="subject" :errors="errors"></form-error>
            </div>

            <div class="form-group">
                <label>Message</label>
                <textarea class="" v-model="form.description" rows="5"></textarea>
                <form-error name="description" :errors="errors"></form-error>
            </div>

            <div class="form-group">
                <el-upload
                        class="upload-demo no-padding"
                        drag
                        :action=url
                        :auto-upload="false"
                        ref="upload"
                        :data=formData
                        :on-success="showUploadSuccess"
                        size="medium"
                        :on-error="errorOccurred()">

                    <i class="el-icon-upload"></i>
                    <div class="el-upload__text">Drop file here or <em>click to upload</em> a file/screenshot</div>
                    <div class="el-upload__tip" slot="tip">
                        Images or pdf files with a size of less than 500kb
                        <form-error name="file.*" :errors="errors"></form-error>
                    </div>
                </el-upload>
            </div>
            <div class="small-12">
                <button class="def button" @click="submit()">Submit <i v-show="submitting" class="fa fa-spinner fa-spin"></i></button>
                <button class="button secondary" @click="closeModal()">Cancel</button>
            </div>
        </form>
    </div>
</template>