<script>
    import Vue from 'vue'
    import { mapGetters } from 'vuex'

    Vue.component('feedback-form', require('./feedback.vue'));

    export default {
        data() {
            return {
                currentYear: ''
            }
        },
        computed: {
            ...mapGetters({
                feedbackModal: 'feedbackModal'
            })
        },
        methods: {
            getCurrentYear() {
                this.currentYear = new Date().getFullYear();
            },
            openFeedbackModal() {
                event.preventDefault();
                this.$store.commit('feedbackModal', true);
            },
            closeModal() {
                event.preventDefault();
                this.$store.commit('feedbackModal', false);
            },
        },
        mounted() {
            this.getCurrentYear();
        }
    }
</script>

<template>
    <div>
        <footer class="footer" :class="{'landing_login_footer': $route.path == '/'}">
            <div class="copyright">
                <p>&copy {{ currentYear }} <a href="https://www.cytonn.com">Cytonn Investments</a>. All rights reserved </p>
            </div>
            <div class="footer-links">
                <ul>
                    <li class="mobile_desc" style="color: white;">(Mobile Version) 👉</li>
                    <li class="mobile_icon">
                        <a href="https://play.google.com/store/apps/details?id=com.cytonn" target="_blank">
                            <img src="/assets/img/mobicons/android.png" alt="">
                        </a>
                    </li>
                    <li class="mobile_icon">
                        <a href="https://itunes.apple.com/us/app/cytonn/id1411423248?mt=8" target="_blank">
                            <img src="/assets/img/mobicons/apple.png" alt="">
                        </a>
                    </li>
                    <li class="mobile_icon">
                        <a href="tel:*809%23" target="_blank">
                            <img src="/assets/img/mobicons/ussd_black.png" alt="" style="max-height: 47px;">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="https://cytonn.com/privacy-policy">Privacy policy</a></li>
                    <li><a href="https://cytonn.com/client-portal-terms">Terms of use</a></li>
                    <li><a @click="openFeedbackModal()"><i class="fa fa-bullhorn"></i> Give feedback</a></li>
                </ul>
            </div>

        </footer>

        <!-- Feedback modal -->
        <el-dialog title="Feedback form" :visible.sync="feedbackModal" :before-close="closeModal">
            <feedback-form></feedback-form>
        </el-dialog>

    </div>
</template>
<style>
    footer {
        padding: 0 !important;
    }

    .footer-links ul li {
        list-style: none;
    }
    @media screen and (max-width:640px) {
        .copyright {
            text-align: center;
            border-bottom: 1px solid #eef;
            margin: 0px;
            padding-bottom: 10px;
        }
        .footer-links {
            margin: 0px;
        }
        .footer-links ul {
            margin: 0px;
        }
        .footer-links ul li {
            display: block;
            border-bottom: 1px solid #eef;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 5px;
        }
    }
    @media screen and (min-width:640px) {
        .footer-links {
            float: right;
        }
        .footer-links ul li {
            display: inline-flex;
            padding: 10px;
        }
    }

    .copyright p {
        color: rgba(88, 84, 84, 0.8);
    }

    .copyright a {
        color: rgba(88, 84, 84, 0.5);
    }
</style>