<template>
    <div>

    </div>
</template>

<script>
    export default {
        name: "session_message",
        props: {
            message:{
                default: ''
            },
            type:{
                default: 'success'
            }
        },

        mounted(){
            if (this.message !==''){

                this.$message({
                    message: this.message,
                    type: this.type
                });
            }
        }
    }
</script>

<style scoped>

</style>