<script>
    import {mapGetters} from 'vuex';
    import TourMixins from '../../mixins/tour/index';
    import Vue from "vue";

    Vue.component('refer-client', require('./client-referral'));

    export default {
        mixins: [TourMixins],

        data() {
            return {
                showMenu: false,
                animateHide: false,
                refer: false
            }
        },

        computed: {
            ...mapGetters({
                isAuthenticated: 'isAuthenticated',
                currentUser: 'currentUser',
                selectedClient: 'selectedClient',
                isFa: 'isFa',
                isClient: 'isClient',
                isMultipleClient: 'isMultipleClient',
                contactModal: 'contactModal',
                menuVisible: 'menuVisible'
            })
        },

        watch: {
            menuVisible: {
                handler: function () {
                    if (this.menuVisible) {
                        this.showMenu = true;
                        this.animateHide = false
                    } else {

                        this.animateHide = true;
                        let vm = this;
                        setTimeout(function () {
                            vm.showMenu = false;
                        }, 389);

                    }
                }
            }
        },

        methods: {
            closeMenu() {
                this.$store.commit('TOGGLE_MENU', false)
            },

            dismissMenuOnComponentChange($event) {
                if ($event.target.classList.contains('left-menu-link')) {
                    this.$store.commit('TOGGLE_MENU', false)
                }
            },

            referClient(){
                this.refer = true;
            }
        },
    }
</script>
<template>
    <transition name="menu-transition">
        <div v-show="isAuthenticated" class="sidebar" :class="{'menuVisible': showMenu, 'animate-hide': animateHide  }"
             style="height: 100%; overflow-y: scroll;">
            <div class="side-menu" @click="dismissMenuOnComponentChange">
                <div class="dismissMenu " v-bind:class="{'visibility':menuVisible }" @click="closeMenu">
                    <h1>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </h1>
                </div>
                <div class="navigation-primary">
                    <ul v-show="isClient">
                        <li>
                            <router-link class="left-menu-link" :to="{name: 'main'}">
                                <i class="fa fa-tachometer" aria-hidden="true"></i>
                                Dashboard
                            </router-link>
                        </li>

                        <menu-dropdown id="v-step-1" :visible.sync="investmentMenuOpen">
                            <template slot="title">
                                <i class="fa fa-university" aria-hidden="true"></i>
                                Investments
                            </template>

                            <template slot="dropdown">
                                <ul>

                                    <li v-show="selectedClient.hasSP" id="v-step-2">
                                        <router-link class="left-menu-link" :to="{name: 'all-investments'}">
                                            <i class="fa fa-area-chart" aria-hidden="true"></i>
                                            Structured Products
                                        </router-link>
                                    </li>

                                    <li v-show="selectedClient.hasUT" id="v-step-3">
                                        <router-link :to="{name: 'unittrust.list'}">
                                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                            Unit Trusts
                                        </router-link>
                                    </li>

                                    <li v-show="selectedClient.hasRE">
                                        <!--<router-link :to="{name: 'realestates'}">-->
                                        <router-link :to="{ name: 'investments.REList'}">
                                            <i class="fa fa-pie-chart" aria-hidden="true"></i>
                                            Real Estate
                                        </router-link>
                                    </li>

                                </ul>
                            </template>

                        </menu-dropdown>

                        <menu-dropdown>
                            <template slot="title">
                                <i class="fa fa-list-alt" aria-hidden="true"></i>
                                Statements
                            </template>

                            <template slot="dropdown">
                                <ul>
                                    <li v-show="selectedClient.hasSP">
                                        <router-link class="left-menu-link" :to="{name: 'inv-statements'}">
                                            <i class="fa fa-area-chart" aria-hidden="true"></i>
                                            Structured Product
                                        </router-link>
                                    </li>

                                    <li v-show="selectedClient.hasUT">
                                        <router-link :to="{name: 'unittrust.statements'}">
                                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                            Unit Trusts
                                        </router-link>
                                    </li>

                                    <li v-show="selectedClient.hasRE">
                                        <router-link :to="{name: 'realestate.statements'}">
                                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                            Real Estate
                                        </router-link>
                                    </li>
                                </ul>
                            </template>

                        </menu-dropdown>

                        <li>
                            <router-link class="left-menu-link" :to="{name: 'My_Documents'}">
                                <i class="fa fa-file-text" aria-hidden="true"></i>
                                My Documents
                            </router-link>
                        </li>

                        <li>
                            <router-link class="left-menu-link" :to="{name: 'billing'}">
                                <i class="fa fa-dollar" aria-hidden="true"></i>
                                Bill Payments
                            </router-link>
                        </li>

<!--                        <li>-->
<!--                            <router-link class="left-menu-link" :to="{name: 'loyalty_points:details'}">-->
<!--                                <i class="fa fa-hashtag" aria-hidden="true"></i>-->
<!--                                Loyalty Points-->
<!--                            </router-link>-->
<!--                        </li>-->

                        <li>
                            <router-link class="left-menu-link" :to="{name: 'real_estate.projects'}">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                Our Products
                            </router-link>
                        </li>

                        <li>
                            <router-link class="left-menu-link" :to="{name: 'calculator'}">
                                <i class="fa fa-calculator" aria-hidden="true"></i>
                                Calculator
                            </router-link>
                        </li>

                        <li v-show="selectedClient.hasSP">
                            <router-link class="left-menu-link" :to="{name: 'prevailing_rates'}">
                                <i class="fa fa-line-chart" aria-hidden="true"></i>
                                Prevailing Rates
                            </router-link>
                        </li>

                        <li>
                            <router-link class="left-menu-link" :to="{name: 'ContactUs'}">
                                <i class="fa fa-phone-square" aria-hidden="true"></i>
                                Contact Us
                            </router-link>
                        </li>

                        <li>
                            <a @click="referClient">
                                <i class="fa fa-phone-square" aria-hidden="true"></i>
                                Refer Client
                            </a>
                        </li>

                        <li id="v-step-0">
                            <a @click="startTour">
                                <i class="fa fa-question-circle" aria-hidden="true"></i>
                                Help
                            </a>
                        </li>

                    </ul>
                    <div v-show="isFa" class="my-fa-menu">
                        <input id="toggle" type="checkbox" checked>
                        <label for="toggle">FINANCIAL ADVISOR
                        </label>
                        <i class="caret-arrow"></i>
                        <hr>
                        <div id="my-fa-menu-display">
                            <ul class="my-fa-menu">
                                <li>
                                    <router-link class="left-menu-link" :to="{name: 'sales.FaClients'}">
                                        <i class="fa fa-address-book-o mey" aria-hidden="true"></i>
                                        My Clients
                                    </router-link>
                                </li>

                                <li>
                                    <router-link class="left-menu-link" :to="{ name: 'sales.invcommissions' }">
                                        <i class="fa fa-money" aria-hidden="true"></i>
                                        Commissions
                                    </router-link>
                                </li>

                                <li>
                                    <router-link class="left-menu-link" :to="{name: 'sales.My_FaList'}">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                        My FAs
                                    </router-link>
                                </li>
                                <li>
                                    <router-link class="left-menu-link" :to="{name: 'sales.FA_Projections'}">
                                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                        Projections
                                    </router-link>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="drawers">
                <action-drawer title="Refer Client" :visible.sync="refer">
                    <refer-client></refer-client>
                </action-drawer>
            </div>

        </div>

    </transition>
</template>

<style>
    .visibility {
        visibility: visible;
    }
</style>