<script>
    import Vue from 'vue';
    import {mapActions, mapGetters} from 'vuex';
    import events from '../../events'

    Vue.component('toggle-menu', require('./partials/toggle-menu.vue'));
    Vue.component('gravator', require('../partials/Gravator'));
    export default {
        data() {
            return {
                menuVisible: false,
                user: [],
                viewMenu: false
            }
        },
        computed: {
            ...mapGetters({
                isAuthenticated: 'isAuthenticated',
                currentUser: 'currentUser',
                selectedClient: 'selectedClient',
                isFa: 'isFa',
                isClient: 'isClient',
                isMultipleClient: 'isMultipleClient',
                contactModal: 'contactModal'
            }),
            routerChange() {
                return this.$route.name;
            },
            viewAbout() {
                return this.$route.name === 'about';
            },
            viewLogin() {
                return this.$route.name === 'landing';
            },
            viewApply() {
                let name = this.$route.name;

                return name.startsWith('apply');
            }
        },
        watch: {
            currentUser: {
                handler: function () {
                    this.user = this.currentUser;
                },
                deep: true
            },
            routerChange: {
                handler: function () {
                    this.viewMenu = false;
                }
            }
        },
        methods: {
            ...mapActions({
                individual: 'selectIndividual',
                corporate: 'selectCorporate'
            }),

            popupContactModal() {
                this.$store.commit('contactModal', true);
            },

            closeContactModal() {
                this.$store.commit('contactModal', false);
            },

            goToLanding() {
                if (this.isAuthenticated) {
                    this.$router.push({name: 'main'});
                } else {
                    this.$router.push({name: 'landing'});
                }
            },
            logout: function () {
                this.$store.dispatch('logoutUser');
            },
            switchClient(event, client) {
                event.preventDefault();

                this.$store.dispatch('switchClient', client);
            },
            toggleMenu() {
                this.menuVisible = !this.menuVisible;
            },
            checkClass($event) {

                if (!$event.target.classList.contains('dropbtn')) {
                    this.menuVisible = false;
                }
            },
            bankAccounts() {
                this.$store.commit('GET_CLIENT_TOTAL_BALANCE', this.selectedClient);
            },
            showMenu() {
                this.viewMenu = !this.viewMenu;
            },
            startTour() {
                events.bus.$emit('site_tour_start');
                this.showMenu();
            },
            applyNow() {
                this.$router.push({name: 'apply.investment'});
            },
            aboutView() {
                this.$router.push({name: 'about'});
            },
            loginView() {
                this.$router.push({name: 'landing'});
            }
        },
        mounted() {
            this.bankAccounts();
        }
    }
</script>

<template>
    <div class="responsive-top-bar" :class="{'responsive':menuVisible }">
        <div class="top-bar-logo">
            <span v-if="isAuthenticated">
                <toggle-menu></toggle-menu>
            </span>
            <span @click="goToLanding()" class="img">
                <img src="/assets/img/logo.svg">
            </span>
        </div>

        <div class="menu-listed">
            <div v-if="isAuthenticated">
             <span class="menu-list-item show-for-large">
                CRIMS
            </span>
            </div>
        </div>

        <div class="menu-right-display" v-if="isAuthenticated">
            <crims-notifications></crims-notifications>
            <div class="user_menu__backdrop" v-show="viewMenu" @click="showMenu()"></div>
            <div class="user_menu">
                <div class="user_menu__display" @click="showMenu()" id="dashboard_tour_step_3">
                    <span class="user-icon">
                        <!--<img src="/assets/icons/user-background.png">-->
                        <gravator :email="user.email"></gravator>
                        <i class="fa fa-caret-down hide-for-medium"></i>
                    </span>
                    <span class="show-for-medium">
                        {{ user.firstname }} {{ user.lastname }}
                        <i class="el-icon-arrow-down el-icon--right"></i>
                    </span>

                </div>
                <div class="user_menu__dropdown" v-show="viewMenu">
                    <div class="user_menu__dropdown__profile">
                        <gravator :email="user.email"></gravator>
                        <div class="username">
                            <h4>{{ user.firstname }} {{ user.lastname }}</h4>
                            <span class="email">{{ user.email }}</span>
                        </div>
                    </div>
                    <div class="user_menu__dropdown__menu">
                        <ul>
                            <li>
                                <router-link :to="{name: 'profile.details'}">
                                    <i class="fa fa-user" aria-hidden="true"></i> <span>Profile</span>
                                </router-link>
                            </li>
                            <li>
                                <a @click="startTour">
                                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                                    <span>Help</span>
                                </a>
                            </li>
                            <li>
                                <a href="/logout">
                                    <i class="fa fa-sign-out"></i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="application-button-div" v-else-if="!isAuthenticated">

            <el-button type="success" class="topbar-btn txt-button" size="small" v-if="!viewAbout" @click="aboutView">
                ABOUT CYTONN
            </el-button>

            <el-button type="success" class="topbar-btn txt-button" size="small" v-if="!viewLogin" @click="loginView">
                LOGIN
            </el-button>

            <el-button type="success" class="topbar-btn" size="small" v-if="!viewApply" @click="applyNow">APPLY NOW
            </el-button>

        </div>
    </div>
</template>


<style>

    .el-dropdown-link {
        cursor: pointer;
        color: hsla(150, 3%, 1%, 0.5);
        font-weight: 600;
    }

    .el-icon-arrow-down {
        font-size: 12px;
    }

    .txt-button {
        background: transparent;
        color: #67c23a;

    }

    .topbar-btn {
        height: 40px;
    }

    .txt-button:hover, .txt-button:focus, .txt-button:active {
        background: transparent;
        color: #67c23a;
    }

</style>