@import "../../utils/custom_buttons";
.topup-list {
  padding: 20px 20px;

  .topup-list-area {
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ededed;
    background-color: #ffffff;

    //overflow-y: auto;

    .heading {
      padding: 10px 20px;
      height: auto !important;
      display: flex;
      .title {
        width: 70%;
        h3 {
          color: #006a5b;
          font-family: "Proxima Nova";
          font-size: 20px;
          font-weight: 600;
          text-transform: uppercase;

          span {
            color: #4a494a;
          }
        }
      }

      .details {
        width: 30%;
        @include custom_buttons;
        button {
          float: right;
        }

      }
    }


    .topup-details-table {}

    .bank-details{
      padding: 15px 0px;
      text-align: center;
      button {
        display: inline-block;
        border: 1px solid #eeeeee;
        background: #006a5b;
        padding: 10px 20px;
        font-weight: 500;
        color: #fff;
        font-size: 12px;
        text-align: center;
        transition: all 0.3s ease 0s;
        opacity: 0.8;
        cursor: pointer;

        &:hover {
          opacity: 0.9;
        }
      }
    }

    .top-up-details-upload{
      .form-group {
        .el-upload {
          .el-upload-dragger {
            border-radius: 5px;
            border: 1px dashed #707070;
            background-color: #e5e5e5;
          }

          .el-upload__tip {
            padding-left: 20px;
          }
        }
      }
    }
  }


}

@media screen and (max-width: 480px) {
  .topup-list {
    .topup-list-area {
      .bank_details_modal {
        .el-dialog {
          width: 80%;
        }
      }
    }
  }
}