<script>
    import Vue from 'vue';
    import { mapGetters} from 'vuex';
    import event from '../../../events'
    Vue.component('all-investment', require('./list.vue'));
    Vue.component('breadcrumb', require('../../partials/breadcrumb.vue'));
    export default {
        data(){
            return {
                Investment_name: '',
                noProp: false
            }
        },
        computed: {
            product(){
                let id = this.$route.params.id;
                return id;
            },
            ...mapGetters({
                passedInvestment: 'passedInvestment',
                products: 'clientProducts',
                selectedClient: 'selectedClient',
                fetchingClientProducts: 'fetchingClientProducts'
            })
        },
        watch: {
            products: {
                handler: function () {
                   let items = this.products;
                   let this_Id = this.$route.params.id;
                   const name = items.filter(product => product.id == this_Id)
                   this.Investment_name = name[0];


                   if(name.length == 0){
                       this.$router.push({
                           name: 'main'
                       });

                       this.$message({
                           message: 'Page data provided is invalid.',
                           type: 'warning'
                       });
                   }
                }
            },
            selectedClient(){
                this.checkPageData();
            }

        },
        methods: {
            getProducts(){

                let vm = this;
                setTimeout(function () {
                    vm.$store.commit('GET_CLIENT_PRODUCTS', client_id );
                }, 200)
            },
            checkPageData() {
                if (!this.selectedClient.hasSP) {
                    this.$router.push({
                        path: '/home'
                    });
                }
            },
        },
        created(){
            let vm = this;
            event.bus.$on('client_switched', function () {
                let client_id = vm.$route.params.client_id
                vm.$store.commit('GET_CLIENT_PRODUCTS', client_id );
            })

            event.bus.$on('client_switch', function () {
                let client_id = vm.$route.params.client_id
                vm.$store.commit('GET_CLIENT_PRODUCTS', client_id );
            })
        },
        mounted(){
            let client_id = this.$route.params.client_id
               if (client_id != this.selectedClient.id){
                   this.$router.push({
                       path: '/home'
                   });
               }

            if (this.passedInvestment.name){
                this.Investment_name = this.passedInvestment
            }else {
                this.noProp = true
            }

            this.checkPageData();
        },

    }
</script>
<template>
    <div class="crims-page single-investment">

        <breadcrumb :noswitchbar = 'true' :topUpButton="true">
            <h3><router-link :to="{name: 'all-investments'}">Investments</router-link>
                <span>
                    <object v-if="noProp && fetchingClientProducts"><i class="fa fa-spinner fa-pulse fa-fw"></i></object>
                    <object v-else >{{Investment_name.name}}</object>
                </span>
            </h3>
        </breadcrumb>

        <div class="single-investment-area">
            <div class="heading">
                <div class="title">
                    <h3>My <span>{{Investment_name.name}}</span> Investment/s</h3>
                </div>
                <div class="form">

                </div>
            </div>

            <all-investment :product="product"></all-investment>

        </div>
    </div>
</template>