<script>
    import Vue from 'vue';
    import {mapGetters} from 'vuex';
    import moment from 'moment';
    import event from '../../../events'

    import PaginationMixins from '../../../mixins/vuetable/paginationMixins';


    export default {
        props: ['product'],
        mixins: [PaginationMixins],
        components: {},
        data() {
            return {
                fields: [
                    {name: 'amount', title: 'Amount', filter: this.currencyLabel},
                    {name: 'interest_rate', title: 'Rate', filter: this.rateLabel},
                    {name: 'gross_interest', title: 'Gross Interest', filter: this.currencyLabel},
                    {name: 'net_interest', title: 'Net Interest', filter: this.currencyLabel},
                    {name: 'withdrawal', title: 'Withdrawal', filter: this.currencyLabel},
                    {name: 'invested_date', title: 'Value Date', filter: this.dateLabel},
                    {name: 'maturity_date', title: 'Maturity Date', filter: this.dateLabel},
                    {name: '__slot:active', title: 'Status', dataClass: 'active'},
                    {name: 'total_value', title: 'Total', filter: this.currencyLabel},
                    {name: '__slot:actions', title: 'Actions', dataClass: 'action'},
                ],
                tableStatus: false
            }
        },
        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient',
            }),
            url() {
                return '/api/' + this.selectedClient.id + '/' + this.product + '/investments';
            }
        },
        watch: {
            selectedClient() {
                this.checkPageData();
            }
        },
        methods: {
            currencyLabel(value) {

                value = !value ? 0 : Math.round(value * Math.pow(10, 0)) / Math.pow(10, 0);

                let parts = value.toString().split(".");

                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");

                return parts.join(".");
            },
            rolloverLabel(value) {
                return ''
            },
            statusLabel(value) {
                return value === true ? '<span  class="active"> Active </span>' : '<span  class="active"> Withdrawn </span>';
            },
            dateLabel(date) {
                return moment(date, 'YYYY-MM-DD').format("MMM DD YYYY");
            },
            rateLabel(value) {
                return value + '%';
            },
            checkPageData() {
                if (!this.selectedClient.hasSP) {
                    this.$router.push({
                        path: '/home'
                    });
                }
            },

        },
        created() {
            let vm = this;
            event.bus.$on('go-to-details', function (row) {
                vm.$router.push({
                    name: 'investments.details',
                    params: {id: row.id}
                })
            });
            event.bus.$on('table_state', function (status) {
                vm.tableStatus = status;
            })
        },
        mounted(){
            this.checkPageData();
        }
    }
</script>

<template>

    <div class="crims-table-area table_scroll">
        <div>
            <!--<table-holder></table-holder>-->
        </div>
        <div>

            <div class="crims-table-area__body">
                <vuetable ref="vuetable"
                          :api-url="url"
                          :fields="fields"
                          :multi-sort="true"
                          :noDataTemplate="noData"
                          :per-page="6"
                          pagination-path=""
                          @vuetable:loaded="onLoaded"
                          @vuetable:pagination-data="onPaginationData">
                    <template slot="active" slot-scope="props" class="active">
                        <p>
                            {{ props.rowData.active }}
                        </p>
                        <p style="width: 60%;">
                            <el-progress :show-text="false"
                                         :percentage="100"
                                         :color="props.rowData.active === 'Active' ? '#67C23A' : '#8e71c7'">
                            </el-progress>
                        </p>
                    </template>

                    <template slot="actions" slot-scope="props" class="action">
                        <router-link :to="{ name: 'investments.details', params: { id: props.rowData.id } }">
                            <i class="fa fa-eye view_investment" aria-hidden="true"></i>
                        </router-link>
                    </template>
                </vuetable>

                <content-card-shimmer v-show="vueTableLoading"></content-card-shimmer>

                <div class="crims-table-area__foot">
                    <vue-table-foot ref="totalComponent">
                        <template slot-scope="props" v-if="props.info.meta">
                            <table class="vuetable ui blue selectable celled stackable attached table">
                                <tbody>
                                <tr>
                                    <td><span class="">{{props.info.meta.original_principal | currency}}</span></td>
                                    <td width="8%">-</td> <td width="8%">-</td>
                                    <td><span class="">{{props.info.meta.net_interest | currency}}</span></td>
                                    <td width="11%">-</td> <td width="11%">-</td>
                                    <td width="10%">-</td> <td width="9%">-</td>
                                    <td><span class="">{{props.info.meta.value | currency}}</span></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </template>
                    </vue-table-foot>
                    <div class="vuetable-pagination crims-table-area__pagination  ui basic segment grid">
                        <vuetable-pagination-info ref="paginationInfo"></vuetable-pagination-info>
                        <vuetable-pagination :css="pagination" ref="pagination" @vuetable-pagination:change-page="onChangePage">
                        </vuetable-pagination>
                    </div>
                </div>

            </div>

        </div>
        <div>

        </div>
    </div>
</template>