
  input {
    &[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'] {
      margin: 0;
    }
  }

  .el-select {
    width: 100%;
  }
