@mixin callout_options_form {
  .el-form-item {
    //margin-bottom: 0;
    .el-form-item__label {
      color: #707070;
      font-family: "Proxima Nova";
      font-size: 18px;
      font-weight: 500;
    }



    .el-input {
      input {
        &[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'] {
          margin: 0;
        }
      }
      .el-input__inner {
        border: 1px solid #bdbdbd;
        background-color: #ffffff !important;
        padding: 5px 70px 5px 5px;
        color: #4a494a;
        font-family: "Proxima Nova";
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        border-radius: 3px;

        overflow: hidden;
        text-overflow: ellipsis;


        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #4a494a;
        }
        &::-moz-placeholder { /* Firefox 19+ */
          color: #4a494a;
        }
        &:-ms-input-placeholder { /* IE 10+ */
          color: #4a494a;
        }
        &:-moz-placeholder { /* Firefox 18- */
          color: #4a494a;
        }
        &::placeholder {
          color: #4a494a;
          //opacity: 1;
        }
      }
      .el-input__suffix {
        border-left: 1px solid #bdbdbd;
        padding-left: 5px;
        padding-right: 5px;
      }

      &.el-date-editor {
        .el-input__suffix {
          padding-left: 10px;
          padding-right: 10px;
        }
        .el-input__prefix {
          right: 0;
          left: auto;
        }
      }
    }


  }

  input {
    &[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'] {
      margin: 0;
    }
  }
}