<script>
    import { mapGetters } from 'vuex';
    import moment from 'moment';
    import clientPartials from '../../mixins/clientPartials';

    export default {
        props: [ 'instruction', 'investment', 'client' ],
        mixins: [ clientPartials, ],
        data() {
            return {
                form: this.instruction,
                types:[
                    { value: 'withdrawal', label: 'Withdrawal' },
                    { value: 'deduction', label: 'Deduction' }
                ],
                options: [
                    { value: 'principal', label: 'Principal' },
                    { value: 'principal_interest', label: 'Principal + Interest' },
                    { value: 'interest', label: 'Interest' },
                    { value: 'amount', label: 'Amount' },
                ],
                withdrawal_date: this.instruction.withdrawal_date
            }
        },
        computed: {
            ...mapGetters({
                withdrawalErrors: 'editWithdrawaErrors',
                submitting: 'updatingWithdrawal'
            })
        },
        watch: {
            withdrawal_date: {
                handler: function ()
                {
                    this.form.withdrawal_date = moment(this.withdrawal_date).format('YYYY-MM-DD');
                }
            }
        },
        methods: {
            updateWithdrawalInstruction: function () {
                if(this.form.amount_select !== 'amount' && this.form.withdraw_type !== 'deduction')
                {
                    this.form.amount = null;
                }
                this.$store.commit('UPDATE_WITHDRAWAL_INSTRUCTION', this.form);
            }
        },
        mounted() {
            this.getClientAccounts(this.client);
        }
    }
</script>

<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><span class="inv-header"> EDIT WITHDRAW </span> INVESTMENT <span></span></h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8 columns form-area1">
                    <div class="">
                        <label>Withdrawal Type</label>
                        <el-select v-model="form.withdraw_type" placeholder="Select withdrawal type" style="width: 100%;">
                            <el-option v-for="item in types" :key="item.value" :label="item.label" :value="item.value"></el-option>
                        </el-select>
                    </div>
                    <br>
                    <div class="form-item-radio">
                        <label>How would you like to withdraw?</label>
                        <br>
                        <el-radio-group v-model="form.withdrawal_stage">
                            <template>
                                <el-radio value="mature" label="mature" >On maturity</el-radio>
                            </template>
                            <template>
                                <el-radio value="premature" label="premature">Before maturity</el-radio>
                            </template>
                        </el-radio-group>
                        <ul v-if="withdrawalErrors['withdrawal_stage']" class="text-danger">
                            <li v-for="message in withdrawalErrors['withdrawal_stage']" v-text="message"></li>
                        </ul>
                    </div>
                    <div class="" v-show="form.withdrawal_stage == 'premature'">
                        <label>When would you like to withdraw?</label>
                        <el-date-picker v-model="withdrawal_date" type="date" placeholder="Select withdrawal date" style="width: 100%;"></el-date-picker>
                        <ul v-if="withdrawalErrors['withdrawal_date']" class="text-danger">
                            <li v-for="message in withdrawalErrors['withdrawal_date']" v-text="message"></li>
                        </ul>
                    </div>
                    <br>
                    <div class="" v-if="form.withdraw_type == 'withdrawal'">
                        <label>Select amount to withdraw</label>
                        <el-select v-model="form.amount_select" placeholder="Amount to withdraw" style="width: 100%;">
                            <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
                        </el-select>
                        <ul v-if="withdrawalErrors['amount_select']" class="text-danger">
                            <li v-for="message in withdrawalErrors['amount_select']" v-text="message"></li>
                        </ul>
                    </div>
                    <br>
                    <div class="form-group" v-show="form.amount_select == 'amount' || form.withdraw_type == 'deduction'">
                        <label>Enter the amount</label>
                        <el-input v-model="form.amount" type="text" placeholder="Enter Amount" style="width: 100%;" autoComplete="off"></el-input>
                        <ul v-if="withdrawalErrors['amount']" class="text-danger">
                            <li v-for="message in withdrawalErrors['amount']" v-text="message"></li>
                        </ul>
                    </div>
                    <br>

                    <div class="" v-show="form.amount_select != 'principal_interest' && form.withdraw_type == 'withdrawal'">
                        <label>Select the account to send the money to</label>
                        <el-select v-model="form.client_account_id" placeholder="Select" style="width: 100%;">
                            <el-option
                                    v-for="account in accounts"
                                    :key="account.id"
                                    :label="account.name"
                                    :value="account.id">
                            </el-option>
                        </el-select>
                    </div>
                    <br>

                    <div class="">
                        <label>Enter the reason for withdrawal (optional)</label>
                        <el-input type="textarea" v-model="form.reason" placeholder="Reason..." style="width: 100%;" autoComplete="off"></el-input>
                    </div>
                    <br>
                    <div class="form-submit">
                        <el-button type="success" @click="updateWithdrawalInstruction"><i v-show="submitting" class="fa fa-spinner fa-spin"></i> Update </el-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>