<template id="id-of-template">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel-dashboard">
            <h3>
                Edit Unit Fund Fee Type
                <span class="btn-grouul pull-right">
                    <router-link v-bind:to="{ name: 'unit-fund-fee-types.index' }" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Back to Fee Types</router-link>
                    <router-link v-bind:to="{ name: 'unit-fund-fee-types.show', params: { id: item.id } }" class="btn btn-default"><i class="fa fa-eye"></i> Show Fee Type</router-link>
                </span>
            </h3>

            <form v-on:submit.prevent="updateUnitFundFeeType(item)">
                <div class="form-group">
                    <label>Fund Name</label>
                    <input type="text" name="name" class="form-control" placeholder="Fund name..." v-model="item.name" required>
                    <ul v-if="formErrorsUpdate['name']" class="text-danger">
                        <li v-for="message in formErrorsUpdate['name']" v-text="message"></li>
                    </ul>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Update <i class="fa fa-spinner fa-spin" v-if="loading"></i> </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script type="text/babel">

    export default {

        data() {
            return {
                loading: false,
                url: '',
                formErrorsUpdate: {},
                item: {
                    id: null,
                    name: '',
                }
            }
        },

        mounted: function() {
            let id = this.$route.params.id;

            this.url = `/api/unitization/unit-fund-fee-types/${id}`;

            this.getUnitFundFeeType();
        },

        methods: {
            getUnitFundFeeType: function() {
                axios.get(this.url)
                    .then((response) => {
                        if(response.status == 200) {

                            var data = response.data;

                            if(data.fetched) {
                                this.$set(this, 'item', data.data);
                            }
                            else {
                                flash('Could not fetch requested unit fund fee type', 'danger');
                                this.$router.push({ name: 'unit-fund-fee-types.index' });
                            }
                        }
                    }, (response) => {
                        flash('Oops! Something went wrong!', 'danger');
                        this.$router.push({ name: 'unit-fund-fee-types.index' });
                    });
            },

            updateUnitFundFeeType: function(item) {
                this.loading = true;

                let input = item;

                axios.put(this.url, input).then((response) => {
                    this.loading = false;

                    let data = response.data;

                    if(response.status == 202) {
                        this.success();
                    }
                    else if(response.data.status == 422) {
                        this.throwValidationError(data);
                    }
                }, (response) => {
                    this.loading = false;
                    flash('Oops! Something went wrong', 'danger');
                    this.formErrorsUpdate = response.data;
                });
            },

            success: function() {
                flash('Request to update the unit fund fee type has been saved for approval.', 'info');
                this.$router.push({ name: 'unit-fund-fee-types.index' });
            },

            throwValidationError: function(data) {
                flash('Unit fund fee type failed to save.', 'danger');

                this.formErrorsUpdate = data.errors;
            }
        }
    }
</script>