<template id="id-of-template" v-cloak>
    <div class="col-md-10 col-md-offset-1">
        <div class="panel-dashboard">
            <h3>
                Unit Fund Fee Type Details
                <div class="btn-group pull-right">
                    <router-link v-bind:to="{ name: 'unit-fund-fee-types.index' }" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Back to Fee Types</router-link>
                    <router-link v-bind:to="{ name: 'unit-fund-fee-types.edit', params: { id: item.id } }" class="btn btn-default"><i class="fa fa-pencil-square-o"></i> Edit Fee Type</router-link>
                </div>
            </h3>
            <table class = "table table-hover">
                <tbody>
                    <tr>
                        <td width="30%">ID</td>
                        <td>{{ item.id }}</td>
                    </tr>
                    <tr>
                        <td>Fund Name</td>
                        <td>{{ item.name }}</td>
                    </tr>
                    <tr>
                        <td>Actions</td>
                        <td>
                            <div class="btn-group">

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script type="text/babel">

    export default {

        data() {
            return {
                loading: false,
                url: '',
                item: {
                    id: null,
                    name: '',
                }
            }
        },
        mounted: function() {
            let id = this.$route.params.id;

            this.url = `/api/unitization/unit-fund-fee-types/${id}`;

            this.getUnitFundFeeType();
        },

        methods: {
            getUnitFundFeeType: function() {

                axios.get(this.url)
                    .then((response) => {
                        if(response.status == 200) {

                            let data = response.data;

                            if(data.fetched) {
                                this.$set(this, 'item', data.data);
                            }
                            else {
                                flash('Could not fetch requested unit fund fee type', 'danger');
                                this.$router.push({ name: 'unit-fund-fee-types.index' });
                            }
                        }
                    }, (response) => {
                        flash('Oops! Something went wrong', 'danger');
                        this.$router.push({ name: 'unit-fund-fee-types.index' });
                    });
            },
        }
    }
</script>