<script>
    import {mapGetters} from 'vuex'
    import moment from 'moment'
    import {resolveObject} from '../../../utils';
    import store from '../../../store/index';
    import clientApi from '../../../api/ClientsApi';

    export default {
        data() {
            return {
                form: {
                    date_from: null,
                    date_to: moment(new Date()).format('YYYY-MM-DD'),
                    project: null
                },
                switchClients: false,
                client: {},
            }
        },

        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient',
                loadingReStatements: 'loadingReStatements',
                fetchingProjects: 'fetchingProjects',
                projects: 'myProjects',
                downloadREStatements: 'downloadREStatements',
                statements: 'reStatements',
                totals: 'reStatementsTotals',
                downloadingReStatement: 'downloadingReStatement',
                downloadingExcelReStatement: 'downloadingExcelReStatement'
            }),

            clientId: function () {
                let routed = resolveObject('params.clientId', this.$route);

                return routed === undefined ? this.selectedClient.id : routed;
            },
            routed_component() {
                return this.$route.name;
            }
        },

        watch: {
            selectedClient: {
                handler: function () {
                    this.fetchClient();

                    this.getClientsProject();
                }
            },

            "form.date_from": {
                handler: function () {
                    this.form.date_from = this.form.date_from ? moment(this.form.date_from).format('YYYY-MM-DD') : null;
                }
            },

            "form.date_to": {
                handler: function () {
                    this.form.date_to = moment(this.form.date_to).format('YYYY-MM-DD');
                }
            },

            "form.project": {
                handler: function () {
                    this.getProjectName(this.form.project);
                }
            },

            projects: {
                handler: function () {
                    if (this.projects.length > 0) {
                        this.form.project = this.projects[0].id;
                    }
                }
            },

            form: {
                handler: function () {
                    this.getREStatements();
                }, deep: true
            },

            routed_component: {
                handler: function () {
                    if (this.$route.params.clientId) {
                        this.switchClients = true;
                    }
                }
            }
        },

        methods: {
            getClientsProject: function () {
                this.$store.commit('GET_CLIENTS_PROJECTS', this.clientId);
            },

            getREStatements: function () {
                this.form.clientId = this.clientId;
                this.$store.commit('GET_RE_STATEMENTS', this.form);
            },

            downloadStatementRE() {
                this.form.clientId = this.clientId;
                return store.getters.downloadREStatement(this.form);
            },

            downloadExcelStatementRE() {
                this.form.clientId = this.clientId;
                return store.getters.downloadExcelREStatement(this.form);
            },

            fetchClient: function () {
                let vm = this;
                if (this.clientId) {
                    clientApi.get(this.clientId)
                        .then(function (response) {
                            vm.client = response.data.data;

                            if (!vm.client.hasRE) {
                                vm.$router.push({
                                    path: '/home'
                                });
                            }
                        })
                }
            },

            getProjectName(projectId) {
                let p = this.projects.filter(function (project) {
                    return project.id === projectId
                });

                this.form.project_name = p[0].name;
            }
        },
        created() {
            if (this.$route.params.clientId) {
                this.switchClients = true;
            }
        },
        mounted() {
            if (this.$route.params.clientId) {
                this.switchClients = true;
            }
            this.fetchClient();
            this.getClientsProject();
        }
    }
</script>

<template>
    <div class="crims-page statements">
        <div v-if="switchClients" class="statements_tour_step_1">
            <breadcrumb :noswitchbar='true'>
                <h3>
                    <router-link :to="{name: 'sales.FaClients'}">My Clients</router-link>
                    <span>Statements</span></h3>
            </breadcrumb>
        </div>
        <div v-if="!switchClients" class="statements_tour_step_1">
            <breadcrumb>
                <h3>Statements (Real Estate)</h3>
            </breadcrumb>
        </div>

        <div class="investment-statements">
            <div class="bar">
                <p>STATEMENT - {{ client.fullname }}</p>
            </div>

            <div class="statement-head">
                <div class="statements-fetch-form">
                    <div class="statement-form">
                        <el-select size="mini" placeholder="Select Project" v-model="form.project" v-if="form.project">
                            <el-option
                                    v-for="p in projects"
                                    :label="p.name"
                                    :value="p.id"
                                    :key="p.id">
                            </el-option>
                        </el-select>

                        <span v-else>
                            <i class="el-icon-loading"></i> Fetching projects ...
                        </span>
                    </div>

                    <div class="statement-form">
                        <el-date-picker
                                v-model="form.date_from"
                                type="date"
                                placeholder="Pick date from"
                                clear-icon="">
                        </el-date-picker>
                    </div>

                    <div class="statement-form">
                        <el-date-picker
                                v-model="form.date_to"
                                type="date"
                                placeholder="Pick date to"
                                clear-icon="">
                        </el-date-picker>
                    </div>
                </div>

                <div class="statements-download-form">
                    <el-button-group>
                        <el-button
                                size="small"
                                type="success"
                                icon="el-icon-download"
                                @click="downloadStatementRE">
                            <span v-if="downloadingReStatement">
                                <i class="el-icon-loading"></i> Downloading ...
                            </span>
                            <span v-else>DOWNLOAD PDF</span>
                        </el-button>
                        <el-button
                                size="small"
                                type="danger"
                                icon="el-icon-download"
                                @click="downloadExcelStatementRE">
                            <span v-if="downloadingExcelReStatement">
                                <i class="el-icon-loading"></i> Downloading ...
                            </span>
                            <span v-else>DOWNLOAD EXCEL</span>
                        </el-button>
                    </el-button-group>
                </div>
            </div>
        </div>

        <div class="body">
            <p v-show="loadingReStatements" class="body__loader">
                <i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true"></i>
                Loading Statement...
            </p>

            <table-holder v-if="loadingReStatements"></table-holder>

            <div class="crims-table-area table_scroll" v-else>
                <get-real-estate-statement-embed></get-real-estate-statement-embed>
            </div>
        </div>

        <br>

        <!--<div class="">-->
        <!--<el-button type="primary" size="small">VIEW INTERET BREAKDOWN</el-button>-->
        <!--</div>-->
    </div>

</template>