
<script>
 export default {
  data: function () {
   return {
    show: true
   }
  }
 };
</script>


<template>
 <li>
  <a class="dropdown text"><slot name="button"></slot></a>

  <ul class="menu floating">
    <slot></slot>
  </ul>
 </li>
</template>

<style>
    .floating{
      right: auto;
      display: none;
      position: absolute;
      max-width: 400px;
      min-width: inherit;
      z-index: 100;
      background: #fefefe;
      border: 1px solid #cacaca;
      height: inherit;

      margin: 0;
      list-style-type: none;
    }
</style>