<script>
    export default {
        props: {
            visible: {
                default: false,
                type: Boolean
            },
        },
        data: () => ({
            menu_visible: false
        }),
        watch: {
            visible: {
                handler: function () {
                    this.showMenu()
                }
            }
        },
        methods: {
            showMenu(){
                setTimeout(()=>{
                    this.menu_visible = !this.menu_visible
                }, 400);
            }
        },
    }
</script>
<template>
    <li class="has_dropdown">
        <a @click="showMenu" class="title" >
            <span>
             <slot name="title"></slot>
            </span>
            <i class="caret-arrow" :class="{'title-active': menu_visible}"></i>
        </a>
        <div class="dropdown_menu" v-show="menu_visible">
            <slot name="dropdown">

            </slot>
        </div>
    </li>
</template>