<script>
    import Vue from 'vue';
    import { mapGetters } from 'vuex';
    import event from '../../events';
    import store from '../../store';

    import * as types from '../../store/mutation-types'
    Vue.component('switch-user', require('./switch-user.vue'));
    export default{
        props: ['pageHead', 'pageHeadSub', 'noswitchbar', "topUpButton"],
        data(){
            return {
                switch_board: true,
                topupSuspend: false,
                topup_button: false,
                topupDrawer: false
            }
        },


        computed: {
            ...mapGetters({
                suspendCallout: 'suspendCallout',
                calloutAction: 'calloutAction',
                topups_data: 'topups_data',
                topupCount: 'topupCount',
                fetchCount: 'fetchCount',
                selectedClient: 'selectedClient'
            }),
            routeName() {
                return this.$route.name;
            },

        },

        methods: {
            topup(){
                if(this.topupCount > 0){
                    this.$router.push({name: 'investments.TopUPList'})
                }else{
                    this.topupDrawer = true;
                }
            }
        },

        mounted() {

            if (this.$route.name == 'investments.details' || this.noswitchbar){
                this.switch_board = false;
            }

            event.bus.$emit('current_component', this.$route.name);

            this.topup_button = !!this.topUpButton;
        }
    }
</script>
<template>
    <div>
        <div class="breadcrumb grid-x">
            <div class=" path" :class ="{'large-6': topup_button, 'large-8': !topup_button}">
                  <span>
                      <router-link :to="{ name: 'main'}">
                          <i class="fa fa-tachometer" aria-hidden="true"></i>
                      </router-link>
                  </span>
                  <span> <slot></slot> </span>
            </div>
            <div v-show="topup_button" class="topUp " :class ="{'large-3': topup_button}">
                <el-button @click="topup" type="investment-action-button" :class="{'suspended': suspendCallout}" :disabled="topupCount==null || fetchCount">
                                <span v-show="topupCount == null || fetchCount">
                                    <i class="fa fa-spinner fa-pulse fa-fw"></i>
                                </span>
                                <span v-if="suspendCallout">
                                    Transaction Pending
                                </span>
                                 <span v-else>
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                    <span v-if="topupCount > 0">
                                        View Top-ups
                                    </span>
                                    <span v-else>
                                        Make Top-up
                                    </span>
                                </span>
                </el-button>

                <div class="drawers">
                    <action-drawer title="Top-up" :visible.sync="topupDrawer">
                        <new-top-up ></new-top-up>
                    </action-drawer>
                </div>

            </div>
            <div class="switch-user large-3">
                <div v-if="switch_board">
                    <switch-user></switch-user>
                </div>

                <div v-else>
                    <h2>Investments</h2>
                </div>

            </div>
        </div>
    </div>
</template>