<script>
    import { mapState, mapGetters } from 'vuex';
    import { Notification } from 'element-ui';

    export default {
        data: function () {
            return {

            };
        },
        computed: {
            ...mapGetters({
                submitting: 'submitForm',
                submitted: 'contactUsSubmited',
                errors: 'formErrors',
                form: 'contactUsForm',
            })
        },
        watch:{
            submitted: {
                handler: function () {
                    this.form.subject = '';
                    this.form.message = '';
                    this.errors = {}
                }
            }
        },
        methods: {
            submit () {
                this.$store.commit('CONTACT_US', this.form);
            }
        }
    }
</script>
<template>
    <div class="contactus">

        <breadcrumb>
            <h3>Contact Us</h3>
        </breadcrumb>

        <div class="contact-area">
            <div class="form">
                <el-form v-model="form">
                    <el-form-item>
                        <el-input
                                v-model="form.subject"
                                placeholder="Subject"
                        ></el-input>
                        <form-error v-if="errors.subject" :errors="errors"> <div v-for="error in errors.subject"> <p> {{ error }}</p></div> </form-error>
                    </el-form-item>
                    <el-form-item>
                        <el-input
                                type="textarea"
                                :rows="12"
                                v-model="form.message"
                                placeholder="Message..."
                                ></el-input>
                        <form-error v-if="errors.message" :errors="errors"> <div v-for="error in errors.message"> <p> {{ error }}</p></div> </form-error>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="custom-success" @click="submit()">
                            <i v-show="submitting" class="fa fa-spinner fa-spin"></i> Send
                        </el-button>
                        <!--<el-button @click="clearForm()" type="custom-default"> Clear Fields</el-button>-->
                    </el-form-item>
                </el-form>
            </div>
            <div class="details">
                <div class="contact-details">
                    <table>
                        <tr>
                            <span class="icon">

                            </span>
                            <span class="description">
                                <h3>Headquarters</h3>
                            </span>
                        </tr>
                        <tr>
                            <span class="icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </span>
                            <span class="description">
                                <h4>LIAISON HOUSE<br>
                                    <strong>State House Avenue, 3rd Floor</strong><br>
                                    <span>Nairobi, Kenya</span>
                                </h4>
                            </span>
                        </tr>

                        <tr>
                            <span class="icon">
                                <i class="fa fa-mobile-phone" aria-hidden="true"></i>
                            </span>

                            <span class="description">
                                <h4>+254 (0) 709 101 000</h4>
                            </span>
                        </tr>

                        <tr>
                            <span class="icon">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </span>

                            <span class="description">
                                <h4>+254(0) 20 3929 000</h4>
                            </span>
                        </tr>

                        <tr>
                            <span class="icon">
                                <i class="fa fa-whatsapp" aria-hidden="true"></i>
                            </span>

                            <span class="description">
                                <h4>+254(0) 748 070 000</h4>
                            </span>
                        </tr>

                        <tr>
                            <span class="icon">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </span>

                            <span class="description">
                                <h4>@CytonnInvest</h4>
                            </span>
                        </tr>

                        <tr>
                            <span class="icon">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            </span>
                            <span class="description">
                                <h4>clientservices@cytonn.com</h4>
                            </span>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>