<script>
    import events from '../../events';
    export default {
        props: {
            visible: {
                default: false,
                type: Boolean
            },
            closeButton: {
                default: true,
                type: Boolean
            },
            title: {
                default: '',
                type: String
            },
        },
        data: () => ({
            hide: false,
            backdropVisible: false,
            drawer_title: ''
        }),
        watch: {
            visible: {
                handler: function () {
                    this.openDrawer()
                }
            }
        },
        created() {
            events.bus.$on('update_title', (title)=>{
                this.drawer_title = title;
            });
            events.bus.$on('close_drawer', ()=>{
                setTimeout(()=>{
                    this.close_drawer();
                }, 1500)
            })
        },
        methods: {
            close_drawer() {
                this.$emit('update:visible', false);
                this.$emit('close');
                this.closed = true;
                events.bus.$emit('clear_drawer_form');

                setTimeout(()=> {
                    document.body.className = document.body.className.replace('modal_toggled',"");
//                    this.backdropVisible = false
                }, 600)
            },
            openDrawer(){
                document.body.classList.add('modal_toggled');
                this.hide = this.visible;

                if(!this.visible){
                    setTimeout(()=>{
                        this.backdropVisible = this.visible;
                    }, 600);
                }else {
                    this.backdropVisible = this.visible;
                }

            }
        },
        mounted(){
            this.openDrawer();
            this.drawer_title = this.title;
            document.body.appendChild(this.$el);
        }
    }
</script>
<template>
    <div>
        <div @click="close_drawer" v-show="backdropVisible" :class="{'background-overlay': backdropVisible }"></div>

        <div class="open-bar-section-offset" @click="close_drawer" :class="{'hide': !hide }" >
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </div>

        <transition name="callout-transition">
            <div class="action-callouts" :class="{'hide-callout': hide}" v-show="hide">
                <div class="callout-bar-title">
                    <div class="bar-section-offset" @click="close_drawer" >
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </div>
                    <div class="bar-section-main" >
                        <div class="callout-title">
                            <h3> <span>{{drawer_title}}</span>
                            </h3>
                        </div>
                        <div class="close-callout" @click="close_drawer">
                            <img src="/assets/icons/close-callout.svg">
                        </div>
                    </div>
                </div>

                <div class="action-callout-body">
                    <slot></slot>
                </div>
            </div>
        </transition>


    </div>
</template>
