<script>
    import Vue from 'vue';
    import event from '../../events'
    Vue.component('switch-fa', require('./switch-fa.vue'))
    export default{
        props: ['pageHead', 'pageHeadSub'],
        computed: {
            routeName() {
                return this.$route.name;
            }
        },
        mounted() {
            event.bus.$emit('current_component', this.$route.name);
        }
    }
</script>
<template>
    <div>
        <div class="breadcrumb">
            <div class="large-8 path">
                  <span>
                      <router-link :to="{ name: 'main'}">
                          <i class="fa fa-tachometer" aria-hidden="true"></i>
                      </router-link>
                  </span>
                <span> <slot></slot> </span>
            </div>
            <div class="large-4 switch-user">
                <switch-fa></switch-fa>
            </div>
        </div>
    </div>
</template>