<script>
    import Vue from 'vue';
    import {mapGetters} from 'vuex';
    export default {
        data(){
            return {
                selected: '',
                fa: {}
            }
        },
        computed: {
            ...mapGetters({
                currentFa: 'currentFa',
                faClientsList: 'faClientsList',
                currentUser: 'currentUser',
                isFa: 'isFa',
            }),
            faList() {
                if(this.faClientsList.data) return this.faClientsList.data;
            }
        },
        methods: {
          switchFa(){
              this.$store.commit('SWITCH_FA', this.fa )
          }
        },
        mounted() {
            this.$store.commit('FETCH_FA', { id:this.currentUser.fas[0].id });


        }
    }
</script>


<template>
    <div class="fa-switch" v-show="isFa" >
        <el-form>
            <el-form-item>
                <!--<el-select v-model="selected" style="width: 100%;">-->
                    <!--<el-option-->
                            <!--v-for="fa in faList"-->
                            <!--:key="fa.id"-->
                            <!--:label="fa.fullname"-->
                            <!--:value="fa.id">-->
                    <!--</el-option>-->
                <!--</el-select>-->
            </el-form-item>
        </el-form>

        <h2>Sales</h2>
    </div>
</template>

<style scoped lang="scss">
    .fa-switch {
        h2 {
            opacity: 7;
            float: right;
            padding-bottom: 14px;

            color: rgba(112, 112, 112, 0.5);
            font-size: 15px;
            font-weight: 400;
        }
    }
</style>