<script>
    import { mapGetters } from 'vuex';
    import { Message } from 'element-ui';
    import event from '../../events'

    export default {
        props: {
            banner_component: {
                default: false
            }
        },
        data() {
            return {
                client: {}, selected: ''
            }
        },
        computed: {
            ...mapGetters({
                currentUser: 'currentUser',
                selectedClient: 'selectedClient',
                balance: 'totalBalance',
                isClient: 'isClient',
                isMultipleClient: 'isMultipleClient'
            })
        },
        watch: {
            selectedClient: {
                handler: function ()
                {
                    this.totalBalance();
                    this.bankAccounts();
                }
            },
            selected: {
                handler: function ()
                {
                    let vm = this;
                    this.client = (this.currentUser.access).filter(function (c)
                    {
                        return (c.id == vm.selected);
                    })[0];
                    this.switchClient();
                }
            }
        },
        methods: {
            switchClient: function ()
            {
                this.$store.dispatch('switchClient', this.client);
                event.bus.$emit('client_switched');
            },
            totalBalance: function ()
            {
                if(this.selectedClient)
                {
                    this.$store.commit('GET_CLIENT_TOTAL_BALANCE', this.selectedClient);
                } else
                {
                    Message.warning({ message:  'There is no client selected', title: 'Warning!' });
                }
            },
            bankAccounts: function ()
            {
                if(this.selectedClient)
                {
                    this.$store.commit('CLIENT_BANK_ACCOUNTS', this.selectedClient);
                }
            }
        },
        mounted() {
            this.totalBalance();
            this.bankAccounts();
        }
    }
</script>

<template>
    <div v-show="isClient">
        <div v-if="$route.name == 'main' || banner_component" id="dashboard_tour_step_2">
            <div class="banner-left" v-show="isClient">
                <form  v-show="isMultipleClient">
                    <div class="grid-x switch-account-container">
                        <div class="small-4 switch-account-label">
                            <label >Switch Account:</label>
                        </div>
                        <div class="small-8 switch-account">

                            <el-select v-model="selected" :placeholder="selectedClient.name" style="width: 100%;">
                                <el-option
                                        v-for="c in currentUser.access"
                                        :key="c.id"
                                        :label="c.shortname"
                                        :value="c.id">

                                </el-option>
                            </el-select>

                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div v-else>
            <el-form size="mini" v-show="isMultipleClient">
                <el-form-item>
                    <el-select size="mini" v-model="selected" :placeholder="selectedClient.name" style="width: 100%;">
                        <el-option
                                v-for="c in currentUser.access"
                                :key="c.id"
                                :label="c.shortname"
                                :value="c.id"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
        </div>

    </div>
</template>