<style scoped>
    table {
        text-align: left;
    }

    .bank-details td {
        padding-left: 4%;
    }

</style>

<script>
    import {mapGetters} from 'vuex';

    export default {
        props: ['fundId'],
        data: function () {
            return {
                activeNames: ['1']
            };
        },
        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient',
                fetchingAccounts: 'fetchingAccounts',
                mpesaAccount: 'fundMpesaAccount',
                bankAccount: 'fundBankAccount',
            }),
        },
        methods: {
            handleChange(){},

            fetchBankDetails(){
                if (this.fundId){
                    this.$store.commit('FETCH_BANK_ACCOUNT_DETAILS', this.fundId);
                }
            }
        },

        mounted() {
            this.fetchBankDetails();
        }
    }
</script>

<template>
    <el-collapse v-model="activeNames" @change="handleChange">
        
        <el-collapse-item title="BANK DETAILS ACCOUNT" name="1" v-if="bankAccount">

            <div>
                <table>
                    <tr>
                        <th>BANK ACCOUNT NAME</th>
                        <td>{{bankAccount.account_name}}</td>
                    </tr>
                    <tr>
                        <th>ACCOUNT NUMBER</th>
                        <td>{{bankAccount.number}}</td>
                    </tr>
                    <tr>
                        <th>BANK NAME</th>
                        <td>{{bankAccount.bank_name}}</td>
                    </tr>
                    <tr v-if="bankAccount.branch">
                        <th>BANK BRANCH</th>
                        <td>{{bankAccount.branch}}</td>
                    </tr>
                    <tr>
                        <th>SWIFT CODE</th>
                        <td>{{bankAccount.swift_code}}</td>
                    </tr>
                </table>
            </div>
        </el-collapse-item>

        <div class="alert alert-info"  v-else>
            <p>No Bank Account Available</p>
        </div>

        <el-collapse-item title="FOR MPESA PAYBILL" name="2" v-if="mpesaAccount">
            <div>
                <table>
                    <tr>
                        <th>PAYBILL BUSINESS NO</th>
                        <td>{{mpesaAccount.paybill}}</td>
                    </tr>

                    <tr>
                        <th>PAYBILL ACCOUNT NO</th>
                        <td>
                            <span v-if="selectedClient.client_code">{{selectedClient.client_code}}</span>
                            <span v-else>
                                (Clients name for the first remittance after which the client is to use client code as will be assigned)
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </el-collapse-item>

        <div class="alert alert-info"  v-else>
            <p>No MPESA Account Available</p>
        </div>
    </el-collapse>
</template>