<script>
    import RolloverMixins from './rolloverMixins'
    export default {
        mixins: [RolloverMixins]
    }
</script>
<template>
    <div class="rollover">
        <div class="rollover-contain" v-if="step==='form'">
            <el-form label-position="top" size="mini" ref="rolloverForm" :model="rolloverForm" :rules="rules">
                <el-form-item label="Select amount to rollover" prop="amount_select">
                    <el-select v-model="rolloverForm.amount_select" placeholder="Amount to rollover" style="width: 95%;">
                        <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
                    </el-select>
                </el-form-item>

                <div  v-show="rolloverForm.amount_select == 'amount'">
                    <el-form-item label="Enter the amount to rollover" prop="amount">
                        <el-input-number class="amount" :controls="false"  v-model="rolloverForm.amount" style="width: 95%;" placeholder="Enter amount to rollover" autoComplete="off"></el-input-number>
                    </el-form-item>
                </div>

                <el-form-item label="New investment duration" prop="tenor">
                    <el-select v-model="rolloverForm.tenor" placeholder="please select the tenor" style="width: 95%;">
                        <el-option label="3 Months" value="3"></el-option>
                        <el-option label="6 Months" value="6"></el-option>
                        <el-option label="9 Months" value="9"></el-option>
                        <el-option label="1 Year" value="12"></el-option>
                        <!--<el-option label="Other" value="NaN"></el-option>-->
                    </el-select>
                </el-form-item>

                <div v-show="rolloverForm.tenor =='NaN'">
                    <el-form-item label="Enter the investment duration in months" prop="tenor_value">
                        <el-input-number class="amount" :controls="false" v-model="rolloverForm.tenor_value" style="width: 95%;" placeholder="Investment Period" autoComplete="off"></el-input-number>
                    </el-form-item>
                </div>

                <div v-show="rolloverForm.amount_select != 'principal_interest'">
                    <el-form-item label="Select the account to send the balance to" prop="selected_account">
                        <el-select v-model="rolloverForm.selected_account" placeholder="Select account" style="width: 95%;">
                            <el-option v-for="c in accounts" :key="c.id" :label="c.name" :value="c"></el-option>
                        </el-select>
                    </el-form-item>
                </div>

                <div class="rollover-interst" v-show="rolloverForm.amount_select">
                    <p v-show="rolloverForm.amount_select == 'principal_interest' ">
                        Your Rollover Principal + Interest is: {{currency_code}} {{ investment.total_value | currency }} <br>
                        Your Balance will be: {{currency_code}} 0.00 <br>
                    </p>
                    <p v-show="rolloverForm.amount_select == 'principal' ">
                        Your Rollover Principal is: {{currency_code}} {{ investment.amount | currency }} <br>
                        Your Balance will be: {{currency_code}} {{investment.net_interest | currency}}
                    </p>
                    <p v-show="rolloverForm.amount_select == 'interest' ">
                        Your Rollover Interest is: {{currency_code}} {{ investment.net_interest | currency }} <br>
                        Your Balance will be: {{currency_code}} {{investment.amount | currency}}
                    </p>
                    <p v-show="rolloverForm.amount_select == 'amount' && rolloverForm.amount ">
                        Your Principal is: {{currency_code}} {{investment.amount | currency}} <br>
                        Your Interest total is: {{currency_code}} {{ investment.net_interest | currency }} <br>
                        Your Interest + Principal total is: {{currency_code}} {{ investment.total_value | currency }} <br>
                        Your Balance will be:
                        <span v-if="amount_balance > 0">
                            {{currency_code}} {{amount_balance | currency}}
                        </span>
                        <span v-else>
                            <strong>
                                {{amount_balance}}
                            </strong>
                        </span>
                    </p>
                </div>

                <!--<div class="rollover-interst rate" v-show="rolloverForm.amount_select && rolloverForm.tenor">-->
                    <!--<el-form-item prop="agreed_rate">-->
                        <!--<p v-if="fetchingagreedRate">Loading Agreed rate....</p>-->
                        <!--<p v-if="rolloverForm.agreed_rate && !fetchingagreedRate" style="margin-bottom: 0">Interest rate is: {{rolloverForm.agreed_rate}}%</p>-->
                        <!--<el-input-number class="amount" :controls="false" v-model="rolloverForm.agreed_rate" style="display: none"></el-input-number>-->
                    <!--</el-form-item>-->
                <!--</div>-->

                <el-form-item label="" prop="agreed_to_terms">
                        <el-checkbox v-model="rolloverForm.agreed_to_terms">Click here to agree to our <a @click="dialogTableVisible = true">terms and conditions</a></el-checkbox>
                </el-form-item>

                <div v-if="!selectedClient.kycValidated">
                    <el-alert
                            description="Please update your KYC details to be able to make a rollover instruction."
                            title=''
                            type="error"
                            :closable="false">
                    </el-alert>
                </div>

                <br/>

                <el-form-item>
                    <el-button type="custom-success" :disabled="!selectedClient.kycValidated" @click="showConfirm('rolloverForm')" >Rollover</el-button>
                    <el-button type="custom-default" @click="close">Cancel</el-button>
                </el-form-item>
            </el-form>
        </div>

        <!-- Modal for Rollover terms and conditions -->
        <el-dialog title="" append-to-body :visible.sync="dialogTableVisible">
            <rollover-terms :investment="investment.id"> </rollover-terms>
        </el-dialog>

        <div v-if="step === 'confirm'">
            <div class="confirm-rollover"
                 v-loading="submitting"
                 element-loading-text="Please wait as the rollover information you provided is being submitted">

                <div class="description">
                    <h3>Total to rollover</h3>
                    <p>
                        <span v-show="amount_select == 'principal_interest' ">
                            {{currency_code}} {{ investment.total_value | currency }}
                        </span>
                        <span v-show="amount_select == 'principal' ">
                            {{currency_code}} {{ investment.amount | currency }}
                        </span>
                        <span v-show="amount_select == 'interest' ">
                            {{currency_code}} {{ investment.net_interest | currency }}
                        </span>
                        <span v-show="amount_select == 'amount' ">
                          {{currency_code}} {{ rolloverForm.amount | currency}}
                        </span>
                    </p>
                </div>

                <div class="description">
                    <h3>Balance</h3>
                    <p>
                        <span v-show="amount_select == 'principal_interest' ">
                            {{currency_code}} 0.00
                        </span>
                        <span v-show="amount_select == 'principal' ">
                            {{currency_code}} {{ investment.net_interes | currency }}
                        </span>
                        <span v-show="amount_select == 'interest' ">
                            {{currency_code}} {{ investment.amount | currency }}
                        </span>
                        <span v-show="amount_select == 'amount' ">
                          {{currency_code}} {{amount_balance | currency}}.00
                        </span>
                    </p>
                </div>

                <div v-show="rolloverForm.tenor" class="description">
                    <h3>Duration</h3>
                    <p>{{rolloverForm.tenor}} Months</p>
                </div>

                <!--<div v-show="rolloverForm.tenor" class="description">-->
                    <!--<h3>Agreed Rate</h3>-->
                    <!--<p>{{rolloverForm.agreed_rate}}%</p>-->
                <!--</div>-->

                <div class="description last">
                    <el-button type="custom-success" @click="submit">Submit</el-button>
                    <el-button type="custom-default" @click="close()">Cancel</el-button>
                </div>
            </div>
        </div>

        <div v-if="step === 'success'">
            <div class="rollover-success">
                <div class="message">
                    <h3>Rollover Information was submitted successfully. We will notify you after 24 hours and update the details accordingly. Thank you.  </h3>
                </div>
                <div class="icon">
                    <h1><i class="fa fa-check-circle" aria-hidden="true"></i></h1>
                </div>
            </div>
        </div>

    </div>
</template>