<script>
    import {mapGetters} from 'vuex';

    export default {
        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient',
                clientApprovals: 'clientApprovals'
            }),
            approvals() {
                if (this.clientApprovals.approvals) {
                    return this.clientApprovals.approvals
                }
                return []
            },
            approvalsCount() {
                if (this.clientApprovals.approvals) {
                    return this.clientApprovals.approvals.length;
                }

                return 0;
            }
        },

        mounted() {
            if (this.approvals.length > 0) {} else {
                this.$store.commit('CLIENT_APPROVALS', this.selectedClient.id);
            }
        }
    }
</script>

<template>
    <div class="investment-card-top-section">
        <div class="investment-card-header">
            <div class="title">
                <small>{{clientApprovals.short_description}}</small>
            </div>
        </div>

        <div class="card-section investment-card-body">
            <div class="description">
                <h2>{{approvalsCount}} Pending Approvals</h2>
                <p>{{clientApprovals.short_description}}</p>
            </div>
            <div class="view_button">
                <router-link :to="{name: 'pendingApprovals', params: {clientId: selectedClient.id}}"
                             class="button secondary">View All
                </router-link>
            </div>
        </div>
    </div>
</template>