<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapGetters({
                reportDetails: 'reportDetails',
                dynamicArguments: 'dynamicArguments',
            })
        }
    }
</script>

<template>
    <div class="panel">
        <div class="panel-body">
            <div class="row" v-for="argument in dynamicArguments">
                <div class="col-md-4">
                    <p><b>Select column:</b></p>
                    <el-select
                            v-model="argument.column_id"
                            filterable
                            placeholder="Select column"
                            style="width: 100%;"
                            disabled
                    >
                        <el-option
                                v-for="col in reportDetails.columns"
                                :key="col.id"
                                :label="col.label"
                                :value="col.id">
                        </el-option>
                    </el-select>
                    <br>
                </div>

                <div class="col-md-4" v-if="argument.dynamic">
                    <p><b>Enter argument value:</b></p>
                    <el-input  v-model="argument.value" placeholder="argument value"></el-input>
                    <br>
                </div>
                <br>
            </div>
            <br>
        </div>
    </div>
</template>