<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapGetters({
                reportDetails: 'reportDetails'
            })
        }
    }
</script>

<template>
    <div class="">
        <table class = "table table-hover">
            <thead>
            <tr>
                <th>Label</th>
                <th>Column</th>
                <th>Format</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="col in reportDetails.columns">
                <td>{{ col.name }}</td>
                <td>{{ col.label }}</td>
                <td>{{ col.format }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>