<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapGetters({
                reportDetails: 'reportDetails'
            })
        }
    }
</script>

<template>
    <div class="">
        <table class = "table table-hover">
            <tbody>
            <tr>
                <td>Name</td>
                <td>{{ reportDetails.name }}</td>
            </tr>
            <tr>
                <td>Model</td>
                <td>{{ reportDetails.model }}</td>
            </tr>
            <tr>
                <td>Created on</td>
                <td>{{ reportDetails.date }}</td>
            </tr>
            <tr>
                <td>Has dynamic arguments ? </td>
                <td>
                    <span v-if="reportDetails.dynamic">
                        <el-tag type="warning">Yes</el-tag>
                    </span>
                    <span v-else>
                        <el-tag type="success">No</el-tag>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>