<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapGetters({
                reportDetails: 'reportDetails'
            })
        }
    }
</script>

<template>
    <div class="">
        <table class = "table table-hover">
            <thead>
            <tr>
                <th>Type</th>
                <th>Field</th>
                <th>Value</th>
                <th>Boolean</th>
                <th>Operator</th>
                <th>Relation</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="filt in reportDetails.filters">
                <td>{{ filt.type_id }}</td>
                <td>{{ filt.field }}</td>
                <td>
                    <span v-for="fil in filt.value">
                        {{ fil }},
                    </span>
                </td>
                <td>{{ filt.boolean }}</td>
                <td>{{ filt.operator }}</td>
                <td>{{ filt.relation }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>