<script>
    import { mapGetters } from 'vuex';
    import Vue from 'vue';

    Vue.component('update-arguments', require('./arguments'));
    Vue.component('columns-table', require('./columns'));
    Vue.component('filters-table', require('./filters'));
    Vue.component('details-table', require('./details'));

    export default {
        data() {
            return {
                activeNames: 'columns'
            }
        },

        computed: {
            ...mapGetters({
                reportDetails: 'reportDetails',
                exportingReport: 'exportingReport',
                deletingReport: 'deletingReport',
                dynamicArguments: 'dynamicArguments',
                fillArguments: 'fillArguments'
            })
        },

        methods: {
            exportReport: function () {
                this.$store.commit('EXPORT_REPORT', {
                    id: this.reportDetails.id,
                    form: this.dynamicArguments
                });
            },

            dynamicRequired: function () {

                console.log(this.reportDetails.dynamic);
                if(this.reportDetails.dynamic) {
                    this.$store.commit('UPDATE_ARGUMENTS', true);
                    return;
                }

                this.exportReport();
            },

            deleteReport: function () {
                this.$confirm('Are you sure to close to delete this report?')
                    .then(_ => {
                        this.$store.commit('DELETE_REPORT', this.reportDetails.id);
                    })
                    .catch(_ => {});
            }
        },

        mounted() {
            this.$store.commit('REPORT_DETAILS', this.$route.params.id);
        }
    }
</script>

<template>
    <div class="col-md-12">
        <div class="panel-dashboard">
            <div class="col-md-5">
                <div class="col-md-11 detail-group">
                    <h5><b>REPORT DETAILS</b></h5>
                    <br>
                    <details-table></details-table>
                    <br>

                    <table class = "table table-hover">
                        <tbody>
                        <tr>
                            <td><h5><b>ACTIONS</b></h5></td>
                            <td colspan="3">
                                <el-button type="danger" size="mini" @click="deleteReport">
                                    <i class="el-icon-loading" v-if="deletingReport"></i>
                                    <i class="el-icon-delete" v-else></i>
                                </el-button>
                                <!--<el-button type="success" size="mini"> <i class="el-icon-edit"></i></el-button>-->
                                <el-button type="primary" size="mini" @click="dynamicRequired">
                                    <i class="el-icon-loading" v-if="exportingReport"></i>
                                    <i class="el-icon-upload2" v-else></i>
                                    Export
                                </el-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="">
                    <el-dialog
                            title = "UPDATE DYNAMIC ARGUMENTS"
                            :visible.sync="fillArguments"
                            :show-close="false">
                        <span>
                            <update-arguments></update-arguments>
                            <div class="panel-body">
                                <el-button type="success" @click="exportReport" size="mini">
                                    <i class="el-icon-loading" v-if="exportingReport"></i>
                                    <i class="el-icon-upload2" v-else></i>
                                    Save
                                </el-button>

                                <el-button type="default" @click="fillArguments = false" size="mini">Close</el-button>
                            </div>
                        </span>
                    </el-dialog>
                </div>

            </div>

            <div class="col-md-7">
                <div class="row">
                    <div class="pull-right">
                        <a href="/dashboard/investments/reports" class="btn btn-default">
                            <i class="fa fa-list-alt"></i>
                            Back to reports
                        </a>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="">
                        <el-collapse v-model="activeNames">
                            <el-collapse-item title="COLUMNS" name="columns">
                                <div class="">
                                    <columns-table></columns-table>
                                </div>
                            </el-collapse-item>
                            <el-collapse-item title="FILTERS" name="filters">
                                <filters-table></filters-table>
                            </el-collapse-item>
                        </el-collapse>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>