<script>
    import PortfolioMixin from '../mixins/index';
    import { mapGetters } from 'vuex';
    import moment from 'moment';

    export default {
        mixins: [ PortfolioMixin ],
        data() {
            return {
                form: { taxable: true },
                value_date: '',
                investment_date: '',
                maturity_date: '',
                interest_payments: [ { date: "", id: ''} ],
                type: null
            }
        },
        computed: {
            ...mapGetters({
                savingBond: 'savingBond',
                bondErrors: 'bondErrors',
                security: 'portfolioSecurity'
            })
        },
        watch: {
            value_date: {
                handler: function () {
                    this.form.value_date = moment(this.value_date).format('YYYY-MM-DD');
                }
            },
            maturity_date: {
                handler: function () {
                    this.form.maturity_date = moment(this.maturity_date).format('YYYY-MM-DD');
                }
            },
            bondErrors: {
                handler: function () {
                    console.log(this.bondErrors, "these are the bond errors");
                }
            }
        },
        methods: {
            submitForm: function () {
                let interestDates = this.interest_payments;
                this.form.portfolio_security_id = this.security.id;

                interestDates.forEach((interestDate)=>
                {
                    return interestDate.date = moment(interestDate.date).format('YYYY-MM-DD');
                });

                this.form.interest_payment_dates = this.interest_payments;
                this.$store.commit('SAVE_BONDS', this.form);
            },

            closeModal: function ()
            {
                this.$store.commit('CREATE_BOND_MODAL', false);
            },

            addRow: function()
            {
                this.interest_payments.push({ date:"" });
            },

            removeRow: function(row)
            {
                let items = this.interest_payments;
                if(items.length > 1) items.splice(_.indexOf(items, _.find(items, function (item) { return item.date === row.date; })), 1);
            }
        }
    }
</script>

<template>
    <div class="">
        <div class="panel panel-success">
            <div class="panel-heading">
                <p><i class="fa fa-info"></i> Add Bond Security</p>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Face Value</label>
                            <input type="text" name="name" class="form-control" placeholder="" v-model="form.face_value" required>
                            <ul v-if="bondErrors['face_value']" class="text-danger">
                                <li v-for="message in bondErrors['face_value']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Value Date</label>
                            <el-date-picker
                                    v-model="value_date"
                                    type="date"
                                    placeholder="" style="width: 100%;">
                            </el-date-picker>
                            <ul v-if="bondErrors['value_date']" class="text-danger">
                                <li v-for="message in bondErrors['value_date']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Maturity Date</label>
                            <el-date-picker
                                    v-model="maturity_date"
                                    type="date"
                                    placeholder="" style="width: 100%;">
                            </el-date-picker>
                            <ul v-if="bondErrors['maturity_date']" class="text-danger">
                                <li v-for="message in bondErrors['maturity_date']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Tenor (in years)</label>
                            <el-input-number v-model="form.tenor" :min="1" style="width: 100%;"></el-input-number>
                            <ul v-if="bondErrors['tenor']" class="text-danger">
                                <li v-for="message in bondErrors['tenor']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6" v-show="security.slug != 'treasury-bills'">
                        <div class="form-group">
                            <label>Coupon Rate</label>
                            <el-input-number v-model="form.coupon_rate"  :min="1" style="width: 100%;"></el-input-number>
                            <ul v-if="bondErrors['coupon_rate']" class="text-danger">
                                <li v-for="message in bondErrors['coupon_rate']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Quoted Yield</label>
                            <el-input-number v-model="form.quoted_yield"  :min="1" style="width: 100%;"></el-input-number>
                            <ul v-if="bondErrors['quoted_yield']" class="text-danger">
                                <li v-for="message in bondErrors['quoted_yield']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row" >
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>(i.e Quoted yield at par)</label>
                            <el-select v-model="form.quoted_yield_measure" style="width: 100%;" placeholder="">
                                <el-option value="at par" label="At par"></el-option>
                                <el-option value="at premium" label="At premier"></el-option>
                                <el-option value="at discount" label="At discount"></el-option>
                            </el-select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <el-checkbox v-model="form.taxable" style="width: 100%;">Taxable</el-checkbox>
                        </div>
                        <br>
                        <div class="form-group" v-if="form.taxable">
                            <label>Tax Rate</label>
                            <input type="text" name="name" class="form-control" placeholder="" v-model="form.tax_rate" required>
                            <ul v-if="bondErrors['tax_rate']" class="text-danger">
                                <li v-for="message in bondErrors['tax_rate']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" v-for="row in interest_payments">
                            <div class="row">
                                <div class="col-md-8">
                                    <el-date-picker
                                            v-model="row.date"
                                            type="date"
                                            placeholder="Interest Payment Date" style="width: 100%;">
                                    </el-date-picker>
                                </div>
                                <div class="col-md-3" v-if="interest_payments.length > 1">
                                    <button class="btn btn-primary" @click="removeRow(row)"><i class="fa fa-minus"></i></button>
                                </div>
                                <br>
                                <br>
                            </div>
                            <br>
                        </div>
                        <br>
                        <div class="">
                            <button class="btn btn-primary" @click="addRow"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>

                    <div class="col-md-6">

                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <button class="btn btn-primary" @click="submitForm">
                <i class="fa fa-spinner fa-spin" v-if="savingBond"></i> <i class="fa fa-save" v-else></i> Save
            </button>
            <a class="btn btn-default" @click="closeModal">Close</a>
        </div>
    </div>
</template>