<script>
    import Vue from 'vue';
    import vueTableMixin from '../../../mixins/vuetable_mixin';
    import { mapGetters } from 'vuex';

    Vue.component('create-bond', require('./create.vue'));

    export default {
        mixins: [ vueTableMixin ],

        data() {
            return {
                url: '/api/portfolio/bonds',
                fields: [
                    { name: 'code', title: 'Code', sortField: 'code' },
                    { name: 'name', title: 'Security Name', sortField: 'name' },
                    { name: 'type', title: 'Bond Type', sortField: 'type' },
                    { name: 'investor', title: 'Investor', sortField: 'issuer' },
                    { name: 'value_date', title: 'Value Date', sortField: 'value_date' },
                    { name: 'maturity_date', title: 'Maturity Date', sortField: 'maturity_date' },
                    { name: 'coupon_rate', title: 'Coupon Rate', sortField: 'coupon_rate' },
                    { name: 'face_value', title: 'Face Value', sortField: 'face_value' },
                    { name: '__view_action', title: 'View', titleClass: 'text-center', dataClass: 'text-center' },
                    { name: '__edit_action', title: 'Edit', titleClass: 'text-center', dataClass: 'text-center' },
                ],
                tableState: {
                },
                promise: true,
                bondModal: false
            }
        },
        computed: {
            ...mapGetters({
                createBond: 'createBond'
            })
        },
        watch: {
            createBond: {
                handler: function ()
                {
                    this.bondModal = this.createBond;
                }
            }
        },
        methods: {
            createBondModal: function ()
            {
                this.$store.commit('CREATE_BOND_MODAL', true);
            },
        }
    }
</script>

<template>
    <div class="">
        <div class="">
            <h3>
                <div class="btn-group pull-left">
                    <button class="btn btn-primary" @click="createBondModal"><i class="fa fa-plus-square-o"></i> Add Bond Security </button>
                    <router-link v-bind:to="{ name: 'asset-classes' }" class="btn btn-default"><i class="fa fa-eye-slash"></i> Bond Summary </router-link>
                </div>
            </h3>

            <search-bar :search-label='"Search unit fund..."'></search-bar>

            <div class="crims_table">
                <vuetable ref="vuetable"
                          :api-url="url"
                          :fields="fields"
                          pagination-path=""
                          @vuetable:pagination-data="onPaginationData"
                          :append-params="tableState"
                          :per-page="itemsPerPage"
                >
                </vuetable>

                <div class="vuetable-pagination ui basic segment grid crims_pagination">
                    <table>
                        <tfoot>
                        <tr>
                            <td class="text-center" width="50%">
                                <div class="inline-block" style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                    <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                    <select style="width: 100px" class="form-control" v-model="itemsPerPage" @change="changePerPage">
                                        <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}</option>
                                    </select>
                                </div>
                            </td>
                            <td class="text-center">
                                <vuetable-pagination-info ref="paginationInfo">
                                </vuetable-pagination-info>
                                <vuetable-pagination ref="pagination"
                                                     @vuetable-pagination:change-page="onChangePage"
                                ></vuetable-pagination>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <el-dialog
                title = ""
                :visible.sync="bondModal"
                width="30%"
                :close-on-click-modal="false"
                :show-close="false">
                <span>
                    <create-bond></create-bond>
                </span>
        </el-dialog>
    </div>
</template>