<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapGetters({
                securityDetails: 'securityDetails'
            })
        },

        data() {
            return {
                securityId: this.$route.params.id
            }
        },

        methods: {
            getSecurityDetails: function () {
                this.$store.commit('GET_BOND_SECURITY_DETAILS', { securityId: this.$route.params.id, holdingId: this.$route.params.holding_id });
            }
        },

        mounted(){
            this.getSecurityDetails();
        }
    }
</script>

<template>
    <div class="col-md-10 col-md-offset-1">
        <div class="panel-dashboard">
            <h3>
                {{ securityDetails.code }} {{ securityDetails.name }}
                <div class="btn-group pull-right">
                    <router-link v-bind:to="{ name: 'portfolio-securities.show', params: { id: securityId } }" class="btn btn-default">
                        <i class="fa fa-long-arrow-left"></i>
                        Back To Security
                    </router-link>
                </div>
            </h3>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <p><i class="fa fa-mars-double"></i> Security Details</p>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr>
                                                <th width="30%">Code:</th>
                                                <td>{{ securityDetails.code }}</td>
                                            </tr>
                                            <tr>
                                                <th width="30%">Security Name:</th>
                                                <td>{{ securityDetails.name }}</td>
                                            </tr>
                                            <tr>
                                                <th width="30%">Bond Type:</th>
                                                <td>{{ securityDetails.type }}</td>
                                            </tr>
                                            <tr>
                                                <th width="30%">Investor:</th>
                                                <td>{{ securityDetails.investor }}</td>
                                            </tr>
                                            <tr>
                                                <th width="30%">Value Date: </th>
                                                <td>{{ securityDetails.value_date | date }}</td>
                                            </tr>
                                            <tr>
                                                <th width="30%">Maturity Date:</th>
                                                <td>{{ securityDetails.maturity_date | date }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-12">
                                    <span v-show="securityDetails.slug == 'treasury-bonds'">
                                        <table class="table table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>Coupon Rate</th>
                                                    <th>Quoted Yield</th>
                                                    <th>Face Value</th>
                                                    <th>Interest Earned (p.d)</th>
                                                    <th>Interest Earned (p.a)</th>
                                                    <th>Accrued Interest Earned</th>
                                                    <th>Yield of Bond</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{ securityDetails.coupon_rate }}%</td>
                                                    <td>{{ securityDetails.quoted_yield }}%</td>
                                                    <td>{{ securityDetails.face_value | currency }}</td>
                                                    <td>{{ securityDetails.interest_earned_per_day | currency }}</td>
                                                    <td>{{ securityDetails.interest_earned_per_annum | currency }}</td>
                                                    <td>{{ securityDetails.accrued_interest | currency }}</td>
                                                    <td>{{ securityDetails.yield | currency }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </span>
                                    <span v-show="securityDetails.slug == 'treasury-bills'">
                                        <table class="table table-responsive">
                                            <thead>
                                                <tr>
                                                    <th> Value Date </th>
                                                    <th> Maturity Date </th>
                                                    <th> Face Value </th>
                                                    <th> Offer Price </th>
                                                    <th> Actual Purchase Price </th>
                                                    <th> Return to Fund </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>{{ securityDetails.value_date | date }}</td>
                                                    <td>{{ securityDetails.maturity_dae | date }}</td>
                                                    <td>{{ securityDetails.face_value | currency }}</td>
                                                    <td>{{ securityDetails.offer_price | currency }}</td>
                                                    <td>{{ securityDetails.actual_purchase_price | currency }}</td>
                                                    <td>{{ securityDetails.return_to_fund | currency }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">

                </div>
            </div>
        </div>
    </div>
</template>