<script>
    import BuyUnitsMixin from './buy'

    export default {
        mixins: [BuyUnitsMixin],
    }
</script>
<template>
    <div class="">
        <div v-show="step === 'form' ">
            <el-form ref="form" :model="buyUnitsForm" label-position="top" size="small" label-width="">

                <el-form-item label="Fund" v-loading="loadingClientFunds">
                    <el-select v-model="unit_fund_id" placeholder="Select Trust Unit Fund" style="width: 100%">
                        <el-option v-for="f in funds" :key="f.id" :label="f.name" :value="f.id">
                        </el-option>
                    </el-select>
                </el-form-item>

                <el-form-item v-loading="fetchingFundBalance">
                    <label class="el-form-item__label">
                        Enter amount <span v-show="fundBalance.balance">(Your Balance is: {{fundBalance.balance | currency}} )</span>
                    </label>
                    <el-input v-model="buyUnitsForm.amount" type="number"></el-input>
                    <p class="form_errors" v-if="errors['amount']">{{errors['amount'][0]}}</p>
                </el-form-item>

                <div class="description" v-if="minimumTopUpAmount">
                    <div class="topup-investment-rate-info error-info">
                        <p>The amount to be invested is below the minimum TopUp amount ({{selectedFund.minimumTopupAmount | currency('', 2)}}).</p>
                    </div>
                </div>

                <el-form-item label="Mode of Payment">
                    <el-select
                            clearable
                            v-model="buyUnitsForm.mode_of_payment"
                            placeholder="Payment Mode"
                            style="width: 100%">
                        <el-option value="bank" label="Direct Bank Deposit"></el-option>
                        <el-option value="mpesa" label="M-Pesa Paybill"></el-option>
                    </el-select>
                    <p class="form_errors" v-if="errors['mode_of_payment']">{{errors['mode_of_payment'][0]}}</p>
                </el-form-item>

                <el-form-item>
                    <p v-show="fetchUnitsToPurchase"><i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true"></i>
                        Please wait.....</p>
                    <div class="topup-investment-rate-info" v-if="buyUnitsForm.units && !fetchUnitsToPurchase">
                        You are purchasing <strong>{{buyUnitsForm.units | round(2)}} units </strong> for
                        <strong>KES. {{buyUnitsForm.amount | currency}}</strong>.
                    </div>
                </el-form-item>

                <el-form-item label="Proof of Payment (Optional)" v-show="payBank">
                    <div class="form-group">
                        <el-upload
                                class="upload-demo no-padding"
                                drag
                                :action='url'
                                :headers="headers"
                                :auto-upload="false"
                                ref="upload"
                                :data="buyUnitsForm"
                                :on-change="showFile"
                                :on-success="showUploadSuccess"
                                size="medium"
                                :on-error="errorOccurred">

                            <i class="el-icon-upload"></i>
                            <div class="el-upload__text">Drop file here or <em>click to upload</em> a file/screenshot
                            </div>
                            <div class="el-upload__tip" slot="tip">
                                Images or pdf files with a size of less than 500kb
                                <form-error name="file.*" :errors="errors"></form-error>
                            </div>
                        </el-upload>
                    </div>
                </el-form-item>


                <el-form-item>
                    <el-tooltip v-if="!canBuyUnits"
                                class="item"
                                effect="dark"
                                content="Fill in valid inputs in all required fields."
                                placement="bottom-end">
                        <el-button class="crims_action_button success disabled">Buy Units</el-button>
                    </el-tooltip>

                    <el-button
                            :disabled="confirmingBuyingUnits"
                            v-if="canBuyUnits"
                            class="crims_action_button success"
                            @click="buy_units">Buy Units
                    </el-button>

                    <el-button class="crims_action_button default" @click="cancel">Cancel</el-button>

                </el-form-item>
            </el-form>
        </div>

        <div v-show="step === 'confirm' ">
            <div class="confirm-top-up"
                 v-loading="submittingFundPurchases"
                 element-loading-text="Please wait as the Fund Purchase information you provided is being submitted">

                <div class="description">
                    <h3>Fund</h3>
                    <p>{{fundName}}</p>
                </div>

                <div class="description">
                    <h3>Units Purchased</h3>
                    <p>{{buyUnitsForm.units | currency}} </p>
                </div>

                <div class="description">
                    <h3>Amount</h3>
                    <p>{{buyUnitsForm.amount | currency}} </p>
                </div>

                <div class="description">
                    <h3>Unit Price</h3>
                    <p>{{fund.price | currency}} </p>
                </div>

                <div class="description">
                    <h3>Selected Mode of payment</h3>
                    <p>{{(buyUnitsForm.mode_of_payment)}}</p>
                </div>

                <div class="description" v-show="payBank">
                    <h3>Proof of payment</h3>
                    <p v-if="filename">
                        {{filename.name}}
                    </p>
                    <p v-else>
                        No file
                    </p>
                </div>

                <div class="description">
                    <div class="topup-investment-rate-info confirm-topup-info">
                        You are purchasing <strong>{{buyUnitsForm.units | round(2)}}</strong> for <strong>{{buyUnitsForm.amount}}</strong>.
                    </div>
                </div>

                <div class="description last">
                    <el-button type="custom-success" :disabled="submittingFundPurchases" @click="submit">Submit</el-button>
                    <el-button class="crims_action_button default" @click="cancel">Cancel</el-button>
                </div>
            </div>
        </div>

        <div v-show="step === 'success' ">
            <div class="topupSuccessful">
                <div class="message">
                    <h3>Purchase details were submitted successfully. We will notify you after 24 hours and update the
                        details accordingly. Thank you. </h3>
                </div>
                <div class="icon">
                    <h1><i class="fa fa-check-circle" aria-hidden="true"></i></h1>
                </div>
            </div>
        </div>
    </div>
</template>
