<script>
    import SalesMixins from './sales'
    export default {
        name: "sales",
        mixins: [SalesMixins]
    }
</script>

<template>
    <div class="crims-table-area">
        <div class="crims-table-area__head">
            <div class="head-left">
                <h3>Fund Sales</h3>
            </div>
            <div class="head-right">

            </div>
        </div>
        <div class="crims-table-area__body">
            <vuetable ref="vuetable"
                      :api-url="url"
                      :fields="fields"
                      :multi-sort="true"
                      :per-page="5"
                      pagination-path=""
                      id="ut_details_step_4"
                      @vuetable:loaded="onLoaded"
                      @vuetable:pagination-data="onPaginationData">
            </vuetable>

            <div class="crims-table-area__foot">
                <div class="vuetable-pagination crims-table-area__pagination  ui basic segment grid">
                    <vuetable-pagination-info ref="paginationInfo"></vuetable-pagination-info>
                    <vuetable-pagination :css="pagination" ref="pagination" @vuetable-pagination:change-page="onChangePage">
                    </vuetable-pagination>
                </div>
            </div>

        </div>


    </div>
</template>
