@import "settings";
@import "node_modules/foundation-sites/scss/foundation";
@import "node_modules/font-awesome/scss/font-awesome";
@import "vars";
@import "node_modules/foundation-sites/scss/util/mixins";

@include foundation-everything(true);
@include foundation-flex-classes;
@include foundation-flex-grid;

//Redesign

@import "redesign/redesign";

//modules
@import "modules/elements";
@import "modules/datepicker";
@import "modules/auth";
@import "modules/tables";
@import "modules/animation";
@import "modules/footer";
@import "modules/styles";
@import "modules/applications";
@import "modules/modals";
@import "modules/forms";
@import "dependencies";
@import "modules/element_ui";
@import "modules/realestate";
@import "modules/billing";

//pages
@import "pages/landing";


@import "open_sans";


//cookie concent
@import "~cookieconsent/build/cookieconsent.min.css";

//mixin
@import "mixins";


body{
  font-family: $font_family;
  min-height: 100%;
}

.clearfix{
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

.page-container{
  @include flex-grid-row(

  );
}
.page-grid{
  margin-top: 20px;
}

.content-area{

}

.grid-block{
  overflow: visible;
}
.main-grid-content{
  @extend .grid-content;
  padding-right: 0;
  padding-left: 0;
}

.full-screen-modal {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  .modal-content{
    min-height: 100vh;
    min-width: 100vw;
    background: #FFF;
  }
}

.page-wrap{
  background: #FFF;
}

[zf-modal]{
  font-weight: 500;
}


//5 columns on one row
.cols-5{
    @media only screen and (min-width: 40em) {
      flex: 0 0 20%;
      max-width: 20%;
      float: left;
    }
}

//6 columns on one row
.cols-6{
  @media only screen and (min-width: 40em) {
    flex: 0 0 20%;
    max-width: 16%;
    float: left;
  }
}
input:disabled, input[readonly],
textarea:disabled,
textarea[readonly] {
  background-color: #fff !important;
}

@import "~vue-tel-input/dist/vue-tel-input.css";
