@import "emails/settings";
@import "node_modules/foundation-emails/scss/foundation-emails";
@import "emails/utils";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300italic,400italic,700italic,300,400,600,700);

body{
  font-family: 'Open Sans', sans-serif !important;
}
.container{
  padding: 20px;
}
.email-header td{
  background: $body-background;
  padding: 10px;
}

.email-footer td{
  background: $body-background;
  padding: 10px;
  color: #9B9B9B;

  a{
    font-weight: 600;
    color: inherit;
  }
  .copy-right{
    font-size: 13px;
  }
  .website{
    font-size: 13px;
  }
}

.email-footer table tr td{
  padding-top: 10px;
  padding-bottom: 10px;
}

.email-body > td > div{
  padding: 40px 20px !important; border: 1px solid #b3b3b3 !important; border-radius: 3px !important; height: 100%;box-sizing: border-box;
}
.email-body .email-content,  .email-body .email-content p{
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px;
  color: #777;
  line-height: 31px;
}
.test{}