<template id="list-unit-fund-commissions">
    <div>
        <div class="btn-group pull-right">
            <a class="btn btn-success" href="/dashboard/investment/commission_recipients/list"> <i class="fa fa-users"></i> View FAs</a>
            <a class="btn btn-success" href="/dashboard/investments/commission/payment-dates"><i class="fa fa-calendar-check-o"></i> Payment Dates</a>
        </div>

        <ul id="myUnitFunds" class="nav nav-tabs" role="tablist">
            <li v-for="fund in funds" role="presentation">
                <a :href="'#fund-'+fund.id" id="fund-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="false" v-text="fund.name"></a>
            </li>
        </ul>

        <div id="myUnitFundContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade" v-for="(fund, index) in funds" :id="'fund-' + fund.id" aria-labelledby="fund-tab">

                <unit-fund-commission-recipients :tableStateIndex="index" :fund="fund"></unit-fund-commission-recipients>

            </div>
        </div>
    </div>
</template>

<script>

    import UnitFundCommissionRecipients from './partials/unitfundcommissionrecipients.vue';

    export default {

        components: { UnitFundCommissionRecipients },

        data() {
            return {
                funds: [],
            }
        },

        created: function() {
            this.funds = this.getUnitFunds();
        },

        methods: {
            getUnitFunds: function() {
                axios.get('/api/unitization/unit-funds-list')
                    .then((response) => {
                        if (response.status == 200) {

                            let data = response.data;

                            if (data.fetched) {
                                this.$set(this, 'funds', data.data);
                            }
                            else {
                                flash('Could not fetch list of unit funds', 'danger');
                            }
                        }
                    }, (response) => {
                        flash('Oops! Something went wrong', 'danger');
                    });
            },
        }
    }
</script>