.all-investments {
  padding: 20px 20px;
  //overflow-y: scroll;
  .investment-switch-tabs {
    background: #fff;

    .el-tabs__header {
       .el-tabs__nav-wrap {
         .el-tabs__nav-scroll {
           .el-tabs__nav {
             padding: 10px 0 5px 10px;

             .el-tabs__active-bar {
               width: 105px !important;
               height: 4px;
               background-color: #006a5b;
             }
             .el-tabs__item {
               &.is-active{
                 color: #006a5b;
                 font-weight: 600;
               }
             }
           }
         }
       }
    }
  }
}

.investment-details {
  padding: 20px 20px;
  //overflow-y: scroll;
  .investment-details-table-section {
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ededed;
    background-color: #ffffff;

    &.sub-details {
      margin-top: 3%;
    }
    .investment-details-table-section-header {
      padding: 10px 20px;
      height: auto !important;

      .head-right {
        div{
          float: right;
          span {
            display: inline-block;
          }
          .el-button--investment-action-button {
            background-color: #006a5b;
            color: #ffffff;
            font-family: "Proxima Nova";
            font-size: 14px;
            font-weight: 500;
            padding: 8px 40px;

            &.suspended {
              background-color: #de0e0e;
            }
          }
        }
      }
      h3 {
        color: #006a5b;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }

    .investment-details-table-section-body{
      padding: 0 0;
      margin: 0 0;
      .crims-table-area {
        margin: 0 0;
        padding: 0 0;
        border: 0 #fff;
        width: 100%;

        .crims-table-head {
          font-weight: 600;
          background-color: #eeeeee;
        }
      }
    }


  }
}

.single-investment {
  padding: 20px 20px;
  //overflow-y: scroll;

  .single-investment-area {
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ededed;
    background-color: #ffffff;

    .heading {
      padding: 10px 20px;
      height: auto !important;
      .title {
        h3 {
          color: #006a5b;
          font-family: "Proxima Nova";
          font-size: 16px;
          font-weight: 600;
          text-transform: uppercase;
          max-height: 50px;

          span {
            color: #4a494a;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px){
  .all-investments {
    padding: 5px 5px;
    //overflow-y: scroll;
  }

  .investment-details {
    padding: 5px 5px;
    //overflow-y: scroll;
  }

}

//buttons
@media screen and (max-width: 800px){
  .investment-details {
    .investment-details-table-section {
      .investment-details-table-section-header {
        .head-right {
          div {
            float: none;
            span {
              width: 100%;
              margin: 7px 0px;
              span {
                margin: 1px;
              }
            }

            .el-button--investment-action-button {
              width: 100%;
            }
          }
        }
      }
    }
  }

}