@import "../form/form_select";

@mixin crims-flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.statements {

  .investment-statements {
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ededed;
    background-color: #ffffff;
    min-height: 70%;


    .bar {
      padding: 0px 20px;
      border-bottom: 1px solid #e5e5e5;

      h1 {
        display: none;
        font-size: 1px;
      }

      p {
        color: #4a494a;
        font-family: Futura;
        font-weight: 600;
        font-size: 16px;
        margin: 14px 0;
      }
    }

    .head {
      padding: 5px 20px;

      p {
        color: #4a494a;
        font-family: Futura;
        font-size: 14px;
        color: #9BA2AB;
      }

      .investment-statement-form {
        @include callout_options_form;

        &.el-form {
          width: 100%;

          .el-form-item__content {
            width: 80%;
          }

          .el-form-item {
            margin-bottom: 0;
            width: 30%;

            .el-select {
              width: 100%;

            }

            .el-date-editor {
              &.el-input {
                width: 100%;
              }
            }
          }
        }
      }

    }

    .body {
      //border: 1px solid rgba(165, 165, 165, 0.3);
      background-color: #ffffff;
      margin-bottom: 20px;
      //overflow-x: scroll;

      .download_button {
        margin-top: 15px;
        padding: 10px 20px;
      }

      .crims_statement_left {
        text-align: left;
      }

      p {
        padding: 10px 10px;
        font-size: 14px;
      }

      .statements_table {
        overflow-x: scroll;
      }

      table {
        margin-bottom: 0;

        thead {
          background-color: #eeeeee;

          th {
            color: #006a5b;
            font-family: "Proxima Nova";
            font-size: 14px;
            font-weight: 600;
          }
        }

        tbody {
          tr {
            td {
              color: #4a494a;
              font-family: "Proxima Nova";
              font-size: 14px;
              font-weight: 400;
            }
          }
        }
      }

      &__loader {
        color: #006a5b;
        margin-bottom: -10px;
        font-size: 18px;

        i {
          margin-right: 10px;
        }
      }

    }
  }

  .body {
    //border: 1px solid rgba(165, 165, 165, 0.3);
    background-color: #ffffff;
    margin-bottom: 20px;
    //overflow-x: scroll;

    .download_button {
      margin-top: 15px;
      padding: 10px 20px;
    }

    .crims_statement_left {
      text-align: left;
    }

    p {
      padding: 10px 10px;
      font-size: 14px;
    }

    .statements_table {
      overflow-x: scroll;
    }

    table {
      margin-bottom: 0;

      thead {
        background-color: #eeeeee;

        th {
          color: #006a5b;
          font-family: "Proxima Nova";
          font-size: 14px;
          font-weight: 600;
        }
      }

      tbody {
        tr {
          td {
            color: #4a494a;
            font-family: "Proxima Nova";
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }

    &__loader {
      color: #006a5b;
      margin-bottom: -10px;
      font-size: 18px;

      i {
        margin-right: 10px;
      }
    }

  }
}

@media screen and (max-width: 1024px) {
  .statements {
    padding: 5px 5px;
    height: 100%;

    .investment-statements {
      .body {

        table {
          min-width: 100%;
        }

        overflow-x: scroll;
      }
    }
  }
}


@media screen and (max-width: 732px) {
  .statements {
    padding: 5px 5px;
    height: 100%;

    .investment-statements {
      .head {

      }

      .body {
        .statements_table {
          .crims_statement_left {
            float: none;
          }
        }
      }


    }
  }
}

.statement-head {
  @include crims-flex;
  width: 100%;
  margin-bottom: 20px;
}


@media only screen and (max-width: 480px) {
  .statement-head {
    .statements-fetch-form {
      width: 100%;
      @include crims-flex;
    }

    .statements-download-form {
      width: 100%;
      padding-left: 5px;
    }
  }
}


@media only screen and (min-width: 481px) and (max-width: 960px) {
  .statement-head {
    .statements-fetch-form {
      width: 100%;
      @include crims-flex;
    }

    .statements-download-form {
      width: 100%;
      padding-left: 10px;
    }
  }
}

@media only screen and (min-width: 961px) {
  .statement-head {

    .statements-fetch-form {
      width: 60%;
      @include crims-flex;
    }

    .statements-download-form {
      width: 39%;
      text-align: right;
      padding-top: 10px !important;
      padding-left: 10px;
    }
  }
}

