.profile__details .details .description {
  .description__sub {
    border-bottom: 0;

    h4 {
      border-bottom: 2px solid #e0e0e0;
      padding-bottom: 10px;
      font-weight: 600;
      opacity: .6;
      margin-bottom: 15px;

      .site-link{
        font-size: 15px;
        float: right;

        a{
          color: #0a0a0a;
          transition: ease .5s;

          &:hover{
            color: #A3CF5F;
            transition: ease .5s;
          }
        }
      }
    }

    &.re_bookings {
      .project-link {
        margin-top: 10px;

        a {
          font-weight: 600;
          border-bottom: 1px solid;
          padding: 5px;
        }
      }
    }
  }

  .re_payments {
    margin-top: 20px;

    &__detail {
      display: flex;
      flex-wrap: wrap;
    }

    .detail {
      flex-direction: column;
      min-width: 300px;
      width: 50%;
      padding-bottom: 20px;
      padding-right: 20px;

      &__title {
        font-weight: 600;
        opacity: .6;
      }

      &__content {
        font-size: 13px;
        padding-left: 0;
        text-align: justify;
      }
    }
  }
}