<script>

    import DetailsMixin from './detailsMixin'

    export default {
        mixins: [DetailsMixin]
    }
</script>

<template>
    <div class="" style="height: 100%">
        <div v-if="fetchingProjects">
            <dash-card-placeholder></dash-card-placeholder>
        </div>

        <div class="profile"  v-else>
            <div class="profile__banner re_projects">
                <div class="banner_icons">
                    <div class="cover">
                        <div class="salutation">
                            <h3>{{project.name}}</h3>
                        </div>
                        <div class="switch_user"></div>
                    </div>
                </div>
            </div>

            <div class="profile__details">
                <div class="avatar_area">
                    <div class="user">
                        <span v-if="!project.logo">{{project.name}}</span>
                        <img :src="`/assets/img/projects/${project.logo}`"
                             :alt="`${project.name}`" v-else/>
                    </div>
                </div>
                <div class="details_area">
                    <div class="details">
                        <div class="description">
                            <div class="description__sub">
                                <div>
                                    <h4>
                                        <span>Project Details</span>
                                        <span class="site-link"><a target="_blank" :href="`${project.url}`">VISIT WEBSITE <i class="fa fa-arrow-right"></i></a></span>
                                    </h4>
                                </div>
                                <div class="detail">
                                    {{project.description ? project.description : 'Not Specified'}}
                                </div>
                            </div>
                            <div class="description__sub re_payments">
                                <h4>Payment Plans</h4>
                                <div class="re_payments__detail">
                                    <template v-for="payment in paymentPlans">
                                        <div class="detail">
                                            <div class="detail__title">
                                                {{payment.name}}
                                            </div>
                                            <div class="detail__content">
                                                {{payment.description ? payment.description : 'Not Specified'}}
                                            </div>
                                        </div>
                                    </template>
                                </div>

                            </div>
                            <div class="description__sub re_bookings">
                                <div class="detail">
                                    <div class="projects-details-btn">
                                        <el-button type="success" round v-if="project.booking_url"
                                                   @click="book(project.booking_url)">Book a site visit
                                        </el-button>
                                        <el-button round v-if="project.reservation_url"
                                                   @click="reserve(project.reservation_url)">Reserve Unit
                                        </el-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</template>

<style scoped lang="scss" src="./_details.scss"></style>