<script>
    import events from '../../../events'

    export default {
        data: () => ({
            menus: {
                main: [
                    {name: 'Dashboard', link: '/dashboard', 'icon': 'dashboard'},
                    {name: 'Clients', link: '/dashboard/clients/menu', 'icon': 'perm_contact_calendar'},
                    {
                        name: 'Investments', link: '/dashboard/investments', 'icon': 'receipt',
                        children: [
                            {name: 'Menu', link: '/dashboard/investments', },
                            {name: 'Client Instructions', link: '/dashboard/investments/client-instructions', },
                            {name: 'Investments', link: '/dashboard/investments/clientinvestments'},
                            {name: 'Summary', link: '/dashboard/investments/summary'}
                        ]
                    },
                    {
                        name: 'Portfolio', link: '/dashboard/portfolio', 'icon': 'folder_special',
                        children: [
                            {name: 'Menu', link: '/dashboard/portfolio'},
                            {name: 'Investments', link: '/dashboard/portfolio/investments'},
                            {name: 'Custodial Accounts', link: '/dashboard/portfolio/custodials'},
                            {name: 'Summary', link: '/dashboard/portfolio/summary'}
                        ]
                    },
                    {name: 'Shares', link: '/dashboard/shares', 'icon': 'import_contacts'},
                    {name: 'Real Estate', link: '/dashboard/realestate', 'icon': 'business'},

                ],
                system: [
                    {
                        name: 'User Mgt', link: '/dashboard/users/clients', 'icon': 'group',
                        children: [
                            {name: 'Users', link: '/dashboard/users'},
                            {name: 'Clients', link: '/dashboard/users/clients'},
                            {name: 'Permissions', link: '/dashboard/users/permissions'},
                            {name: 'Roles', link: '/dashboard/users/roles'}
                        ]
                    },
                    {name: 'Settings', link: '/dashboard/system', icon: 'settings'},
                ],
                feedback: [
                    {name: 'Contacts', link: '/dashboard/feedback/create', 'icon': 'forum'}
                ]
            },

            activeDropdown: '',
            menuToggle: true,
            windowWidth: ''

        }),

        methods: {
            documentClick() {
                this.activeDropdown = ''
            },
            getWindowWidth(event) {
                this.windowWidth = document.documentElement.clientWidth;

                if (this.windowWidth < 1024) {
                    this.menuToggle = true;
                    events.bus.$emit('minimize_menu', true);
                } else {
//                    this.menuToggle = false;
//                    events.bus.$emit('minimize_menu', false);
                }
            },

            menuToggleAll(){
                events.bus.$emit('resize_menu');
            }

        },

        created() {
            let vm = this;
            document.addEventListener('click', function () {
            });

            events.bus.$on('resize_menu', () => {
                this.menuToggle = !this.menuToggle
            })
        },
        destroyed() {
            document.removeEventListener('click', this.documentClick())
        },
        mounted() {
            this.$nextTick(function () {
                window.addEventListener('resize', this.getWindowWidth);
                //Init
                this.getWindowWidth()
            });

        }
    }
</script>
<template>
    <aside class="main_side_menu " :class="{'side_menu_collapsed': menuToggle}">
        <div class="menu_area">

            <span class="title">
                MAIN
            </span>

            <ul class="nav nav-pills nav-stacked primary_nav">
                <li v-for="menu in menus.main">
                    <a v-if="!menu.children" :href="menu.link">
                        <i class="material-icons">{{menu.icon}}</i>
                        <span class="menu_name">
                            {{menu.name}}
                        </span>
                    </a>

                    <el-collapse v-else accordion v-model="activeDropdown">
                        <el-collapse-item :name="menu.name" class="menu-drop-down">
                            <template slot="title">
                                <span class="menu_dropdown">
                                    <span v-if="menuToggle">
                                        <a :href="menu.link">
                                            <i class="material-icons">{{menu.icon}}</i>
                                        </a>
                                    </span>
                                    <span v-else>
                                     <i class="material-icons">{{menu.icon}}</i>
                                    </span>
                                    <span class="menu_name">
                                        {{menu.name}}
                                    </span>
                                </span>
                            </template>

                            <ul class="nav nav-pills nav-stacked">
                                <li v-for="child in menu.children">
                                    <a :href="child.link">
                                        <i class="material-icons">{{child.icon}}</i>
                                        <span class="menu_name">
                                            {{child.name}}
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </el-collapse-item>
                    </el-collapse>
                </li>
            </ul>

            <span class="title">
                System
            </span>

            <ul class="nav nav-pills nav-stacked primary_nav">
                <li v-for="menu in menus.system">
                    <el-collapse v-if="menu.children" accordion v-model="activeDropdown">
                        <el-collapse-item :name="menu.name" class="menu-drop-down">
                            <template slot="title">
                                <span class="menu_dropdown">
                                    <span v-if="menuToggle">
                                        <a :href="menu.link">
                                             <i class="material-icons">{{menu.icon}}</i>
                                        </a>
                                    </span>
                                    <span v-else>
                                        <i class="material-icons">{{menu.icon}}</i>
                                    </span>
                                    <span class="menu_name">
                                        {{menu.name}}
                                    </span>
                                </span>
                            </template>

                            <ul class="nav nav-pills nav-stacked">
                                <li v-for="child in menu.children">
                                    <a :href="child.link">
                                        <i class="material-icons">{{child.icon}}</i>
                                        <span class="menu_name">
                                            {{child.name}}
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </el-collapse-item>
                    </el-collapse>

                    <a v-else :href="menu.link">
                        <i class="material-icons">{{menu.icon}}</i>
                        <span class="menu_name">
                            {{menu.name}}
                        </span>

                    </a>
                </li>
            </ul>

            <span class="title">
                Feedback
            </span>

            <ul class="nav nav-pills nav-stacked primary_nav">
                <li v-for="menu in menus.feedback">
                    <a v-if="!menu.children" :href="menu.link">
                        <i class="material-icons">{{menu.icon}}</i>
                        <span class="menu_name">
                            {{menu.name}}
                        </span>
                    </a>
                    <el-collapse v-else accordion v-model="activeDropdown">
                        <el-collapse-item :name="menu.name" class="menu-drop-down">
                            <template slot="title">
                                <span class="menu_dropdown">
                                    <span v-if="menuToggle">
                                        <a :href="menu.link">
                                            <i class="material-icons">{{menu.icon}}</i>
                                        </a>
                                    </span>

                                    <span v-else>
                                        <i class="material-icons">{{menu.icon}}</i>
                                    </span>
                                <span class="menu_name">
                                    {{menu.name}}
                                </span>
                                </span>
                            </template>

                            <ul class="nav nav-pills nav-stacked">
                                <li v-for="child in menu.children">
                                    <a :href="child.link">
                                        <i class="material-icons">{{child.icon}}</i>
                                        <span class="menu_name">
                                            {{child.name}}
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </el-collapse-item>
                    </el-collapse>
                </li>
            </ul>

        </div>
        <div class="collapse-icon" @click="menuToggleAll">
            <span v-if="menuToggle" >
                <i  class="material-icons">chevron_right</i>
            </span>

            <span v-else >
                <i class="material-icons">chevron_left</i>
            </span>
        </div>
    </aside>
</template>