@mixin head {
  h3 {
    color: #4a494a;
    font-family: "Proxima Nova";
    font-size: 16px;
    font-weight: 500;
  }

  p {
    color: #707070;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 400;

    span {
      font-family: "Proxima Nova";
      font-weight: 500;
      color: #006a5b;
    }
  }
}

@mixin body {
  background-color: #eeeeee;
  width: 60%;
  display: block;
  .select-form {
    padding: 10px 10px;

    .el-input-group {
      .el-input__inner {
        width: 100%;
        //height: 31px;
        //border: 1px solid #707070;
        //background-color: #ffffff;
      }
    }

    .el-form {
      .el-form-item {
        margin-bottom: 0;
      }
    }
  }
  .el-button--custom-success {
    background-color: #006a5b;
    ///* height: 31px; */
    //padding: 7px 10px;
    //margin: 0px;
  }


  .calculator-result {
    border-top: 1px solid #a5a5a5;
    padding: 13px 30px;

    .select-month {
      background: #fff;
      color: #010101;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 400;
      padding: 10px 10px;

      .el-input {
        input {
          padding: 10px 20px;
          margin: 0;
        }
      }
    }
  }

  .result-display {
    color: #006A5A;
    font-size: 20px;
    margin-bottom: 0;
  }

  .result-table {
    p {
      opacity: 0.8;
      color: #707070;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 600;
      padding: 13px;

      span {
        font-family: "Proxima Nova";
        font-weight: 500;
        color: #006a5b;
      }
    }

    table {
      tr {
        th {
          color: #212020;
          font-family: "Proxima Nova";
          font-size: 14px;
          font-weight: 500;
        }

        td {
          color: #707070;
          font-family: "Proxima Nova";
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    .footer-text {
      color: #212020;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 400;
      padding: 14px;
    }
  }
}

.calculator {
  padding: 20px 20px;

  .calculator-tabs {
    padding: 10px 10px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ededed;
    background-color: #ffffff;
    min-height: 50%;


    .cms {
      display: block;

      .head {
        @include head;
      }

      .body {
        @include body;


        .el-button--custom-success {
          background-color: #006a5b;
          ///* height: 31px; */
          //padding: 7px 10px;
          //margin: 0px;
        }


        .calculator-result {
          border-top: 1px solid #a5a5a5;
          padding: 13px 30px;

          .select-month {
            background: #fff;
            color: #010101;
            font-family: "Proxima Nova";
            font-size: 14px;
            font-weight: 400;
            padding: 10px 10px;

            .el-input {
              input {
                padding: 10px 20px;
                margin: 0;
              }
            }
          }
        }

        .result-display {
          color: #006A5A;
          font-size: 20px;
          margin-bottom: 0;
        }

        .result-table {
          p {
            opacity: 0.8;
            color: #707070;
            font-family: "Proxima Nova";
            font-size: 14px;
            font-weight: 600;
            padding: 13px;

            span {
              font-family: "Proxima Nova";
              font-weight: 500;
              color: #006a5b;
            }
          }

          table {
            tr {
              th {
                color: #212020;
                font-family: "Proxima Nova";
                font-size: 14px;
                font-weight: 500;
              }

              td {
                color: #707070;
                font-family: "Proxima Nova";
                font-size: 14px;
                font-weight: 400;
              }
            }
          }

          .footer-text {
            color: #212020;
            font-family: "Proxima Nova";
            font-size: 14px;
            font-weight: 400;
            padding: 14px;
          }
        }
      }
    }

    .goal {
      .head {
        @include head;
      }

      .body {
        @include body;

      }
    }

    .trust {
      .head {
        @include head;
      }

      .body {
        @include body;

      }
    }

    .rates {
      .head {
        @include head;
      }

      .body {
        @include body;

        .select-form {
          padding: 10px 20px;


          .el-select {
            .el-input {
              .el-input__suffix {
                .el-input__icon {
                  height: 80%;
                }
              }
            }
          }
        }


        .rates-form {
          background: #fff;
          padding: 10px 20px;

          &.rate {
            border: 1px dotted #006A5A;
          }

          .rates-display {
            font-size: 24px;
            height: 30px;
            line-height: 50px;
            color: #006A5A;
            font-weight: 600;
            text-align: center;

          }
        }
      }
    }


    .el-tabs {
      .el-tabs__header {
        .el-tabs__nav-wrap {
          .el-tabs__nav-scroll {
            .el-tabs__nav {
              .el-tabs__active-bar {
                background-color: #006a5b;
              }

              .el-tabs__item {

                &:hover {
                  color: #a2d45f;
                }

                &:focus {
                  color: #a2d45f;
                }

                &.is-active {
                  color: #a2d45f;
                }
              }
            }
          }
        }
      }
    }
  }

}

@media screen and (max-width: 1024px) {
  .calculator {
    padding: 10px 10px;

    .calculator-tabs {
      .cms, .goal, .rates {
        .body {
          width: 100%;

          .rate {
            margin-top: 20px;
            display: block;
          }

          .form {
            width: 100%;

            .rates-form {
              width: 100%;

              &.rate {
                width: 100%;
              }
            }

            .el-select {
              width: 100%;
            }
          }
        }

        .select-form {
          padding: 5px 5px 20px 5px;

          .el-form-item__label {
            width: 100% !important;
          }

          .el-form-item__content {
            margin-left: 0 !important;
          }

          .el-form-item {
            margin-bottom: 0;
          }

          .el-input-group__prepend {
            width: 33% !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .calculator {
    .calculator-tabs {
      .trust {
        .body {
          width: 100% !important;
          .input-with-select {
            display: block;

            .el-input-group__prepend {
              background-color: #f5f7fa;
              color: #909399;
              vertical-align: middle;
              display: block;
              position: relative;
              border: 1px solid #dcdfe6;
              border-radius: 4px;
              padding: 0 20px;
              white-space: nowrap;
              width: 80% !important;;
              margin: 10px !important;

              .el-select {
                .el-input__inner {
                  width: 80% !important;
                  margin: 10px !important;
                }
              }
            }

            .el-input__inner {
              width: 80% !important;
              margin: 10px !important;
            }

            .el-input-group__append {
              width: 80% !important;
              margin: 10px !important;
              display: block;
              padding: 10px 20px;
              text-align: center;
              border-radius: 5px !important;
            }
          }
        }
      }

    }
  }
}