@import "../form/form_select";
.documents {
  background-color: #f1f1f1;
  padding: 20px 20px;
  .documents-area {
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ededed;
    background-color: #ffffff;
    min-height: 50%;


    .heading {
      padding: 15px;
      border-bottom: 1px solid #f1f1f1;
      display: flex;
      align-items: center;

      .documents-title {
        width: 60%;
        float: left;
      }

      .form {
        width: 40%;
        float: right;

        @include callout_options_form;
          //.el-form {
          //  float: right;
          //  width: 100%;
          //  .el-form-item {
          //    margin-bottom: 0;
          //    .el-select {
          //      width: 100%;
          //      .el-input {
          //        .el-input__inner {
          //          padding: 5px 50px;
          //        }
          //      }
          //    }
          //  }
          //}

        .el-form {
          width: 80%;

          .el-form-item {
            margin-bottom: 0;
            .el-select {
              width: 100%;
            }

            .el-date-editor {
              &.el-input {
                width: 100%;
              }
            }
          }
        }


      }
    }
  }
}

@media screen and (max-width: 760px) {
  .documents {
    .documents-area {
      .heading {
        display: flex;
        flex-wrap: wrap;

        .form {
          width: 100%;
        }
      }
    }
  }

}