.prevailing-rates {
  .rates_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .description {
      &__title {
        h3 {
          color: #006a5a;

          font-size: 28px;
          line-height: 1.125;
          border-bottom: 1px solid #39b54a;
          padding-bottom: 10px;
          margin-bottom: 15px;
        }
      }

      &__body{
        font-weight: 300;
        font-size: 14px;
        line-height: 1.6666666667;
        -webkit-font-smoothing: antialiased;

        p {
          font-size: 14px;
          margin-top: 14px;
          margin-bottom: 15px;
          line-height: 1.6666666667;
          -webkit-font-smoothing: antialiased;
        }
      }
    }


    .content_sections {
      margin-bottom: 15px;
      padding-bottom: 15px;

      .el-collapse {
        .el-collapse-item {

          &__header {
            color: #707070;
            border-bottom: 1px solid #ccc;
            transition: border-bottom-color .3s;
            outline: 0;
            font-size: 14px;
            font-weight: 700;
            padding-left: 10px;
            background-color: #e0e0e0;
            position: relative;

            &__arrow {
              position: absolute;
              right: 8px;
            }

            .el-icon-arrow-right {
              position: absolute;
              right: 8px;
              &::before {
                content: "\f067";
                font-family: FontAwesome;

              }

              &.is-active {
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
                &::before {
                  font-family: FontAwesome;
                  content: "\f068";
                }
              }
            }


          }


          .el-collapse-item__wrap {
            .el-collapse-item__content {
              .product_section {

                .rates {
                  &__title {
                    padding: 15px 5px;
                    h5 {
                      color: #006a5a;
                      font-size: 14px;
                      line-height: 1.125;
                      text-transform: uppercase;
                    }
                  }

                  &__body {
                    max-width: 100vw;
                    overflow: auto;
                  }
                }
                table {
                  border-collapse: collapse;
                  border-spacing: 0;
                  width: 100%;
                  margin-bottom: 40px;
                  border: 1px solid #ccc;
                  //table-layout: fixed;
                  thead {
                    th {
                      border-bottom: 1px solid #ccc;
                      border-right: 1px solid #ccc;
                      padding: 15px;
                      font-size: 14px;
                    }
                  }

                  tr {
                    td {
                      border-bottom: 1px solid #ccc;
                      border-right: 1px solid #ccc;
                      font-size: 14px;
                      padding: 0;
                      white-space: nowrap;
                      vertical-align: top;

                      .rates_desc {
                        display: flex;
                        flex-direction: column;
                        padding: 0;
                        > span {
                          padding: 15px;
                          //border-bottom: 1px solid #ccc;
                          min-height: 55px;
                          content: '-';

                          display: table-row;
                          vertical-align: inherit;

                          &:nth-child(even) {
                            border-bottom: 0;
                            background-color: #f1f1f1;
                          }
                        }
                        &.tenor {
                          font-weight: bold;
                        }
                      }

                      &.error {
                        color: #a5a5a5;
                        font-size: 24px;
                        font-weight: 600;
                        text-align: center;
                        background: #ffffff;
                      }
                    }
                  }
                }
              }
            }
          }


          &.is-active {
            .el-collapse-item__header {
              color: #006a5a;
              border-bottom: 1px solid #39b54a;
            }
          }
        }
      }
    }
  }
}