<script>
    import ReProjects from './re_projects';

    export default {
        components: {ReProjects}
    }
</script>

<template>
    <div class="crims-page">
        <breadcrumb :noswitchbar = 'true'>
            <h3>OUR PRODUCTS</h3>
        </breadcrumb>

        <re-projects></re-projects>
    </div>
</template>