<script>
    import DetailsMixin from './details/detailsMixin'

    export default {
        mixins: [DetailsMixin]
    }
</script>

<template>
    <div class="real-estate">
        <div class="projects-area">
            <el-tabs v-model="activeName">
                <el-tab-pane label="REAL ESTATE PROJECTS" name="real_estate">

                    <div v-if="fetchingProjects">
                        <dash-card-placeholder></dash-card-placeholder>
                    </div>

                    <div class="projects-area-panels" v-else>
                        <div class="projects-card"
                             :class="project_color(project.name)"
                             @click="viewDetails(project.id)"
                             v-for="project in reProjects">
                            <div class="projects-card-body">
                                <div class="project-name">
                                    <p>{{project.name}}</p>
                                    <br>
                                    <br>
                                    <br>
                                    <a href="#" style="color: #ffffff;">VIEW</a>
                                </div>
                                <div class="project-logo">
                                    <div :class="project_logo(project.name)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </el-tab-pane>
            </el-tabs>
        </div>
    </div>
</template>
