<template id="id-of-template">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel-dashboard">
            <h3>
                Edit Unit Fund PriceTrail 
                <span class="btn-grouul pull-right">
                    <router-link v-bind:to="{ name: 'unit-fund-price-trails.index', params: { fid: fundId } }" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Back to Price Trails</router-link>
                    <router-link v-bind:to="{ name: 'unit-fund-price-trails.show', params: { fid: fundId, id: item.id } }" class="btn btn-default"><i class="fa fa-eye"></i> Show Price Trail </router-link>
                </span>
            </h3>

            <form v-on:submit.prevent="updateUnitFundPriceTrail(item)">
                <div class="form-group">
                    <label>Date </label>
                    <div class="input-group">
                        <el-date-picker v-model="item.date" type="date" placeholder="Date..."></el-date-picker>
                    </div>
                    <ul v-if="formErrorsUpdate['date']" class="text-danger">
                        <li v-for="message in formErrorsUpdate['date']" v-text="message"></li>
                    </ul>
                </div>
                <div class="form-group">
                    <label>Price </label>
                    <input type="number" class="form-control" step="0.001" placeholder="Price..." v-model="item.price">
                    <ul v-if="formErrorsUpdate['price']" class="text-danger">
                        <li v-for="message in formErrorsUpdate['price']" v-text="message"></li>
                    </ul>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Update <i class="fa fa-spinner fa-spin" v-if="loading"></i> </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script type="text/babel">

    export default {

        data() {
            return {
                loading: false,
                url: '',
                formErrorsUpdate: {},
                item: {
                    id: null,
                    date: null,
                    price: null
                },
            }
        },

        created: function() {
            this.item.id = this.$route.params.id;
            this.fundId = this.$route.params.fid;

            this.url = `/api/unitization/unit-funds/${this.fundId}/unit-fund-price-trails/${this.item.id}`;

            this.getUnitFundPriceTrail();
        },

        methods: {
            getUnitFundPriceTrail: function() {
                axios.get(this.url)
                    .then((response) => {
                        if(response.status == 200) {

                            var data = response.data;

                            if(data.fetched) {
                                this.$set(this, 'item', data.data);
                            }
                            else {
                                flash('Could not fetch requested unit fund price trail', 'danger');
                                this.$router.push({ name: 'unit-fund-price-trails.index', params: { fid: this.fundId } });
                            }
                        }
                    }, (response) => {
                        flash('Oops! Something went wrong!', 'danger');
                        this.$router.push({ name: 'unit-fund-price-trails.index', params: { fid: this.fundId } });
                    });
            },

            updateUnitFundPriceTrail: function(item) {
                this.loading = true;

                let input = item;

                axios.put(this.url, input).then((response) => {
                    this.loading = false;

                    let data = response.data;

                    if(response.status == 202) {
                        this.success();
                    }
                    else if(response.data.status == 422) {
                        this.throwValidationError(data);
                    }
                }, (response) => {
                    this.loading = false;
                    flash('Oops! Something went wrong', 'danger');
                    this.formErrorsUpdate = response.data;
                });
            },

            success: function() {
                flash('Request to update the unit fund price trail has been saved for approval.', 'info');
                this.$router.push({ name: 'unit-fund-price-trails.index', params: { fid: this.fundId } });
            },

            throwValidationError: function(data) {
                flash('Unit fund price trail failed to save.', 'danger');

                this.formErrorsUpdate = data.errors;
            }
        }
    }
</script>