<template id="list-counties">
    <div class="col-md-12">
        <div class="panel-dashboard">
            <h3>
                Unit Fund Price Trails Management
                <span class="btn-group pull-right">
                    <router-link v-bind:to="{ name: 'unit-funds.show', params: { id: fundId } }" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Back to Fund</router-link>
                    <a :href="'/dashboard/portfolio/fund-pricing-summary/' + fundId" class="btn btn-primary">
                        <i class="fa fa-line-chart"></i>
                        Fund Pricing Summary
                    </a>
                </span>
            </h3>

            <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            <br/>
            <br/>


            <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                    <!--<div class="row">-->
                        <!--<form action="">-->
                            <!--<div class="col-md-3">-->
                                <!--<div class="form-group">-->
                                    <!--<label for="date">Calculate new fund performance</label>-->
                                    <!--<el-date-picker-->
                                            <!--v-model="update_date"-->
                                            <!--type="date"-->
                                            <!--placeholder="Pick the date">-->
                                    <!--</el-date-picker>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="col-md-2">-->
                                <!--<div class="form-group">-->
                                    <!--<button class="btn btn-success" @click.prevent="getNewPerformance()">Calculate</button>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="col-md-7" >-->
                                <!--<p>See below the fund</p>-->

                                <!--<table class="table table-responsive table-striped">-->
                                    <!--<tbody>-->
                                        <!--<tr>-->
                                            <!--<td>Fund</td><td>{{ fundPerformance.fund}}</td>-->
                                        <!--</tr>-->
                                        <!--<tr>-->
                                            <!--<td>Date</td><td>{{ fundPerformance.date}}</td>-->
                                        <!--</tr>-->
                                        <!--<tr>-->
                                            <!--<td>AUM</td><td>{{ fundPerformance.aum | currency}}</td>-->
                                        <!--</tr>-->
                                        <!--<tr>-->
                                            <!--<td>Liabilities</td><td>{{ fundPerformance.liabilities | currency }}</td>-->
                                        <!--</tr>-->
                                        <!--<tr>-->
                                            <!--<td>NAV</td><td> {{ fundPerformance.nav | currency}}</td>-->
                                        <!--</tr>-->
                                        <!--<tr>-->
                                            <!--<td>No. of Units</td><td>{{ fundPerformance.total_units | currency }}</td>-->
                                        <!--</tr>-->
                                        <!--<tr v-if="fundPerformance.fund_calculator == 'daily-yield'">-->
                                            <!--<td>Yield</td><td>{{ fundPerformance.yield | currency }}%</td>-->
                                        <!--</tr>-->
                                        <!--<tr v-if="fundPerformance.fund_calculator == 'variable-unit-price'">-->
                                            <!--<td>Unit Price</td><td> {{ fundPerformance.price | currency}}</td>-->
                                        <!--</tr>-->
                                    <!--</tbody>-->
                                <!--</table>-->

                                <!--<div class="row">-->
                                    <!--<div class="col-md-12 pull-right">-->
                                        <!--<button class="btn btn-success" @click.prevent="savePerformance()">Calculate</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</form>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<search-bar :search-label='"Search fund price trail..."'></search-bar>-->

            <div class="crims_table">
                <vuetable ref="vuetable"
                          :api-url="url"
                          :fields="fields"
                          pagination-path=""
                          @vuetable:pagination-data="onPaginationData"
                          :append-params="tableState"
                          :per-page="itemsPerPage"
                >
                </vuetable>

                <div class="vuetable-pagination ui basic segment grid crims_pagination">
                    <table>
                        <tfoot>
                            <tr>
                                <td class="text-center" width="50%">
                                    <div class="inline-block" style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                        <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                        <select style="width: 100px" class="form-control" v-model="itemsPerPage" @change="changePerPage">
                                            <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <vuetable-pagination-info ref="paginationInfo">
                                    </vuetable-pagination-info>
                                    <vuetable-pagination ref="pagination"
                                                         @vuetable-pagination:change-page="onChangePage"
                                    ></vuetable-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
    button.btn.btn-success {
        margin-top: 34px;
    }
</style>

<script>

//    var Highcharts =  require('highcharts');
    import vueTableMixin from '../../../mixins/vuetable_mixin';
    import moment from 'moment'

    export default {

        mixins: [vueTableMixin],

        data() {
            return {
                url: '',
                fundId: null,
                fields: [
                    { name: 'id', title: 'ID', sortField: 'id' },
                    { name: 'price', title: 'Unit Price', sortField: 'price' },
                    { name: 'date', title: 'Date', sortField: 'date' },
                    { name: 'aum', title: 'AUM', sortField: 'aum' },
                    { name: 'yield', title: 'Yield', sortField: 'yield' },
                    { name: '__view_action', title: 'View', titleClass: 'text-center', dataClass: 'text-center' },
                    { name: '__edit_action', title: 'Edit', titleClass: 'text-center', dataClass: 'text-center' },
                ],
                tableState: {
                },
                promise: true,
                trails: [],
                update_date: null,
                fundPerformance: {}
            }
        },

        created: function() {
            this.fundId = this.$route.params.fid;

            this.url = `/api/unitization/unit-funds/${this.fundId}/unit-fund-price-trails`;

            this.getTrails();
        },

        methods: {
            getNewPerformance: function (event){
                let vm = this;
                axios.post(`/api/unitization/unit-funds/${this.fundId}/unit-fund-price-trails`, {
                    date: moment(this.update_date).format('Y-MM-DD')
                })
                    .then(function ({data}) {
                        vm.fundPerformance = data.data;
                    }, function () {
                        flash('Could not calculate new fund performance')
                    });
            },
            savePerformance: function(){
                axios.put(`/api/unitization/unit-funds/${this.fundId}/unit-fund-price-trails/${this.update_date}`, {
                    date: moment(this.update_date).format('Y-MM-DD')
                })
                    .then(function () {
                        flash('Performance saved succesfully')
                    }, function () {
                        flash('Could not save performance');
                    })
            },
            getTrails: function () {
                axios.get(`/api/unitization/unit-funds/${this.fundId}/unit-fund-price-trails-chart`)
                    .then((response) => {
                        if(response.status == 200) {

                            let data = response.data;

                            if(data.fetched) {
                                this.$set(this, 'trails', data.data);
                                this.plotChart(this.trails);
                            }
                            else {
                                flash('Could not fetch price trails to plot the chart', 'danger');
                            }
                        }
                    }, (response) => {
                        flash('Oops! Something went wrong. Could not plot the chart', 'danger');

                    });
            },

            plotChart: function (data) {
                Highcharts.chart('container', {
                    chart: {
                        zoomType: 'x'
                    },
                    title: {
                        text: 'Price Trails Chart'
                    },
                    subtitle: {
                        text: document.ontouchstart === undefined ?
                            'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
                    },
                    xAxis: {
                        type: 'datetime',
                        categories: []
                    },
                    yAxis: {
                        title: {
                            text: 'Price'
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        area: {
                            fillColor: {
                                linearGradient: {
                                    x1: 0,
                                    y1: 0,
                                    x2: 0,
                                    y2: 1
                                },
                                stops: [
                                    [0, Highcharts.getOptions().colors[0]],
                                    [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                                ]
                            },
                            marker: {
                                radius: 2
                            },
                            lineWidth: 1,
                            states: {
                                hover: {
                                    lineWidth: 1
                                }
                            },
                            threshold: null
                        }
                    },

                    series: [{
                        type: 'area',
                        name: 'Price Trail',
                        data: data
                    }]
                });
            }
        }
    }
</script>