
<template id="id-of-template" v-cloak>
    <div class="col-md-10 col-md-offset-1">
        <div class="panel-dashboard">
            <h3>
                Unit Fund PriceTrail Details
                <div class="btn-group pull-right">
                    <router-link v-bind:to="{ name: 'unit-fund-price-trails.index', params: { fid: fundId } }" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Back to Price Trails</router-link>
                    <router-link v-bind:to="{ name: 'unit-fund-price-trails.edit', params: { fid: fundId, id: item.id } }" class="btn btn-default"><i class="fa fa-pencil-square-o"></i> Edit Price Trail </router-link>
                </div>
            </h3>
            <table class = "table table-hover">
                <tbody>
                    <tr>
                        <td width="30%">ID</td>
                        <td>{{ item.id }}</td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>{{ item.price | currency }}</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>{{ item.date | formatDate }}</td>
                    </tr>
                    <tr>
                        <td>Actions</td>
                        <td>
                            <div class="btn-group">

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script type="text/babel">

    export default {

        data() {
            return {
                loading: false,
                url: '',
                fundId: null,
                item: {
                    id: null,
                    price: null,
                    date: null,
                }
            }
        },

        created: function() {
            this.item.id = this.$route.params.id;
            this.fundId = this.$route.params.fid;

            this.url = `/api/unitization/unit-funds/${this.fundId}/unit-fund-price-trails/${this.item.id}`;

            this.getUnitFundPriceTrail();
        },

        methods: {
            getUnitFundPriceTrail: function() {

                axios.get(this.url)
                    .then((response) => {
                        if(response.status == 200) {

                            let data = response.data;

                            if(data.fetched) {
                                this.$set(this, 'item', data.data);
                            }
                            else {
                                flash('Could not fetch requested unit fund price trail', 'danger');
                                this.$router.push({ name: 'unit-fund-price-trails.index', params: { fid: this.fundId } });
                            }
                        }
                    }, (response) => {
                        flash('Oops! Something went wrong', 'danger');
                        this.$router.push({ name: 'unit-fund-price-trails.index', params: { fid: this.fundId } });
                    });
            },
        }
    }
</script>