<script>
    import { mapGetters } from 'vuex';
    import { Message } from 'element-ui';
    import moment from 'moment';
    import Vue from 'vue';

    Vue.component('warning-component', require('./warning.vue'));
    Vue.component('order-list', require('./order-list.vue'));

    import  create from './create';

    export default {

        mixins: [ create ],

        methods: {
            submit: function () {
                this.orderForm.orders = this.formFundOrders;

                this.$store.commit('SUBMIT_ORDER', this.orderForm);
            },

            cancel: function () {
                location.replace('/dashboard/portfolio/orders');
            },

            reject: function () {
                this.$store.commit('REJECT_FUND_ORDER');
            },

            confirm: function () {
                this.$store.commit('CONFIRM_FUND_ORDER');
            },

            getOrderLifespanTypes: function () {
                this.$store.commit('GET_ORDER_LIFESPAN_TYPES');
            },

            addFundOrder: function (fund) {

                if(!this.validateFields()) {
                    Message.warning({ message: 'Complete the form and proceed' });
                    return;
                }

                if(!this.validateDuplicate()) {
                    Message.warning({ message: 'Unit Fund already added'});
                    return;
                }

                this.add();
            },

            add: function () {
                this.$store.commit('SET_FORM_FUND_ORDER', {
                    unit_fund_id: this.fundOrder.unit_fund_id,
                    custodial_account_id: this.fundOrder.custodial_account_id,
                    security_id: this.security_id,
                    value: this.value
                });
            },

            validateFields: function () {
                if(this.fundOrder.unit_fund_id &&
                    this.fundOrder.shares ||
                    this.fundOrder.amount
                )
                {
                    return true;
                }

                return false;
            },

            validateDuplicate: function () {
                let exists = this.formFundOrders.filter( (order) => {
                    return order.id === this.fundOrder.unit_fund_id;
                })[0];

                if(exists) return false;

                return true;
            },
        },

        mounted() {
            this.getOrderLifespanTypes();
        }
    }
</script>

<template>
    <div class="col-md-10 col-md-offset-1">
        <div class="panel-dashboard">
            <div class="">

            </div>

            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Portfolio Order Types: <i class="fa fa-spinner fa-spin" v-if="fetchingTypes"></i> <i class="" v-else></i></label>
                        <el-select v-model="order_type_id" placeholder="" style="width: 95%;" filterable>
                            <el-option
                                    v-for="type in orderTypes"
                                    :key="type.id"
                                    :label="type.name"
                                    :value="type.id">
                            </el-option>
                        </el-select>
                        <br>
                    </div>
                    <br>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Security: <i class="fa fa-spinner fa-spin" v-if="fetchingSecurities"></i> <i class="" v-else></i></label>
                        <el-select v-model="security_id" placeholder="" style="width: 95%;" filterable>
                            <el-option
                                    v-for="security in securities"
                                    :key="security.id"
                                    :label="security.name"
                                    :value="security.id">
                            </el-option>
                        </el-select>
                        <br>
                    </div>
                    <br>
                </div>

                <div class="col-md-6" v-if="asset_class === 'Equities'">
                    <div class="form-group">
                        <label v-if="order_type == 'buy'">Cut-of price (maximum):</label>
                        <label v-if="order_type == 'sell'">Cut-of price (minimum):</label>
                        <el-input placeholder="Please input" v-model="orderForm.cut_off_price" style="width: 95%;"></el-input>
                        <br>
                    </div>
                    <br>
                </div>

                <div class="col-md-6" v-if="asset_class === 'Deposits' || asset_class === 'Bonds'">
                    <div class="form-group">
                        <label>Minimum rate:</label>
                        <el-input placeholder="Please input" v-model="orderForm.minimum_rate" style="width: 95%;"></el-input>
                        <br>
                    </div>
                    <br>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>The order shall be good till?</label><br>
                        <el-radio-group v-model="good_till">
                            <el-radio border
                                      v-for="type in lifespanTypes"
                                      :key="type.id"
                                      :label="type.id">
                                {{ type.name }}
                            </el-radio>
                        </el-radio-group>
                        <br>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class="form-group" v-if="good_till_type === 'expiry'">
                        <label>Expiry date</label><br>
                        <el-date-picker
                                v-model="expiry_date"
                                type="date"
                                placeholder="Pick a day"
                                width="60%">
                        </el-date-picker>
                        <br>
                    </div>
                </div>

                <br>

            </div>

            <br>
            <hr>
            <br>

            <div class="col-md-12">
                <hr>
                <br>
                <div class="col-md-6">
                    <div class="form-group">
                        <i class="fa fa-spinner fa-spin" v-if="fetchingFund" filterable></i> <i class="" v-else></i>
                        <el-select v-model="fundOrder.unit_fund_id" placeholder="Select unit fund" style="width: 98%;" v-bind:aria-required="true">
                            <el-option
                                    v-for="fund in funds"
                                    :key="fund.id"
                                    :label="fund.name"
                                    :value="fund.id">
                            </el-option>
                        </el-select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <el-select v-model="fundOrder.custodial_account_id" placeholder="Select custodial account" style="width: 95%;" filterable>
                            <el-option
                                    v-for="custodialAccount in custodialAccounts"
                                    :key="custodialAccount.id"
                                    :label="custodialAccount.account_name"
                                    :value="custodialAccount.id">
                            </el-option>
                        </el-select>
                        <br>
                    </div>
                    <br>
                </div>

                <div class="col-md-6" v-if="asset_class === 'Equities'">
                    <div class="form-group">
                        <el-input placeholder="Please input shares" v-model="fundOrder.shares" style="width: 98%;" v-bind:aria-required="true"></el-input>
                        <br>
                    </div>
                </div>

                <div class="col-md-6" v-else>
                    <div class="form-group">
                        <el-input placeholder="Please input amount" v-model="fundOrder.amount" style="width: 98%;" v-bind:aria-required="true"></el-input>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <br>
                        <el-button type="success" @click="addFundOrder(fund)" size="mini">
                            <i class="el-icon-loading" v-if="gettingCompliance"></i> Add to list
                        </el-button>
                        <br>
                    </div>
                    <br>
                </div>
            </div>

            <div v-if="formFundOrders.length > 0" class="col-md-12">
                <hr>
                <br>
                <order-list></order-list>
            </div>

            <br>
            <br>
            <br>

            <div class="col-md-12">
                <br>
                <hr>
                <br>
                <div class="col-md-6">
                    <el-button size="small" type="primary" @click="submit">
                        <i class="el-icon-loading" v-if="savingOrder"></i> Complete order
                    </el-button>

                    <a class="btn btn-default" @click="cancel">Cancel</a>
                </div>
            </div>
        </div>


        <!--    Warning dialog -->
        <el-dialog
                title="Warning"
                :visible.sync="warningDialog"
                width="20%">
            <span>
                <warning-component></warning-component>
            </span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="reject">Reject</el-button>
                <el-button type="primary" @click="confirm">Confirm</el-button>
              </span>
        </el-dialog>
    </div>
</template>