<script>
    import  create from './create';

    export default {
        mixins: [ create ],

        methods: {
            remove: function (order) {
                let index = this.formFundOrders.indexOf(order);

                if (index !== -1) {
                    this.formFundOrders.splice(index, 1);
                }
            }
        }
    }
</script>

<template>
    <div class="">
        <el-table
                :data="formFundOrders"
                style="width: 100%">
            <el-table-column
                    label="Name">
                <template slot-scope="scope">
                    <i class=""></i>
                    <span>{{ scope.row.name }}</span>
                </template>
            </el-table-column>
            <el-table-column
                    label="Short Name">
                <template slot-scope="scope">
                    <el-popover trigger="hover" placement="top">
                        <div slot="reference" class="name-wrapper">
                            <el-tag size="medium">{{ scope.row.short_name }}</el-tag>
                        </div>
                    </el-popover>
                </template>
            </el-table-column>
            <el-table-column
                    label="Account">
                <template slot-scope="scope">
                    <i class=""></i>
                    <span>{{ scope.row.account_name }}</span>
                </template>
            </el-table-column>
            <el-table-column
                    label="Value">
                <template slot-scope="scope">
                    <el-popover trigger="hover" placement="top">
                        <div slot="reference" class="name-wrapper">
                            {{ scope.row.value | currency }}
                        </div>
                    </el-popover>
                </template>
            </el-table-column>
            <el-table-column
                label="Actions">
                <template slot-scope="scope">
                    <el-button
                            class="el-icon-delete"
                            size="mini"
                            type="danger"
                            @click="remove(scope.row)">

                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>