<script>
    import { mapGetters } from 'vuex';

    export default {

        computed: {
            ...mapGetters({
                status: 'status'
            })
        }
    }
</script>

<template>
    <div class="">
        <p>The fund order is not compliant according to the added compliance linked:</p>
        <br>
        <el-table
                ref="singleTable"
                :data="status"
                highlight-current-row
                style="width: 100%">
            <el-table-column
                    label=""
                    type="index"
                    width="50">
            </el-table-column>
            <el-table-column
                    property="description"
                    label="Reason(s)"
                    width="900">
            </el-table-column>
        </el-table>
    </div>
</template>