<script type="text/babel">

    import vueTableMixin from '../../../mixins/vuetable_mixin';

    export default {

        mixins: [vueTableMixin],

        data() {
            return {
                url: '',
                fundId: null,
                fields: [
                    { name: 'code', title: 'CLIENT CODE', sortField: 'code' },
                    { name: 'name', title: 'CLIENT NAME', sortField: 'name' },
                    { name: 'fund', title: 'Unit Fund', sortField: 'fund' },
                    { name: 'ownedUnits', title: 'Owned Units' },
                    { name: 'feesIncurred', title: 'Fees Incurred' },
                    { name: '__view_action', title: 'View', titleClass: 'text-center', dataClass: 'text-center' },
                ],
                tableState: {
                },
                promise: true
            }
        },

        created: function () {
            this.fundId = this.$route.params.fid;
            this.url = `/api/unitization/unit-funds/${this.fundId}/unit-fund-clients`;
        },

        methods: {

        }
    }
</script>

<template id="list-unit-fund-holders-for-fund">
    <div class="col-md-12">
        <div class="panel-dashboard">
            <h3>
                Unit Fund Clients
                <span class="btn-group pull-right">
                    <router-link v-bind:to="{ name: 'unit-funds.show', params: { id: fundId } }" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Back to Fund</router-link>
                </span>
            </h3>

            <div class="col-md-6 pull-right">
                <search-bar :search-label='"Search holders..."'></search-bar>
            </div>

            <div class="crims_table">
                <vuetable ref="vuetable"
                          :api-url="url"
                          :fields="fields"
                          pagination-path=""
                          @vuetable:pagination-data="onPaginationData"
                          :append-params="tableState"
                          :per-page="itemsPerPage"
                >
                </vuetable>

                <div class="vuetable-pagination ui basic segment grid crims_pagination">
                    <table>
                        <tfoot>
                            <tr>
                                <td class="text-center" width="50%">
                                    <div class="inline-block" style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                        <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                        <select style="width: 100px" class="form-control" v-model="itemsPerPage" @change="changePerPage">
                                            <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <vuetable-pagination-info ref="paginationInfo"></vuetable-pagination-info>
                                    <vuetable-pagination
                                            ref="pagination"
                                         @vuetable-pagination:change-page="onChangePage"
                                    ></vuetable-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>