<script type="text/babel">

    import vueTableMixin from '../../../mixins/vuetable_mixin';

    export default {

        mixins: [vueTableMixin],

        data() {
            return {
                url: '/api/unitization/unit-fund-holders',
                fields: [
                    { name: 'id', title: 'ID', sortField: 'id' },
                    { name: 'holderNumber', title: 'Holder Number', sortField: 'holderNumber' },
                    { name: 'holderName', title: 'Holder Name', sortField: 'holderName' },
                    { name: 'unitFund', title: 'Unit Fund', sortField: 'unitFund' },
                    { name: 'ownedUnits', title: 'Owned Units' },
                    { name: 'feesIncurred', title: 'Fees Incurred' },
                    { name: '__view_action', title: 'View', titleClass: 'text-center', dataClass: 'text-center' },
                ],
                tableState: {
                },
                promise: true
            }
        },

        methods: {

        }
    }
</script>

<template id="list-unit-fund-holders">
    <div>
        <h3>
            Unit Fund Clients Management
        </h3>

        <div class="col-md-6 pull-right">
            <search-bar :search-label='"Search holders..."'></search-bar>
        </div>

        <div class="crims_table">
            <vuetable ref="vuetable"
                      :api-url="url"
                      :fields="fields"
                      pagination-path=""
                      @vuetable:pagination-data="onPaginationData"
                      :append-params="tableState"
                      :per-page="itemsPerPage"
            >
            </vuetable>

            <div class="vuetable-pagination ui basic segment grid crims_pagination">
                <table>
                    <tfoot>
                        <tr>
                            <td class="text-center" width="50%">
                                <div class="inline-block" style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                    <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                    <select style="width: 100px" class="form-control" v-model="itemsPerPage" @change="changePerPage">
                                        <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}</option>
                                    </select>
                                </div>
                            </td>
                            <td class="text-center">
                                <vuetable-pagination-info ref="paginationInfo">
                                </vuetable-pagination-info>
                                <vuetable-pagination ref="pagination"
                                                     @vuetable-pagination:change-page="onChangePage"
                                ></vuetable-pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</template>