<script type="text/babel">

    import axios from 'axios';
    import { Message } from 'element-ui';
    import Vue from 'vue';

    Vue.component('client-details', require('./partials/holderdetails.vue'));
    Vue.component('unit-purchases-admin', require('./partials/unitpurchases.vue'));
    Vue.component('unit-sales-admin', require('./partials/unitsales.vue'));
    Vue.component('unit-transfers-given-admin', require('./partials/unittransfersgiven.vue'));
    Vue.component('unit-transfers-received-admin', require('./partials/unittransfersreceived.vue'));
    Vue.component('preview-statement', require('./partials/previewstatement.vue'));

    export default {
        data() {
            return {
                loading: false,
                url: '',
                client: { details: {}},
                clientId : null,
                fundId: ''
            }
        },

        created: function() {
            let id = this.$route.params.id;
            let fid = this.$route.params.fid;

            this.fundId = fid;
            this.clientId = id;

            this.url = `/api/unitization/unit-funds/${fid}/unit-fund-clients/${id}`;
            this.getUnitFundHolder();
        },

        methods: {
            getUnitFundHolder: function () {
                axios.get(this.url)
                    .then(({data}) => {
                        this.client = data;
                    }, () => {
                        Message.warning({message: 'Failed to get the client details, please try again'});
                        this.$router.push({name: 'unit-fund-holders.index'});
                    });
            }
        }
    }
</script>

<template id="id-of-template" v-cloak>
    <div class="col-md-12">
        <div class="panel-dashboard">
            <client-details :client="client.details"></client-details>
            <preview-statement :clientId="client.details.id" :fundId="fundId"></preview-statement>
        </div>

        <div class="panel-dashboard">
            <unit-purchases-admin :purchases="client.purchases" :client="client.details"></unit-purchases-admin>
        </div>

        <div class="panel-dashboard">
            <unit-sales-admin :sales="client.sales"></unit-sales-admin>
        </div>

        <div class="panel-dashboard">
            <unit-transfers-given-admin :transfers="client.transfers_given"></unit-transfers-given-admin>
        </div>

        <div class="panel-dashboard">
            <unit-transfers-received-admin :transfers="client.transfers_received"></unit-transfers-received-admin>
        </div>
    </div>
</template>