<script>
    import colors from '../../../../mixins/utils/colors'
    import Raphael from 'raphael/raphael'
    global.Raphael = Raphael

    import Vue from 'vue'
    import { DonutChart } from 'vue-morris'

    export default {
        mixins: [ colors ],
        props: ['data'],
        data() {
            return {
                descriptions: []
            }
        },
        watch:{
            data: {
                handler: function () {
                    let newData = this.data;
                    let vm = this
                    let colors = this.colors;
                    var i;
                    let items = {}

                    for (i = 0; i < newData.length; i++){
                        items.label = newData[i].label;
                        items.value = newData[i].value;
                        items.color = colors[i]
                        vm.descriptions.push(items);
                    }
                }
            }
        },

        components: {
            DonutChart
        }

    }
</script>

<template>
    <div class="vue-chart">
        <div class="chat-area">
            <donut-chart
                    id="donut"
                    :data="data"
                    :colors='colors'
                    resize="false">
            </donut-chart>
        </div>
        <!--<div class="description">-->

        <!--<tr v-for="descr in descriptions">-->
        <!--<th><i :style="{color: descr.color}" class="fa fa-circle-o" aria-hidden="true"></i></th>-->
        <!--<td>{{descr.label}}</td>-->
        <!--<td>{{descr.value}}</td>-->
        <!--</tr>-->
        <!--</div>-->
    </div>
</template>




