<template>
    <div class="gravatar__profile">
        <img :src="url" alt="avatar">
    </div>
</template>

<style>
    .gravatar__profile img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
</style>

<script>

    import md5 from 'md5';
    const ENDPOINT = 'https://www.gravatar.com/avatar/';

    export default {
        props: {
            href: {
                type: String
            },
            default: {
                type: String,
                default: 'mm'
            },
            size: {
                type: Number,
                default: 95
            }
        },
        data () {
            return {
                endpoint: ENDPOINT
            }
        },
        computed: {
            url () {

                let hash = md5(this.href.trim());

                let size = '?s=' + this.size;

                let defPicture = '&d=' + this.default;

                if (this.default === 'gravatar') {
                    defPicture = ''
                }

                return this.endpoint + hash + size + defPicture
            }
        }
    }
</script>