<script></script>

<template>
    <div class="dash-card ">
        <div class="card">
            <content-card-shimmer></content-card-shimmer>
        </div>
        <div class="card">
            <content-card-shimmer></content-card-shimmer>
        </div>
        <div class="card">
            <content-card-shimmer></content-card-shimmer>
        </div>
    </div>
</template>

<style>
    .dash-card {
        display: flex;
        width: 100%;
        max-height: 180px;
        margin-bottom: 20px;
    }

    .dash-card .card {
        border: 1px solid #eee;
        width: 30%;
        margin: 0 10px;
        max-height: 180px;
        border-radius: 0;
    }
</style>