<script>
    import summaryCards from './summary-cards';

    export default {
        mixins: [summaryCards]
    }
</script>
<template>
    <div class="investment-cards">
        <div v-show="fetchingSammary">
            <dash-card-placeholder></dash-card-placeholder>
        </div>

        <div class="unit_trust" >
            <div class="fund_cards__body pending-approvals" v-show="hasApprovals && !fetchingSammary">
                <approval-card></approval-card>
            </div>

            <div class="fund_cards__body" v-show="!fetchingSammary" v-for="summary in summaryPaginated"
                 @click="gotToFund(summary.details)">
                <div class="summary">
                    <h3>{{summary.details.shortname}} </h3>
                    <h2 v-show="summary.details.type !== 'money-market-fund'">{{summary.details.ownedUnits}}
                        <small>Units</small>
                    </h2>
                    <h2 v-show="summary.details.type === 'money-market-fund'">
                        <small>Total: </small>
                        {{summary.details.currency_code}} {{summary.details.calculate.total | currency(null, 0)}}
                    </h2>
                </div>

                <div class="details">

<!--                    <div v-show="summary.details.ownedUnits !==null && summary.details.type !== 'money-market-fund'" class="details__description">-->
<!--                        <span>Units:</span>-->
<!--                        <span>{{summary.details.ownedUnits }}</span>-->
<!--                    </div>-->

                    <div v-show="summary.details.un_invested_amount > 0 && summary.details.type == 'money-market-fund'" class="details__description">
                        <span>Uninvested:</span>
                        <span>{{summary.details.currency_code}} {{summary.details.un_invested_amount | currency(null, 0)}}</span>
                    </div>

                    <div v-show="summary.details.un_invested_amount > 0 && summary.details.type !== 'money-market-fund'" class="details__description">
                        <span>Uninvested:</span>
                        <span> {{summary.details.un_invested_amount | currency(null, 0)}} Units</span>
                    </div>

                    <div v-show="summary.details.total_invested_amount !==null" class="details__description">
                        <span>Principal:</span>
                        <span>{{summary.details.currency_code}} {{summary.details.calculate.purchases | currency(null, 0)}}</span>
                    </div>

                    <div v-show="summary.details.calculate.sales !==null" class="details__description">
                        <span>Withdrawal:</span>
                        <span>{{summary.details.currency_code}} {{(summary.details.calculate.sales * summary.details.price) | currency(null, 0)}}</span>
                    </div>

                    <div v-show="summary.details.calculate.net_interest !==null" class="details__description">
                        <span>Interest:</span>
                        <span>{{summary.details.currency_code}} {{summary.details.calculate.net_interest | currency(null, 0)}}</span>
                    </div>

                    <div v-show="summary.details.price !==null && summary.details.type !== 'money-market-fund'" class="details__description">
                        <span>Price:</span>
                        <span>{{summary.details.currency_code}} {{summary.details.price | currency}}</span>
                    </div>

                </div>

                <div class="toggle">
                    <button>View Fund</button>
                </div>

            </div>

            <div class="fund_cards__body plain" v-for="template in placeholderCards" v-html="template.html"></div>

        </div>
        <div class="investment-cards__pagination">
            <div class="toggle_cards" v-show="pageCount>0">
                <button @click="prevPage" :disabled = "pageNumber == 0">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </button>
                <span class="paginate-text">
                    {{paginationCount}}
                </span>
                <button @click="nextPage" :disabled ="parseInt(pageNumber) + 1 === pageCount">
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </button>
            </div>
        </div>

    </div>
</template>
