<script>
    import ListMixins from './ListMixin';
    export default {
        name: "pendingApprovals",
        mixins: [ListMixins]
    }
</script>

<template>
    <div class="crims-page pending-approvals">
        <breadcrumb>
            <h3>Pending Approvals</h3>
        </breadcrumb>

        <div class="crims-page-area">
            <div v-if="fetchingApprovals">
                <table-holder></table-holder>
            </div>

            <div class="crims-table-area table_scroll" v-else>
                <el-table
                        :data="approvals"
                        :default-expand-all= "true"
                        :row-class-name="tableRowClassName"
                        style="width: 100%">

                    <el-table-column type="expand" >
                        <template slot-scope="props">
                            <div class="crims-table-area">
                                <div  class="crims-table-area__head">
                                    <h3>Signatories</h3>
                                </div>

                                <table class="crims-table" style="width: 100%">
                                    <thead class="crims-table-head">
                                    <tr>
                                        <th>User</th>
                                        <th>Status</th>
                                        <th>Requested</th>
                                        <th>Reason</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="signator in props.row.signatories">
                                        <td>{{signator.user}}</td>
                                        <td>
                                            <el-tag v-if="!signator.approval_status">{{ signator.status }}</el-tag>
                                            <el-tag v-if="signator.approval_status == 1" type="success">{{ signator.status }}</el-tag>
                                            <el-tag v-if="signator.approval_status == 2" type="danger">{{ signator.status }}</el-tag>
                                        </td>
                                        <td>
                                            <span v-if="signator.requested" ><i class="text-center fa fa-check-square-o" style="color: #3c763d"></i></span>
                                            <span v-else><i class="text-center fa fa-close" style="color: #a94442"></i></span>
                                        </td>
                                        <td>{{ signator.reason }}</td>
                                        <td>
                                            <el-button
                                                    v-show="signator.show_approve && signator.approval_status !== 1"
                                                    class="crims_action_button success"
                                                    size="mini"
                                                    round
                                                    @click="handleApprove(props.row, signator)">
                                                Approve
                                            </el-button>

                                            <el-button
                                                    v-show="signator.show_approve"
                                                    type="danger"
                                                    size="mini"
                                                    round
                                                    @click="handleReject(props.row, signator)">
                                                Reject
                                            </el-button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </template>
                    </el-table-column>

                    <el-table-column
                            label="Type"
                            prop="type">
                    </el-table-column>

                    <el-table-column
                            label="Product"
                            prop="product">
                    </el-table-column>

                    <el-table-column
                            label="Amount"
                            prop="amount">
                    </el-table-column>

                    <el-table-column
                            label="Date"
                            prop="date">
                    </el-table-column>

                    <el-table-column
                            label="Target"
                            prop="mandate">
                    </el-table-column>

                    <el-table-column label="approval">
                        <template slot-scope="scope">
                            <el-tag size="small" type="success" v-if="scope.row.status"> <i class="el-icon-circle-check"></i> </el-tag>
                            <el-tag size="small" type="danger" v-else> <i class="el-icon-error"></i> </el-tag>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </div>

        <div>
            <action-drawer title="Confirm Approval" :visible.sync="approve_drawer">
                <approve-transaction
                        :approver="approvalUser"
                        :approve_status="approve_status"
                        :transaction="approvalData"></approve-transaction>
            </action-drawer>
        </div>

    </div>
</template>

<style>
    .el-table__expanded-cell[class*=cell] {
        padding: 15px;
        background: #eee;
    }

    .el-table__expanded-cell[class*=cell] td, .el-table__expanded-cell[class*=cell]  th {
        padding: 10px;
    }
    .el-table__expanded-cell[class*=cell] thead tr {
        background: #f8f8f8;
    }

    .el-table th, .el-table thead tr {
        background: #f8f8f8;
    }

</style>
