<script>
    import AddEditDetails from './add_edit_details';

    export default {
        mixins: [AddEditDetails],
    }
</script>

<template>
    <div>
        <el-form label-position="top" size="small" style="width: 100%;"
                 ref="bankDetailsForm">
            <div class="details">
                <div class="description edit_card">
                    <div class="card-heading">
                        <h4 style="color: #066;font-weight: 600">CLIENT ACCOUNT FORM</h4>
                    </div>

                    <div class="subscriber-form">
                        <form name="subform">
                            <div v-show="step === 'form'">
                                <div v-show="!mpesaForm">
                                    <el-form-item label="Bank">
                                        <el-select v-model="bank" placeholder="Select Bank" style="width: 100%"
                                                   filterable>
                                            <el-option v-for="b in banks" :key="b.id" :label="b.name"
                                                       :value="b.id"></el-option>
                                        </el-select>
                                        <p class="form_errors" v-if="errors['bank']">{{errors['bank'][0]}}</p>
                                    </el-form-item>

                                    <el-form-item label="Branch" v-loading="fetchingBranches">
                                        <el-select v-model="branch" placeholder="Select Bank Branch"
                                                   style="width: 100%" filterable>
                                            <el-option v-for="br in branches" :key="br.id" :label="br.name"
                                                       :value="br.id"></el-option>
                                        </el-select>
                                        <p class="form_errors" v-if="errors['branch']">{{errors['branch'][0]}}</p>
                                    </el-form-item>

                                    <el-form-item label="Currency:">
                                        <el-select v-model="accountDetailsForm.currency_id"
                                                   placeholder="Select Currency" style="width: 100%" filterable>
                                            <el-option v-for="c in bankCurrencies" :key="c.id" :label="c.label"
                                                       :value="c.id"></el-option>
                                        </el-select>
                                        <p class="form_errors" v-if="errors['currency']">
                                            {{errors['currency'][0]}}</p>
                                    </el-form-item>

                                    <el-form-item label="Account Name:">
                                        <el-input v-model="accountDetailsForm.investor_account_name"></el-input>
                                        <p class="form_errors" v-if="errors['investor_account_name']">
                                            {{errors['investor_account_name'][0]}}</p>
                                    </el-form-item>

                                    <el-form-item label="Account Number:">
                                        <el-input v-model="accountDetailsForm.investor_account_number"></el-input>
                                        <p class="form_errors" v-if="errors['investor_account_number']">
                                            {{errors['investor_account_number'][0]}}</p>
                                    </el-form-item>

                                    <el-form-item label="Country:">
                                        <el-select v-model="accountDetailsForm.country_id"
                                                   placeholder="Select Country" style="width: 100%" filterable>
                                            <el-option v-for="c in countries" :key="c.id" :label="c.name"
                                                       :value="c.id"></el-option>
                                        </el-select>
                                        <p class="form_errors" v-if="errors['country_id']">
                                            {{errors['country_id'][0]}}</p>
                                    </el-form-item>
                                </div>

                                <div v-show="mpesaForm">
                                    <el-form-item label="Phone Number:">
                                        <vue-tel-input v-model="accountDetailsForm.phone_number"
                                                       placeholder="Phone Number e.g 0712345678"
                                                       class="el-input__inner"></vue-tel-input>
                                        <p class="form_errors" v-if="errors['phone_number']">
                                            {{errors['phone_number'][0]}}</p>
                                    </el-form-item>

                                    <br>

                                    <el-form-item label="Country:">
                                        <el-select v-model="accountDetailsForm.country_id"
                                                   placeholder="Select Country" style="width: 100%" filterable>
                                            <el-option v-for="c in countries" :key="c.id" :label="c.name"
                                                       :value="c.id"></el-option>
                                        </el-select>
                                        <p class="form_errors" v-if="errors['country_id']">
                                            {{errors['country_id'][0]}}</p>
                                    </el-form-item>
                                </div>

                                <el-form-item>
                                    <el-button class="crims_action_button success"
                                               @click="confirmRequest">
                                        <i class="fa fa-save"></i> Confirm Process
                                    </el-button>

                                    <el-button v-show="!accId || mpesaForm" class="crims_action_button default"
                                               @click="viewMpesa">
                                        <i class="fa fa-plus"></i> Add <span v-if="mpesaForm">Bank</span><span v-else>Mpesa</span>
                                    </el-button>

                                    <el-button v-show="accId" class="crims_action_button danger"
                                               @click="deleteAccount">
                                        <i v-if="deletingAccount" class="el-icon-loading"></i>
                                        <i class="fa fa-trash-o"></i> Deactivate Account
                                    </el-button>
                                </el-form-item>
                            </div>

                            <div v-if="step === 'verify'">
                                <div class="" v-if="!inputToken">
                                    <p>Please select an option where you would like us to send you the
                                        confirmation code:</p>

                                    <el-radio-group v-model="ver_option"
                                                    style="font-size: 40px;margin-bottom: 30px;color: #757785;">
                                        <el-radio :label="1">Your email at <strong> {{ client.email | trimEmail
                                            }}</strong></el-radio>
                                        <br>
                                        <el-radio :label="2">Your phone through sms at <strong>{{ client.phone |
                                            trimPhone }}</strong>
                                        </el-radio>
                                        <br>
                                        <el-radio :label="3">I have the Authy Application.</el-radio>
                                    </el-radio-group>

                                    <el-form-item>
                                        <el-button class="crims_action_button success" @click="requestToken">
                                            <i v-if="sendingToken" class="el-icon-loading"></i>
                                            <i v-else class="fa fa-send"></i> Send Token
                                        </el-button>
                                    </el-form-item>
                                </div>
                                <div v-if="inputToken">

                                    <div class="description">
                                        <p>
                                            A six digit verification has been set to your
                                            <span v-if="ver_option  === 1">Email <i class="el-icon-message"></i></span>
                                            <span v-else-if="ver_option  === 2">SMS <i
                                                    class="el-icon-chat-round"></i></span>
                                            <span v-else-if="ver_option  === 3">Authy Application <i
                                                    class="el-icon-mobile"></i></span>
                                        </p>
                                    </div>


                                    <el-form-item label="Enter token:">
                                        <el-input v-model="form.token"></el-input>
                                        <p class="form_errors" v-if="errors['token']">{{errors['token'][0]}}</p>
                                    </el-form-item>

                                    <el-form-item>
                                        <el-button class="crims_action_button success" @click="authenticate">
                                            <i v-if="savingAccountDetails" class="el-icon-loading"></i>
                                            <i v-else class="fa fa-save"></i>
                                            Save Details
                                        </el-button>

                                        <span> Did not get the code? <a
                                                @click="requestToken">Send Again</a></span>
                                    </el-form-item>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="description edit_card">
                    <div v-show="!mpesaForm && step === 'form'">
                        <div class="card-heading">
                            <h5 style="color: #066;font-weight: 600">Bank Account Proof</h5>
                        </div>
                        <div v-show="accountDetailsForm.document_id && !editUpload" style="padding-top: 50px;">
                        <span>
                            <a target="_blank" :href="'/api/document/'+accountDetailsForm.document_id">
                                <i class="fa fa-file-pdf-o" aria-hidden="true"></i> View
                            </a>
                        </span>

                            <el-button class="crims_action_button default" @click="editUpload = true" style="margin-top: 20px;">
                                Edit Upload
                            </el-button>
                        </div>

                        <div v-show="!accountDetailsForm.document_id || editUpload">
                            <el-form-item label="Bank Proof (Optional)">
                                <div class="form-group">
                                    <el-upload
                                            class="upload-demo no-padding"
                                            drag
                                            :action='url'
                                            :headers="headers"
                                            :auto-upload="false"
                                            ref="upload"
                                            :data="accountDetailsForm"
                                            :on-change="showFile"
                                            :on-success="showUploadSuccess"
                                            size="medium"
                                            :on-error="errorOccurred">

                                        <i class="el-icon-upload"></i>
                                        <div class="el-upload__text">Drop file here or <em>click to upload</em> a
                                            file/screenshot
                                        </div>
                                        <div class="el-upload__tip" slot="tip">
                                            Images or pdf files with a size of less than 500kb
                                            <form-error name="file.*" :errors="errors"></form-error>
                                        </div>
                                    </el-upload>
                                </div>
                            </el-form-item>
                        </div>
                    </div>
                </div>
            </div>
        </el-form>
    </div>
</template>

<style>
    .el-tabs__content {
        min-height: 280px;
    }

    ul {
        z-index: 1;
    }

    .hide_class {
        background-color: transparent !important;
    }

</style>