@import "./re_dashboard";

.landing_page_container{
  background: #006B5B;
  //background-image: radial-gradient(50% 100%, rgba(163,207,95,0.80) 0%, #006B5B 100%), url("/assets/img/landing2.jpg");
  background-image: linear-gradient(-225deg, rgba(0,106,90,0.65) 0%, rgba(165,212,101,0.57) 100%), url("/assets/img/landing2.jpg");
  background-size: cover;
  min-height: 100%;
  height: auto;

  .crims-main-page {
    background: transparent;
  }

  .landing-content{
    min-height: 100%;
  }
  .footer footer p, .footer footer p a{
    color: #fff;
  }
  .landing_login_footer {
    ul {
      li {
        a {
          color: #ffffff;
          &:hover {
            color: #A3CF5F;
          }
        }
      }
    }

    .copyright {
      p{
        color: #ffffff;

        a{
          color: #ffffff;
          &:hover {
            color: #A3CF5F;
          }
        }
      }
    }
  }

  .home_login .login-panel{
    background: none;
    width: 100%;
    margin: 0px;

    .login_text_field {
      border: none;

      &:hover {
        border: none;
      }
    }
    .login-button{
      border: 0;
      border-radius: 3px;
      &:hover{
        border: 0;
        border-radius: 3px;
      }
    }
    h3{
      color: #fff;
    }
    .forgot_password_link{
      color: #fff;
    }
  }



}
.landing_page_container .cta_text_area{
  margin-top: 40px;
  max-width: 1000px;
  text-align: center;
}

.landing_page_container .cta_text_area .cta_text{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #FFFFFF;
  letter-spacing: 0;
  margin-bottom: 0px !important;
  //text-align: center;
}

.application_btns{
  width: 320px;
}
.application_btns .individual_btn{
  background: #FFFFFF;
  box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.10);
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #006B5B;
}

.application_btns .corporate_btn {
  background: #A3CF5F;
  box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.10);
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
}

.login-panel{
  padding: 40px;
}

.token_instr{
  text-align: left;
  font-weight: 600;
  font-size: 16px
}

.token_instr  p {
  margin-bottom: 0;
}

.landing-section {
  margin-top: 10%;
  //background: rgba(255,255,255,0.23);
  color: #fff !important;
  font-size: 14px;
}
.cta_text{
  font-size: 2.5em;
}
@media screen and (min-width: 640px) {
  .landing-section{
    background: rgba(255,255,255,0.23);
    color: #fff !important;
    font-size: 14px;
  }
}