.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.wrapper-box {
  width: 100%;
  //overflow: auto;
  overflow:hidden
}

.item-general-stats {
  min-width: 400px;
  background-color: #2c3949;
  border-radius: 3px;
  padding: 20px 20px 10px 20px;

  .item-general-stats-header {
    color: #fff;
    display: flex;
    margin-bottom: 10px;

    .item-general-stats-header-left {
      width: 70%;
      font-family: Futura;
      font-size: 12px;
    }

    .item-general-stats-header-right {
      width: 30%;
      text-align: right;

      .today-stat-text {
        padding: 5px 20px;
        border-radius: 20px;
        background-color: #6c757d;
        font-size: 10px;
        font-family: Futura;
      }
    }
  }

  .first-body {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }

  .item-general-stats-body {
    display: flex;

    .item-general-stats-body-left {
      width: 70%;

      .header {
        text-transform: uppercase;
        font-weight: bold;
        font-family: Futura;
        font-size: 10px;
        color: #fff;
      }

      .description {
        font-size: 16px;
        font-weight: bold;
        color: #6c757d;
      }
    }

    .item-general-stats-body-right {
      width: 30%;
      text-align: right;
      text-transform: uppercase;
      font-size: 16px;
      text-space: 4px;
      color: #ffffff;
      font-family: Futura;
      font-weight: 600;

      a {
        text-decoration: none;
        color: #fff !important;
      }
    }
  }
}


.re-card {
  margin: 0 2%;
  min-width: 350px;
  max-width: 400px;;
  position: relative;
  transition: all .8s;
  margin-bottom: 0;
  border-radius: 4px;

  @include preload;

  .investment-card-top-section {
    //background-color: rgba(0,0,0,0.1);
    border-radius: 4px;

    .investment-card-header {
      display: flex;
      width: 100%;
      padding: 3%;
      border-bottom: 1px solid #fff;
      transition: all .8s;

      .title {
        width: 70%;
        color: #fff;
        font-size: 14px;
        margin: 3%;
        font-family: Futura;
        font-weight: 400;
        text-transform: uppercase;
      }

      .action {
        width: 30%;
        font-size: 13px;
        color: #fff;
        font-weight: 400;
        padding: 5px 0px 5px 5px;
        border-left: 1px solid #fff;
        cursor: pointer;
        transition: .3s;

        &:hover {
          color: #a2d45e;
          font-weight: 600;
        }
      }
    }

    .investment-card-body {
      transition: all .8s;

      table{
        margin: 3% !important;

        tr {

          th {
            font-weight: 400;
            color: #fff;
            font-size: 14px;
            text-align: left;
            padding: 2%;
            font-family: Futura;
          }

          td {
            color: #fff;
            font-size: 14px;
            font-family: Futura;
            font-weight: 600;
          }
        }
      }
    }
  }

  &:hover, &:focus {
    cursor: pointer;
    -webkit-box-shadow: rgba(0, 0, 0, .25) 0px 4px 5px 0px, rgba(232, 237, 250, .5) 0px 2px 4px 0px;
    -moz-box-shadow: rgba(0, 0, 0, .25) 0px 4px 5px 0px, rgba(232, 237, 250, .5) 0px 2px 4px 0px;
    box-shadow: rgba(0, 0, 0, .25) 0px 4px 5px 0px, rgba(232, 237, 250, .5) 0px 2px 4px 0px;
  }


}