<script>
    import PaginationMixins from '../../../../../mixins/vuetable/paginationMixins'
    import {mapGetters} from 'vuex';

    export default {
        mixins: [PaginationMixins],
        data() {
            return {
                fields: [
                    {
                        name: 'type',
                        title: 'Action'
                    },
                    {
                        name: 'unitFund',
                        title: 'Fund'
                    },
                    {
                        name: 'number',
                        title: 'No of Units'
                    },
                    {
                        name: 'amount',
                        title: 'Amount'
                    },
                    {
                        name: 'date',
                        title: 'Date'
                    },
                    {
                        name: 'currency',
                        title: 'Currency'
                    }

                ],

                loading: false,
                recentActivities: []
            }
        },
        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient'
            }),

            url: function () {
                return '/api/unitization/unit-fund/' + this.selectedClient.id + '/recent-activities-summaries';
            }
        }

    }
</script>

<template>
    <div>
        <div class="heading">
            <span class="heading-left">
                <h3>Recent Activities</h3>
            </span>
            <span class="heading-right">
                <router-link :to="{ name: 'FundActivities' }">
                <small>
                    View All
                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
                </small>
                </router-link>
            </span>
        </div>

        <div class="recent-activities-area">
            <div>
                <div class="crims-table-area">
                    <div class="crims-table-area__body">
                        <vuetable ref="vuetable"
                                  :api-url="url"
                                  :fields="fields"
                                  :multi-sort="true"
                                  :per-page="5"
                                  :noDataTemplate="noData"
                                  pagination-path=""
                                  @vuetable:loaded="onLoaded"
                                  @vuetable:pagination-data="onPaginationData">
                        </vuetable>
                    </div>

                    <div class="crims-table-area__foot">
                        <div v-if="vueTableLoading">
                            <content-card-shimmer></content-card-shimmer>
                        </div>

                        <div v-show="!vueTableLoading" class="vuetable-pagination crims-table-area__pagination  ui basic segment grid">
                            <vuetable-pagination-info ref="paginationInfo"></vuetable-pagination-info>
                            <vuetable-pagination :css="pagination" ref="pagination" @vuetable-pagination:change-page="onChangePage">
                            </vuetable-pagination>
                        </div>
                    </div>
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>
</template>