$full_menu_width: 201px;
$collapsed_menu_width: 50px;
@import '~material-icons/css/material-icons.scss';
$material-icons-codepoints: () !default; /* Sass map of icon names and codepoints */
$material-icons-font-path: '' !default;
$material-icons-font-name: 'MaterialIcons-Regular' !default;
$material-icons-font-size: 24px !default;
$material-icons-font-family: 'Material Icons' !default;

@import "fonts";