<table style="height: 1241px;" width="455">
<thead>
<tr>
<td colspan="9" width="455">
<p><strong><em>all prices in Kshs unless stated otherwise</em></strong></p>
</td>
</tr>
<tr>
<td>
<p><strong>No.</strong></p>
</td>
<td>
<p><strong>Company</strong></p>
</td>
<td>
<p><strong>Price as at 09/02/18</strong></p>
</td>
<td>
<p><strong>Price as at 16/02/18</strong></p>
</td>
<td>
<p><strong>w/w Change</strong></p>
</td>
<td>
<p><strong>YTD Change</strong></p>
</td>
<td>
<p><strong>Target Price*</strong></p>
</td>
<td>
<p><strong>Dividend Yield</strong></p>
</td>
<td>
<p><strong>Upside/ (Downside)**</strong></p>
</td>
</tr>
</thead>
<tbody>
<tr>
<td>
<p>1.</p>
</td>
<td>
<p>NIC***</p>
</td>
<td style="text-align: center;">
<p>35.8</p>
</td>
<td style="text-align: center;">
<p>36.0</p>
</td>
<td style="text-align: center;">
<p>0.7%</p>
</td>
<td style="text-align: center;">
<p>6.7%</p>
</td>
<td style="text-align: center;">
<p>61.4</p>
</td>
<td style="text-align: center;">
<p>3.5%</p>
</td>
<td style="width: 117px; height: 44px; text-align: center;" width="63">
<p>74.1%</p>
</td>
</tr>
<tr style="height: 60px;">
<td style="width: 31px; height: 60px;" width="24">
<p>2.</p>
</td>
<td style="width: 549px; height: 60px;" width="86">
<p>KCB Group</p>
</td>
<td style="width: 10px; height: 60px; text-align: center;" width="53">
<p>45.3</p>
</td>
<td style="width: 84px; height: 60px; text-align: center;" width="50">
<p>45.5</p>
</td>
<td style="width: 63px; height: 60px; text-align: center;" width="44">
<p>0.6%</p>
</td>
<td style="width: 63px; height: 60px; text-align: center;" width="47">
<p>6.4%</p>
</td>
<td style="width: 56px; height: 60px; text-align: center;" width="42">
<p>59.7</p>
</td>
<td style="width: 74px; height: 60px; text-align: center;" width="47">
<p>6.6%</p>
</td>
<td style="width: 117px; height: 60px; text-align: center;" width="63">
<p>37.8%</p>
</td>
</tr>
<tr style="height: 44px;">
<td style="width: 31px; height: 44px;" width="24">
<p>3.</p>
</td>
<td style="width: 549px; height: 44px;" width="86">
<p>DTBK</p>
</td>
<td style="width: 10px; height: 44px; text-align: center;" width="53">
<p>210.0</p>
</td>
<td style="width: 84px; height: 44px; text-align: center;" width="50">
<p>210.0</p>
</td>
<td style="width: 63px; height: 44px; text-align: center;" width="44">
<p>0.0%</p>
</td>
<td style="width: 63px; height: 44px; text-align: center;" width="47">
<p>9.4%</p>
</td>
<td style="width: 56px; height: 44px; text-align: center;" width="42">
<p>281.7</p>
</td>
<td style="width: 74px; height: 44px; text-align: center;" width="47">
<p>1.3%</p>
</td>
<td style="width: 117px; height: 44px; text-align: center;" width="63">
<p>35.4%</p>
</td>
</tr>
<tr style="height: 44px;">
<td style="width: 31px; height: 44px;" width="24">
<p>4.</p>
</td>
<td style="width: 549px; height: 44px;" width="86">
<p>Barclays</p>
</td>
<td style="width: 10px; height: 44px; text-align: center;" width="53">
<p>10.6</p>
</td>
<td style="width: 84px; height: 44px; text-align: center;" width="50">
<p>10.7</p>
</td>
<td style="width: 63px; height: 44px; text-align: center;" width="44">
<p>0.5%</p>
</td>
<td style="width: 63px; height: 44px; text-align: center;" width="47">
<p>10.9%</p>
</td>
<td style="width: 56px; height: 44px; text-align: center;" width="42">
<p>12.8</p>
</td>
<td style="width: 74px; height: 44px; text-align: center;" width="47">
<p>9.4%</p>
</td>
<td style="width: 117px; height: 44px; text-align: center;" width="63">
<p>29.6%</p>
</td>
</tr>
<tr style="height: 60px;">
<td style="width: 31px; height: 60px;" width="24">
<p>5.</p>
</td>
<td style="width: 549px; height: 60px;" width="86">
<p>Liberty Holdings</p>
</td>
<td style="width: 10px; height: 60px; text-align: center;" width="53">
<p>19.6</p>
</td>
<td style="width: 84px; height: 60px; text-align: center;" width="50">
<p>19.5</p>
</td>
<td style="width: 63px; height: 60px; text-align: center;" width="44">
<p>(0.5%)</p>
</td>
<td style="width: 63px; height: 60px; text-align: center;" width="47">
<p>7.7%</p>
</td>
<td style="width: 56px; height: 60px; text-align: center;" width="42">
<p>24.4</p>
</td>
<td style="width: 74px; height: 60px; text-align: center;" width="47">
<p>3.8%</p>
</td>
<td style="width: 117px; height: 60px; text-align: center;" width="63">
<p>29.0%</p>
</td>
</tr>
<tr style="height: 60px;">
<td style="width: 31px; height: 60px;" width="24">
<p>6.</p>
</td>
<td style="width: 549px; height: 60px;" width="86">
<p>I&amp;M Holdings</p>
</td>
<td style="width: 10px; height: 60px; text-align: center;" width="53">
<p>119.0</p>
</td>
<td style="width: 84px; height: 60px; text-align: center;" width="50">
<p>120.0</p>
</td>
<td style="width: 63px; height: 60px; text-align: center;" width="44">
<p>0.8%</p>
</td>
<td style="width: 63px; height: 60px; text-align: center;" width="47">
<p>(5.5%)</p>
</td>
<td style="width: 56px; height: 60px; text-align: center;" width="42">
<p>150.4</p>
</td>
<td style="width: 74px; height: 60px; text-align: center;" width="47">
<p>2.5%</p>
</td>
<td style="width: 117px; height: 60px; text-align: center;" width="63">
<p>27.9%</p>
</td>
</tr>
<tr style="height: 44px;">
<td style="width: 31px; height: 44px;" width="24">
<p>7.</p>
</td>
<td style="width: 549px; height: 44px;" width="86">
<p>Kenya Re</p>
</td>
<td style="width: 10px; height: 44px; text-align: center;" width="53">
<p>12.7</p>
</td>
<td style="width: 84px; height: 44px; text-align: center;" width="50">
<p>13.0</p>
</td>
<td style="width: 63px; height: 44px; text-align: center;" width="44">
<p>2.4%</p>
</td>
<td style="width: 63px; height: 44px; text-align: center;" width="47">
<p>6.6%</p>
</td>
<td style="width: 56px; height: 44px; text-align: center;" width="42">
<p>16.4</p>
</td>
<td style="width: 74px; height: 44px; text-align: center;" width="47">
<p>0.0%</p>
</td>
<td style="width: 117px; height: 44px; text-align: center;" width="63">
<p>26.2%</p>
</td>
</tr>
<tr style="height: 44px;">
<td style="width: 31px; height: 44px;" width="24">
<p>8.</p>
</td>
<td style="width: 549px; height: 44px;" width="86">
<p>Britam</p>
</td>
<td style="width: 10px; height: 44px; text-align: center;" width="53">
<p>13.0</p>
</td>
<td style="width: 84px; height: 44px; text-align: center;" width="50">
<p>12.5</p>
</td>
<td style="width: 63px; height: 44px; text-align: center;" width="44">
<p>(3.5%)</p>
</td>
<td style="width: 63px; height: 44px; text-align: center;" width="47">
<p>(6.4%)</p>
</td>
<td style="width: 56px; height: 44px; text-align: center;" width="42">
<p>15.2</p>
</td>
<td style="width: 74px; height: 44px; text-align: center;" width="47">
<p>1.8%</p>
</td>
<td style="width: 117px; height: 44px; text-align: center;" width="63">
<p>23.4%</p>
</td>
</tr>
<tr style="height: 60px;">
<td style="width: 31px; height: 60px;" width="24">
<p>9.</p>
</td>
<td style="width: 549px; height: 60px;" width="86">
<p>Jubilee Insurance</p>
</td>
<td style="width: 10px; height: 60px; text-align: center;" width="53">
<p>5.5</p>
</td>
<td style="width: 84px; height: 60px; text-align: center;" width="50">
<p>5.3</p>
</td>
<td style="width: 63px; height: 60px; text-align: center;" width="44">
<p>(3.6%)</p>
</td>
<td style="width: 63px; height: 60px; text-align: center;" width="47">
<p>(5.4%)</p>
</td>
<td style="width: 56px; height: 60px; text-align: center;" width="42">
<p>6.2</p>
</td>
<td style="width: 74px; height: 60px; text-align: center;" width="47">
<p>1.8%</p>
</td>
<td style="width: 117px; height: 60px; text-align: center;" width="63">
<p>18.8%</p>
</td>
</tr>
<tr style="height: 60px;">
<td style="width: 31px; height: 60px;" width="24">
<p>10.</p>
</td>
<td style="width: 549px; height: 60px;" width="86">
<p>Co-op Bank</p>
</td>
<td style="width: 10px; height: 60px; text-align: center;" width="53">
<p>500.0</p>
</td>
<td style="width: 84px; height: 60px; text-align: center;" width="50">
<p>505.0</p>
</td>
<td style="width: 63px; height: 60px; text-align: center;" width="44">
<p>1.0%</p>
</td>
<td style="width: 63px; height: 60px; text-align: center;" width="47">
<p>1.2%</p>
</td>
<td style="width: 56px; height: 60px; text-align: center;" width="42">
<p>575.4</p>
</td>
<td style="width: 74px; height: 60px; text-align: center;" width="47">
<p>1.7%</p>
</td>
<td style="width: 117px; height: 60px; text-align: center;" width="63">
<p>15.7%</p>
</td>
</tr>
<tr style="height: 60px;">
<td style="width: 31px; height: 60px;" width="24">
<p>11.</p>
</td>
<td style="width: 549px; height: 60px;" width="86">
<p>CIC Group</p>
</td>
<td style="width: 10px; height: 60px; text-align: center;" width="53">
<p>17.0</p>
</td>
<td style="width: 84px; height: 60px; text-align: center;" width="50">
<p>17.1</p>
</td>
<td style="width: 63px; height: 60px; text-align: center;" width="44">
<p>0.6%</p>
</td>
<td style="width: 63px; height: 60px; text-align: center;" width="47">
<p>6.9%</p>
</td>
<td style="width: 56px; height: 60px; text-align: center;" width="42">
<p>18.6</p>
</td>
<td style="width: 74px; height: 60px; text-align: center;" width="47">
<p>5.4%</p>
</td>
<td style="width: 117px; height: 60px; text-align: center;" width="63">
<p>14.2%</p>
</td>
</tr>
<tr style="height: 60px;">
<td style="width: 31px; height: 60px;" width="24">
<p>12.</p>
</td>
<td style="width: 549px; height: 60px;" width="86">
<p>Sanlam Kenya</p>
</td>
<td style="width: 10px; height: 60px; text-align: center;" width="53">
<p>10.6</p>
</td>
<td style="width: 84px; height: 60px; text-align: center;" width="50">
<p>10.7</p>
</td>
<td style="width: 63px; height: 60px; text-align: center;" width="44">
<p>0.9%</p>
</td>
<td style="width: 63px; height: 60px; text-align: center;" width="47">
<p>2.9%</p>
</td>
<td style="width: 56px; height: 60px; text-align: center;" width="42">
<p>11.7</p>
</td>
<td style="width: 74px; height: 60px; text-align: center;" width="47">
<p>0.8%</p>
</td>
<td style="width: 117px; height: 60px; text-align: center;" width="63">
<p>10.4%</p>
</td>
</tr>
<tr style="height: 60px;">
<td style="width: 31px; height: 60px;" width="24">
<p>13.</p>
</td>
<td style="width: 549px; height: 60px;" width="86">
<p>HF Group***</p>
</td>
<td style="width: 10px; height: 60px; text-align: center;" width="53">
<p>28.3</p>
</td>
<td style="width: 84px; height: 60px; text-align: center;" width="50">
<p>29.0</p>
</td>
<td style="width: 63px; height: 60px; text-align: center;" width="44">
<p>2.7%</p>
</td>
<td style="width: 63px; height: 60px; text-align: center;" width="47">
<p>4.5%</p>
</td>
<td style="width: 56px; height: 60px; text-align: center;" width="42">
<p>31.4</p>
</td>
<td style="width: 74px; height: 60px; text-align: center;" width="47">
<p>1.1%</p>
</td>
<td style="width: 117px; height: 60px; text-align: center;" width="63">
<p>9.2%</p>
</td>
</tr>
<tr style="height: 60px;">
<td style="width: 31px; height: 60px;" width="24">
<p>14.</p>
</td>
<td style="width: 549px; height: 60px;" width="86">
<p>Stanbic Holdings</p>
</td>
<td style="width: 10px; height: 60px; text-align: center;" width="53">
<p>43.3</p>
</td>
<td style="width: 84px; height: 60px; text-align: center;" width="50">
<p>42.8</p>
</td>
<td style="width: 63px; height: 60px; text-align: center;" width="44">
<p>(1.2%)</p>
</td>
<td style="width: 63px; height: 60px; text-align: center;" width="47">
<p>7.5%</p>
</td>
<td style="width: 56px; height: 60px; text-align: center;" width="42">
<p>42.3</p>
</td>
<td style="width: 74px; height: 60px; text-align: center;" width="47">
<p>4.2%</p>
</td>
<td style="width: 117px; height: 60px; text-align: center;" width="63">
<p>3.1%</p>
</td>
</tr>
<tr style="height: 60px;">
<td style="width: 31px; height: 60px;" width="24">
<p>15.</p>
</td>
<td style="width: 549px; height: 60px;" width="86">
<p>Equity Group</p>
</td>
<td style="width: 10px; height: 60px; text-align: center;" width="53">
<p>81.0</p>
</td>
<td style="width: 84px; height: 60px; text-align: center;" width="50">
<p>81.0</p>
</td>
<td style="width: 63px; height: 60px; text-align: center;" width="44">
<p>0.0%</p>
</td>
<td style="width: 63px; height: 60px; text-align: center;" width="47">
<p>0.0%</p>
</td>
<td style="width: 56px; height: 60px; text-align: center;" width="42">
<p>79.0</p>
</td>
<td style="width: 74px; height: 60px; text-align: center;" width="47">
<p>5.1%</p>
</td>
<td style="width: 117px; height: 60px; text-align: center;" width="63">
<p>2.7%</p>
</td>
</tr>
<tr style="height: 60px;">
<td style="width: 31px; height: 60px;" width="24">
<p>16.</p>
</td>
<td style="width: 549px; height: 60px;" width="86">
<p>Standard Chartered</p>
</td>
<td style="width: 10px; height: 60px; text-align: center;" width="53">
<p>207.0</p>
</td>
<td style="width: 84px; height: 60px; text-align: center;" width="50">
<p>207.0</p>
</td>
<td style="width: 63px; height: 60px; text-align: center;" width="44">
<p>0.0%</p>
</td>
<td style="width: 63px; height: 60px; text-align: center;" width="47">
<p>(0.5%)</p>
</td>
<td style="width: 56px; height: 60px; text-align: center;" width="42">
<p>201.1</p>
</td>
<td style="width: 74px; height: 60px; text-align: center;" width="47">
<p>4.3%</p>
</td>
<td style="width: 117px; height: 60px; text-align: center;" width="63">
<p>1.4%</p>
</td>
</tr>
<tr style="height: 44px;">
<td style="width: 31px; height: 44px;" width="24">
<p>17.</p>
</td>
<td style="width: 549px; height: 44px;" width="86">
<p>NBK</p>
</td>
<td style="width: 10px; height: 44px; text-align: center;" width="53">
<p>9.0</p>
</td>
<td style="width: 84px; height: 44px; text-align: center;" width="50">
<p>8.5</p>
</td>
<td style="width: 63px; height: 44px; text-align: center;" width="44">
<p>(5.6%)</p>
</td>
<td style="width: 63px; height: 44px; text-align: center;" width="47">
<p>(9.6%)</p>
</td>
<td style="width: 56px; height: 44px; text-align: center;" width="42">
<p>5.6</p>
</td>
<td style="width: 74px; height: 44px; text-align: center;" width="47">
<p>0.0%</p>
</td>
<td style="width: 117px; height: 44px; text-align: center;" width="63">
<p>(34.1%)</p>
</td>
</tr>
</tbody>
<tfoot>
<tr style="height: 44px;">
<td style="width: 1047px; height: 44px;" colspan="9" width="455">
<p><em>*Target Price as per Cytonn Analyst estimates</em></p>
</td>
</tr>
<tr style="height: 44px;">
<td style="width: 1047px; height: 44px;" colspan="9" width="455">
<p><em>**Upside / (Downside) is adjusted for Dividend Yield</em></p>
</td>
</tr>
<tr style="height: 44px;">
<td style="width: 1047px; height: 44px;" colspan="9" width="455">
<p><em>***Banks in which Cytonn and/or its affiliates holds a stake</em></p>
</td>
</tr>
<tr style="height: 65px;">
<td style="width: 1047px; height: 65px;" colspan="9" width="455">
<p><em>For full disclosure, Cytonn and/or its affiliates holds a significant stake in NIC Bank, ranking as the 6<sup>th</sup> largest shareholder</em></p>
</td>
</tr>
</tfoot>
</table>