.dashboard__account_summary {
  .summaries {
    display: flex;
    margin: 0 -10px 10px -10px;
    flex-wrap: wrap;
    //justify-content: space-between;
    .summary_card {
      flex: 1;
      min-height: 197px;
      max-height: 197px;
      padding: 10px;

      margin-bottom: 10px;
      min-width: 250px;

      .summary_card_content {
        min-height: 197px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 3px;
        padding: 10px;

        &.card_dark {
          background-color: #2c3949;
        }

        &.card_ambient {
          background-color: #206e6a;
        }

        &.card_milieu {
          background-color: #7d6004;
        }

        .card {
          &__head {
            display: flex;
            justify-content: space-between;
            padding: 5px;
            .head_left {
              color: #ffffff;
              font-size: 12px;
              font-weight: 400;
            }
          }

          &__body {
            display: flex;
            justify-content: space-between;
            padding: 5px;
            border-bottom: 2px dashed rgba(255, 255, 255, 0.2);
            //border-top: 2px dashed rgba(255, 255, 255, 0.2);
          }

          &__foot {
            display: flex;
            justify-content: space-between;
            padding: 5px;

            .vertical_split {
              hr {
                border: 0;
                height: 30px;

              }
            }
          }
        }

        .card_section {
          h4 {
            font-family: 'Roboto medium', sans-serif;
            color: #ffffff;
            font-size: 12px;
            font-weight: 400;

            a {
              text-decoration: none;
              color: rgba(255, 255, 255, 0.7);
              &:hover {
                color: rgba(255, 255, 255, 1);
                cursor: pointer;
              }


              i {
                margin-left: 5px;
              }
            }

          }

          h2 {
            font-family: 'Roboto medium', sans-serif;
            color: #ffffff;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;

            a {
              text-decoration: none;
              color: rgba(255, 255, 255, 0.7);
              &:hover {
                color: rgba(255, 255, 255, 1);
                cursor: pointer;
              }

              i {
                margin-left: 5px;
              }
            }
          }

          p {
            font-family: 'Roboto medium', sans-serif;
            color: rgba(255, 255, 255, 0.5);
            font-size: 10px;
            font-weight: 300;

            a {
              text-decoration: none;
              color: rgba(255, 255, 255, 0.7);
              &:hover {
                color: rgba(255, 255, 255, 1);
                cursor: pointer;
              }


              i {
                margin-left: 5px;
              }
            }
          }
        }
      }
    }
  }
}