.dashboard__charts {
  .crims_dashboard_charts {
    display: flex;
    margin: 0 -10px;
    flex-wrap: wrap;

    .crims_chart {
      flex: 1;
      height: 400px;
      padding: 10px;

      min-width: 250px;
      margin-bottom: 10px;
      overflow-x: auto;
      overflow-y: hidden;


      .chart_area {
        height: 400px;
        border-radius: 3px;
        background-color: #ffffff;
        min-width: 400px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 22px;
        .chart {
          &__head {
            flex: 1;
            padding: 10px;
          }
        }
      }
    }
  }
}