.analysis_cards {
    &__sections {
      font-family: 'Roboto', sans-serif;
      display: flex;
      justify-content: space-between;
      margin: 0 -10px;
      flex-wrap: wrap;

      .analysis_card:hover {
        text-decoration: none;
      }

      .analysis_card {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-height: 100px;
        max-height: 100px;
        padding: 0 10px;
        cursor: pointer;
        text-decoration: none;

        min-width: 220px;
        max-width: 450px;
        margin-bottom: 25px;




        .card_content {
          min-height: 115px;
          max-height: 115px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-radius: 3px;
          padding: 15px;
          transition: box-shadow .3s;
          &:hover {
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
            cursor: pointer;
          }

          &.clients {
            background-image: linear-gradient(120deg, #f5515f 0%, #f4515f 100%);
          }

          &.investments {
            background-image: linear-gradient(120deg, #3dbdb6 0%, #0089ce 100%);
          }

          &.portfolio {
            background-image: linear-gradient(120deg, #de7f47 0%, #de3d47 100%);
          }

          &.aum {
            background-image: linear-gradient(-60deg, #b24592 0%, #f15f79 100%);
          }

          .summary {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 10px 0;
            &__head {
              padding: 10px 0;
                h5 {
                  color: #ffffff;
                  font-size: 12px;
                  font-weight: 400;
                }
            }

            &__content {
              display: flex;
              &_sub1 {
                flex: 1;
                h2 {
                  color: #ffffff;
                  font-size: 18px;
                  font-weight: 400;
                  text-transform: uppercase;
                  border-right: 2px solid #ffffff;
                }
                p{
                  color: rgba(255, 255, 255, 0.8);
                  font-size: 8px;
                  font-weight: 300;
                  text-transform: uppercase;
                }
              }

              &_sub2 {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex: 1;
                //border-left: 2px solid #ffffff;
                h2 {
                  color: #ffffff;
                  font-size: 18px;
                  font-weight: 400;
                  text-transform: uppercase;

                }
                p{
                  color: rgba(255, 255, 255, 0.8);
                  font-size: 8px;
                  font-weight: 300;
                  text-transform: uppercase;

                  a {
                    text-decoration: none;
                    width: 100%;
                    cursor: pointer;
                    color: rgba(255, 255, 255, 0.8);
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    i {
                      margin-left: 5px;
                    }

                    &:hover {
                      color: rgba(255, 255, 255, 1);;
                    }
                  }
                }

              }
            }
          }

        }

      }
    }

}
