.dashboard {

  &__salutation {
    padding: 10px 0;
    h4 {
      color: #000000;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 7px;
      margin-top: 5px;
    }

    p {
      color: #9b9b9b;
      font-size: 14px;
      font-weight: 300;
    }
  }
}