<script>
    import {mapGetters} from 'vuex'
    import {Message} from 'element-ui';
    import axios from 'axios'

    export default {
        props: ['approval', 'edit'],

        data() {
            return {
                url: '/api/client-instructions/approval-document/upload',
                extensions: 'image/*, application/pdf',
                filenames: '',
                sourceDocument: [],
                uploaded: false,
                completeBtn: false,
            }
        },

        computed: {
            ...mapGetters({
                defaultHeaders: 'defaultHeaders',
            }),

            docData() {
                return {
                    type: 'is_approvals',
                    approval_id: this.approval,
                    slug: 'is_approvals',
                    description: ''
                }
            }
        },

        methods: {
            errorOnUpload() {
                Message.error('Upload not successfully done.');
            },

            showUploadSuccess() {
                Message.success('Uploaded successfully');

                this.uploaded = true;
                this.completeBtn = true;

                this.fetchDocs();
            },

            getDescription() {
                let names = this.filenames.split(',');

                let res = '';

                if (names.length === 1) {
                    res = names[0]
                } else {
                    names.forEach((name) => {
                        res = name;
                    });
                }

                return res;

            },

            uploadDoc() {
                if (!this.$refs.upload.uploadFiles[0]) {
                    Message.warning('Upload the form to proceed');
                    return;
                }

                this.$refs.upload.submit();
            },

            fetchDocs() {
                axios.get('/api/instruction/' + this.approval + '/source-documents').then(
                    (response) => {
                        this.uploaded = true;
                        this.completeBtn = true;
                        this.sourceDocument = response.data.docs;
                    }
                );
            },

            remove(doc) {
                axios.get('/api/instruction/source-document/' + doc.document_id + '/delete')
                    .then(() => {
                        Message.success('Document Successfully removed');

                        this.fetchDocs();
                    }, () => {
                        Message.warning('Failed to remove the document');
                    });
            },

            complete() {
                window.location.href = '/dashboard/investments/';
            },
        },

        mounted() {
            if (this.edit) {
                this.completeBtn = true;
            }
        }
    }
</script>

<template>
    <div>
        <div class="col-md-12 panel-dashboard">
            <div class="crims-panel-heading">
                <div class="crims-panel-heading-left">
                    <h4>Instruction Source Document</h4>
                </div>
            </div>

            <br>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-7">
                        <div v-if="edit">
                            <el-alert
                                    title="OPTIONAL SOURCE DOCUMENT UPLOAD"
                                    type="info"
                                    effect="dark"
                                    :closable="false">
                            </el-alert>
                        </div>
                        <br>
                        <div>
                            <label class="required">Document Description</label>

                            <el-input v-model="docData.description" placeholder="Document Description"></el-input>
                        </div>
                        <br>
                        <br>

                        <div class="approval-doc">
                            <label class="required">Upload</label>
                            <el-upload
                                    class="upload-demo"
                                    drag
                                    :action=url
                                    :data=docData
                                    ref="upload"
                                    :headers="defaultHeaders"
                                    :on-error="errorOnUpload"
                                    :on-success="showUploadSuccess"
                                    :auto-upload="false"
                                    :thumbnail-mode="false"
                                    :multiple="true"
                                    :accept=extensions>
                                <i class="el-icon-upload"></i>
                                <div class="el-upload__text">Drop file(s) here or <em>click to upload</em></div>
                                <div class="el-upload__tip" slot="tip">JPG/JPEG/PDF files with a size less than 500kb
                                </div>
                            </el-upload>
                            <br>
                        </div>
                        <br>
                        <div>
                            <el-button type="success" @click="uploadDoc">Upload <i class="fa fa-upload"></i></el-button>
                            <el-button v-if="completeBtn" @click="complete">Complete Processing</el-button>
                            <br>
                        </div>
                        <br>
                    </div>
                    <div class="col-md-5">
                        <br>
                        <div class="uploaded-section rate-box" v-if="uploaded">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th> Type</th>
                                    <th> File</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="doc in sourceDocument">
                                    <td><i class="el-icon-success"></i> {{ doc.name }}</td>
                                    <td>
                                        <a target="_blank" :href="'/document/view-document/'+doc.document_id">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <span>
                                            <el-button type="danger" class="el-icon-delete" @click="remove(doc)"
                                                       size="mini"></el-button>
                                        </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
