<script>
    import { mapGetters } from 'vuex';
    import moment from 'moment';

    export default {
        props: ['client', 'orders', 'investments', 'projects', 'orderTypes'],
        data() {
            return {
                form: {},
                type_id: null,
                date: '',
                end_date: '',
                order_type_name: 'auto_rollover',
                project_id: ''
            }
        },

        computed: {
            ...mapGetters({
                formErrors: 'formErrors',
                savingOrder: 'savingOrder',
                fetching: 'fetching',
                orderTypes: 'standingOrderTypes',
                fetchingHoldings: 'fetchingHoldings',
                projectHoldings: 'projectHoldings',
                orderErrors: 'orderErrors'
            })
        },

        watch: {
            date: {
                handler: function () {
                    this.form.date = moment(this.date).format('YYYY-MM-DD');
                }
            },

            end_date: {
                handler: function () {
                    this.form.end_date = moment(this.end_date).format('YYYY-MM-DD');
                }
            },

            type_id: {
                handler: function () {
                    this.order_type_name = this.orderTypes.filter( (type) => {
                        return type.id === this.type_id;
                    })[0].slug;

                    this.form.type_id = this.type_id;
                }
            },

            project_id: {
                handler: function () {
                    this.getHoldings();

                    this.form.project_id = this.project_id;
                }
            }
        },

        methods: {
            submit: function () {

                this.form.client_id = this.client.id;

                this.$store.commit('SUBMIT_STANDING_ORDER', this.form);
            },

            getHoldings: function () {
                this.$store.commit('GET_PROJECT_HOLDINGS', {
                    cid: this.client.id,
                    pid: this.project_id
                });
            },

            close: function () {
                this.$store.commit('ORDER_MODAL', false);
            }
        },

        mounted() {
            this.type_id = 1;
        }
    }
</script>

<template>
    <div class="">
        <div class="panel panel-success">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Order type:</label>
                            <br>
                            <el-select v-model="type_id" placeholder="" style="width: 100%;">
                                <el-option
                                        v-for="orderType in orderTypes"
                                        :key="orderType.id"
                                        :label="orderType.name"
                                        :value="orderType.id">
                                </el-option>
                            </el-select>
                            <br>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <br>
                            <label>Investment (Do not select if order applies to all)</label>
                            <br>
                            <el-select v-model="form.investment_id" placeholder="" style="width: 100%;">
                                <el-option
                                        v-for="inv in investments"
                                        :key="inv.id"
                                        :label="inv.name"
                                        :value="inv.id">
                                </el-option>
                            </el-select>
                            <ul v-if="orderErrors['investment_id']" class="text-danger">
                                <li v-for="message in orderErrors['investment_id']" v-text="message"></li>
                            </ul>
                            <br>
                        </div>
                    </div>

                    <div class="col-md-12" v-if="order_type_name == 'auto_rollover'">
                        <div class="form-group">
                            <br>
                            <label>Tenor</label>
                            <br>
                            <el-input v-model="form.tenor" style="width: 100%"></el-input>
                            <ul v-if="orderErrors['tenor']" class="text-danger">
                                <li v-for="message in orderErrors['tenor']" v-text="message"></li>
                            </ul>
                            <br>
                        </div>
                    </div>


                    <div class="col-md-12" v-if="order_type_name == 'transfer_to_project'">
                        <div class="form-group">
                            <br>
                            <label>Select Project</label>
                            <br>
                            <el-select v-model="project_id" placeholder="" style="width: 100%;">
                                <el-option
                                        v-for="project in projects"
                                        :key="project.id"
                                        :label="project.long_name"
                                        :value="project.id">
                                </el-option>
                            </el-select>
                            <ul v-if="orderErrors['project_id']" class="text-danger">
                                <li v-for="message in orderErrors['investment_id']" v-text="message"></li>
                            </ul>
                            <br>
                        </div>
                    </div>

                    <div class="col-md-12" v-if="order_type_name == 'transfer_to_project'">
                        <div class="form-group">
                            <br>
                            <label>
                                Select holding (Do not select if order applies to all)
                                <i class="fa fa-spinner fa-spin" v-if="fetchingHoldings"></i>
                            </label>
                            <br>
                            <el-select v-model="form.unit_holding_id" placeholder="" style="width: 100%;">
                                <el-option
                                        v-for="holding in projectHoldings"
                                        :key="holding.id"
                                        :label="holding.number"
                                        :value="holding.id">
                                </el-option>
                            </el-select>
                            <ul v-if="orderErrors['unit_holding_id']" class="text-danger">
                                <li v-for="message in orderErrors['unit_holding_id']" v-text="message"></li>
                            </ul>
                            <br>
                        </div>
                    </div>

                    <div class="col-md-12" >
                        <div class="form-group">
                            <br>
                            <label>Date:</label>
                            <br>
                            <el-date-picker
                                    v-model="date"
                                    type="date"
                                    placeholder="Pick a day"
                                    style="width: 100%">
                            </el-date-picker>
                            <ul v-if="orderErrors['date']" class="text-danger">
                                <li v-for="message in orderErrors['date']" v-text="message"></li>
                            </ul>
                            <br>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <br>
                            <label>End Date:</label>
                            <br>
                            <el-date-picker
                                    v-model="end_date"
                                    type="date"
                                    placeholder="Pick a day"
                                    style="width: 100%">
                            </el-date-picker>
                            <ul v-if="orderErrors['end_date']" class="text-danger">
                                <li v-for="message in orderErrors['end_date']" v-text="message"></li>
                            </ul>
                            <br>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <br>
                            <label>Description</label>
                            <br>
                            <el-input type="textarea" v-model="form.description" style="width: 100%"></el-input>
                            <ul v-if="orderErrors['description']" class="text-danger">
                                <li v-for="message in orderErrors['description']" v-text="message"></li>
                            </ul>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <button class="btn btn-primary" type="submit" @click="submit">
                <i class="fa fa-spinner fa-spin" v-if="savingOrder"></i> <i class="fa fa-save" v-else></i> Save
            </button>

            <a class="btn btn-default" @click="close">Close</a>
        </div>

    </div>
</template>