<script>
    import Vue from 'vue';
    import { mapGetters } from 'vuex';

    Vue.component('create-order', require('./create.vue'));

    export default {
        props: ['client', 'orders', 'investments', 'projects', 'orderTypes'],

        data() {
            return {

            }
        },

        computed: {
            ...mapGetters({
                standingOrderModal: 'standingOrderModal',
                fetching: 'fetching',
                standingOrders: 'standingOrders'
            })
        },

        methods: {
            createOrder: function () {
                this.$store.commit('ORDER_MODAL', true);
            },

            getOrderTypes: function () {
                this.$store.commit('GET_ORDER_TYPES');
            },

            getStandingOrders: function () {
                this.$store.commit('GET_STANDING_ORDERS', this.client.id);
            }
        },

        mounted() {
            this.getOrderTypes();

            this.getStandingOrders();
        }
    }
</script>

<template>
    <div class="">
        <div class="">
            <table class="table table-responsive table-hover table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>End Date</th>
                        <th>Type</th>
                        <th>Investment</th>
                        <th>Project</th>
                        <th>Holding</th>
                    </tr>
                </thead>
                <thead>
                    <tr v-for="order in standingOrders">
                        <td>{{ order.date }}</td>
                        <td>{{ order.end_date }}</td>
                        <td>{{ order.type }}</td>
                        <td v-if="order.investment"><a :href="'/dashboard/investments/clientinvestments/'+order.investment.id">click to view</a></td>
                        <td v-else>All investments</td>
                        <template v-if="order.type_slug === 'transfer_to_project'">
                            <td v-if="order.project"><a :href="'/dashboard/realestate/projects/show/'+order.project.id">click to view</a></td>
                            <td v-else>All projects & units</td>
                            <td v-if="order.unit"><a :href="'/dashboard/realestate/projects/'+order.project.id+'/units/show/'+order.unit.id">click to view</a></td>
                            <td v-else>All units</td>
                        </template>
                        <template v-else>
                            <td colspan="2"> N/A</td>
                        </template>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                    </tr>
                </tbody>
            </table>

            <el-button type="button" @click="createOrder" size="mini">Create</el-button>
        </div>

        <el-dialog
                title = "CREATE CLIENT STANDING ORDER"
                :visible.sync="standingOrderModal"
                width="20%"
                :close-on-click-modal="false"
                :show-close="false">
                <span>
                    <create-order
                            :client="client"
                            :orders="orders"
                            :investments="investments"
                            :projects="projects">

                    </create-order>
                </span>
        </el-dialog>
    </div>
</template>