<script>
    import {mapGetters} from 'vuex';
    import {Message} from 'element-ui';
    import moment from 'moment';
    import axios from 'axios';

    export default {

        props: ['client', 'edit', 'tax'],

        data() {
            return {
                url: '/api/client/document/upload_tax_exemption',
                extensions: 'image/pdf',
                start_date: '',
                end_date: '',
                form: {},
                submitting: false
            }
        },

        computed: {
            ...mapGetters({
                defaultHeaders: 'defaultHeaders',
            })
        },

        watch: {
            start_date: {
                handler: function () {
                    this.form.start_date = moment(this.start_date).format('YYYY-MM-DD');
                }
            },

            end_date: {
                handler: function () {
                    this.form.end_date = moment(this.end_date).format('YYYY-MM-DD');
                }
            },
        },

        methods: {
            upload: function () {
                this.submitting = true;

                if (!this.validateForm()) {
                    Message.warning({message: 'Complete the form before proceeding'});

                    return;
                }

                this.form.client_id = this.client.id;
                this.form.slug = 'tax_exemption';

                if (!this.edit) {
                    if (!this.$refs.upload.uploadFiles[0]) {

                        Message.warning({message: 'Upload the form and proceed'});

                        return;
                    }
                }

                if (this.edit) {

                    this.form.tax_id = this.tax.id;

                    if(!this.$refs.upload.uploadFiles[0]) {
                        axios.post(this.url, this.form).then( () => {
                            Message.success({ message: 'Form submitted for approval'})

                            this.submitting = false;
                        });
                    }

                    this.$refs.upload.submit();

                    location.reload();

                    return;
                }

                this.$refs.upload.submit();
            },

            validateForm: function () {

                if (this.form.start_date == null) {
                    return false;
                } else if (this.form.end_date == null) {
                    return false;
                } else if (this.form.amount == null) {
                    return false;
                }

                return true;
            },

            errorOnUpload: function () {
                Message.warning({message: 'There was an error while uploading, please try again later'});
            },

            showUploadSuccess: function () {
                Message.success({message: 'File uploaded successfully for approval'});

                location.reload();
            },
        },

        mounted() {
            if (this.edit) {
                this.start_date = this.tax.start;
                this.end_date = this.tax.end;
                this.form.amount = this.tax.amount;
            }
        }
    }
</script>

<template>
    <div class="" style="padding: 30px;">
        <h4 v-if="edit">Edit Details:</h4>
        <h4 v-else>Add Details:</h4>
        <div class="block">
            <label class="required-field">Start Date</label>
            <el-date-picker
                    v-model="start_date"
                    type="date"
                    placeholder="Pick a start date"
                    style="width: 100%">
            </el-date-picker>
            <br>
        </div>

        <div class="block">
            <br>
            <label class="required-field">End Date</label>
            <el-date-picker
                    v-model="end_date"
                    type="date"
                    placeholder="Pick an end date"
                    style="width: 100%">
            </el-date-picker>
            <br>
        </div>

        <div class="block">
            <br>
            <label class="required-field">Amount</label>
            <el-input placeholder="Maximum Amount Exempted" v-model="form.amount"></el-input>
            <br>
        </div>

        <div class="block">
            <br>
            <label v-if="!edit" class="required-field">Exemption Certificate</label>
            <label v-if="edit" class="">Exemption Certificate</label>

            <div class="kyc-application">
                <el-upload
                        class="upload-demo"
                        drag
                        :action=url
                        ref="upload"
                        :data=form
                        :headers="defaultHeaders"
                        :on-error="errorOnUpload"
                        :on-success="showUploadSuccess"
                        :accept=extensions
                        :thumbnail-mode="false"
                        :auto-upload="false">
                </el-upload>
            </div>
            <br>
        </div>

        <el-button type="success" size="mini" @click="upload">
            <i class="el-icon-loading" v-if="submitting"></i>
            <i class="el-icon-circle-plus-outline" v-else></i>
            Upload
        </el-button>
    </div>
</template>