<script>
    import {mapGetters} from 'vuex';
    import vueTableMixin from '../../mixins/vuetable_mixin';
    import axios from 'axios';
    import moment from 'moment';
    import {Notification} from 'element-ui';
    import SearchClient from "../../components/investments/client/search-client";

    export default {
        mixins: [vueTableMixin],

        props: ['id'],

        components: {SearchClient},

        data() {
            return {
                form: {
                    exchange: null,
                },

                fields: [
                    {name: '__checkbox'},
                    {name: 'client_code', title: 'Client Code', sortField: 'client_code'},
                    {name: 'full_name', title: 'Client Name', sortField: 'full_name'},
                    {name: 'account', title: 'Account From', sortField: 'account'},
                    {name: 'ref_no', title: 'Reference Number', sortField: 'ref_no'},
                    {name: 'amount', title: 'Amount', sortField: 'amount'},
                    {name: 'description', title: 'Description', sortField: 'description'},
                    {name: 'fa', title: 'FA', sortField: 'fa'},
                    {name: 'date', title: 'Date', sortField: 'date'},
                ],

                tableState: {},
                promise: true,
                effective_rate: null,
                totalAmount: 0,
                calculatedAmount: 0,
                calculatingTotalAmount: false,
                transfer_date: '',
                custodial_account_id: 1,
                makingTransfer: false,
                reverse: false,
            }
        },

        computed: {
            ...mapGetters({
                custodialAccounts: 'allCustodialAccounts',
                fetchAccounts: 'fetchingAllAccounts',
            }),

            dataUrl() {
                return '/api/portfolio/custodial/transfer-mismatch/' + this.id;
            }
        },

        watch: {
            "form.exchange": {
                handler: function () {
                    this.calculateAmountWithInterest();
                }
            },

            "reverse": {
                handler: function () {
                    this.calculateAmountWithInterest();
                }
            }
        },

        methods: {
            getAccounts() {
                this.$store.commit("GET_ALL_CUSTODIAL_ACCOUNTS");
            },

            submit() {
                this.form.amount = this.totalAmount;
                this.form.sender_ids = this.$refs.vuetable.selectedTo;
                this.form.transfer_date = moment(this.transfer_date).format('YYYY-MM-DD');
                this.form.source_account = this.id;
                this.form.reverse = this.reverse;
                this.form.effective_rate = this.effective_rate;

                this.makingTransfer = true;

                axios.post('/api/portfolio/custodial/transfer-mismatch/transfer/' + this.id, this.form)
                    .then(({data}) => {
                        this.makingTransfer = false;

                        if (data.created === 200) {
                            location.reload();
                        } else {
                            Notification.warning({title: '', message: 'The transfer has not been saved for approval'});
                        }
                    }, () => {
                        this.makingTransfer = false;
                    });
            },

            calculateAmount: function () {
                let url = '/api/portfolio/custodial/transfer-mismatch/calculate';

                this.calculatingTotalAmount = true;

                axios.post(url, this.$refs.vuetable.selectedTo)
                    .then(({data}) => {
                        this.totalAmount = data;
                        this.calculatedAmount = data;
                        this.calculatingTotalAmount = false;
                    });
            },

            calculateAmountWithInterest() {

                this.effective_rate = this.reverse ? this.form.exchange : 1 / this.form.exchange;

                this.calculatedAmount = this.form.exchange ? this.totalAmount * this.effective_rate : this.totalAmount;
            },

            reverseExchange() {
                this.reverse = !this.reverse;
            }
        },

        mounted() {
            this.getAccounts();
        }
    }
</script>

<template>
    <div class="col-md-12 panel-dashboard">
        <div class="crims-panel-heading">
            <div class="crims-panel-heading-left">
                <h4>Transfer Mismatched Funds</h4>
            </div>
        </div>

        <br>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="crims-panel-heading">

                    <div class="crims-panel-heading-left">
                        <h4>Accounts</h4>
                    </div>
                    <div class="crims-panel-heading-right">
                        <search-bar :search-label='"Search Client..."' style="width: 300px;"></search-bar>
                    </div>
                </div>
                <div class="crims_table">

                    <vuetable ref="vuetable"
                              :api-url="dataUrl"
                              :fields="fields"
                              pagination-path=""
                              @vuetable:pagination-data="onPaginationData"
                              :append-params="tableState"
                              :per-page="itemsPerPage"
                    >
                    </vuetable>

                    <div class="vuetable-pagination ui basic segment grid crims_pagination">
                        <table>
                            <tfoot>
                            <tr>
                                <td class="text-center" width="50%">
                                    <div class="inline-block"
                                         style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                        <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                        <select style="width: 100px" class="form-control" v-model="itemsPerPage"
                                                @change="changePerPage">
                                            <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}
                                            </option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <vuetable-pagination-info ref="paginationInfo">
                                    </vuetable-pagination-info>
                                    <vuetable-pagination ref="pagination"
                                                         @vuetable-pagination:change-page="onChangePage"
                                    ></vuetable-pagination>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <br>

        <div class="alert alert-info">
            <h5><b>MAKE CASH TRANSFERS PAYMENT </b> (Select transactions from the above table and proceed to make
                transfer)</h5>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-6">
                    <div class="form-group">
                        <label v-if="fetchAccounts"><i class="el-icon-loading"></i> Destination Account</label>
                        <label v-else>Select Destination Account</label>
                        <el-select v-model="form.destination_id" placeholder="" style="width: 100%;" filterable>
                            <el-option
                                    v-for="account in custodialAccounts"
                                    :key="account.value"
                                    :label="account.label"
                                    :value="account.value">
                            </el-option>
                        </el-select>
                    </div>

                    <br><br>

                    <div class="form-group">
                        <label>Enter the exchange rate as at the date of transfer</label>
                        <el-input v-model="form.exchange" placeholder="" style="width: 100%;"></el-input>
                    </div>

                    <br><br>

                    <div class="form-group">
                        <label>Date of Transfer</label>
                        <el-date-picker
                                v-model="transfer_date"
                                type="date"
                                placeholder="Pick a day"
                                style="width: 100%;">
                        </el-date-picker>
                    </div>

                    <br><br>

                    <div class="form-group">
                        <label>Narrative</label>
                        <el-input v-model="form.narrative" placeholder="" style="width: 100%;"></el-input>
                    </div>

                    <br><br>

                    <div class="form-group">
                        <el-button type="primary" size="" @click="submit">
                            <i class="el-icon-loading" v-if="makingTransfer"></i>
                            <i class="fa fa-exchange" v-else></i>&nbsp;Transfer
                        </el-button>
                    </div>
                </div>


                <div class="col-md-6">

                    <div class="grid-content form-section rate-section">

                        <div class="" v-if="calculatingTotalAmount">
                            <i class="el-icon-loading"></i> Calculating total amount...
                        </div>

                        <div class="form-group">
                            <div class="">
                                <div class="">
                                    <label>Total Amount to transfer: </label>
                                </div>
                                <br>
                                <div class="">
                                    <div>
                                        <p>
                                            <span class="rate-box"> {{ calculatedAmount | currency }} </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br>
                        <div class="">
                            <br>
                            <el-button @click="calculateAmount" round>
                                Calculate
                            </el-button>

                            <el-button type="info" @click="reverseExchange" round>
                                Reverse Exchange
                            </el-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>