.p404 {
  display: flex;

  .one {
    width: 10%;
  }
  .three {
    width: 10%;
  }

  .two {
    width: 80%;
    padding-top: 3%;

    h1 {
      color: #a5a5a5;
      font-size: 34px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 15px;

      span {
        font-size: 24px;
        font-weight: 500;
        font-style: italic;
      }
    }

    p {
      color: #a5a5a5;
      font-size: 16px;
      font-weight: 500;
    }

    .in-two-holder {
      padding: 18% 5%;
      background: url("/assets/img/404/constraction.png");
      background-repeat: no-repeat;
      background-position: center;
      span {
        opacity: 0;
      }
    }
  }
}