<script>
    import { mapGetters } from 'vuex';
    import moment from 'moment';
    import vueTableMixin from '../../../mixins/vuetable_mixin';

    export default {
        props: [ 'custodial' ],

        mixins: [vueTableMixin],

        data() {
            return {
                selected: [],
                end: moment(Date.now()).format('YYYY-MM-DD'),
                start: null,
                url: '/api/investment/withholding-taxes/'.this.custodial,
                fields: [
                    { name: 'id', title: 'ID', sortField: 'id' },
                    { name: 'name', sortField: 'name' },
                    { name: 'initialUnitPrice', title: 'Initial Unit Price', sortField: 'initialUnitPrice' }
                ],
                tableState: {
                },
                promise: true
            }
        },

        computed: {
            ...mapGetters({
                withholdingTaxes: 'withholdingTaxes',
                fetchingTaxes: 'fetchingTaxes',
            })
        },

        watch: {
            selected: {
                handler: function () {
                    this.$store.commit('SET_MULTIPLE_SELECTION', this.selected);
                }
            },

            end: {
                handler: function () {
                    this.end = moment(this.end).format('YYYY-MM-DD');
                }
            },

            start: {
                handler: function () {
                    this.start = moment(this.start).format('YYYY-MM-DD');
                }
            }
        },

        methods: {

            close: function () {
                this.$store.commit('SELECT_TAXES_MODAL', false);
            },

            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.multipleTable.clearSelection();
                }
            },

            handleSelectionChange(val) {
                this.selected = val;
            },

            unpaidTaxes: function () {
                this.$store.commit('GET_UNPAID_WITHHOLDING_TAXES', {
                    custodial_account_id: this.custodial,
                    start: this.start,
                    end: this.end
                });
            }
        }
    }
</script>

<template>
    <div class="">
        <div class="panel-body">
            <div class="">
                <div class="crims_table">
                    <vuetable ref="vuetable"
                              :api-url="url"
                              :fields="fields"
                              pagination-path=""
                              @vuetable:pagination-data="onPaginationData"
                              :append-params="tableState"
                              :per-page="itemsPerPage"
                    >
                    </vuetable>

                    <div class="vuetable-pagination ui basic segment grid crims_pagination">
                        <table>
                            <tfoot>
                            <tr>
                                <td class="text-center" width="50%">
                                    <div class="inline-block" style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                        <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                        <select style="width: 100px" class="form-control" v-model="itemsPerPage" @change="changePerPage">
                                            <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <vuetable-pagination-info ref="paginationInfo">
                                    </vuetable-pagination-info>
                                    <vuetable-pagination ref="pagination"
                                                         @vuetable-pagination:change-page="onChangePage"
                                    ></vuetable-pagination>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <!--<div class="row">-->
                    <!--<div class="col-md-4">-->
                        <!--<el-date-picker-->
                                <!--v-model="start"-->
                                <!--type="date"-->
                                <!--placeholder="Pick a start date">-->
                        <!--</el-date-picker>-->
                    <!--</div>-->

                    <!--<div class="col-md-4">-->
                        <!--<el-date-picker-->
                                <!--v-model="end"-->
                                <!--type="date"-->
                                <!--placeholder="Pick an end date">-->
                        <!--</el-date-picker>-->
                    <!--</div>-->

                    <!--<div class="c0l-md-4">-->
                        <!--<el-button type="danger" @click="unpaidTaxes">-->
                            <!--<i class="el-icon-loading" v-if="fetchingTaxes"></i>-->
                            <!--<i class="el-icon-refresh" v-else></i>-->
                            <!--fetch-->
                        <!--</el-button>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<hr>-->

                <!--<div class="form-group" v-if="withholdingTaxes.length > 0">-->
                    <!--<el-table-->
                            <!--ref="multipleTable"-->
                            <!--:data="withholdingTaxes"-->
                            <!--style="width: 100%"-->
                            <!--@selection-change="handleSelectionChange">-->
                        <!--<el-table-column-->
                                <!--type="selection"-->
                                <!--width="55">-->
                        <!--</el-table-column>-->
                        <!--<el-table-column-->
                                <!--property="code"-->
                                <!--label="Client Code"-->
                                <!--width="120">-->
                        <!--</el-table-column>-->
                        <!--<el-table-column-->
                                <!--property="client"-->
                                <!--label="Client"-->
                                <!--show-overflow-tooltip>-->
                        <!--</el-table-column>-->
                        <!--<el-table-column-->
                                <!--property="amount"-->
                                <!--label="Amount"-->
                                <!--show-overflow-tooltip>-->
                        <!--</el-table-column>-->
                        <!--<el-table-column-->
                                <!--property="type"-->
                                <!--label="Type"-->
                                <!--show-overflow-tooltip>-->
                        <!--</el-table-column>-->
                        <!--<el-table-column-->
                                <!--label="Date"-->
                                <!--width="120">-->
                            <!--<template slot-scope="scope">{{ scope.row.date }}</template>-->
                        <!--</el-table-column>-->
                    <!--</el-table>-->
                <!--</div>-->

                <!--<div v-else>-->
                    <!--<el-alert-->
                            <!--title="Select start and end date and click fetch to fetch taxes"-->
                            <!--type="info"-->
                            <!--close-text="Gotcha">-->
                    <!--</el-alert>-->
                <!--</div>-->

                <br>


                <div class="form-group">
                    <el-button @click="toggleSelection()" size="small">Clear</el-button>
                    <el-button type="danger" @click="close" size="small"> Close</el-button>
                </div>
            </div>
        </div>
    </div>
</template>