<script type="text/babel">

    import vueTableMixin from '../../../../mixins/vuetable_mixin';

    export default {

        mixins: [vueTableMixin],

        props: ['fund'],

        data() {
            return {
                url: '',
                fields: [
                    { name: 'id', title: 'ID', sortField: 'id' },
                    { name: 'code', title: 'Client Code', sortField: 'code' },
                    { name: 'name', title: 'Client Name', sortField: 'name' },
                    { name: 'unitsPurchased', title: 'Purchases' },
                    { name: 'unitsSold', title: 'Sales' },
//                    { name: 'dividends', title: 'Dividends' },
                    { name: 'ownedUnits', title: 'Total Units' },
                    { name: 'feesIncurred', title: 'Total Fees Incurred' },
                    { name: '__view_action', title: 'View', titleClass: 'text-center', dataClass: 'text-center' },
                ],
                tableState: {
                },
                promise: true,
                loading: false
            }
        },

        created: function() {
            this.url = `/api/unitization/unit-funds/${this.fund.id}/summaries`;
        },

        methods: {
            getUnitFunds: function() {
                axios.get('/api/unitization/unit-funds-list')
                    .then((response) => {
                        if (response.status == 200) {

                            let data = response.data;

                            if (data.fetched) {
                                this.$set(this, 'funds', data.data);
                                this.setUrl(data.data);
                            }
                            else {
                                flash('Could not fetch list of unit funds', 'danger');
                            }
                        }
                    }, (response) => {
                        flash('Oops! Something went wrong', 'danger');
                    });
            },

            exportToExcel: function() {
//                this.loading = true;
//                axios.post(`/api/unitization/unit-funds/${this.fund.id}/reports/holder-summaries`, {})
//                    .then((response) => {
//                        this.loading = false;
//
//                        let data = response.data;
//                        if(data.sent) {
//                            flash('The report is being processed and will be sent to your inbox shortly.');
//                        } else {
//                            flash('An error occurred while processing the report.', 'danger');
//                        }
//                    }, (response) => {
//                        this.loading = false;
//                        flash('Oops! Something went wrong', 'danger');
//                        this.formErrors = response.data;
//                    });
            },
        }
    }
</script>

<template id="list-unit-fund-summary">
    <div>

        <br>
        <div class="panel-heading">
            <div class="btn-group" role="group" aria-label="...">
                <button @click="exportToExcel()" class="btn btn-success">
                    <i class="fa fa-file-excel-o"></i> Export to excel
                    <i class="fa fa-spinner fa-spin" v-show="loading"></i>
                </button>
                <!--<router-link v-bind:to="{ name: 'unit-fund-statement-campaigns.index' }" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Statement Campaigns</router-link>-->
                <router-link v-bind:to="{ name: 'unit-fund-statement-campaigns.index', params: { id: fund.id} }" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Statement Campaigns</router-link>
                <!--<router-link to="" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Statement Campaigns</router-link>-->
            </div>
            <div class="pull-right">
                <search-bar :search-label='"Search..."'></search-bar>
            </div>
        </div>

        <div class="crims_table">
            <vuetable ref="vuetable"
                      :api-url="url"
                      :fields="fields"
                      pagination-path=""
                      @vuetable:pagination-data="onPaginationData"
                      :append-params="tableState"
                      :per-page="itemsPerPage"
            >
            </vuetable>

            <div class="vuetable-pagination ui basic segment grid crims_pagination">
                <table>
                    <tfoot>
                    <tr>
                        <td class="text-center" width="50%">
                            <div class="inline-block" style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                <select style="width: 100px" class="form-control" v-model="itemsPerPage" @change="changePerPage">
                                    <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}</option>
                                </select>
                            </div>
                        </td>
                        <td class="text-center">
                            <vuetable-pagination-info ref="paginationInfo">
                            </vuetable-pagination-info>
                            <vuetable-pagination ref="pagination"
                                                 @vuetable-pagination:change-page="onChangePage"
                            ></vuetable-pagination>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</template>