<script>
    import { mapGetters } from 'vuex';
    import { Message } from 'element-ui';
    import vueTableMixin from '../../../../mixins/vuetable_mixin';
    import axios from 'axios';
    import Vue from 'vue';

    Vue.component('filter-bar', require('../../../../components/vuetable/filters/tax_filters'));

    export default {
        mixins: [vueTableMixin],

        data() {
            return {

                form: {},

                apiurl: '',

                fields: [
                    { name: '__checkbox' },
                    { name: 'id', title: 'ID', sortField: 'id' },
                    { name: 'client', title: 'Client', sortField: 'name' },
                    { name: 'code', title: 'Client Code', sortField: 'name' },
                    { name: 'date', title: 'Date', sortField: 'date' },
                    { name: 'type', title: 'Type', sortField: 'type' },
                    { name: 'principal', title: 'Principal', sortField: 'principal' },
                    { name: 'gross_interest', title: 'Gross Interest', sortField: 'gross_interest' },
                    { name: 'net_interest', title: 'Net Interest', sortField: 'net_interest' },
                    { name: 'amount', title: 'Tax Amount', sortField: 'amount' },
                ],

                tableState: {},

                promise: true,

                totalTax: 0,

                calculatingTotalTax: false,

                date: ''
            }
        },

        computed: {
            ...mapGetters({
                submittingWHT: 'submittingWHT',
                whtFormErrors: 'whtFormErrors'
            })
        },

        watch: {
            date: {
                handler: function () {
                    this.form.date = moment(this.date).format('YYYY-MM-DD');
                }
            }
        },

        methods: {

            submit: function () {

                if(!this.$refs.vuetable.selectedTo) {
                    Message.warning({ message: 'Select client tax and proceed'});
                    return;
                }

                this.form.selectedWHT = this.$refs.vuetable.selectedTo;

                this.form.custodial_id = this.$route.params.id;

                this.$store.commit('SUBMIT_WHT_WITHDRAWAL', this.form);
            },

            calculateAmount: function () {
                let url = '/api/investment/tax/calculate';

                this.calculatingTotalTax = true;

                axios.post(url, this.$refs.vuetable.selectedTo)
                    .then( ({ data }) => {
                        this.totalTax = data;
                        this.calculatingTotalTax = false;
                    });
            }
        },

        created() {
            this.apiurl = `/api/investment/custodial/${this.$route.params.id}/wht`;
        }
    }
</script>

<template>
    <div class="col-md-12 panel-dashboard">
        <div class="crims-panel-heading">
            <div class="crims-panel-heading-left">
                <h4><b>WITHHOLDING TAX</b></h4>
            </div>

            <div class="crims-panel-heading-right">
                <filter-bar></filter-bar>
            </div>
        </div>

        <hr>

        <div class="crims_table">
            <vuetable ref="vuetable"
                      :api-url="apiurl"
                      :fields="fields"
                      pagination-path=""
                      @vuetable:pagination-data="onPaginationData"
                      :append-params="tableState"
                      :per-page="itemsPerPage"
            >
            </vuetable>

            <div class="vuetable-pagination ui basic segment grid crims_pagination">
                <table>
                    <tfoot>
                    <tr>
                        <td class="text-center" width="50%">
                            <div class="inline-block" style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                <select style="width: 100px" class="form-control" v-model="itemsPerPage" @change="changePerPage">
                                    <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}</option>
                                </select>
                            </div>
                        </td>
                        <td class="text-center">
                            <vuetable-pagination-info ref="paginationInfo">
                            </vuetable-pagination-info>
                            <vuetable-pagination ref="pagination"
                                                 @vuetable-pagination:change-page="onChangePage"
                            ></vuetable-pagination>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <br>

        <div class="alert alert-info">
            <h5><b>MAKE WITHHOLDING PAYMENT </b> (Select taxes from the above table and proceed to make payment)</h5>
        </div>

        <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-4">
                        <div class="form-group">
                            <el-date-picker
                                    v-model="date"
                                    type="date"
                                    placeholder="Pick a day"
                                    width="100%"
                                    required="true">
                            </el-date-picker>
                            <ul v-if="whtFormErrors['date']" class="text-danger">
                                <li v-for="message in whtFormErrors['date']" v-text="message"></li>
                            </ul>
                            <br>
                        </div>

                        <div class="form-group">
                            <br>
                            <el-input type="textarea" v-model="form.narrative" placeholder="Narrative" required="true"></el-input>
                            <ul v-if="whtFormErrors['narrative']" class="text-danger">
                                <li v-for="message in whtFormErrors['narrative']" v-text="message"></li>
                            </ul>
                            <br>
                        </div>

                        <div class="form-group">
                            <br>
                            <el-checkbox v-model="form.exempted" label="Exempt from payment" border></el-checkbox>
                            <br>
                        </div>

                        <div class="form-group">
                            <br>
                            <el-button type="primary" size="mini" @click="submit">
                                <i class="el-icon-loading" v-if="submittingWHT"></i>
                                <i  class="el-icon-plus" v-else></i> Submit
                            </el-button>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="grid-content form-section rate-section">

                            <div class="" v-if="calculatingTotalTax">
                                <i class="el-icon-loading"></i> Calculating total amount...
                            </div>

                            <div class="form-group">
                                <div class="">
                                    <div class="">
                                        <label>Total Tax Amount Selected:</label>
                                    </div>
                                    <br>
                                    <div class="">
                                        <div>
                                            <p>
                                                <span class="rate-box"> {{ totalTax | currency }} </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="">
                                <br>
                                <el-button @click="calculateAmount" round> <i class="el-icon-refresh"></i>  </el-button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</template>