.investment-cards {
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 15px;

  &__body {
    display: flex;
    margin-bottom: 5px;
  }
  &__pagination {
    display: flex;
    width: 100%;
    padding: 2px;
    justify-content: flex-end;

    .toggle_cards {
      display: flex;
      justify-content: space-between;
      align-items: center;

      font-size: 14px;
      font-weight: 400;
      span {
        font-size: 12px;
        margin: 0 5px;
      }
      button {
        color: #006a5b;
        border: none;
        background: transparent;
        padding: 2px;
        &:disabled {
          cursor: not-allowed;
          opacity: 0.5;
          color: #707070;
        }
      }

    }
  }

  .investment-grey {
    background: url('/assets/img/investment-cards/Group grey.svg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;


  }

  .investment-green {
    background: url('/assets/img/investment-cards/Group green.svg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;


  }

  .investment-blue {
    background: url('/assets/img/investment-cards/Group blue.svg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
  }

  .investment-red {
    background: url('/assets/img/investment-cards/Group red.svg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
  }

  .investment-new {
    background: url('/assets/img/investment-cards/Group new.svg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;

  }

  .investment-card {
    padding: 0;
    margin-right: 15px;
    min-width: 220px;
    max-width: 380px;
    position: relative;
    transition: all .8s;
    margin-bottom: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    @include preload;
    &.new-investment {
      overflow: hidden;
      position: relative;
      cursor: pointer;
      border: 1px dashed #707070;
      height: 360px;

      &.createSyspended {
        border: 3px dashed #ffae00;
        .investment-card-new-investment {
          .overlay-display {
            display: block;
          }

          &:before {
            content: "";
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(52,73,94,0.75);
          }
        }


      }
      .investment-card-new-investment {
        height: 100%;
        width: 100%;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        padding: 25.8%;
        .overlay-display{
          display: none;
          font-size: 20px;
          color: #ffffff !important;
          font-family: sans-serif;
          text-align: center;
          font-weight: 800;
          margin: auto;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          height: 50px;
          cursor: pointer;
          /*text-decoration: none;*/
        }

        &:before {
          content: "";
          display: none;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(52,73,94,0.75);
        }

      }

      &:hover, &:focus {

        .investment-card-new-investment {
          -ms-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -webkit-transform: scale(1.2);
          -o-transform: scale(1.2);
          transform: scale(1.2);
          &:before {
            content: "";
            display: block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(52,73,94,0.75);
          }

          .overlay-display{
            display: block;
            span {
              display: block;
            }
          }
        }

      }

    }

    &.pending-approvals {
      background: #1B2235;
      color: #F0F2F3;

      .investment-card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      .description {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        h2 {
          font-size: 16px;
          font-weight: 600;
          opacity: .6;
        }
        p {
          font-size: 12px;
          color: #757785;
        }
      }

      .view_button {
        display: flex;
        justify-content: center;
        align-items: center;

        .button {
          padding: 0.3em 1em;
          background: #3C4252;
          color: #F3F5F5;
          border-radius: 3px;
        }
      }
    }
    .investment-card-top-section {
      background-color: rgba(0,0,0,0.05);
      .investment-card-header {
        display: flex;
        width: 100%;
        padding: 0;
        border-bottom: 1px solid #fff;
        transition: all .8s;
        .title {
          width: 70%;
          color: #F9FBFB;
          font-size: 13px;
          font-weight: 600;
          padding: 5px 0px 5px 15px;
        }

        .action {
          width: 30%;
          font-size: 13px;
          color: #F2F8F6;
          font-weight: 600;
          padding: 5px 0px 5px 5px;
          //border-left: 1px solid #fff;
          cursor: pointer;
          transition: .3s;

          &:hover {
            color: #F2F8F6;
            font-weight: 600;
          }
        }
      }

      .investment-card-body {
        transition: all .8s;
        table{
          tr {
            th {
              font-weight: 600;
              color: #F2F8F6;
              font-size: 14px;
              text-align: left;
              padding: 3px;
              opacity: .6;
            }
            td {
              font-weight: 600;
              color: #EEF4F5;
              font-size: 12px;
              opacity: .6;

            }
          }
        }
      }
    }



    //.investment-card-footer {
    //  display: flex;
    //  font-size: 1px;
    //  padding: 3px;
    //  background-color: #f5f5f5;
    //  text-align: center;
    //  h5 {
    //    font-size: 10px;
    //  }
    //  .investment-card-action {
    //    width: calc(100%/3);
    //    text-align: center;
    //    font-size: 10px;
    //    padding: 0px;
    //    cursor: pointer;
    //    h5 {
    //      font-size: 10px;
    //      text-align: center;
    //    }
    //  }
    //
    //  .middle {
    //    border-right: 1px solid #757575;
    //    border-left: 1px solid #757575;
    //  }
    //}
    //
    &:hover, &:focus {
      //animation: shake 3s cubic-bezier(.36,.07,.19,.97) both;
      //transform: translate3d(0, 0, 0);
      //backface-visibility: hidden;
      //perspective: 10px;
      cursor: pointer;
      //
      -webkit-box-shadow: rgba(0, 0, 0, .25) 0px 4px 5px 0px, rgba(232, 237, 250, .5) 0px 2px 4px 0px;
      -moz-box-shadow: rgba(0, 0, 0, .25) 0px 4px 5px 0px, rgba(232, 237, 250, .5) 0px 2px 4px 0px;
      box-shadow: rgba(0, 0, 0, .25) 0px 4px 5px 0px, rgba(232, 237, 250, .5) 0px 2px 4px 0px;

      //.investment-card-body, .structuredproducts-card-header {
      //   .title, .action, thead{
      //     font-weight: 600;
      //   }
      //  table {
      //    tr {
      //      td, th {
      //        font-weight: 600;
      //      }
      //    }
      //  }
      //}

    }

    //@include bounce_to_top;

  }

  .VueCarousel-dot-container {
    float: right;
    margin-top: -20px;
    margin-bottom: 10px;

    .VueCarousel-dot {
      margin-top: 2px !important;
    }

  }


}

@media screen and (max-width: 515px){

    .investment-cards {
      &__body {
        .investment-card {
          margin-right: 5px;
          width: 100%;
          background-size: 150%;
        }
      }
    }

}