.unit_trust {
  display: flex;
  width: 100%;
  margin: 10px;
  .fund_cards__body {
    display: flex;
    flex-direction: column;
    min-width: 220px;
    max-width: 375px;
    margin: 0 20px;
    flex: 1;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);

    transition: .6s;

    &:first-child {
      margin-left: 0;
    }
    &:hover {
      -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
      -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
      cursor: pointer;
    }

    &.pending-approvals {
      //background: #1B2235;
      //color: #F0F2F3;
      flex: 1;

      .investment-card-top-section {
        display: flex;
        flex-direction: column;
        flex: 1;
      }

      .investment-card-header {
        display: flex;
        width: 100%;
        padding: 0;
        border-bottom: 1px solid #fff;
        transition: all .8s;
        justify-content: center;
        align-items: center;
        flex: 1;
        text-align: center;


        background: url('/assets/img/investment-cards/Group grey.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 110%;

        .title {
          width: 70%;
          color: #F9FBFB;
          font-size: 16px;
          font-weight: 600;
          padding: 5px 0 5px 15px;
        }
      }

      .investment-card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }

      .description {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h2 {
          font-size: 16px;
          font-weight: 600;
          opacity: .6;
        }
        p {
          font-size: 12px;
          color: #757785;
        }
      }

      .view_button {
        display: flex;
        justify-content: center;
        align-items: center;

        .button {
          padding: 0.3em 1em;
          background-image: linear-gradient(114deg, #a2d45e 0%, #006a5b 100%);
          color: #F3F5F5;
          border-radius: 3px;
          border: none;
        }
      }
    }

    &:nth-child(1) {
      .summary {
        background: url('/assets/img/investment-cards/Group grey.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 110%;
      }
    }
    &:nth-child(2) {
      .summary {
        background: url('/assets/img/investment-cards/Group green.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 110%;
      }
    }
    &:nth-child(3) {
      .summary {
        background: url('/assets/img/investment-cards/Group grey.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 110%;
      }
    }
    &:nth-child(4) {
      .summary {
        background: url('/assets/img/investment-cards/Group blue.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 110%;
      }
    }
    &:nth-child(5) {
      .summary {
        background: url('/assets/img/investment-cards/Group green.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 110%;
      }
    }


    &.plain {

      -webkit-box-shadow: 0 0 10px 0.01px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 10px 0.01px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 10px 0.01px rgba(0, 0, 0, 0.1);
      transition: .6s;
      min-height: 305px;

      &:hover {
        -webkit-box-shadow:  0 0 10px 0.01px rgba(0, 0, 0, 0.1);;
        -moz-box-shadow:  0 0 10px 0.01px rgba(0, 0, 0, 0.1);;
        box-shadow:  0 0 10px 0.01px rgba(0, 0, 0, 0.1);;
        cursor: pointer;
      }

      &.add_new_investment {
        overflow: hidden;
        position: relative;
        cursor: pointer;
        border: 1px dashed #707070;
        height: auto;
        width: 100% !important;

        .add_investment {
          background: url('/assets/img/investment-cards/Group new.svg') ;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;

          height: 101%;
          width: 100%;
          -webkit-transition: all .5s;
          -moz-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s;
          padding: 25.8%;

          .overlay-display {
            display: none;
            font-size: 20px;
            color: #ffffff !important;
            font-family: sans-serif;
            text-align: center;
            font-weight: 800;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: 50px;
            cursor: pointer;
            /*text-decoration: none;*/
          }

          &:before {
            content: "";
            display: none;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(52, 73, 94, 0.75);
          }

        }

        &:hover, &:focus {
          .add_investment {
            -ms-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -o-transform: scale(1.2);
            transform: scale(1.2);
            &:before {
              content: "";
              display: block;
              height: 100%;
              width: 100%;
              position: absolute;
              top: 0;
              left: 0;
              background-color: rgba(52, 73, 94, 0.75);
            }

            .overlay-display {
              display: block;
              span {
                display: block;
              }
            }
          }


        }
      }


    }
    .summary {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      padding: 20px;
      /*background-image: linear-gradient(114deg, #a2d45e 0%, #006a5b 100%);*/

      h3 {
        font-size: 14px;
        color: #fff;
      }

      h2 {
        font-size: 16px;
        color: #fff;
        small {
          font-size: 12px;
          margin-right: 5px;
        }
      }

    }
    .details {
      display: flex;
      padding-top: 20px;
      flex-direction: column;
      font-family: Futura !important;

      &__description {
        flex: 1;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #eee;
        font-size: 14px;
      }
    }
    .toggle {
      width: 100%;
      align-items: center;
      display: flex;
      flex: 1;
      justify-content: center;
      padding: 10px 0;
      button {
        background-image: linear-gradient(114deg, #a2d45e 0%, #006a5b 100%);
        text-align: center;
        padding: 7px;
        border-radius: 3px;
        font-size: 12px;
        opacity: .9;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 615px ){
  .unit_trust {
    .fund_cards__body {
      max-width: initial;
    }
  }

  .activities .investment-cards__pagination {
    justify-content: center !important;
  }
}