<script>
    import vueTableMixin from '../../mixins/vuetable_mixin';

    export default {
        mixins: [vueTableMixin],

        data() {
            return {
                url: '',
                fields: [
                    {name: 'client_code', title: 'Client Code', sortField: 'client_code'},
                    {name: 'name', title: 'Client Name', sortField: 'name'},
                    {name: 'amount', title: 'Amount'},
                    {name: 'number', title: 'Number'},
                    {name: 'created_at', title: 'Origin'},
                    {name: '__slot:invested', title: 'Invested'},
                    {name: '__view_action', title: 'View', titleClass: 'text-center', dataClass: 'text-center'},
                ],
                tableState: {},
                promise: true,
                options: [
                    {value: '', label: 'All'},
                    {value: 'invested', label: 'Invested'},
                    {value: 'not', label: 'Not Invested'}
                ],
                sentFilter: ''
            }
        },

        methods: {
            doFilter: function () {
                this.$events.fire('filter-set', {
                    'id': this.tableId,
                    'invested_option': this.sentFilter,
                });
            }
        },

        created: function () {
            this.url = `/api/ussd/ussd-applications`;
        },

        watch: {
            sentFilter: {
                handler: function () {
                    this.doFilter();
                }
            }
        },
    }
</script>

<template>
    <div class="col-md-12">

        <div class="panel-dashboard">
            <h4>USSD APPLICATIONS</h4>

            <div class="panel-filters">
                <el-select v-model="sentFilter" :search-label="sentFilter" placeholder="Select">
                    <el-option
                            v-for="item in options"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>

                <search-bar class="search-input" :search-label='"Search by Client Name..."'></search-bar>
            </div>


            <div class="col-md-6 pull-right">
                <!-- <search-bar :search-label='"Search unit fund..."'></search-bar>-->
            </div>

            <div class="crims_table">
                <vuetable ref="vuetable"
                          :api-url="url"
                          :fields="fields"
                          pagination-path=""
                          @vuetable:pagination-data="onPaginationData"
                          :append-params="tableState"
                          :per-page="itemsPerPage"
                >
                    <template slot="invested" slot-scope="props">
                        <i v-if="props.rowData.invested" class="text-center fa fa-check-square-o" style="color: #3c763d"></i>
                        <i v-else class="text-center fa fa-close" style="color: #a94442"></i>
                    </template>
                </vuetable>

                <div class="vuetable-pagination ui basic segment grid crims_pagination">
                    <table>
                        <tfoot>
                        <tr>
                            <td class="text-center" width="50%">
                                <div class="inline-block"
                                     style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                    <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                    <select style="width: 100px" class="form-control" v-model="itemsPerPage"
                                            @change="changePerPage">
                                        <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}
                                        </option>
                                    </select>
                                </div>
                            </td>
                            <td class="text-center">
                                <vuetable-pagination-info ref="paginationInfo">
                                </vuetable-pagination-info>
                                <vuetable-pagination ref="pagination"
                                                     @vuetable-pagination:change-page="onChangePage"
                                ></vuetable-pagination>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
    .panel-dashboard .panel-filters {
        display: flex;
        flex-flow: row wrap;
        float: right;
    }

    .panel-dashboard .panel-filters .search-input {
        margin-left: 20px;
        width: 300px;
    }

    .panel-dashboard .panel-filters .search-input input {
        height: 40px;
    }
</style>