<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                loading: true,
                sending: false,
                url: '',
                clientUrl: '',
                item: {
                    reminder: false
                },
            }
        },

        methods: {
            getApplicationDetails() {
                axios.get(this.url)
                    .then((response) => {
                        if (response.status === 200) {

                            let data = response.data;

                            if (data.fetched) {
                                this.$set(this, 'item', data.data);
                                this.loading = false;
                                this.clientUrl = '/dashboard/clients/details/' + this.item.client_id;
                            } else {
                                flash('Could not fetch requested details', 'danger');
                                this.$router.push({name: 'ussd-applications.index'});
                            }
                        }
                    }, (response) => {
                        flash('Oops! Something went wrong', 'danger');
                        this.$router.push({name: 'ussd-applications.index'});
                    });
            },

            sendInvestReminder() {
                let url = `/api/ussd/ussd-applications/send-reminder/${this.$route.params.id}`;

                this.sending = true;
                axios.get(url)
                    .then(() => {
                        this.item.reminder = true;
                        this.sending = false;
                        flash('Incomplete application reminder sent successfully', 'success');
                    }, (response) => {
                        this.sending = false;
                        flash('Oops! Incomplete application reminder was not sent', 'danger');
                    })
            },
        },

        mounted: function () {
            let id = this.$route.params.id;

            this.url = `/api/ussd/ussd-applications/${id}`;

            this.getApplicationDetails();
        },
    }
</script>

<template id="id-of-template">
    <div class="col-md-12">
        <div class="panel-dashboard">
            <h4>
                Application Details
                <div class="btn-group pull-right">
                    <router-link :to="{ name: 'ussd-applications.index'}" class="btn btn-default">
                        <i class="fa fa-list-alt"></i>
                        Back to All
                    </router-link>
                </div>
            </h4>
            <hr>

            <div class="panel">
                <div class="panel-body">

                    <table class="table table-hover" v-loading="loading">
                        <tbody>
<!--                        <tr>-->
<!--                            <td width="30%">ID</td>-->
<!--                            <td>{{ item.id }}</td>-->
<!--                        </tr>-->
                        <tr>
                            <td>Fund Name</td>
                            <td>{{ item.fund }}</td>
                        </tr>
                        <tr>
                            <td>Client Code</td>
                            <td>{{ item.client_code }}</td>
                        </tr>
                        <tr>
                            <td>Client Name</td>
                            <td>
                                <a :href="clientUrl">
                                    {{ item.name }}
                                </a>
                            </td>
                        </tr>
                        <tr v-if="item.amount">
                            <td>Amount</td>
                            <td>{{ item.amount }}</td>
                        </tr>
                        <tr v-if="item.number">
                            <td>Number</td>
                            <td>{{ item.number }}</td>
                        </tr>
                        <tr v-if="!item.invested">
                            <td></td>
                            <td>
                                <el-alert
                                        title="Incomplete Application"
                                        type="error"
                                        style="width: 20%;"
                                        :closable="false">
                                </el-alert>
                            </td>
                        </tr>
                        <tr v-if="!item.number || !item.amount">
                            <td>Actions</td>
                            <td>
                                <el-button @click="sendInvestReminder" v-if="!item.reminder" class="btn btn-info"
                                           size="small">
                                    <i v-if="sending" class="el-icon-loading"></i>
                                    <i v-else class="fa fa-comment"></i> Send Reminder
                                </el-button>
                                <el-button @click="sendInvestReminder" v-if="item.reminder" type="primary" size="small">
                                    <i v-if="sending" class="el-icon-loading"></i>
                                    <i v-else class="fa fa-comment"></i> Re-send Reminder
                                </el-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</template>