<script>
import Vue from 'vue';
import events from '../../events';
Vue.component('side-menu', require('./partials/sidemenu.vue'));
export default {
        data: ()=>({
            menuToggle: true
        }),
        methods: {
           resize_menu(){
        },

           body_clicked(){
            events.bus.$emit('body_clicked');
           }
    },
    created(){
        events.bus.$on('resize_menu', () => {
            this.menuToggle = !this.menuToggle
        })
        events.bus.$on('minimize_menu', (status) => {
            this.menuToggle = status
        })

    }
}
</script>
<template>
    <div class="admin_body_area" :class="{'menu-minimised': menuToggle}" @click="body_clicked">
        <side-menu></side-menu>
        <div class="admin_body_area__content_wrapper">
            <slot></slot>
        </div>
    </div>
</template>