<script>
    import Vue from 'vue';
    Vue.component('fund-cards', require('./summarycards/summary-cards.vue'));
    Vue.component('recent-activities', require('./recentactivities/recent-activities.vue'));

    export default {
        data: () => ({}),
        methods: {},
    }
</script>
<template>
    <div class="">
        <div class="investment-cards">
            <fund-cards></fund-cards>
        </div>

        <div class="recent-activities dashboard_tour_step_4" >
            <recent-activities></recent-activities>
        </div>

    </div>
</template>