@import "../utils/spinner";
 .crims-table-area {
    background-color: #ffffff;
    height: 100%;
   transition:  2s;
   display: flex;
   flex-direction: column;
   @include crims_load_spinner;

   table, .crims-table {
    box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.10);
    border: 1px solid #eee;
    margin-right: 10px;
    margin-bottom: 0;
    min-width: 100%;
     table-layout:auto;
    background-color: rgba(0, 0, 0, 0.3);
    color: #212020;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 400;

    thead, .crims-table-head {
      color: #006a5b;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 700;
    }

    tbody, .crims-table-body {
      transition:  2s;
      tr {
        &.linked-list-row {
          cursor: pointer;
          &:hover, &:focus {
            border: 1px solid rgba(0, 0, 0, 0.09);
            border-right: 5px solid #006a5b;

          }
        }
        td {
          text-align: left;
          &.action{

            a {
              color: #006a5b;
              font-family: "Font Awesome";
              font-size: 16px;
              font-weight: 400;

              &:hover {
                color: #A3CF5F;
              }
            }
          }
        }

        .null-notify {
          width: 100%;
          text-align: center;
          color: #a5a5a5;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }

  }

   &__head {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;

     h3 {
       color: #006a5b;
       font-family: "Proxima Nova";
       font-size: 16px;
       font-weight: 600;
       text-transform: uppercase;
     }

   }

   &__body {
     overflow-x: scroll;
   }

   &__pagination {
     display: flex;
     justify-content: space-between;
     padding: 15px;
     align-items: center;
     >div {
       padding: 0;
       margin: 0;


     }
     .pagination {
       &__btn {
         display: inline-block;
         padding: 6px 12px;
         margin-bottom: 0;
         font-size: 14px;
         font-weight: 400;
         line-height: 1.42857143;
         text-align: center;
         white-space: nowrap;
         vertical-align: middle;
         -ms-touch-action: manipulation;
         touch-action: manipulation;
         cursor: pointer;
         -webkit-user-select: none;
         -moz-user-select: none;
         -ms-user-select: none;
         user-select: none;
         margin-right: 5px;
         background-image: none;
         border: 1px solid #eee;
         border-radius: 4px;
         color: #4a494a;

         &.disabled, &:disabled{
           cursor: not-allowed;
           filter: alpha(opacity=65);
           -webkit-box-shadow: none;
           box-shadow: none;
           opacity: .65;
           color: #bdbdbd;
         }

       }
       &__active {
         color: #fff !important;
         background-color: #006a5b;
         border-color: #006a5b;
       }
     }


   }

   &__tablefoot {
     display: flex;
     justify-content: space-between;
     align-items: center;

     padding: 5px;

     table {
       table-layout:fixed;
       width: auto;
       min-width: 100%;
     }

     .foot_col {
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       //align-items: center;
       max-width: 25%;
       color: #212020;
       font-size: 14px;

       .head {
         font-weight: bold;
         margin-right: 10px;
       }

       .description {

       }
     }
   }
   .status_label {
     padding: 8px 10px;
     border: 1px solid #eeeeff;
     border-radius: 20px;

     &__success {
       color: #A3CF5F;
     }

     &__primary{
       color: #a94442;
     }

     &__basic {
       color: #a5a5a5;
     }
   }
 }

@media screen and (max-width: 700px){
  .crims-table-area {
    &__body {
      overflow-x: scroll;
    }

    &__pagination {
      flex-direction: column;
      >div {
        margin-bottom: 20px;
      }
    }

    &.table_scroll{
      overflow-x: scroll;
    }
  }
}