<script>
    import Vue from 'vue';
    import {mapGetters} from 'vuex';

    Vue.component('all-bills-view', require('./partials/all-bills-view'));
    Vue.component('my-bills-view', require('./partials/my-bills-view'));

    export default {
        data() {
            return {
                activeTab: 'all_bills',
                viewAll: true,
                viewMy: false
            }
        },

        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient',
                currentUser: 'currentUser',
                summaries: 'fundsummary',
            }),

            canPayBills(){
                return this.selectedClient.hasUT && this.selectedClient.hasMMFBalance;
            }
        },

        methods: {
            showAll() {
                this.viewAll = true;
                this.viewMy = false;
            },

            showMy() {
                this.viewMy = true;
                this.viewAll = false;
            },
        }
    }
</script>

<template>
    <div class="crims-page all-investments">
        <breadcrumb>
            <h3>Utilities and Purchases</h3>
        </breadcrumb>

        <div v-if="this.selectedClient.hasUT">
            <p>Pay your bills fast and easy</p>
        </div>

        <div v-else class="alert alert-info">
            <p>Please make a UnitTrust (CMMF) investment to make payment</p>
        </div>

        <div v-if="!this.selectedClient.hasMMFBalance" class="alert alert-info">
            <p>Your CMMF unit trust balance is below to make payment. Invest to proceed</p>
        </div>

        <div class="crims-table-area table_scroll">

            <div class="billing_body">
                <div class="billing_body_header">
                    <el-row style="margin-top: 15px;">
                        <el-button :class="{ active_btn: viewAll}" @click="showAll">All Bills</el-button>
                        <el-button :class="{ active_btn: viewMy}" @click="showMy">My Bills</el-button>
                    </el-row>
                </div>

                <div class="billing_body_content">
                    <div class="" v-if="viewAll">
                        <all-bills-view></all-bills-view>
                    </div>
                    <div class="" v-if="viewMy">
                        <my-bills-view></my-bills-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
    .alert{
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .alert-info{
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
</style>
