.analysis_cards__sections {
  .menu-summary-cards {
    margin-bottom: 45px;
    &:nth-child(1){
      .card_content {
        background-image: linear-gradient(120deg, #f5515f 0%, #9f041b 100%);
      }
    }
    &:nth-child(2){
      .card_content {
        background-image: linear-gradient(120deg, #3dbdb6 0%, #0089ce 100%);
      }
    }
    &:nth-child(3){
      .card_content {
        background-image: linear-gradient(-60deg, #006a5b 0%, #a2d45e 100%);
      }
    }
    &:nth-child(4){
      .card_content {
        background-image: linear-gradient(-60deg, #b24592 0%, #f15f79 100%);
      }
    }

    .card_content {
      min-height: 130px;
      margin-bottom: 15px;
      .summary {
        &__content {
          &_sub2 {
            justify-content: flex-end;

            p{
              text-align: right;
              width: 100%;
              font-size: 8px;
              font-weight: 400;



            }
          }
        }
      }
    }

  }
}
