.admin_menus {
  .summaries {
    .summary_card {
      width: 40%;
      flex: none;

      .summary_card_content {
        .card_section {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }
      }
    }

    .menu_card:hover {
      text-decoration: none;
    }

    .menu_card {
      //flex: 1;
      width: 20%;
      margin-bottom: 10px;
      min-width: 210px;
      max-width: 392px;
      max-height: 197px;
      padding: 10px;

      .first-menu-item {
        background-color: #161a27;
        color: #ffffff;
        border-radius: 3px;
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        border-radius: 3px;
        background-color: #ffffff;

        padding: 30px;
        min-height: 197px;
        max-height: 187px;

        webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
        transition: box-shadow .3s;

        &:hover {
          box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.07);
          cursor: pointer;
        }
      }

      &__title {
        font-family: Futura;
        font-size: 16px;
        font-weight: bolder;
        text-transform: uppercase;
      }

      &__foot {
        display: flex;
        justify-content: space-between;


        .menu_foot {
          &__left {
            .menu-item-description
            {
              font-family: Futura;
              font-size: 12px;
              color: #8C8888;
            }
          }

          &__right {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 30%;
            text-align: right;

            i {
              color: #a3a3a3;
              font-size: 27px;
            }
          }
        }
      }

    }
  }
}

@media screen and (max-width: 1024px) {
  .admin_menus {
    .summaries {
      .summary_card {
        flex: 2;
      }

      .menu_card {
        flex: 1;
      }
    }
  }
}