<script>
    import vueTableMixin from '../../../../mixins/vuetable_mixin';
    import { mapGetters } from 'vuex';

    export default {

        mixins: [ vueTableMixin ],

        data() {
            return {

                date: '',

                fields: [
                    { name: 'name', title: 'Name', sortField: 'name' },
                    { name: 'date', title: 'Date', sortField: 'date' },
                    { name: 'purchase_price', title: 'Purchase Price', sortField: 'purchase_price' },
                    { name: 'current_price', title: 'Current Price', sortField: 'current_price' },
                    { name: 'market_value', title: 'Market Value', sortField: 'market_value' },
                ],

                tableState: {
                },

                promise: true,
            }
        },

        watch: {
            selected_date: {
                handler: function () {

                    this.date = this.selected_date;

                    setTimeout( () => {
                        this.$refs.vuetable.reload();
                    }, 2000);
                }
            }
        },

        computed: {
            ...mapGetters({
                assets: 'fundAssets',
                activeUnitFund: 'activeUnitFund',
                selected_date: 'selected_date'
            }),

            url() {
                return '/api/portfolio/fund/fund-summary/equities?date='+this.date;
            }
        }
    }
</script>

<template>
    <div class="col-md-12">
        <div class="crims_table">
            <vuetable ref="vuetable"
                      :api-url="url"
                      :fields="fields"
                      pagination-path=""
                      @vuetable:pagination-data="onPaginationData"
                      :append-params="tableState"
                      :per-page="itemsPerPage"
            >
            </vuetable>

            <div class="">
                <table>
                    <tbody>
                        <tr colspan="3">
                            <td>
                                <div style="margin-right: 40px; margin-left: 10px">
                                    <el-select v-model="itemsPerPage" placeholder="Select Unit Fund" style="width: 100%" @change="changePerPage">
                                        <el-option
                                                v-for="option in itemsPerPageOptions"
                                                :key="option"
                                                :label="option"
                                                :value="option">

                                        </el-option>
                                    </el-select>
                                </div>
                            </td>

                            <td colspan="5">
                                <div style="margin-right: 30px">
                                    <vuetable-pagination-info ref="paginationInfo"></vuetable-pagination-info>
                                </div>
                            </td>

                            <td>
                                <vuetable-pagination
                                        ref="pagination"
                                        @vuetable-pagination:change-page="onChangePage">

                                </vuetable-pagination>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </div>
        </div>
    </div>
</template>