<script>
    import vueTableMixin from '../../../../mixins/vuetable_mixin';
    import { mapGetters } from 'vuex';
    import Vue from 'vue';
    import moment from 'moment';

    Vue.component('equity-assets', require('./equities'));
    Vue.component('deposit-assets', require('./deposits'));
    Vue.component('fund-liabilities', require('./liabilities'));
    Vue.component('fund-totals', require('./totals'));

    export default {

        mixins: [ vueTableMixin ],

        props: {
            manager: { default : 'manager' },
            fund: { default : 'fund' },
            tableId: { default: 'crims_table' },
        },

        data() {
            return {
                unit_fund_id: '',

                tableState: {},
                date: Date.now()
            }
        },

        computed: {
            ...mapGetters({
                funds: 'fundManagerFunds',
                activeUnitFund: 'activeUnitFund',
                fetching: 'fetchingManagerFunds',
                selected_date: 'selected_date'
            })
        },

        watch: {
            funds: {
                handler: function () {
                    if(this.fund) {
                        this.unit_fund_id = this.fund;

                    } else {
                        this.unit_fund_id = this.funds[0].id;
                    }
                }
            },

            unit_fund_id: {
                handler: function () {
                    this.$store.commit('SET_UNIT_FUND', this.unit_fund_id);
                    this.getFundAssets();
                    this.doFilter();
                }
            },

            date: {
                handler: function () {
                    this.setDate();
                }
            },

            selected_date: {
                handler: function () {
                    this.getFundAssets();
                    this.doFilter();
                }
            }
        },

        methods: {
            getFundAssets: function () {
                this.$store.commit('FUND_SUMMARY', { id: this.activeUnitFund, date: this.selected_date });
            },

            doFilter: function ()
            {
                this.$events.fire('filter-set', {
                    'id': this.tableId,
                    'unit_fund_id': this.unit_fund_id,
                });
            },

            setDate: function () {

                let date = moment(this.date).format('YYYY-MM-DD');

                this.$store.commit('SET_SELECTED_DATE', date);
            }
        },

        mounted() {
            this.$store.commit('GET_MANAGER_UNIT_FUNDS', this.manager);
            this.setDate();
        }
    }
</script>

<template>
    <div class="">
        <div class="">
            <div class="small-12 medium-8 columns">
                <br>
                <label><i class="el-icon-loading" v-if="fetching"></i></label>

                <el-select
                        v-model="unit_fund_id"
                        placeholder="Select Unit Fund"
                        style="width: 20%">
                    <el-option
                            v-for="f in funds"
                            :key="f.id"
                            :label="f.name"
                            :value="f.id">
                    </el-option>
                </el-select>

                <el-date-picker
                        v-model="date"
                        type="date"
                        placeholder="Pick a date"
                        style="width: 20%">
                </el-date-picker>

                <div class="pull-right">
                    <div class="btn btn-group">
                        <a class="btn btn-primary" :href="'/dashboard/portfolio/export-fund-pricing/'+unit_fund_id">Export Pricing</a>
                        <a class="btn btn-success" :href="'/dashboard/unitization/unit-funds/'+unit_fund_id+'/unit-fund-price-trails'">Fund Price Trails</a>
                        <a class="btn btn-danger" href="/dashboard/portfolio/fund-summary">Fund Summary</a>
                    </div>
                </div>

            </div>
        </div>

        <hr>

        <div class="" v-if="activeUnitFund">
            <el-tabs type="card">
                <el-tab-pane label="EQUITIES">
                    <equity-assets class="panel panel-success"></equity-assets>
                </el-tab-pane>
                <el-tab-pane label="DEPOSITS">
                    <deposit-assets class="panel panel-success"></deposit-assets>
                </el-tab-pane>
            </el-tabs>
        </div>

        <br>

        <div class="">
            <fund-liabilities></fund-liabilities>
        </div>


    </div>
</template>