<script>
    import { mapGetters } from 'vuex';
    import moment from 'moment';
    import { Message } from 'element-ui';

    export default {

        data() {
            return {
                submitting: false
            }
        },

        computed: {
            ...mapGetters({
                liabilities : 'fundLiabilities',
                totals: 'summaryTotals',
                calculationType: 'calculationType',
                activeUnitFund: 'activeUnitFund',
                selected_date: 'selected_date',
                currency: 'fundCurrency'
            }),

            totalAmount() {
                return this.liabilities.reduce( (val, liability) => {
                    return val + parseFloat(liability.amount);
                }, 0);
            },
            totalTodayAmount() {
                return this.liabilities.reduce( (val, liability) => {
                    return val + parseFloat(liability.today);
                }, 0);
            },
            totalPercentage() {
                return this.liabilities.reduce( (val, liability) => {
                    return val + parseFloat(liability.percentage);
                }, 0);
            }
        },

        methods: {
            savePerformance: function(){
                let message = 'Are you sure to save performance as at ' + this.selected_date + '?';

                this.$confirm(message)
                    .then(_ => {
                        this.submit();
                    })
                    .catch(_ => {});
            },

            submit: function () {

                this.submitting = true;

                let vm = this;

                axios.put(`/api/unitization/unit-funds/${this.activeUnitFund}/unit-fund-price-trails/${this.selected_date}`,
                    {
                        date: moment(this.update_date).format('Y-MM-DD')
                    }
                ).then(function () {
                    Message.success({ message: 'Performance saved for approval succesfully'});
                    vm.submitting = false;
                }, function () {
                    Message.warning({ message: 'Could not save performance for approval'});
                    vm.submitting = false;
                })
            }
        }
    }
</script>

<template>
    <div class="">
        <div class="col-md-6  panel panel-success">
            <br>
            <br>
            <table class="table table-responsive table-striped">
                <thead>
                    <tr>
                        <th> Liability </th>
                        <th> Today Value </th>
                        <th> Total Amount </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="liability in liabilities">
                        <td>{{ liability.type }}</td>
                        <td>{{ liability.today | currency }}</td>
                        <td>{{ liability.amount | currency }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Totals</th>
                        <th>{{ totalTodayAmount | currency }}</th>
                        <th>{{ totalAmount | currency }}</th>
                    </tr>
                </tfoot>
            </table>
            <br>
        </div>

        <div class="col-md-6 panel panel-success">
            <br>
            <br>
            <table class="table table-responsive table-striped"  v-if="calculationType === 'daily-yield'">
                <tbody class="">
                    <tr>
                        <td>Assets</td>
                        <td>{{ currency }} {{ totals.assets | currency }}</td>
                    </tr>
                    <tr v-for="account in totals.cash">
                        <td>Balance: {{ account.name }}</td>
                        <td>{{ account.currency }} {{ account.balance | currency }}</td>
                    </tr>
                    <tr>
                        <th> Asset Under Management </th>
                        <th>{{ currency }} {{ totals.aum | currency }}</th>
                    </tr>
                    <tr>
                        <td>Gross Daily Income</td>
                        <td>{{ currency }} {{ totals.gross_daily_income | currency }}</td>
                    </tr>
                    <tr>
                        <td>Today's Liabilities</td>
                        <td>{{ currency }} {{ totals.today_liabilities | currency }}</td>
                    </tr>
                    <tr>
                        <th>Net Income Per Unit</th>
                        <th>{{ totals.net_income_per_unit | currency('', 6) }}%</th>
                    </tr>
                    <tr>
                        <th>Gross Daily Yield</th>
                        <th>{{ totals.gross_daily_yield  | currency('', 6) }}%</th>
                    </tr>
                    <tr>
                        <td>Out performance fee amount</td>
                        <td>{{ totals.outperformance_fee_amount  | currency('', 2) }}</td>
                    </tr>
                    <tr>
                        <td>Out performance fee percent</td>
                        <td>{{ totals.outperformance_fee_percent  | currency('', 6) }}%</td>
                    </tr>
                    <tr>
                        <th>Net Daily Yield</th>
                        <th>{{ totals.net_daily_yield | currency }}%</th>
                    </tr>
                    <tr>
                        <th> Net Annual Yield </th>
                        <th>{{ totals.net_annual_yield | currency }}%</th>
                    </tr>
                </tbody>
            </table>
            <table class="table table-responsive table-striped"  v-else>
                <tbody class="">
                    <tr v-for="account in totals.cash">
                        <td>Balance: {{ account.name }}</td>
                        <td>{{ account.currency }} {{ account.balance | currency }}</td>
                    </tr>
                    <tr>
                        <th> Asset Under Management </th>
                        <th>{{ totals.aum | currency }}</th>
                    </tr>
                    <tr>
                        <th> Net Asset Value </th>
                        <th>{{ totals.nav | currency }}</th>
                    </tr>
                    <tr>
                        <th> No of Units </th>
                        <th>{{ totals.units }}</th>
                    </tr>
                    <tr>
                        <th> Unit Price </th>
                        <th>{{ totals.price | currency }}</th>
                    </tr>
                    <tr v-if="totals.return">
                        <td>Return</td>
                        <td>{{ totals.return | currency }}%</td>
                    </tr>
                </tbody>
            </table>

            <br>
            <br>

            <div class="">
                <button class="btn btn-success" @click.prevent="savePerformance()">
                    <i class="el-icon-loading" v-if="submitting"></i>
                    Save performance
                </button>
            </div>
            <br>
        </div>
    </div>
</template>