<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapGetters({
                summaryTotals: 'summaryTotals',
                calculationType: 'calculationType',
                totals: 'summaryTotals',
            })
        }
    }
</script>

<template>
    <div class="">
        <table class="table table-responsive table-striped"  v-if="calculationType === 'daily-yield'">
            <thead>
                <tr>
                    <th></th>
                    <th>Total rate</th>
                    <th>Total market value</th>
                </tr>
            </thead>
            <tbody class="">
                <tr>
                    <th></th>
                    <th>{{ totals.rate }}%</th>
                    <th>{{ totals.gross_annual_yield }}</th>
                </tr>
            </tbody>
        </table>

        <table class="table table-responsive table-striped"  v-else>
            <thead>
                <tr>
                    <th></th>
                    <th>Total market value</th>
                </tr>
            </thead>
            <tbody class="">
                <tr>
                    <th></th>
                    <th>{{ totals.aum | currency }}</th>
                </tr>
            </tbody>
        </table>
    </div>
</template>