<script>
    import { mapGetters } from 'vuex';
    import FormPartials from '../mixins/FormPartials.js';
    import { Message } from 'element-ui';

    export default {
        mixins: [ FormPartials ],

        data() {
            return {
                unitfund: '',
                calculate: '',
                stopFetching: false,
                amount: '',
                units: '',
                calculate: false,
                activeFund: ''
            }
        },

        computed: {
            ...mapGetters({
                unitFund: 'unitFundDetails',
                fetchingUnitFund: 'fetchingUnitFund',
                fetchingUnits: 'fetchingUnits',
                fetchingAmount: 'fetchingAmount',
                amountResult: 'unitFundAmountResult',
                unitsResult: 'unitFundUnitResult',
            })
        },

        created() {
            this.activeFund = this.$route.params.fid;
        },

        watch: {
            unitfund: {
                handler: function ()
                {
                    this.$store.commit('GET_UNIT_FUND_DETAILS', this.unitfund);
                }
            },
            unitFund: {
                handler: function ()
                {
                    this.stopFetching = true;
                }
            },
            activeFund: {
                handler: function () {
                    this.unitfund = this.activeFund;
                }
            }
        },
        methods: {
            getUnits: function (amount)
            {
                (amount > 0 && this.unitfund)
                    ? this.$store.commit('CALCULATE_UNITS', { amount: amount, fund: this.unitfund })
                    : Message.warning("Please enter the amount and choose unit fund");
            },

            getAmount: function (units)
            {
                (units > 0 && this.unitfund)? this.$store.commit('CALCULATE_AMOUNT', { units: units, fund: this.unitfund })
                    : Message.warning("Please enter the number of units and choose unit fund");
            },

            closeModal: function () {
                this.$store.commit('OPEN_CALCULATOR_MODAL', false);
            }
        }
    }
</script>

<template id="id-of-template" v-cloak>
    <div class="panel-dashboard1">
        <h3>
            Unit Funds Calculator
            <div class="btn-group pull-right">
            <el-button type="success" size="mini" @click="closeModal()"><i class="fa fa-close"></i></el-button>
        </div>
        </h3>
        <hr>
        <div class="panel panel-success">
            <div class="panel-heading">
                <p><i class="fa fa-gg"></i> Unit Fund Details</p>
            </div>
            <div class="panel-body">
                <div class="form-group" v-if="!activeFund">
                    <div class="row">
                        <div class="col-md-6">
                            <el-select v-model="unitfund" placeholder="Select unit fund" style="width: 100%;">
                                <el-option
                                        v-for="fund in partials.unitFunds"
                                        :key="fund.id"
                                        :label="fund.name"
                                        :value="fund.id">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                </div>
                <br>
                <div class="detail-group" v-if="fetchingUnitFund">
                    <i class="fa fa-spinner fa-spin"></i> Fetching unit fund details
                    </div>
                <div class="form-group" v-if="stopFetching">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-responsive table-striped">
                                <tbody>
                                <tr>
                                    <th>Unit Fund</th>
                                    <td>{{ unitFund.name }}</td>
                                    <th>Current Unit Price</th>
                                    <td>{{ unitFund.currentUnitPrice }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="detail-group">
            <div class="alert alert-warning">
                <p>Select either <b>amount</b> to calculate <b>number of units</b> you may get or enter number of <b>units</b> to calculate <b>amount</b> you need.</p>
            </div>
            <el-radio-group v-model="calculate">
                <el-radio :label="3">Amount</el-radio>
                <el-radio :label="6">Number of Units</el-radio>
            </el-radio-group>
        </div>
        <div class="panel panel-success" v-if="calculate == 3">
            <div class="panel-heading">
                <p><i class="fa fa-info-circle"></i> Get the number of <b>units</b> you can get from the amount you have.</p>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <el-input placeholder="Please enter amount to invest" v-model="amount" style=" width: 100%;">
                            </el-input>
                        </div>
                        <div class="col-md-1">
                            <el-button type="success" slot="append" @click="getUnits(amount)"> Go </el-button>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="detail-group" v-if="fetchingUnits">
                    <i class="fa fa-spinner fa-spin"></i> Calculating
                    </div>
                <br>
                <div class="" v-if="unitsResult.amount > 0">
                    <p>
                        <span class="rate-box"> {{ unitsResult.units }} Units</span>
                    </p>
                </div>
                <br/>
                <div class="detail-group col-md-7" v-if="unitsResult.amount > 0">
                    <br>
                    <table class="table table-responsive table-striped">
                        <tbody>
                        <tr>
                            <th>Amount: </th>
                            <th>{{ unitsResult.amount | currency }}</th>
                        </tr>
                        <tr>
                            <th>Units: </th>
                            <td>{{ unitsResult.units }}</td>
                        </tr>
                        <tr>
                            <th>Unit Price: </th>
                            <td>{{ unitsResult.unitPrice | currency }}</td>
                        </tr>
                        <tr>
                            <th>Total Value of Units: </th>
                            <td>{{ unitsResult.valueOfUnits | currency }}</td>
                        </tr>
                        <tr>
                            <th>Fees Charged: </th>
                            <td>{{ unitsResult.fees | currency }}</td>
                        </tr>
                        <tr>
                            <th>Balance: </th>
                            <th>{{ unitsResult.balance | currency }}</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="panel panel-success" v-if="calculate == 6">
            <div class="panel-heading">
                <p><i class="fa fa-info-circle"></i> Get the <b>amount</b> to invest on the number of  units you want.</p>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <el-input-number v-model="units" :min="1" style=" width: 100%;"></el-input-number>
                        </div>
                        <div class="col-md-1">
                            <el-button type="success" slot="append" @click="getAmount(units)"> Go </el-button>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="detail-group" v-if="fetchingAmount">
                    <i class="fa fa-spinner fa-spin"></i> Calculating
                    </div>
                <br>
                <div class="" v-if="amountResult.amount > 0">
                    <p>
                        <span class="rate-box">KES. {{ amountResult.amount | currency }} </span>
                    </p>
                </div>
                <br/>
                <div class="detail-group col-md-7" v-if="amountResult.amount > 0">
                    <br>
                    <table class="table table-responsive table-striped">
                        <tbody>
                        <tr>
                            <th>Amount: </th>
                            <th>{{ amountResult.amount | currency }}</th>
                        </tr>
                        <tr>
                            <th>Units: </th>
                            <td>{{ amountResult.units }}</td>
                        </tr>
                        <tr>
                            <th>Unit Price: </th>
                            <td>{{ amountResult.unitPrice | currency }}</td>
                        </tr>
                        <tr>
                            <th>Total Value of Units: </th>
                            <td>{{ amountResult.valueOfUnits | currency }}</td>
                        </tr>
                        <tr>
                            <th>Fees Charged: </th>
                            <td>{{ amountResult.fees | currency }}</td>
                        </tr>
                        <tr>
                            <th>Balance: </th>
                            <th>{{ amountResult.balance | currency }}</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="">
            <el-button type="success" size="mini" @click="closeModal()">Close</el-button>
        </div>
    </div>
</template>

<style>
    .rate-box {
        background: rgba(163,207,95,0.08);
        border: 1px dashed #A3CF5F;
        border-radius: 3px;
        padding: 15px 30px;
        margin-top: 10px;
        font-family: 'Open Sans', sans-serif;
        font-weight: Bold;
        font-size: 36px;
        color: #006B5B;
        letter-spacing: 1.38px;
    }
</style>