<script>
    import Vue from 'vue';

    Vue.component('shares-bought', require('./shares-bought.vue'));
    Vue.component('shares-sold', require('./shares-sold.vue'));
    Vue.component('shares-valuation', require('./valuation.vue'));

    export default { }

</script>

<template>
    <div class="" style="padding: 10px;">
        <div class="row">
            <shares-bought></shares-bought>
        </div>

        <div class="row">
            <br>
            <shares-sold></shares-sold>
        </div>

        <div class="row">
            <br>
            <shares-valuation></shares-valuation>
        </div>
    </div>
</template>