<script>
    import { mapGetters } from 'vuex';

    export default {
        data() {
            return {
                form: {}
            }
        },
        computed: {
            ...mapGetters({
                formErrors: 'formErrors',
                reversingDeposit: 'reversingBuyShares',
                reverseErrors: 'reverseErrors'
            })
        },
        watch: {

        },
        methods: {
            reverseDeposit: function () {
                this.$store.commit('REVERSE_BUY_SHARES', { id: this.$route.params.id, holding_id: this.$route.params.holding_id, reason: this.form.reason });
            },

            closeModal: function () {
                this.$store.commit('SHOW_REVERSE_BUY_SHARES_MODAL', false);
            }
        }
    }
</script>
<template>
    <div class="">
        <div class="panel panel-success">
            <div class="panel-heading">
                <p><i class="fa fa-info"></i> Are you sure you want to reverse withdrawal/rollover of this investment </p>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group"><p>The withdrawal/rollover will be undone.</p></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <el-input placeholder="Please provide a reason" v-model="form.reason" style="width: 100%;"></el-input>
                            <ul v-if="reverseErrors['reason']" class="text-danger">
                                <li v-for="message in reverseErrors['reason']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit" @click="reverseDeposit">
                                <i class="fa fa-spinner fa-spin" v-if="reversingDeposit"></i> <i class="fa fa-save" v-else></i> Yes
                            </button>
                            <a class="btn btn-default" @click="closeModal()">No</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>