<script>
    import Vue from 'vue';
    import vueTableMixin from '../../../mixins/vuetable_mixin';
    import { mapGetters } from 'vuex';

    export default {
        mixins: [ vueTableMixin ],
        data() {
            return {
                fields: [
                    { name: 'date', title: 'Trade Date', sortField: 'date' },
                    { name: 'settlement_date', title: 'Settlement Date', sortField: 'settlement_date' },
                    { name: 'number', title: 'Number', sortField: 'number'},
                    { name: 'sale_price', title: 'Sales Price', sortField: 'sale_price'},
                    { name: 'average_purchase_price', title: 'Average Purchase Price', sortField: 'average_purchase_price'},
                    { name: 'target_price', title: 'Target Price', sortField: 'target_price'},
                    { name: 'total_purchase_value', title: 'Total Purchase Value', sortField: 'total_purchase_value'},
                    { name: 'sale_value', title: 'Sales Value', sortField: 'sale_value'},
                    { name: 'total_value', title: 'Total Value', sortField: 'total_value'},
                    { name: 'market_price', title: 'Market Price', sortField: 'market_price'},
                    { name: 'market_value', title: 'Market Value', sortField: 'market_value'},
                    { name: 'gain_loss', title: 'Gain/Loss', sortField: 'gain_loss'},
                    { name: 'id', title: 'Show',  dataClass: 'center', callback: 'reverseSellShares'}
                ],
                tableState: {
                },
                promise: true,
            }
        },
        created: function() {
            let securityId = this.$route.params.id;
            this.url = '/api/portfolio/securities/'+securityId+'/holdings/sales';
        },
        computed: {
            ...mapGetters({
                type : 'portfolioSecurity',
            })
        },
        methods: {
            reverseSellShares (value)
            {
                return '<a class="fa fa-eye" href="/dashboard/portfolio/equities/saledetails/' + value + '" ></a>'
            }
        }
    }
</script>

<template>
    <div class="">
        <div class="">
            <div class="crims_table">
                <h4 style="padding-left: 2px;">Shares Sold:</h4>
                <vuetable ref="vuetable"
                          :api-url="url"
                          :fields="fields"
                          pagination-path=""
                          @vuetable:pagination-data="onPaginationData"
                          :append-params="tableState"
                          :per-page="itemsPerPage"
                >
                </vuetable>

                <div class="vuetable-pagination ui basic segment grid crims_pagination">
                    <table>
                        <tfoot>
                        <tr>
                            <td class="text-center" width="50%">
                                <div class="inline-block" style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                    <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                    <select style="width: 100px" class="form-control" v-model="itemsPerPage" @change="changePerPage">
                                        <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}</option>
                                    </select>
                                </div>
                            </td>
                            <td class="text-center">
                                <vuetable-pagination-info ref="paginationInfo">
                                </vuetable-pagination-info>
                                <vuetable-pagination ref="pagination"
                                                     @vuetable-pagination:change-page="onChangePage"
                                ></vuetable-pagination>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
    </div>
</template>