<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapGetters({
                security: 'portfolioSecurityDetails'
            })
        }
    }
</script>

<template>
    <div class="">
        <h4 style="padding-left: 2px;">Valuation</h4>
        <div class="">
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>Number of Shares</th>
                    <th>Cost</th>
                    <th>Total Cost</th>
                    <th>Market Value</th>
                    <th>Market Price</th>
                    <th>Target Price</th>
                    <th>Alpha</th>
                    <th>Portfolio Cost</th>
                    <th>Portfolio Value</th>
                    <th>Dividend</th>
                    <th>Portfolio Return</th>
                    <th>Exposer</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ security.total_number | currency }}</td>
                    <td>{{ security.cost | currency }}</td>
                    <td>{{ security.total_cost | currency }}</td>
                    <td>{{ security.market_value | currency }}</td>
                    <td>{{ security.market_price | currency }}</td>
                    <td>{{ security.target_price | currency }}</td>
                    <td>{{ security.alpha }}</td>
                    <td>{{ security.portfolio_cost | currency }}</td>
                    <td>{{ security.portfolio_value | currency }}</td>
                    <td>{{ security.dividend | currency }}</td>
                    <td>{{ security.portfolio_return | currency }}</td>
                    <td>{{ security.exposure }}%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>