<script>
    import {mapGetters} from 'vuex';

    export default {
        data() {
            return {}
        },
        computed: {
            ...mapGetters(
                {
                    logs: 'activityLogs',
                    brief: 'getBriefOverviewLog',
                    selectedClient: 'selectedClient'
                })
        },
        watch: {
            selectedClient:
                {
                    handler: function () {
                        this.getBriefActivityLog();
                        this.checkPageData();
                    }
                },
        },
        methods: {
            getBriefActivityLog: function () {
                if (this.selectedClient.id) {
                    this.$store.commit('GET_BRIEF_ACTIVITY_LOG', this.selectedClient.id);
                    this.$store.commit('GET_BRIEF_OVERVIEW_LOG', this.selectedClient.id);
                }
            },
            checkPageData() {
                if (!this.selectedClient.hasSP) {
                    this.$router.push({
                        path: '/home'
                    });
                }
            },
        },
        mounted() {
            this.getBriefActivityLog();
            this.checkPageData();
        }
    }
</script>
<template>
    <div class="crims-page">

        <breadcrumb>
            <h3>Account Activities</h3>
        </breadcrumb>

        <div class="crims-page-area r-activities">
            <div class="grid-x">
                <div class="large-6 account-activity">
                    <div class="head">
                        <h3>RECENT ACCOUNT <span>Activity</span></h3>
                    </div>

                    <div class="body" v-if="selectedClient">
                        <div class="activity-item-list" v-for="log in logs">
                            <div class="list-content">
                                <span class="date">
                                    {{ log.date | date  }}
                                </span><br/>
                                <span class="description">
                                   {{ log.narrative }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="large-5 account-overview">
                    <div class="head">
                        <h3>Account <span>Overview</span></h3>
                    </div>

                    <div class="body" v-if="selectedClient">
                        <div v-for="inv in brief.maturities">
                            <div class="activity-item-list" v-for="(total, product) in brief.totals">
                                <div class="list-content">
                                <span>
                                    {{ inv.currency }} {{ inv.amount | currency }} matures on {{ inv.maturity_date | date }}
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>