<!-- Add/Edit Email -->
<div class="modal fade" id="email-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" action="http://www.cytonncrims.com/dashboard/investments/applications/347/email" accept-charset="UTF-8"><input name="_token" type="hidden" value="ojIvHrkmzDXCrp0S6HzsH78KvUwI6pitp33udWVv">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add an email</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="emails">Enter emails separated by commas</label>

                        <textarea class="form-control" rows="3" name="emails" cols="50" id="emails"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input class="btn btn-success" type="submit" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Add Contact person modal -->
<div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" action="http://www.cytonncrims.com/dashboard/investments/applications/347/contact" accept-charset="UTF-8"><input name="_token" type="hidden" value="ojIvHrkmzDXCrp0S6HzsH78KvUwI6pitp33udWVv">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add a contact person</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="name">Name</label>

                    <input class="form-control" name="name" type="text" id="name">

                    <span class="group"><p class="form-errors group"></p></span>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>

                    <input class="form-control" name="email" type="text" id="email">

                    <span class="group"><p class="form-errors group"></p></span>
                </div>

                <div class="form-group">
                    <label for="address">Address</label>

                    <input class="form-control" name="address" type="text" id="address">

                    <span class="group"><p class="form-errors group"></p></span>
                </div>

                <div class="form-group">
                    <label for="phone">Phone Number</label>

                    <input class="form-control" name="phone" type="text" id="phone">

                    <span class="group"><p class="form-errors group"></p></span>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input class="btn btn-success" type="submit" value="Save">
            </div>
            </form>
        </div>
    </div>
</div>



<!-- Remove application -->
<div class="modal fade" id="remove-application" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" action="http://www.cytonncrims.com/dashboard/investments/applications/347/delete" accept-charset="UTF-8"><input name="_token" type="hidden" value="ojIvHrkmzDXCrp0S6HzsH78KvUwI6pitp33udWVv">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Remove Investment Application</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger">
                        <p>Are you sure you want to remove the application?</p>
                    </div>

                    <div class="form-group">
                        <label for="reason">Enter the reason why you are deleting the application</label>

                        <input class="form-control" required="required" name="reason" type="text" id="reason">

                        <span class="group"><p class="form-errors group"></p></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                    <input class="btn btn-danger" type="submit" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>
<!doctype html>
<html lang="en" ng-app="cytonn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/logo.ico?v=2" type="image/x-icon">
    <title> CRIMS | Application Details </title>

    <script src="http://www.cytonncrims.com/assets/js/jquery.min.js"></script>

<script src="http://www.cytonncrims.com/assets/js/angular.min.js"></script>

<script src="http://www.cytonncrims.com/assets/js/bootstrap.min.js"></script>

<script src="http://www.cytonncrims.com/assets/js/dropdowns-enhancement.js"></script>

<script src="http://www.cytonncrims.com/assets/lib/allmighty-autocomplete/script/autocomplete.js"></script>

<script src="http://www.cytonncrims.com/assets/lib/angular-modal-service/angular-modal-service.min.js"></script>

<script src="http://www.cytonncrims.com/assets/lib/angular-smart-table/smart-table.min.js"></script>

<script src="http://www.cytonncrims.com/assets/lib/angular-animate/angular-animate.min.js"></script>

<script src="http://www.cytonncrims.com/assets/lib/ui-bootstrap/ui-bootstrap-custom-tpls-0.13.4.min.js"></script>

<script src="http://www.cytonncrims.com/assets/lib/ui-bootstrap-tpls-0.14.3.min.js"></script>

<script src="http://www.cytonncrims.com/assets/js/angular-local-storage.min.js"></script>

<script src="http://www.cytonncrims.com/assets/js/Chart.min.js"></script>

<script src="http://www.cytonncrims.com/assets/js/moment.js"></script>

<script src="http://www.cytonncrims.com/assets/js/angular-moment.min.js"></script>

<script src="http://www.cytonncrims.com/assets/js/angular-chart.min.js"></script>

<script src="http://www.cytonncrims.com/assets/lib/summernote/summernote.min.js"></script>

<script src="http://www.cytonncrims.com/assets/js/angular-summernote.min.js"></script>

<script src="http://www.cytonncrims.com/assets/js/angular-sanitize.min.js"></script>

<script src="http://www.cytonncrims.com/assets/js/dependencies.min.js"></script>

<script src="http://www.cytonncrims.com/assets/js/cytonn.min.js"></script>




<link media="all" type="text/css" rel="stylesheet" href="http://www.cytonncrims.com/assets/css/bootstrap.min.css">

<link media="all" type="text/css" rel="stylesheet" href="http://www.cytonncrims.com/assets/css/font-awesome.min.css">

<link media="all" type="text/css" rel="stylesheet" href="http://www.cytonncrims.com/assets/css/dropdowns-enhancement.css">

<link media="all" type="text/css" rel="stylesheet" href="http://www.cytonncrims.com/assets/css/main.css">

<link media="all" type="text/css" rel="stylesheet" href="http://www.cytonncrims.com/assets/lib/allmighty-autocomplete/style/autocomplete.css">

<link media="all" type="text/css" rel="stylesheet" href="http://www.cytonncrims.com/assets/css/angular-chart.min.css">

<link media="all" type="text/css" rel="stylesheet" href="http://www.cytonncrims.com/assets/lib/summernote/summernote.css">

    <noscript>
        <style>
            body *{display:none;}h3,p,a{display:block;text-align:center;}
        </style>
        <h3>JavaScript is not enabled, please check your browser settings.</h3>
        <p>CRIMS requires JavaScript to work correctly. Please contact support if you have issues.</p>
    </noscript>

</head>
<body ng-controller="pageCtrl">
    <div class="container-fluid" id="crims">
        <div class="row">
            <div class="col-md-12 no-print">
                <nav class="navbar navbar-default navbar-fixed-top topnav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/assets/img/logo.svg" height="50px" alt="Cytonn Investments Management Limited"/>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="page-title margin-left-40"><a href="#">Application Details</a></li>
            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                        <li ng-controller="FundManagerSelectCtrl" class="fund-manager-select"><select class="form-control" init-model="selected_fm_id" name="fund_manager"><option value="1" selected="selected">CIM</option></select></li>
                    <li class="dropdown"  ng-controller="UnreadNotificationsController">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
                            <div>
                                <div class="icon-wrapper">
                                    <i class="fa fa-bell-o"></i>
                                    <span ng-bind="unread_count" class="badge"></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right notifications bullet pull-right">
                            <li  ng-repeat = "notification in notifications" ng-if="!notification.permanent_read">
                                <a ng-href="<% notification.location %>"><% notification.content %></a>
                            </li>
                        </ul>
                    </li>

                    <!-- User details -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">weber.rasheed <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right bullet pull-right">
                        <li role="separator" class="divider"></li>
                        <li><a href="/dashboard/profile"> <i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="/logout"> <i class="fa fa-sign-out"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
                    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>            </div>
        </div>
        <div class="row padding-top-50">
                            <div class="no-print sidebar">
                    <div ng-class="sidebarminimised" class="hide sidebar-wrapper group" id="sidebar-wrapper" aria-expanded="true">
                        <!-- Collect the nav links, forms, and other content for toggling -->
<div class="navgroup" ng-controller="sideMenuCtrl">
    <div class="smallmenu">
        <ul class="nav navbar-nav side-nav clearfix" id="actions">
            <li popover-placement="right" uib-popover="Dashboard" popover-trigger="mouseenter">
                <a href="/dashboard"><i  ng-class="minimiseicon" class="nav-icon fa fa-fw fa-dashboard"></i> <span ng-class="minimiselabel"> Dashboard</span> </a>
            </li>

            
                        
            <li popover-placement="right" uib-popover="Cytonn Shares" popover-trigger="mouseenter">
                <a href="/dashboard/shares"><i  ng-class="minimiseicon" class="nav-icon fa fa-fw fa-buysellads"></i><span ng-class="minimiselabel">  Shares</span></a>
            </li>

            <li popover-placement="right" uib-popover="Real Estate" popover-trigger="mouseenter">
                <a href="/dashboard/realestate"><i  ng-class="minimiseicon" class="nav-icon fa fa-fw fa-building-o"></i><span ng-class="minimiselabel">  Real Estate</span></a>
            </li>

                                </ul>
    </div>


    <div class="bigmenu">
        <ul class="nav navbar-nav side-nav clearfix" id="actions">
            <li>
                <a href="/dashboard"><i  ng-class="minimiseicon" class="nav-icon fa fa-fw fa-dashboard"></i> <span ng-class="minimiselabel"> Dashboard</span> </a>
            </li>

            
            
                        <li>
                <a href="/dashboard/realestate"><i  ng-class="minimiseicon" class="nav-icon fa fa-fw fa-building-o"></i><span ng-class="minimiselabel">  Real Estate</span></a>
            </li>

                                    <li>

            </li>
        </ul>
    </div>
    <div class="sidebar-footer">
        <a href="#" class="sidebar-toggle" id="sidebar-toggle" ng-click="toggleSidebar($event)">
            <i ng-class="toggle_state"></i>
        </a>
    </div>
</div>
                    </div>
                </div>
                <div ng-class="contentsidebarminimised" class="content-wrapper" id="contentWrapper">
                    <div class="row content-wrapper-row">
                        <div class="col-md-12 content-wrapper-div">
                            <div ng-controller="loginCheckCtrl"></div>
                            <div class="content">
                                                                    <div class = "col-md-10 col-md-offset-1" ng-controller = "ClientApplicationDetailCtrl">
        <div class = "col-md-12 panel-dashboard">
            <div class = "detail-group">
                <h4 class = "col-md-12">Application</h4>

                <p class = "col-md-4">Product: CMS </p>

                <p class = "col-md-4">Total Commitment: 12,300,000.00 </p>

                <p class = "col-md-4">Partnership Account Number: 120</p>

                <p class = "col-md-4">Agreed rate of return: 15% </p>

                <p class = "col-md-4">Investment Date: </p>

                <p class = "col-md-4">Tenor In Months: 18</p>
            </div>


                            <div class="detail-group">
    <h4 class="col-md-12">Applicant Details</h4>

    <p class="col-md-4">Name:  Sir Delbert Idell Hickle McClure</p>
    <p class="col-md-4">Email:  dickens.emelia@hand.com </p>
    <p class="col-md-4">Gender:  M</p>
    <p class="col-md-4">Date of Birth:  </p>
    <p class="col-md-4">Pin No.: </p>
    <p class="col-md-4">ID/Passport Number: </p>
    <p class="col-md-4">Postal code: </p>
    <p class="col-md-4">Postal address: </p>
    <p class="col-md-4">Country: </p>
    <p class="col-md-4">Phone: 7628568363</p>
    <p class="col-md-4">Home Tel no.:  </p>
    <p class="col-md-4">Office Tel no.: </p>
    <p class="col-md-4">Residential Address: </p>
    <p class="col-md-4">Town: Nairobi</p>
</div>

<div class="detail-group">
    <h4 class="col-md-12">Employment Details</h4>

    <p class="col-md-4">Employment: Employed </p>
    <p class="col-md-4">Details: </p>
    <p class="col-md-4">Sector: </p>
    <p class="col-md-4">Present Occupation:  </p>
    <p class="col-md-4">Employer Name: </p>
    <p class="col-md-4">Employer Address: 65441 Claudia Forge Apt. 635
North Lamont, SC</p>
    <p class="col-md-4">Preferred method of Contact: </p>
</div>            
            
            <div class = "detail-group">
                <h4 class = "col-md-12">Source of Funds</h4>

                <p class = "col-md-4">Source of Funds: Profits</p>

                <p class = "col-md-6">Details: Gampler</p>
            </div>

                            <div class = "detail-group">
                    <h4 class = "col-md-12">Investor Bank information</h4>

                    <p class = "col-md-4">Account name: 6261336527876</p>

                    <p class = "col-md-4">Account number: </p>

                    <p class = "col-md-4">Bank: Izaiah Stracke</p>

                    <p class = "col-md-4">Branch: Thelmastad</p>

                    <p class = "col-md-4">Clearing Code: </p>

                    <p class = "col-md-4">Swift code: </p>

                    <p class = "col-md-4">Email Indemnity: No</p>

                    <p class = "col-md-4">Terms
                        accepted: <i class="fa fa-check-square-o fa-2 text-success"></i></p>
                </div>
            
            <div class = "detail-group">
                <h4>Joint Holders</h4>
                                                    <a class = "btn btn-success" href = "/dashboard/investments/applications/347/joint">Add Joint Holder</a>
                            </div>


            <div class="detail-group">
                <h4>Contact Information</h4>

                <h5>Additional Email Addresses</h5>

                                    <p>No additional email saved</p><br/>
                
                                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#email-modal">
                        Add/Edit Email Addresses
                    </button>
                
                <h5>Contact Persons</h5>

                                    <p>No contact persons added</p><br/>
                

                                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#contact-modal">
                        Add a contact person
                    </button>
                
            </div>

            <!-- Invest application -->
                            <div class="detail-group">
                    <div class = "alert alert-warning"><p>This application has not been approved, it has to be approved before you can invest it</p></div>

                    <a href = "/dashboard/investments/applications/347/request"
                       class = "btn btn-success">Send Approval Request</a>
                </div>
            
                            <div class="detail-group">
                    <div class="col-md-12">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#remove-application">
                            Delete Application
                        </button>
                    </div>
                </div>
                    </div>
    </div>
                            </div>

                            <footer>
                                <div class="footer">
                                    <hr/>
                                    <div class="clearfix"></div>
                                    <div class="navbar-left padding-left-20">
                                        &copy 2017 Cytonn Investments
                                    </div>
                                    <div class="navbar-right padding-right-20">
                                        CRIMS
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
                    </div>
        <script src="http://www.cytonncrims.com/js/app.js"></script>

    </div>
<script>
    $("#flash-overlay-modal").modal();
    $('#myTabs a:first').tab('show');
    $('.avatar_img').initial();
</script>

</body>
</html>



<!-- AngularJS Global Templates  -->
<script type = "text/ng-template" id = "pagination.custom.html">
    <nav ng-if="pages.length >= 2">
        <ul class="pagination dmc-pagination">
            <li><a ng-click="selectPage(1)"><i class="fa fa-fast-backward"></i></a></li>
            <li><a ng-click="selectPage(currentPage - 1)"><i class="fa fa-chevron-left"></i></a></li>
            <li><a><page-select></page-select> of <% numPages %></a></li>
            <li><a ng-click="selectPage(currentPage + 1)"><i class="fa fa-chevron-right"></i></a></li>
            <li><a ng-click="selectPage(numPages)"><i class="fa fa-fast-forward"></i></a></li>
        </ul>
    </nav>
</script>