<div ng-view></div>
<script type = "text/ng-template" id = "deductions.htm">
    <div class = "modal fade">
        <div class = "modal-dialog">
            <div class = "modal-content">

                <div class = "modal-header no-bottom-border">
                    <button type = "button" class = "close margin-bottom-20" ng-click = "close(false)"
                            data-dismiss = "modal" aria-hidden = "true">&times;</button>
                    <h4 class = "modal-title">Confirm Investment Deduction</h4>
                </div>
                <div class = "modal-body">

                    <div class = "detail-group">
                        <p>Do you want to make the deduction with the details below??</p>
                        <table class = "table table-hover table-responsive table-striped">
                            <tbody>
                            <tr>
                                <td>Client Name</td>
                                <td>Sir Terrance Alfonso Cole Herzog</td>
                            </tr>
                            <tr>
                                <td>Investment Amount</td>
                                <td>10,000.00</td>
                            </tr>
                            <tr>
                                <td>Value date</td>
                                <td>Apr 29, 2017</td>
                            </tr>
                            <tr>
                                <td>Maturity date</td>
                                <td>Jul 29, 2017</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-center">Deduction</td>
                            </tr>
                            <tr>
                                <td>Deduction Amount</td>
                                <td><% amount | currency:"" %></td>
                            </tr>
                            <tr>
                                <td>Date</td>
                                <td><% date | date %></td>
                            </tr>
                            <tr>
                                <td>Narrative</td>
                                <td><% narrative %></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class = "detail-group">
                        <div class = "pull-right">
                            <form method="POST" action="http://www.cytonncrims.com/dashboard/investments/deductions/45" accept-charset="UTF-8"><input name="_token" type="hidden" value="6VwUyCA1TFMBJUDAEM0Kqib19hzgJOgNFBxQIvgJ">
                            <div style = "display: none !important;">
                                <input ng-model="narrative" name="narrative" type="text">
                                <input ng-model="date" name="date" type="text">
                                <input ng-model="amount" name="amount" type="text">
                            </div>
                            <button type = "button" ng-click = "close(false)" class = "btn btn-default"
                                    data-dismiss = "modal">No
                            </button>
                            <input class="btn btn-success" type="submit" value="Submit">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<!doctype html>
<html lang="en" ng-app="cytonn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/logo.ico?v=2" type="image/x-icon">
    <title> CRIMS | Investment Deductions </title>

    <script src="http://www.cytonncrims.com/assets/js/jquery.min.js"></script>

<script src="http://www.cytonncrims.com/assets/js/angular.min.js"></script>

<script src="http://www.cytonncrims.com/assets/js/bootstrap.min.js"></script>

<script src="http://www.cytonncrims.com/assets/js/dropdowns-enhancement.js"></script>

<script src="http://www.cytonncrims.com/assets/lib/allmighty-autocomplete/script/autocomplete.js"></script>

<script src="http://www.cytonncrims.com/assets/lib/angular-modal-service/angular-modal-service.min.js"></script>

<script src="http://www.cytonncrims.com/assets/lib/angular-smart-table/smart-table.min.js"></script>

<script src="http://www.cytonncrims.com/assets/lib/angular-animate/angular-animate.min.js"></script>

<script src="http://www.cytonncrims.com/assets/lib/ui-bootstrap/ui-bootstrap-custom-tpls-0.13.4.min.js"></script>

<script src="http://www.cytonncrims.com/assets/lib/ui-bootstrap-tpls-0.14.3.min.js"></script>

<script src="http://www.cytonncrims.com/assets/js/angular-local-storage.min.js"></script>

<script src="http://www.cytonncrims.com/assets/js/Chart.min.js"></script>

<script src="http://www.cytonncrims.com/assets/js/moment.js"></script>

<script src="http://www.cytonncrims.com/assets/js/angular-moment.min.js"></script>

<script src="http://www.cytonncrims.com/assets/js/angular-chart.min.js"></script>

<script src="http://www.cytonncrims.com/assets/lib/summernote/summernote.min.js"></script>

<script src="http://www.cytonncrims.com/assets/js/angular-summernote.min.js"></script>

<script src="http://www.cytonncrims.com/assets/js/angular-sanitize.min.js"></script>

<script src="http://www.cytonncrims.com/assets/js/dependencies.min.js"></script>

<script src="http://www.cytonncrims.com/assets/js/cytonn.min.js"></script>




<link media="all" type="text/css" rel="stylesheet" href="http://www.cytonncrims.com/assets/css/bootstrap.min.css">

<link media="all" type="text/css" rel="stylesheet" href="http://www.cytonncrims.com/assets/css/font-awesome.min.css">

<link media="all" type="text/css" rel="stylesheet" href="http://www.cytonncrims.com/assets/css/dropdowns-enhancement.css">

<link media="all" type="text/css" rel="stylesheet" href="http://www.cytonncrims.com/assets/css/main.css">

<link media="all" type="text/css" rel="stylesheet" href="http://www.cytonncrims.com/assets/lib/allmighty-autocomplete/style/autocomplete.css">

<link media="all" type="text/css" rel="stylesheet" href="http://www.cytonncrims.com/assets/css/angular-chart.min.css">

<link media="all" type="text/css" rel="stylesheet" href="http://www.cytonncrims.com/assets/lib/summernote/summernote.css">

    <noscript>
        <style>
            body *{display:none;}h3,p,a{display:block;text-align:center;}
        </style>
        <h3>JavaScript is not enabled, please check your browser settings.</h3>
        <p>CRIMS requires JavaScript to work correctly. Please contact support if you have issues.</p>
    </noscript>

</head>
<body ng-controller="pageCtrl">
    <div class="container-fluid" id="crims">
        <div class="row">
            <div class="col-md-12 no-print">
                <nav class="navbar navbar-default navbar-fixed-top topnav">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/assets/img/logo.svg" height="50px" alt="Cytonn Investments Management Limited"/>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="page-title margin-left-40"><a href="#">Investment Deductions</a></li>
            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                        <li ng-controller="FundManagerSelectCtrl" class="fund-manager-select"><select class="form-control" init-model="selected_fm_id" name="fund_manager"><option value="1" selected="selected">CIM</option></select></li>
                    <li class="dropdown"  ng-controller="UnreadNotificationsController">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">
                            <div>
                                <div class="icon-wrapper">
                                    <i class="fa fa-bell-o"></i>
                                    <span ng-bind="unread_count" class="badge"></span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right notifications bullet pull-right">
                            <li  ng-repeat = "notification in notifications" ng-if="!notification.permanent_read">
                                <a ng-href="<% notification.location %>"><% notification.content %></a>
                            </li>
                        </ul>
                    </li>

                    <!-- User details -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">zelma.howell <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right bullet pull-right">
                        <li role="separator" class="divider"></li>
                        <li><a href="/dashboard/profile"> <i class="fa fa-user"></i> Profile</a></li>
                        <li><a href="/logout"> <i class="fa fa-sign-out"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
                    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>            </div>
        </div>
        <div class="row padding-top-50">
                            <div class="no-print sidebar">
                    <div ng-class="sidebarminimised" class="hide sidebar-wrapper group" id="sidebar-wrapper" aria-expanded="true">
                        <!-- Collect the nav links, forms, and other content for toggling -->
<div class="navgroup" ng-controller="sideMenuCtrl">
    <div class="smallmenu">
        <ul class="nav navbar-nav side-nav clearfix" id="actions">
            <li popover-placement="right" uib-popover="Dashboard" popover-trigger="mouseenter">
                <a href="/dashboard"><i  ng-class="minimiseicon" class="nav-icon fa fa-fw fa-dashboard"></i> <span ng-class="minimiselabel"> Dashboard</span> </a>
            </li>

            
                        
            <li popover-placement="right" uib-popover="Cytonn Shares" popover-trigger="mouseenter">
                <a href="/dashboard/shares"><i  ng-class="minimiseicon" class="nav-icon fa fa-fw fa-buysellads"></i><span ng-class="minimiselabel">  Shares</span></a>
            </li>

            <li popover-placement="right" uib-popover="Real Estate" popover-trigger="mouseenter">
                <a href="/dashboard/realestate"><i  ng-class="minimiseicon" class="nav-icon fa fa-fw fa-building-o"></i><span ng-class="minimiselabel">  Real Estate</span></a>
            </li>

                                </ul>
    </div>


    <div class="bigmenu">
        <ul class="nav navbar-nav side-nav clearfix" id="actions">
            <li>
                <a href="/dashboard"><i  ng-class="minimiseicon" class="nav-icon fa fa-fw fa-dashboard"></i> <span ng-class="minimiselabel"> Dashboard</span> </a>
            </li>

            
            
                        <li>
                <a href="/dashboard/realestate"><i  ng-class="minimiseicon" class="nav-icon fa fa-fw fa-building-o"></i><span ng-class="minimiselabel">  Real Estate</span></a>
            </li>

                                    <li>

            </li>
        </ul>
    </div>
    <div class="sidebar-footer">
        <a href="#" class="sidebar-toggle" id="sidebar-toggle" ng-click="toggleSidebar($event)">
            <i ng-class="toggle_state"></i>
        </a>
    </div>
</div>
                    </div>
                </div>
                <div ng-class="contentsidebarminimised" class="content-wrapper" id="contentWrapper">
                    <div class="row content-wrapper-row">
                        <div class="col-md-12 content-wrapper-div">
                            <div ng-controller="loginCheckCtrl"></div>
                            <div class="content">
                                                                    <div class="panel-dashboard">
        <div class="col-md-6">
            <div class = "detail-group">
        <table class = "table table-hover">
        <tbody>
        <tr>
            <td>Investment ID</td>
            <td>45</td>
        </tr>
        <tr>
            <td>Client Code</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Sir Terrance Alfonso Cole Herzog</td>
        </tr>
        <tr>
            <td>Transaction approval</td>
            <td><a href="/dashboard/investments/approve/29">See approval details</a></td>
        </tr>
        <tr>
            <td>Principal</td>
            <td>10,000.00</td>
        </tr>
        <tr>
            <td>Net Interest</td>
            <td>0.00</td>
        </tr>
        <tr>
            <td>Amount Withdrawn</td>
            <td>0.00</td>
        </tr>
        <tr>
            <td>Value Today</td>
            <td>10,000.00</td>
        </tr>
        <tr>
            <td>Value on maturity</td>
            <td>10,381.45</td>
        </tr>
        <tr>
            <td>Investment Date</td>
            <td>Apr 29, 2017</td>
        </tr>
                    <tr>
                <td>On Call</td>
                <td>Yes</td>
            </tr>
                <tr>
            <td>Maturity Date</td>
            <td>Jul 29, 2017</td>
        </tr>
        <tr>
            <td>Interest rate</td>
            <td>18%
        </tr>
        <tr>
            <td>Interest payment frequency</td>
                        <td>                    On Maturity
                            </td>
        </tr>
                                                <tr>
                    <td>Schedule Status</td>
                    <td>No scheduled action</td>
                </tr>
                            <tr>
            <td>Status</td>
            <td><span class="label label-success">active</span></td>
        </tr>
                <tr>
            <td>Interest Action</td>
                            <td>Send to Bank (Default)</td>
            
        </tr>
        <tr>
            <td>Email Indemnity</td>
            <td>No</td>
        </tr>
        </tbody>
    </table>
</div>        </div>
        <div class="col-md-6">
            <div class="detail-group">
                <h4>Deductions</h4>
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr><th>Date</th><th>Narrative</th><th>Amount</th></tr>
                    </thead>
                    <tbody>
                                                <tr><th colspan="2">Total</th><th>0.00</th></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="detail-group" ng-controller="DeductionsController">
                <h4>Deduct from investment</h4>

                <form method="POST" action="http://www.cytonncrims.com/dashboard/investments/deductions/45" accept-charset="UTF-8" name="form" ng-submit="submit($event)"><input name="_token" type="hidden" value="6VwUyCA1TFMBJUDAEM0Kqib19hzgJOgNFBxQIvgJ">

                <div class="form-group">
                    <label for="amount">Amount to Deduct</label>

                    <input class="form-control" init-model="amount" required="required" name="amount" type="text" id="amount">

                    <span class="group"><p class="form-errors group"></p></span>
                </div>

                <div class="form-group">
                    <label for="date">Record Date</label>

                    <input class="form-control" date="date" datepicker-popup init-model="date" is-open="status.opened" ng-focus="open($event)" ng-required="true" name="date" type="text" id="date">

                    <span class="group"><p class="form-errors group"></p></span>
                </div>

                <div class="form-group">
                    <label for="narrative">Narrative</label>

                    <input class="form-control" init-model="narrative" required="required" name="narrative" type="text" id="narrative">

                    <span class="group"><p class="form-errors group"></p></span>
                </div>

                <input class="btn btn-success" type="submit" value="Save">

                </form>
            </div>
        </div>
    </div>
                            </div>

                            <footer>
                                <div class="footer">
                                    <hr/>
                                    <div class="clearfix"></div>
                                    <div class="navbar-left padding-left-20">
                                        &copy 2017 Cytonn Investments
                                    </div>
                                    <div class="navbar-right padding-right-20">
                                        CRIMS
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
                    </div>
        <script src="http://www.cytonncrims.com/js/app.js"></script>

    </div>
<script>
    $("#flash-overlay-modal").modal();
    $('#myTabs a:first').tab('show');
    $('.avatar_img').initial();
</script>

</body>
</html>



<!-- AngularJS Global Templates  -->
<script type = "text/ng-template" id = "pagination.custom.html">
    <nav ng-if="pages.length >= 2">
        <ul class="pagination dmc-pagination">
            <li><a ng-click="selectPage(1)"><i class="fa fa-fast-backward"></i></a></li>
            <li><a ng-click="selectPage(currentPage - 1)"><i class="fa fa-chevron-left"></i></a></li>
            <li><a><page-select></page-select> of <% numPages %></a></li>
            <li><a ng-click="selectPage(currentPage + 1)"><i class="fa fa-chevron-right"></i></a></li>
            <li><a ng-click="selectPage(numPages)"><i class="fa fa-fast-forward"></i></a></li>
        </ul>
    </nav>
</script>