<script>
    import sellUnitsMixins from './sell';
    import verify from '../../../../verify-action'

    export default {
        mixins: [sellUnitsMixins],

        components: {verify}
    }
</script>
<template>
    <div class="">
        <div v-show="step === 'form' ">
            <el-form ref="form" :model="sellUnitsForm" label-position="top" size="small" label-width="">
                <el-form-item label="Fund" v-loading="loadingClientFunds">
                    <el-select v-model="sellUnitsForm.unit_fund_id" placeholder="Select Trust Unit Fund" style="width: 100%">
                        <el-option v-for="f in funds" :key="f.id" :label="f.name" :value="f.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item  >
                    <label >No of Units: <strong v-show="selectedFund.ownedUnits">{{(selectedFund.calculate ? selectedFund.calculate.total : 0) | currency(null, 0)}}</strong>
                        <span  v-show="selectedFund.withdrawable_units">| Withdrawable Units</span> <strong v-show="selectedFund.withdrawable_units">{{(selectedFund.withdrawable_units - saleChargeForm.fee) | currency(null, 0)}}</strong>
                        <span  v-show="selectedFund.price">| Price per Unit Ksh</span> <strong v-show="selectedFund.price">{{selectedFund.price}}</strong>
                    </label>
                    <el-input type="number" v-model="sellUnitsForm.number"></el-input>
                </el-form-item>

                <div class="description" v-if="errors['number'] && showMaxMessage">
                    <div class="topup-investment-rate-info error-info">
                        {{errors['number'][0]}}
                    </div>
                </div>

                <div class="description" v-if="saleChargeForm.fee !== 0">
                    <div class="topup-investment-rate-info warning-info">
                        You will incur a transaction charge of <b>KES {{saleChargeForm.fee}}</b>
                    </div>
                </div>

                <div class="description" v-if="sellUnitsForm.number > selectedFund.withdrawable_units - saleChargeForm.fee">
                    <div class="topup-investment-rate-info error-info">
                        The units to be withdrawn are more than the <b>Withdrawable Units</b>.
                    </div>
                </div>

                <div class="description" v-if="showLockInMessage">
                    <div class="topup-investment-rate-info warning-info">
                        Please note that new funds are subject to {{selectedFund.lock_in_days}} days lock in period.
                    </div>
                </div>

                <el-form-item label="Select Account to Send the funds">
                    <el-select v-model="sellUnitsForm.account_id" placeholder="please select bank account" style="width: 100%;" clearable>
                        <el-option
                                v-for="bank in banks"
                                :label="bank.name"
                                :value="bank.id"
                                :key="bank.id">
                        </el-option>
                    </el-select>
                    <p class="form_errors" v-if="errors['bank']">{{errors['bank'][0]}}</p>
                </el-form-item>

                <div class="description" v-if="!maxMpesaAmount">
                    <div class="topup-investment-rate-info error-info">
                        The Maximum MPESA payment allowed is 70,000.
                    </div>
                </div>

                <div class="description" v-if="!selectedClient.kycValidated">
                    <div class="topup-investment-rate-info error-info">
                        Please update your KYC details to be able to make a sale instruction.
                    </div>
                </div>
                <br/>
                <el-form-item>
                    <el-tooltip class="item" effect="dark" content="Fill in valid inputs in all required fields (Units must be less than owned units)" placement="bottom-end" v-if="!canSellUnit">
                        <el-button  class="crims_action_button success disabled" >Sell Units</el-button>
                    </el-tooltip>

                    <el-button v-if="canSellUnit"  :disabled="confirmingSellUnits" class="crims_action_button success" @click="sell_units" >Sell Units</el-button>

                    <el-button class="crims_action_button default" @click="cancel">Cancel</el-button>
                </el-form-item>

            </el-form>
        </div>

        <div  v-show="step === 'confirm' ">
            <div class="confirm-top-up"
                 v-loading="submittingFundSales"
                 element-loading-text="Please wait as the Fund Sale information you provided is being submitted">

                <div class="description">
                    <h3>Fund</h3>
                    <p>{{selectedFund.shortname}}</p>
                </div>

                <div class="description">
                    <h3>Units Sold</h3>
                    <p>{{sellUnitsForm.number}} </p>
                </div>

                <div v-if="saleChargeForm.fee !== 0" class="description">
                    <h3>Withdrawal Fee</h3>
                    <p>{{saleChargeForm.fee}} </p>
                </div>

                <div class="description">
                    <h3>Date</h3>
                    <p>{{sellUnitsForm.date | date}} </p>
                </div>

                <div class="description">
                    <h3>Unit Price</h3>
                    <p>{{selectedFund.price}} </p>
                </div>

                <div class="description">
                    <h3>Bank</h3>
                    <p>{{ selectedBank }}</p>
                </div>

                <div class="description">
                    <div class="topup-investment-rate-info confirm-topup-info" >
                        You are Selling <strong>{{sellUnitsForm.number}}</strong> for <strong>Ksh. {{fund.price}} per unit.</strong>.
                    </div>
                </div>

                <div class="description last">
                    <el-button type="custom-success" @click="confirmTransaction">Submit</el-button>
                    <el-button class="crims_action_button default" @click="cancel">Cancel</el-button>
                </div>
            </div>
        </div>

        <div v-show="step === 'verify'">
            <div class="confirm-top-up">
                <verify v-on:tokenValidated="transValidated"></verify>
            </div>
        </div>

        <div v-show="step === 'success' ">
            <div class="topupSuccessful">
                <div class="message">
                    <h3>Fund sale details were submitted successfully. We will notify you after 24 hours and update the details accordingly. Thank you.  </h3>
                </div>
                <div class="icon">
                    <h1><i class="fa fa-check-circle" aria-hidden="true"></i></h1>
                </div>
            </div>
        </div>
    </div>
</template>
