<style lang="scss">
    .text-404 p{
        font-size: 30px;
        color: #bbb;
    }
    .text-404{
        margin-top: 40%;
        margin-bottom: 40%;
    }
    a{
        color: #a3cf5f;
    }
    a:hover{
        color: darken(#a3cf5f, 20%) !important;
    }
</style>

<script>

    export default {
        data: function () {
            return {

            };
        }
    }
</script>

<template>
    <div class="row align-center">
        <div class="small-centered small-12 md-6 medium-8 columns">
            <div class="text-404">
                <p>Sorry, we could not find that page.</p>

                <router-link :to="{name: 'home'}">Go back home <i class="fa fa-long-arrow-right"></i></router-link>
            </div>

            <div class="home_login">

            </div>
        </div>
    </div>
</template>