<script>
    import Vue from 'vue'
    import { mapGetters } from 'vuex'

    Vue.component('feedback-form', require('./feedback.vue'));

    export default {
        data() {
            return {
                currentYear: ''
            }
        },
        computed: {
            ...mapGetters({
                feedbackModal: 'feedbackModal'
            })
        },
        methods: {
            getCurrentYear() {
                this.currentYear = new Date().getFullYear();
            },
            openFeedbackModal() {
                event.preventDefault();
                this.$store.commit('feedbackModal', true);
            },
            closeModal() {
                event.preventDefault();
                this.$store.commit('feedbackModal', false);
            },
        },
        mounted() {
            this.getCurrentYear();
        }
    }
</script>

<template>
    <div class="row">
        <footer class="small-12 medium-12 columns">
            <hr/>
            <div class="row">
                <div class="small-12 medium-6 columns copyright">
                    <p>&copy {{ currentYear }} <a href="https://www.cytonn.com">Cytonn Investments</a>. All rights reserved </p>
                </div>
                <div class="small-12 medium-6 columns">
                    <div class="footer-links">
                        <ul>
                            <li><a href="https://cytonn.com/privacy-policy">Privacy policy</a></li>
                            <li><a href="https://cytonn.com/terms-of-use">Terms of use</a></li>
                            <li><a @click="openFeedbackModal()"><i class="fa fa-bullhorn"></i> Give feedback</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Feedback modal -->
        <el-dialog title="Feedback form" :visible.sync="feedbackModal" :before-close="closeModal">
            <feedback-form></feedback-form>
        </el-dialog>
    </div>
</template>
<style>
    footer {
        padding: 0 !important;
    }
    .footer-links ul li {
        list-style: none;
    }
    @media screen and (max-width:640px) {
        .copyright {
            text-align: center;
            border-bottom: 1px solid #eef;
            margin: 0px;
            padding-bottom: 10px;
        }
        .footer-links {
            margin: 0px;
        }
        .footer-links ul {
            margin: 0px;
        }
        .footer-links ul li {
            display: block;
            border-bottom: 1px solid #eef;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 5px;
        }
    }
    @media screen and (min-width:640px) {
        .footer-links {
            float: right;
        }
        .footer-links ul li {
            display: inline-flex;
            padding-right: 10px;
        }
    }

    .copyright p {
        color: rgba(88, 84, 84, 0.8);
    }

    .copyright a {
        color: rgba(88, 84, 84, 0.5);
    }
</style>