<script>
    import Vue from 'vue';
    Vue.component('loginForm', require('../../crims/auth/login/index'));

    export default {
        data: function () {
            return {

            };
        }
    }
</script>

<template>
    <div class="row align-center">
        <div class="small-centered small-12 md-6 medium-6 columns landing-section">
            <div class="cta_text_area">
                <p class="cta_text">Manage your investments online with ease</p>
            </div>

            <div class="home_login">
                <login-form></login-form>
            </div>
        </div>
    </div>
</template>
