<script>

    import Vue from 'vue';
    Vue.component('loginForm', require('../auth/login/index'));

    export default {
        data: function () {
            return {};
        }
    }
</script>

<template>
<div class="small-12 columns">
    <div class="row align-center">
        <div class="small-12 md-6 medium-6 columns">
            <login-form></login-form>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
</template>