<template id="id-of-template">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel-dashboard">
            <h3>
                Edit Unit Fund
                <span class="btn-grouul pull-right">
                    <router-link v-bind:to="{ name: 'unit-funds.index' }" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Back to Unit Funds</router-link>
                    <router-link v-bind:to="{ name: 'unit-funds.show', params: { id: item.id } }" class="btn btn-default"><i class="fa fa-eye"></i> Show Unit Fund</router-link>
                </span>
            </h3>

            <form v-on:submit.prevent="updateUnitFund(item)">
                <div class="form-group">
                    <label>Fund Name</label>
                    <input type="text" name="name" class="form-control" placeholder="Fund name..." v-model="item.name" required>
                    <ul v-if="formErrorsUpdate['name']" class="text-danger">
                        <li v-for="message in formErrorsUpdate['name']" v-text="message"></li>
                    </ul>
                </div>

                <div class="form-group">
                    <label>Initial Unit Price</label>
                    <input type="number" step="0.01" name="initial_unit_price" class="form-control" placeholder="Initial unit price..." v-model="item.initial_unit_price" required>
                    <ul v-if="formErrorsUpdate['initial_unit_price']" class="text-danger">
                        <li v-for="message in formErrorsUpdate['initial_unit_price']" v-text="message"></li>
                    </ul>
                </div>

                <div class="form-group">
                    <label>Minimum Investment Amount</label>
                    <input type="number" name="minimum_investment_amount" class="form-control" placeholder="Minimum investment amount..." v-model="item.minimum_investment_amount" required>
                    <ul v-if="formErrorsUpdate['minimum_investment_amount']" class="text-danger">
                        <li v-for="message in formErrorsUpdate['minimum_investment_amount']" v-text="message"></li>
                    </ul>
                </div>

                <div class="form-group">
                    <label>Minimum Investment Horizon (days)</label>
                    <input type="number" name="name" class="form-control" placeholder="Minimum investment horizon..." v-model="item.minimum_investment_horizon" required>
                    <ul v-if="formErrorsUpdate['minimum_investment_horizon']" class="text-danger">
                        <li v-for="message in formErrorsUpdate['minimum_investment_horizon']" v-text="message"></li>
                    </ul>
                </div>

                <div class="form-group">
                    <label>Fund Objectives</label>
                    <textarea name="fund_objectives" class="form-control" placeholder="Fund objectives..." v-model="item.fund_objectives" required></textarea>
                    <ul v-if="formErrorsUpdate['fund_objectives']" class="text-danger">
                        <li v-for="message in formErrorsUpdate['fund_objectives']" v-text="message"></li>
                    </ul>
                </div>

                <div class="form-group">
                    <label>Fund Benefits</label>
                    <textarea name="benefits" class="form-control" placeholder="Fund benefits..." v-model="item.benefits" required></textarea>
                    <ul v-if="formErrorsUpdate['benefits']" class="text-danger">
                        <li v-for="message in formErrorsUpdate['benefits']" v-text="message"></li>
                    </ul>
                </div>

                <div class="form-group">
                    <label>Currency  </label>
                    <select class="form-control" v-model="item.currency_id">
                        <option v-for="currency in currencies" v-bind:value="currency.value" v-text="currency.label"></option>
                    </select>
                    <ul v-if="formErrorsUpdate['currency_id']" class="text-danger">
                        <li v-for="message in formErrorsUpdate['currency_id']" v-text="message"></li>
                    </ul>
                </div>

                <div class="form-group">
                    <label>Fund Manager  </label>
                    <select class="form-control" v-model="item.fund_manager_id">
                        <option v-for="manager in managers" v-bind:value="manager.value" v-text="manager.label"></option>
                    </select>
                    <ul v-if="formErrorsUpdate['fund_manager_id']" class="text-danger">
                        <li v-for="message in formErrorsUpdate['fund_manager_id']" v-text="message"></li>
                    </ul>
                </div>

                <div class="form-group">
                    <label>Custodial Account <i class="fa fa-spinner fa-spin" v-show="loadingCustodialAccounts"></i>  </label>
                    <select class="form-control" v-model="item.custodial_account_id">
                        <option v-for="account in accounts" v-bind:value="account.value" v-text="account.label"></option>
                    </select>
                    <ul v-if="formErrorsUpdate['custodial_account_id']" class="text-danger">
                        <li v-for="message in formErrorsUpdate['custodial_account_id']" v-text="message"></li>
                    </ul>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Update <i class="fa fa-spinner fa-spin" v-if="loading"></i> </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script type="text/babel">

    export default {

        data() {
            return {
                loading: false,
                loadingCustodialAccounts: false,
                url: '',
                formErrorsUpdate: {},
                item: {
                    id: null,
                    name: '',
                    initial_unit_price: '',
                    minimum_investment_amount: '',
                    fund_objectives: '',
                    minimum_investment_horizon: '',
                    benefits: '',
                    currency_id: null,
                    fund_manager_id: null,
                    custodial_account_id: null,
                },
                currencies: [],
                managers: [],
                accounts: [],
            }
        },

        mounted: function() {
            let id = this.$route.params.id;

            this.url = `/api/unitization/unit-funds/${id}`;

            this.getUnitFund();
            this.getCurrencies();
            this.getFundManagers();
        },

        watch: {
            "item.fund_manager_id": {
                handler: function () {
                    this.getCustodialAccounts(this.item.fund_manager_id);
                }
            }
        },

        methods: {

            getCustodialAccounts: function(fundManagerId) {
                this.loadingCustodialAccounts = true;
                axios.get(`/api/fund-managers/${fundManagerId}/custodial-accounts-list`)
                    .then((response) => {
                        this.loadingCustodialAccounts = false;
                        if (response.status == 200) {

                            let data = response.data;

                            if (data.fetched) {
                                this.$set(this, 'accounts', data.data);
                            }
                            else {
                                flash('Could not fetch list of custodial accounts', 'danger');
                            }
                        }
                    }, (response) => {
                        this.loadingCustodialAccounts = false;
                        flash('Oops! Something went wrong', 'danger');
                    });
            },

            getCurrencies: function() {

                axios.get('/api/currencies-list')
                    .then((response) => {
                        if (response.status == 200) {

                            let data = response.data;

                            if (data.fetched) {
                                this.$set(this, 'currencies', data.data);
                            }
                            else {
                                flash('Could not fetch list of currencies', 'danger');
                            }
                        }
                    }, (response) => {
                        flash('Oops! Something went wrong', 'danger');
                    });
            },

            getFundManagers: function() {

                axios.get('/api/fund-managers-list')
                    .then((response) => {
                        if (response.status == 200) {

                            let data = response.data;

                            if (data.fetched) {
                                this.$set(this, 'managers', data.data);
                            }
                            else {
                                flash('Could not fetch list of fund managers', 'danger');
                            }
                        }
                    }, (response) => {
                        flash('Oops! Something went wrong', 'danger');
                    });
            },

            getUnitFund: function() {
                axios.get(this.url)
                    .then((response) => {
                        if(response.status == 200) {

                            var data = response.data;

                            if(data.fetched) {
                                this.$set(this, 'item', data.data);
                            }
                            else {
                                flash('Could not fetch requested unit fund', 'danger');
                                this.$router.push({ name: 'unit-funds.index' });
                            }
                        }
                    }, (response) => {
                        flash('Oops! Something went wrong!', 'danger');
                        this.$router.push({ name: 'unit-funds.index' });
                    });
            },

            updateUnitFund: function(item) {
                this.loading = true;

                let input = item;

                axios.put(this.url, input).then((response) => {
                    this.loading = false;

                    let data = response.data;

                    if(response.status == 202) {
                        this.success();
                    }
                    else if(response.data.status == 422) {
                        this.throwValidationError(data);
                    }
                }, (response) => {
                    this.loading = false;
                    flash('Oops! Something went wrong', 'danger');
                    this.formErrorsUpdate = response.data;
                });
            },

            success: function() {
                flash('Request to update the unit fund has been saved for approval.', 'info');
                this.$router.push({ name: 'unit-funds.index' });
            },

            throwValidationError: function(data) {
                flash('Unit fund failed to save.', 'danger');

                this.formErrorsUpdate = data.errors;
            }
        }
    }
</script>