<script type="text/babel">

    import Vue from 'vue';
    import vueTableMixin from '../../../mixins/vuetable_mixin';
    import { mapGetters } from 'vuex';

    Vue.component('new-unit-fund', require('./create'));

    export default {

        mixins: [vueTableMixin],

        data() {
            return {
                url: '/api/unitization/unit-funds',
                fields: [
                    { name: 'id', title: 'ID', sortField: 'id' },
                    { name: 'name', sortField: 'name' },
                    { name: 'initialUnitPrice', title: 'Initial Unit Price', sortField: 'initialUnitPrice' },
                    { name: 'currentUnitPrice', title: 'Current Unit Price', sortField: 'currentUnitPrice' },
                    { name: 'minimumInvestmentAmount', title: 'Minimum Amount', sortField: 'minimumInvestmentAmount' },
                    { name: 'minimumInvestmentHorizon', title: 'Investment Horizon (months)', sortField: 'minimumInvestmentHorizon' },
                    { name: 'currency', title: 'Currency' },
                    { name: 'fundManager', title: 'Fund Manager' },
                    { name: '__view_action', title: 'View', titleClass: 'text-center', dataClass: 'text-center' },
                    { name: '__edit_action', title: 'Edit', titleClass: 'text-center', dataClass: 'text-center' },
                ],
                tableState: {
                },
                promise: true
            }
        },

        computed: {
            ...mapGetters({
                newFundModal: 'newFundModal'
            })
        },

        methods: {
            addUnitFund: function () {
                this.$store.commit('CREATE_FUND_MODAL',true);
            }
        }
    }
</script>

<template id="list-unit-funds">
    <div class="col-md-12">
        <div class="panel-dashboard">
            <h3>
                Unit Funds Management
                <div class="btn-group pull-right">
                    <!--<el-button @click="addUnitFund"></el-button>-->
                    <button class="btn btn-primary" @click="addUnitFund"><i class="fa fa-plus-square-o"></i> Add Unit Fund</button>
                    <router-link v-bind:to="{ name: 'unit-fund-fee-types.index' }" class="btn btn-default"><i class="fa fa-linode"></i> Fund Fee Types</router-link>
                    <router-link v-bind:to="{ name: 'unit-fund-fee-parameters.index' }" class="btn btn-default"><i class="fa fa-cubes"></i> Fund Fee Parameters</router-link>
                    <router-link v-bind:to="{ name: 'unit-fund-switches.index' }" class="btn btn-default"><i class="fa fa-sign-out"></i> Fund Switches</router-link>
                </div>
            </h3>


            <div class="col-md-6 pull-right">
                <search-bar :search-label='"Search unit fund..."'></search-bar>
            </div>

            <div class="crims_table">
                <vuetable ref="vuetable"
                          :api-url="url"
                          :fields="fields"
                          pagination-path=""
                          @vuetable:pagination-data="onPaginationData"
                          :append-params="tableState"
                          :per-page="itemsPerPage"
                >
                </vuetable>

                <div class="vuetable-pagination ui basic segment grid crims_pagination">
                    <table>
                        <tfoot>
                            <tr>
                                <td class="text-center" width="50%">
                                    <div class="inline-block" style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                        <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                        <select style="width: 100px" class="form-control" v-model="itemsPerPage" @change="changePerPage">
                                            <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <vuetable-pagination-info ref="paginationInfo">
                                    </vuetable-pagination-info>
                                    <vuetable-pagination ref="pagination"
                                                         @vuetable-pagination:change-page="onChangePage"
                                    ></vuetable-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <el-dialog
                title = "Add Unit Fund"
                :visible.sync="newFundModal"
                width="30%"
                :show-close="false">
                <span>
                    <new-unit-fund></new-unit-fund>
                </span>
        </el-dialog>
    </div>
</template>