<script type="text/babel">

    import { mapGetters } from 'vuex';
    import Vue from 'vue';

    Vue.component('calculator-modal', require('../unitfundcalculator/index.vue'));
    Vue.component('interest-bulk-payment', require('../unitfundholders/interest/bulk.vue'));

    export default {

        data() {
            return {
                loading: false,
                url: '',
                item: {
                    id: null,
                    name: '',
                    initial_unit_price: '',
                    minimum_investment_amount: '',
                    fund_objectives: '',
                    minimum_investment_horizon: '',
                    benefits: '',
                    currency: {},
                    manager: {},
                    fundId: ''
                }
            }
        },

        computed: {
            ...mapGetters({
                calculator: 'calculatorModal',
                bulk_payment: 'bulk_payment',
            })
        },

        mounted: function() {
            let id = this.$route.params.id;

            this.fundId = id;

            this.url = `/api/unitization/unit-funds/${id}`;

            this.getUnitFund();
        },

        methods: {
            getUnitFund: function() {

                axios.get(this.url)
                    .then((response) => {
                        if(response.status === 200) {

                            let data = response.data;

                            if(data.fetched) {
                                this.$set(this, 'item', data.data);
                            }
                            else {
                                flash('Could not fetch requested unit fund', 'danger');
                                this.$router.push({ name: 'unit-funds.index' });
                            }
                        }
                    }, (response) => {
                        flash('Oops! Something went wrong', 'danger');
                        this.$router.push({ name: 'unit-funds.index' });
                    });
            },

            viewCalculator: function () {
                this.$store.commit('OPEN_CALCULATOR_MODAL', true);
            },

            bulkPayment() {
                this.$store.commit('BULK_INTEREST_PAYMENT_MODAL', true);
            }
        }
    }   
</script>

<template id="id-of-template">
    <div class="col-md-12" v-cloak>
        <div class="panel-dashboard">
            <h3 class="red">
                Unit Fund Details
                <div class="btn-group pull-right">
                    <router-link v-bind:to="{ name: 'unit-funds.index' }" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Back to Unit Funds</router-link>
                    <router-link v-bind:to="{ name: 'unit-funds.edit', params: { id: item.id } }" class="btn btn-default"><i class="fa fa-pencil-square-o"></i> Edit Unit Fund</router-link>
                    <router-link v-bind:to="{ name: 'unit-fund-holders.index', params: { fid: item.id } }" class="btn btn-info">
                        <i class="fa fa-users"></i>
                        Fund Clients
                    </router-link>
                </div>
            </h3>
            <table class = "table table-hover">
                <tbody>
                    <tr>
                        <td width="30%">ID</td>
                        <td>{{ item.id }}</td>
                    </tr>
                    <tr>
                        <td>Fund Name</td>
                        <td>{{ item.name }}</td>
                    </tr>
                    <tr>
                        <td>Fund Manager</td>
                        <td>{{ item.fundManager }}</td>
                    </tr>
                    <tr>
                        <td>Currency</td>
                        <td>{{ item.currency }}</td>
                    </tr>
                    <tr>
                        <td>Current Unit Price</td>
                        <td>{{ item.currentUnitPrice | currency }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="btn-group">
                                <router-link v-bind:to="{ name: 'unit-fund-price-trails.index', params: { fid: item.id } }" class="btn btn-default">
                                    <i class="fa fa-line-chart"></i>
                                    Price Trail
                                </router-link>

                                <a :href="'/dashboard/portfolio/fund-pricing-summary/' + item.id" class="btn btn-primary">
                                    <i class="fa fa-line-chart"></i>
                                    Fund Pricing Summary
                                </a>
                                <el-button @click="viewCalculator" class="btn btn-info" size="small"><i class="fa fa-calculator"></i> Fund Calculator </el-button>
                                <!--<router-link v-bind:to="{ name: 'unit-fund-claculator.index' }" class="btn btn-primary">-->
                                    <!--<i class="fa fa-calculator"></i>-->
                                    <!--Fund Calculator-->
                                <!--</router-link>-->
                                <router-link v-bind:to="{ name: 'unit-fund-fee-payments.index', params: { fid: item.id } }" class="btn btn-success">
                                    <i class="fa fa-eur"></i>
                                    Fee Payments
                                </router-link>
                                <!--<router-link v-bind:to="{ name: 'unit-fund-switch-rates.index', params: { fid: item.id } }" class="btn btn-default">-->
                                    <!--<i class="fa fa-yen"></i>-->
                                    <!--Switch Rates-->
                                <!--</router-link>-->
                            </div>


                            <div class="btn-group">
                                <router-link v-bind:to="{ name: 'unit-fund-holder-fees.index', params: { fid: item.id } }" class="btn btn-success">
                                    <i class="fa fa-dollar"></i>
                                    Charged Fees
                                </router-link>
                                <router-link v-bind:to="{ name: 'unit-fund-fees.index', params: { fid: item.id } }" class="btn btn-primary">
                                    <i class="fa fa-money"></i>
                                    Fund Fees
                                </router-link>
                                <router-link v-bind:to="{ name: 'unit-fund-commission-rates.index', params: { fid: item.id } }" class="btn btn-info">
                                    <i class="fa fa-bar-chart-o"></i>
                                    Commission Rates
                                </router-link>
                                <router-link v-bind:to="{ name: 'unit-fund-statement-campaigns.index', params: { id: fundId} }" class="btn btn-primary">
                                    <i class="fa fa-envelope-o"></i>
                                    Statement Campaigns
                                </router-link>
                                <router-link v-bind:to="{ name: 'unit-fund-compliance.index', params: { fid: fundId} }" class="btn btn-primary">
                                    <i class="fa fa-adn"></i>
                                    Fund Compliance
                                </router-link>

                                <button class="btn btn-info" @click="bulkPayment" role="button"><i class="fa fa-sign-in"></i> Interest Bulk Payment</button>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <el-dialog
                title = ""
                :visible.sync="calculator"
                width="30%"
                :show-close="false">
                <span>
                    <calculator-modal></calculator-modal>
                </span>
        </el-dialog>

        <el-dialog
                title = ""
                :visible.sync="bulk_payment"
                width="30%"
                :show-close="false">
                <span>
                    <interest-bulk-payment></interest-bulk-payment>
                </span>
        </el-dialog>
    </div>
</template>