<template id="list-counties">
    <div class="col-md-12">
        <div class="panel-dashboard">
            <h3>Unit Fund Business Confirmations Management</h3>

            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-3">
                    <search-bar :search-label='"Search business confirmations..."'></search-bar>
                </div>
                <div class="col-md-3">
                    <el-select v-model="confirmation" placeholder="Select" clearable style="width:100%">
                        <el-option
                                v-for="item in options"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </div>
            </div>

            <div class="crims_table">
                <vuetable ref="vuetable"
                          :api-url="url"
                          :fields="fields"
                          pagination-path=""
                          @vuetable:pagination-data="onPaginationData"
                          :append-params="tableState"
                          :per-page="itemsPerPage"
                >
                </vuetable>

                <div class="vuetable-pagination ui basic segment grid crims_pagination">
                    <table>
                        <tfoot>
                        <tr>
                            <td class="text-center" style="width:50%">
                                <div class="inline-block"
                                     style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                    <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                    <select style="width: 100px" class="form-control" v-model="itemsPerPage"
                                            @change="changePerPage">
                                        <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}
                                        </option>
                                    </select>
                                </div>
                            </td>

                            <td class="text-center">
                                <vuetable-pagination-info ref="paginationInfo">
                                </vuetable-pagination-info>
                                <vuetable-pagination ref="pagination"
                                                     @vuetable-pagination:change-page="onChangePage"
                                ></vuetable-pagination>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import vueTableMixin from '../../../mixins/vuetable_mixin';

    export default {

        mixins: [vueTableMixin],

        data() {
            return {
                url: '',
                fundId: null,
                fields: [
                    {name: 'id', title: 'ID', sortField: 'id'},
                    {name: 'client', title: 'Client'},
                    {name: 'client_code', title: 'Client Code'},
                    {name: 'feesIncurred', title: 'Fees Incurred'},
                    {name: 'numberOfUnits', title: 'Number of Units'},
                    {name: 'unitPrice', title: 'Unit Price'},
                    {name: 'date', title: 'Date', sortField: 'date'},
                    {name: 'confirmation', title: 'Confirmation'},
                    {name: '__view_action', title: 'View', titleClass: 'text-center', dataClass: 'text-center'},
                ],
                tableState: {},
                promise: true,
                confirmation: 'All Forms',
                options: [{
                    value: 1,
                    label: 'Sent'
                }, {
                    value: "null",
                    label: 'Not Sent'
                }]
            }
        },

        watch: {
            confirmation: {
                handler: function () {
                   this.filter();
                }
            }
        },

        created: function () {
            this.url = '/api/unitization/unit-fund-business-confirmations';
        },

        methods: {
            filter(){
                this.$events.fire('filter-sent', {'id': this.tableId, 'data': this.confirmation});
            }
        }
    }
</script>