<script>
    import { Message } from 'element-ui';

    export default {

        data() {
            return {
                loading: false,
                url: '',
                fundId: null,
                purchase: {},
                client: {},
            }
        },

        created: function() {
            this.purchase.id = this.$route.params.id;

            this.url = `/api/unitization/unit-fund-business-confirmations/${this.purchase.id}`;

            this.businessConfirmation();
        },

        methods: {
            businessConfirmation: function() {

                axios.get(this.url)
                    .then(({ data }) => {
                        if(data.status == 200) {

                            this.purchase = data.purchase;
                            this.client = data.client;
                            this.fund = data.fund;

                        } else {
                            flash('Could not fetch requested unit fund business confirmations', 'danger');
                            this.$router.push({ name: 'unit-fund-business-confirmations.index' });
                        }
                    }, (response) => {
                        flash('Oops! Something went wrong', 'danger');
                        this.$router.push({ name: 'unit-fund-business-confirmations.index' });
                    });
            },

            sendConfirmation: function () {
                this.loading = true;
                axios.post(`/api/unitization/unit-fund-business-confirmations/${this.purchase.id}/send`)
                    .then(() => {

                        this.loading = false;

                        Message.success({ message: 'The business confirmation has been successfully sent to the unit fund client'});

                        this.businessConfirmation();

                    }, (response) => {

                        this.removeModal('#confirmBCResend');

                        this.loading = false;

                        Message.warning({ message: 'Oops! Something went wrong' });
                    });
            },

            removeModal: function(id) {
                $(id).modal('hide');
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            }
        }
    }
</script>

<template id="id-of-template" v-cloak>
    <div class="col-md-12">
        <div class="panel-dashboard">
            <h3>
                Unit Fund Business Confirmation Details
                <div class="btn-group pull-right">
                    <router-link v-bind:to="{ name: 'unit-fund-business-confirmations.index' }" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Back to BCs</router-link>
                </div>
            </h3>
            <table class = "table table-hover">
                <tbody>
                    <tr>
                        <td width="30%">ID</td>
                        <td>{{ purchase.id }}</td>
                    </tr>
                    <tr>
                        <td>Client Code</td>
                        <td>{{ client.client_code}}</td>

                    </tr>
                    <tr>
                        <td>Client Name</td>
                        <td>{{ client.name }}</td>
                    </tr>
                    <tr>
                        <td>Fund Name</td>
                        <td>{{ fund.name }}</td>
                    </tr>
                    <tr>
                        <td>No. of Units</td>
                        <td>{{ purchase.number | currency('', 0) }}</td>
                    </tr>

                    <tr>
                        <td>Amount</td>
                        <td>{{ purchase.amount | currency('', 0) }}</td>
                    </tr>

                    <tr>
                        <td>Unit Price</td>
                        <td>{{ purchase.unit_price | currency }}</td>
                    </tr>
                    <tr>
                        <td>Fees Incurred</td>
                        <td>{{ purchase.fees_incurred | currency }}</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>{{ purchase.date | formatDate }}</td>
                    </tr>
                    <tr>
                        <td>Sent</td>
                        <td>{{ purchase.is_confirmation_sent | booleanYesNo }}</td>
                    </tr>
                    <tr>
                        <td>Actions</td>
                        <td>
                            <div class="btn-group">

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="panel panel-success">
            <div class="panel-heading">
                <h4>Unitization Business confirmation</h4>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th>No. of Units</th>
                            <th>Unit Price</th>
                            <th>Fees Incurred</th>
                            <th>Total</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ purchase.number | currency('', 0) }}</td>
                            <td>{{ purchase.unit_price | currency }}</td>
                            <td>{{ purchase.fees_incurred | currency }}</td>
                            <td>{{ (purchase.fees_incurred + (purchase.number * purchase.unit_price)) | currency }}</td>
                            <td>{{ purchase.date | formatDate }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="btn-group">
                    <a class="btn btn-primary" :href="'/api/unitization/unit-fund-business-confirmations/' + purchase.id + '/preview'"><i class="fa fa-file-pdf-o"></i> Preview Confirmation</a>
                    <a class="btn btn-danger" data-toggle="modal" data-target="#confirmBCResend" v-if="purchase.is_confirmation_sent"><i class="fa fa-envelope"></i> Resend Confirmation</a>
                    <button class="btn btn-success" @click="sendConfirmation()" v-else><i class="fa fa-paper-plane-o"></i> Send Confirmation <i class="fa fa-spinner fa-spin" v-if="loading"></i> </button>
                </div>
            </div>
        </div>

        <div class="modal fade" id="confirmBCResend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Resend Business Confirmation</h4>
                    </div>
                    <div class="modal-body">
                        <p>This business confirmation has already been sent. Are you sure that you want to resend it?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" @click="sendConfirmation()"><i class="fa fa-paper-plane-o"></i> Resend <i class="fa fa-spinner fa-spin" v-if="loading"></i> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>