<script>
    import {mapGetters} from 'vuex'

    export default {
        data() {
            return {
                payment_history: 1,
                payment_schedule: 1,
                makePaymentDrawer: false,
            }
        },

        computed: {
            ...mapGetters({
                unitDetails: 'unitDetails',
                fetchingRESummary: 'fetchingRESummary',
                paymentSchedules: 'paymentSchedules',
                payments: 'payments',
                selectedClient: 'selectedClient'
            })
        },

        methods: {
            fetchUnitDetails: function () {
                this.$store.commit('GET_UNIT_DETAILS', this.$route.params.id);
            },

            fetchUnitPaymentSchedule: function () {
                this.$store.commit('GET_UNIT_PAYMENT_SCHEDULES', this.$route.params.id);
            },

            fetchPayments: function () {
                let data = {
                    'clientId': this.selectedClient.id,
                    'uploadStatus': ''
                };

                this.$store.commit('GET_UNIT_PAYMENTS', data);
            },

            makePayment: function () {
                this.makePaymentDrawer = true;
            },

            viewPayments: function () {
                this.$router.push({name: 'investments.RePayments'});
            },

            checkData() {
                if (!this.selectedClient.hasRE) {
                    this.$router.push({
                        path: '/home'
                    });
                }
            },

            totalSchedules() {
                if (this.paymentSchedules) {
                    return this.paymentSchedules.reduce((val, red) => {
                        return parseFloat(val) + parseFloat(red.total_amount);
                    }, 0);
                }
            },

            totalHistory() {
                if (this.unitDetails.payments) {
                    return this.unitDetails.payments.reduce((val, red) => {
                        return parseFloat(val) + parseFloat(red.amount);
                    }, 0);
                }
            }

        },
        mounted() {
            this.fetchUnitDetails();
            this.fetchUnitPaymentSchedule();
            this.fetchPayments();
            this.checkData();
        }
    }
</script>

<template>
    <div class="crims-page investment-details">
        <breadcrumb>
            <h3>
                <router-link :to="{name: 'main'}">Dashboard</router-link>
                |&nbsp;
                <router-link :to="{name: 'investments.REList'}">Real Estate</router-link>
                <span>{{unitDetails.project}} - {{unitDetails.unit_name}}</span>
            </h3>
        </breadcrumb>

        <div class="investment-details-table-section small-12 medium-12">
            <el-container>
                <el-header class="investment-details-table-section-header grid-x">
                    <div class="head-left medium-4">
                        <h3>{{unitDetails.project}} - {{unitDetails.unit_name}}</h3>
                    </div>
                    <div class="head-right medium-8">
                        <div v-if="payments.length > 0">
                         <span>
                             <el-button type="investment-action-button"
                                        @click="viewPayments">
                                 <span>View Payments</span>
                             </el-button>
                        </span>
                        </div>

                        <div>
                         <span>
                             <el-button type="investment-action-button"
                                        @click="makePayment">
                                 <span>Make Payment</span>
                             </el-button>
                        </span>
                        </div>
                    </div>
                </el-header>
                <el-main class="investment-details-table-section-body">
                    <div class="crims-table-area table_scroll">
                        <table class="crims-table">
                            <thead class="crims-table-head">
                            <tr>
                                <th>Unit</th>
                                <th> Topology</th>
                                <th> Unit Price (KES)</th>
                                <th> Reservation Date</th>
                                <th> Total Paid (KES)</th>
                                <th> Balance (KES)</th>
                                <th> Interest Accrued (KES)</th>
                                <th> Payment Plan</th>
                                <th> Next Payment (KES)</th>
                                <th> Status</th>
                            </tr>
                            </thead>

                            <tbody v-if="fetchingRESummary">
                            <tr>
                                <td colspan="9">
                                    <table-holder></table-holder>
                                </td>
                            </tr>
                            </tbody>

                            <tbody v-else class="crims-table-body">
                            <tr v-if="unitDetails=={}">
                                <td colspan="9">
                                    <span>Data not found. You don't have permission to view this page's data. </span>
                                </td>
                            </tr>
                            <tr v-else>
                                <td>{{unitDetails.unit_name}}</td>
                                <td>{{unitDetails.unit_size}}</td>
                                <td>{{unitDetails.unit_price}}</td>
                                <td>{{unitDetails.reservation_date }}</td>
                                <td>{{unitDetails.total_paid}}</td>
                                <td>{{unitDetails.outstanding_balance}}</td>
                                <td>{{unitDetails.interest}}</td>

                                <td>
                                    <span v-if="unitDetails.payment_plan"> {{ unitDetails.payment_plan }}</span>
                                    <span v-else><el-tag type="success" size="small">No payment plan</el-tag></span>
                                </td>

                                <td>
                                        <span v-if="unitDetails.next_payment_date">
                                            {{ unitDetails.next_payment_date | date }} - {{ unitDetails.next_payment_amount }}
                                        </span>

                                    <!--<span v-else>-->
                                    <!--<el-tag type="success" size="small">No pending payment</el-tag>-->
                                    <!--</span>-->
                                </td>

                                <td>
                                        <span v-if="unitDetails.balance > 0 && !unitDetails.next_payment_date">
                                            <el-tag type="danger" size="small">Overdue</el-tag>
                                        </span>

                                    <span v-else>
                                            <el-tag type="success" size="small">On schedule</el-tag>
                                        </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </el-main>
            </el-container>
        </div>

        <div class="drawers">
            <action-drawer title="Make-Payment" :visible.sync="makePaymentDrawer">
                <make-payment></make-payment>
            </action-drawer>
        </div>

        <div class="recent-activities">
            <div class="grid-x">

                <div class=" small-12 medium-6">
                    <div class="investment-details-table-section sub-details small-12 medium-11"
                         v-if="payment_schedule > 0">
                        <el-container v-loading="fetchingRESummary"
                                      element-loading-spinner="fa fa-spinner fa-pulse fa-3x fa-fw">
                            <el-header class="investment-details-table-section-header">
                                <h3>Payment Schedule</h3>
                            </el-header>
                            <el-main class="investment-details-table-section-body">
                                <div class="crims-table-area">
                                    <table class="crims-table">
                                        <thead class="crims-table-head">
                                        <tr>
                                            <th> Date</th>
                                            <th> Payment Type</th>
                                            <th> Description</th>
                                            <th> Amount (KES)</th>
                                            <th> Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="schedule in paymentSchedules">
                                            <td>{{schedule.date}}</td>
                                            <td>{{schedule.type}}</td>
                                            <td>{{schedule.description}}</td>
                                            <td>{{schedule.amount | currency(null, 0)}}</td>
                                            <td v-if="schedule.status">
                                                <el-tag type="success" size="mini">Paid</el-tag>
                                            </td>
                                            <td v-else>
                                                <el-tag type="info" size="mini">Pending</el-tag>
                                            </td>
                                        </tr>

                                        </tbody>

                                        <thead>
                                        <tr>
                                            <th colspan="3">Totals</th>
                                            <th>{{ totalSchedules() | currency(null, 0) }}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </el-main>
                        </el-container>
                    </div>
                </div>

                <div class=" small-12 medium-6">
                    <div class="investment-details-table-section sub-details small-12 medium-12"
                         v-if="payment_history > 0">
                        <el-container v-loading="fetchingRESummary"
                                      element-loading-spinner="fa fa-spinner fa-pulse fa-3x fa-fw">
                            <el-header class="investment-details-table-section-header">
                                <h3>Payment History</h3>
                            </el-header>
                            <el-main class="investment-details-table-section-body">
                                <div class="crims-table-area">
                                    <table class="crims-table">
                                        <thead class="crims-table-head">
                                        <tr>
                                            <th> Description</th>
                                            <th> Amount (KES)</th>
                                            <th> Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="payment in unitDetails.payments">
                                            <td>{{ payment.payment }}</td>
                                            <td>{{ payment.amount | currency(null, 0)}}</td>
                                            <td>{{ payment.date.date | date}}</td>
                                        </tr>

                                        </tbody>
                                        <thead>
                                        <tr>
                                            <th>Totals</th>
                                            <th>{{ totalHistory() | currency(null, 0)}}</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </el-main>
                        </el-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>