<script>
    import Vue from 'vue';
    import {mapGetters} from 'vuex';

    Vue.component('re-cards', require('./partials/summary-cards.vue'));

    Vue.component('re_recent-activities_comp', require('./partials/recent_activities'));
    Vue.component('upcoming_payments', require('./partials/upcoming_payments'));
    Vue.component('overdue_payments', require('./partials/overdue_payments'));

    Vue.component('payment-index', require('./partials/payments'));

    export default {
        data() {
            return {
                active_sec: 'recent_activities'
            }
        },

        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient',
            })
        },

        methods: {},
    }
</script>

<template>
    <div v-show="selectedClient.hasRE">

        <div class="investment-cards">
            <re-cards></re-cards>
        </div>

        <div class="recent-activities">
            <payment-index pages="4"></payment-index>
        </div>

    </div>
</template>

<style>
    .recent-activities {
        width: 97% !important;
    }
</style>