<script>
    import {mapGetters} from 'vuex';

    export default {
        computed: {
            data() {
                return {
                    project_name: ''
                }
            },
            ...mapGetters({
                selectedClient: 'selectedClient',
                realEstateDetails: 'realEstateDetails',
                fetchingRESummary: 'fetchingRESummary',
                payments: 'payments'
            }),

            projects() {
                let id = this.$route.params ? this.$route.params.id : null;

                return (!id)
                    ? this.realEstateDetails
                    : this.realEstateDetails.filter(unit => this.slugify(unit.project) === id);
            }
        },

        watch: {
            selectedClient: {
                handler: function () {
                    this.checkData();
                    this.fetchReSummaries();

                }
            },
        },

        methods: {

            fetchReSummaries: function () {
                let client = this.selectedClient;

                if (client.id) {
                    this.$store.commit('GET_REAL_ESTATE_SUMMARY', client.id);
                }
            },

            slugify(text) {
                return text.toString().toLowerCase()
                    .replace(/\s+/g, '-')
                    .replace(/[^\w\-]+/g, '')
                    .replace(/^-+/, '')
                    .replace(/-+$/, '');
            },

            fetchPayments: function () {
                let data = {
                    'clientId': this.selectedClient.id,
                    'uploadStatus': ''
                };

                this.$store.commit('GET_UNIT_PAYMENTS', data);
            },

            viewPayments() {
                this.$router.push({name: 'investments.RePayments'});
            },

            checkData() {
                if (!this.selectedClient.hasRE) {
                    this.$router.push({
                        path: '/home'
                    });
                }
            }
        },

        mounted() {
            this.fetchPayments();
            this.fetchReSummaries();
            this.checkData();
        }
    }
</script>

<template>
    <div class="crims-page single-investment">
        <breadcrumb>
            <h3>
                <router-link :to="{name: 'main'}">Dashboard</router-link>
                |&nbsp;
                <router-link :to="{name: 'investments.REList'}">Real Estate</router-link>
            </h3>
        </breadcrumb>

        <div class="investment-details-table-section small-12 medium-12">
            <el-container>
                <el-header class="investment-details-table-section-header grid-x">
                    <div class="medium-12">
                        <div v-if="payments.length > 0" style="float: right">
                         <span>
                             <el-button class="view-btn" type="investment-action-button"
                                        @click="viewPayments">
                                 <span>View Payments</span>
                             </el-button>
                        </span>
                        </div>
                    </div>
                </el-header>

                <div v-if="fetchingRESummary">
                    <tab-loader-shimmer></tab-loader-shimmer>
                </div>

                <div class="crims-table-area real_estate" v-for="re_project in projects" v-else>

                    <div class="crims-table-area__head">
                        <div class="head-left">
                            <h3>{{ re_project['project'] }} - Units ({{ re_project['units'].length }}) </h3>
                        </div>
                        <div class="head-right"></div>
                    </div>

                    <div class="crims-table-area__body">
                        <table class="crims-table">
                            <thead>
                            <tr>
                                <th>Unit</th>
                                <th>Topology</th>
                                <th>Unit Price (KES)</th>
                                <th>Reservation Date</th>
                                <th>Total Paid (KES)</th>
                                <th>Balance (KES)</th>
                                <th>Payment Plan</th>
                                <th>Next Payment (KES)</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr v-for="unit in re_project['units']">
                                <td>{{unit.unit_name}}</td>
                                <td>{{unit.unit_size}}</td>
                                <td>{{unit.unit_price | currency(null, 0)}}</td>
                                <td>{{unit.reservation_date }}</td>
                                <td>{{unit.paid}}</td>
                                <td>{{unit.balance}}</td>
                                <td>
                                        <span v-if="unit.payment_plan">
                                            {{ unit.payment_plan }}
                                        </span>

                                    <span v-else>
                                            <el-tag type="success" size="small">No payment plan</el-tag>
                                        </span>
                                </td>

                                <td>
                                        <span v-if="unit.next_payment_date">
                                            {{ unit.next_payment_date | date }} - KES {{ unit.next_payment_amount }}
                                        </span>

                                    <!--<span v-else>-->
                                    <!--<el-tag type="danger" size="small">No pending payment</el-tag>-->
                                    <!--</span>-->
                                </td>


                                <td>
                                        <span v-if="unit.balance > 0 && unit.next_payment_date == null">
                                            <el-tag type="danger" size="small">Overdue</el-tag>
                                        </span>

                                    <span v-else>
                                            <el-tag type="success" size="small">On schedule</el-tag>
                                        </span>

                                </td>

                                <td class="action">
                                    <router-link :to="{name: 'realestate.details',params: {id: unit.unit_id } }">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </router-link>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </el-container>
        </div>
        <br>
        <br>
    </div>
</template>


<style scoped>
    .investment-details-table-section-header {
        height: 70px;
        background: white;
        margin-bottom: 15px;
        padding-top: 13px;
    }

    .view-btn {
        background-color: #006a5b;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        padding: 8px 40px;
    }

    .real_estate {
        margin-bottom: 30px;
    }
</style>