

.landing_page_container{
  background: #006B5B;
  //background-image: radial-gradient(50% 100%, rgba(163,207,95,0.80) 0%, #006B5B 100%), url("/assets/img/landing2.jpg");
  background-image: linear-gradient(-225deg, rgba(0,106,90,0.65) 0%, rgba(165,212,101,0.57) 100%), url("/assets/img/landing2.jpg");
  background-size: cover;
  min-height: 100vh;
  .landing-content{
    min-height: 100%;
  }
  .footer footer p, .footer footer p a{
    color: #fff;
  }
  .home_login .login-panel{
    background: none;
    width: 100%;
    margin: 0px;

    .login_text_field {
      border: none;

      &:hover {
        border: none;
      }
    }
    .login-button{
      border: 0;
      border-radius: 3px;
      &:hover{
        border: 0;
        border-radius: 3px;
      }
    }
    h3{
      color: #fff;
    }
    .forgot_password_link{
      color: #fff;
    }
  }
}
.landing_page_container .cta_text_area{
  margin-top: 40px;
  max-width: 1000px;
  text-align: center;
}

.landing_page_container .cta_text_area .cta_text{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: #FFFFFF;
  letter-spacing: 0;
  margin-bottom: 0px !important;
  //text-align: center;
}

.application_btns{
  width: 320px;
}
.application_btns .individual_btn{
  background: #FFFFFF;
  box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.10);
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #006B5B;
}

.application_btns .corporate_btn {
  background: #A3CF5F;
  box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,0.10);
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
}


.login-panel{
  background-color: #FFF;
  border-radius: 3px;
  padding: 70px;
  text-align: center;
  margin-top: 35px;

  .login-button{
    width: 100%;
    font-family: "Open sans", sans-serif;
    font-weight: 700;
    background: #A3CF5F;
  }

  .login_text_field{
    border-color: #C0C0C0;
    height: 50px;

    &.view_password {
      &.el-checkbox {
        .el-checkbox {
          &__input {
            .el-checkbox__inner {
              padding-bottom: 10px;
              border: 4px;
              background: #fff;
              height: 16px;
              width: 16px;

              &::after {
                left: 5px;
                top: 2px;
                border: 3px solid #A3CF5F;
                border-left: 0;
                border-top: 0;
                height: 8px;
              }
            }
          }
        }


        .el-checkbox__label {
          color: #424242;
          font-weight: 700;
          font-size: 1.2em;
          margin: 10px auto;
          height: 30px;
          cursor: pointer;
          -webkit-transition: all 0.25s linear;
        }
      }
    }
  }
  input::placeholder{
    color: #9F9F9D;
  }

  h3{
    font-family: "Open sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    line-height: 24px;
    padding-bottom: 15px;
  }
  .forgot_password_link{
    color: #9F9F9D;
  }

  .instructions{
    color: #9F9F9D;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: 'Open Sans',sans-serif;
  }
  .error {
    list-style: none;
    font-size: 12px;
    margin-bottom: 20px;
    color: red;
  }
  .sms-link{
    float: left;
    margin-bottom: 10px;
    color: #a3cf5f;
    font-weight: 600;
  }
}

.login-footer{
  text-align: center;
  margin-top: 20px;

  li, li a{
    font-size: 12px;
    color: #9B9B9B;
    display: inline;
  }
  ul{
    list-style-type: none;
  }
}

.user-profile-button{
  background: #DEDEDE;
  border-radius: 3px;

  .text{
    color: $cytonn_green;
  }
}



.apply-investment {
  height: 100%;
  overflow-y: scroll;
}

@import "verify";