.verification-form {
  padding: 10px;
  text-align: left !important;
  color: #ffffff;
  font-family: Futura;

  .el-radio-group {
    .el-radio {
      padding: 10px 0;
      white-space: pre-wrap;

      &__input {
        .el-radio__inner {
          padding-bottom: 10px;
          border: 4px;
          width: 24px;
          height: 24px;
          background: #f0f0f0;

          &::after {
            width: 10px;
            height: 10px;
            background-color: #006a5b;
          }
        }

        &.is-checked {
          .el-radio__inner {
            border: 4px solid #006a5b;
          }
        }
      }

      .el-radio__label {
        //color: #ffffff;
        font-weight: 400;
        font-size: 1.2em;
        margin: 10px auto;
        height: 30px;
        cursor: pointer;
        -webkit-transition: all 0.25s linear;

        strong {
          color: #006a5b;
        }
      }

    }
  }


}

.verify_modal {
  .el-dialog {
    width: 60%;
  }
}

.reset-form {
  padding: 10px;
  text-align: left !important;
  font-family: Futura;

  .el-radio-group {
    .el-radio {
      padding: 10px 0;

      &__input {
        .el-radio__inner {
          padding-bottom: 10px;
          border: 4px;
          width: 24px;
          height: 24px;
          background: #f0f0f0;

          &::after {
            width: 10px;
            height: 10px;
            background-color: #006a5b;
          }
        }

        &.is-checked {
          .el-radio__inner {
            border: 4px solid #006a5b;
          }
        }
      }

      .el-radio__label {
        font-weight: 400;
        font-size: 1.2em;
        margin: 10px auto;
        height: 30px;
        cursor: pointer;
        -webkit-transition: all 0.25s linear;

        strong {
          color: #006a5b;
        }
      }

    }
  }
}


.verification_token {
  &__header {
    text-align: center;

    .token_icon {
      font-size: 109px;
      color: #006a5b;
      text-align: center;
      opacity: .7;
    }


  }

  &__form {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .login_text_field {
      border: 1px solid #a5a5a5 !important;
      background-color: #ffffff;
      padding: 8px 10px;
      border-radius: 3px;
      margin: 0;
      width: 100%;
      height: 45px !important;

      &:focus {
        border: 1px solid #a5a5a5 !important;
        background-color: #ffffff;
      }
    }
  }


}

.landing_page_container {
  .verification-form {
    .el-radio-group {
      .el-radio {
        .el-radio__label {
          color: #ffffff;
        }

      }
    }
  }
}

@media screen and (max-width: 600px) {
  .verify_modal {
    .el-dialog {
      width: 90%;
    }
  }
}