
@mixin head {
  background: #eeeeee;
  padding: 5px 5px 2px 5px;
  h3 {
    color: #006A5A;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;

    span{
      font-weight: 400;
      color: #4a494a;
    }
  }
}

@mixin body {
  padding-top: 10px;
  background-color: #f8f9fd;
  .activity-item-list {
    border-left: 5px solid #006A5A;
    background-color: #ffffff;
    border-right: 1px solid rgba(74, 73, 58, 0.2);

    .list-content {
      padding: 10px 15px;
      margin: 10px;
      span {
        font-size: 12px;

        &.date {
          font-size: 16px;
          font-weight: 800;
          color: #4a494a
        }
      }
    }
  }

}

.r-activities {

  .account-activity {
    margin-right: 20px;
    .head {
      @include head;
    }
    .body {
      @include body;
    }
  }

  .account-overview {
    margin-left: 10px;

    .head {
      @include head;
    }
    .body {
      @include body;
    }
  }
}