@import "../form/form_select";
.breadcrumb {
  padding: 20px 17px 0 17px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  margin-bottom: 20px;
  display: flex;

  .topUp {
    .el-button--investment-action-button {
      background-color: #006a5b;
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 500;
      padding: 8px 40px;

      &.suspended {
        background-color: #de0e0e;
      }

      &:disabled {
        opacity: 0.4;
      }
    }
  }

  .path {
    display: flex;
    padding-top: 5px;

    span {
      padding-right: 15px;
      a {
        i {
          color: #006a5b;
          font-size: 18px;
          font-weight: 400;
        }
      }

      h3 {
        color: #4a494a;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 600;
        //text-transform: uppercase;

        a {
          color: #4a494a;
          padding-right: 10px;
        }
        span {
          color: #707070;
          font-family: "Proxima Nova";
          font-size: 16px;
          font-weight: 500;

          padding-left: 20px;
          border:         none;
          border-left:    1px solid hsla(200, 10%, 50%,100);
          height:         16px;
          width:          1px;

          &.link-2 {
            a {
                color: #006a5b;
                font-size: 16px;
                font-weight: 600;
            }
          }
        }


      }
    }
  }

  .switch-user {
    @include callout_options_form;

    //.el-form {
    //  width: 100%;
    //  .el-form-item {
    //    .el-form-item__content {
    //      line-height: 0;
    //    }
    //    .el-input {
    //      .el-input__inner {
    //        border: 1px solid #bdbdbd;
    //        background-color: #ffffff;
    //        padding: 0 40px 0 5px;
    //        overflow: hidden;
    //        text-overflow: ellipsis;
    //        height: 32px;
    //        line-height: 30px;
    //        font-size: 11px;
    //
    //
    //      }
    //      .el-input__suffix {
    //        padding-left: 2px;
    //        padding-right: 2px;
    //        height: 65%;
    //        margin-top: 0;
    //        padding-top: 6%;
    //        background: #eeeeee;
    //        margin-right: -4px;
    //
    //      }
    //    }
    //  }
    //}

    h2 {
      opacity: 7;
      float: right;
      padding-bottom: 14px;

      color: rgba(112, 112, 112, 0.5);
      font-size: 15px;
      font-weight: 400;
    }
  }

}

@media screen and (max-width: 422px){
  .breadcrumb {
      .switch-user {
        width: 100%;

        .el-form {
          width: 100%;
        }
      }

    .topUp {
      width: 100%;
      .el-button {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 670px){
  .breadcrumb {
    .switch-user {
      width: 50%;
    }
  }

}

@media screen and (max-width: 670px) and (min-width: 423px){
  .breadcrumb {
    .switch-user {
      width: 100%;
      .el-form {
        width: 100%;

      }
    }
  }

}