@mixin confirm-action {
	padding: 20px 5px;
	.description {
		padding: 2px 0;
		h2 {
			font-size: 1.2rem;
			color: #a5a5a5;
		}
		h3{
			color: #4a494a;
			font-family: "Proxima Nova";
			font-size: 14px;
			font-weight: 400;
		}

		p {
			color: #a5a5a5;
			font-family: "Proxima Nova";
			font-size: 14px;
			font-weight: 500;
			text-transform: uppercase;
		}

		&.last {
			padding: 20px 0;
		}
	}

	.el-loading-spinner {
		.el-loading-text {
			color: #006a5b;
			font-size: 18px;
			font-weight: 400;
		}
	}
}

@mixin action-success {
	.message {
		h3 {
			color: #4a494a;
			font-family: "Proxima Nova";
			font-size: 14px;
			font-weight: 400;
			text-align: center;
		}
	}

	.icon {
		h1 {
			font-size: 109px;
			color: #006a5b;
			text-align: center;
			-webkit-text-stroke: 13px #006a5b;
			text-stroke: 13px #006a5b;
			-moz-text-stroke: 13px #006a5b;
			-o-text-stroke: 13px #006a5b;
			opacity: 0.7;
		}
	}
}

@mixin form {

	input {
		border: 1px solid #a5a5a5;
		background-color: #ffffff;
		padding: 8px 10px;
		border-radius: 3px;
		margin: 0;
		width: 100%;

		&:focus {
			border: 1px solid #a5a5a5;
			background-color: #ffffff;
		}

		&[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'] {
			margin: 0;
		}
	}

	.el-form-item__label {
		color: #4a494a;
		font-family: "Proxima Nova";
		font-size: 14px;
		font-weight: 400;
	}

	label {
		color: #4a494a;
		font-family: "Proxima Nova";
		font-size: 14px;
		font-weight: 400;
		line-height: 32px;
	}

}

.action-callouts {
	position:absolute; 
	width: 30%;
	height: 100%;
	background: #eee;
	right: 0;
	top: 0px;
	// z-index: 1;
	box-shadow: 0 3px 36px rgba(0, 0, 0, 0.16);
	background-color: #f5f5f5;
	z-index:1052;
	//display: none;
	//overflow-y: auto;

	.el-input-number {
		width: 100%;
		&--small {
			width: 100%;
		}
		.el-input__inner {
			text-align: left;
		}
	}

	input {
		&[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'] {
			margin-bottom: 0;
		}
	}
	&.hide-callout {
		//display: block;
		-webkit-animation: slide-down .4s ease-out;
		-moz-animation: slide-down .4s ease-out;
		animation: slide-down .4s ease-out;
	}

	&.suspend-callout {
		//visibility: hidden;
		-webkit-animation: suspend-on .4s ease-out;
		-moz-animation: suspend-on .4s ease-out;
		animation: suspend-on .4s ease-out;
		margin-right: -30%;
	}

	&.hide {
		visibility: hidden;
	}

	.callout-bar-title {
		display: flex;
		top: 0;
		width: 110%;
		height: 43px;
		right: 0;
		margin-left: -10%;
		background-image: linear-gradient(270deg, #a2d45e 0%, #006a5b 100%);

		.bar-section-offset {
			font-size: 40px;
			top: 0;
			background: #eee;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
			background-color: #a2d45e;
			width: 10%;
			padding: 0 10px 15px 20px;
			i {
				position: absolute;
				width: 39px;
				height: 37px;
				color: #ffffff;
				font-size: 34px;
				font-weight: 400;
			}
		}

		.bar-section-main {
			width: 100%;
			display: flex;
			.callout-title {
				width: 80%;
				left: 0;
				padding-top: 8px;
			    padding-left: 10px;
				h3 {
					color: #ffffff;
					font-family: "Proxima Nova";
					font-size: 16px;
					font-weight: 500;
					text-transform: uppercase;
				}
			}
			.close-callout {
				width: 20%;
			    padding-top: 8px;
			    
			    img {
			    	right: 0;
			    	position: absolute;
			    	padding-right: 10px;
			    	padding-top: 3px;
			    }
			}
		}
	}

	.action-callout-body {
		padding: 10px;
		height: 90%;
		overflow-y: auto;
		input {
				border: 1px solid #a5a5a5;
				background-color: #ffffff !important;
				border-radius: 3px;
			    font-size: 12px;
				padding: 8px;
				height: 32px;
				&.amount {
					width: 95%;
					margin-bottom: 0;
				}

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: #4a494a;
			}
			&::-moz-placeholder { /* Firefox 19+ */
				color: #4a494a;
			}
			&:-ms-input-placeholder { /* IE 10+ */
				color: #4a494a;
			}
			&:-moz-placeholder { /* Firefox 18- */
				color: #4a494a;
			}
			&::placeholder {
				color: #4a494a;
				//opacity: 1;
			}

		}
		.el-input {
			&.el-date-editor {
				.el-input__suffix {
					padding-left: 28px;
					padding-right: 28px;
				}
				.el-input__prefix {
					left: 95%;
				}
			}

		}

		.el-icon-upload {
		    font-size: 20px;
		    color: #c0c4cc;
		    margin: 5px 0 5px;
		    line-height: 5px;
		}

		.topup-investment-rate-info {
			background-color: #a2d45e;
			color: #006a5b;
			font-family: "Proxima Nova";
			font-size: 14px;
			font-weight: 500;
			text-align: center;
			border-radius: 3px;

			&:before {
				content: '';
				position: absolute;
				top: 5px;
				left: 89%;
				width: 0;
				height: 0;
				border: 15px solid transparent;
				border-bottom-color: #a2d45e;
				border-top: 0;
				margin-left: -28px;
				margin-top: -18px;
			}

			&.confirm-topup-info {
				padding: 5px;
				&:before {
					border-bottom-color: #fff;
					display:none;
				}
			}

			&.error-info {
				padding: 5px;
				color: #a94442;
				background-color: #f2dede;
				border-color: #ebccd1;
				&:before {
					border-bottom-color: #fff;
					display:none;
				}
			}

			&.warning-info {
				padding: 5px;
				color: #8a6d3b;
				background-color: #fcf8e3;
				border-color: #faebcc;
				&:before {
					border-bottom-color: #fff;
					display:none;
				}
			}
		}

		.confirm-top-up {
			@include confirm-action;
		}


		.topupSuccessful {
			@include action-success;
		}

		.rollover {
			.rollover-interst {
				margin-top: 20px;
				background-color: #a2d45e;
				padding: 18px;

				p{
					color: #006a5b;
					font-family: "Proxima Nova";
					font-size: 14px;
					font-weight: 400;
					text-align: center;
					margin-bottom: 0;
				}
				.el-form-item {
					margin-bottom: 0;
				}

				&.rate {
					padding: 5px;
					margin-bottom: 15px;
				}
			}

			@extend form;
		}

		.confirm-rollover {
			@include confirm-action;
		}

		.rollover-success {
			@include action-success;
		}

		.withdraw {
			@extend form;

			.withdraw-confirm {
				@include confirm-action;
				padding: 0;
			}

			.withdrawSuccesful {
				@include action-success;
			}

			.withdraw-instructions {
				color: #a5a5a5;
				font-family: "Proxima Nova";
				font-size: 20px;
				font-weight: 600;
				text-align: center;
				top: 20%;
				width: 100%;
				margin-bottom: 20px;
			}
			.option-bar {


				&.initial {
					position: absolute;
					top: 30%;
					left: 12%;

					.el-radio {
						margin-left: 0;
						width: 100%;
						margin-bottom: 20px;

						.el-radio__label  {
							font-size: 26px;
						}



						.el-radio__input {
							.el-radio__inner {
								width: 24px;
								height: 24px;
								transition: all .25s linear;
								-webkit-transition: all .25s linear;

								&::after {
									width: 14px;
									height: 14px;

									width: 14px;
									height: 14px;
								}

							}
						}
					}
				}
				.el-radio {
					//width: 100%;

					.el-radio__label  {
						font-size: 16px;
					}
					.el-radio__input {


						&.is-checked {
							.el-radio__inner {
								border-color: #006a5b;
								background: #a2d45e;
							}

							&+.el-radio__label {
								color: #006a5b;
							}
						}
						.el-radio__inner {
							width: 18px;
							height: 18px;

							&:hover {
								border-color: #006a5b;
							}

							&::after {
								width: 8px;
								height: 8px;

								width: 8px;
								height: 8px;

								transition: border .25s linear;
								-webkit-transition: border .25s linear;
							}

						}
					}
				}

			}

		}
	}

	.el-button {
		&.el-button--custom-success {
			background-color: #006a5b;
			color: #ffffff;
			font-family: "Proxima Nova";
			font-size: 14px;
			font-weight: 500;
			padding: 9px 40px;
			transition: all 2s;

			&:hover , &:focus {
				background-color: #a2d45e;
				color: #004d42;
			}

			&:disabled {
				opacity: 0.3;

				&:hover {
					background-color: #006a5b;
					color: #ffffff;
				}
			}
		}

		&.el-button--custom-error {
			background-color: #de0e0e;
			color: #ffffff;
			font-family: "Proxima Nova";
			font-size: 14px;
			font-weight: 500;
			padding: 9px 40px;
			transition: all 2s;

			&:hover , &:focus {
				background-color: #de0e0e;
				color: #ffffff;
			}

			&:disabled {
				opacity: 0.3;

				&:hover {
					background-color: #de0e0e;
					color: #ffffff;
				}
			}
		}

		&.el-button--custom-default {
			font-family: "Proxima Nova";
			font-size: 14px;
			font-weight: 500;
			padding: 9px 40px;
		}
	}


}

.overlay-back {
	position   : absolute; 
    top        : 0; 
    left       : 0; 
    width      : 100%; 
    height     : 100%; 
    background : #000; 
    opacity    : 0.6; 
    filter     : alpha(opacity=60); 
    z-index    : 5;
    display    : none;
}
.open-bar-section-offset {

	&.hide {
		display: none;
	}
	display:block;
	position: absolute;
	z-index:1002;
	font-size: 40px;
	top: 0;
	right: 0;
	background: #eee;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	background-color: #a2d45e;
	width: 3.5%;
	padding: 0 5px 15px 20px;
	height: 43px;
	i {
		position: absolute;
		height: 37px;
		color: #ffffff;
		font-size: 34px;
		font-weight: 400;
		-moz-animation: bounce 2s infinite;
		-webkit-animation: bounce 2s infinite;
		animation: bounce 2s infinite;
	}
}
@media screen and (max-width: 1024px) and (min-width: 600px) {
	.action-callouts {
		width: 50%;
		&.suspend-callout {
			margin-right: -50%;
		}
	}

	.open-bar-section-offset {
		width: 5%;
	}

}


@media screen and (max-width: 600px) {
	.action-callouts {
		width: 80%;
		&.suspend-callout {
			margin-right: -80%;
		}
	}
	.callout-bar-title {
		width: 112%;
		margin-left: -12%;
		.open-bar-section-offset {
			width: 12%;
		}
	}
}

.callout-transition-active {
	-webkit-animation: suspend-on .4s ease-out;
	-moz-animation: suspend-on .4s ease-out;
	animation: suspend-on .4s ease-out;
}

.callout-transition-leave-active {
	-webkit-animation: suspend-on .4s ease-out;
	-moz-animation: suspend-on .4s ease-out;
	animation: suspend-on .4s ease-out;
	margin-right: -30%;
}

.form_errors {
	color: red;
	font-size: 12px;
	&::before {
		content: '*';
		margin-right: 5px;
		color: red;
	}
}

@-webkit-keyframes slide-down {
	0% { opacity: 0; -webkit-transform: translateX(100%); }
	20% { opacity: 0.2; -webkit-transform: translateX(80%); }
	40% { opacity: 0.4; -webkit-transform: translateX(60%); }
	60% { opacity: 0.6; -webkit-transform: translateX(40%); }
	80% { opacity: 0.8; -webkit-transform: translateX(20%); }
	100% { opacity: 1; -webkit-transform: translateX(0); }
}
@-moz-keyframes slide-down {
	0% { opacity: 0; -webkit-transform: translateX(100%); }
	20% { opacity: 0.2; -webkit-transform: translateX(80%); }
	40% { opacity: 0.4; -webkit-transform: translateX(60%); }
	60% { opacity: 0.6; -webkit-transform: translateX(40%); }
	80% { opacity: 0.8; -webkit-transform: translateX(20%); }
	100% { opacity: 1; -webkit-transform: translateX(0); }
}

@keyframes slide-down {
	0% { opacity: 0; -webkit-transform: translateX(100%); }
	20% { opacity: 0.2; -webkit-transform: translateX(80%); }
	40% { opacity: 0.4; -webkit-transform: translateX(60%); }
	60% { opacity: 0.6; -webkit-transform: translateX(40%); }
	80% { opacity: 0.8; -webkit-transform: translateX(20%); }
	100% { opacity: 1; -webkit-transform: translateX(0); }
}



@-webkit-keyframes suspend-on {
	0% { opacity: 0; -webkit-transform: translateX(-100%); }
	20% { opacity: 0.2; -webkit-transform: translateX(-80%); }
	40% { opacity: 0.4; -webkit-transform: translateX(-60%); }
	60% { opacity: 0.6; -webkit-transform: translateX(-40%); }
	80% { opacity: 0.8; -webkit-transform: translateX(-20%); }
	100% { opacity: 1; -webkit-transform: translateX(0); }
}
@-moz-keyframes suspend-on {
	0% { opacity: 0; -webkit-transform: translateX(-100%); }
	20% { opacity: 0.2; -webkit-transform: translateX(-80%); }
	40% { opacity: 0.4; -webkit-transform: translateX(-60%); }
	60% { opacity: 0.6; -webkit-transform: translateX(-40%); }
	80% { opacity: 0.8; -webkit-transform: translateX(-20%); }
	100% { opacity: 1; -webkit-transform: translateX(0); }
}

@keyframes suspend-on {
	0% { opacity: 0; -webkit-transform: translateX(-100%); }
	20% { opacity: 0.2; -webkit-transform: translateX(-80%); }
	40% { opacity: 0.4; -webkit-transform: translateX(-60%); }
	60% { opacity: 0.6; -webkit-transform: translateX(-40%); }
	80% { opacity: 0.8; -webkit-transform: translateX(-20%); }
	100% { opacity: 1; -webkit-transform: translateX(0); }
}

.el-select-dropdown {
	margin-top: 7px !important;
}



@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateX(0);
		transform: translateX(0);
	}
	40% {
		-moz-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	60% {
		-moz-transform: translateX(-5px);
		transform: translateX(-5px);
	}
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	40% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	60% {
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	40% {
		-moz-transform: translateX(-10px);
		-ms-transform: translateX(-10px);
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	60% {
		-moz-transform: translateX(-5px);
		-ms-transform: translateX(-5px);
		-webkit-transform: translateX(-5px);
		transform: translateX(-5px);
	}
}
.background-overlay {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index:1000;
  	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background: rgba(0, 0, 0, 0.3);
}