.crims-page {
  padding: 20px 20px;
  min-height: 80%;
  .crims-page-area {
    padding: 10px 10px 30px 10px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ededed;
    background-color: #ffffff;
    min-height: 50%;

    .page_head {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      padding: 10px 20px;
      //margin-bottom: 15px;

      &__left {
        flex: 1;
        display: flex;
        justify-content: flex-start;
      }

      &__center{
        flex: 1;
        display: flex;
        justify-content: center;
      }

      &__right{
        flex: 1;
        display: flex;
        justify-content: flex-end;
      }

      h3 {
        color: #006a5b;
        font-family: "Proxima Nova";
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }

}

.login-footer {
  ul {
    li {
      a {
        color: #ffffff;
        &:hover {
          color: #ef9a9a;
        }
      }
    }
  }
}