.withdraw-button {
  position: relative;
  margin-bottom: -12px;
}
.inactive-button {
  position: relative;
  margin-bottom: -12px;
  .inactive-notify {
    width: 180px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 0;
    font-size: 10px;
    visibility: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }



  }




  .el-button--investment-action-button {
    background-color: rgba(0, 106, 91, 0.3) !important;
  }

  &:hover{
    .inactive-notify {
      visibility: visible;
    }
  }
}

@media screen and (max-width: 409px){
  .inactive-button {
    margin: 10px 0;
    .inactive-notify {
      bottom: 110%;
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 3px;
      width: 120px;
      font-size: 7px;
    }
  }
}