.crims-body {
  display: flex;
  flex-direction: column;
  padding: 0;

  min-height: calc(100vh - 100px);

  &__content {
    flex: 1;

    .crims-dashboard {
      &__content {
        width: calc(100% - 250px);
        margin-left: 250px;
      }
    }
  }

}

@media only screen and (max-width: 1024px) {
  .crims-body {
    &__content {
      .crims-dashboard {
        &__content {
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }
}