.crims_footer {
  height: 50px;
  margin-top: 15px;
  padding: 15px;

  width: calc(100% - 250px);
  margin-left: 250px;


  .footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;


    border-top: 1px solid #E5E5E5;
    padding: 15px;


  p, a{
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #9B9B9B;
    line-height: 17px;
  }
  p{
    margin-right: 17px;
  }
  p:last-of-type{
    margin-right: 0;
  }


}

}

@media screen and (max-width: 1024px){
  .crims_footer {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 640px){
  .crims_footer {
    height: auto;
    .footer {
      flex-direction: column;
      justify-content: flex-start;
      >div {
        width: 100%;
      }
    }
  }
}