@import "../utils/spinner";
@import "../utils/scrollbar";
*{
  margin: 0px;
  padding: 0px;
  font-family: "Proxima Nova", sans-serif;

  @include crims_load_spinner;
  @include crims_scrollbar;
}
body, html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Proxima Nova", sans-serif;
  max-width: 100%;
  background-color: #f1f1f1;
}

.sidebar {
  width: 250px;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 50px;
}

.side-menu {
  height: 100%;
  background: #2d3846;
  bottom: 0px;
  padding-top: 18px;
  //position: fixed;
  margin-top: 0;
  //overflow-x: hidden;
  //overflow-y: auto;
  white-space:nowrap;
  min-width: 120px;
  z-index: 600;

  .navigation-primary {
    margin-top: 15px;
  }


  ul {
    margin-left: 0px;
    width: 100%;

    li {
      list-style: none;
      margin: 5px 0;
      padding: 5px 0;
      width: 100%;



      a {
        padding: 11px 10px 11px 35px;
        height: 35px;

        font-size: 14px;
        font-family: 'Proxima Nova';
        font-weight: 500;
        color: #ffffff;
        width: 100%;
        transition: .2s;
        display: flex;
        align-items: center;

        i{
          margin-right: 15px;
        }

        &:hover {
          color: #a2d45e;
          background: rgba(2, 2, 2, 0.2);

        }



        &.router-link-exact-active {
          background: rgba(2, 2, 2, 0.2);
          height: 35px;
          width: 100%;
          border-left: 5px solid #a2d45e;
          font-size: 16px;
          padding: 10px 10px 10px 30px;
          z-index: -1;
          i {
            color: #a2d45e;
          }
        }

      }

      &.has_dropdown {
        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .caret-arrow {
            color: #ffffff;
            content: ' ';
            display: inline-block;
            border-right: 7px solid transparent;
            border-top:7px solid currentColor;
            border-left: 7px solid transparent;
            //vertical-align: middle;
            transform: translateY(-2px);
            transition: transform .3s ease-out;
            width: 10px;

            &.title-active {
              transform: rotate(180deg) translateX(-3px);
            }

          }
        }
        .dropdown_menu {
          display: flex;
          flex-direction: column;

          a {
            padding: 10px 10px 10px 50px;
            &.router-link-exact-active {
              padding: 10px 10px 10px 45px;
            }
          }
        }
      }


    }

  }


  .my-fa-menu {
    hr{
      /* Base style */
      color: #ffffff;
      font-weight: 400;
      border: 1px solid #050000;
      opacity: 0.3;
      margin-top: 2px;
    }
    label {
      /* Style for "FINANCIAL" */
      padding-left: 20px;
      height: 16px;
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      margin-right: .5rem;
    }

    .caret-arrow {
      color: #ffffff;
      content: ' ';
      display: inline-block;
      border-right: 7px solid transparent;
      border-top: 7px solid currentColor;
      border-left: 7px solid transparent;
      //vertical-align: middle;
      transform: translateY(-2px);
      transition: transform .3s ease-out;
    }

    input {
      display: none;
      visibility: hidden;
    }


    #my-fa-menu-display {
      visibility: hidden;
      transition:  all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;;
    }
    #toggle:checked ~ #my-fa-menu-display {
      transition-delay: 0s, 0s, 0.3s;
      visibility: visible;
    }

    #toggle:checked ~ .caret-arrow {
      transform: rotate(180deg) translateX(-3px);
    }
  }
}


@media only screen and (max-width: 1024px) {
  .sidebar {
    width: 0;
    display: none;
    bottom: 0;

    &.animate-hide {
      opacity: 1;
      -webkit-animation: menu-slide-off .4s ease-out;
      -moz-animation: menu-slide-off .4s ease-out;
      animation: menu-slide-off .4s ease-out;

    }

  }

  .small-toggle {
    display: flex !important;
    margin-right: 10px;
  }

  .dismissMenu {
    display: block;
  }
  .crims_main_content_area {
    .menuVisible {
      display: block;
      width: 250px;
      position: fixed;
      z-index: 60000;
      overflow-x: scroll;
      -webkit-animation: menu-slide .4s ease-out;
      -moz-animation: menu-slide .4s ease-out;
      animation: menu-slide .4s ease-out;
      &.animate-hide {
        margin-left: -250px;
      }

    }
  }


}


.small-toggle {
  padding: 5px;
  display: none;

  &.dashboard-menu {
    background-image: linear-gradient(114deg, #a2d45e 0%, #006a5b 100%);
  }
  .toggle-btn {
    left: 1%;
    top: 65px;
    z-index: 100;


    span {
      display: block;
      width: 26px;
      height: 3px;
      background: #006a5b;
      margin: 5px 0px;
    }
  }

  .menu-span {
    margin-left: 12px;
    font-size: 20px;
    font-weight: 500;
  }
}

.dismissMenu {
  display: none;
  position: absolute;
  float: right;
  color: #fff;
  top: 0;
  z-index: 1;
  right: 0;
  cursor: pointer;

  h1 {
    font-size: 20px;
    padding-right: 5px;
  }




}





.menu-transition-leave-active {
  -webkit-animation: menu-slide-off .4s ease-out;
  -moz-animation: menu-slide-off .4s ease-out;
  animation: menu-slide-off .4s ease-out;
}


@-webkit-keyframes menu-slide {
  0% { opacity: 0; -webkit-transform: translateX(-100%); }
  20% { opacity: 0.2; -webkit-transform: translateX(-80%); }
  40% { opacity: 0.4; -webkit-transform: translateX(-60%); }
  60% { opacity: 0.6; -webkit-transform: translateX(-40%); }
  80% { opacity: 0.8; -webkit-transform: translateX(-20%); }
  100% { opacity: 1; -webkit-transform: translateX(0); }
}
@-moz-keyframes menu-slide {
  0% { opacity: 0; -webkit-transform: translateX(-100%); }
  20% { opacity: 0.2; -webkit-transform: translateX(-80%); }
  40% { opacity: 0.4; -webkit-transform: translateX(-60%); }
  60% { opacity: 0.6; -webkit-transform: translateX(-40%); }
  80% { opacity: 0.8; -webkit-transform: translateX(-20%); }
  100% { opacity: 1; -webkit-transform: translateX(0); }
}

@keyframes menu-slide {
  0% { opacity: 0; -webkit-transform: translateX(-100%); }
  20% { opacity: 0.2; -webkit-transform: translateX(-80%); }
  40% { opacity: 0.4; -webkit-transform: translateX(-60%); }
  60% { opacity: 0.6; -webkit-transform: translateX(-40%); }
  80% { opacity: 0.8; -webkit-transform: translateX(-20%); }
  100% { opacity: 1; -webkit-transform: translateX(0); }
}


@-webkit-keyframes menu-slide-off {
  0% { opacity: 0; -webkit-transform: translateX(100%); }
  20% { opacity: 0.2; -webkit-transform: translateX(80%); }
  40% { opacity: 0.4; -webkit-transform: translateX(60%); }
  60% { opacity: 0.6; -webkit-transform: translateX(40%); }
  80% { opacity: 0.8; -webkit-transform: translateX(20%); }
  100% { opacity: 1; -webkit-transform: translateX(0); }
}
@-moz-keyframes menu-slide-off {
  0% { opacity: 0; -webkit-transform: translateX(100%); }
  20% { opacity: 0.2; -webkit-transform: translateX(80%); }
  40% { opacity: 0.4; -webkit-transform: translateX(60%); }
  60% { opacity: 0.6; -webkit-transform: translateX(40%); }
  80% { opacity: 0.8; -webkit-transform: translateX(20%); }
  100% { opacity: 1; -webkit-transform: translateX(0); }
}

@keyframes menu-slide-off {
  0% { opacity: 0; -webkit-transform: translateX(100%); }
  20% { opacity: 0.2; -webkit-transform: translateX(80%); }
  40% { opacity: 0.4; -webkit-transform: translateX(60%); }
  60% { opacity: 0.6; -webkit-transform: translateX(40%); }
  80% { opacity: 0.8; -webkit-transform: translateX(20%); }
  100% { opacity: 1; -webkit-transform: translateX(0); }
}




