.responsive-top-bar {
  background-color: #FFF;
  box-shadow: 1px 1px 6px 0px rgba(107, 107, 107, 0.15);
  display: flex;
  padding: 5px 5px 5px 10px;
  position: fixed;
  width: 100%;
  margin-bottom: 0;
  font-family: "Proxima Nova", sans-serif;
  z-index: 1000;
  height: 50px;

  .top-bar-logo {
    padding-left: 2%;
    width: 13%;
    display: flex;
    align-items: center;

    .img {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      img {
        float: left;
        max-width: 80%;
        min-width: 120px;
        padding: 15px;
        margin-left: -30px;

      }

    }

  }

  .menu-listed {
    width: 60%;
    padding-left: 60px;

    .menu-list-item {
      font-size: 20px;
      line-height: 40px;
      color: #006A5A;
      font-weight: 600;
      margin-left: 20px;
    }
  }

  .menu-right-display {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    padding-right: 20px;
    flex: 1;


    .el-dropdown-menu {
      .el-popper[x-placement^=bottom] {
        .popper__arrow {
          left: 84%;
        }
      }
    }

    .user-icon {
      margin-right: 10px;
      img {
        max-width: 40px;
      }
    }

    .el-icon-arrow-down {
      &.el-icon--right {
        font-weight: 700;
      }
    }

    .user_menu {
      position: relative;

      &__display {
        cursor: pointer;
      }

      &__backdrop {
        height: 100vh;
        width: 100vw;
        position: absolute;
        z-index: 200;
      }

      &__dropdown {
        border-radius: 3px;
        position: absolute;
        display: flex;
        background: #ffffff;
        right: 0;
        top: 50px;
        min-width: 280px;
        z-index: 250;

        -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
        box-shadow: 0 2px 10px rgba(0, 0, 0, .2);

        &:after {
          content: '';
          position: absolute;
          top: 0;
          //left: 85%;
          right: 30px;
          width: 0;
          height: 0;
          border: 12px solid transparent;
          border-bottom-color: #fff;
          filter: drop-shadow(0 -2px 0.02px rgba(0, 0, 0, 0.09));
          border-top: 0;
          margin-left: -10px;
          margin-top: -10px;
        }

        &__profile {
          flex: 1;
          padding: 10px;
          background-image: linear-gradient(114deg, #a2d45e 0%, #006a5b 100%);

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .username {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 0;
            color: #ffffff;

            h4 {
              font-size: 12px;
              font-weight: 600;
            }
            .email {
              font-size: 10px;
              color: #ffffff;
            }
          }

        }

        &__menu {
          flex: 2;
          padding: 15px;
          ul {
            li {
              list-style: none;
              padding: 10px 0;
              a {
                display: flex;
                align-items: center;
                color: #9B9B9B;
                i {
                  padding-right: 10px;
                }

              }
            }
          }
        }
      }
    }
  }

  .application-button-div {
    width: 26%;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    .application-button {
      width: 100%;
      background: #006A5A;
      border-radius: 2px;
      box-shadow: inset 0 -1px 0 0 #E7EAEA, inset 0 1px 0 0 #E7EAEA;
      text-align: center;
      color: #ffffff;
      &:hover {
        background: #006A5A !important;
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .responsive-top-bar {
    flex-wrap: wrap;
    .menu-left-display {
      width: 30%;
      padding-right: 1px;

      .user-action-dropdown {
        float: right;
        font-family: "Proxima Nova", sans-serif;
        span {
          font-family: "Proxima Nova", sans-serif;
        }
      }
    }
    .menu-listed {
      width: 25%;;
    }
    .top-bar-logo {
      width: 25%;
    }

    .application-button-div{
      width: 50%;
      .application-button {
        &:hover {
          background: #006A5A;
        }
      }
    }
  }
}

.blade-menu {
  height: 100%;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
