<script>

    import {mapState, mapGetters} from 'vuex';

    export default {
        data () {
            return {

            }
        },
        computed: {
            ...mapGetters({
                summary: 'getFaSummary',
                currentFa: 'currentFa',
                date: 'getCommissionDate',
                faClawbacks: 'faClawbacks'
            }),
            fa(){
                try{
                    if(this.currentFa.id == this.fa_id) return this.currentFa;
                }catch (err){}

                return {id: this.fa_id}
            },
            fa_id(){
                let param = this.$route.params.faId;

                if(param === undefined) return this.currentFa.id;

                return param;
            },
            claw_backs_total(){
                try{
                    return this.faClawbacks.reduce(function (carry, val) {
                        return carry + parseFloat(val.amount);
                    }, 0);
                }catch (err)
                {
                    return 0;
                }
            }
        },
        mounted () {
            this.$store.dispatch('setClawbackFa', {fa:this.fa, date: this.date});
            this.$store.dispatch('fetchSummary', {fa:this.fa, date: this.date});
        }

    }
</script>
<template>
    <div class="crims-page commisions">

        <fa-breadcrumb>
            <h3> <router-link :to="{name: 'sales.invcommissions'}">Commissions</router-link>  <span>Clawbacks</span></h3>
        </fa-breadcrumb>

        <div class="commision-product">
            <div class="commision-tables">
                <div class="crims-table-area commision-tables table_scroll">
                    <div class="head">
                        <h3>CLAW <span>BACKS</span></h3>
                    </div>

                    <table class="crims-table">
                        <thead class="crims-table-head">
                            <tr>
                                <th>Description</th>
                                <th>Principal</th>
                                <th>Value Date</th>
                                <th>Maturity Date</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody class="crims-table-body">
                            <tr  v-for="claw in faClawbacks">
                                <td>{{ claw.description }}</td>
                                <td>{{ claw.principal | currency }}</td>
                                <td>{{ claw.invested_date | date }}</td>
                                <td>{{ claw.maturity_date | date }}</td>
                                <td>{{ claw.amount | currency }}</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <td colspan="3"></td>
                                <th>{{ claw_backs_total| currency }}</th>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</template>
<style>

</style>