<script>
    import Vue from 'vue';
    import {mapGetters, mapState} from 'vuex';
    import clientsApi from '../../../api/ClientsApi'
    import moment from 'moment'
    import * as types from '../../../store/mutation-types'

    Vue.component('gravatar', require('./partials/gravator.vue'));

    export default {
        computed: {
            ...mapGetters({
                currentUser: 'currentUser',
                currentClient: 'getCurrentFaClient',
                currentFa: 'currentFa',
                summary: 'getFaSummary',
                date: 'getCommissionDate'
            }),

            fa(){

                try{
                    if(this.currentFa.id == this.fa_id) return this.currentFa;
                }catch (err){}

                return {id: this.fa_id}
            },

            fa_id(){
                let param = this.$route.params.faId;

                if(param === undefined) return this.currentFa.id;

                return param;
            },

            inv_schedules(){

                try{
                    return this.currentClient.products[0].schedules;

                }catch (err){}

                return [];
            },

            inv_schedules_total(){
                return this.inv_schedules.reduce(function (carry, val) {
                    return carry + parseFloat(val.amount);
                }, 0)
            },

            claw_backs(){
                try{
                    return this.currentClient.products[0].claw_backs;
                }catch (err){}
                return [];
            },

            claw_backs_total(){
                return this.claw_backs.reduce(function (carry, val) {
                    return carry + parseFloat(val.amount);
                }, 0)
            },

            re_schedules(){
                try{
                    return this.currentClient.products[1].schedules;
                }catch (err){}
                return [];
            },

            re_schedules_total(){
                return this.re_schedules.reduce(function (carry, val) {
                    return carry + parseFloat(val.amount);
                }, 0)
            },

            utf_schedules(){
                try{
                    return this.currentClient.products[2].schedules;
                } catch (err){}
                return [];
            },

            utf_schedules_total() {
                return this.utf_schedules.reduce(function (carry, val) {
                    return carry + parseFloat(val.amount);
                }, 0)
            },

            otc_schedules(){
                try{
                    return this.currentClient.products[3].schedules;
                } catch (err){}
                return [];
            },

            otc_schedules_total() {
                return this.otc_schedules.reduce(function (carry, val) {
                    return carry + parseFloat(val.amount);
                }, 0)
            },

            clientSince(){
                return moment(this.currentClient.since).fromNow()
            }
        },

        methods: {
            next(){
                let new_date = moment(this.date).add(1, 'month').startOf('month').format('YYYY-MM-DD');

                this.$store.commit(types.SET_COMMISSION_DATE, new_date);

                this.$store.dispatch('fetchClient', {id: this.$route.params.clientId, date: moment(this.date).format('YYYY-MM-DD'), fa:this.fa});
                this.$store.dispatch('fetchSummary', {fa:this.fa, date: new_date});
            },

            prev(){
                let new_date = moment(this.date).subtract(1, 'month').startOf('month').format('YYYY-MM-DD');

                this.$store.commit(types.SET_COMMISSION_DATE, new_date);

                this.$store.dispatch('fetchClient', {id: this.$route.params.clientId, date: moment(this.date).format('YYYY-MM-DD'), fa:this.fa});
                this.$store.dispatch('fetchSummary', {fa:this.fa, date: new_date});
            }
        },
        mounted(){
            this.$store.dispatch('fetchClient', {id: this.$route.params.clientId, date: moment(this.date).format('YYYY-MM-DD'), fa:this.fa});
            this.$store.dispatch('fetchSummary', {fa:this.fa, date: this.date});
        }
    }
</script>
<template>
    <div class="crims-page commisions">

        <fa-breadcrumb>
            <h3> <router-link :to="{name: 'sales.invcommissions'}">Commissions</router-link>  <span>Client Profile</span></h3>
        </fa-breadcrumb>

        <div class="commision-product">
            <div class="grid-x commision-client-details">
                <div class="small-12 medium-5 profile-details">
                    <div class="profile">
                        <div class="head">
                            <h3>Client Profile</h3>
                        </div>
                        <div class="body grid-x">
                            <div class="small-5">
                                <gravatar :href="currentClient.email == null ? 'email@example.com': currentClient.email"> </gravatar>
                            </div>
                            <div class="small-7">
                                <h4>{{ currentClient.name }}</h4>
                                <p>Onboarded {{ clientSince }}</p>
                                <p><span class="envelop"><i class="fa fa-envelope-o"></i></span> {{ currentClient.email }}</p>
                                <p><span class="envelop"> <i class="fa fa-phone"></i></span> {{ currentClient.phone }}</p>
                            </div>
                        </div>
                    </div>


                    <div class="profile">
                        <div class="head">
                            <h3>Commission Totals - <span v-if="summary.fa">{{ summary.fa.name }}</span></h3>
                        </div>
                        <div class="body grid-x">
                            <div class="small-5">
                                <p v-for="p in currentClient.products"> {{ p.name }}</p>
                                <p class="totals">Total</p>
                            </div>
                            <div class="small-7">
                                <p v-for="p in currentClient.products"> {{ p.total | currency }}</p>
                                <p class="totals">{{ currentClient.currency }} {{ currentClient.total | currency }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="profile">
                        <div class="head">
                            <h3>Commission Dates</h3>
                        </div>
                        <div class="body grid-x">
                            <div class="small-5">
                                <p class="totals">From</p>
                                <p class="totals">To</p>
                            </div>
                            <div class="small-7">
                                <p class="totals">{{ summary.start | date}}</p>
                                <p class="totals">{{ summary.end | date }}</p>
                            </div>
                        </div>

                        <div class="foot">
                            <a @click="prev()" class=""><i class="fa fa-angle-left fa-2x"></i></a>
                            <a @click="next()" class="pull-right"><i class="fa fa-angle-right fa-2x"></i></a>
                        </div>
                    </div>
                </div>



                <div class="small-12 medium-7 commisions-activities">
                    <div class="head">
                        <h6><b>COMMISSIONS BREAKDOWN</b></h6>
                    </div>
                    <div class="body">
                        <div>
                            <el-tabs type="card">
                                <el-tab-pane label="INVESTMENTS">
                                    <div class=""  v-if="inv_schedules.length > 0">
                                        <div class="crims-table-area table_scroll">
                                            <table class="crims-table">
                                                <thead class="crims-table-head">
                                                <tr>
                                                    <th>Description</th>
                                                    <th>Principal</th>
                                                    <th>Value Date</th>
                                                    <th>Maturity Date</th>
                                                    <th>Rate</th>
                                                    <th>Amount</th>
                                                </tr>
                                                </thead>
                                                <tbody class="crims-table-body">
                                                <tr v-for="schedule in inv_schedules">
                                                    <td>{{ schedule.description }}</td>
                                                    <td>{{ schedule.principal | currency }}</td>
                                                    <td>{{ schedule.invested_date | date }}</td>
                                                    <td>{{ schedule.maturity_date | date }}</td>
                                                    <td>{{ schedule.rate }}%</td>
                                                    <td>{{ schedule.amount | currency }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Total</th>
                                                    <td colspan="4"></td>
                                                    <th>{{ inv_schedules_total | currency}}</th>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div class="crims-table-area table_scroll">
                                            <h6>CLAW BACKS</h6>
                                            <hr>
                                            <table class="crims-table" >
                                                <thead class="crims-table-head">
                                                <tr>
                                                    <th>Description</th>
                                                    <th>Principal</th>
                                                    <th>Value Date</th>
                                                    <th>Maturity Date</th>
                                                    <th>Amount</th>
                                                </tr>
                                                </thead>
                                                <tbody  class="crims-table-body">
                                                <tr  v-for="claw in claw_backs">
                                                    <td>{{ claw.description }}</td>
                                                    <td>{{ claw.principal | currency }}</td>
                                                    <td>{{ claw.invested_date | date }}</td>
                                                    <td>{{ claw.maturity_date | date }}</td>
                                                    <td>{{ claw.amount | currency }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Total</th>
                                                    <td colspan="3"></td>
                                                    <th>{{ claw_backs_total| currency }}</th>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <el-alert v-else
                                            title="No data to display"
                                            type="info"
                                            show-icon>
                                    </el-alert>
                                </el-tab-pane>
                                <el-tab-pane label="UNIT TRUST">
                                    <table class="crims-table" v-if="utf_schedules.length > 0">
                                        <thead class="crims-table-head">
                                        <tr>
                                            <th>Description</th>
                                            <th>Unit Fund</th>
                                            <th>Date</th>
                                            <th>Amount</th>
                                        </tr>
                                        </thead>
                                        <tbody class="crims-table-body">
                                        <tr v-for="utfSchedule in utf_schedules">
                                            <td>{{ utfSchedule.description }}</td>
                                            <td>{{ utfSchedule.fund }}</td>
                                            <td>{{ utfSchedule.date | date }}</td>
                                            <td>{{ utfSchedule.amount | currency }}</td>
                                        </tr>
                                        <tr>
                                            <th>Total</th>
                                            <td colspan="2"></td>
                                            <th>{{ utf_schedules_total | currency }}</th>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <el-alert v-else
                                              title="No data to display"
                                              type="info"
                                              show-icon>
                                    </el-alert>
                                </el-tab-pane>
                                <el-tab-pane label="REAL ESTATE">
                                    <table class="crims-table" v-if="re_schedules.length > 0">
                                        <thead class="crims-table-head">
                                        <tr>
                                            <th>Description</th>
                                            <th>Project</th>
                                            <th>Unit</th>
                                            <th>Date</th>
                                            <th>Amount</th>
                                        </tr>
                                        </thead>
                                        <tbody class="crims-table-body">
                                        <tr v-for="schedule in re_schedules">
                                            <td>{{ schedule.description }}</td>
                                            <td>{{ schedule.project }}</td>
                                            <td>{{ schedule.unit }}</td>
                                            <td>{{ schedule.date | date }}</td>
                                            <td>{{ schedule.amount | currency }}</td>
                                        </tr>
                                        <tr>
                                            <th>Total</th>
                                            <td colspan="3"></td>
                                            <th>{{ re_schedules_total | currency}}</th>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <el-alert v-else
                                              title="No data to display"
                                              type="info"
                                              show-icon>
                                    </el-alert>
                                </el-tab-pane>
                                <el-tab-pane label="OTC SHARES">
                                    <table class="crims-table" v-if="otc_schedules.length > 0">
                                        <thead class="crims-table-head">
                                        <tr>
                                            <th>Description</th>
                                            <th>Entity</th>
                                            <th>Date</th>
                                            <th>Amount</th>
                                        </tr>
                                        </thead>
                                        <tbody class="crims-table-body">
                                        <tr v-for="schedule in otc_schedules">
                                            <td>{{ schedule.description }}</td>
                                            <td>{{ schedule.entity }}</td>
                                            <td>{{ schedule.date | date }}</td>
                                            <td>{{ schedule.amount | currency }}</td>
                                        </tr>
                                        <tr>
                                            <th>Total</th>
                                            <td colspan="2"></td>
                                            <th>{{ otc_schedules_total | currency}}</th>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <el-alert v-else
                                              title="No data to display"
                                              type="info"
                                              show-icon>
                                    </el-alert>
                                </el-tab-pane>
                            </el-tabs>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style>

</style>