<script>
    import {mapState, mapGetters} from 'vuex';
    import VueTable from '../../../mixins/vuetable/paginationMixins';

    export default {
        mixins: [VueTable],
        data () {
            return {
                fields: [
                    {
                        name: 'name',
                        title: 'Name'
                    },
                    {
                        name: 'amount',
                        title: 'Amount'
                    },
                    {
                        name: 'rank',
                        title: 'Rank'
                    },
                    {
                        name: 'override',
                        title: 'Override',
                    }

                ],

                url: ''
            }
        },

        created() {
            this.url = `/api/fa/${this.fa.id}/overrides?date=${this.date}`
        },

        computed: {
            ...mapGetters({
                currentFa: 'currentFa',
                date: 'getCommissionDate',
            }),

            fa(){
                try{
                    if(this.currentFa.id == this.fa_id) return this.currentFa;
                }catch (err){}

                return {id: this.fa_id}
            },

            fa_id(){
                let param = this.$route.params.faId;

                if(param === undefined) return this.currentFa.id;

                return param;
            }
        },

        mounted () {
            this.$store.commit('GET_FA_OVERRIDES',  {fa:this.fa, date: this.date});
        }

    }
</script>
<template>
    <div class="crims-page commisions">

        <fa-breadcrumb>
            <h3> <router-link :to="{name: 'sales.invcommissions'}">Commissions</router-link>  <span>Overrides</span></h3>
        </fa-breadcrumb>

        <div class="commision-product">
            <div class="crims-table-area table_scroll">


                <vuetable ref="vuetable"
                          :api-url="url"
                          :fields="fields"
                          :multi-sort="true"
                          :per-page="10"
                          pagination-path=""
                          @vuetable:pagination-data="onPaginationData">
                    <template slot="actions" slot-scope="props" class="action">
                        <router-link v-show="props.rowData.instructionType == 'purchase'" :to="{name: 'unittrust.purchase', params: {fundId: $route.params.id, id: props.rowData.id} }">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </router-link>
                    </template>
                </vuetable>

                <div class="crims-table-area__foot">
                    <div class="vuetable-pagiclination crims-table-area__pagination  ui basic segment grid">
                        <vuetable-pagination-info ref="paginationInfo"></vuetable-pagination-info>
                        <vuetable-pagination :css="pagination" ref="pagination" @vuetable-pagination:change-page="onChangePage">
                        </vuetable-pagination>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<style>
    
</style>