<script>
    import {mapState, mapGetters} from 'vuex';
    import moment from 'moment';

    export default {
        data () {
            return {
                prodType: this.$route.params.pName
            }
        },
        computed: {
            ...mapGetters({
                faProdCommissions: 'faProdCommissions',
                currentFa: 'currentFa',
                date: 'getCommissionDate',
                slectedCurrency: 'slectedCurrency'
            }),

            fa(){
                try{
                    if(this.currentFa.id == this.fa_id) return this.currentFa;
                }catch (err){}

                return {id: this.fa_id}
            },

            fa_id(){
                let param = this.$route.params.faId;

                if(param === undefined) return this.currentFa.id;

                return param;
            },

            inv_schedules(){
                try{
                    return this.faProdCommissions.products[0].schedules;
                }catch (err){}

                return [];
            },

            inv_schedules_total(){
                return this.inv_schedules.reduce(function (carry, val) {
                    return carry + parseFloat(val.amount);
                }, 0)
            },

            re_schedules(){
                try{
                    return this.faProdCommissions.products[1].schedules;
                }catch (err){}
                return [];
            },

            re_schedules_total(){
                return this.re_schedules.reduce(function (carry, val) {
                    return carry + parseFloat(val.amount);
                }, 0)
            },

            utf_schedules(){
                try{
                    return this.faProdCommissions.products[2].schedules;
                }catch (err){}
                return [];
            },

            utf_schedules_total(){
                return this.utf_schedules.reduce(function (carry, val) {
                    return carry + parseFloat(val.amount);
                }, 0)
            },

            otc_schedules(){
                try{
                    return this.faProdCommissions.products[3].schedules;
                }catch (err){}
                return [];
            },

            otc_schedules_total(){
                return this.otc_schedules.reduce(function (carry, val) {
                    return carry + parseFloat(val.amount);
                }, 0)
            }
        },

        methods: {
        },

        mounted () {
            this.$store.commit('GET_FA_PROD_COMMISSIONS', {
                fa:this.fa,
                date: this.date,
                currency: this.slectedCurrency
            });

            this.$store.dispatch('fetchSummary', {
                fa:this.fa,
                date: this.date,
                currency: this.slectedCurrency
            });
        }

    }
</script>

<template>
    <div class="crims-page commisions">

        <fa-breadcrumb>
            <h3> <router-link :to="{name: 'sales.invcommissions'}">Commissions</router-link>  <span>Commissions for Investments</span></h3>
        </fa-breadcrumb>

        <div class="commision-product">
            <div class="commision-tables">
                <div class="crims-table-area table_scroll commision-tables" v-if="prodType === 'Investments' ">
                    <div class="head">
                        <h3></h3>
                    </div>
                    <table class="crims-table">
                        <thead class="crims-table-head">
                        <tr>
                            <th>Client code</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Principal</th>
                            <th>Value Date</th>
                            <th>Maturity Date</th>
                            <th>Rate</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody class="crims-table-body">
                        <tr v-for="schedule in inv_schedules">
                            <td>{{ schedule.client_code }}</td>
                            <td>{{ schedule.client_name }}</td>
                            <td>{{ schedule.description }}</td>
                            <td>{{ schedule.principal | currency }}</td>
                            <td>{{ schedule.invested_date | date }}</td>
                            <td>{{ schedule.maturity_date | date }}</td>
                            <td>{{ schedule.rate }}%</td>
                            <td>{{ schedule.amount | currency }}</td>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <td colspan="6"></td>
                            <th>{{ inv_schedules_total | currency}}</th>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="crims-table-area commision-tables table_scroll" v-else-if="prodType === 'Real_Estate' ">
                    <div class="head">
                        <h3>Commissions for Real Estate</h3>
                    </div>

                    <table class="crims-table">
                        <thead class="crims-table-head">
                        <tr>
                            <th>Client code</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Project</th>
                            <th>Unit</th>
                            <th>Date</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody class="crims-table-body">
                        <tr v-for="schedule in re_schedules">
                            <td>{{ schedule.client_code }}</td>
                            <td>{{ schedule.client_name }}</td>
                            <td>{{ schedule.description }}</td>
                            <td>{{ schedule.project }}</td>
                            <td>{{ schedule.unit }}</td>
                            <td>{{ schedule.date | date }}</td>
                            <td>{{ schedule.amount | currency }}</td>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <td colspan="5"></td>
                            <th>{{ re_schedules_total | currency}}</th>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="crims-table-area commision-tables table_scroll" v-else-if="prodType === 'Unit_Trust' ">
                    <div class="head">
                        <h3>Commissions for Unit Trust</h3>
                    </div>

                    <table class="crims-table">
                        <thead class="crims-table-head">
                        <tr>
                            <th>Client code</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Fund</th>
                            <th>Purchase Amount</th>
                            <th>Date</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody class="crims-table-body">
                        <tr v-for="schedule in utf_schedules">
                            <td>{{ schedule.client_code }}</td>
                            <td>{{ schedule.client_name }}</td>
                            <td>{{ schedule.description }}</td>
                            <td>{{ schedule.fund }}</td>
                            <td>{{ schedule.purchase_amount | currency}}</td>
                            <td>{{ schedule.date | date }}</td>
                            <td>{{ schedule.amount | currency }}</td>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <td colspan="5"></td>
                            <th>{{ utf_schedules_total | currency}}</th>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="crims-table-area commision-tables table_scroll" v-else-if="prodType === 'OTC_Shares' ">
                    <div class="head">
                        <h3>Commissions for OTC Shares</h3>
                    </div>

                    <table class="crims-table">
                        <thead class="crims-table-head">
                        <tr>
                            <th>Client code</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Entity</th>
                            <th>Purchase Amount</th>
                            <th>Date</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody class="crims-table-body">
                        <tr v-for="schedule in otc_schedules">
                            <td>{{ schedule.client_code }}</td>
                            <td>{{ schedule.client_name }}</td>
                            <td>{{ schedule.description }}</td>
                            <td>{{ schedule.entity }}</td>
                            <td>{{ schedule.purchase_amount | currency}}</td>
                            <td>{{ schedule.date | date }}</td>
                            <td>{{ schedule.amount | currency }}</td>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <td colspan="5"></td>
                            <th>{{ otc_schedules_total | currency}}</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<style>

</style>