<script>

    import Vue from 'vue';
    import {mapState, mapGetters} from 'vuex';
    import filters from '../../filters';
    import utils from '../../utils';
    import moment from 'moment';

    Vue.component('commission-chart', require('./commissions/partials/commission-chart.vue'));

    import * as types from '../../store/mutation-types';

    export default {
        data: function () {
            return {
                pieChartData: [ ],
                currency: 'KES',
                form: {},
                item: {}
            }
        },
        computed: {
            ...mapGetters({
                currentUser: 'currentUser',
                currentFa: 'currentFa',
                summary: 'getFaSummary',
                date: 'getCommissionDate',
                faClientCommissions: 'faClientCommissions',
                fetchingCommission: 'fetchingCommission',
                fetchingClients: 'fetchingClients',
                currencies: 'currencies',
                exportCommission: 'exportCommission',
                exportingCommission: 'exportingCommission',
                commissionFetchTimeout: 'commissionFetchTimeout'
            }),
            month(){
                return moment(this.summary.end).format('MMMM \'YY');
            },
            fa(){
                try{
                    if(this.currentFa.id === this.fa_id) return this.currentFa;
                }catch (err){}

                return {id: this.fa_id}
            },
            products(){
                try{
                    return this.summary.products;
                }catch (err){
                    return [{}, {}]
                }
            },
            fa_id(){
                let param = this.$route.params.faId;

                if(param === undefined) return this.currentFa.id;

                return param;
            },
            change(){
                let now = this.summary.total;
                let before = this.summary.previous;

                let sign = '<i class="fa fa-long-arrow-up" aria-hidden="true"></i> ';
                if(now < before) sign = '<i class="fa fa-long-arrow-down" aria-hidden="true"></i> ';

                let percentage = 0;

                if(now !== 0) percentage = filters.roundFilter(100* (Math.abs(now - before))/now, 0);

                return sign+percentage+'%';
            },
            days(){
                return moment(this.summary.end).fromNow();
            },
            activeFaClientCommissions () {
                var faComms = this.faClientCommissions;

                if(faComms instanceof Array) return faComms.filter(val => val.total !== 0);

                return [];
            },
            its_my_fa(){
                if (this.summary){
                    if (this.summary.fa){
                        return this.summary.fa.name;
                    }else{
                        return false;
                    }
                }else{
                    return false;
                }
            },
            my_fa(){
                if (this.summary){
                    if (this.summary.fa){
                        return this.summary.fa;
                    }else{
                        return {}
                    }
                }
            }
        },

        watch: {
            summary: {
                handler: function () {

                    if (this.summary.products.length > 0){

                        var products = this.summary.products;
                        var pieData = [];

                        $.each(products, function(key, val)
                        {
                            pieData.push( {
                                label: val.name,
                                value: filters.roundFilter(val.total_commission, 2)
                            });
                        });

                        this.pieChartData = pieData;
                    }

                },
                deep: true
            },

            currency: {
                handler: function () {

                    this.fetchSummary();

                    this.fetchClientSummary();

                    this.$store.commit('SET_CURRENCY', this.currency)
                }
            }
        },

        methods: {
            pluck(arr, prop){
                let out = [];

                $.each(arr, function(val)
                {
                    out.push(val[prop]);
                });
                return out;
            },
            presentProducts (products){
                let out = '';

                products.forEach(function(product) {
                    let comms = parseFloat(product.total);

                    return comms != 0 ? out = out+ '<span class="label product">'+product.short_name+'</span>': out;
                });

                return out;
            },

            viewStatements (data) {
                this.$store.dispatch('setStatementClient', data);
                return this.$router.push({ name: "sales.commissions.client", params: { clientId: data.id, faId: this.fa.id }});
            },

            activeFormat(status)
            {
                if(status) return '<span class="active">Active</span>';
                return '<span class="">Inactive</span>';
            },
            decimalFormat(number){
                return filters.currencyFilter(number);
            },
            next(){
                let new_date = moment(this.date).add(1, 'month').startOf('month').format('YYYY-MM-DD');

                this.$store.commit(types.SET_COMMISSION_DATE, new_date);

                this.fetchSummary();

                this.fetchClientSummary();
            },
            prev(){
                let new_date = moment(this.date).subtract(1, 'month').startOf('month').format('YYYY-MM-DD');
                this.$store.commit(types.SET_COMMISSION_DATE, new_date);

                this.fetchSummary();

                this.fetchClientSummary();
            },
            setScrollBar() {

                let footer = $(".sales-box-navigation");
                let parent = $(".sales-box-panel");
                let footerPos = footer.position();
                let parentPos = parent.position();
                let height = parentPos.top;
                height = footerPos.top - height;
                height = height - footer.height();

                if (height > 0) {
                    footer.css({
                        'margin-top': height + 'px'
                    });
                }
            },

            setClawbackFa() {
                this.$store.dispatch('setClawbackFa', {fa:this.fa, date: this.date})
            },

            fetchSummary: function () {

                this.form.fa = this.fa;
                this.form.date = this.date;
                this.form.currency = (this.currency) ? this.currency: 'KES';

                this.$store.dispatch('fetchSummary', this.form);
            },

            fetchClientSummary: function () {

                this.item.faId = this.fa;
                this.item.date = this.date;
                this.item.currency = (this.currency) ? this.currency: 'KES';

                this.$store.commit('FETCH_FA_CLIENT_SUMMARY', { faId: this.fa_id, date: this.date, currency: this.currency });
            },

            getCurrencies: function () {
                this.$store.commit('GET_ALL_CURRENCIES');
            },

            exportFaCommission: function () {
                this.$store.commit('EXPORT_COMMISSION', this.form);
            },

            closeExportModal: function () {
                this.$store.commit('CLOSE_EXPORT_MODAL', false);
            }
        },
        mounted(){

            this.fetchSummary();

            this.fetchClientSummary();

            this.getCurrencies();
        }
    }
</script>

<template>
    <div class="crims-page commisions">
        <fa-breadcrumb>
            <h3>Commissions</h3>
        </fa-breadcrumb>

        <div class="crims-page-area chats-area">
            <div class="page_head">
                <div class="page_head__left">
                    <div v-show="its_my_fa" class="commission_head">
                        <div class=""><h3>{{ its_my_fa }}</h3></div>
                    </div>
                </div>

                <div class="page_head__center">
                    <div class="commission_head">
                        <el-form size="mini" v-show="its_my_fa">
                            <el-select v-model="currency" placeholder="" style="width: 100%">
                                <el-option
                                        v-for="currency in currencies"
                                        :key="currency.value"
                                        :label="currency.label"
                                        :value="currency.value">
                                </el-option>
                            </el-select>
                        </el-form>
                    </div>
                </div>

                <div class="page_head__right">
                    <el-popover
                            v-if="its_my_fa"
                            placement="right"
                            width="400"
                            trigger="click">

                            <div class="banks_details">
                                <div class="title">
                                    <span>Bank Details</span>
                                </div>

                                <div class="banks_details__item">
                                    <h4><span>Bank:</span> {{my_fa.bank}} <small v-if="!my_fa.bank">No Bank Found</small></h4>
                                </div>

                                <div  class="banks_details__item">
                                    <h4><span>Branch:</span> {{my_fa.branch}} <small v-if="!my_fa.branch">No Branch Found</small></h4>
                                </div>

                                <div  class="banks_details__item">
                                    <h4><span>Account No: </span> {{my_fa.account_number}} <small v-if="!my_fa.account_number">No Account Number Found</small></h4>
                                </div>
                                <div  class="banks_details__item">
                                    <h4><span>KRA Pin: </span> {{my_fa.kra_pin}} <small v-if="!my_fa.kra_pin">No KRA Pin Found</small></h4>
                                </div>
                            </div>

                        <el-button size="mini" slot="reference">Bank Details</el-button>
                    </el-popover>
                </div>
            </div>

            <div v-if="fetchingCommission">
                <content-card-shimmer></content-card-shimmer>
            </div>

            <div class="grid-x grid-margin-x chat-box-area" v-if="!commissionFetchTimeout">
                <div class="medium-4 chat-box">
                    <div class="head">
                        <h3>TOTAL COMMISSION ({{ currency }})</h3>
                    </div>
                    <div class="chat">
                        <div class="chat__stats">
                            <div class="date">
                                <h3><span>Period:</span> {{ summary.start | date}} - {{ summary.end | date}}</h3>
                            </div>
                            <div class="total">
                                <h3>{{ summary.total_commission | currency }}</h3>
                            </div>
                            <div class="data">
                                <div class="days">
                                    <p>{{ days }}</p>
                                </div>
                                <div class="change">
                                    <p class="commission-rate" v-html="change"> </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="foot">
                        <a @click="prev()" class=""><i class="fa fa-angle-left fa-2x"></i></a>
                        <a @click="next()" class="pull-right"><i class="fa fa-angle-right fa-2x"></i></a>
                    </div>
                </div>

                <div class="medium-4 chat-box chat-table">
                    <div class="head">
                        <h3>SUMMARY</h3>
                    </div>

                    <div class="chat" >
                        <div v-if="fetchingCommission">
                            <content-card-shimmer></content-card-shimmer>
                        </div>
                        <div v-else class="chat-table">
                            <table>
                                <tbody>
                                <tr v-for="p in products">
                                    <td>
                                        <router-link :to="{name: 'sales.invcommissions.products', params: { faId: fa_id, pName: p.name.replace(/ /g,'_') }}">
                                            <span>{{ p.name }}</span>
                                        </router-link>
                                    </td>
                                    <td> {{ p.earned | currency }} </td>
                                </tr>
                                <tr><td><router-link :to="{name: 'sales.invcommissions.overrides', params: { faId: this.fa_id }}"><span>Overrides</span></router-link></td><td>{{ summary.overrides | currency }}</td></tr>
                                <tr><td><router-link :to="{name: 'sales.invcommissions.clawbacks', params: { faId: this.fa_id }}"><span @click="setClawbackFa()">Claw Backs</span></router-link></td><td>({{ summary.claw_backs | currency }})</td></tr>
                                <tr v-if="summary.advance_commission != 0"><td><span>Advance Commission</span></td><td>{{ summary.advance_commission | currency }}</td></tr>
                                <tr v-if="summary.unpaid_advance_commission != 0"><td><span>Unpaid Advance Commission</span></td><td>({{ summary.unpaid_advance_commission | currency }})</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="medium-4 chat-box no-foot">
                    <div class="head">
                        <h3>COMMISSION BY PRODUCT ({{ currency }})</h3>
                    </div>
                    <div class="chat">
                        <!--<pie-chart :data="pieChartData"></pie-chart>-->
                        <div v-if="fetchingCommission">
                            <content-card-shimmer></content-card-shimmer>
                        </div>
                        <div v-else>
                            <commission-chart :data = "pieChartData"></commission-chart>
                        </div>
                    </div>
                </div>
            </div>

            <div class="" v-else>
                <el-button type="primary" round @click="exportFaCommission">
                    <i class="el-icon-loading" v-if="exportingCommission"></i>
                    Export
                </el-button>
            </div>
        </div>

        <br>

        <div class="crims-page-area chats-area">
            <div class="page_head">
                <div class="page_head__left">
                    <div class="commission_head">
                        <div class=""><h3>COMMISSION PER CLIENT</h3></div>
                    </div>
                </div>
            </div>

            <div v-if="fetchingClients">
                <content-card-shimmer></content-card-shimmer>
            </div>

            <div class="small-12 medium-12 commision-table-area" v-else>
                <div class="commision-table" v-if="activeFaClientCommissions.length > 0">
                    <table class="table table-responsive c-table">
                        <thead>
                        <tr>
                            <th>Client code</th>
                            <th>Name</th>
                            <th>Products</th>
                            <th>Commissions ({{ currency }})</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="comm in activeFaClientCommissions">
                            <td>{{ comm.code }}</td>
                            <td>{{ comm.name }}</td>
                            <td v-html="presentProducts(comm.products)"></td>
                            <td>{{ comm.total | currency }}</td>
                            <td v-html="activeFormat(comm.active)"></td>
                            <td @click.prevent="viewStatements(comm)"><a><i class="fa fa-eye"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <el-dialog
                title="COMMISSION SUMMARY"
                :visible.sync="exportCommission"
                width="30%"
                close="false">
            <span>
                <el-alert
                        title="Ooop! Took too long to calculate commission, kindly click export to receive the same in your email."
                        type="success"
                        :closable="false">
                </el-alert>
            </span>
            <span slot="footer" class="dialog-footer">
                <el-button size="small" type="primary" @click="exportFaCommission">
                    <i class="el-icon-loading" v-if="exportingCommission"></i>
                    Export
                </el-button>
                <el-button size="small" type="danger" @click="closeExportModal">Cancel</el-button>
              </span>
        </el-dialog>
    </div>
</template>

<style>

    canvas {
        text-align: center !important;
        height: 186px !important;
    }
</style>