<script>
    import {mapGetters} from 'vuex';
    import PaginationMixins from '../../../../../mixins/vuetable/paginationMixins';

    export default {
        mixins: [PaginationMixins],
        data() {
            return {
                fields: [
                    {
                        name: 'type_name',
                        title: 'Type'
                    },
                    {
                        name: 'product',
                        title: 'Product'
                    },
                    {
                        name: 'date',
                        title: 'Date'
                    },
                    {
                        name: 'amount',
                        title: 'Amount',
                        callback: 'currencyLabel'
                    }
                ]
            }
        },
        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient'
            }),

            url: function () {
                return '/api/client/' + this.selectedClient.id + '/activity-log/brief';
            }
        },
        methods: {
            currencyLabel(value) {

                value = !value ? 0 : Math.round(value * Math.pow(10, 0)) / Math.pow(10, 0);

                let parts = value.toString().split(".");

                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");

                return parts.join(".");
            },

            viewMore() {
                this.$router.push({name: 'Activities'});
            }
        }

    }
</script>

<template>
    <div class="sp-recent-activities">
        <div class="heading">
            <span class="heading-left">
                <p>RECENT ACTIVITIES</p>
            </span>
        </div>

        <div class="recent-activities-area">
            <div>
                <div class="crims-table-area table_scroll">
                    <vuetable ref="vuetable"
                              :api-url="url"
                              :fields="fields"
                              :multi-sort="true"
                              :per-page="5"
                              :noDataTemplate="noData"
                              pagination-path=""
                              @vuetable:loaded="onLoaded">
                    </vuetable>
                    <div v-if="vueTableLoading">
                        <content-card-shimmer></content-card-shimmer>
                    </div>

                </div>
                <div>

                </div>
            </div>
        </div>

        <br>

        <div class="">
            <el-button
                    size="mini"
                    round
                    @click="viewMore"
            >
                <i class="el-icon-arrow-right"></i> VIEW ALL ACTIVITIES
            </el-button>
        </div>
    </div>
</template>