<template>
    <div class="admin_breadcrumb">
        <div class="admin_breadcrumb__title">
            <h5>{{title}}</h5>
        </div>
        <div class="admin_breadcrumb__navigation">
            <div class="breadcrumb_home"><a href="/">Home</a></div>
            <div class="menu_sub"><slot name="sub_1"></slot></div>
            <div class="menu_sub"><slot name="sub_2"></slot></div>
            <div class="menu_sub"><slot name="sub_3"></slot></div>
            <div class="menu_sub"><slot name="sub_4"></slot></div>
            <div class="menu_sub"><slot name="sub_5"></slot></div>
            <div class="menu_sub"><slot name="sub_6"></slot></div>
            <div class="menu_sub"><slot name="sub_7"></slot></div>
            <div class="menu_sub"><slot name="sub_8"></slot></div>
            <div class="menu_sub"><slot name="sub_9"></slot></div>
            <div class="menu_sub"><slot name="sub_10"></slot></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "breadcrumb",
        props: {
            title: {
                default: ''
            }
        }
    }
</script>
