<script>
    export default {
        data(){
            return {
                minimised: true,

                menus: [
                    { name: 'Dashboard', link: '/dashboard', 'icon': 'fa-dashboard' },
                    { name: 'Clients', link: '/dashboard/clients/menu', 'icon': 'fa-users' },
                    {
                        name: 'Investments', link: '/dashboard/investments', 'icon': 'fa-table',
                        children: [
                            {name: 'Menu', link: '/dashboard/investments'},
                            {name: 'Applications', link: '/dashboard/investments/applications'},
                            {name: 'Investments', link: '/dashboard/investments/clientinvestments'},
                            {name: 'Summary', link: '/dashboard/investments/summary'}
                        ]
                    },
                    {
                        name: 'Portfolio', link: '/dashboard/portfolio', 'icon': 'fa-institution',
                        children: [
                            {name: 'Menu', link: '/dashboard/portfolio'},
                            {name: 'Investments', link: '/dashboard/portfolio/investments'},
                            {name: 'Custodial Accounts', link: '/dashboard/portfolio/custodials'},
                            {name: 'Summary', link: '/dashboard/portfolio/summary'}
                        ]
                    },
                    { name: 'Shares', link: '/dashboard/shares', 'icon': 'fa-buysellads' },
                    { name: 'Real Estate', link: '/dashboard/realestate', 'icon': 'fa-building-o' },
                    {
                        name: 'User Mgt', link: '/dashboard/users/clients', 'icon': 'fa-users',
                        children: [
                            {name: 'Users', link: '/dashboard/users'},
                            {name: 'Clients', link: '/dashboard/users/clients'},
                            {name: 'Permissions', link: '/dashboard/users/permissions'},
                            {name: 'Roles', link:'/dashboard/users/roles'}
                        ]
                    },
                    { name: 'System', link: '/dashboard/system', icon: 'fa-cog'},
                    { name: 'Feedback', link: '/dashboard/feedback/create', 'icon': 'fa-comment-o' }
                ]
            }
        },
        watch: {
          minimised: function() {
              if (this.minimised)
              {
                  $('#sidebarWrapper').removeClass('col-md-2  scrollable');
                  $('#contentWrapper').removeClass('col-md-10');

                  $('.collapse_item').removeClass("in");
              }
              else {
                  $('#sidebarWrapper').addClass('col-md-2  scrollable');
                  $('#contentWrapper').addClass('col-md-10');
              }
          }
        },
        methods: {
            toggle: function () {
                this.minimised = !this.minimised;

//                localStorage.setItem('sidebarMinimised', this.minimised)
            },
            clickMenu: function (evt, menu) {
                if(!menu.children) menu.children = [];

                if(!this.minimised && menu.children.length > 0)
                {
                    evt.preventDefault();
                    evt.stopPropagation();

                    if(menu) menu.expanded = !menu.expanded;


                    let el = $('#target'+menu.name.replace(" ", "_"));

                    if(el.hasClass("in")){
                        el.removeClass("in")
                    }
                    else {
                        el.addClass("in");
                    }
                }
            }
        },
        mounted:function(){
//           this.minimised = localStorageService.getItem('sidebarMinimised');
        }
    }
</script>

<style scoped>
    .large-icon{
        font-size: 1.5em;
    }
    .right{
        float: right;
    }

    .slide-fade-enter-active {
        transition: all .3s ease;
    }
    .slide-fade-leave-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to
        /* .slide-fade-leave-active below version 2.1.8 */ {
        transform: translateX(10px);
        opacity: 0;
    }
</style>
<template>
    <transition name="slide-fade">
        <div class="sidebar-wrapper group" :class="{'sidebarminimised': minimised, 'sidebarexpanded':!minimised}">
            <div  class="navgroup">
                <ul  class="nav navbar-nav side-nav clearfix" style="overflow: auto">
                    <li v-for="menu in menus">
                        <a :href="menu.link" @click="clickMenu($event, menu)" data-toggle="tooltip" :name="menu.name" :title="menu.name">
                            <i class="fa fw" :class="[menu.icon, {'large-icon': minimised}]"></i>

                            <span v-show="!minimised">
                            {{ ' '+menu.name }}

                            <i class="fa pull-right" :class="{'fa-angle-down': menu.expanded && menu.children, 'fa-angle-up':(!menu.expanded) && menu.children}"></i>
                        </span>
                        </a>

                        <ul v-if="menu.children" class="collapse collapse_item" :id="'target'+menu.name.replace(' ', '_')">
                            <li v-for="child in menu.children">
                                <a :href="child.link"><span class="nav-item-label">{{ child.name }}</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div class="sidebar-footer">
                    <a href="#" class="sidebar-toggle" @click="toggle()">
                        <i class="fa " :class="{'fa-angle-double-right': minimised, 'fa-angle-double-left': !minimised }" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </transition>
</template>