<script>
    import events from '../../events'
    export default {
        data: ()=>({
            menu_on: true
        }),
        methods: {
            resize_menu(){
                events.bus.$emit('resize_menu');
            }
        },
        created(){
            events.bus.$on('resize_menu', ()=>{
                this.menu_on = !this.menu_on;
            })
        }
    }
</script>
<template>
    <a slot="resize_menu" href="#" @click="resize_menu()">
        <i v-if="menu_on" class="material-icons animated_icon">menu</i>
        <i v-else class="material-icons animated_icon">close</i>
    </a>
</template>

<style>
.animated_icon {
    cursor: pointer;
    -webkit-transition: .3s;
    transition: all .3s;

    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);

    font-size: 32px;
}
</style>