<template>
  <nav v-if="tablePagination && tablePagination.total >= 2">
    <ul class="pagination dmc-pagination">
      <li><a @click="loadPage(1)"><i class="fa fa-fast-backward"></i></a></li>
      <li><a @click="loadPage('prev')"><i class="fa fa-chevron-left"></i></a></li>
      <li><a><input v-model="newPage" @change="loadPage(newPage)"/> of {{ tablePagination.last_page }}</a></li>
      <li><a @click="loadPage('next')"><i class="fa fa-chevron-right"></i></a></li>
      <li><a @click="loadPage(tablePagination.total)"><i class="fa fa-fast-forward"></i></a></li>
    </ul>
  </nav>
</template>

<script>
import PaginationMixin from './VuetablePaginationMixin.vue'

export default {
  mixins: [PaginationMixin],
      // data() {
      //     return {
      //         newPage: 1
      //     }
      // }
}
</script>
