<script>
    import ApproveMixin from './ApproveMixins'
    export default {
        name: "Approval",
        mixins: [ApproveMixin]
    }
</script>

<template>
    <div>
        <div class="confirm-top-up"
             v-show="step === 'confirm'"
             v-loading="submitting"
             element-loading-text="Please wait as the Transaction information provided is being submitted">

            <div class="description">
                <h3>Type</h3>
                <p>{{transaction.type}}</p>
            </div>

            <div class="description">
                <h3>Product</h3>
                <p>{{transaction.product}}</p>
            </div>

            <div class="description">
                <h3>Amount</h3>
                <p>{{transaction.amount}}</p>
            </div>

            <div class="description">
                <h3>Transaction Date</h3>
                <p>{{transaction.date}}</p>
            </div>

            <div class="description">
                <h3>Requester</h3>
                <p>{{approver.user}}</p>
            </div>

            <div class="description">
                <div class="topup-investment-rate-info confirm-topup-info">
                    You are <strong>{{approve_status === 1 ? 'Approving' : 'Rejecting' }}</strong> a {{transaction.type}} of <strong>{{transaction.amount}}</strong>
                </div>
            </div>
            <br />
            <div class="description" v-show="approve_status === 2">
                <h3>Reason</h3>
                <p>You are about to reject a {{transaction.type}} of <strong>{{transaction.amount}}</strong> issued by <strong>{{approver.user}}</strong>. Kindly provide a reason for the action before submitting. </p>
                <el-form ref="approveForm" :rules="rules" :model="approveForm">
                    <el-form-item prop="reason">
                        <el-input
                                type="textarea"
                                v-model="approveForm.reason"
                                :rows="3"></el-input>
                    </el-form-item>
                </el-form>
            </div>

            <div class="description last">
                <el-button type="custom-success" @click="submit()">
                    {{approve_status === 1 ? 'Approve' : 'Reject' }}
                </el-button>
                <el-button class="crims_action_button default" @click="cancel">Cancel</el-button>
            </div>

        </div>

        <div v-show="step === 'success'">
            <div class="rollover-success">
                <div class="message">
                    <h3>Approval Information was submitted successfully. We will notify you after 24 hours and update the details accordingly. Thank you.  </h3>
                </div>
                <div class="icon">
                    <h1><i class="fa fa-check-circle" aria-hidden="true"></i></h1>
                </div>
            </div>
        </div>

    </div>
</template>
