<script>
    import Vue from 'vue';
    import { mapGetters } from 'vuex';

    Vue.component('add-joint', require('./partials/joint.vue'));

    export default {

        props: ['name'],

        data() {
            return {
                holder: false,
                holders: [],
            }
        },
        computed: {

            ...mapGetters({
                holdersModal: 'holdersModal',
                jointHolders: 'jointHolders'
            }),

            jointers() {
                if(this.jointHolders.length > 0) {
                    return JSON.stringify(this.jointHolders);
                }
            }
        },

        watch: {
            jointHolders: {
                handler: function () {
                    if(this.jointHolders.length > 0) this.holder  = true;
                    this.holders = this.jointHolders;
                }
            },

            jointers: {
                handler: function () {
                    this.$store.commit('SET_JOINT_HOLDERS', jointers);
                }
            }
        },

        methods: {

            openModal: function () {
                this.$store.commit('HOLDER_MODAL', true);
            },

            removeHolder: function (holder) {
                this.$store.commit('REMOVE_HOLDER', holder);
            }
        }
    }
</script>

<template>
    <div>
        <div v-if="holder">
            <table class="table table-responsive-table-hover table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email Address:</th>
                        <th>Phone Number:</th>
                        <th>Pin Number:</th>
                        <th>ID/Passport:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="holder in holders">
                        <td> {{ holder.firstname }}  {{ holder.lastname }}</td>
                        <td> {{ holder.email }} </td>
                        <td> {{ holder.telephone_cell }} </td>
                        <td> {{ holder.pin_no }} </td>
                        <td> {{ holder.id_or_passport }} </td>
                        <td> <span> <el-button type="danger" @click="removeHolder(holder)" size="mini"><i class="fa fa-remove"></i></el-button></span></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <hr>
        </div>

        <div>
            <el-button @click="openModal">add joint holder</el-button>
            <input type="hidden" :name="name" v-model="jointers">
        </div>
        
        <div class="">

            <el-dialog
                    :visible.sync="holdersModal"
                    width="100%"
                    :show-close="false"
                    :close-on-click-modal="false">
                <add-joint></add-joint>
            </el-dialog>
        </div>
    </div>
</template>