<script>
    import vSelect from "vue-select";
    import {mapGetters} from 'vuex';

    export default {
        components: {vSelect},

        props: ['name', 'edit'],

        data() {
            return {
                selectedClient: null,
                select_options: [],
                client: {},
                loading: false
            }
        },

        watch: {
            selectedClient: function () {
                this.client = this.selectedClient;
                this.$store.commit('SET_SELECTED_CLIENT', this.selectedClient);
                this.$emit('selected', this.selectedClient.value)
            }
        },

        methods: {
            getOptions(search) {
                this.search(search, this)
            },

            search: _.debounce((search, vm) => {
                vm.loading = true;
                axios.post('/api/clients/all', {query: search})
                    .then(({data}) => {
                        vm.select_options = data.data;
                        vm.loading = false;
                    })
            }, 350),

            getClientId() {

                if (this.selectedClient) return this.selectedClient.id;

                return null;
            },
        },

        computed: {
            ...mapGetters({
                clientForm: 'clientForm',
                existingClient: 'existingClient',
                individualType: 'individualType',
                subscriberErrors: 'subscriberErrors',
                contactMethods: 'contactMethods'
            })
        },
    }
</script>

<template>
    <div>
        <div>
            <el-select
                    v-model="selectedClient"
                    clearable
                    filterable
                    remote
                    reserve-keyword
                    placeholder="Search client"
                    :remote-method="getOptions"
                    :loading="loading"
                    loading-text="Loading..."
                    style="width: 100%"
            >
                <el-option
                        v-for="item in select_options"
                        :key="item.value"
                        :label="item.label"
                        :value="item">
                </el-option>
            </el-select>
            <input type="hidden" :name="name" v-model="client.value">
        </div>
        <br>
        <div>
            <table class="table table-responsive-table-hover table-striped" v-if="client.hasOwnProperty('value')">
                <thead>
                <tr>
                    <th>CODE</th>
                    <th>NAME:</th>
                    <th>EMAIL ADDRESS:</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> {{ client.code }}</td>
                    <td> {{ client.label }}</td>
                    <td> {{ client.email }}</td>
                </tr>
                </tbody>
            </table>

            <table class="table table-responsive-table-hover table-striped"
                   v-if="!client.hasOwnProperty('value') && edit">
                <thead>
                <tr>
                    <th>CODE</th>
                    <th>NAME:</th>
                    <th>EMAIL ADDRESS:</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> {{ clientForm.client_id }}</td>
                    <td v-if="individualType === 0 || existingClient">{{ existingClient }}</td>
                    <td v-else> {{ clientForm.firstname }}&nbsp;{{ clientForm.middlename }}&nbsp;{{ clientForm.lastname
                        }}
                    </td>
                    <td> {{ clientForm.email }}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</template>
<style>
    /*.input-group, el-select, .el-select {*/
    /*width: 100%*/
    /*}*/
</style>