<script>
    export default {
        props: ['name'],
        data() {
            return {
                test: [
                    { name: 'Yakov' },
                    { name: 'Talia' },
                    { name: 'Faith' },
                ]
            }
        },
        computed: {
            test_value() {
                return JSON.stringify(this.test);
            }
        }
    }
</script>

<template>
    <div>
        <div>
            <el-button type="success"></el-button>
            <input type="hidden" :name="name" v-model="test_value">
        </div>
    </div>
</template>