<script>
    import ReportController from './report';
    import { mapGetters } from 'vuex';
    import Vue from 'vue';

    Vue.component('arguments-table', require('./arguments-table'));

    export default {

        mixins:[ ReportController ],

        computed: {
            ...mapGetters({
                reportArguments: 'reportArguments',
                modelColumns: 'modelColumns'
            })
        }
    }

</script>
<template>
    <div class="">
        <div class="panel">
            <div class="panel-body">

                <div class="">
                    <h5><b>STEP 3: REPORT ARGUMENTS</b></h5>
                </div>

                <hr>

                <div class="row"  v-if="reportArguments.length > 0">
                    <div class="col-md-12">
                        <arguments-table></arguments-table>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-4">
                        <p><b>Select column:</b></p>
                        <el-select
                                v-model="argumentForm.column_id"
                                filterable
                                placeholder="Select column"
                                style="width: 100%;">
                            <el-option
                                    v-for="col in savedColumns"
                                    :key="col.id"
                                    :label="col.label"
                                    :value="col.id">
                            </el-option>
                        </el-select>
                    </div>

                    <div class="col-md-4">
                        <p><b>Is the argument value dynamic:</b></p>
                        <el-checkbox v-model="argumentForm.dynamic" border size="small">Yes</el-checkbox>
                    </div>

                    <div class="col-md-4" v-if="!argumentForm.dynamic">
                        <p><b>Enter argument value:</b></p>
                        <el-input  v-model="argumentForm.value" placeholder="argument value"></el-input>
                    </div>

                </div>

                <br>

                <div class="row">
                    <div class="col-md-12">
                        <el-button type="success" @click="addArguments" size="mini"> <i class="el-icon-plus"></i> add argument</el-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>