<script>
    import ReportController from './report';

    export default {

        mixins:[ ReportController ],

        methods: {
            remove: function (column) {
                this.$store.commit('REMOVE_ARGUMENT', column);
            }
        },
    }
</script>

<template>
    <div class="">
        <el-table
                :data="reportArguments"
                style="width: 100%">

            <el-table-column
                    prop="value"
                    label="Value"
                    width="260">
            </el-table-column>

            <el-table-column
                    prop="index"
                    label="Index"
                    width="260">
            </el-table-column>

            <el-table-column
                    prop="dynamic"
                    label="Dynamic"
                    width="230">
            </el-table-column>

            <el-table-column
                    label="Actions">
                <template slot-scope="scope">
                    <el-button
                            class="el-icon-delete"
                            size="mini"
                            type="danger"
                            @click="remove(scope.row)">

                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>