<script>
    import ReportController from './report';
    import { mapGetters } from 'vuex';
    import Vue from 'vue';

    Vue.component('columns-tables', require('./columns-table'));

    export default {

        mixins:[ ReportController ],

        computed: {
            ...mapGetters({
                selectedColumns: 'selectedColumns',
                modelColumns: 'modelColumns'
            })
        }
    }

</script>
<template>
    <div class="">
        <div class="panel">
            <div class="panel-body">

                <div class="">
                    <h5><b>STEP 2: REPORT COLUMNS</b></h5>
                </div>

                <hr>

                <div class="row"  v-if="selectedColumns.length > 0">
                    <div class="col-md-12">
                        <columns-tables></columns-tables>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-4">
                        <p><b>Name:</b></p>
                        <el-select
                                v-model="selectedColumn.name"
                                filterable
                                placeholder="Select column"
                                style="width: 100%;">
                            <el-option
                                    v-for="col in modelColumns"
                                    :key="col.value"
                                    :label="col.label"
                                    :value="col.value">
                            </el-option>
                        </el-select>
                    </div>

                    <div class="col-md-4">
                        <p><b>Label:</b></p>
                        <el-input  v-model="selectedColumn.label" placeholder="column label"></el-input>
                    </div>

                    <div class="col-md-4">
                        <p><b>Format:</b></p>
                        <el-select
                                v-model="selectedColumn.format"
                                filterable
                                placeholder="Select format"
                                style="width: 100%;">
                            <el-option
                                    v-for="format in formats"
                                    :key="format.value"
                                    :label="format.name"
                                    :value="format.value">
                            </el-option>
                        </el-select>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-12">
                        <el-button type="success" @click="addColumn" size="mini"> <i class="el-icon-plus"></i> add column</el-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>