<script>
    import ReportController from './report';

    export default {

        mixins:[ ReportController ],

        methods: {
            remove: function (column) {
                this.$store.commit('REMOVE_COLUMN', column);
            }
        },


    }
</script>

<template>
    <div class="">
        <el-table
                :data="selectedColumns"
                style="width: 100%">

            <el-table-column
                    prop="label"
                    label="Label"
                    width="260">
            </el-table-column>

            <el-table-column
                    prop="name"
                    label="Column"
                    width="260">
            </el-table-column>

            <el-table-column
                    prop="format"
                    label="Format"
                    width="230">
            </el-table-column>

            <el-table-column
                label="Actions">
                <template slot-scope="scope">
                    <el-button
                            class="el-icon-delete"
                            size="mini"
                            type="danger"
                            @click="remove(scope.row)">

                    </el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>