<script>
    import ReportController from './report';
    import { mapGetters } from 'vuex';
    import Vue from 'vue';

    Vue.component('report-description', require('./description'));
    Vue.component('report-columns', require('./columns'));
    Vue.component('report-filters', require('./filters'));
    Vue.component('report-arguments', require('./arguments'));

    export default {
        mixins:[ ReportController ],

        computed: {
            ...mapGetters({
                reportForm: 'reportForm',
                selectedColumns: 'selectedColumns',
                newReport: 'newReport'
            })
        }
    }

</script>
<template>
    <div class="">
        <report-description v-if="newReport.reportDesc"></report-description>
        <report-columns v-if="newReport.reportCols"></report-columns>
        <report-filters v-if="newReport.reportFilter"></report-filters>
        <report-arguments v-if="newReport.reportArgument"></report-arguments>
    </div>
</template>s