<script>
    import ReportController from './report';
    import { mapGetters } from 'vuex';

    export default {
        mixins:[ ReportController ],

        computed: {
            ...mapGetters({
                reportForm: 'reportForm',
                modelRelations: 'modelRelations',
                fetchingRelations: 'fetchingRelations'
            })
        }
    }

</script>
<template>
    <div class="">
        <div class="panel">

            <div class="panel-body">
                <div class="">
                    <h5><b>STEP 1: REPORT DESCRIPTION</b></h5>
                </div>
                <hr>
                <div class="row">

                    <div class="col-md-6">
                        <p><b>Name:</b></p>
                        <el-input  v-model="reportForm.name" placeholder="Report name"></el-input>
                    </div>

                    <div class="col-md-6">
                        <p><b>Model:</b></p>
                        <el-select
                                v-model="reportForm.model_name"
                                filterable
                                placeholder="Select report model"
                                style="width: 100%;">
                            <el-option
                                    v-for="model in models"
                                    :key="model.value"
                                    :label="model.name"
                                    :value="model.value">
                            </el-option>
                        </el-select>
                    </div>
                </div>

                <br>

                <div class="row">

                    <div class="col-md-12">
                        <p>
                            <b>
                                <span v-if="fetchingRelations">
                                    <i class="el-icon-loading"></i> Fetching relations...
                                </span>

                                <span v-else>
                                    Select relations to be preloaded:
                                </span>
                            </b>
                        </p>
                        <el-select
                                v-model="reportForm.with_relations"
                                multiple
                                placeholder="model relations"
                                width="100%"
                        >
                            <el-option
                                    v-for="rel in modelRelations"
                                    :key="rel.value"
                                    :label="rel.label"
                                    :value="rel.value">
                            </el-option>
                        </el-select>
                    </div>

                </div>
            </div>

            <br>
            <br>

        </div>

    </div>
</template>