<script>
    import ReportController from './report';

    export default {

        mixins:[ ReportController ],

        methods: {
            remove: function (filter) {
                this.$store.commit('REMOVE_FILTER', filter);
            }
        }
    }
</script>

<template>
    <div class="">
        <span>
            <el-table
                    :data="reportFilters"
                    style="width: 100%">

            <el-table-column
                    prop="field"
                    label="Field"
                    width="200">
            </el-table-column>

            <el-table-column
                    prop="value"
                    label="Value"
                    width="200">
                    <template slot-scope="scope">
                        <span v-for="val in scope.row.value">
                            {{ val }},
                        </span>
                    </template>
            </el-table-column>

            <el-table-column
                    prop="operator"
                    label="Operator"
                    width="200">
            </el-table-column>

            <el-table-column
                    prop="boolean"
                    label="Boolean"
                    width="200">
            </el-table-column>

            <el-table-column
                    label="Actions">
                <template slot-scope="scope">
                    <el-button
                            class="el-icon-delete"
                            size="mini"
                            type="danger"
                            @click="removeFilter(scope.row)">

                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        </span>
    </div>
</template>