<script>
    import ReportController from './report';
    import { mapGetters } from 'vuex';
    import Vue from 'vue';

    Vue.component('filter-table', require('./filter-table'));

    export default {

        mixins:[ ReportController ],

        computed: {
            ...mapGetters({
                reportFilters: 'reportFilters',
            })
        }
    }

</script>
<template>
    <div class="">
        <div class="panel">
            <div class="panel-body">

                <div class="">
                    <h5><b>STEP 4: REPORT FILTERS</b></h5>
                </div>

                <div class="row"  v-if="reportFilters.length > 0">
                    <div class="col-md-12">
                        <filter-table></filter-table>
                    </div>
                </div>

                <div class="row alert alert-warning">
                    <div class="col-md-4">
                        <p><b>Select filter type:</b></p>
                        <el-select
                                v-model="filterForm.type_id"

                                filterable
                                placeholder="Select filter type"
                                style="width: 100%;">
                            <el-option
                                    v-for="filter in reportFilterTypes"
                                    :key="filter.id"
                                    :label="filter.name"
                                    :value="filter.id">
                            </el-option>
                        </el-select>
                    </div>
                </div>

                <div class="row" v-if="filterType === 'where'">
                    <div class="col-md-6">
                        <p><b>Enter field:</b></p>
                        <el-input  v-model="filterForm.field" placeholder="Field name"></el-input>
                    </div>

                    <div class="col-md-6">
                        <p><b>Enter value:</b></p>
                        <el-input  v-model="filter_value" placeholder="Value"></el-input>
                    </div>
                </div>

                <div class="" v-if="filterType === 'scope'">
                    <div class="row">
                        <div class="col-md-6">
                            <p><b>Enter value:</b></p>
                            <el-input  v-model="filter_value" placeholder="Value"></el-input>
                        </div>

                    </div>

                    <br>

                    <div class="row">
                        <div class="col-md-4">
                            <el-button size="mini" @click="addValue"><i class="el-icon-plus"></i></el-button>
                        </div>
                    </div>
                </div>

                <br>
                <hr>
                <br>

                <div class=" row" v-if="filterType === 'where'">

                    <div class="col-md-7">
                        <p><b>Choose operator:</b></p>
                        <span v-for="operator in filterOperators" class="filter-operators">
                            <el-radio v-model="filterForm.operator" :label="operator.value" border size="small">{{ operator.name }}</el-radio>
                        </span>
                    </div>

                    <div class="col-md-5">
                        <p><b>Choose boolean:</b></p>
                        <span v-for="boolean in filterBoleans" class="filter-operators">
                            <el-radio v-model="filterForm.boolean" :label="boolean.value" border size="small">{{ boolean.name }}</el-radio>
                        </span>
                    </div>

                </div>

                <hr>

                <br>

                <div class="row">
                    <div class="col-md-12">
                        <el-button type="success" @click="addFilter" size="mini"> <i class="el-icon-plus"></i> add filter</el-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>