<script>
    import Vue from 'vue';
    import { mapGetters } from 'vuex';
    import ReportController from './report';

    Vue.component('create-report', require('./create'));

    export default {
        mixins: [ ReportController ],

        computed: {
            ...mapGetters({
                report_complete: 'report_complete',
                newReport: 'newReport'
            })
        },

        mounted() {
            this.$store.commit('GET_FILTER_TYPES');
        }
    }
</script>

<template>
    <div class="">
        <el-button size="small" @click="create"><i class="el-icon-plus"></i> create</el-button>

        <div class="">
            <el-dialog
                    title = "CREATE REPORT"
                    :visible.sync="reportModal"
                    width="40%"
                    :show-close="false">
                <span>
                    <create-report></create-report>
                    <div class="panel-body">
                        <el-button type="primary" @click="addDesc" v-if="newReport.reportDesc" size="mini"> proceed <i class="el-icon-d-arrow-right"></i></el-button>
                        <el-button type="primary" @click="saveReportColumns" v-if="newReport.reportCols" size="mini"> proceed <i class="el-icon-d-arrow-right"></i></el-button>
                        <el-button type="primary" @click="saveReportFilters" v-if="newReport.reportFilter" size="mini"> proceed <i class="el-icon-d-arrow-right"></i></el-button>
                        <el-button type="primary" @click="saveReportArguments" v-if="newReport.reportArgument" size="mini"> proceed <i class="el-icon-d-arrow-right"></i></el-button>
                        <el-button type="success" @click="submit" size="mini" v-if="report_complete">
                            <i class="fa fa-spinner fa-spin" v-if="submitting"></i>
                            <i class="fa fa-save" v-else></i>
                            Save
                        </el-button>

                        <!--<el-button-group>-->
                            <!--<el-button icon="el-icon-arrow-left"  size="mini" @click="back" :disabled="newReport.reportDesc">previous</el-button>-->
                            <!--<el-button size="mini" @click="next" :disabled="newReport.reportFilter">next<i class="el-icon-arrow-right el-icon-right"></i></el-button>-->
                        <!--</el-button-group>-->

                        <el-button type="default" @click="reportModal = false" size="mini">Close</el-button>
                    </div>
                </span>
            </el-dialog>
        </div>
    </div>
</template>