<script>
    import { mapGetters } from 'vuex';

    export default {
        data() {
            return {
                selectedCompliance: []
            }
        },

        computed: {
            ...mapGetters({
                complianceList: 'complianceList',
                submitting: 'submittingCompliance'
            })
        },

        methods: {
            submit: function () {
                let fund_id = this.$route.params.fid;

                this.$store.commit('SUBMIT_SELECTED_COMPLIANCE', {
                    fund_id: fund_id,
                    selectedCompliance: this.selectedCompliance
                });
            },

            close: function () {
                this.$store.commit('LINK_TO_COMPLIANCE', false);
            },

            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.multipleTable.clearSelection();
                }
            },

            handleSelectionChange(val) {
                this.selectedCompliance = val;
            }
        }
    }
</script>

<template>
    <div class="">

        <div class="col-md-12">
            <el-table
                    ref="multipleTable"
                    :data="complianceList"
                    style="width: 100%"
                    @selection-change="handleSelectionChange">

                <el-table-column
                        type="selection"
                        width="55">
                </el-table-column>

                <el-table-column
                        label="Name"
                        width="200">
                    <template slot-scope="scope">{{ scope.row.name }}</template>
                </el-table-column>

                <el-table-column
                        label="Type"
                        width="420">
                    <template slot-scope="scope">{{ scope.row.type }}</template>
                </el-table-column>

                <el-table-column
                        label="Abbr"
                        width="180">
                    <template slot-scope="scope">{{ scope.row.abbr }}</template>
                </el-table-column>

            </el-table>

            <br>
        </div>

        <br>

        <br>

        <hr>

        <div class="panel-body">
            <button class="btn btn-primary" type="submit" @click="submit">
                <i class="el-icon-loading" v-if="submitting"></i> Proceed
            </button>

            <a class="btn btn-default" @click="close">Close</a>
        </div>
    </div>
</template>