<script>
    import Vue from 'vue';
    import vueTableMixin from '../../../mixins/vuetable_mixin';
    import { mapGetters } from 'vuex';

    Vue.component('link-to-compliance', require('./create'));

    export default {

        mixins: [vueTableMixin],

        data() {
            return {
                url: '',
                fundId: null,
                fields: [
                    { name: 'id', title: 'ID', sortField: 'id' },
                    { name: 'name', title: 'Compliance Name', sortField: 'name' },
                    { name: 'type', title: 'Compliance Type', sortField: 'type' },
                    { name: 'date', title: 'Date', sortField: 'date' },
                    { name: '__view_action', title: 'View', titleClass: 'text-center', dataClass: 'text-center' },
                ],
                tableState: {
                },
                promise: true
            }
        },

        computed: {
            ...mapGetters({
                linkToCompliance: 'linkToCompliance'
            })
        },

        methods: {
            add: function () {
                this.$store.commit('LINK_TO_COMPLIANCE', true);
            },

            getCompliance: function () {
                this.$store.commit('GET_COMPLIANCE');
            }
        },

        created: function() {

            this.fundId = this.$route.params.fid;

            this.url = `/api/unitization/unit-funds/${this.fundId}/unit-fund-compliance`;

            this.getCompliance();
        },

    }
</script>
<template>
    <div class="col-md-12">
        <div class="panel-dashboard">
            <h4>
                Fund Compliance
                <span class="btn-group pull-right">
                    <router-link v-bind:to="{ name: 'unit-funds.show', params: { id: fundId } }" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Back to Fund</router-link>
                    <el-button @click="add" size="small">Link to compliance</el-button>
                </span>
            </h4>

            <div class="crims_table">
                <vuetable ref="vuetable"
                          :api-url="url"
                          :fields="fields"
                          pagination-path=""
                          @vuetable:pagination-data="onPaginationData"
                          :append-params="tableState"
                          :per-page="itemsPerPage"
                >
                </vuetable>

                <div class="vuetable-pagination ui basic segment grid crims_pagination">
                    <table>
                        <tfoot>
                        <tr>
                            <td class="text-center" width="50%">
                                <div class="inline-block" style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                    <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                    <select style="width: 100px" class="form-control" v-model="itemsPerPage" @change="changePerPage">
                                        <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}</option>
                                    </select>
                                </div>
                            </td>
                            <td class="text-center">
                                <vuetable-pagination-info ref="paginationInfo">
                                </vuetable-pagination-info>
                                <vuetable-pagination ref="pagination"
                                                     @vuetable-pagination:change-page="onChangePage"
                                ></vuetable-pagination>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <el-dialog
                title = "LINK TO FUND COMPLIANCE"
                :visible.sync="linkToCompliance"
                width="40%"
                :show-close="false">
                <span>
                    <link-to-compliance></link-to-compliance>
                </span>
        </el-dialog>

    </div>
</template>