<script>
    import ToupMixins from './topupMixin';

    export default {
        mixins: [ToupMixins]
    }
</script>
<template>
    <div class="">
        <div v-show="step === 'form'">
            <el-form ref="topupForm" :rules="rules" :model="topupForm" label-position="top" size="small" label-width="">
                <div>
                    <el-form-item label="Enter the Product to top-up" :disabled="fetchingAllProducts">
                        <i v-if="fetchingAllProducts" class="fa-spinner fa-spin fa"></i>
                        <el-select v-model="product" placeholder="Select product" >
                            <el-option
                                    v-for="product in allProducts"
                                    :key="product.id"
                                    :label="product.name"
                                    :value="product.id">
                            </el-option>
                        </el-select>
                        <form-error v-if="errors.product" :errors="errors">
                            <div v-for="error in errors.product"><p> {{ error }}</p></div>
                        </form-error>
                    </el-form-item>

                    <el-form-item label="Enter the amount to top-up" prop="amount">
                        <el-input-number v-model="topupForm.amount" :controls="false"
                                         ></el-input-number>
                        <form-error v-if="errors.amount" :errors="errors">
                            <div v-for="error in errors.amount"><p> {{ error }}</p></div>
                        </form-error>
                    </el-form-item>

                    <el-form-item label="Select Duration of the Investment" prop="entered_tenor">
                        <el-select
                                v-model="topupForm.entered_tenor"
                                placeholder="Select Duration"
                                >
                            <el-option label="3 Months" value="3"></el-option>
                            <el-option label="6 Months" value="6"></el-option>
                            <el-option label="9 Months" value="9"></el-option>
                            <el-option label="1 Year" value="12"></el-option>
                            <el-option label="2 Years" value="24"></el-option>
                            <el-option label="3 Years" value="36"></el-option>
                            <el-option label="Other" value="NaN"></el-option>
                        </el-select>
                        <form-error v-if="errors.tenor" :errors="errors">
                            <div v-for="error in errors.tenor"><p> {{ error }}</p></div>
                        </form-error>
                    </el-form-item>

                    <el-form-item
                            v-show="topupForm.entered_tenor === 'NaN'"
                            label="Enter Duration of Investment (Months)" prop="entered_tenor">
                        <el-input-number :controls="false" v-model="topupForm.period"
                                         placeholder="Investment Period in months"></el-input-number>
                        <el-alert
                                title=""
                                type="warning"
                                v-show="tenor_error"
                                show-icon
                                :closable="false">
                            Kindly provide a valid input for period greater than or equal to 3 months (Value in months only)
                        </el-alert>
                    </el-form-item>

                    <el-form-item label="Payment Mode">
                        <el-select
                                v-model="topupForm.mode_of_payment"
                                placeholder="Payment Mode">
                            <el-option value="bank" label="Direct Bank Deposit"></el-option>
                            <el-option value="mpesa" label="M-Pesa Paybill"></el-option>
                        </el-select>
                        <form-error v-if="errors.mode_of_payment" :errors="errors">
                            <div v-for="error in errors.mode_of_payment"><p> {{ error }}</p></div>
                        </form-error>
                    </el-form-item>

                    <el-form-item label="Proof of Payment (Optional)" v-if="payBank">
                        <div class="form-group">
                            <el-upload
                                    class="upload-demo no-padding"
                                    drag
                                    :action='url'
                                    :headers="headers"
                                    :auto-upload="false"
                                    ref="upload"
                                    :data="topupForm"
                                    :on-change="showFile"
                                    :on-success="showUploadSuccess"
                                    size="medium"
                                    :on-error="errorOccurred">

                                <i class="el-icon-upload"></i>
                                <div class="el-upload__text">Drop file here or <em>click to upload</em> a file/screenshot
                                </div>
                                <div class="el-upload__tip" slot="tip">
                                    Images or pdf files with a size of less than 2mbs
                                    <form-error name="file.*" :errors="errors"></form-error>
                                </div>
                            </el-upload>
                        </div>
                    </el-form-item>

                    <span v-show="loadingRates">
                            <i :class="{'fa-spinner fa-spin':true }" class="fa"></i> Loading Rates...
                    </span>

                    <el-form-item prop="agreed_rate">
                        <div class="topup-investment-rate-info" v-if="topupForm.agreed_rate">
                            Agreed interest rate is: {{ topupForm.agreed_rate }}
                        </div>
                        <el-input v-show="false" v-model="topupForm.agreed_rate"></el-input>
                    </el-form-item>

                    <el-form-item label="" prop="agreed_to_terms">
                        <p>
                            <el-checkbox v-model="topupForm.agreed_to_terms">Click here to agree to our <a
                                    @click="dialogTableVisible = true">terms and conditions</a></el-checkbox>
                        </p>
                    </el-form-item>

                </div>

                <div>
                    <el-form-item>
                        <el-button type="custom-success" @click="showConfirm('topupForm')" :disabled="tenor_error">
                            Top-Up
                        </el-button>
                        <el-button type="custom-default" @click="close">Cancel</el-button>
                    </el-form-item>
                </div>

            </el-form>
        </div>

        <!-- Modal for topup terms and conditions -->

        <el-dialog append-to-body title="" :visible.sync="dialogTableVisible">
            <top-up-terms :product="product"></top-up-terms>
        </el-dialog>

        <div v-show="step === 'confirm'">
            <div class="confirm-top-up"
                 v-loading="submitting"
                 element-loading-text="Please wait as the top-up information you provided is being submitted">
                <div class="description">
                    <h2>Confirm details before submitting</h2>
                </div>
                <div class="description">
                    <h3>Product</h3>
                    <p>{{shortname}}</p>
                </div>

                <div class="description">
                    <h3>Amount</h3>
                    <p>{{topupForm.amount}}</p>
                </div>

                <div v-show="topupForm.tenor">
                    <div class="description">
                        <h3>Duration</h3>
                        <p>{{topupForm.tenor}} Months</p>
                    </div>
                </div>

                <div class="description">
                    <h3>Selected Mode of payment</h3>
                    <p>{{topupForm.mode_of_payment}}</p>
                </div>

                <div class="description" v-if="payBank">
                    <h3>Proof of payment</h3>
                    <p v-if="filename">{{filename.name}}</p>
                    <p v-else>No file</p>
                </div>

                <div class="description">
                    <div class="topup-investment-rate-info confirm-topup-info" v-if="topupForm.agreed_rate">
                        Agreed interest rate is: {{ topupForm.agreed_rate }}
                    </div>
                </div>
                <div class="description last">
                    <el-button type="custom-success" @click="submit">Submit</el-button>
                    <el-button type="custom-default" @click="close">Cancel</el-button>
                </div>
            </div>
        </div>

        <div v-show="step === 'success' ">
            <div class="topupSuccessful">
                <div class="message">
                    <h3>Top-up was submitted successfully. We will notify you after 24 hours and update the details
                        accordingly. Thank you. </h3>
                </div>
                <div class="icon">
                    <h1><i class="fa fa-check-circle" aria-hidden="true"></i></h1>
                </div>
            </div>

        </div>
    </div>
</template>
