<script>
    import { mapGetters, mapState } from 'vuex'
    import moment from 'moment'
    import VueTelInput from 'vue-tel-input';

    export default {
        data () {
            return {
                dob: '',
            }
        },
        computed: {
            ...mapGetters({
                titles: 'titlesList',
                contactMethods: 'contactMethodsList',
                countries: 'countriesList',
                genderList: 'genderList',
                errors: 'jointHolderErrors',
                submitting: 'submitJointHolder',
                form: 'formClientJointHolder'
            })
        },

        components: {
            VueTelInput,
        },

        watch: {
            dob: {
                handler: function() {
                    this.form.dob = moment(this.dob).format('YYYY-MM-DD');
                    this.dob = this.form.dob;
                }
            }
        },

        methods: {
            submit () {
                event.preventDefault();
                this.$store.commit('SUBMIT_CLIENT_JOINT_HOLDER_FORM', this.form);
                this.$store.commit('RESET_JOINT_COLLAPSE');
            },

            closeModal () {
                event.preventDefault();
                this.$store.commit('RESET_JOINT_COLLAPSE');
                // this.$store.commit('jointHolderModal', false);
            }
        }
    }
</script>

<template>
    <div class="">
        <el-alert
                type="info"
                title=""
                description="Fill the form below to add a joint holder"
                show-icon>
        </el-alert>
        <hr/>
        <div class="row">
            <div class="small-12 columns">

                <div class="row form-element">
                    <div class="small-12 medium-3 columns float-left grid-content">

                        <el-select v-model="form.title_id" placeholder="Select title" filterable>
                            <el-option
                                    v-for="t in titles"
                                    :key="t.id"
                                    :label="t.name"
                                    :value="t.id">
                            </el-option>
                        </el-select>
                        <form-error v-if="errors.title_id" :errors="errors"> <div v-for="error in errors.title_id"> <p> {{ error }}</p></div> </form-error>
                    </div>

                    <div class="small-12 medium-3 columns float-left grid-content">
                        <input v-model="form.firstname" type="text" placeholder="First name">
                        <form-error v-if="errors.firstname" :errors="errors"> <div v-for="error in errors.firstname"> <p> {{ error }}</p></div> </form-error>
                    </div>

                    <div class="small-12 medium-3 columns float-left grid-content">
                        <input v-model="form.middlename" type="text" placeholder="Middle name">
                        <form-error v-if="errors.middlename" :errors="errors"> <div v-for="error in errors.middlename"> <p> {{ error }}</p></div> </form-error>
                    </div>

                    <div class="small-12 medium-3 columns float-left grid-content">
                        <input v-model="form.lastname" type="text" placeholder="Last name">
                        <form-error v-if="errors.lastname" :errors="errors"> <div v-for="error in errors.lastname"> <p> {{ error }}</p></div> </form-error>
                    </div>
                </div>

                <div class="row form-element">
                    <div class="small-12 medium-6 columns float-left grid-content">
                        <el-select v-model="form.gender_id" placeholder="Select gender" filterable>
                            <el-option
                                    v-for="g in genderList"
                                    :key="g.id"
                                    :label="g.abbr"
                                    :value="g.id">
                            </el-option>
                        </el-select>
                        <form-error v-if="errors.gender_id" :errors="errors"> <div v-for="error in errors.gender_id"> <p> {{ error }}</p></div> </form-error>
                    </div>
                    <div class="small-12 medium-6 columns float-left grid-content">
                        <el-date-picker
                                v-model="dob"
                                type="date"
                                placeholder="Date of birth">
                        </el-date-picker>
                        <form-error v-if="errors.dob" :errors="errors"> <div v-for="error in errors.dob"> <p> {{ error }}</p></div> </form-error>
                    </div>
                </div>

                <div class="row form-element">
                    <div class="small-12 medium-6 columns float-left grid-content">
                        <input v-model="form.pin_no" type="text" placeholder="Enter pin number here">
                        <form-error v-if="errors.pin_no" :errors="errors"> <div v-for="error in errors.pin_no"> <p> {{ error }}</p></div> </form-error>
                    </div>

                    <div class="small-12 medium-6 columns float-left grid-content">
                        <input v-model="form.id_or_passport" type="text" placeholder="Enter ID or Passport number here">
                        <form-error v-if="errors.id_or_passport" :errors="errors"> <div v-for="error in errors.id_or_passport"> <p> {{ error }}</p></div> </form-error>
                    </div>
                </div>

                <div class="row form-element">
                    <div class="small-12 medium-6 columns float-left grid-content">
                        <input v-model="form.email" type="text" placeholder="example@email.com">
                        <form-error v-if="errors.email" :errors="errors"> <div v-for="error in errors.email"> <p> {{ error }}</p></div> </form-error>
                    </div>

                    <div class="small-12 medium-6 columns float-left grid-content">
                        <input v-model="form.postal_code" type="text" placeholder="Postal Code">
                        <form-error v-if="errors.postal_code" :errors="errors"> <div v-for="error in errors.postal_code"> <p> {{ error }}</p></div> </form-error>
                    </div>
                </div>
                <div class="row form-element">
                    <div class="small-12 medium-6 columns float-left grid-content">
                        <input v-model="form.postal_address" type="text" placeholder="Postal Address">
                        <form-error v-if="errors.postal_address" :errors="errors"> <div v-for="error in errors.postal_address"> <p> {{ error }}</p></div> </form-error>
                    </div>

                    <div class="small-12 medium-6 columns float-left grid-content">
                        <el-select v-model="form.country_id" placeholder="Select country" filterable>
                            <el-option
                                    v-for="c in countries"
                                    :key="c.id"
                                    :label="c.name"
                                    :value="c.id">
                            </el-option>
                        </el-select>
                        <form-error v-if="errors.country_id" :errors="errors"> <div v-for="error in errors.country_id"> <p> {{ error }}</p></div> </form-error>
                    </div>
                </div>

                <div class="row form-element">
                    <div class="small-12 medium-6 columns float-left grid-content">
                        <vue-tel-input v-model="form.telephone_cell" placeholder="Phone Number e.g 0712345678" class="el-input__inner"></vue-tel-input>

                        <form-error v-if="errors.telephone_cell" :errors="errors"> <div v-for="error in errors.telephone_cell"> <p> {{ error }}</p></div> </form-error>
                    </div>

                    <div class="small-12 medium-6 columns float-left grid-content">
                        <input v-model="form.residential_address" type="text" placeholder="Residential Address">
                        <form-error v-if="errors.residential_address" :errors="errors"> <div v-for="error in errors.residential_address"> <p> {{ error }}</p></div> </form-error>
                    </div>
                </div>

                <div class="row form-element">
                    <div class="small-12 medium-6 columns float-left grid-content">
                        <input v-model="form.town" type="text" placeholder="Town">
                        <form-error v-if="errors.town" :errors="errors"> <div v-for="error in errors.town"> <p> {{ error }}</p></div> </form-error>
                    </div>
                </div>
                <hr/>
                <div class="row form-element">
                    <div class="small-12 medium-12 columns float-left grid-content">
                        <button class="button secondary" @click="closeModal">Cancel</button>
                        <button class="def button" @click="submit()"><i v-if="submitting" class="fa fa-spinner fa-spin"></i> Add </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<style scoped>

</style>