<script>
    import Vue from 'vue';
    import { mapState, mapActions, mapGetters } from 'vuex';
    Vue.component('help', require('./partials/help.vue'));

    export default {
        computed: {
            ...mapGetters({
                progress: 'applicationProgress',
                kyc_complete: 'kyc_complete',
                payment_complete: 'payment_complete',
                complete_application: 'complete_application',
                appType: 'formType'
            })
        },

        methods: {
            checkRoute(){
                if (this.$route.name === 'apply') {
                    this.setDefaultFa();

                    this.$router.push({name: 'apply.investment'});
                }
            },

            setDefaultFa() {
                if (this.$route.params.referredFA) {
                    this.$store.commit('SET_DEFAULT_FA', this.$route.params.referredFA)
                }
            }
        },

        mounted() {
            this.checkRoute();
        }
    }
</script>

<template>
    <div class="row page-wrap apply-investment">
        <div class="small-12 columns ">
            <div class="row application-top-menu">
                <router-link :to="{name: 'apply.investment'}" tag="div" exact
                             class="small-12 cols-6 grid-content menu-item" :class="{'complete': progress.investment}">
                    <div class="text-center">
                        <span v-if="progress.investment" class="badge"><i class="fa fa-check"></i></span>
                        <span v-else class="badge no"><i class="fa fa-file-pdf-o"></i></span> Investment
                    </div>
                </router-link>

                <router-link
                        :to="{name: 'apply.risk'}"
                        tag="div"
                        exact
                        v-if="appType === 'long'"
                        class="small-12 cols-6 grid-content menu-item"
                        :class="{'complete': progress.risk}"
                >
                    <div class="text-center">
                        <span v-if="progress.risk" class="badge"><i class="fa fa-check"></i></span>
                        <span v-else class="badge no"><i class="fa fa-file"></i></span> Risk Assessment
                    </div>
                </router-link>

                <router-link :to="{name: 'apply.subscriber'}" tag="div" exact
                             class="small-12 cols-6 grid-content menu-item" :class="{'complete': progress.subscriber}">
                    <div class="text-center">
                        <span v-if="progress.subscriber" class="badge"><i class="fa fa-check"></i></span>
                        <span v-else class="badge no"><i class="fa fa-user"></i></span> Subscriber
                    </div>
                </router-link>

                <router-link
                        :to="{name: 'apply.kyc'}"
                        v-if="appType === 'long'"
                        tag="div" exact class="small-12 cols-6 grid-content menu-item"
                        :class="{'complete': progress.kyc}">
                    <div class="text-center">
                        <span v-if="progress.kyc" class="badge"><i class="fa fa-check"></i></span>
                        <span v-else class="badge no"><i class="fa fa-file"></i></span> KYC Documents
                    </div>
                </router-link>

                <!--<router-link :to="{name: 'apply.mandate'}" tag="div" exact class="small-12 cols-6 grid-content menu-item"  :class="{'complete': progress.mandate}">-->
                <!--<div class="text-center">-->
                <!--<span  v-if="progress.mandate" class="badge"><i class="fa fa-check"></i></span>-->
                <!--<span v-else class="badge no">5</span> Signing Mandate-->
                <!--</div>-->
                <!--</router-link>-->

                <router-link :to="{name: 'apply.deposit'}" tag="div" exact
                             class="small-12 cols-6 grid-content menu-item"
                             :class="{'complete': progress.payment }">
                    <div class="text-center">
                        <span v-if="progress.payment" class="badge"><i class="fa fa-check"></i></span>
                        <span v-else class="badge no"><i class="fa fa-dollar"></i></span> Make a Deposit
                    </div>
                </router-link>

                <router-link :to="{name: 'apply.complete'}" tag="div" exact
                             class="small-12 cols-6 grid-content menu-item"
                             v-if="complete_application"
                             :class="{'complete': progress.complete_application }">
                    <div class="text-center">
                        <span v-if="progress.complete_application" class="badge"><i class="fa fa-check"></i></span>
                        <span v-else class="badge no"><i class="fa fa-power-off"></i></span> Application Complete
                    </div>
                </router-link>

            </div>

            <router-view></router-view>
        </div>
    </div>
</template>

<style>
    .application-top-menu .router-link-active{
        color: #006b5b;
        border-bottom: 1px solid #006b5b;
    }
    .router-link-active .application-top-menu .menu-item .badge{
        background: #A3CF5F;
    }

</style>