<style>
    .focus-text {
        text-align: center;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 700;
    }
</style>

<script>
    export default {
        data() {
            return {}
        },

        methods: {
            returnHome() {
                sessionStorage.removeItem('application-form');
                this.$router.push('landing');
                window.location.href = '/';
            }
        }
    }
</script>

<template>
    <div class="row">
        <div class="small-12 columns">
            <div class="row">
                <div class="small-12 md-8 columns subscriber-form">
                    <div class="">
                        <div class="">
                            <p style=" font-size: 5em;" class="text-center"><i style="color: #a3cf5f;"
                                                                               class="fa fa-check-circle-o"></i></p>
                            <p>
                                Thank you for investing with Cytonn Investments.
                                Your funds will be Invested as per the terms you have indicated and you will receive a
                                business confirmation on the same within the next 24 hours.
                                Incase of any queries please do not hesitate to contact us on operations@cytonn.com.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="small-12 md-4  columns">
                    <help></help>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns application-form-footer">
                    <div class="grid-content">
                        <button class="back button" @click="returnHome"><i class="fa fa-long-arrow-left"></i> Back Home</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>