<style scoped>
    .form-section-title {
        padding: 10px 0px 0px 12px;
        color: #768280;
    }

    .upload-demo .el-upload__text {
        min-height: 80px;
    }

    .method-panels {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .method-panel {
        padding: 10px;
        flex: 1;
        border: 1px solid #e1e1e1;
        text-align: center;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: 4px;
        margin-right: 10px;
    }

    .bank-panel {
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .bank-panel > p {
        margin-bottom: 0;
    }

    .mpesa-panel {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        cursor: pointer;
    }

    .mpesa-panel > img {
        max-width: 150px;
        padding: 2px;
    }

</style>

<script>
    import router from '../../router';
    import {mapGetters} from 'vuex';
    import BankPayment from './partials/bank_payment';
    import MpesaPayment from './partials/mpesa_payment';

    export default {
        components: {BankPayment, MpesaPayment},

        data: function () {
            return {
                completeModal: false,
            };
        },

        computed: {
            ...mapGetters({
                appId: 'appUUID',
                dialogBank: 'dialogBank',
                dialogMpesa: 'dialogMpesa',
                payment_complete: 'payment_complete',
                submitting: 'completingApplication',
                selectedFund: 'selectedFund',
                errors: 'paymentErrors',
                getSummary: 'retrieveApplSummary',
                documents: 'applicationDocuments',
                applicationProduct: 'applicationProduct',
                refferedFa: 'financialAdvisor'
            }),
            mpesa: function () {
                if (this.applicationProduct.hasOwnProperty('collection_accounts')) {
                    return this.applicationProduct.collection_accounts.mpesa;
                }

                return null;
            },
            bank: function () {
                if (this.applicationProduct.hasOwnProperty('collection_accounts')) {
                    return this.applicationProduct.collection_accounts.bank;
                }
                return null;
            },
            noBankDetails: function () {
                return !(this.bank || this.mpesa)
            }
        },

        methods: {
            activateDialogBank: function () {
                this.$store.commit('ACTIVATE_DIALOG_BANK', {value: true});
            },

            activateDialogMpesa: function () {
                this.$store.commit('ACTIVATE_DIALOG_MPESA', {value: true});
            },

            openCompleteModal() {
                this.$store.commit('ACTIVATE_DIALOG_BANK', {value: false});
                this.$store.commit('ACTIVATE_DIALOG_MPESA', {value: false});

                if (this.getSummary.financial_advisor) {
                    this.getRefferedFA()
                }

                this.completeModal = true;
            },

            backAction() {
                router.push({name: (this.selectedFund === 'CMMF') ? 'apply.subscriber' : 'apply.kyc'});
            },

            closeModal() {
                this.completeModal = false;
            },

            completeAppl() {
                sessionStorage.removeItem('application-form');

                this.$store.commit('APPL_COMPLETE', this.appId);
            },

            getRefferedFA() {
                this.$store.commit('GET_REFERRED_FA', this.getSummary.financial_advisor);
            }
        }
    }
</script>

<template>
    <div class="row">
        <div class="small-12 medium-8">
            <form class="">
                <div class="form-section"
                     :class="{'uploaded': documents.transfer_individual, 'uploaded': documents.transfer_corporate}">
                    <div class="form-section-title">
                        <h5>INVESTMENT PAYMENT METHOD</h5>

                        <i class="fa" ng-class="{'fa-chevron-down': !z.src, 'fa-chevron-right': z.src}"></i>
                    </div>
                    <div class="form-section-body">
                        <div class="row form-element">
                            <div class="small-12 medium-3 columns grid-content float-left ">
                                <label>Select payment method:</label>
                            </div>

                            <div class="small-12 medium-9 columns grid-content float-left method-panels">
                                <div class="panel panel-default method-panel" v-if="bank != null">
                                    <div class="panel-body" @click="activateDialogBank">
                                        <div class="bank-panel"><i class="fa fa-5x fa-building-o"></i></div>
                                        <br>
                                        <label>Bank Account</label>
                                    </div>
                                </div>

                                <div class="panel panel-default method-panel" v-if="mpesa != null && this.selectedFund !== 'CHYF'">
                                    <div class="panel-body" @click="activateDialogMpesa">
                                        <div class="mpesa-panel"><img src="/assets/img/mpesa_logo.png" alt=""></div>
                                        <br>
                                        <label>Mobile Money</label>
                                    </div>
                                </div>

                                <div class="" v-if="noBankDetails">
                                    <el-alert
                                            title="info"
                                            description="Contact 0709101200 for Assistance on method of Payment for applied Investment."
                                            type="warning"
                                            effect="dark"
                                            :closable="false"
                                            show-icon
                                            center>
                                    </el-alert>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <el-dialog
                        title="Mpesa Payment"
                        :visible.sync="dialogMpesa"
                        width="50%"
                        :show-close="false"
                        :close-on-click-modal="false">
                    <mpesa-payment :amount="getSummary.amount" :mpesa="mpesa"
                                   v-on:completeDialogMpesa="openCompleteModal"></mpesa-payment>
                </el-dialog>

                <el-dialog
                        title="Bank Payment Proof"
                        :visible.sync="dialogBank"
                        width="70%"
                        :show-close="false"
                        :close-on-click-modal="false">
                    <bank-payment :bank="bank" v-on:completeDialogBank="openCompleteModal"></bank-payment>
                </el-dialog>
            </form>
        </div>
        <div class="small-12 medium-4 columns">
            <help></help>
        </div>

        <div class="small-12 columns application-form-footer">
            <button class="back button" @click="backAction"><i class="fa fa-long-arrow-left"></i> Back</button>
            <button class="next button" @click="openCompleteModal">Submit and Complete
                Application <i class="fa fa-long-arrow-right"></i></button>
            <div class="clearfix"></div>
        </div>
        <!--        Complete modal-->

        <el-dialog title="Complete Application" :visible.sync="completeModal" :before-close="closeModal">
            <div class="">
                <div class="primary title-bar">
                    <div class="center title">Please confirm your application details before submitting the application.</div>
                </div>
                <div class="grid-content padding" style="padding-top: 1rem;">
                    <p v-if="!getSummary.kyc_complete && selectedFund !== 'CMMF'">
                        Thank you for your application and for choosing to invest with Cytonn Investments.
                        Please note you may return at any time to upload the KYC (Know Your Client) documents.
                        It is mandatory to submit the KYC documents within 30 days of completing your investment
                        application form.
                        Failure to submit your KYC documents may lead to delays in investing your funds and/or more
                        importantly,
                        withdrawing funds at the end of the investment period.
                    </p>

                    <table>
                        <tbody>
                        <tr>
                            <td><strong>Name</strong></td>
                            <td>{{ getSummary.name() }}</td>
                        </tr>
                        <tr>
                            <td><strong>Investment Amount</strong></td>
                            <td>{{ getSummary.amount }}</td>
                        </tr>
                        <tr v-show="getSummary.tenor">
                            <td><strong>Tenor</strong></td>
                            <td>{{ getSummary.tenor }} Months</td>
                        </tr>
                        <tr v-show="getSummary.agreed_rate">
                            <td><strong>Agreed rate of return</strong></td>
                            <td>{{ getSummary.agreed_rate }} p.a.</td>
                        </tr>
                        <tr v-show="getSummary.financial_advisor">
                            <td><strong>Reffered Financial Advisor</strong></td>
                            <td>{{ refferedFa }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="">
                    <button class="button secondary" @click="closeModal">Go back</button>
                    <button :disabled="submitting" data-close="" @click="completeAppl()"
                            class="def next button pull-right">
                        Complete Application <i
                            :class="{'fa-spinner fa-spin': submitting, 'fa-long-arrow-right': !submitting}"
                            class="fa"></i>
                    </button>
                </div>
            </div>
        </el-dialog>
    </div>
</template>
