<span class="menu-links"><router-link :to="{ name: 'home' }"> Dashboard </router-link></span>
<span class="menu-links" v-if="isClient"><router-link :to="{ name: 'investments.list'}">Investments</router-link></span>
<!-- Sales -->
<span class="element-links menu-links" v-if="isFa">

        <el-dropdown>
          <span class="el-dropdown-link">
            Sales <i class="el-icon-caret-bottom el-icon--right"></i>
          </span>
        <el-dropdown-menu slot="dropdown">
            <router-link :to="{ name: 'sales.fa_clients' }"><el-dropdown-item>My Clients</el-dropdown-item></router-link>
            <router-link :to="{ name: 'sales.commissions' }"><el-dropdown-item>Commissions</el-dropdown-item></router-link>
            <router-link :to="{ name: 'sales.my_fas' }"><el-dropdown-item>My FAs</el-dropdown-item></router-link>
            <router-link :to="{ name: 'sales.FaProjections' }"><el-dropdown-item>Projections </el-dropdown-item></router-link>
        </el-dropdown-menu>
    </el-dropdown>

</span>
<!-- Resources page -->
<span class="element-links menu-links">
    <el-dropdown>
        <span class="el-dropdown-link">
            Resources <i class="el-icon-caret-bottom el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
            <!--<router-link :to="{ name: 'investment-calculator'}"><el-dropdown-item>Investment Calculator</el-dropdown-item></router-link>-->
            <!--<router-link :to="{ name: 'investment-products'}"><el-dropdown-item>Product </el-dropdown-item></router-link>-->
            <router-link :to="{ name: 'documents'}"><el-dropdown-item>Documents</el-dropdown-item></router-link>
        </el-dropdown-menu>
    </el-dropdown>
</span>
<!-- Contact us -->
<span class="menu-links" v-if="isClient"><a @click="popupContactModal">Contact us</a></span>
<!--<span class="menu-links"><a href="/logout" @click="logout()">Log out <i class="fa fa-sign-out"></i></a></span>-->
<span class="menu-links"><a @click="logout()">Log out <i class="fa fa-sign-out"></i></a></span>
