<script>
    import {mapGetters} from 'vuex';
    import {Notification, Message} from 'element-ui';
    import axios from 'axios';

    export default {
        data: function () {
            return {
                url: '/api/applications/uploads/document',
                extensions: 'image/*, application/pdf',

                idData: {slug: 'id_or_passport', application_id: '', type: 'kyc'},
                pinData: {slug: "pin_individual", application_id: '', type: 'kyc'},
                bankingData: {slug: "banking_individual", application_id: '', type: 'kyc'},
                addressData: {slug: "address_individual", application_id: '', type: 'kyc'},
                foundingData: {slug: "founding_docs", application_id: '', type: 'kyc'},
                boardData: {slug: "board_res", application_id: '', type: 'kyc'},
                pinCorpData: {slug: "pin_corporate", application_id: '', type: 'kyc'},
                bankCorpData: {slug: "banking_corporate", application_id: '', type: 'kyc'},
                authorizedIdsData: {slug: "authorized_ids", application_id: '', type: 'kyc'},
                otherDocumentsData: {slug: "other_documents", application_id: '', type: 'kyc'},
                uploaded_docs: {
                    id_or_passport: ''
                }
            };
        },

        computed: {
            ...mapGetters({
                applId: 'appUUID',
                individual: 'individualApplication',
                documents: 'applicationDocuments',
                defaultHeaders: 'defaultHeaders',
                kycDocs: 'uploadDocuments',
            }),
        },

        watch: {
            documents: {
                handler: function () {
                    var docs = this.documents;

                    docs.forEach(function (doc) {
                        docs[doc] = true;
                    });
                }
            }
        },

        methods: {
            uploadId() {
                this.idData.application_id = this.applId;
            },
            pinIndividual() {
                this.pinData.application_id = this.applId;
            },
            bankingIndividual() {
                this.bankingData.application_id = this.applId;
            },
            addressIndividual() {
                this.addressData.application_id = this.applId;
            },
            foundingDocs() {
                this.foundingData.application_id = this.applId;
            },
            boardRes() {
                this.boardData.application_id = this.applId;
            },
            pinCorporate() {
                this.pinCorpData.application_id = this.applId;
            },
            bankingCorporate() {
                this.bankCorpData.application_id = this.applId;
            },
            authorizedIds() {
                this.authorizedIdsData.application_id = this.applId;
            },
            otherDocuments() {
                this.otherDocumentsData.application_id = this.applId;
            },

            errorOnUpload() {
                Notification.warning({
                    title: 'Error',
                    message: 'Please complete the investment and subscriber stages before uploading documents'
                });
            },

            showUploadSuccess() {
                this.getUploaded();
                Message.success('Uploaded successfully');
            },

            getUploaded() {
                axios.get('/api/application/documents/'+this.applId)
                    .then( ({ data }) => {
                        this.uploaded_docs = data.uploaded;

                        if(data.complete) {
                            this.markKycComplete();
                        }
                    });
            },

            markKycComplete() {
                this.$store.commit('UPLOAD_KYC_COMPLETE', this.applId);
            },

            proceed () {
                this.$router.push({ name: 'apply.deposit' });
            },

            toggleUploadBlocks() {

                let expander = $('.expander');
                let uploadBlock = $('.upload-block');

                uploadBlock.hide();

                expander.children('.expander-icon').addClass('fa-chevron-down');

                expander.click(function () {

                    $(this).next().slideToggle(400);

                    $(this).parent().siblings().find(uploadBlock).slideUp();

                });

                uploadBlock.slideUp(400);

                $('.identity-block').children(uploadBlock).slideDown(400);

                $('.founding-block').children(uploadBlock).slideDown(400);
            },

        },
        mounted() {
            this.toggleUploadBlocks();
            this.getUploaded();
        }
    }

</script>

<template>
    <div class="row">
        <div class="small-12 medium-8 columns subscriber-form">
            <div class="grid-content">
                <form name="subform">

                    <!-- INDIVIDUAL -->
                    <div :class="{'uploaded': uploaded_docs.id_or_passport}" class="form-section identity-block"
                         v-if="individual">
                        <div class="form-section-title expander">
                            <h5>Identification documents</h5>

                            <i class="fa expander-icon"></i>
                            <i class="fa form-complete-icon"></i>
                        </div>

                        <div class="upload-block">
                            <el-upload
                                    class="upload-demo"
                                    drag
                                    :action=url
                                    :data=idData
                                    :headers="defaultHeaders"
                                    :on-error="errorOnUpload"
                                    :on-success="showUploadSuccess"
                                    :before-upload="uploadId"
                                    :accept=extensions>

                                <div class="el-upload__text">
                                    <span><i class="el-icon-upload"></i></span><br/>
                                    Upload a copy of ID or Passport <em>click to upload</em>
                                </div>
                                <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
                            </el-upload>
                        </div>
                    </div>

                    <div :class="{'uploaded': uploaded_docs.pin_individual}" class="form-section" v-if="individual">
                        <div class="form-section-title expander">
                            <h5>Tax Certificate</h5>

                            <i class="fa expander-icon"></i>
                            <i class="fa form-complete-icon"></i>
                        </div>
                        <div class="upload-block">
                            <el-upload
                                    class="upload-demo"
                                    drag
                                    :action=url
                                    :data=pinData
                                    :headers="defaultHeaders"
                                    :on-error="errorOnUpload"
                                    :on-success="showUploadSuccess"
                                    :before-upload="pinIndividual"
                                    :accept=extensions>
                                <div class="el-upload__text">
                                    <span><i class="el-icon-upload"></i></span><br/>
                                    Upload a copy of PIN (TAX) certificate or a copy of tax exemption certificate where
                                    applicable <em>click to upload</em></div>
                                <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
                            </el-upload>
                        </div>
                    </div>

                    <div :class="{'uploaded': uploaded_docs.banking_individual}" class="form-section" v-if="individual">
                        <div class="form-section-title expander">
                            <h5>Proof of banking details</h5>

                            <i class="fa expander-icon"></i>
                            <i class="fa form-complete-icon"></i>
                        </div>
                        <div class="upload-block">
                            <el-upload
                                    class="upload-demo"
                                    drag
                                    :action=url
                                    :data=bankingData
                                    :headers="defaultHeaders"
                                    :on-error="errorOnUpload"
                                    :on-success="showUploadSuccess"
                                    :before-upload="bankingIndividual"
                                    :accept=extensions>
                                <div class="el-upload__text">
                                    <span><i class="el-icon-upload"></i></span><br/>
                                    Upload a copy of bank statement (not more than 3 months old) or an original
                                    cancelled cheque or a certified letter confirming bank account details <em>click to
                                    upload</em></div>
                                <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
                            </el-upload>
                        </div>
                    </div>

                    <div :class="{'uploaded': uploaded_docs.address_individual}" class="form-section" v-if="individual">
                        <div class="form-section-title expander">
                            <h5>Proof of address</h5>

                            <i class="fa expander-icon"></i>
                            <i class="fa form-complete-icon"></i>
                        </div>
                        <div class="upload-block">
                            <el-upload
                                    class="upload-demo"
                                    drag
                                    :action=url
                                    :data=addressData
                                    :headers="defaultHeaders"
                                    :on-error="errorOnUpload"
                                    :on-success="showUploadSuccess"
                                    :before-upload="addressIndividual"
                                    :accept=extensions>
                                <div class="el-upload__text">
                                    <span><i class="el-icon-upload"></i></span><br/>
                                    Upload a copy of utility bill (not more than 3 months old) or a proof of address
                                    letter <em>click to upload</em></div>
                                <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
                            </el-upload>
                        </div>
                    </div>

                    <div :class="{'uploaded': uploaded_docs.other_documents}" class="form-section" v-if="individual">
                        <div class="form-section-title expander">
                            <h5>Other Documents</h5>

                            <i class="fa expander-icon"></i>
                            <i class="fa form-complete-icon"></i>
                        </div>
                        <div class="upload-block">
                            <el-upload
                                    class="upload-demo"
                                    drag
                                    :action=url
                                    :data=otherDocumentsData
                                    :headers="defaultHeaders"
                                    :on-error="errorOnUpload"
                                    :on-success="showUploadSuccess"
                                    :before-upload="otherDocuments"
                                    :accept=extensions>
                                <div class="el-upload__text">
                                    <span><i class="el-icon-upload"></i></span><br/>
                                    Upload any other relevant document <em>click to upload</em></div>
                                <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
                            </el-upload>
                        </div>
                    </div>


                    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

                    <!-- CORPORATE-->


                    <div :class="{'uploaded': uploaded_docs.founding_docs}" class="form-section founding-block"
                         v-if="!individual">
                        <div class="form-section-title expander">
                            <h5>Founding Documents</h5>

                            <i class="fa expander-icon"></i>
                            <i class="fa form-complete-icon"></i>
                        </div>
                        <div class="upload-block">
                            <el-upload
                                    class="upload-demo"
                                    drag
                                    :action=url
                                    :data=foundingData
                                    :headers="defaultHeaders"
                                    :on-error="errorOnUpload"
                                    :on-success="showUploadSuccess"
                                    :before-upload="foundingDocs"
                                    :accept=extensions>
                                <div class="el-upload__text">
                                    <span><i class="el-icon-upload"></i></span><br/>
                                    Upload a copy of certificate of incorporation or partnership agreement or
                                    constitution or any other founding document <em>click to upload</em></div>
                                <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
                            </el-upload>
                        </div>
                    </div>

                    <div :class="{'uploaded': uploaded_docs.board_res}" class="form-section" v-if="!individual">
                        <div class="form-section-title expander">
                            <h5>Resolution mandate authorizing the investment</h5>

                            <i class="fa expander-icon"></i>
                            <i class="fa form-complete-icon"></i>
                        </div>
                        <div class="upload-block">
                            <el-upload
                                    class="upload-demo"
                                    drag
                                    :action=url
                                    :data=boardData
                                    :headers="defaultHeaders"
                                    :on-error="errorOnUpload"
                                    :on-success="showUploadSuccess"
                                    :before-upload="boardRes"
                                    :accept=extensions>
                                <div class="el-upload__text">
                                    <span><i class="el-icon-upload"></i></span><br/>
                                    Upload a document demonstrating that the entity and/or its officers are authorized
                                    to invest in the LIMITED LIABILITY PARTNERSHIP <em>click to upload</em></div>
                                <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
                            </el-upload>
                        </div>
                    </div>

                    <div :class="{'uploaded': uploaded_docs.pin_corporate}" class="form-section" v-if="!individual">
                        <div class="form-section-title expander">
                            <h5>Tax certificate</h5>

                            <i class="fa expander-icon"></i>
                            <i class="fa form-complete-icon"></i>
                        </div>
                        <div class="upload-block">
                            <el-upload
                                    class="upload-demo"
                                    drag
                                    :action=url
                                    :data=pinCorpData
                                    :headers="defaultHeaders"
                                    :on-error="errorOnUpload"
                                    :on-success="showUploadSuccess"
                                    :before-upload="pinCorporate"
                                    :accept=extensions>
                                <div class="el-upload__text">
                                    <span><i class="el-icon-upload"></i></span><br/>
                                    Upload a copy of PIN (TAX) certificate or a copy of tax exemption certificate where
                                    applicable <em>click to upload</em></div>
                                <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
                            </el-upload>
                        </div>
                    </div>

                    <div :class="{'uploaded': uploaded_docs.banking_corporate}" class="form-section" v-if="!individual">
                        <div class="form-section-title expander">
                            <h5>Proof of banking details</h5>

                            <i class="fa expander-icon"></i>
                            <i class="fa form-complete-icon"></i>
                        </div>
                        <div class="upload-block">
                            <el-upload
                                    class="upload-demo"
                                    drag
                                    :action=url
                                    :data=bankCorpData
                                    :headers="defaultHeaders"
                                    :on-error="errorOnUpload"
                                    :on-success="showUploadSuccess"
                                    :before-upload="bankingCorporate"
                                    :accept=extensions>
                                <div class="el-upload__text">
                                    <span><i class="el-icon-upload"></i></span><br/>
                                    Upload a copy of bank statement (not more than 3 months old) or an original
                                    cancelled cheque or a certified letter confirming bank account details <em>click to
                                    upload</em></div>
                                <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
                            </el-upload>
                        </div>
                    </div>

                    <div :class="{'uploaded': uploaded_docs.authorized_ids}" class="form-section" v-if="!individual">
                        <div class="form-section-title expander">
                            <h5>Documents from authorized representatives</h5>

                            <i class="fa expander-icon"></i>
                            <i class="fa form-complete-icon"></i>
                        </div>
                        <div class="upload-block">
                            <el-upload
                                    class="upload-demo"
                                    drag
                                    :action=url
                                    :data=authorizedIdsData
                                    :headers="defaultHeaders"
                                    :on-error="errorOnUpload"
                                    :on-success="showUploadSuccess"
                                    :before-upload="authorizedIds"
                                    :accept=extensions>
                                <div class="el-upload__text">
                                    <span><i class="el-icon-upload"></i></span><br/>
                                    Upload a copy of ID or Passport for the authorized representatives <em>click to
                                    upload</em></div>
                                <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
                            </el-upload>
                        </div>
                    </div>

                    <div :class="{'uploaded': uploaded_docs.other_documents}" class="form-section" v-if="!individual">
                        <div class="form-section-title expander">
                            <h5>Other Documents</h5>

                            <i class="fa expander-icon"></i>
                            <i class="fa form-complete-icon"></i>
                        </div>
                        <div class="upload-block">
                            <el-upload
                                    class="upload-demo"
                                    drag
                                    :action=url
                                    :data=otherDocumentsData
                                    :headers="defaultHeaders"
                                    :on-error="errorOnUpload"
                                    :on-success="showUploadSuccess"
                                    :before-upload="otherDocuments"
                                    :accept=extensions>
                                <div class="el-upload__text">
                                    <span><i class="el-icon-upload"></i></span><br/>
                                    Upload any other relevant document <em>click to upload</em></div>
                                <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
                            </el-upload>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="small-12 medium-4 columns">
            <div class="grid-content">
                <help></help>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="small-12 columns application-form-footer">
            <div class="grid-content">
                <router-link class="back button" :to="{name: 'apply.subscriber'}"><i class="fa fa-long-arrow-left"></i>
                    Back
                </router-link>
                <button class="next button" @click="proceed">Proceed to next step <i class="fa fa-long-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</template>

<style scoped>
    .upload-block {
        padding: 10px 0;
    }
    .upload-demo .el-upload__text {
        min-height: 100px;
        padding-top: 10px;
    }
</style>
