<script>
    import {mapGetters} from 'vuex';
    import {Message} from 'element-ui';
    import Axios from 'axios'

    export default {
        name: "mandate",

        data() {
            return {
                url: '/api/application/client/signing-mandate',
                signing_mandate: 0,
                document_type_id: '',
                upload_url: '/api/applications/uploads/mandate',
                extensions: ['image/*', 'application/pdf'],
                mandateData: {slug: 'client_signatures', application_id: '', signing_mandate: null},
                mandate: {},
                mandates: [
                    {id: 0, name: 'Singly'},
                    {id: 1, name: 'All to sign'},
                    {id: 2, name: 'Either to sign'},
                    {id: 3, name: 'At Least Two to sign'}
                ],
                saving: false
            }
        },

        computed: {
            ...mapGetters({
                defaultHeaders: 'defaultHeaders',
                documents: 'applicationDocuments',
                applId: 'appUUID',
                applicationProgress: 'applicationProgress',
                mandatesDocs: 'uploadMandates',
            }),

            attachment() {
                return {
                    application_id: this.applId,
                    slug: 'client_signatures'
                };

            }
        },

        watch: {
            signing_mandate: {
                handler: function () {
                    this.mandateData.signing_mandate = this.signing_mandate;
                }
            },

            documents: {
                handler: function () {
                    let docs = this.documents;

                    docs.forEach(function (doc) {
                        docs[doc] = true;
                    });
                }
            },

            mandatesDocs: function () {
                if (this.individual) {
                    if (this.mandatesDocs.length >= 4) {
                        this.markIndividualMandate();
                    }
                } else {
                    if (this.mandatesDocs.length >= 5) {
                        this.markCorporateMandate();
                    }
                }
            }
        },

        methods: {
            submit: function () {
                this.saving = true;

                if (this.applId) {

                    this.mandate.application_id = this.applId;
                    this.mandate.signing_mandate = this.signing_mandate;

                    Axios.post(this.url, this.mandate)
                        .then(() => {
                            this.saving = true;
                            Message.success({message: 'Signing mandate updated'});
                            this.$router.push({name: 'apply.payment'});

                        }, () => {
                            Message.warning({message: 'Error while uploading'});
                        });

                    this.saving = false;
                    return;
                }

                Message.warning({message: 'Please fill other sections before saving signing mandate'});
            },

            markIndividualMandate() {
                this.$store.commit('UPLOAD_MANDATE_COMPLETE', this.applId);
            },

            markCorporateMandate() {
                this.$store.commit('UPLOAD_MANDATE_COMPLETE', this.applId);
            },

            proceed() {
                this.$router.push({name: 'apply.payment'});
            },

            uploadId() {
                this.mandateData.application_id = this.applId;
            },

            upload: function () {

                if (!this.validateForm()) {
                    Message.warning({message: 'Complete the investment and subscriber form and proceed'});

                    return;
                }

                if (!this.$refs.upload.uploadFiles[0]) {
                    Message.warning({message: 'Upload the form and proceed'});
                    return;
                }

                this.mandateData.signing_mandate = this.signing_mandate;
                this.mandateData.application_id = this.applId;

                this.$refs.upload.submit();

                this.$router.push({name: 'apply.payment'});
            },

            validateForm: function () {

                if (this.attachment.application_id == null) {
                    return false;
                }

                return true;
            },

            errorOnUpload: function () {
                Message.warning({message: 'There was an error while uploading, please try again later'});
            },

            showUploadSuccess: function () {

                Message.success({message: 'Upload of the signing mandate document was succcessful'});
            },
        }
    }
</script>

<template>
    <div class="row">
        <div class="small-12 medium-8 columns subscriber-form">
            <div class="grid-content">
                <div class="form-section">
                    <div class="form-section-title">
                        <h5>Select signing mandate</h5>

                        <i class="fa" ng-class="{'fa-chevron-down': z.persInfo, 'fa-chevron-right': z.persInfo}"></i>
                    </div>
                    <div class="form-section-body">
                        <div class="row form-element">
                            <el-select v-model="signing_mandate" placeholder="Select signing mandate"
                                       style="width: 100%">
                                <el-option
                                        v-for="mandate in mandates"
                                        :key="mandate.id"
                                        :label="mandate.name"
                                        :value="mandate.id"
                                >
                                </el-option>
                            </el-select>
                        </div>
                    </div>

                    <div v-if="signing_mandate !== 0">
                        <el-button type="success" @click="submit" class="">
                            SAVE MANDATE
                            <i class="fa fa-save" v-if="saving === false"></i>
                            <i class="el-icon-loading" v-if="saving"></i>
                        </el-button>

                    </div>

                    <div v-if="signing_mandate === 0">
                        <div class="form-section-title">
                            <h5>Signature Upload</h5>
                        </div>

                        <div class="upload-block">
                            <el-upload
                                    class="upload-demo"
                                    drag
                                    :action=upload_url
                                    :data=mandateData
                                    :headers="defaultHeaders"
                                    :on-error="errorOnUpload"
                                    :on-success="showUploadSuccess"
                                    :before-upload="uploadId"
                                    :accept=extensions>

                                <div class="el-upload__text">
                                    <span><i class="el-icon-upload"></i></span><br/>
                                    Upload a copy of Signing Mandate <em>click to upload</em>
                                </div>
                                <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb</div>
                            </el-upload>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="small-12 medium-4 columns">
            <div class="grid-content">
                <help></help>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="small-12 columns application-form-footer">
            <div class="grid-content">
                <router-link class="back button" :to="{name: 'apply.kyc'}"><i class="fa fa-long-arrow-left"></i> Back
                </router-link>
                <button class="next button" @click="proceed">Proceed to next step <i class="fa fa-long-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
</template>
