<style scoped>
    .form-section-title {
        padding: 10px 0px 0px 12px;
        color: #768280;
    }

    .upload-demo .el-upload__text {
        min-height: 80px;
    }
</style>

<script>
    import Vue from 'vue';
    import {mapState, mapGetters, mapActions} from 'vuex';
    import {Notification} from 'element-ui';

    export default {
        data: function () {
            return {
                url: '/api/applications/uploads/document',
                extensions: ['image/*', 'application/pdf'],
                transferIndividualData: {slug: 'transfer_individual', application_id: '', type: 'payment'},
                transferCorporateData: {slug: 'transfer_corporate', application_id: ''},
                completeModal: false,
            };
        },
        computed: {
            ...mapGetters({
                individual: 'individualApplication',
                getSummary: 'retrieveApplSummary',
                documents: 'applicationDocuments',
                applId: 'appUUID',
                defaultHeaders: 'defaultHeaders',
                submitting: 'completingApplication'
            })

        },
        watch: {
            documents: {
                handler: function () {
                    var docs = this.documents;

                    docs.forEach(function (doc) {
                        docs[doc] = true;
                    });

                    (this.individual) ? this.markIndividualTransfer() : this.markCorporateTransfer();
                }
            }
        },
        methods: {
            openCompleteModal() {
                this.completeModal = true;
            },

            closeModal() {
                this.completeModal = false;
            },

            completeAppl() {
                this.$store.commit('APPL_COMPLETE', this.applId);
            },

            transferIndividual() {
                this.transferIndividualData.application_id = this.applId;
            },

            transferCorporate() {
                this.transferCorporateData.application_id = this.applId;
            },

            showUploadSuccess() {
                Notification.success({title: 'Success', message: 'The document has been successfully uploaded'});
                this.$store.commit('UPLOAD_PAYMENT_COMPLETE', this.applId)
            },

            errorOnUpload() {
                Notification.warning({
                    title: 'Error',
                    message: 'Please complete the investment and subscriber stages before uploading documents'
                });
            },
        }
    }
</script>

<template>
    <div class="row">
        <div class="small-12 medium-8">
            <form name="">

                <!-- INDIVIDUAL -->
                <div :class="{'uploaded': documents.transfer_individual, 'uploaded': documents.transfer_corporate}"
                     class="upload-proof">
                    <div class="form-section-title">
                        <p><b>Upload proof of payment</b></p>
                        <i class="fa form-complete-icon"></i>
                    </div>
                    <div class="form-section-body">
                        <div class="form-element">

                            <div class="small-12 columns" v-if="individual">
                                <el-upload
                                        class="upload-demo"
                                        drag
                                        :action=url
                                        :data=transferIndividualData
                                        :headers="defaultHeaders"
                                        :on-error="errorOnUpload"
                                        :on-success="showUploadSuccess"
                                        :before-upload="transferIndividual"
                                        :accept=extensions>
                                    <div class="el-upload__text">
                                        <span><i class="el-icon-upload"></i></span><br/>
                                        Upload a funds deposit slip of transfer advise <em>click to upload</em></div>
                                    <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb
                                    </div>
                                </el-upload>
                            </div>
                            <div class="small-12 columns" v-if="!individual">
                                <el-upload
                                        class="upload-demo"
                                        drag
                                        :action=url
                                        :data=transferCorporateData
                                        :headers="defaultHeaders"
                                        :on-error="errorOnUpload"
                                        :on-success="showUploadSuccess"
                                        :before-upload="transferCorporate"
                                        :accept=extensions>
                                    <i class="el-icon-upload"></i>
                                    <div class="el-upload__text">Upload a funds deposit slip of transfer advise <em>click
                                        to upload</em></div>
                                    <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb
                                    </div>
                                </el-upload>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="small-12 medium-4 columns">
            <help></help>
        </div>

        <div class="small-12 columns application-form-footer">
            <router-link class="back button" :to="{name: 'apply.mandate'}"><i class="fa fa-long-arrow-left"></i> Back
            </router-link>
            <button class="next button" @click="openCompleteModal">Submit and Complete Application <i
                    class="fa fa-long-arrow-right"></i></button>
            <div class="clearfix"></div>
            <!-- Complete modal -->

            <el-dialog title="Complete Application" :visible.sync="completeModal" :before-close="closeModal">
                <div class="">
                    <div class="primary title-bar">
                        <div class="center title">Confirm your application details</div>
                    </div>
                    <div class="grid-content padding" style="padding-top: 1rem;">
                        <p v-if="!getSummary.kyc_complete">
                            Thank you for your application and for choosing to invest with Cytonn Investments.
                            Please note you may return at any time to upload the KYC (Know Your Client) documents.
                            It is mandatory to submit the KYC documents within 30 days of completing your investment
                            application form.
                            Failure to submit your KYC documents may lead to delays in investing your funds and/or more
                            importantly,
                            withdrawing funds at the end of the investment period.
                        </p>
                        <p>
                            <el-alert
                                    type="info"
                                    description="Please confirm your application details before submitting the application."
                                    show-icon>
                            </el-alert>

                        </p>
                        <table>
                            <tbody>
                            <tr>
                                <td><strong>Name</strong></td>
                                <td>{{ getSummary.name() }}</td>
                            </tr>
                            <tr>
                                <td><strong>Investment Amount</strong></td>
                                <td>{{ getSummary.amount }}</td>
                            </tr>
                            <tr v-show="getSummary.tenor">
                                <td><strong>Tenor</strong></td>
                                <td>{{ getSummary.tenor }} Months</td>
                            </tr>
                            <tr v-show="getSummary.agreed_rate">
                                <td><strong>Agreed rate of return</strong></td>
                                <td>{{ getSummary.agreed_rate }} p.a.</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="">
                        <button class="button secondary" @click="closeModal">Go back</button>
                        <button :disabled="submitting" data-close="" @click="completeAppl()"
                                class="def next button pull-right">
                            Complete Application <i
                                :class="{'fa-spinner fa-spin': submitting, 'fa-long-arrow-right': !submitting}"
                                class="fa"></i>
                        </button>
                    </div>
                </div>
            </el-dialog>
        </div>
    </div>

</template>