<style>

</style>

<script>

    import { Notification } from 'element-ui';

    export default {
        data() {
            return {

            }
        },
        methods: {
            loadUuid() {

                var applId = this.$route.params.applicationId;

                if(applId === null)
                {
                    this.$router.push({name: 'landing'});

                    Notification.error({title: 'Error', message: 'The application was not found, please start a new one'});
                }

                this.$store.dispatch('loadUuid', applId);
          },
            getJointHolders () {

                var applId = this.$route.params.applicationId;

                if(applId != null) {
                    this.$store.commit("GET_JOINT_HOLDERS", applId);
                }
            }
        },
        mounted(){
            this.loadUuid();
            this.getJointHolders();
        }
    }

</script>

<template>

</template>