<style scoped>

</style>

<script>

    import { mapState, mapActions, mapGetters } from 'vuex'

    export default {
        data () {
            return {
            };
        },
        computed: {
            ...mapGetters({
                submitting: 'submitRisk',
                errors: 'riskErrors',
                form: 'riskForm'
            })
        },
        methods: {
            submit (cont){
                this.$store.dispatch('fill_risk', this.form);
            }
        }
    }

</script>

<template>
    <div class="form-page-container">
        <div class="row">
            <div class="small-12 medium-8 columns subscriber-form">
                <div class="risk">
                    <h4>Client Risk Analysis Questionnaire</h4>

                    <p class="question">How long have you been in investments (No. of years)?</p>
                    <div class="answers v-list">
                        <ul>
                            <li>
                                <input type="radio" name="risk_duration" v-model="form.risk_duration" id="risk_duration_1" value="<1">
                                <label for="risk_duration_1">Less than a year</label>
                            </li>
                            <li>
                                <input type="radio" name="risk_duration" v-model="form.risk_duration" id="risk_duration_2" value="1-4" />
                                <label for="risk_duration_2">1 - 4 years</label>
                            </li>
                            <li>
                                <input type="radio" name="risk_duration" v-model="form.risk_duration" id="risk_duration_3" value="5-10"/>
                                <label for="risk_duration_3">5 - 10 years</label>
                            </li>
                            <li>
                                <input type="radio" name="risk_duration" v-model="form.risk_duration" id="risk_duration_4" value=">10"/>
                                <label for="risk_duration_4">Over 10 years</label>
                            </li>
                            <form-error v-if="errors.risk_duration" :errors="errors"> <div v-for="error in errors.risk_duration"> <p> {{ error }}</p></div> </form-error>
                        </ul>
                    </div>

                    <p class="question">In the past, what kind of investments have you previously made?</p>
                    <div class="answers v-list-2-cols" >
                        <ul>
                            <li>
                                <input type="radio" v-model="form.risk_inv_types" value="shares_and_stocks" id="risk_inv_types_1"/>
                                <label for="risk_inv_types_1">Shares and Stocks</label>
                            </li>
                            <li>
                                <input type="radio" v-model="form.risk_inv_types" value="bonds" id="risk_inv_types_2"/>
                                <label for="risk_inv_types_2">Bonds</label>
                            </li>
                            <li>
                                <input type="radio" v-model="form.risk_inv_types" value="treasury_bills" id="risk_inv_types_3"/>
                                <label for="risk_inv_types_3">Treasury bills</label>
                            </li>
                            <li>
                                <input type="radio" v-model="form.risk_inv_types" value="property" id="risk_inv_types_4"/>
                                <label for="risk_inv_types_4">Property</label>
                            </li>
                            <li>
                                <input type="radio" v-model="form.risk_inv_types" value="offshore_investments" id="risk_inv_types_5"/>
                                <label for="risk_inv_types_5">Offshore Investments</label>
                            </li>
                            <li>
                                <input type="radio" v-model="form.risk_inv_types" value="private_equity" id="risk_inv_types_6"/>
                                <label for="risk_inv_types_6">Private Equity</label>
                            </li>
                            <li>
                                <input type="radio" v-model="form.risk_inv_types" value="unit_trusts" id="risk_inv_types_7"/>
                                <label for="risk_inv_types_7">Unit trusts</label>
                            </li>
                            <form-error v-if="errors.risk_inv_types" :errors="errors"> <div v-for="error in errors.risk_inv_types"> <p> {{ error }}</p></div> </form-error>
                        </ul>
                    </div>

                    <p class="question">In a scale of 1 to 5, are you comfortable with the volatility experienced with these investments? </p>
                    <div class="answers h-list">
                        <ul>
                            <li>
                                <input type="radio"  v-model="form.risk_inv_volatility" value="1" id="risk_inv_volatility_1"/>
                                <label for="risk_inv_volatility_1">1</label>
                            </li>
                            <li>
                                <input type="radio"  v-model="form.risk_inv_volatility" value="2" id="risk_inv_volatility_2"/>
                                <label for="risk_inv_volatility_2">2</label>
                            </li>
                            <li>
                                <input type="radio"  v-model="form.risk_inv_volatility" value="3" id="risk_inv_volatility_3"/>
                                <label for="risk_inv_volatility_3">3</label>
                            </li>
                            <li>
                                <input type="radio"  v-model="form.risk_inv_volatility" value="4" id="risk_inv_volatility_4"/>
                                <label for="risk_inv_volatility_4">4</label>
                            </li>
                            <li>
                                <input type="radio"  v-model="form.risk_inv_volatility" value="5" id="risk_inv_volatility_5"/>
                                <label for="risk_inv_volatility_5">5</label>
                            </li>
                            <form-error v-if="errors.risk_inv_volatility" :errors="errors"> <div v-for="error in errors.risk_inv_volatility"> <p> {{ error }}</p></div> </form-error>
                        </ul>
                    </div>

                    <p class="question">What is your investment objective?</p>
                    <div class="answers v-list dark">
                        <ul>
                            <li>
                                <input type="radio" v-model="form.risk_inv_objective" value="maximize_income" id="inv_objective_1"/>
                                <label for="inv_objective_1">To maximize income: i.e. if your income requirements are more important than long term capital growth. “I am most concerned with limiting my risk and I am willing to accept low to moderate growth potential”</label>
                            </li>
                            <li>
                                <input type="radio" v-model="form.risk_inv_objective" value="balanced_return" id="inv_objective_2"/>
                                <label for="inv_objective_2">To seek a balanced return from both income and capital growth: i.e. if you require income and are seeking some degree of capital growth in the long term. “I am willing to accept a moderate level of risk and possible short-term downturns in order to seek medium to high growth potential”</label>
                            </li>
                            <li>
                                <input type="radio" v-model="form.risk_inv_objective" value="maximize_capital_growth" id="inv_objective_3"/>
                                <label for="inv_objective_3">To maximize capital growth. i.e. if you require no income and will accept a lower yield in the short term in order to maximize potential for capital growth in the long term. “I am also willing to accept a high level of risk and a possibility of longer downturns in order to seek maximum growth potential”</label>
                            </li>
                            <form-error v-if="errors.risk_inv_objective" :errors="errors"> <div v-for="error in errors.risk_inv_objective"> <p> {{ error }}</p></div> </form-error>
                        </ul>
                    </div>

                    <p class="question">Do you trade with your investments on a regular basis</p>
                    <div class="answers v-list">
                        <ul>
                            <li>
                                <input type="radio"  v-model="form.risk_trade_frequency" id="risk_trade_frequency_1" value=">5yr"/>
                                <label for="risk_trade_frequency_1">No, I normally hold investments for more than 5 years</label>
                            </li>
                            <li>
                                <input type="radio" v-model="form.risk_trade_frequency" id="risk_trade_frequency_2" value=">1yr"/>
                                <label for="risk_trade_frequency_2">No, I normally hold investments for more than 1 year</label>
                            </li>
                            <li>
                                <input type="radio" v-model="form.risk_trade_frequency" id="risk_trade_frequency_3" value="6mo"/>
                                <label for="risk_trade_frequency_3">Yes, more than once every six months</label>
                            </li>
                            <li>
                                <input type="radio"  v-model="form.risk_trade_frequency" id="risk_trade_frequency_4" value=">1mo"/>
                                <label for="risk_trade_frequency_4">Yes, more than once a month</label>
                            </li>
                            <li>
                                <input type="radio" v-model="form.risk_trade_frequency" id="risk_trade_frequency_5" value="often"/>
                                <label for="risk_trade_frequency_5">Yes, as often as I like</label>
                            </li>
                            <form-error v-if="errors.risk_trade_frequency" :errors="errors"> <div v-for="error in errors.risk_trade_frequency"> <p> {{ error }}</p></div> </form-error>
                        </ul>
                    </div>

                    <p class="question">How would you rate your investment knowledge?</p>
                    <div class="answers h-list">
                        <ul>
                            <li>
                                <input type="radio" v-model="form.risk_knowledge" id="risk_knowledge_1" value="very_high"/>
                                <label for="risk_knowledge_1">Very high</label>
                            </li>
                            <li>
                                <input type="radio" v-model="form.risk_knowledge" id="risk_knowledge_2" value="high"/>
                                <label for="risk_knowledge_2">High</label>
                            </li>
                            <li>
                                <input type="radio" v-model="form.risk_knowledge" id="risk_knowledge_3" value="good"/>
                                <label for="risk_knowledge_3">Good</label>
                            </li>
                            <li>
                                <input type="radio"  v-model="form.risk_knowledge" id="risk_knowledge_4" value="medium"/>
                                <label for="risk_knowledge_4">Medium</label>
                            </li>
                            <li>
                                <input type="radio"  v-model="form.risk_knowledge" id="risk_knowledge_5" value="low"/>
                                <label for="risk_knowledge_5">Low / Poor</label>
                            </li>
                            <form-error v-if="errors.risk_knowledge" :errors="errors"> <div v-for="error in errors.risk_knowledge"> <p> {{ error }}</p></div> </form-error>
                        </ul>
                    </div>

                    <p class="question">What risk profile is acceptable to you as an investor?</p>
                    <div class="answers v-list dark">
                        <ul>
                            <li>
                                <input type="radio"  v-model="form.risk_profile" id="risk_profile_1" value="low"/>
                                <label for="risk_profile_1">No risk is acceptable. I want my capital and returns protected, despite the low returns</label>
                            </li>
                            <li>
                                <input type="radio"  v-model="form.risk_profile" id="risk_profile_2" value="medium"/>
                                <label for="risk_profile_2">Medium risk is acceptable if the investment provides prospects of achieving a higher return over the long term</label>
                            </li>
                            <li>
                                <input type="radio"  v-model="form.risk_profile" id="risk_profile_3" value="high"/>
                                <label for="risk_profile_3">Higher risk is acceptable if it is to provide prospects of return in the long term</label>
                            </li>
                            <form-error v-if="errors.risk_profile" :errors="errors"> <div v-for="error in errors.risk_profile"> <p> {{ error }}</p></div> </form-error>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-4  columns">
                <div class="grid-content">
                    <help></help>
                </div>
            </div>
            <div class="small-12 medium-12 columns application-form-footer">
                <router-link class="back button" :to="{name: 'apply.investment'}"><i class="fa fa-long-arrow-left"></i> Back
                </router-link>
                <button :disabled="submitting" class="next button" @click="submit(true)">Proceed to next step <i :class="{'fa-spinner fa-spin': submitting, 'fa-long-arrow-right': !submitting}" class="fa" ></i></button>
            </div>
        </div>
    </div>
</template>