<style>
    .calendar {
        margin-left: 20px;
        border-radius: 5px;
    }

    ul {
        z-index: 1;
    }

    .el-collapse-item__header {
        color: #fff;
        background-color: #409eff;
        border-color: #409eff;
        padding-left: 20px;
    }

    .btn-icon {
        margin-left: 20px;
        color: #066;
    }

    .required {
        color: red;
    }
</style>

<script>
    import Vue from 'vue';
    import {mapGetters} from 'vuex';
    import moment from 'moment'
    import VueTelInput from 'vue-tel-input';
    import {Message} from "element-ui";
    import axios from "axios";

    Vue.component('jont-holder-modal', require('./add_joint_holder.vue'));
    Vue.component('edit-jont-holder-modal', require('./edit_joint_holder.vue'));
    Vue.component('search-fa', require('./partials/search_fa'));

    export default {
        data: function () {
            return {
                popup2: {
                    opened: false
                },
                dob: null,
                bank: '',
                branch: '',
                other_bank: '',
                other_branch: '',
                enter_other_bank: false,
                sourceOther: false,
                bizNatureOther: false,
                form: {},
                collapse: [],
                activateSelectFa: false,
                sendingToken: false,
                validateToken: true,
                validatingToken: false,
                tokenValidated: false,
                token: '',
                formUrl: '/api/applications/form-upload/save',
                extensions: 'image/*, application/pdf',
            };
        },

        components: {
            VueTelInput,
        },

        computed: {
            ...mapGetters({
                subscriberForm: 'subscriberForm',
                individual: 'individualApplication',
                submitting: 'submitSubscriber',
                errors: 'subscriberErrors',
                titles: 'titlesList',
                countries: 'countriesList',
                employmentTypes: 'employmentTypesList',
                contactMethods: 'contactMethodsList',
                sourceOfFunds: 'sourceOfFundsList',
                jointHolderModal: 'jointHolderModal',
                genderList: 'genderList',
                jointHolderForm: 'jointHolderForm',
                editJointHolder: 'editJointHolderModal',
                banks: 'bankAccounts',
                branches: 'branches',
                fetching: 'fetchingBranches',
                loadingbusinessNatures: 'loadingbusinessNatures',
                appType: 'formType',
                businessNatures: 'businessNatures',
                jointCollapse: 'jointCollapse',
                default_fa: 'default_fa',
                defaultHeaders: 'defaultHeaders',
                rootStateForm: 'rootStateForm'
            }),

            selectFa() {
                return this.default_fa === '' || this.activateSelectFa
            },

            applicationForm() {
                let phone = this.individual ? this.form.telephone_home : this.form.telephone_office;

                return {
                    'slug': 'application_form',
                    'phone': phone,
                }
            }

        },
        watch: {
            dob: {
                handler: function () {
                    this.form.dob = moment(this.dob).format('YYYY-MM-DD');
                }
            },
            jointCollapse: {
                handler: function () {
                    this.collapse = this.jointCollapse;
                }
            },
            "form.funds_source_id": {
                handler: function () {
                    if (this.form.funds_source_id && this.sourceOfFunds && this.sourceOfFunds.length > 0) {
                        let vm = this;
                        let name = vm.sourceOfFunds.filter(source => source.id === vm.form.funds_source_id)[0].name;

                        this.sourceOther = name === 'Other';
                    }
                }
            },
            "form.corporate_investor_type": {
                handler: function () {
                    if (this.form.corporate_investor_type && this.businessNatures && this.businessNatures.length > 0) {
                        let vm = this;
                        let name = vm.businessNatures.filter(nature => nature.id === vm.form.corporate_investor_type)[0].name;

                        this.bizNatureOther = name === 'Other';
                    }
                }
            },

            bank: {
                handler: function () {
                    if (this.bank === 'other') {
                        this.enter_other_bank = true;
                    } else {
                        this.form.investor_bank = this.bank;

                        this.getBankBranch();
                        this.enter_other_bank = false;
                    }
                }
            },
            other_bank: {
                handler: function () {
                    if (this.bank === 'other') {
                        this.form.investor_bank = this.other_bank;
                    }
                }
            },
            branch: {
                handler: function () {
                    this.form.investor_bank_branch = this.branch;
                }
            },
            other_branch: {
                handler: function () {
                    if (this.bank === 'other') {
                        this.form.investor_bank_branch = this.other_branch;
                    }
                }
            }
        },

        methods: {
            showErrorMessage: function () {
                Message.warning({message: 'There was an error while uploading, please try again later'});
            },
            showSuccessMessage: function () {
                Message.success({message: 'File uploaded successfully'});
            },
            validateUploadForm: function () {
                let phone = this.individual ? this.form.telephone_home : this.form.telephone_office;

                if (!phone) {
                    Message.error('Please provide phone number to proceed.');
                    return false;
                }
                return true;
            },
            activateFaSelect() {
                this.activateSelectFa = !this.activateSelectFa;
            },
            submit(proceed) {
                if (this.default_fa && !this.activateSelectFa) {
                    this.form.financial_advisor = this.default_fa.value;
                }

                this.$store.dispatch('fill_subscriber', this.form);
            },
            verifyVerificationToken(proceed) {
                let form = {
                    phone: this.individual ? this.form.telephone_home : this.form.telephone_office,
                    token: this.token ? this.token : null
                };

                if (this.token) {
                    axios.post('/api/verify/application/token', form).then(
                        ({data}) => {
                            if (data.validated) {
                                this.validatingToken = false;
                                this.tokenValidated = true;
                                this.validateToken = false;

                                this.submit(proceed);

                                Message.success('Token validated successfully.');
                            } else {
                                this.authenticating = false;
                                Message.error('Token has not been validated successfully. Try Again')
                            }
                        }
                    );
                } else {
                    Message.error('Please provide the six Digit Verification Code sent to phone provided.')
                }
            },
            sendVerificationToken() {
                let form = {
                    phone: this.individual ? this.form.telephone_home : this.form.telephone_office,
                    faId: this.form.financial_advisor ? this.form.financial_advisor : null
                };

                if (!form.phone) {
                    Message.error('Please provide phone number to proceed.')
                } else {
                    axios.post('/api/request/application/token', form).then(
                        ({data}) => {
                            if (data.verified) {
                                this.sendingToken = true;
                                this.validateToken = true;
                                Message.success('Token request successfully done. Enter Code to proceed');
                            } else {
                                if (data.message) {
                                    this.$message({
                                        showClose: true,
                                        message: data.message,
                                        type: 'error',
                                        duration: 5000
                                    });
                                } else {
                                    Message.error('Token request was unsuccessful. Retry or confirm you contact information')
                                }
                            }
                        },
                    );
                }
            },
            open2() {
                this.popup2.opened = true;
            },
            getTitlesList() {
                this.$store.commit('GET_TITLES_LIST');
            },
            getCountriesList() {
                this.$store.commit('GET_COUNTRIES_LIST');
            },
            getEmploymentTypesList() {
                this.$store.commit('GET_EMPLOYMENT_TYPES_LIST');
            },
            getContactMethodsList() {
                this.$store.commit('GET_CONTACT_METHOD_LIST');
            },
            getSourceOfFundsList() {
                this.$store.commit('GET_SOURCE_OF_FUNDS_LIST');
            },
            getBusinessNaturesList() {
                this.$store.commit('GET_BUSINESS_NATURES_LIST');
            },
            getGender() {
                this.$store.commit('GET_GENDER');
            },
            openJointHolderModal() {
                this.$store.commit('jointHolderModal', true);
            },
            closeAddModal() {
                this.$store.commit('jointHolderModal', false);
            },
            closeEditModal: function () {
                this.$store.commit('EDIT_JOINT_HOLDER_MODAL', false);
            },
            viewJointHolders() {
                this.$store.commit('VIEW_JOINT_HOLDER');
            },
            editJointHolderModal: function (holder) {
                this.$store.commit('EDIT_JOINT_HOLDER_MODAL', {status: true, holder: holder});
            },
            submitted() {
                return this.jointHolderForm.hasOwnProperty('application_id');
            },
            getBanks: function () {
                this.$store.commit('GET_BANK_LIST');
            },
            getBankBranch: function () {
                this.$store.commit('FETCH_BANK_BRANCHES', this.bank);
            },
            backAction: function () {
                if (this.appType === 'short') {
                    this.$router.push({name: 'apply.investment'})
                } else {
                    this.$router.push({name: 'apply.risk'})
                }
            },
            selectedFa(fa) {
                this.form.financial_advisor = fa.value;
            },
            handleChange(val) {
                console.log(val);
            }
        },
        mounted() {
            this.getTitlesList();
            this.getCountriesList();
            this.getEmploymentTypesList();
            this.getContactMethodsList();
            this.getSourceOfFundsList();
            this.getBusinessNaturesList();
            this.getGender();
            this.getBanks();
            this.form = Object.assign({}, this.subscriberForm);
        }
    }
</script>

<template>
    <div class="row">
        <div class="small-12 medium-8 columns subscriber-form">
            <div class="grid-content">

                <form name="subform" class="subform">
                    <!-- INDIVIDUAL -->
                    <div class="form-section" v-if="individual">
                        <div class="form-section-title">
                            <h5>PERSONAL INFORMATION</h5>

                            <i class="fa"
                               ng-class="{'fa-chevron-down': z.persInfo, 'fa-chevron-right': z.persInfo}"></i>
                        </div>
                        <div class="form-section-body">
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content">
                                    <label>Title <span class="required">*</span></label>
                                </div>

                                <div class="small-12 medium-9 columns float-left grid-content">
                                    <el-select v-model="form.title" placeholder="Select" filterable>
                                        <el-option
                                                v-for="t in titles"
                                                :key="t.id"
                                                :label="t.name"
                                                :value="t.id">
                                        </el-option>
                                    </el-select>

                                    <form-error v-if="errors.title" :errors="errors">
                                        <div v-for="error in errors.title"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                            </div>
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns float-left grid-content">
                                    <label>Name <span class="required">*</span></label>
                                </div>
                                <div class="small-12 medium-3 columns float-left grid-content">
                                    <el-input v-model="form.firstname" placeholder="First name"></el-input>
                                    <form-error v-if="errors.firstname" :errors="errors">
                                        <div v-for="error in errors.firstname"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                                <div class="small-12 medium-3 columns float-left grid-content">
                                    <el-input v-model="form.middlename" placeholder="Middle name (optional)"></el-input>
                                    <form-error v-if="errors.middlename" :errors="errors">
                                        <div v-for="error in errors.middlename"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                                <div class="small-12 medium-3 columns float-left grid-content">

                                    <el-input v-model="form.lastname" placeholder="Last name"></el-input>

                                    <form-error v-if="errors.lastname" :errors="errors">
                                        <div v-for="error in errors.lastname"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                            </div>
                            <div class="row form-element" v-if="appType === 'long'">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Date of Birth</label>
                                </div>
                                <div class="small-12 medium-9 columns grid-content float-left ">
                                    <el-date-picker
                                            v-model="dob"
                                            type="date"
                                            placeholder="Date of birth">
                                    </el-date-picker>

                                    <form-error v-if="errors.dob" :errors="errors">
                                        <div v-for="error in errors.dob">
                                            <p> {{ error }}</p>
                                        </div>
                                    </form-error>
                                </div>
                            </div>
                            <br/>
                            <div class="row form-element" style="margin-top: 5px;">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>ID or Passport <span class="required">*</span></label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">
                                    <el-input v-model="form.id_or_passport" placeholder="ID/Passport Number"></el-input>

                                    <form-error v-if="errors.id_or_passport" :errors="errors">
                                        <div v-for="error in errors.id_or_passport"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                            </div>
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>KRA PIN</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">
                                    <el-input v-model="form.pin_no" placeholder="e.g. A00388389239"></el-input>

                                    <form-error v-if="errors.pin_no" :errors="errors">
                                        <div v-for="error in errors.pin_no"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                            </div>
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Email <span class="required">*</span></label>
                                </div>
                                <div class="small-12 medium-9 columns grid-content float-left ">
                                    <el-input v-model="form.email" placeholder="example@email.com"></el-input>

                                    <form-error v-if="errors.email" :errors="errors">
                                        <div v-for="error in errors.email"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                            </div>
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content">
                                    <label>Phone number <span class="required">*</span></label>
                                </div>
                                <div class="small-12 medium-9 columns grid-content float-left ">

                                    <vue-tel-input v-model="form.telephone_home"
                                                   placeholder="Phone Number e.g 0712345678"
                                                   class="el-input__inner"></vue-tel-input>

                                    <form-error v-if="errors.telephone_home" :errors="errors">
                                        <div v-for="error in errors.telephone_home"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                            </div>
                            <div class="row form-element" v-if="appType === 'long'">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Postal Address</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">

                                    <el-input v-model="form.postal_address" placeholder="e.g. 400499"></el-input>
                                    <form-error v-if="errors.postal_address" :errors="errors">
                                        <div v-for="error in errors.postal_address"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                            </div>
                            <div class="row form-element" v-if="appType === 'long'">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Zip/Postal Code</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">
                                    <el-input v-model="form.postal_code" placeholder="e.g. 00200"></el-input>

                                </div>
                            </div>
                            <div class="row form-element" v-if="appType === 'long'">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>City</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">

                                    <el-input v-model="form.town" placeholder="Nairobi"></el-input>
                                </div>
                                <form-error v-if="errors.town" :errors="errors">
                                    <div v-for="error in errors.town"><p> {{ error }}</p></div>
                                </form-error>
                            </div>
                            <div class="row form-element" v-if="appType === 'long'">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Physical address</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">
                                    <el-input
                                            type="textarea"
                                            :rows="3"
                                            placeholder="e.g. 6411 Ivy Lane, Suite 112 Greenbelt, MD 20770"
                                            v-model="form.street">
                                    </el-input>

                                    <form-error v-if="errors.street" :errors="errors">
                                        <div v-for="error in errors.street"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                            </div>
                            <div class="row form-element" v-if="appType === 'long'">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Country</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">
                                    <el-select v-model="form.country_id" placeholder="Select" filterable>
                                        <el-option
                                                v-for="c in countries"
                                                :key="c.id"
                                                :label="c.name "
                                                :value="c.id">
                                        </el-option>
                                    </el-select>


                                </div>
                                <form-error v-if="errors.country_id" :errors="errors">
                                    <div v-for="error in errors.country_id"><p> {{ error }}</p></div>
                                </form-error>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="form-section" v-if="individual && appType === 'long'">
                        <div class="form-section-title">
                            <h5>EMPLOYMENT DETAILS</h5>

                            <i class="fa" ng-class="{'fa-chevron-down': !z.emp, 'fa-chevron-right': z.emp}"></i>
                        </div>
                        <div class="form-section-body">
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Employment</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">
                                    <el-select v-model="form.employment_id" placeholder="Select">
                                        <el-option
                                                v-for="e in employmentTypes"
                                                :key="e.id"
                                                :label="e.name"
                                                :value="e.id">
                                        </el-option>
                                    </el-select>

                                </div>
                            </div>


                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Sector</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">
                                    <el-input v-model="form.business_sector"
                                              placeholder="e.g Financial Services"></el-input>

                                </div>
                            </div>

                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Present Occupation</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">
                                    <el-input v-model="form.present_occupation" placeholder=""></el-input>

                                </div>
                            </div>

                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Employer Name</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">
                                    <el-input v-model="form.employer_name" placeholder=""></el-input>
                                </div>
                            </div>

                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Employer Address</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">
                                    <el-input v-model="form.employer_address" placeholder=""></el-input>
                                </div>
                            </div>

                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Preferred method of contact</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">
                                    <el-select v-model="form.method_of_contact_id" placeholder="Select" filterable>
                                        <el-option
                                                v-for="ct in contactMethods"
                                                :key="ct.id"
                                                :label="ct.description"
                                                :value="ct.id">
                                        </el-option>
                                    </el-select>

                                    <form-error v-if="errors.method_of_contact_id" :errors="errors">
                                        <div v-for="error in errors.method_of_contact_id"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="form-section" v-if="individual">
                        <div class="form-section-title">
                            <H5>SOURCE OF FUNDS</H5>

                            <i class="fa" ng-class="{'fa-chevron-down': !z.src, 'fa-chevron-right': z.src}"></i>
                        </div>
                        <div class="form-section-body">
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Source of funds <span class="required">*</span></label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">
                                    <el-select v-model="form.funds_source_id" placeholder="Select" filterable>
                                        <el-option
                                                v-for="s in sourceOfFunds"
                                                :key="s.id"
                                                :label="s.name "
                                                :value="s.id">
                                        </el-option>
                                    </el-select>

                                </div>
                            </div>
                            <div class="row form-element" v-if="sourceOther">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Details</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">
                                    <el-input v-model="form.funds_source_other" placeholder=""></el-input>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="form-section" v-if="individual">
                        <div class="form-section-title">
                            <H5>FINANCIAL ADVISOR / REFERRER</H5>

                            <i class="fa" ng-class="{'fa-chevron-down': !z.src, 'fa-chevron-right': z.src}"></i>
                        </div>
                        <div class="form-section-body">
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Financial Advisor: </label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">

                                    <p v-if="!selectFa">
                                        {{default_fa.label}}
                                        <span class="btn-icon" @click="activateFaSelect">
                                            <i class="fa fa-pencil" style="cursor: pointer;"></i>
                                        </span>
                                    </p>

                                    <div class="row" v-if="selectFa">
                                        <div class="small-12 medium-10 columns grid-content float-left ">
                                            <search-fa @referredFA="selectedFa"
                                                       :code="form.financial_advisor"></search-fa>
                                        </div>
                                        <div class="small-12 medium-2 columns grid-content float-left text-center">
                                            <span class="btn-icon" v-if="default_fa" @click="activateFaSelect">
                                                <i class="fa fa-reply" style="cursor: pointer;"></i>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="form-section" v-if="individual && appType === 'short'">
                        <div class="form-section-title">
                            <h5>APPLICATION FORM DOCUMENT</h5>

                            <i class="fa" ng-class="{'fa-chevron-down': !z.src, 'fa-chevron-right': z.src}"></i>
                        </div>

                        <div class="upload-block">
                            <el-upload
                                    class="upload-demo"
                                    drag
                                    :action=formUrl
                                    ref="upload"
                                    :data=applicationForm
                                    :headers="defaultHeaders"
                                    :on-error="showErrorMessage"
                                    :on-success="showSuccessMessage"
                                    :accept=extensions
                                    :thumbnail-mode="false"
                                    :before-upload="validateUploadForm">

                                <div class="el-upload__text">
                                    <span><i class="el-icon-upload"></i></span><br/>
                                    Upload a copy of Application Form <em>click to upload</em>
                                </div>
                                <div class="el-upload__tip" slot="tip">pdf/scanned images files with a size less
                                    than
                                    500kb
                                </div>
                            </el-upload>
                            <br>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-section" v-if="individual && appType === 'long'">
                        <div class="form-section-title">
                            <h5>NEXT OF KIN</h5>

                            <i class="fa" ng-class="{'fa-chevron-down': !z.kin, 'fa-chevron-right': z.kin}"></i>
                        </div>
                        <div class="form-section-body">
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Name</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">
                                    <el-input v-model="form.kin_name" placeholder="Full name"></el-input>

                                </div>
                            </div>

                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Phone Number</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">
                                    <vue-tel-input v-model="form.kin_phone"
                                                   placeholder="Phone Number e.g 0712345678"
                                                   class="el-input__inner"></vue-tel-input>
                                </div>
                            </div>
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Email</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">
                                    <el-input v-model="form.kin_email" placeholder="Email"></el-input>

                                </div>
                            </div>

                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Postal Address</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">
                                    <el-input v-model="form.kin_postal" placeholder="Postal Address"></el-input>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <!-- CORPORATE -->
                    <div class="form-section" v-if="!individual">
                        <div class="form-section-title">
                            <h5> Nature of Subscriber</h5>

                            <i class="fa" ng-class="{'fa-chevron-down': z.nat, 'fa-chevron-right': z.nat}"></i>
                        </div>
                        <div class="form-section-body">
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Nature <i class="el-icon-loading"
                                                     v-show="loadingbusinessNatures"></i></label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">
                                    <el-select v-model="form.corporate_investor_type" placeholder="Select"
                                               filterable>
                                        <el-option
                                                v-for="b in businessNatures"
                                                :key="b.id"
                                                :label="b.name "
                                                :value="b.id">
                                        </el-option>
                                    </el-select>

                                    <form-error v-if="errors.corporate_investor_type" :errors="errors">
                                        <div v-for="error in errors.corporate_investor_type"><p> {{ error }}</p>
                                        </div>
                                    </form-error>
                                </div>
                            </div>

                            <div class="row form-element" v-if="bizNatureOther">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Specify, if other</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">

                                    <el-input v-model="form.corporate_investor_type_other"
                                              placeholder="Specify if other"></el-input>
                                    <form-error v-if="errors.corporate_investor_type_other" :errors="errors">
                                        <div v-for="error in errors.corporate_investor_type_other"><p> {{ error
                                            }}</p>
                                        </div>
                                    </form-error>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="form-section" v-if="!individual">
                        <div class="form-section-title">
                            <h5>Subscriber Details</h5>

                            <i class="fa" ng-class="{'fa-chevron-down': !z.corp, 'fa-chevron-right': z.corp}"></i>
                        </div>
                        <div class="form-section-body">
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Registered Name</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">

                                    <el-input v-model="form.registered_name"
                                              placeholder="Registered Name"></el-input>
                                    <form-error v-if="errors.registered_name" :errors="errors">
                                        <div v-for="error in errors.registered_name"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                            </div>
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Trade Name</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">
                                    <el-input v-model="form.trade_name" placeholder="Trade Name"></el-input>

                                    <form-error v-if="errors.trade_name" :errors="errors">
                                        <div v-for="error in errors.trade_name"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                            </div>
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Registered Address</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">
                                    <el-input v-model="form.registered_address"
                                              placeholder="Registered Address"></el-input>

                                    <form-error v-if="errors.registered_address" :errors="errors">
                                        <div v-for="error in errors.registered_address"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                            </div>
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Registration Number</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">

                                    <el-input v-model="form.registration_number"
                                              placeholder="Registration Number"></el-input>
                                    <form-error v-if="errors.registration_number" :errors="errors">
                                        <div v-for="error in errors.registration_number"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                            </div>
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Postal Address</label>
                                </div>
                                <div class="small-12 medium-9 columns grid-content float-left ">

                                    <el-input v-model="form.postal_address" placeholder="e.g. 400499"></el-input>
                                    <form-error v-if="errors.postal_address" :errors="errors">
                                        <div v-for="error in errors.postal_address"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                            </div>
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Zip/Postal Code</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">

                                    <el-input v-model="form.postal_code" placeholder="e.g. 00200"></el-input>
                                </div>
                            </div>
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>City</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">
                                    <el-input v-model="form.town" placeholder="Nairobi"></el-input>

                                </div>
                                <form-error v-if="errors.town" :errors="errors">
                                    <div v-for="error in errors.town"><p> {{ error }}</p></div>
                                </form-error>
                            </div>
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Telephone</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">
                                    <vue-tel-input v-model="form.telephone_office"
                                                   placeholder="Phone Number e.g 0712345678"
                                                   class="el-input__inner"></vue-tel-input>

                                    <form-error v-if="errors.telephone_office" :errors="errors">
                                        <div v-for="error in errors.telephone_office"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                            </div>
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>E-mail</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">

                                    <el-input v-model="form.email" placeholder="E-mail"></el-input>
                                    <form-error v-if="errors.email" :errors="errors">
                                        <div v-for="error in errors.email"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                            </div>
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Physical Address</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">

                                    <el-input v-model="form.street" placeholder="Physical Address"></el-input>
                                    <form-error v-if="errors.street" :errors="errors">
                                        <div v-for="error in errors.street"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                            </div>
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Company PIN Number</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">

                                    <el-input v-model="form.pin_no" placeholder="PIN"></el-input>
                                    <form-error v-if="errors.pin_no" :errors="errors">
                                        <div v-for="error in errors.pin_no"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                            </div>
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Preferred Method of Contact</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">
                                    <el-select v-model="form.method_of_contact_id" placeholder="" filterable>
                                        <el-option
                                                v-for="c in contactMethods"
                                                :key="c.id"
                                                :label="c.description"
                                                :value="c.id">
                                        </el-option>
                                    </el-select>

                                    <form-error v-if="errors.method_of_contact_id" :errors="errors">
                                        <div v-for="error in errors.method_of_contact_id"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="form-section" v-if="!individual">
                        <div class="form-section-title">
                            <h5>Contact Person</h5>

                            <i class="fa" ng-class="{'fa-chevron-down': !z.cont, 'fa-chevron-right': z.cont}"></i>
                        </div>
                        <div class="form-section-body">
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns float-left grid-content">
                                    <label>Name</label>
                                </div>
                                <div class="small-12 medium-3 columns float-left grid-content">

                                    <el-select v-model="form.contact_person_title" placeholder="" filterable>
                                        <el-option
                                                v-for="b in titles"
                                                :key="b.id"
                                                :label="b.name"
                                                :value="b.id">
                                        </el-option>
                                    </el-select>

                                    <form-error v-if="errors.contact_person_title" :errors="errors">
                                        <div v-for="error in errors.contact_person_title"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                                <div class="small-12 medium-3 columns float-left grid-content">
                                    <el-input v-model="form.contact_person_fname"
                                              placeholder="First name"></el-input>
                                    <form-error v-if="errors.contact_person_fname" :errors="errors">
                                        <div v-for="error in errors.contact_person_fname"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                                <div class="small-12 medium-3 columns float-left grid-content">
                                    <el-input v-model="form.contact_person_lname"
                                              placeholder="Last name"></el-input>
                                    <form-error v-if="errors.contact_person_lname" :errors="errors">
                                        <div v-for="error in errors.contact_person_lname"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="form-section" v-if="appType === 'long'">
                        <div class="form-section-title">
                            <h5>Banking Information</h5>

                            <i class="fa" ng-class="{'fa-chevron-down': !z.bank, 'fa-chevron-right': z.bank}"></i>
                        </div>
                        <div class="form-section-body">
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns float-left  grid-content">
                                    <label>Account Name</label>
                                </div>

                                <div class="small-12 medium-9 columns float-left grid-content">

                                    <el-input v-model="form.investor_account_name"
                                              placeholder="Account Name"></el-input>
                                    <form-error v-if="errors.investor_account_name" :errors="errors">
                                        <div v-for="error in errors.investor_account_name"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                            </div>
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Account Number</label>
                                </div>

                                <div class="small-12 medium-9 columns float-left grid-content">

                                    <el-input v-model="form.investor_account_number"
                                              placeholder="Account Number"></el-input>
                                    <form-error v-if="errors.investor_account_number" :errors="errors">
                                        <div v-for="error in errors.investor_account_number"><p> {{ error }}</p>
                                        </div>
                                    </form-error>
                                </div>
                            </div>
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Bank Name</label>
                                </div>

                                <div class="small-12 medium-9 columns grid-content float-left ">

                                    <el-select v-model="bank" filterable placeholder="Select Bank"
                                               style="width: 100%;">
                                        <el-option v-for="bank in banks" :key="bank.id" :label="bank.name"
                                                   :value="bank.id"></el-option>
                                        <el-option key="others" label="Other" value="other"></el-option>
                                    </el-select>

                                    <form-error v-if="errors.investor_bank" :errors="errors">
                                        <div v-for="error in errors.investor_bank"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                            </div>

                            <div v-show="enter_other_bank" class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Bank</label>
                                </div>

                                <div class="small-12 medium-9 columns  grid-content float-left ">
                                    <el-input v-model="other_bank" placeholder="Enter Bank Name"></el-input>
                                    <form-error v-if="errors.investor_bank" :errors="errors">
                                        <div v-for="error in errors.investor_bank"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                            </div>

                            <div v-show="!enter_other_bank" class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Branch</label>
                                </div>

                                <div class="small-12 medium-9 columns  grid-content float-left ">

                                    <span v-if="fetching"><i class="fa fa-spinner fa-spin"></i></span>

                                    <el-select v-model="branch" filterable placeholder="Select Bank Branch"
                                               style="width: 100%;">
                                        <el-option v-for="branch in branches" :key="branch.id" :label="branch.name"
                                                   :value="branch.id"></el-option>
                                    </el-select>

                                    <form-error v-if="errors.investor_bank_branch" :errors="errors">
                                        <div v-for="error in errors.investor_bank_branch"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                            </div>

                            <div v-show="enter_other_bank" class="row form-element">
                                <div class="small-12 medium-3 columns grid-content float-left ">
                                    <label>Branch</label>
                                </div>

                                <div class="small-12 medium-9 columns  grid-content float-left ">
                                    <el-input v-model="other_branch" placeholder="Enter Branch Name"></el-input>
                                    <form-error v-if="errors.investor_bank_branch" :errors="errors">
                                        <div v-for="error in errors.investor_bank_branch"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                            </div>
                            <!--<div class="row form-element">-->
                            <!--<div class="small-12 medium-3 columns grid-content float-left ">-->
                            <!--<label>Clearing Code</label>-->
                            <!--</div>-->

                            <!--<div class="small-12 medium-9 columns grid-content float-left ">-->
                            <!--<el-input  v-model="form.investor_clearing_code" placeholder="Clearing Code"></el-input>-->

                            <!--</div>-->
                            <!--</div>-->
                            <!--<div class="row form-element">-->
                            <!--<div class="small-12 medium-3 columns grid-content float-left ">-->
                            <!--<label>Swift Code</label>-->
                            <!--</div>-->

                            <!--<div class="small-12 medium-9 columns grid-content float-left ">-->
                            <!--<el-input  v-model="form.investor_swift_code" placeholder="Swift Code"></el-input>-->

                            <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="form-section" v-if="individual && appType === 'long'">
                        <div class="form-section-title">
                            <h5>JOINT SUBSCRIBERS</h5>

                            <i class="fa"
                               ng-class="{'fa-chevron-down': z.persInfo, 'fa-chevron-right': z.persInfo}"></i>
                        </div>
                        <div class="form-section-body">
                            <div class="">
                                <el-alert
                                        title="If there are more that one subscribers, add them here"
                                        type="info"
                                        :closable="false">
                                </el-alert>
                                <br><br>
                                <table>
                                    <thead>
                                    <tr>
                                        <td>Name</td>
                                        <td>Email</td>
                                        <td>Phone Number</td>
                                        <td>Pin Number</td>
                                        <td v-if="!submitted">Edit</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="holder in jointHolderForm">
                                        <td>{{ holder.firstname }} {{ holder.lastname }}</td>
                                        <td>{{ holder.email }}</td>
                                        <td>{{ holder.telephone_cell }}</td>
                                        <td>{{ holder.pin_no }}</td>

                                        <td v-if="!submitted">
                                            <el-button type="primary" icon="edit"
                                                       @click="editJointHolderModal(holder)"></el-button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="">

                                <!--                                <el-button type="primary" @click="openJointHolderModal"><i class="el-icon-plus"></i> Add-->
                                <!--                                    joint subscriber-->
                                <!--                                </el-button>-->
                                <!--                                &lt;!&ndash; the add joint component &ndash;&gt;-->
                                <!--                                <el-dialog title="Add Joint Holder" :visible.sync="jointHolderModal"-->
                                <!--                                           :before-close="closeAddModal">-->
                                <!--                                    <jont-holder-modal></jont-holder-modal>-->
                                <!--                                </el-dialog>-->

                                <!--                                &lt;!&ndash; the edit joint holder component &ndash;&gt;-->
                                <!--                                <el-dialog title="Edit Joint Holder" :visible.sync="editJointHolder"-->
                                <!--                                           :before-close="closeEditModal">-->
                                <!--                                    <edit-jont-holder-modal></edit-jont-holder-modal>-->
                                <!--                                </el-dialog>-->

                                <el-collapse v-model="collapse">
                                    <el-collapse-item name="add_joint" class="collapse">
                                        <template slot="title">
                                            Add Joint Subscriber <i class="header-icon el-icon-plus"></i>
                                        </template>
                                        <jont-holder-modal></jont-holder-modal>
                                    </el-collapse-item>
                                </el-collapse>

                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="form-section" v-if="sendingToken">
                        <div class="form-section-title">
                            <H5>TOKEN VERIFICATION </H5>

                            <i class="fa" ng-class="{'fa-chevron-down': !z.src, 'fa-chevron-right': z.src}"></i>
                        </div>
                        <div class="form-section-body">
                            <div class="row form-element">
                                <div class="small-12 medium-3 columns float-left grid-content">
                                    <label>Token <span class="required">*</span></label>
                                </div>
                                <div class="small-12 medium-9 columns float-left grid-content">
                                    <el-input v-model="token"
                                              placeholder="Enter the six digit verification sent vie SMS"></el-input>
                                    <form-error v-if="errors.token" :errors="errors">
                                        <div v-for="error in errors.token"><p> {{ error }}</p></div>
                                    </form-error>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                    </div>-->
                </form>
            </div>
        </div>
        <div class="small-12 medium-4 columns ">
            <div class="grid-content">
                <help></help>
            </div>
        </div>

        <hr/>

        <div class="small-12 medium-12 columns application-form-footer">
            <button class="back button" @click="backAction"><i class="fa fa-long-arrow-left"></i> Back</button>
            <button v-if="!sendingToken" class="next button" @click="sendVerificationToken">
                Send Token
                <i :class="{'fa-spinner fa-spin': sendingToken, 'fa-long-arrow-right': !sendingToken}" class="fa"></i>
            </button>
            <button v-if="sendingToken && validateToken" class="next button" @click="verifyVerificationToken">
                Verify Token
                <i :class="{'fa-spinner fa-spin': validatingToken, 'fa-long-arrow-right': validatingToken}"
                   class="fa"></i>
            </button>
            <button :disabled="submitting" v-if="tokenValidated" class="next button" @click="submit(true)">
                Proceed to next step
                <i :class="{'fa-spinner fa-spin': submitting, 'fa-long-arrow-right': !submitting}" class="fa"></i>
            </button>
        </div>
    </div>
</template>

