<script>
    import vSelect from "vue-select";

    export default {
        components: { vSelect },
        props: ['name'],
        data() {
            return {
                selectedFA: null,
                select_options: [],
                financial_advisor: {},
                loading: false
            }
        },
        watch: {
            selectedFA: function () {
                this.financial_advisor = this.selectedFA;
                this.$store.commit('SET_SELECTED_ADVISOR', this.selectedFA);
                this.$emit('faSelected', this.selectedFA)
            }
        },
        methods: {
            getOptions(search) {

                this.search(search, this)

            },

            search: _.debounce((search, vm) => {

                vm.loading = true;

                axios.post('/api/commission/recipients', { query: search })

                    .then(({data}) => {
                        vm.select_options = data.data;

                        vm.loading = false;

                    })
            }, 350),

            getClientId(){

                if(this.selectedFA) return this.selectedFA.id;

                return null;
            }
        }
    }
</script>

<template>
    <div>
        <div>
            <el-select
                    v-model="selectedFA"
                    clearable
                    filterable
                    remote
                    reserve-keyword
                    placeholder="Search Financial Advisor"
                    :remote-method="getOptions"
                    :loading="loading"
                    loading-text="Loading..."
            >
                <el-option
                        v-for="item in select_options"
                        :key="item.value"
                        :label="item.label"
                        :value="item">
                </el-option>
            </el-select>
            <input type="hidden" :name="name" v-model="financial_advisor.value">
        </div>
        <br>
        <div>
            <table class="table table-responsive-table-hover table-striped" v-if="financial_advisor.hasOwnProperty('value')">
                <thead>
                <tr>
                    <th>#</th>
                    <th>NAME: </th>
                    <th>EMAIL ADDRESS:</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> {{ financial_advisor.value }} </td>
                    <td> {{ financial_advisor.label }} </td>
                    <td> {{ financial_advisor.email }} </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<style>
    .input-group, el-select, .el-select {
        width: 100%
    }
</style>