<script>
    import NotificationsMixins from './notificationsMixins';

    export default {
        mixins: [NotificationsMixins],
    }
</script>

<template>
    <div style="display: flex;">

        <div class="crims_notifications__overlay" v-if="notifications_display" @click="showNotifications"></div>

        <div class="crims_notifications">
            <a @click="showNotifications">
                <span class="notify_bubble" v-if="unreadMessages>0">{{unreadMessages}}</span>
                <i class="fa fa-bell" aria-hidden="true"></i>
            </a>

            <div class="crims_notifications__content" v-if="notifications_display">

                <div class="notify_title">
                    Notifications
                </div>

                <div class="notify_messages">
                    <ul>
                        <li
                            class="notify_message"
                            v-for="(notification, index) in notifications"
                            :key="index"
                            @click="view(notification)">

                            <div class="notify_message__title" :class="notification.status">
                                {{notification.short_description}}
                            </div>

                            <div class="notify_message__body" :class="notification.status">
                                {{notification.description}}
                            </div>

                            <div class="notify_message__footer" :class="notification.status">
                                {{notification.date}}
                            </div>

                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</template>