<script>
    import List from './list.js';
    export default {
        mixins: [List]
    }
</script>
<template>
    <div class="crims-page all-investments">
        <breadcrumb >
            <h3>Investments: Unit Trust Funds</h3>
        </breadcrumb>

        <div class="crims-table-area table_scroll">

            <div v-if="fetchingFundSummary">
                <table-holder></table-holder>
            </div>

            <table class="crims-table" v-else id="ut_step_0">

                <thead class="crims-table-head">
                    <tr>
                        <th>Fund</th>
                        <th>Principal</th>
                        <th>Gross Interest</th>
                        <th>Net Interest</th>
                        <th>Withholding Tax</th>
                        <th>Current Balance</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="fundsummary in funds">
                        <td>{{ fundsummary.details.shortname }}</td>
                        <td>KES {{ fundsummary.details.calculate.purchases | currency(null, 0) }}</td>
                        <td>KES {{ fundsummary.details.calculate.gross_interest | currency(null, 0) }}</td>
                        <td>KES {{ fundsummary.details.calculate.net_interest | currency(null, 0) }}</td>
                        <td>KES {{ fundsummary.details.calculate.withholding_tax | currency(null, 0) }}</td>
                        <td>KES {{ fundsummary.details.calculate.total | currency(null, 0) }}</td>
                        <td class="action">
                            <router-link  :to="{name: 'unittrust.details',params: {id: fundsummary.details.fundId } }">
                                <i class="fa fa-eye view_ut_investment" aria-hidden="true"></i>
                            </router-link>
                        </td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>
</template>