<script>
    import { Message } from 'element-ui';
    import { mapGetters } from 'vuex';

    export default {
        data() {
            return {
                form: {},
            }
        },

        computed: {
            ...mapGetters({
                savingLimit: 'savingLimits',
                funds: 'allUnitFunds',
                fetchingFund: 'fetchingFund',
            })
        },

        watch: {
            asset_class_id: {
                handler: function () {
                    this.fetchSubAssetClass();
                }
            }
        },

        methods: {
            submit: function () {
                if(!this.validateForm()) {
                    Message.warning({ message: 'Fill the form to proceed' });

                    return;
                }

                this.$store.commit('SAVE_LIQUIDITY_LIMIT', this.form);
            },

            validateForm: function () {
                if(this.form.unit_fund_id && this.form.warn && this.form.limit) {
                    return true;
                }

                return false;
            },

            close: function () {
                this.$store.commit('CREATE_LIQUIDITY_LIMIT', false);
            }
        }
    }
</script>

<template>
    <div class="">
        <div class="panel panel-success">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Unit Fund: <i class="fa fa-spinner fa-spin" v-if="fetchingFund" filterable></i> <i class="" v-else></i></label>

                            <el-select v-model="form.unit_fund_id" placeholder="Select unit fund" style="width: 100%;">
                                <el-option
                                        v-for="fund in funds"
                                        :key="fund.id"
                                        :label="fund.name"
                                        :value="fund.id">
                                </el-option>
                            </el-select>
                            <br>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <br>
                            <label>Warn at?</label>
                            <el-input placeholder="Please input" v-model="form.warn" style="width: 100%;" v-bind:aria-required="true"></el-input>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <br>
                            <label>Limit at?</label>
                            <el-input placeholder="Please input" v-model="form.limit" style="width: 100%;" v-bind:aria-required="true"></el-input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="">
            <el-button type="primary" @click="submit" size="mini">
                <i class="fa fa-spinner fa-spin" v-if="savingLimit"></i> <i class="fa fa-save" v-else></i> Save
            </el-button>

            <el-button type="info" @click="close" size="mini">Close</el-button>
        </div>
    </div>
</template>