<script>
    import Vue from 'vue';
    import vueTableMixin from '../../../../mixins/vuetable_mixin';
    import PortfolioMixins from '../../mixins/index';
    import { mapGetters } from 'vuex';

    Vue.component('add-limit', require('./create.vue'));

    export default {

        mixins: [ vueTableMixin, PortfolioMixins ],

        data() {
            return {

                url: '/api/portfolio/compliance/liquidity',

                fields: [
                    { name: 'id', title: 'ID', sortField: 'id' },
                    { name: 'unit_fund', title: 'Unit Fund', sortField: 'unit_fund' },
                    { name: 'warn', title: 'Warn', sortField: 'warn' },
                    { name: 'limit', title: 'Limit', sortField: 'limit' },
                    { name: '__view_action', title: 'View', titleClass: 'text-center', dataClass: 'text-center' },
                ],
                tableState: { },
                promise: true,
                securityModal: false,
                form: {}
            }
        },

        computed: {
            ...mapGetters({
                liquidityModal: 'liquidityModal'
            })
        },

        methods: {
            create: function () {
                this.$store.commit('CREATE_LIQUIDITY_LIMIT', true);
            }
        }
    }
</script>

<template>
    <div class="">
        <div class="">

            <br>
            <br>
            <div class="">
                <div class="btn-group">
                    <el-button type="primary" @click="create" size="mini"><i class="fa fa-plus"></i> Create </el-button>
                </div>
            </div>
            <hr>

            <div class="table-area">

                <div class="crims_table">
                    <vuetable ref="vuetable"
                              :api-url="url"
                              :fields="fields"
                              pagination-path=""
                              @vuetable:pagination-data="onPaginationData"
                              :append-params="tableState"
                              :per-page="itemsPerPage"
                    >
                    </vuetable>

                    <div class="vuetable-pagination ui basic segment grid crims_pagination">
                        <table>
                            <tfoot>
                            <tr>
                                <td class="text-center" width="50%">
                                    <div class="inline-block" style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                        <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                        <select style="width: 100px" class="form-control" v-model="itemsPerPage" @change="changePerPage">
                                            <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <vuetable-pagination-info ref="paginationInfo">
                                    </vuetable-pagination-info>
                                    <vuetable-pagination ref="pagination"
                                                         @vuetable-pagination:change-page="onChangePage"
                                    ></vuetable-pagination>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <el-dialog
                title = "CREATE LIQUIDITY COMPLIANCE"
                :visible.sync="liquidityModal"
                width="20%"
                :show-close="false">
                <span>
                    <add-limit> </add-limit>
                </span>
        </el-dialog>
    </div>
</template>
