<script>
    import PortfolioMixin from '../mixins/index';
    import { mapGetters } from 'vuex';
    import moment from 'moment';

    export default {
        mixins: [ PortfolioMixin ],

        data() {
            return {
                form: { on_call: 0, type_id: {}},
                invested_date: '',
                maturity_date: '',
                depositType: '',
                deposit_type_id: ''
            }
        },

        computed: {
            ...mapGetters({
                depositErrors: 'depositErrors',
                depositTypes: 'depositTypes',
                savingDeposit: 'savingDeposit'
            })
        },

        watch: {
            invested_date : {
                handler: function () {
                    this.form.invested_date = moment(this.invested_date).format('YYYY-MM-DD');
                }
            },

            maturity_date: {
                handler: function () {
                    this.form.maturity_date = moment(this.maturity_date).format('YYYY-MM-DD');
                }
            },

            deposit_type_id: {
                handler: function () {
                    this.form.deposit_type_id = this.deposit_type_id;

                    this.depositType = this.depositTypes.filter( (deposit)=>{
                        return (deposit.id == this.deposit_type_id);
                    })['0'].slug;
                }
            },
            depositType: {
                handler: function () {
                    if(this.depositType === 'bond') {
                        this.$notify.error({
                            title: 'Error',
                            message: 'Please use order module to create bonds'
                        });
                    }
                }
            }
        },

        methods: {
            submitForm: function () {
                let form = this.form;

                if(this.form.deposit_type_id.hasOwnProperty('id')){
                    form.deposit_type_id = this.form.deposit_type_id.id;
                }

                if(this.depositType === 'bond') {
                    this.$notify.error({
                        title: 'Error',
                        message: 'Please use order module to create bonds'
                    });

                    return;
                }

                form.portfolio_security_id = this.security.id;
                this.$store.commit('SAVE_DEPOSIT', form);
            },

            closeModal: function () {
                this.$store.commit('ADD_DEPOSIT_MODAL', false);
            }
        },

        mounted() {
            this.form = {};

            this.getCustodialAccounts(this.security.fund_manager_id);

            this.getFund(this.security.fund_manager_id);
        }
    }
</script>

<template>
    <div class="">
        <div class="panel panel-success">
            <div class="panel-heading">
                <p><i class="fa fa-info"></i> Add Deposit Holding</p>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Investment Type</label>
                            <el-select v-model="deposit_type_id" placeholder="" style="width: 100%;">
                                <el-option
                                        v-for="invType in depositTypes"
                                        :key="invType.id"
                                        :label="invType.name"
                                        :value="invType.id">
                                </el-option>
                            </el-select>
                            <ul v-if="depositErrors['investment_type_id']" class="text-danger">
                                <li v-for="message in depositErrors['investment_type_id']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Deposit/Bond Code</label>
                            <el-input type="text" v-model="form.code"></el-input>
                            <ul v-if="depositErrors['code']" class="text-danger">
                                <li v-for="message in depositErrors['code']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Principal</label>
                            <el-input type="text" v-model="form.amount"></el-input>
                            <ul v-if="depositErrors['amount']" class="text-danger">
                                <li v-for="message in depositErrors['amount']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Interest Rate/Coupon rate</label>
                            <el-input type="text" v-model="form.interest_rate"></el-input>
                            <ul v-if="depositErrors['interest_rate']" class="text-danger">
                                <li v-for="message in depositErrors['interest_rate']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Value Date</label>
                            <el-date-picker
                                    v-model="invested_date"
                                    type="date"
                                    placeholder="" style="width: 100%;">
                            </el-date-picker>
                            <ul v-if="depositErrors['invested_date']" class="text-danger">
                                <li v-for="message in depositErrors['invested_date']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Maturity Date</label>
                            <el-date-picker
                                    v-model="maturity_date"
                                    type="date"
                                    placeholder="" style="width: 100%;">
                            </el-date-picker>
                            <input type="checkbox" name="on_call" value="true" v-model="form.on_call"> On call?<br>
                            <ul v-if="depositErrors['maturity_date']" class="text-danger">
                                <li v-for="message in depositErrors['maturity_date']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Custodial Account</label>
                            <el-select v-model="form.custodial_account_id" placeholder="" style="width: 100%;">
                                <el-option
                                        v-for="account in custodialAccounts"
                                        :key="account.value"
                                        :label="account.label"
                                        :value="account.value">
                                </el-option>
                            </el-select>
                            <ul v-if="depositErrors['custodial_account_id']" class="text-danger">
                                <li v-for="message in depositErrors['custodial_account_id']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Fund</label>
                            <el-select v-model="form.unit_fund_id" placeholder="" style="width: 100%">
                                <el-option
                                        v-for="fund in funds"
                                        :key="fund.id"
                                        :label="fund.name"
                                        :value="fund.id">
                                </el-option>
                            </el-select>
                            <ul v-if="depositErrors['unit_fund_id']" class="text-danger">
                                <li v-for="message in depositErrors['unit_fund_id']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Tax Rate</label>
                            <el-select v-model="form.tax_rate_id" placeholder="" style="width: 100%">
                                <el-option
                                        v-for="tax in taxRates"
                                        :key="tax.id"
                                        :label="tax.name"
                                        :value="tax.id">
                                </el-option>
                            </el-select>
                            <ul v-if="depositErrors['tax_rate_id']" class="text-danger">
                                <li v-for="message in depositErrors['tax_rate_id']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Contact Person</label>
                            <el-input type="text" v-model="form.contact_person"></el-input>
                            <ul v-if="depositErrors['contact_person']" class="text-danger">
                                <li v-for="message in depositErrors['contact_person']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Description</label>
                            <el-input type="text" v-model="form.description"></el-input>
                            <ul v-if="depositErrors['description']" class="text-danger">
                                <li v-for="message in depositErrors['description']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" @click="submitForm">
                <i class="fa fa-spinner fa-spin" v-if="savingDeposit"></i> <i class="fa fa-save" v-else></i> Save
            </button>
            <a class="btn btn-default" @click="closeModal">Cancel</a>
        </div>

    </div>
</template>
<style>
    .col-md-6{
        margin-bottom: 20px;
    }
</style>