<script>
    import vueTableMixin from '../../../mixins/vuetable_mixin';
    import Vue from 'vue';

    export default {

        mixins: [ vueTableMixin ],

        data() {
            return {
                fields: [
                    { name: '__sequence'},
                    { name: 'date', sortField: 'date' },
                    { name: 'description', sortField: 'description' },
                    { name: 'amount', sortField: 'amount' },
                ],
                tableState: {
                },
                promise: true,
            }
        },

        props : ['holdingId', 'securityId'],

        computed: {
            dataUrl() {
                return '/api/portfolio/deposit-holdings/' + this.holdingId + '/interest-schedules';
            }
        },
    }
</script>

<template>
    <div class="col-md-12">
        <div class="panel-dashboard">
            <h3>
                Interest Schedules
                <div class="btn-group pull-right">
                    <a class="btn btn-success" :href="'/dashboard/portfolio/investments/' + this.holdingId +  '/holdings/generate-interest-schedules'">
                    Generate Schedules
                    </a>
                    <a class="btn btn-default" :href="'/dashboard/portfolio/securities/'+ this.securityId +'/deposit-holdings/'+ this.holdingId"><i class="fa fa-long-arrow-left">
                    </i> Back to holding
                    </a>
                </div>
            </h3>

            <div class="row" style="margin: 10px;">
                <search-bar :search-label='"Search schedule ..."'></search-bar>
            </div>

            <div class="crims_table">
                <vuetable ref="vuetable"
                          :api-url="dataUrl"
                          :fields="fields"
                          pagination-path=""
                          @vuetable:pagination-data="onPaginationData"
                          :append-params="tableState"
                          :per-page="itemsPerPage"
                >
                </vuetable>

                <div class="vuetable-pagination ui basic segment grid crims_pagination">
                    <table>
                        <tfoot>
                        <tr>
                            <td class="text-center" width="50%">
                                <div class="inline-block" style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                    <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                    <select style="width: 100px" class="form-control" v-model="itemsPerPage" @change="changePerPage">
                                        <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}</option>
                                    </select>
                                </div>
                            </td>
                            <td class="text-center">
                                <vuetable-pagination-info ref="paginationInfo">
                                </vuetable-pagination-info>
                                <vuetable-pagination ref="pagination"
                                                     @vuetable-pagination:change-page="onChangePage"
                                ></vuetable-pagination>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<style>

</style>