.ng-hide-add{
  animation:0.5s easeOutX ease;
}


.ng-hide-remove{
  animation:0.5s easeInX ease;
}

@keyframes easeInX {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes easeOutX {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}