.form-detail{

  label{
    font-weight: 600 !important;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  label:after{
    content: ':';
  }
  h4{
    margin-bottom: 30px;
  }
}
.form-detail.hover{
  padding: 20px 5px;
  i{
    float: right;
  }
}
.form-detail.hover:hover{
  background: rgba(245, 245, 245, 0.41);
}
.media-list.hover{
  .media:hover{
    background: rgba(245, 245, 245, 0.41);
  }
  .media{
    padding: 11px 0;
    border-bottom: 1px solid #e3e3e3;
    color: #555;
  }
  .actions{
    margin-top: 47px;
  }
  .close{
    font-weight: 800;
    font-size: 26px;
    margin-right: 10px;
  }
}