.el-input.form-control{
    padding: 0 !important;
    border: none !important;
    width: 100%;

    .el-input-inner{

    }
}
.application-tabs .el-tabs__nav-scroll {

    .el-tabs__nav {

        .el-tabs__active-bar {
            background-color: #eef !important;
            width: 0 !important;
        }
        .el-tabs__item {
            border: 1px solid #eef;
            height: auto;
            font-size: 12px !important;
        }
        .el-tabs__item .is-active {
            border: 1px solid #eef;
            height: auto;
            font-size: 12px !important;
        }
    }
}
.v-select .loading {
    margin: 5px;
    height: 0px !important;
    top: 0;
}
.loading {
    margin: 5px;
    height: 10px !important;
    top: 0 !important;
    margin-bottom: 20px !important;
}

.el-dialog {
    width: 50% !important;
}

.kyc-application {
    width: 100%;

    .el-upload {
        width: 100%;

        .el-upload-dragger {
            height: 70px !important;
            width: 100% !important;
            margin-bottom: 10px;
        }
    }
}

.approval-doc {
    width: 100%;

    .el-upload {
        width: 100%;

        .el-upload-dragger {
            height: 150px !important;
            width: 100% !important;
            margin-bottom: 10px;
        }
    }
}

.el-dialog__header {
    border-bottom: 1px solid #eef !important;
}

//.el-date-editor {
//    width: 100% !important;
//}
//
//.el-select {
//    width: 100% !important;
//}
//
//.el-input-number {
//    width: 100% !important;
//}

.popover-select {
    .el-select {
        width: 100% !important;
    }
}