.text-center{
  vertical-align: middle !important;
}
thead tr:last-of-type th{
  font-weight: 600;
}
thead tr th{
  font-weight: normal;
}
thead tr:last-of-type th:hover,
thead tr:last-of-type th:focus{
  background-color: #e3e3e3;
  box-shadow: inset;
}
.chevron{
  font-family: FontAwesome;
  font-style: normal;
  font-size: 0.7em;
  font-weight: lighter;
  text-decoration: inherit;
  float: right;
  margin-left: 2px;
  margin-right: 5px;
  vertical-align: middle;
}
.st-sort-ascent:after{
  content: "\f077";
  @extend .chevron;
}

.st-sort-descent:after{
  content: "\f078";
  @extend .chevron;
}
.st-sort-ascent, .st-sort-descent{
  background-color: #e3e3e3;
}
.table{
  width: 100%;
  text-align: left;
  font-size: 14px;
}

.select-page {
  width: 50px;
  text-align: center;
}
.pagination li a input {
  padding: 0;
  margin: -5px 0;
}
.in_table_search_box{
  max-width: 200px;
  display: inline;
  float: right;
  margin-left: 10px;
}
.table-search-checkbox{
  padding-top: 30px;
  text-align: right;
}