/* Side Navigation */

.side-nav {
  border: none;
  border-radius: 0;
}

.side-nav>li>a {
  color:#FFF;
}
.sidebar-wrapper{
  background-color: #006666;
}

@media (min-width: 992px){
  .sidebar-wrapper {
    height: 100vh;
    margin-top: -35px;
    padding-top: 80px;
  }
  .sidebar.col-md-2{
    padding: 0;
  }

  .side-nav>li{
    width: 100%;
  }
  .side-nav .minimisedicon{
    font-size: 1.5em;
  }
  .side-nav .minimisedlabel{
    display: none;
    width: 0px;
  }
  .sidebarminimised{
    width: 1vw;
    position: relative;
    min-height: 1px;
    float: left;
  }
  .sidebarminimised .bigmenu{
    display: none;
  }
  .col-md-2 .smallmenu{
    display: none;
  }
  .sidebar-footer{
    background-color: #066;
    position: absolute;
    bottom: 0px;
    min-height: 60px;
    border-top: 1px solid #ccc;
    padding: 5px 40px 0 9px;
    box-sizing: border-box;
    width: 100%;
  }
  .sidebar-footer:hover{
    background-color: #077;
  }

  .sidebar-footer .sidebar-toggle {
    display: block;
    padding: 9px 10px;
    position: absolute;
    top: 0;
    right: 0;
    text-overflow: clip;
    white-space: normal;
    text-align: right;
    width: 100%;
  }

  .sidebar-footer a{
    color: white;
  }
}

.ng-isolate-scope{
  z-index: 100;
  color: black;
}

@media (max-width: 991px){
  .side-nav{
    width: 100%;
  }
  .arrow{
    margin: 5px;
  }
  .sidenav ul{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .sidebar-footer{
    display: none;
    background: none !important;
    z-index: -10000;
  }
  .smallmenu{
    display:none;
  }
}
.sidebar-wrapper{
  padding-right: 0px;
  padding-left: 0px;
  min-width: 56px;
  //position: absolute; /* you can customize here */
  z-index: 1;
  box-sizing: border-box;
}

.sidebar-wrapper[aria-expanded='false'] {
  width: 20px;
}

.navgroup .nav li {
  padding: 0 15px;
  list-style-type: none;
}
.navgroup .nav li a {
  margin: 0 -15px;
}

.sidebar-wrapper[aria-expanded='false'] .nav li a {
  padding-left: 0;
  padding-right: 0;
  text-align: left;
}

.navgroup .nav .nav-icon {
  vertical-align: baseline;
}

[aria-expanded='false'] .nav .nav-icon {
  margin-left: 18px;
  margin-right: 0;
}

[aria-expanded='false'] .navgroup .nav .nav-item-label {
  display: none;
}

.side-nav li a:hover,
.side-nav li a:focus,
.sidenav .active
{
  outline: none;
  background-color: #243342 !important;
  color: #FFF;
}

.side-nav>li>ul {
  padding: 0;
  margin-right: -15px;
  margin-left: -15px;
}

.side-nav>li>ul>li>a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #FFF;
}

.side-nav .arrow {
  float: right;
}

.side-nav .collapsed .fa.arrow:before {
  content: "\f104";
}
.side-nav .fa.arrow:before {
  content: "\f107";
}
