.top-nav{
  background-color: #FFFFFF;
  color: #000000;
}
.nav-title{
  color:black !important;

  font-family: 'Open Sans', sans-serif;
}
.top-nav{
  height:70px;
}
.top-nav > .container-fluid > div > ul{
  height:70px !important;
  padding-top: 15px;
}
.top-nav > .container-fluid > div >ul>li{

  vertical-align: middle;
}
.navbar-links{
  padding-top: 20px;
}
.navbar-brand{
  padding-top: 0 !important;
}
.page-title{
  font-size: 1.5em;
}
.dropdown-menu.dropdown-menu-right.notifications{
  max-height: 90vh;
  overflow: scroll;
}
.fund-manager-select{
  margin-bottom: 0;
  margin-top: 8px;
}