//top
.margin-top-40{
  margin-top: 40px;
}
.margin-top-25{
  margin-top: 25px;
}
.margin-top-20{
  margin-top: 20px;
}
.margin-top-10{
  margin-top: 10px;
}
.margin-top-5{
  margin-top: 5px;
}
.no-margin-top{
  margin-top: 0;
}
.margin-top-15{
  margin-top: 15px;
}



//bottom
.margin-bottom-20
{
  margin-bottom: 20px;
}
.margin-bottom-10{
  margin-bottom: 10px;
}

//left
.margin-left-20{
  margin-left: 20px;
}

.margin-left-40{
  margin-left: 40px;
}

.margin-right-5{
  margin-right: 5px;
}

.margin-right-10{
  margin-right: 10px;
}

.margin-right-20{
  margin-right: 20px;
}

//padding
.padding-top-70{
  padding-top: 70px;
}
.padding-top-90{
  padding-top:90px;
}
.padding-top-50{
  padding-top: 50px;
}
.padding-top-0{
  padding-top: 0px;
}

.align-middle{
  vertical-align: middle !important;
}
.padding-right-20{
  padding-right: 20px;
}
.padding-left-20{
  padding-left: 20px;
}

.no-bottom-border, .border-bottom-none {
  border-bottom: none;
}
.bold {
  font-weight: bold;
}
.center{
  text-align: center;
}
.scrollable{
  overflow: scroll;
}
.overflow-visible{
  overflow: visible;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.icon-wrapper{
  position:relative;
  float:left;
}

.badge{
  background: #006666;
  color:white;
  width: auto;
  height: auto;
  margin: 0;
  border-radius: 50%;
  position:absolute;
  top:-6px;
  font-size: 0.5em;
  right:-8px;
  padding:5px;
}
.full-width-height{
  height:100%;
  width:100%;
}
.dashboard-item-lg{
  display: inline-block;
}
.dashboard-item-lg ol, .dashboard-item-lg ul{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.5em;
}
.dashboard-item .panel-footer p{
  margin-bottom: 0;
}

uib-accordion a:focus {
  outline: none;
}
.inline-block{
  display: inline-block;
}
hr.thick {
  border: 0;
  border-top: 5px solid #eee;
}
.pagination.dmc-pagination{
  color: #333;

  a{
    color: #333;
    &:hover{
      color: #333;
    }
  }
}
.btn-group{
  margin-bottom: 20px;
}
.select2-container.form-control{
  height: 100%;
  padding: 0;
}

.summaries-div{
  display: inline-flex;
}
@media (min-width: 992px)
{
  .modal-slg {
    width: 90% !important;
    min-width: 900px;
  }
}
.risk{
  font-size: 13px;

  h4{
    font-size: 20px;
    color: #4A4A4A;
    letter-spacing: 0;
  }
  .question{
    font-weight: 600;
    margin-bottom: 5px;
  }
  .answers{
    @extend .clearfix;
    display: block;
    margin-bottom: 20px;
    width: 100%;
  }
  .answers ul{
    list-style: none;
    display: block;
    margin-left: 0 !important;
    margin-bottom: 0;
  }
  .answers.v-list li{
    display: block;
  }
  @media screen and (min-width: 40em){
    .answers.v-list-2-cols li{
      display: inline;
      float: left;
      width:50%;
    }
  }
  .answers.h-list li{
    display: inline;
  }
  .answers.v-list.dark{
    li{
      font-size: 13px;
      color: #4A4A4A;
      background: #F0F0F0;
      border-radius: 2px;
      padding: 10px;
      margin-bottom: 5px;

      label{
        display: inline-block;
        width: 90%;
        weight: 100;
      }
      @media screen and (max-width: 455px){
        label{
          width: 80%;
        }
      }
      input[type="radio"] {
        vertical-align: middle;
        display: inline-block;
        float: left;
      }
    }
  }
}
.rate-box {
  background: rgba(163,207,95,0.08);
  border: 1px dashed #A3CF5F;
  border-radius: 3px;
  padding: 15px 30px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: Bold;
  font-size: 36px;
  color: #006B5B;
  letter-spacing: 1.38px;
}

.withdrawal-panel {
  padding: 0px;
}
.withdraw-header {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 10px 0px 30px;
  border-bottom: 1px solid #eef;
  width: 100vw;
}
@media screen and (min-width: 640px) {
  .form-area {
    width: 100%;
    margin: 5px 10px 20px 20px;
  }
  .form-item-radio {
    margin-bottom: 10px;
  }
  label {
    font-family: Futura;
    font-size: 13px;
    padding-bottom: 1px;
    font-weight: 300;
    color: #5A738E;
  }
  .form-item {
    width: 60%;
    margin-bottom: 5px;
  }

  .form-element{
    margin-bottom: 10px;

    input, select{
      border: 1px solid #C8CFCE;
      border-radius: 3px;
    }

    input {
      background: #fff;
    }

    input::placeholder {
      color: #9B9B9B;
      margin-bottom: 3px;
    }
  }
}
.inv-header {
  color: #006A5A;
  font-weight: bolder;
}

.btn-add {
  margin-top: 10px;
}

.warn-tags {
   padding-right: 30px;
}

.danger-tags {
    padding-right: 30px;
}

.order-status {
    background-color: #FDEBD0;
    padding: 10px;
    border-radius: 3px;
}

.field-inline {
  padding-left: 10px;
}

.title-heading {

  width: 100%;
  display: flex;
  padding: 0 10px 0 10px;

  .title-heading {
    width: 90%;
  }

  .title-actions {
    width: 10%;
  }
}

.table-right {
  text-align: right;
}

.table-center {
  text-align: center;
}

.crims-panel-heading {
  display: flex;
  width: 100%;

  .crims-panel-heading-left {
      width: 40%;
  }

  .crims-panel-heading-right {
      width: 60%;
      text-align: right;
  }
}

.filter-operators {
  padding-top: 20px;
  padding-right: 20px;
}

