<script>
    import CalculatorForCms from './cms';
    import CalculatorForGoal from './goal';
    import RatesForInvestments from './rates';
    import RatesForUnitTrust from '../unittrust/unittrust';

    export default {
        data() {
            return {
                activeName: 'rates'
            };
        },

        components: {CalculatorForCms, CalculatorForGoal, RatesForInvestments, RatesForUnitTrust}
    }
</script>

<template>
    <div class="calculator">
        <div class="calculator-tabs">
            <el-tabs v-model="activeName" class="calculator_tour_step_2">

                <el-tab-pane label="Rates" name="rates">
                    <div class="rates">
                        <rates-for-investments></rates-for-investments>
                    </div>
                </el-tab-pane>

                <el-tab-pane label="Investment Calculator" name="cms">
                    <div class="cms">
                        <calculator-for-cms></calculator-for-cms>
                    </div>
                </el-tab-pane>

                <el-tab-pane label="Goal Calculator" name="goal">
                    <div class="goal">
                        <calculator-for-goal></calculator-for-goal>
                    </div>
                </el-tab-pane>

                <el-tab-pane label="Unit Trust" name="unit-trust">
                    <div class="unittrust">
                        <rates-for-unit-trust></rates-for-unit-trust>
                    </div>
                </el-tab-pane>

            </el-tabs>
        </div>
    </div>
</template>
