<script>
    import Vue from 'vue';
    import { mapGetters } from 'vuex';
    import { Message } from 'element-ui';

    export default {
        data() {
            return  {
                form: {
                    deposit: 1000000,
                    amount: 1000000,
                    tenor: 12
                },
                duration: 12,
                deposit: 1000000,
                product: 1,
                currency: 1
            }
        },

        created() {
            this.refreshCalculation();
        },

        computed: {
            ...mapGetters({
                products: 'Invproducts',
                investment_returns: 'investment_returns',
                fetchingReturns: 'fetchingReturns'
            }),

            amount() {
                return parseFloat(this.investment_returns.principal) + parseFloat(this.investment_returns.net_interest);
            }
        },

        watch: {
            duration: {
                handler: function () {
                    this.form.tenor = this.duration;
                    this.calculateReturn(this);
                }
            },

            deposit: {
                handler: function () {
                    this.form.deposit = this.deposit;
                    this.form.amount = this.deposit;

                    if (this.form.amount && this.form.amount > 0) {
                        this.calculateReturn(this);
                    }
                }
            },

            product: {
                handler: function () {
                    this.form.product = this.product;

                    this.calculateReturn(this);

                    let vm = this;
                    let cur = this.products.filter(function (p) {
                        return (p.id === vm.product);
                    });

                    this.currency = cur[0].currency.code;
                },
            }
        },

        methods: {
            refreshCalculation: function () {
                this.$store.commit('GET_INTEREST_RETURN', this.form);
            },

            calculateReturn: _.debounce((vm) => {
                vm.refreshCalculation();
            }, 350),
        }
    }
</script>

<template>
    <div class="cms grid-x">
        <div class="head large-12">
            <h3>How much can I get from the amount I have?</h3>
            <p>Tell us how much you have and get a quick idea of how much interest you stand to get after a given time with the available rates</p>
        </div>

        <div class="body large-12 ">
           <div class="select-form calculator_tour_step_3_cms">
               <el-input placeholder="1, 000, 000" v-model="deposit">
                   <el-select v-model="product" style="width: 200px !important;"slot="prepend" placeholder="CHYS - KES">
                       <el-option active v-for="p in products" :key="p.id" :label="p.name" :value="p.id">
                       </el-option>
                   </el-select>
                   <el-button type="custom-success" slot="append" @click="refreshCalculation">Calculate</el-button>
               </el-input>
           </div>

            <br/>

            <div class="calculator-result calculator_tour_step_4">
                <div class="grid-x select-month">
                    <div class="large-6">
                        <el-form>
                            <el-select v-model="duration" placeholder="12 months">
                                <!--<el-option label="1 month" value="1" active></el-option>-->
                                <el-option label="3 months" value="3" active></el-option>
                                <el-option label="6 months" value="6" active></el-option>
                                <el-option label="9 months" value="9" active></el-option>
                                <el-option label="12 months" value="12" active></el-option>
                                <el-option label="24 months" value="24" active></el-option>
                                <el-option label="36 months" value="36" active></el-option>
                            </el-select>
                        </el-form>

                    </div>
                    <!--<div class="large-6">-->
                        <!--<p class="result-display"> {{ investment_returns.net_interest | currency }} </p>-->
                    <!--</div>-->
                </div>

                <div class="result-table">
                    
                    <span v-if="fetchingReturns">
                        <i class="el-icon-loading"></i> calculating...
                    </span>


                    <p> After
                        <span>{{ investment_returns.tenor }} Months</span> you will get
                        <span>{{ amount | currency }}</span>
                        at an interest rate of
                        <span>{{ investment_returns.rate }}%</span>
                    </p>

                    

                    <table  class="table table-borderless cms-calc">
                        <tbody>
                            <tr>
                                <td>Duration:</td>
                                <td>{{ investment_returns.tenor }} Months</td>
                            </tr>
                            <tr>
                                <td>Interest Rate</td>
                                <td>{{ investment_returns.rate }} %</td>
                            </tr>
                            <tr>
                                <td>Gross Interest Return:</td>
                                <td>{{ investment_returns.gross_interest | currency }}</td>
                            </tr>
                            <tr>
                                <td>Withholding Tax:</td>
                                <td>{{ investment_returns.wht | currency}}</td>
                            </tr>
                            <tr>
                                <td>Net Interest Return:</td>
                                <td>{{ investment_returns.net_interest | currency }}</td>
                            </tr>
                            <tr>
                                <td>Total Amount:</td>
                                <td>{{ amount | currency }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="footer-text">
                    <p>
                        *To get higher returns, it is advisable to invest your money over a longer period, e.g, 12 months and above
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>


