<script>
    import { mapGetters } from 'vuex';

    export default {
        data() {
            return {
                form: {
                    goal: 2000000,
                    product: 1,
                    deposit: 1000000
                },
                currency: ''
            }
        },

        computed: {
            ...mapGetters({
                products: 'Invproducts',
                goal_returns: 'goal_returns',
                fetchingGoalReturns: 'fetchingGoalReturns'
            })
        },

        created() {
            this.goalValueCalculation();
        },

        watch: {
            form: {
                handler: function () {
                    this.calculateGoal(this);
                }, deep: true
            }
        },

        methods: {
            goalValueCalculation: function () {
                if (this.form.goal > this.form.deposit) {
                    this.$store.commit('GOAL_VALUE', this.form);
                }
            },

            calculateGoal: _.debounce((vm) => {
                vm.goalValueCalculation();
            }, 350),
        }
    }
</script>

<template>
    <div class="goal">
        <div class="head">
            <h3> Have a goal? Calculate how long it will take to get you there.</h3>

            <p>Tell us how much your target is and get a quick idea of how after how long you can get to it with our available rates <span class="select-bracket">(Select product to invest in and the goal amount)</span></p>
        </div>

        <div class="body">
            <div class="select-form calculator_tour_step_3_goal">
                <el-form label-position="left" label-width="13%">
                    <el-form-item label="Deposit: ">
                        <el-input v-model="form.deposit"></el-input>
                    </el-form-item>
                    <el-form-item label="Goal Value: " >
                        <el-input placeholder="1, 000, 000" v-model="form.goal">
                            <el-select v-model="form.product" style="width: 200px !important;" slot="prepend" placeholder="CHYS - KES">
                                <el-option active v-for="p in products" :key="p.id" :label="p.name" :value="p.id">
                                </el-option>
                            </el-select>
                            <el-button type="success" slot="append" @click="goalValueCalculation">Calculate</el-button>
                        </el-input>
                    </el-form-item>

                </el-form>
            </div>

            <div class="calculator-result">

                <span v-if="fetchingGoalReturns">
                        <i class="el-icon-loading"></i> calculating...
                    </span>

                <div class="result-table">
                    <el-alert type="error" v-if="form.deposit > form.goal">The goal should not be less than the deposit</el-alert>

                    <p>Expected time is {{ goal_returns.duration }} Months</p>

                    <table class="table table-borderless cms-calc">
                        <tbody>
                            <tr>
                                <td>Duration/ Tenor:</td>
                                <td>{{ goal_returns.duration }} Months</td>
                            </tr>
                            <tr>
                                <td>Interest Rate</td>
                                <td>{{ goal_returns.interest_rate }} %</td>
                            </tr>
                            <tr>
                                <td>Gross Interest Return:</td>
                                <td>{{ goal_returns.gross_interest | currency }}</td>
                            </tr>
                            <tr>
                                <td>Withholding Tax:</td>
                                <td>{{ goal_returns.wht | currency}}</td>
                            </tr>
                            <tr>
                                <td>Net Interest Return:</td>
                                <td>{{ goal_returns.net_interest | currency }}</td>
                            </tr>
                            <tr>
                                <td>Withholding Tax Rate:</td>
                                <td>{{ goal_returns.tax_rate }}%</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="footer-text">
                        <p>
                            *The expected time and returns will only work if you do not withdraw your money until the expected time is reached.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<style scoped>

</style>