<script>
    import { mapGetters } from 'vuex'
    export default {
        data() {
            return {
                form : {
                    amount: 1000000
                }, product: '', tenor: ''
            }
        },
        computed: {
            ...mapGetters({
                products: 'Invproducts',
                rate: 'rate'
            })
        },
        watch: {
            product: {
                handler: function ()
                {
                    this.form.product  = this.product;
                    this.getRates();
                }
            },
            tenor: {
                handler: function ()
                {
                    this.form.tenor = this.tenor;
                    this.getRates();
                }
            }
        },
        methods: {
            getRates: function ()
            {
                // this.$store.commit('GLOBAL_RATES_API', this.form);
                this.$store.commit('GET_MONTHLY_RATES', this.form);
            }
        },
        mounted()
        {
            this.getRates();
        }
    }
</script>
<template>
    <div class="rates">

        <div class="head large-12">
            <h3> Prevailing Rates</h3>
            <p>View the prevailing rates here <span >(Select product and duration of investment)</span></p>
        </div>

        <div class="body">
            <div class="">
                <div class="grid-x select-form">
                    <div class="large-10 form">
                        <div class="grid-x grid-margin-x">
                            <div class="large-6 rates-form calculator_tour_step_3_rates">
                                <el-select v-model="product" placeholder="CHYS - KES">
                                    <el-option
                                            v-for="prod in products"
                                            :key="prod.id"
                                            :label="prod.name"
                                            :value="prod.id">
                                    </el-option>
                                </el-select>
                            </div>
                            <div class="large-6 rates-form">
                                <el-select v-model="tenor" placeholder="12 months">
                                    <el-option label="1 month" value="1" active></el-option>
                                    <el-option label="3 months" value="3" active></el-option>
                                    <el-option label="6 months" value="6" active></el-option>
                                    <el-option label="9 months" value="9" active></el-option>
                                    <el-option label="12 months" value="12" active></el-option>
                                    <el-option label="24 months" value="24" active></el-option>
                                    <el-option label="36 months" value="36" active></el-option>
                                </el-select>
                            </div>
                        </div>
                    </div>
                    <div class="large-2 rates-form rate">
                        <p class="rates-display">{{ rate }}%</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
