<script>
    export default {
        name: "edit_sent"
    }
</script>

<template>
    <div class="details edit_sent">
        <h3>Edited information have been sent</h3>
        <p>The information have been recieved and is being reviewed. Once verified, your profile details will be updated automatically!!</p>
        <p>Thank you!!</p>

        <div class="navigate_back">
            <router-link :to="{name: 'profile.details'}">Go to Details page</router-link>
        </div>
    </div>
</template>

