<script>
    import { mapGetters } from 'vuex';
    import FormPartials from '../mixins/FormPartials';

    export default {
        props: ['instruction'],

        mixins: [ FormPartials ],

        data() {
            return {
                form: {
                    amount: this.instruction.amount,
                    number: this.instruction.number,
                    id: this.instruction.id,
                    unit_fund_id: this.instruction.unit_fund_id
                }
            }
        },
        computed: {
            ...mapGetters({
                applicationErrors: 'applicationErrors',
                updating: 'updating'
            })
        },
        methods: {
            updateApplication: function () {
                this.$store.commit('UPDATE_APPLICATION', this.form);
            },
        },

        mounted() {
            console.log(this.instruction, "the instruction");
        }
    }
</script>

<template>
    <div class="col-md-11">
        <div class="col-md-12 panel panel-dashboard">
            <div class="">
                <div class="detail-group">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-12">Unit Fund</div>
                            <div class="col-md-12">
                                <select v-model="form.unit_fund_id" class="form-control" required>
                                    <option v-for="unit in partials.unitFunds" :value="unit.id"> {{ unit.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group" v-if="instruction.amount !== null">
                            <div class="col-md-12">Amount</div>
                            <div class="col-md-12">
                                <input type="text" v-model="form.amount" class="form-control" placeholder="Enter investment amount" required/>
                            </div>
                        </div>

                        <div class="form-group" v-else>
                            <div class="col-md-12">Number of units</div>
                            <div class="col-md-12">
                                <input type="text" v-model="form.number" class="form-control" placeholder="Enter number of units" required/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 margin-top-20">
                    <button class="btn btn-success" @click="updateApplication">
                        <i class="fa fa-spinner fa-spin" v-if="updating"></i> <i class="fa fa-save" v-else></i> Update
                        </button>
                </div>
            </div>
        </div>
    </div>
</template>
