<script>
    import {mapGetters} from 'vuex';
    import moment from 'moment';

    export default {
        props: ['instruction', 'client'],

        data() {
            return {
                recipient: '',
                form: {
                    fees: 1
                },
                cancelForm: {},
                date: '',
                interest_start_date: '',
                interest_end_date: '',
                client_code: '',
                investDialog: false,
                kycValidated: true,
                cancelError: ''
            }
        },

        computed: {
            ...mapGetters({
                recipients: 'commissionRecipients',
                sendingForApproval: 'sendingForApproval',
                sendingForInvestment: 'sendingForInvestment',
                cancellingTransaction: 'cancellingTransaction'
            })
        },

        watch: {
            recipient: {
                handler: function () {
                    this.form.recipient = this.recipient;
                }
            },

            date: {
                handler: function () {
                    this.form.date = moment(this.date).format('YYYY-MM-DD');
                }
            },

            interest_start_date: {
                handler: function () {
                    this.form.interest_start_date = moment(this.interest_start_date).format('YYYY-MM-DD');
                }
            },

            interest_end_date: {
                handler: function () {
                    this.form.interest_end_date = moment(this.interest_end_date).format('YYYY-MM-DD');
                }
            },

            client_code: {
                handler: function () {
                    this.form.client_code = this.client_code;
                }
            }
        },

        methods: {
            investApplication: function () {
                this.form.client_id = this.instruction.client_id;
                this.form.amount = this.instruction.amount;
                this.form.units = 0;
                this.form.instruction_id = this.instruction.id;

                this.$store.commit('INVEST_APPLICATION', this.form);
            },

            saleApplication: function () {
                this.$store.commit('SALE_APPLICATION', {instruction_id: this.instruction.id});
            },

            transferApplication: function () {
                this.$store.commit('TRANSFER_APPLICATION', {instruction_id: this.instruction.id});
            },

            getRecepients: function () {
                this.$store.commit('GET_COMMISSION_RECEPIENT');
            },

            processCancellation() {
                if (this.cancelForm.reason == null) {
                    this.cancelError = 'Please Provide a reason for cancellation of instruction';
                } else {
                    this.cancelForm.instruction_id = this.instruction.id;

                    this.$store.commit('CANCEL_TRANSACTION', this.cancelForm);
                }
            }
        },

        mounted() {
            this.getRecepients();

            this.date = this.instruction.date;
        }
    }
</script>


<template>
    <div class="panel panel-success">
        <div class="panel-heading">
            <p v-if="instruction.instructionType == 'purchase'"><i class="glyphicon glyphicon-plus-sign"></i> Unit Fund
                Investment</p>
            <p v-if="instruction.instructionType == 'sale'"><i class="glyphicon glyphicon-plus-sign"></i> Unit Fund Sale
            </p>
            <p v-if="instruction.instructionType == 'transfer'"><i class="glyphicon glyphicon-plus-sign"></i> Unit Fund
                Transfer
            </p>
        </div>
        <div class="panel-body">
            <div>
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>Unit Fund:</th>
                        <td> {{ instruction.unitFund.name }}</td>
                    </tr>
                    <tr v-if="instruction.instructionType == 'transfer'">
                        <th>From:</th>
                        <td> {{ instruction.transfer_from }}</td>
                    </tr>
                    <tr v-if="instruction.instructionType == 'transfer'">
                        <th>To:</th>
                        <td> {{ instruction.transfer_to }}</td>
                    </tr>
                    <tr v-if="instruction.instructionType == 'transfer'">
                        <th>Date:</th>
                        <td> {{ instruction.transfer_date }}</td>
                    </tr>
                    <tr v-if="instruction.amount > 0">
                        <th>Amount:</th>
                        <td> {{ instruction.amount | currency }}</td>
                    </tr>
                    <tr v-else>
                        <th>Units:</th>
                        <td> {{instruction.number }}</td>
                    </tr>
                    <tr v-if="instruction.instructionType == 'transfer'">
                        <th>Origin:</th>
                        <td>
                            <span class="channel-label" v-if="instruction.channel">{{instruction.channel}}</span>
                            <span class="channel-label" v-else>ADMIN</span>
                        </td>
                    </tr>
                    <tr v-if="instruction.bank">
                        <th>Bank Account</th>
                        <td>{{instruction.bank }}</td>
                    </tr>
                    <tr v-if="instruction.doc_id">
                        <th>Payment Documents</th>
                        <td>
                            <a target="_blank" :href="'/document/view-document/'+instruction.doc_id">
                                <i class="fa fa-eye"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="alert alert-danger" role="alert"
                 v-if="instruction.instructionType == 'sale' && !instruction.kycValidated">
                Please validate client's KYC Details to be able to process the instruction.
            </div>

            <div class="btn-group">
                <button class="btn btn-success" data-toggle="modal" data-target="#myModal"
                        v-if="instruction.instructionType == 'purchase' && !instruction.processed">
                    <i class="fa fa-download"></i> Invest
                </button>

                <button type="button" class="btn btn-success" @click="saleApplication"
                        :disabled="!instruction.kycValidated"
                        v-if="instruction.instructionType == 'sale' && !instruction.processed">
                    <i class="fa fa-spinner fa-spin" v-if="sendingForInvestment"></i>
                    <i class="fa fa-save" v-else></i>
                    Process Sale
                </button>

                <button type="button" class="btn btn-success" @click="transferApplication"
                        v-if="instruction.instructionType == 'transfer' && !instruction.processed">
                    <i class="fa fa-spinner fa-spin" v-if="sendingForApproval"></i>
                    <i class="fa fa-exchange" v-else></i>
                    Process Transfer
                </button>

                <a :href="'/api/unitization/application/' + instruction.id + '/pdf'" target="_blank" class="btn btn-primary">
                    <i class="fa fa-file-pdf-o"></i> View PDF
                </a>

                <button class="btn btn-danger" data-toggle="modal" data-target="#cancelModal"
                        v-if="!instruction.processed"><i class="fa fa-times"></i> Cancel
                </button>

            </div>

            <div class="alert alert-warning" v-if="instruction.approval_id">
                <p>
                    This instruction has been processed
                    <a :href="'/dashboard/investments/approve/' + instruction.approval_id">View Approval</a>
                </p>
            </div>

            <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="cancelModalLabel">Cancel Instruction</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row" style="text-align: center;">
                                <div class="col-md-12">
                                    <div class="detail-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <span class="text-danger"><i
                                                        class="fa fa-times-circle-o fa-5x"></i></span>
                                                <br>
                                                <p>Are you sure you want to cancel the transaction?</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="required">Please provide a reason</label>
                                                <el-input v-model="cancelForm.reason" width="100%"></el-input>
                                                <br>
                                                <div class="alert alert-danger" v-if="cancelError">
                                                    <p>{{cancelError}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" @click="processCancellation">
                                <i class="fa fa-spinner fa-spin" v-if="cancellingTransaction"></i>
                                <i class="fa fa-times" v-else></i> Process Cancel
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Unit Fund Investment</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="detail-group">
                                        <table class="details-view">
                                            <tr>
                                                <th>Unit Fund:</th>
                                                <td>{{ instruction.unitFund.name }}</td>
                                            </tr>
                                            <tr>
                                                <th>Amount:</th>
                                                <td>{{ instruction.amount | currency }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="detail-group">
                                        <div class="row">
                                            <div class="col-md-5">Front Load Fees:</div>
                                            <div class="col-md-7">
                                                <select v-model="form.fees" class="form-control" required>
                                                    <option value="1">Charge</option>
                                                    <option value="0">Don't Charge</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">Commission Recipient:</div>
                                            <div class="col-md-7">
                                                <select v-model="recipient" class="form-control" required>
                                                    <option v-for="recipient in recipients" :value="recipient.id"> {{
                                                        recipient.name + ' - ' + recipient.email + ' - ' +
                                                        recipient.type.name }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <br/>

                                        <div class="row">
                                            <div class="col-md-5">Investment Date:</div>
                                            <div class="col-md-7">
                                                <el-date-picker
                                                        v-model="date"
                                                        type="date"
                                                        placeholder="Pick a day"
                                                        width="100%">
                                                </el-date-picker>
                                            </div>
                                        </div>

                                        <br>

                                        <div class="" v-if="client.client_code == null">
                                            <div class="row">
                                                <div class="col-md-5">Client Code:</div>
                                                <div class="col-md-7">
                                                    <el-input v-model="client_code" width="100%"></el-input>
                                                </div>
                                            </div>

                                            <br>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-5">Description:</div>
                                            <div class="col-md-7">
                                                <el-input type="textarea" v-model="form.description"></el-input>
                                            </div>
                                        </div>

                                        <br>

                                        <!--                                        <div class="row">-->
                                        <!--                                            <div class="col-md-5">Interest Payment:</div>-->
                                        <!--                                            <div class="col-md-7">-->
                                        <!--                                                <el-input type="text" v-model="form.interest_payment"></el-input>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->

                                        <!--                                        <br>-->

                                        <!--                                        <div class="row">-->
                                        <!--                                            <div class="col-md-5">Interest Payment Start Date:</div>-->
                                        <!--                                            <div class="col-md-7">-->
                                        <!--                                                <el-date-picker-->
                                        <!--                                                        v-model="interest_start_date"-->
                                        <!--                                                        type="date"-->
                                        <!--                                                        placeholder="Pick a day"-->
                                        <!--                                                        width="100%">-->
                                        <!--                                                </el-date-picker>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->

                                        <!--                                        <br>-->

                                        <!--                                        <div class="row">-->
                                        <!--                                            <div class="col-md-5">Interest Payment End Date:</div>-->
                                        <!--                                            <div class="col-md-7">-->
                                        <!--                                                <el-date-picker-->
                                        <!--                                                        v-model="interest_end_date"-->
                                        <!--                                                        type="date"-->
                                        <!--                                                        placeholder="Pick a day"-->
                                        <!--                                                        width="100%">-->
                                        <!--                                                </el-date-picker>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" @click="investApplication">
                                <i class="fa fa-spinner fa-spin" v-if="sendingForInvestment"></i> <i class="fa fa-save"
                                                                                                     v-else></i> Process
                                Investment
                            </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
    .channel-label {
        width: 20%;
        background-color: rgb(245, 108, 108);
        color: rgb(255, 255, 255);
        padding: 8px 16px;
        border-radius: 4px;
        text-transform: uppercase;
    }
</style>
