<script>
    import {mapGetters} from 'vuex';

    export default {
        props: ['instruction'],

        methods: {
            investApplication: function () {
                this.$store.commit('INVEST_APPLICATION', { instruction_id: this.instruction.id });
            }
        }
    }
</script>


<template>
    <div class="panel panel-success">
        <div class="panel-heading">
            <p><i class="glyphicon glyphicon-plus-sign"></i> Unit Fund Sale</p>
        </div>
        <div class="panel-body">
            <div>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>Unit Fund:</th>
                            <td> {{ instruction.unitFund.name }}</td>
                        </tr>
                        <tr>
                            <th>Amount:</th>
                            <td> {{ instruction.amount | currency }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>

                <div v-if="!instruction.purchased">
                    <button class="btn btn-success" @click="investApplication">Process Sale</button>
                </div>

                <div class="alert alert-warning" v-else>
                    <p>This instruction has been processed</p>
                </div>

            </div>
        </div>
    </div>
</template>
