<script>
    import {mapGetters} from 'vuex';
    import Vue from 'vue';

    Vue.component('gravatar', require('../commissions/partials/gravator.vue'));

    export default {
        data: function () {
            return {
                investmentRank: '',
                investmentType: '',
                search: '',
                filtered_clients: []
            }
        },
        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient',
                searchClient: 'searchClient',
                currentUser: 'currentUser',
                clients: 'faClientsList',
                currentFa: 'currentFa',
                products: 'myProductsList',
                fecthingFA_Clients: 'fecthingFA_Clients'
            }),

            fa() {
                try {
                    if (this.currentFa.id === this.fa_id) return this.currentFa;
                } catch (err) {
                }

                return {id: this.fa_id}
            },
        },
        watch: {
            searchClient: {
                handler: function () {
                    if (Object.keys(this.searchClient).length >= 0) {

                        this.moreParams = {'filter': this.searchClient};
                        Vue.nextTick(() => this.$refs.vuetable.refresh())
                    }
                },
                deep: true
            },
            selectedClient: {
                handler: function () {
                    this.$refs.vuetable.refresh();
                    Vue.nextTick(() => this.$refs.vuetable.refresh());
                },
                deep: true
            },
            clients: {
                handler: function () {
                    this.filtered_clients = this.clients.data;
                }
            },
            investmentRank: {
                handler: function () {
                    if (this.investmentRank !== '') {
                        if (this.investmentRank === 'highest') {
                            this.filtered_clients.sort(function (a, b) {
                                return b.total_inflow - a.total_inflow
                            })
                        } else if (this.investmentRank === 'lowest') {
                            this.filtered_clients.sort(function (a, b) {
                                return a.total_inflow - b.total_inflow
                            })
                        }
                    }
                }
            },
            search: {
                handler: function () {
                    if (this.search !== '') {
                        this.filtered_clients = this.filtered_clients.filter(clientsList => {
                            return clientsList.fullname.toLowerCase().includes(this.search.toLowerCase());
                        });
                    } else {
                        this.filtered_clients = this.clients.data;
                    }


                }
            }

        },
        methods: {
            viewStmtLabel() {
                return '<a><i class="fa fa-eye"></i></a>';
            },

            onCellClicked(data) {
                this.$store.dispatch('setStatementClient', data);
                this.$router.push({name: "sales.FaClients_portfolio", params: {clientId: data.id, faId: this.fa.id}});
            },

            onPaginationData(paginationData) {
                this.$refs.pagination.setPaginationData(paginationData);
            },

            onChangePage(page) {
                this.$refs.vuetable.changePage(page);
            }
        },

        mounted() {
            this.$store.commit('FETCH_FA_CLIENTS', {id: this.currentUser.fas[0].id});
        }
    }
</script>
<template>
    <div class="crims-page clients">
        <fa-breadcrumb>
            <h3>My Clients</h3>
        </fa-breadcrumb>
        <div class="client-area">
            <div class="head">

                <div class="head-left">


                    <!--<div class="filter">-->
                    <!--<label> View:-->
                    <!--<el-select v-model="investmentType" placeholder="Select">-->
                    <!--<el-option-->
                    <!--v-for="product in products"-->
                    <!--:key="product.id"-->
                    <!--:label="product.name"-->
                    <!--:value="product.id">-->
                    <!--</el-option>-->
                    <!--</el-select>-->
                    <!--</label>-->
                    <!--</div>-->
                    <div class="filter">
                        <label>Sort By:
                            <el-select v-model="investmentRank" placeholder="Select Option">
                                <el-option label="Highest Investor" value="highest" key="highest"></el-option>
                                <el-option label="Lowest Investor" value="lowest" key="lowest"></el-option>
                            </el-select>
                        </label>
                    </div>
                </div>

                <div class="head-right">
                    <el-input
                            placeholder="Search Clients"
                            v-model="search">
                        <i slot="prefix" class="el-input__icon el-icon-search"></i>
                    </el-input>
                </div>
            </div>

            <div v-if="fecthingFA_Clients">
                <users-loader-shimmer></users-loader-shimmer>
            </div>

            <div v-else class="profile-area">
                <div class="profiles" v-for="client in filtered_clients" @click.prevent="onCellClicked(client)">
                    <div class="avatar">
                        <gravatar href="email@example.com"></gravatar>
                    </div>
                    <div class="details">

                        <div>
                            <object class="title">Name:</object>
                            <object class="info">
                                <span v-if="client.fullname">{{ client.fullname }}</span>
                                <span v-else>no name</span>
                            </object>
                        </div>
                        <div>
                            <object class="title">Code:</object>
                            <object class="info">
                                <span v-if="client.client_code">
                                    {{ client.client_code }}
                                </span>
                                <span v-else>
                                    no code
                                </span>
                            </object>
                        </div>
                        <div>
                            <object class="title">Inflow:</object>
                            <object class="info">
                                <span v-if="client.total_inflow">{{ client.total_inflow | currency }}</span>
                                <span v-else>
                                    0.00
                                </span>
                            </object>
                        </div>

                        <div>
                            <object class="title">Next Maturity Date:</object>
                            <object class="info">
                                <span v-if="client.next_maturity_date">{{ client.next_maturity_date }}</span>
                                <span v-else>
                                    <el-tag>No investment to mature in the future.</el-tag>
                                </span>
                            </object>
                        </div>
                        <!--<table>-->
                        <!--<tr>-->
                        <!--<th>Name:</th>-->
                        <!--<td>{{ client.fullname }}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                        <!--<th>Code:</th>-->
                        <!--<td>{{ client.client_code }}</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                        <!--<th>Inflow:</th>-->
                        <!--<td>{{ client.total_inflow | currency }}</td>-->
                        <!--</tr>-->
                        <!--</table>-->
                    </div>

                    <div class="action">
                        <span @click.prevent="onCellClicked(client)">
                            <span>
                                <i class="fa fa-eye hide-for-small-only"></i>
                            </span>
                            <span class="show-for-small-only">View Details</span>
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style></style>