<script>
    import {mapGetters} from 'vuex';
    import event from '../../../events'
    export default {
        data(){
            return {
                isVisible: true
            }
        },
        computed: {
            ...mapGetters({
                menuVisible: 'menuVisible'
            })
        },
        methods: {
            toggleSideMenu(){
                if(this.menuVisible){
                    this.$store.commit('TOGGLE_MENU', !this.isVisible)

                }else {
                    this.$store.commit('TOGGLE_MENU', this.isVisible)
                }
            }
        }
    }
</script>

<template>
<div class = "small-toggle" @click="toggleSideMenu" >
    <div class="toggle-btn" >
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
</template>