<script>
    import Vue from 'vue';
    import {mapState, mapGetters} from 'vuex';
    import event from '../../../events';

    import moment from 'moment';

    Vue.component('inv-table', require('../../../components/tables/smartTable.vue'));
    Vue.component('pagination', require('../../../components/tables/pagination.vue'));

    export default {
        data: function () {
            return {
                columns: [
                    {
                        name: 'fullname',
                        title: 'Name'
                    },
                    {
                        name: 'phone',
                        title: 'Phone'
                    },
                    {
                        name: 'email',
                        title: 'Email'
                    }
                ],
                moreParams: {}
            }
        },
        computed: {
            ...mapGetters({
                searchCommissionFa: 'searchCommissionFa',
                currentFa: 'currentFa',
                currentUser: 'currentUser'
            }),
            url: function(){
                let d = moment(Date.now()).format('YYYY-MM-DD');
                return '/api/fa/fas/'+this.currentFa.id + '/'+d;
            }
        },
        watch: {
            searchCommissionFa: {
                handler: function () {

                    if (Object.keys(this.searchCommissionFa).length >= 0){

                        this.moreParams = {'filter': this.searchCommissionFa};

                        Vue.nextTick( () => this.$refs.vuetable.refresh())
                    }

                },
                deep: true
            }
        },
        methods: {
            viewCommLabel() {
                return '<a><i class="fa fa-eye"></i></a>';
            },
            details(data) {

                this.$router.push({ name: "sales.invcommissions", params: {faId: data.id}})
            },
        },
        mounted(){
            let vm = this;
            event.bus.$on('go-to-details', function (data) {
                vm.$router.push({ name: "sales.invcommissions", params: {faId: data.id}})
            })
        }
    }
</script>

<template>
    <div class="crims-page my_fa">

        <fa-breadcrumb>
            <h3>My FAs</h3>
        </fa-breadcrumb>


        <div class="fa-area">
            <div class="heading">
                <h4>The following FAs report to you, you can view their commissions</h4>
            </div>
            <div class="crims-table-area table_scroll">
                <div class="fa-table-details">
                    <inv-table
                            :columns="columns"
                            :endpoint="url"
                            before-table-body="true"
                            additionalRows=""
                            inline-template
                    >
                        <div>
                            <div class="crims-table-area">
                                <table class="crims-table">
                                    <thead class="crims-table-head">
                                    <tr>
                                        <td v-for="column in cols">{{ column.title }}</td>
                                        <td>View Commissions</td>
                                    </tr>
                                    </thead>
                                    <tbody v-if="fetching">
                                    <tr>
                                        <td :colspan="cols.length + 1">
                                            <table-holder></table-holder>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tbody v-else class="crims-table-body">
                                    <tr v-for="row in rows" @click="details(row)" class="linked-list-row" >
                                        <td v-for="column in cols">
                                            <span v-if="column.html" v-html="getRowValue(row, column)"></span>
                                            <span v-else>{{ getRowValue(row, column) }}</span>
                                        </td>
                                        <td class="action" style="text-align: center">
                                            <router-link :to="{name: 'sales.invcommissions', params: {faId: row.id}}" >
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </router-link>
                                        </td>
                                    </tr>
                                    <tr v-show="rows.length == 0">
                                        <td :colspan="cols.length">
                                            <span class="null-notify">
                                                Sorry, Could not find any FA records!
                                            </span>
                                        </td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <pagination :pagination="pagination"></pagination>
                        </div>
                    </inv-table>
                    <!--<vuetable ref="vuetable"-->
                              <!--api-url="/api/fa/fas"-->
                              <!--:fields="columns"-->
                              <!--:append-params="Object.assign({id:currentUser.fas[0].id})"-->
                              <!--pagination-path=""-->
                              <!--@vuetable:cell-clicked="onCellClicked"-->
                              <!--@vuetable:pagination-data="onPaginationData"-->
                    <!--&gt;</vuetable>-->
                    <!--<vuetable-pagination ref="pagination"-->
                                         <!--@vuetable-pagination:change-page="onChangePage"-->
                    <!--&gt;</vuetable-pagination>-->
                </div>

            </div>
        </div>
    </div>
</template>