<script type="text/babel">

    import { Message } from 'element-ui';
    import moment from 'moment'

    export default {

        props: ['data'],

        data() {
            return {
                loading: false,
                report: this.data,
                form: {},
                options: []
            }
        },

        created: function () {
            let form = {
                fields: []
            };
            let vm = this;
            this.data.arguments.forEach(function (argument, key) {
                form[argument.model] = null;
                if(argument.type === 'select') vm.getOptions(argument.endpoint);
            });
            form['action'] = this.data.action;
            this.form = form;
        },

        methods: {
            getOptions: function(endpoint) {

                axios.get(endpoint)
                    .then((response) => {
                        if (response.status == 200) {

                            let data = response.data;

                            if (data.fetched) {
                                this.$set(this, 'options', data.data);
                            }
                            else {
                                Message.warning({ message: 'Could not fetch list of select options' });
                            }
                        }
                    }, (response) => {
                        Message.warning({ message: 'Could not fetch list of select options' });
                    });
            },

            exportReport: function () {
                this.loading = true;

                let vm = this;
                Object.keys(this.form).map(function(key, index) {
                    if(vm.form[key] instanceof Date) {
                        vm.form[key] = moment(vm.form[key]).format('YYYY-MM-DD');
                    }
                });

                if (this.validateData()) {
                    axios.post(`/api/unitization/unit-funds/reports`, this.form)
                        .then((response) => {
                            this.removeModal('#' + this.report.id + '-modal');

                            this.loading = false;

                            if (response.status == 202) {

                                let data = response.data;

                                if (data.sent) {
                                    Message.success({message: 'The resport will be sent to your inbox shortly.'});
                                } else {
                                    Message.warning({message: 'Could not export report of select fund'});
                                }
                            } else if (response.status == 400) {
                                Message.error({message: 'Unit Fund not selected'});
                            }
                        }, (response) => {
                            this.removeModal('#' + this.report.id + '-modal');
                            this.loading = false;

                            Message.error({message: 'Oops, somethng went wrong, try again later'});
                        });
                }
            },

            removeModal: function(id) {
                $(id).modal('hide');
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            },

            validateData: function () {
                let dataValidated = true;
                let vm = this;

                for (let argument of vm.data.arguments) {
                    if (argument.required && (vm.form[argument.model] == '' || vm.form[argument.model] == null)) {
                        Message.warning({message: argument.label + ' is required'});
                        this.loading = false;
                        dataValidated = false;
                        break;
                    }
                }

                return dataValidated;
            }
        }
    }
</script>
<template id="list-unit-fund-holders">
    <tr>
        <td>{{ report.name }}</td>
        <td><a class="btn btn-success"
               :href="'#' + report.id + '-modal'"
               data-toggle="modal"
               role="button">
            Export</a>
            <i class="fa fa-spinner fa-spin" v-show="loading"></i>

            <div class="modal fade" :id="report.id + '-modal'" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <a href="#" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                            <h4 class="modal-title" id="myModalLabel">{{ report.name }}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group" v-for="(argument, index) in report.arguments" :key="index">
                                <div v-if="argument.type == 'date'">
                                    <label>{{ argument.label }} </label>
                                    <div class="input-group">
                                        <el-date-picker v-model="form[argument.model]" type="date" :placeholder="argument.label + '...'"></el-date-picker>
                                    </div>
                                </div>

                                <div v-if="argument.type == 'select'">
                                    <label>{{ argument.label }} </label>
                                    <select class="form-control" v-model="form[argument.model]">
                                        <option v-for="option in options" v-bind:value="option.value" v-text="option.label"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" @click="exportReport()">
                                <i class="fa fa-paper-plane-o"></i> Export
                                <i class="fa fa-spinner fa-spin" v-show="loading"></i>
                            </button>
                            <a data-dismiss="modal" class="btn btn-default">Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</template>