<script>
    import Calc from './partials/calc'

    export default {
        components: {Calc},
    }
</script>

<template>
    <div class="crims-page">
        <breadcrumb class="calculator_tour_step_1">
            <h3>Investment Calculator</h3>
        </breadcrumb>

        <calc></calc>
    </div>
</template>