<script>
    import Vue from 'vue'
    import {mapGetters} from 'vuex'

    Vue.component('smart-table', require('../../components/tables/smartTable.vue'));
    Vue.component('pagination', require('../../components/tables/pagination.vue'));

    export default {
        data() {
            return {
                docType: '',
            }
        },
        computed: {
            ...mapGetters({
                documentTypes: 'documentTypes',
                documents: 'documents',
                selectedClient: 'selectedClient',
                fetchingDocumentsTypes: 'fetchingDocumentsTypes',
                fetchingDocuments: 'fetchingDocuments'
            }),
        },

        watch:{
            selectedClient: {
                handler: function () {
                    this.getDocumentType();
                    this.getAllDocuments();
                }
            }
        },

        methods: {
            getDocumentType: function () {
                let client = this.selectedClient.id;
                if (client) {
                    this.$store.commit('GET_DOCUMENT_TYPES', {client_id: client});
                }
            },

            querySearch(queryString, callback) {
                let docs = this.documentTypes;
                let results = queryString ? docs.filter(this.createFilter(queryString)) : docs;

                callback(results);
            },

            createFilter(queryString) {
                return (doc) => {
                    return (doc.name.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
                };
            },

            getAllDocuments: function (docType = null) {
                let client = this.selectedClient.id;
                if (client)
                    this.$store.commit('GET_CLIENT_DOCUMENTS', {id: client, type: docType});
            },

            handleSelect(item) {
                this.getAllDocuments(item.id);
            }
        },
        mounted() {
            this.getDocumentType();
            this.getAllDocuments();
        }
    }
</script>

<template>
    <div class="crims-page documents">
        <breadcrumb>
            <h3>My Documents</h3>
        </breadcrumb>


        <div class="documents-area">

            <div class="heading">
                <div class="documents-title">
                    <p>Current statement ({{ selectedClient.fullname }})</p>
                </div>

                <div class="form">
                    <el-form size="mini" :inline="true">
                        <span v-if="fetchingDocumentsTypes"><i class="fa fa-spinner fa-spin"></i></span>
                        <el-form-item>
                            <el-autocomplete
                                    class="inline-input"
                                    v-model="docType"
                                    :fetch-suggestions="querySearch"
                                    placeholder="Search Document..."
                                    @select="handleSelect"
                                    clearable
                            ></el-autocomplete>

                        </el-form-item>
                    </el-form>
                </div>
            </div>

            <div v-if="fetchingDocuments">
                <table-holder></table-holder>
            </div>

            <div class="crims-table-area" v-else>
                <table>
                    <thead>
                    <tr>
                        <td>Title</td>
                        <td>Type</td>
                        <td>Date Uploaded</td>
                        <td>Action</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="doc in documents">
                        <td>{{ doc.title }}</td>
                        <td>{{ doc.type }}</td>
                        <td>{{ doc.uploaded_on }}</td>
                        <td class="action">
                            <span style="margin-right: 5px;">
                                <a target="_blank" :href="'/api/document/'+doc.id">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </a>

                            </span>

                            <span>
                                <a target="_blank" :href="'/api/document/'+doc.id">
                                    <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                </a>
                            </span>
                        </td>
                    </tr>
                    <tr v-show="documents.length == 0">
                        <td :colspan="4">
                                            <span class="null-notify">
                                                Sorry, No data to display!
                                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>