<script>
    import ProfileDetailsMixin from './details'

    export default {
        mixins: [ProfileDetailsMixin]
    }
</script>


<template>
    <div class="details">
        <div class="description">
            <h4>Contact Information</h4>
            <div class="detail">
                <div class="detail__title">Email:</div>
                <div class="detail__content">{{selectedClient.email}}</div>
            </div>
            <div class="detail">
                <div class="detail__title">Phone:</div>
                <div class="detail__content">{{selectedClient.phone}}</div>
            </div>
            <div class="detail" v-show="selectedClient.residence">
                <div class="detail__title">Residential Address:</div>
                <div class="detail__content">{{selectedClient.residence}}</div>
            </div>
        </div>

        <div class="description">
            <h4>Basic Information</h4>
            <div class="detail">
                <div class="detail__title">Date of Birth:</div>
                <div class="detail__content">
                    <p v-if="selectedClient.dob">{{selectedClient.dob.date | date}}</p>
                    <p v-else>Not Specified</p>
                </div>
            </div>
            <div class="detail" v-show="selectedClient.id_or_passport">
                <div class="detail__title">ID/Passport:</div>
                <div class="detail__content">{{selectedClient.id_or_passport}}</div>
            </div>
            <div class="detail">
                <div class="detail__title">Tax ID/PIN:</div>
                <div class="detail__content">
                    <p v-if="selectedClient.tax_pin !== '' ">{{selectedClient.tax_pin}}</p>
                    <p v-else>Not specified</p>
                </div>
            </div>

            <div class="detail">
                <div class="detail__title">Investments</div>
                <div class="detail__content">
                    <p>
                        <span v-show="selectedClient.hasSP">Structured Products, </span>
                        <span v-show="selectedClient.hasUT">Unit Trust</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="description">
            <h4>Bank Details <span style="margin-left: 20px;color: #066;cursor: pointer;" @click="addAccountDetail()"><i class="fa fa-plus"></i> Add</span></h4>
            <div class="description__sub" v-for="bankDetails in selectedClient.bank_details" v-if="bankDetails.bank">

                <div class="detail">
                    <div class="detail__title">Bank Name:</div>
                    <div class="detail__content">{{bankDetails.bank ? bankDetails.bank : 'Not Specified'}}</div>
                </div>
                <div class="detail">
                    <div class="detail__title">Bank Branch:</div>
                    <div class="detail__content">{{bankDetails.branch ? bankDetails.branch : 'Not Specified'}}</div>
                </div>
                <div class="detail">
                    <div class="detail__title">Account Name:</div>
                    <div class="detail__content">
                        {{bankDetails.account_name ? bankDetails.account_name : 'Not Specified'}}
                    </div>
                </div>
                <div class="detail">
                    <div class="detail__title">Account Number:</div>
                    <div class="detail__content">
                        {{bankDetails.account_number ? bankDetails.account_number : 'Not Specified'}}
                    </div>
                </div>
                <div class="detail">
                    <div class="detail__title">Currency:</div>
                    <div class="detail__content">
                        {{bankDetails.currency ? bankDetails.currency : 'Not Specified'}}
                    </div>
                </div>
                <div class="detail">
                    <div class="detail__title">Country:</div>
                    <div class="detail__content">
                        {{bankDetails.country ? bankDetails.country : 'Not Specified'}}
                    </div>
                </div>
                <div class="detail">
                    <div class="detail__title">Action:</div>
                    <div class="detail__content">
                        <span style="color: #066;cursor: pointer;" @click="addAccountDetail(bankDetails.id)"><i class="fa fa-pencil"></i> Edit</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="description">
            <h4>Employment Information</h4>
            <div class="detail">
                <div class="detail__title">Employment Status:</div>
                <div class="detail__content">
                    <p v-if="selectedClient.employment">{{selectedClient.employment}}</p>
                    <p v-else>Not specified</p>
                </div>
            </div>
            <div class="detail">
                <div class="detail__title">Sector:</div>
                <div class="detail__content">
                    <p v-if="selectedClient.business_sector">{{selectedClient.business_sector}}</p>
                    <p v-else>Not specified</p>
                </div>
            </div>
            <div class="detail" v-show="selectedClient.present_occupation">
                <div class="detail__title">Present Occupation:</div>
                <div class="detail__content">
                    <p v-if="selectedClient.present_occupation !==''">{{selectedClient.present_occupation}}</p>
                    <p v-else>Not specified</p>
                </div>
            </div>
            <div class="detail">
                <div class="detail__title">Employer Name:</div>
                <div class="detail__content">
                    <p v-if="selectedClient.employer_name">{{selectedClient.employer_name}}</p>
                    <p v-else>Not specified</p>
                </div>
            </div>
            <div class="detail">
                <div class="detail__title"> Employer Address:</div>
                <div class="detail__content">
                    <p v-if="selectedClient.employer_address">{{selectedClient.employer_address}}</p>
                    <p v-else>Not Specified</p>
                </div>
            </div>
        </div>

        <div class="description">
            <h4>Contact Person(s) Details</h4>
            <div class="description__sub" v-for="person in selectedClient.contactPersons" v-show="person.name">
                <div class="detail">
                    <div class="detail__title">Name:</div>
                    <div class="detail__content">
                        {{person.name}}
                    </div>
                </div>
                <div class="detail">
                    <div class="detail__title">Phone:</div>
                    <div class="detail__content">
                        {{person.phone}}
                    </div>
                </div>
                <div class="detail">
                    <div class="detail__title">Address:</div>
                    <div class="detail__content">
                        {{person.address}}
                    </div>
                </div>
            </div>
        </div>

        <div class="description">
            <h4>
                KYC Document(s)

                <router-link
                        v-show="!selectedClient.kycValidated"
                        style="margin-left: 70px;padding: 9px 7px;"
                        :to="{name: 'profile.edit_kyc'}" class="crims_action_button success">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                </router-link>
            </h4>

            <div class="detail" v-show="selectedClient.id_or_passport">
                <div class="detail__title">Id Number:</div>
                <div class="detail__content">{{selectedClient.id_or_passport}}</div>
            </div>

            <div class="detail" v-show="selectedClient.tax_pin">
                <div class="detail__title">Tax Number:</div>
                <div class="detail__content">
                    <p>{{selectedClient.tax_pin}}</p>
                </div>
            </div>

            <div v-show="selectedClient.joint"
                 v-for="joint in selectedClient.jointHolders">

                <div class="detail">
                    <div class="detail__title">Joint Id Number:</div>
                    <div class="detail__content">{{joint.id_or_passport}}</div>
                </div>

                <div class="detail">
                    <div class="detail__title">Joint Tax Number:</div>
                    <div class="detail__content">
                        <p>{{joint.pin_no}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


