<script>
    import InstructionMixin from './instructionsMixin';

    export default {
        mixins: [InstructionMixin],
    }
</script>

<template>

    <div class="crims-page investment-details">
        <breadcrumb>
            <h3>
                <router-link :to="{name: 'main'}">Dashboard</router-link>
                |&nbsp;
                <router-link :to="{name: 'investments.REList'}">Real Estate</router-link>
                <span>Payments</span>
            </h3>
        </breadcrumb>

        <div class="investment-details-table-section small-12 medium-12">
            <el-container>
                <el-header class="investment-details-table-section-header grid-x">
                    <div class="head-left medium-4">
                        <h3>Payments List</h3>
                    </div>
                    <div class="head-right medium-8">
                        <div>
                         <span>
                             <el-select v-model="uploaded_status" placeholder="Filter by uploads">
                                <el-option
                                        v-for="item in options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                </el-option>
                              </el-select>
                        </span>
                        </div>
                    </div>
                </el-header>

                <el-main class="investment-details-table-section-body">
                    <div class="crims-table-area table_scroll">
                        <table class="crims-table">
                            <thead class="crims-table-head">
                            <tr>
                                <th> Project</th>
                                <th> Holding</th>
                                <th> Amount (KES)</th>
                                <th> Payment Mode</th>
                                <th> Uploaded Status</th>
                                <th> Payment Status</th>
                                <th> Created Date</th>
                                <th> Action</th>
                            </tr>
                            </thead>
                            <tbody v-if="fetchingREPayments">
                            <tr>
                                <td colspan="9">
                                    <table-holder></table-holder>
                                </td>
                            </tr>
                            </tbody>
                            <tbody v-else class="crims-table-body">
                            <tr v-for="payment in payments">
                                <td>{{payment.project}}</td>
                                <td>{{payment.unit}}</td>
                                <td>{{payment.amount}}</td>
                                <td>{{payment.mode_of_payment}}</td>
                                <td v-if="payment.document_id">
                                    <el-tag type="success">Proof uploaded</el-tag>
                                </td>
                                <td v-else>
                                    <el-tag type="danger">Proof not uploaded</el-tag>
                                </td>
                                <td v-if="payment.status">
                                    <el-tag type="success">Payment approved</el-tag>
                                </td>
                                <td v-else>
                                    <el-tag type="danger">Payment not approved</el-tag>
                                </td>
                                <td>{{payment.created}}</td>
                                <td class="action">
                                    <router-link :to="{name: 'realestate.payment.details',params: {id: payment.id } }">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </router-link>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </el-main>
            </el-container>

        </div>
    </div>

</template>