<script>
    import InstructionMixin from './instructionsMixin';

    export default {
        mixins: [InstructionMixin],

        watch: {
            selectedClient() {
                this.$router.push({name: 'investments.RePayments'});
            }
        },

        methods: {
            fetchPayment() {
                this.$store.commit('GET_UNIT_PAYMENT_DETAILS', this.$route.params.id);
            },
        },

        mounted() {
            this.fetchPayment();
        }
    }
</script>

<template>
    <div class="crims-page investment-details">
        <breadcrumb>
            <h3>
                <router-link :to="{name: 'main'}">Dashboard</router-link>
                |&nbsp;
                <router-link :to="{name: 'investments.REList'}">Real Estate</router-link>
                |&nbsp;
                <router-link :to="{name: 'investments.RePayments'}">All Payments</router-link>

                <span>Payment</span>
            </h3>
        </breadcrumb>

        <div class="investment-details-table-section small-12 medium-12">
            <el-container>
                <el-header class="investment-details-table-section-header grid-x">
                    <div class="head-left medium-4">
                        <h3>Payment Details</h3>
                    </div>
                    <div class="head-right medium-8">

                        <div v-if="payments.length > 0">
                         <span>
                             <el-button type="investment-action-button"
                                        @click="viewPayments">
                                 <span>Back to all payments</span>
                             </el-button>
                        </span>
                        </div>
                    </div>
                </el-header>

                <el-main class="investment-details-table-section-body">
                    <div v-if="fetchingREPayment">
                        <table-holder></table-holder>
                    </div>

                    <div v-else>
                        <div class="crims-table-area table_scroll">
                            <table class="crims-table">
                                <thead class="crims-table-head">
                                <tr>
                                    <th> Project</th>
                                    <th> Holding</th>
                                    <th> Amount (KES)</th>
                                    <th> Payment Mode</th>
                                    <th> Uploaded Status</th>
                                    <th> Created Date</th>
                                    <th> Action</th>
                                </tr>
                                </thead>
                                <tbody class="crims-table-body">
                                <tr>
                                    <td>{{paymentDetails.project}}</td>
                                    <td>{{paymentDetails.unit}}</td>
                                    <td>{{paymentDetails.amount}}</td>
                                    <td>{{paymentDetails.mode_of_payment}}</td>
                                    <td v-if="paymentDetails.document_id">
                                        <el-tag type="success">Proof uploaded</el-tag>
                                    </td>
                                    <td v-else>
                                        <el-tag type="danger">Proof not uploaded</el-tag>
                                    </td>

                                    <td>{{paymentDetails.created}}</td>
                                    <td v-if="paymentDetails.document_id">
                                <span style="margin-right: 5px;">
                                    <a target="_blank"
                                       :href="'/api/realestate/payment/document/' + paymentDetails.document_id">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                </span>
                                        <span>
                                    <a target="_blank"
                                       :href="'/api/realestate/payment/document/' + paymentDetails.document_id">
                                        <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                    </a>
                                </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="top-up-details-upload image-uploader">
                            <div class="form-group" v-if="!paymentDetails.document_id">
                                <el-upload
                                        class="upload-demo no-padding"
                                        drag
                                        :action='url'
                                        :headers="defaultHeaders"
                                        :on-success="showUploadSuccess"
                                        :on-error="errorOccurred"
                                >
                                    <i class="el-icon-upload"></i>
                                    <div class="el-upload__text">Drop file here or <em>click to upload</em> proof of
                                        payment
                                    </div>
                                    <div class="el-upload__tip" slot="tip">image or pdf files with a size less than
                                        500kb
                                    </div>
                                </el-upload>

                            </div>
                        </div>
                    </div>

                </el-main>
            </el-container>
        </div>

        <br>

        <div class="">
            <el-popover
                    placement="bottom"
                    width="300"
                    trigger="hover">

                <re-bank-details :unit="paymentDetails"></re-bank-details>

                <el-button size="small" type="warning" slot="reference">View bank details</el-button>
            </el-popover>
        </div>
    </div>
</template>

<style scoped>
    .no-margin-left {
        margin-left: 0;
    }

    .top-up-details-upload .form-group .el-upload .el-upload-dragger {
        border-radius: 5px;
        border: 1px dashed #707070;
        background-color: #e5e5e5;
    }

    .el-upload__tip {
        padding-left: 20px;

    }

    .image-uploader {
        padding: 20px 40px;
    }

    .el-upload-dragger {
        background: #a9a7a787;
    }
</style>