<script>
    import { mapGetters } from 'vuex';

    export default {

        computed: {
            ...mapGetters({
                activeUnitFund: 'activeUnitFund',
                fetching: 'searchingForAssetClasses',
                summaries: 'assetClassSummaries',
                selected_date: 'selected_date'
            }),

            totalCostValue() {
                return this.summaries.reduce(function (carry, val) {
                    return carry + parseFloat(val.cost_value);
                }, 0)
            },

            totalMarketValue() {
                return this.summaries.reduce(function (carry, val) {
                    return carry + parseFloat(val.market_value);
                }, 0)
            },

            totalExposure() {
                return this.summaries.reduce(function (carry, val) {
                    return carry + parseFloat(val.exposure);
                }, 0)
            }
        },

        watch: {
            activeUnitFund: {
                handler: function () {
                    this.getSummary();
                }
            },

            selected_date: {
                handler: function () {
                    this.getSummary();
                }
            }
        },

        methods: {
            getSummary: function () {
                this.$store.commit('SUMMARY_FOR_ASSET_CLASSES', {
                    id: this.activeUnitFund,
                    date: this.selected_date
                });
            }
        }
    }
</script>

<template>
    <div class="">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Cost value</th>
                    <th>Market value</th>
                    <th>Percentage</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="summary in summaries">
                    <td>{{ summary.name }}</td>
                    <td>{{ summary.cost_value | currency }}</td>
                    <td>{{ summary.market_value | currency }}</td>
                    <td>{{ summary.exposure }}%</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Totals</th>
                    <th>{{ totalCostValue | currency }}</th>
                    <th>{{ totalMarketValue | currency}}</th>
                    <th>{{ totalExposure }}%</th>
                </tr>
            </tfoot>
        </table>
    </div>
</template>