<script>
    import { mapGetters } from 'vuex';

    export default {

        computed: {
            ...mapGetters({
                activeUnitFund: 'activeUnitFund',
                fetching: 'searchingForSubAssetClasses',
                subAssetClassSummaries: 'subAssetClassSummaries',
                selected_date: 'selected_date'
            }),

            totalCostValue() {
                return this.subAssetClassSummaries.reduce(function (carry, val) {
                    return carry + parseFloat(val.cost_value);
                }, 0)
            },

            totalMarketValue() {
                return this.subAssetClassSummaries.reduce(function (carry, val) {
                    return carry + parseFloat(val.market_value);
                }, 0)
            },

            summaries() {
                return this.subAssetClassSummaries.filter( (summary) => {
                    return summary.cost_value !== 0;
                });
            }
        },

        watch: {
            activeUnitFund: {
                handler: function () {
                    this.getSummary();
                }
            },

            selected_date: {
                handler: function () {
                    this.getSummary();
                }
            }
        },

        methods: {
            exposure: function (summary) {
                return (summary.market_value / this.totalMarketValue) * 100;
            },

            totalExposure: function () {

                let vm = this;

                return this.subAssetClassSummaries.reduce(function (carry, val) {
                    return carry + vm.exposure(val);
                }, 0)
            },

            getSummary: function () {
                this.$store.commit('SUMMARY_FOR_SUB_ASSET_CLASSES', {
                    id: this.activeUnitFund,
                    date: this.selected_date
                });
            }
        }
    }
</script>

<template>
    <div class="">
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Cost value</th>
                    <th>Market value</th>
                    <th>Percentage</th>
                    <th>Compliance</th>
                    <th>Reason</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="summary in summaries">
                    <td>{{ summary.name }}</td>
                    <td>{{ summary.cost_value | currency }}</td>
                    <td>{{ summary.market_value | currency }}</td>
                    <td>{{ exposure(summary) | currency }}%</td>
                    <td>
                        <span v-if="summary.compliant"> <el-tag type="success">compliant</el-tag> </span>
                        <span v-else><el-tag type="danger">non compliant</el-tag> </span>
                    </td>
                    <td>{{ summary.reason }}</td>
                </tr>
            </tbody>

            <tfoot>
                <tr v-if="subAssetClassSummaries.length > 0">
                    <th>Totals</th>
                    <th> {{ totalCostValue | currency }} </th>
                    <th> {{ totalMarketValue | currency }} </th>
                    <th> {{ totalExposure() | currency }}%</th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</template>