<script>
    import { mapGetters } from 'vuex';
    import Vue from 'vue';
    import moment from 'moment';

    Vue.component('asset-class-summary', require('./asset-class'));
    Vue.component('sub-asset-class-summary', require('./sub-asset-class'));
    Vue.component('security-summary', require('./security'));

    export default {
        props: [ 'manager' ],

        data() {
            return {
                unit_fund_id: '',
                date: Date.now()
            }
        },

        computed: {
            ...mapGetters({
                funds: 'fundManagerFunds',
                fetching: 'fetchingManagerFunds',
            })
        },

        watch: {
            funds: {
                handler: function () {
                    this.unit_fund_id = this.funds[0].id;
                }
            },

            unit_fund_id: {
                handler: function () {
                    this.$store.commit('SET_UNIT_FUND', this.unit_fund_id)
                }
            },

            date: {
                handler: function () {
                    this.setDate();
                }
            }
        },

        methods: {
            setDate: function () {
                let date = moment(this.date).format('YYYY-MM-DD');

                this.$store.commit('SET_SELECTED_DATE', date);
            }
        },

        mounted() {
            this.$store.commit('GET_MANAGER_UNIT_FUNDS', this.manager);
            this.setDate();
        }
    }
</script>

<template>
    <div class="">
        <div class="">
            <div class="small-12 medium-8 columns">
                <br>
                <label><i class="el-icon-loading" v-if="fetching"></i></label>

                <el-select
                        v-model="unit_fund_id"
                        placeholder="Select Unit Fund"
                        style="width: 20%">
                    <el-option
                            v-for="f in funds"
                            :key="f.id"
                            :label="f.name"
                            :value="f.id">

                    </el-option>
                </el-select>

                <el-date-picker
                        v-model="date"
                        type="date"
                        placeholder="Pick a date"
                        style="width: 20%">
                </el-date-picker>

                <div class="pull-right">
                    <a class="btn btn-danger" :href="'/dashboard/portfolio/fund-pricing-summary/' + unit_fund_id">Fund Pricing Summary</a>
                </div>

            </div>
        </div>

        <hr>

        <el-tabs type="card">

            <el-tab-pane label="ASSET CLASSES">
                <asset-class-summary></asset-class-summary>
            </el-tab-pane>

            <el-tab-pane label="SUB ASSET CLASSES">
                <sub-asset-class-summary></sub-asset-class-summary>
            </el-tab-pane>

            <el-tab-pane label="SECURITIES">
                <security-summary></security-summary>
            </el-tab-pane>

        </el-tabs>
    </div>
</template>