<script>
    import { mapGetters } from 'vuex';
    import axios from 'axios';

    export default {
        props: [ 'tableTitle', 'stage' ],
        data() {
            return {
                orders: [],
                fetching: false
            }
        },
        methods: {
            getOrders: function () {
                this.fetching = true;
                axios.get('/api/investment/orders/'+this.stage)
                    .then( ({ data })=> {
                        this.orders = data;
                        this.fetching = false;
                    }, ()=> {
                        this.orders = [];
                        this.fetching = false;
                    });
            }
        },
        mounted() {
            this.getOrders();
        }
    }
</script>
<template>
    <div>
        <table class="table table-responsive-table-hover table-striped">
            <thead>
                <tr>
                    <th>{{ tableTitle }} ({{ orders.length }})</th>
                </tr>
            </thead>
            <tbody>
                <tr v-if="fetching">
                    <td><i class="fa fa-spinner fa-spin"></i> Fetching</td>
                </tr>
                <tr v-for="order in orders">
                    <td><a :href="order.link"> {{ order.name }} - {{ order.type }} </a></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>