<script>
    import Vue from 'vue';

    Vue.component('order-stage', require('./entries.vue'));
    export default { }
</script>

<template>
    <div class="row">
        <div class="col-md-3">
            <order-stage :tableTitle="'Entry'" :stage="1"></order-stage>
        </div>
        <div class="col-md-3">
            <order-stage :tableTitle="'Confirmation'" :stage="2"></order-stage>
        </div>
        <div class="col-md-3">
            <order-stage :tableTitle="'Review'" :stage="3"></order-stage>
        </div>
        <div class="col-md-3">
            <order-stage :tableTitle="'Approval'" :stage="4"></order-stage>
        </div>
    </div>
</template>