<script>
    import { Message } from 'element-ui';
    import { mapGetters } from 'vuex';

    export default {
        data() {
            return {
                form: {},
                benchmarks: [],
                benchmark: {},
                asset_class_id: ''
            }
        },

        computed: {
            ...mapGetters({
                savingLimit: 'savingLimits',
                funds: 'allUnitFunds',
                assetClasses: 'assetClasses',
                subAssetLists: 'subAssetClasses',
                fetchingFund: 'fetchingFund',
                fetchingSAC: 'fetchingSubAssetClasses',
                complianceTypes: 'complianceTypes'
            })
        },

        watch: {
            asset_class_id: {
                handler: function () {
                    this.fetchSubAssetClass();
                }
            }
        },

        methods: {
            submit: function () {
                this.form.limits = this.benchmarks;
                this.$store.commit('SAVE_BENCHMARK_LIMITS', this.form);
            },

            add: function () {

                let id = this.benchmark.sub_asset_class_id;

                this.benchmark.name = this.assetClass(id);

                this.benchmarks.push(this.benchmark);

                this.benchmark = {};
            },

            assetClass: function (id) {
                return this.subAssetLists.filter( (sub) => {
                    return (sub.id === id);
                })[0].name;
            },

            remove: function (bench) {
                let index = this.benchmarks.indexOf(bench);

                if (index !== -1) {
                    this.benchmarks.splice(index, 1);
                }
            },

            fetchSubAssetClass: function () {
                console.log(this.asset_class_id, "sub asset class id");
                this.$store.commit('GET_SUB_ASSET_CLASSES', this.asset_class_id)
            },

            close: function () {
                this.$store.commit('CREATE_BENCHMARK_LIMIT', false);
            }
        }
    }
</script>

<template>
    <div class="">
        <div class="panel panel-success">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">

                            <label>Select compliance Type:</label>

                            <el-select filterable v-model="form.compliance_type_id" style="width: 100%;">
                                <el-option
                                    v-for="type in complianceTypes"
                                    :key="type.id"
                                    :value="type.id"
                                    :label="type.name">
                                </el-option>
                            </el-select>
                        </div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Compliance Name:</label>
                            <el-input placeholder="Please input" v-model="form.name" style="width: 100%;" v-bind:aria-required="true"></el-input>
                        </div>
                    </div>
                </div>

                <br>

                <div class="col-md-12" v-if="benchmarks.length > 0">
                    <hr>
                        <div class="">
                            <table class="table table-responsive-table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>Sub Asset Class</th>
                                    <th>Lower exposure</th>
                                    <th>Upper exposure</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="bench in benchmarks">
                                    <td>{{ bench.nameC }}</td>
                                    <td>{{ bench.warn }}%</td>
                                    <td>{{ bench.limit }}%</td>
                                    <td>
                                        <span>
                                            <el-button type="danger" @click="remove(bench)" size="mini">
                                                <i class="fa fa-remove"></i>
                                            </el-button>
                                        </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    <hr>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <br>
                            <label>Lower exposure</label>
                            <el-input placeholder="Please input" v-model="benchmark.warn" style="width: 100%;" v-bind:aria-required="true"></el-input>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <br>
                            <label>Upper exposure</label>
                            <el-input placeholder="Please input" v-model="benchmark.limit" style="width: 100%;" v-bind:aria-required="true"></el-input>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <br>
                            <label>Asset class: </label>
                            <el-select v-model="asset_class_id" placeholder="" style="width: 100%;">
                                <el-option
                                        v-for="asset in assetClasses"
                                        :key="asset.id"
                                        :label="asset.name"
                                        :value="asset.id">
                                </el-option>
                            </el-select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <br>
                            <label>Sub asset class: <i class="fa fa-spinner fa-spin" v-if="fetchingSAC" filterable></i> <i class="" v-else></i></label>
                            <el-select v-model="benchmark.sub_asset_class_id" placeholder="" style="width: 100%;">
                                <el-option
                                        v-for="sAsset in subAssetLists"
                                        :key="sAsset.id"
                                        :label="sAsset.name"
                                        :value="sAsset.id">
                                </el-option>
                            </el-select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group btn-add">
                            <br>
                            <el-button @click="add" type="success" size="mini">Add to list</el-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="">
            <el-button type="primary" @click="submit" size="mini">
                <i class="fa fa-spinner fa-spin" v-if="savingLimit"></i> <i class="fa fa-save" v-else></i> Save
            </el-button>

            <el-button type="info" @click="close" size="mini">Close</el-button>
        </div>
    </div>
</template>