<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapGetters({
                limits: 'limits'
            })
        }
    }
</script>

<template>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Asset Class</th>
                    <th>Sub Asset Class</th>
                    <th>Lower Limit</th>
                    <th>Upper Limit</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="limit in limits">
                    <td>{{ limit.id }}</td>
                    <td>{{ limit.asset_class }}</td>
                    <td>{{ limit.sub_asset_class }}</td>
                    <td>{{ limit.warn }}%</td>
                    <td>{{ limit.limit }}%</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>