<script>
    import { mapGetters } from 'vuex';
    import Vue from 'vue';

    Vue.component('unit-funds', require('./unit-funds'));
    Vue.component('benchmark-limits', require('./limits'));

    export default {
        data() {
            return { }
        },

        computed: {
            ...mapGetters({
                compliance: 'compliance',
                limits: 'limits',
                unitFunds: 'unitFunds'
            })
        },

        methods: {
            getFundCompliance: function () {
                this.$store.commit('GET_FUND_COMPLIANCE', this.$route.params.id);
            }
        },

        mounted() {
            this.getFundCompliance();
        }
    }
</script>

<template>
    <div class="col-md-12">
        <div class="panel-dashboard">
            <div class="row">
                <div class="col-md-7">
                    <br>
                    <div class="col-md-11 panel panel-success">
                        <h4><b>Fund Compliance Details</b></h4>
                        <hr>
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td width="30%">ID</td>
                                    <td>{{ compliance.id }}</td>
                                </tr>
                                <tr>
                                    <td width="30%">Benchmark Name</td>
                                    <td>{{ compliance.name }}</td>
                                </tr>
                                <tr>
                                    <td width="30%">Date</td>
                                    <td>{{ compliance.date }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <br>

                <div class="col-md-5">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <a href="/dashboard/portfolio/compliance" class="btn btn-default">
                                <i class="fa fa-list-alt"></i>
                                Back to fund compliance
                            </a>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <hr>
                        <br>
                        <td colspan="2" class="btn-group">
                            <el-button type="primary" size="mini"><i class="fa fa-pencil"></i> Edit</el-button>
                            <el-button type="danger" size="mini"><i class="fa fa-trash"></i> Remove</el-button>
                        </td>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-12" v-if="compliance">
                    <hr>
                    <h5>Benchmark Limits</h5>
                    <hr>
                    <benchmark-limits></benchmark-limits>
                </div>
                <div class="col-md-12" v-if="compliance">
                    <hr>
                    <h5>Unit Funds </h5>
                    <hr>
                    <unit-funds></unit-funds>
                    <br>
                </div>
            </div>
        </div>
    </div>
</template>