<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapGetters({
                compliantFunds: 'compliantFunds'
            })
        }
    }
</script>

<template>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Unit Fund</th>
                    <th>Fund Manager</th>
                    <th>Currency</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="fund in compliantFunds">
                    <td>{{ fund.code }}</td>
                    <td>{{ fund.name }}</td>
                    <td>{{ fund.fundManager }}</td>
                    <td>{{ fund.currency }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>