.form-details h4{
  display: block !important;
}
.detail-group > p{
  margin-bottom: 20px;
  display: inline-block;
}
.detail-group{
  border: 1px solid #ebebeb;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.detail-group:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.detail-group table{

}

.analytics_configuration{
  .form-group{
    clear: none;
  }
}