.panel-login{
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}
.login-icon{
  text-align: center;
  padding: 20px auto;
  margin: 20px auto;
  color: #006666;
}
.login-icon>i{
  text-align: center;
  display: inline-block;
}
.form-control{
  margin-bottom: 20px;
}