<script>
    export default {

    }
</script>
<template>
    <div class="crims-page">
        <div class="crims-page-area p404">
            <div class="one"></div>
            <div class="two">
                <h1> 404 Error!! <br/>
                    <!--<span>Page Not Available</span>-->
                </h1>
                <p>Oops!! It seems like the page you are looking for is not available, or you do not have the permission to view the content of the page.</p>

                <div class="in-two-holder">
                    <span>holder</span>
                </div>
            </div>

            <div class="three"></div>
        </div>

    </div>
</template>