<script type="text/babel">
    import axios from 'axios';
    import moment from 'moment';
    import { Message } from 'element-ui';

    export default {

        data() {
            return {
                loading: false,
                refreshingOwnedUnits: false,
                url: '',
                clientId: null,
                holder: {},
                ownedUnits: null,
                formErrors: {},
                date: '',
                number: null,
                selectedHolder: null,
                fundId: null,
                withdrawable: null
            }
        },

        created: function() {
            this.clientId = this.$route.params.id;
            this.fundId = this.$route.params.fid;

            this.url = `/api/unitization/unit-funds/${this.fundId}/unit-fund-clients/${this.clientId}/unit-fund-transfers`;
            this.getOwnedUnits(this.date);
        },

        watch: {
            date: {
                handler: function() {
                    let formattedDateString = moment(this.date).format('YYYY-MM-DD');
                    this.getOwnedUnits(formattedDateString);
                }
            },
        },

        methods: {
            getOwnedUnits: function(date) {
                this.refreshingOwnedUnits = true;
                axios.get(`/api/unitization/unit-funds/${this.fundId}/unit-fund-clients/${this.clientId}/owned-units?date=${date}`)
                    .then((response) => {
                        this.refreshingOwnedUnits = false;
                        if(response.status == 200) {

                            this.refreshingOwnedUnits = false;
                            let data = response.data;

                            if(data.fetched) {
                                this.$set(this, 'ownedUnits', data.ownedUnits);
                                this.$set(this, 'withdrawable', data.withdrawable);
                            }
                            else {
                                flash('Could not fetch the number of owned units for the fund holder', 'danger');
                            }
                        }
                    }, (response) => {
                        this.refreshingOwnedUnits = false;
                        flash('Oops! Something went wrong', 'danger');
                    });
            },

            transfer: function() {

                if(Number(this.number) > Number(this.ownedUnits)) {
                    flash('The number of units entered exceeds the fund holder\'s owned units', 'danger');
                    return;
                }

                if(Number(this.number) > Number(this.withdrawable)) {
                    flash('The number of units entered exceeds the fund holder\'s transferrable units', 'danger');
                    return;
                }

                this.loading = true;

                let input = {
                    date: moment(this.date).format('YYYY-MM-DD'),
                    number: this.number,
                    transferee_id: this.selectedHolder == null ? null : this.selectedHolder
                };

                axios.post(this.url, input)
                    .then((response) => {
                        this.loading = false;

                        let data = response.data;

                        if(response.status == 202) {
                            this.success();
                        }
                        else if(response.data.status == 422) {
                            this.throwValidationError(data);
                        }
                    }, (response) => {
                        this.loading = false;
                        flash('Oops! Something went wrong', 'danger');
                        this.formErrors = response.data;
                    });
            },

            selectedClient(clientId) {
                this.selectedHolder = clientId;
            },

            success: function() {
                Message.success({ message: 'Unit fund transfer is successfuly saved for approval'});
                this.$router.push({ name: 'unit-fund-holders.show', params: { fid:this.fundId, id: this.clientId } });
            },

            throwValidationError: function(data) {
                Message.warning({ message: 'Failed to transfer the units, please try again'});

                this.formErrors = data.errors;
            }
        }
    }
</script>

<template id="id-of-template">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel-dashboard">
            <h3>
                Transfer Units
                <router-link v-bind:to="{ name: 'unit-fund-holders.show', params: { id: holder.id } }" class="btn btn-default pull-right"><i class="fa fa-long-arrow-left"></i> Back to Fund Holder</router-link>
            </h3>

            <form v-on:submit.prevent="transfer()">
                <div class="form-group">
                    <label>Search Client</label>
                    <search-client @selected="selectedClient" name="transferee_id" v-model="selectedHolder"></search-client>
                    <ul v-if="formErrors['transferee_id']" class="text-danger">
                        <li v-for="message in formErrors['transferee_id']" v-text="message"></li>
                    </ul>
                </div>
                <br/>

                <div class="form-group">
                    <label>Number of Units
                        <small>
                            ( Owned Units : <i class="fa fa-spinner fa-spin" v-if="refreshingOwnedUnits"></i>
                            <b v-else>{{ ownedUnits | currency('', 0) }} | Transferrable Units : {{ withdrawable | currency('', 0) }}</b> )
                        </small>
                    </label>
                    <input type="number" class="form-control" step="1" placeholder="Number of units..." v-model="number">
                    <ul v-if="formErrors['number']" class="text-danger">
                        <li v-for="message in formErrors['number']" v-text="message"></li>
                    </ul>
                </div>
                <div class="form-group">
                    <label>Date </label>
                    <div class="input-group">
                        <el-date-picker v-model="date" type="date" placeholder="Date..."></el-date-picker>
                    </div>
                    <ul v-if="formErrors['date']" class="text-danger">
                        <li v-for="message in formErrors['date']" v-text="message"></li>
                    </ul>
                </div>

                <div class="margin-top-25">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Transfer <i class="fa fa-spinner fa-spin" v-if="loading"></i> </button>
                </div>
            </form>
        </div>
    </div>
</template>