
<script>
    import { mapGetters } from 'vuex';

    export default {
        data() {
            return {
                form: {},
                date: '',
            }
        },

        computed: {
            ...mapGetters({
                reversing: 'reversing',
                formErrors: 'reversalTransferErrors',
                transfer: 'selectedTransfer',
            })
        },

        methods: {
            reverse: function () {
                this.form.transfer_id = this.transfer.id;
                this.form.fundId = this.$route.params.fid;
                this.form.clientId = this.$route.params.id;

                this.$store.commit('REVERSE_TRANSFER', this.form);
            },

            closeModal: function () {
                this.$store.commit('REVERSE_TRANSFER_MODAL', { transfer: {}, value: false });
            }
        }
    }
</script>

<template id="id-of-template">
    <div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <p><i class="fa fa-info"></i> Are you sure you want to reverse the transfer?</p>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Reason:</label>
                            <el-input placeholder="Please input" v-model="form.reason" style="width: 100%;"></el-input>
                            <ul v-if="formErrors['reason']" class="text-danger">
                                <li v-for="message in formErrors['reason']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <button class="btn btn-primary" type="submit" @click="reverse">
                <i class="fa fa-spinner fa-spin" v-if="reversing"></i>
                <i class="fa fa-save" v-else></i> Reverse
        </button>
            <a class="btn btn-default" @click="closeModal">Cancel</a>
        </div>
    </div>
</template>