<script>
    import { mapGetters } from 'vuex';

    export default {

        computed: {
            ...mapGetters({
                matureWithdrawals: 'matureWithdrawals',
                preMatureWithdrawals: 'preMatureWithdrawals',
                activeInvestments: 'activeInvestments',
                pendingInvestmentTransaction: 'pendingInvestmentTransaction',
                pendingPortfolioTransaction: 'pendingPortfolioTransaction',
                activePortfolioInvestment: 'activePortfolioInvestment',

                fetchingMatureWithdrawals: 'fetchingMatureWithdrawals',
                fetchingPrematureWithdrawals: 'fetchingPrematureWithdrawals',
                fetchingActiveInvestments: 'fetchingActiveInvestments',
                fetchingPendingTransactions: 'fetchingPendingTransactions',
                fetchingPendingPortfolioTransactions: 'fetchingPendingPortfolioTransactions',
                fetchingPortfolioInvestments: 'fetchingPortfolioInvestments',
            })
        },

        methods: {
            got_to_page(url) {
                window.location.href = url;
            },

            getSummaries: function () {
                this.$store.commit('MATURE_WITHDRAWALS');

                this.$store.commit('PRE_MATURE_WITHDRAWALS');

                this.$store.commit('ACTIVE_INVESTMENTS');

                this.$store.commit('PENDING_INVESTMENT_TRANSACTIONS');

                this.$store.commit('ACTIVE_PORTFOLIO_INVESTMENTS');

                this.$store.commit('PENDING_PORTFOLIO_TRANSACTIONS');
            }
        },

        mounted() {
            this.getSummaries();
        }
    }
</script>
<template>
    <div class="summaries">
        <div class="summary_card ">
            <div class="summary_card_content card_dark">

                <div class="card__head">
                    <span class="head_left">
                        Withdrawal Summary
                    </span>
                    <span class="head_right">
                        <span class="label label-default">
                            Today
                        </span>
                    </span>
                </div>

                <div class="card__body">
                    <span class="body_left card_section">
                        <h4>Mature withdrawals</h4>
                        <p>Mature withdrawals made</p>
                    </span>
                    <span class="body_right card_section">
                        <h2>
                            <span v-if="fetchingMatureWithdrawals"><i class="el-icon-loading"></i></span>
                            <span v-else>{{ matureWithdrawals | numAbbr }}</span>

                        </h2>
                    </span>
                </div>
                <div class="card__foot">

                    <span class="footer_left card_section">
                        <h4>Premature withdrawals</h4>
                        <p>Premature withdrawals made</p>
                    </span>

                    <span class="footer_right card_section">
                        <h2>
                            <span v-if="fetchingMatureWithdrawals"><i class="el-icon-loading"></i></span>
                            <span v-else>{{ preMatureWithdrawals | numAbbr}}</span>
                        </h2>
                    </span>

                </div>
            </div>
        </div>
        <div class="summary_card ">
            <div class="summary_card_content card_ambient">

                <div class="card__head">
                    <span class="head_left">
                        Client Investments
                    </span>
                </div>

                <div class="card__foot">

                    <span class="footer_left card_section link-div" @click="go_to_page('/dashboard/investments/clientinvestments')">
                        <h2>
                            <span v-if="fetchingActiveInvestments"><i class="el-icon-loading"></i></span>
                            <span v-else>{{ activeInvestments | numAbbr }}</span>
                        </h2>
                        <p>Active Investments</p>
                    </span>
                    <span class="vertical_split"><hr></span>
                    <span class="footer_right card_section link-div" @click="got_to_page('/dashboard/investments/approve')">
                        <h2>
                            <span v-if="fetchingPendingTransactions"><i class="el-icon-loading"></i></span>
                            <span v-else>{{ pendingInvestmentTransaction | numAbbr }}</span>
                        </h2>
                        <p>Pending transactions</p>
                    </span>

                </div>
            </div>
        </div>
        <div class="summary_card ">
            <div class="summary_card_content card_milieu">

                <div class="card__head">
                    <span class="head_left">
                        Portfolio Investments
                    </span>
                </div>


                <div class="card__foot">

                    <span class="footer_left card_section" @click="go_to_page('/dashboard/portfolio/deposit-holdings')">
                        <h2>
                            <span v-if="fetchingPortfolioInvestments"><i class="el-icon-loading"></i></span>
                            <span v-else>{{ activePortfolioInvestment | numAbbr }}</span>
                        </h2>
                        <p>Active Investments</p>
                    </span>

                    <span class="vertical_split"><hr></span>

                    <span class="footer_right card_section link-div" @click="got_to_page('/dashboard/portfolio/approve')">
                        <h2>
                            <span v-if="fetchingPendingPortfolioTransactions"><i class="el-icon-loading"></i></span>
                            <span v-else>{{ pendingPortfolioTransaction | numAbbr }}</span>
                        </h2>
                        <p>Pending transactions</p>
                    </span>

                </div>
            </div>
        </div>
    </div>
</template>