<script>
    import { mapGetters } from 'vuex';

    export default {
        data: ()=>({
            showNotifications: false
        }),
        computed: {
            ...mapGetters({
                logs : 'logs'
            })
        },

        methods: {
            getLogs: function () {
                this.$store.commit('GET_LOGS');
            },

        },

        mounted() {
            this.getLogs();
        }
    }
</script>

<template>
    <div class="top-bar-notifications">
        <div class="icon-wrapper">
            <a @click="showNotifications = true">
                <i class="material-icons">access_time</i>
                <span class="badge">{{logs.length}}</span>
            </a>
        </div>

        <el-dialog class="notification_modal" :visible.sync="showNotifications" width="60%" >
            <template slot="title"><a href="/dashboard/investments/activity">Admin Activity Logs</a></template>
            <ul class="admin_notification_list">

                <li v-for="log in logs">
                    <a :href="log.target">

                        {{ log.text }}

                        <div class="pull-right">
                            <time am-time-ago="log.time"></time>
                        </div>

                        <i class="material-icons"> info</i>
                    </a>
                </li>

            </ul>
        </el-dialog>

    </div>
</template>