<script>
    export default {
        data() {
            return {
                url: '/api/investment/fund-valuation',
            }
        },

    }
</script>

<template>
    <div class="">
        <line-chart
                :curve="false"
                :colors="[' #871a36', '#f6a993', '#3c6df0']"
                ytitle="Values in (Ksh)"
                download="Fund Valuation"
                legend="bottom"
                :data='url'>

        </line-chart>
    </div>
</template>