<script>
    import Vue from 'vue';
    import { mapGetters } from 'vuex';

    export default {

        data: ()=>({
            clients_active_url: "/dashboard/investments/summary",
            clients_inv_url: "/dashboard/investments/clientinvestments",
            portfolio_inv_url: "/dashboard/portfolio/deposit-holdings",
            client_trans_url: "/dashboard/investments/approve",
            portfolio_transactions_url: "/dashboard/portfolio/approve",
            analytics: {}
        }),

        computed: {
            ...mapGetters({
                clients: 'clientsStats',
                withdrawals: 'withdrawalsStats',
                inflows: 'inflowsStats',
                aum: 'aumStats',
                fetchingClients: 'fetchingClientsStats',
                fetchingWithdrawals: 'fetchingWithdrawalsStats',
                fetchingInflows: 'fetchingInflowsStats',
                fetchingAum: 'fetchingAumStats'
            })
        },

        methods: {
            go_to_sammary(url) {
                window.location.href = url;
            },

            getDashboardStarts: function () {

                this.$store.commit('GET_CLIENTS_STATS');

                this.$store.commit('GET_WITHDRAWALS_STATS');

                this.$store.commit('GET_INFLOWS_STATS');

                this.$store.commit('GET_AUM_STATS');
            }
        },

        mounted() {
            this.getDashboardStarts();
        }
    }

</script>
<template>
    <div class="analysis_cards__sections">
        <div  class="analysis_card">
            <div class="card_content clients">
                <div class="summary">
                    <div class="summary__head">
                        <h5>Withdrawals</h5>
                    </div>
                    <div class="summary__content">
                        <div class="summary__content_sub1">
                            <h2>
                                <span v-if="fetchingWithdrawals"><i class="el-icon-loading"></i></span>
                                <span v-else>{{ withdrawals.today | numAbbr }}</span>
                            </h2>
                            <p>TODAY</p>
                        </div>
                        <div class="summary__content_sub2">
                            <h2>
                                <span v-if="fetchingWithdrawals"><i class="el-icon-loading"></i></span>
                                <span v-else>{{ withdrawals.ytd | numAbbr }}</span>
                            </h2>
                            <p>YTD</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div @click="go_to_sammary('/dashboard/investments/accounts-cash')" class="analysis_card">
            <div class="card_content investments">
                <div class="summary">
                    <div class="summary__head">
                        <h5>Inflows</h5>
                    </div>

                    <div class="summary__content">
                        <div class="summary__content_sub1">
                            <h2>
                                <span v-if="fetchingInflows"><i class="el-icon-loading"></i></span>
                                <span v-else>{{ inflows.today | numAbbr }}</span>
                            </h2>
                            <p>Today</p>
                        </div>
                        <div class="summary__content_sub2">
                            <h2>
                                <span v-if="fetchingInflows"><i class="el-icon-loading"></i></span>
                                <span v-else>{{ inflows.ytd | numAbbr }}</span>
                            </h2>
                            <p>YTD</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div @click="go_to_sammary('/dashboard/clients')" class="analysis_card">
            <div class="card_content portfolio">
                <div class="summary">
                    <div class="summary__head">
                        <h5>Clients</h5>
                    </div>

                    <div class="summary__content">
                        <div class="summary__content_sub1">
                            <h2>
                                <span v-if="fetchingClients"><i class="el-icon-loading"></i></span>
                                <span v-else>{{ clients.today | numAbbr }}</span>
                            </h2>
                            <p>ON-BOARDED TODAY</p>
                        </div>
                        <div class="summary__content_sub2">
                            <h2>
                                <span v-if="fetchingClients"><i class="el-icon-loading"></i></span>
                                <span e-else>{{ clients.ytd | numAbbr }}</span>
                            </h2>
                            <p>ACTIVE CLIENTS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div  class="analysis_card">
            <div class="card_content aum">
                <div class="summary">
                    <div class="summary__head">
                        <h5>AUM</h5>
                    </div>

                    <div class="summary__content">
                        <div class="summary__content_sub1">
                            <h2>
                                <span v-if="fetchingAum"><i class="el-icon-loading"></i></span>
                                <span v-else>{{ aum.total | numAbbr }}</span>
                            </h2>
                            <p>TOTAL</p>
                        </div>
                        <div class="summary__content_sub2">
                            <h2>
                                <span v-if="fetchingAum"><i class="el-icon-loading"></i></span>
                                <span v-else>{{ aum.average | numAbbr }}</span>
                            </h2>
                            <p>AVG. PER CLIENT</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
