<script>
    import { mapGetters } from 'vuex';

    export default {
        data: ()=>({
            showNotifications: false
        }),

        computed: {
            ...mapGetters({
                notifications : 'notifications'
            })
        },

        methods: {
            getNotifications: function () {
                this.$store.commit('GET_NOTIFICATIONS');
            }
        },

        mounted() {
            this.getNotifications();
        }
    }
</script>

<template>
    <div class="top-bar-notifications">
        <div class="icon-wrapper">
            <a @click="showNotifications = true">
                <i class="material-icons">notifications</i>
                <span class="badge">{{notifications.length}}</span>
            </a>
        </div>
        <el-dialog class="notification_modal"  :visible.sync="showNotifications" width="60%" >
            <template slot="title">Admin Notifications</template>
            <ul class="admin_notification_list">

                <li v-for="notification in notifications">
                    <a :href="notification.location">

                        {{ notification.content }}

                        <i class="material-icons"> info</i>
                    </a>
                </li>

            </ul>
        </el-dialog>
    </div>
</template>