<script>
    export default {
        data: () => ({}),
        methods: {
            getChatData() {
                this.$http.get('/api/investment/re-valuation')
                    .then(({data}) => {
                        console.log('data', data)
                    }, () => {

                    })
            }
        },
        mounted() {
            this.getChatData();
        }
    }
</script>

<template>
    <div class="">
        <column-chart :curve="false"
                      :colors="['#8b5d0f', '#0f8b7c']"
                      ytitle="Sales "
                      download="Real Estate Valuation"
                      legend="bottom"
                      :data="'/api/investment/re-valuation'"
                      :messages="{empty: 'No data loaded'}"
        >

        </column-chart>
    </div>
</template>