<script>
    export default {
        props: ['user'],
        data: ()=>({
            hi: '',
            message: ''
        }),

        computed: {
            greeetings(){
                return this.user ? this.user.firstname : '';
            }
        },
        methods: {
            saltuation(){
                let d = new Date();
                let time = d.getHours();

                if (time < 12)
                {
                    this.hi = "Good Morning";
                    this.message = "Here’s what’s happened with the business yesterday.";
                }

                if (time >= 5)
                {
                    this.hi = "Good Morning";
                    this.message = "Here’s what’s happening with the business today.";
                }

                if (time >= 12)
                {
                    this.hi = "Good Afternoon";
                    this.message = "Here’s what’s happening with the business today.";
                }
                if(time >= 18)
                {
                    this.hi = "Good Evening";
                    this.message = "Here’s what’s happening with the business today.";
                }
                if(time >= 22)
                {
                    this.hi = "Good Night";
                    this.message = "Here’s what’s happened with the business today.";
                }
            }

        },
        mounted() {
            this.saltuation();
        }

    }

</script>
<template>
    <div>
        <h4>{{hi + ' ' + greeetings}}!</h4>
        <p>{{message}}</p>
    </div>
</template>