<script>
    import SettleController from './controller';

    export default {

        mixins: [ SettleController ],

        props: [ 'order', 'purchases' ],

        methods: {
            totalAmount: function (purchase) {
                return parseFloat(purchase.share_number) * parseFloat(purchase.share_price);
            },
        }

    }
</script>

<template>
    <div class="">
        <div class="">
            <h4>Share Purchases Awaiting Settlement</h4>
            <hr>
        </div>

        <div class="">
            <el-table
                    ref="multipleTable"
                    :data="purchases"
                    style="width: 100%"
                    @selection-change="handleSelectionChange">
                <el-table-column
                        type="selection"
                        width="60">
                </el-table-column>
                <el-table-column
                        label="Date"
                        width="180">
                    <template slot-scope="scope">{{ scope.row.date }}</template>
                </el-table-column>
                <el-table-column
                        property="fullName"
                        label="Buyer Name"
                        width="300">
                </el-table-column>
                <el-table-column
                        property="number"
                        label="Holder Number"
                        width="200">
                </el-table-column>
                <el-table-column
                        property="share_number"
                        label="No of Shares"
                        width="200">
                </el-table-column>
                <el-table-column
                        label="Price"
                        width="200">
                    <template slot-scope="scope">{{ scope.row.share_price | currency }}</template>
                </el-table-column>
                <el-table-column
                        label="Total Amount"
                        width="250">
                    <template slot-scope="scope">{{ totalAmount(scope.row)  | currency }}</template>
                </el-table-column>
                <el-table-column
                        label="Balance"
                        width="250">
                    <template slot-scope="scope">{{ scope.row.balance }}</template>
                </el-table-column>
            </el-table>
        </div>

        <br>

        <div class="">
            <div class="form-group">
                <el-tabs type="card">
                    <el-tab-pane label="Settle">
                        <el-date-picker
                                required
                                v-model="date"
                                type="date"
                                placeholder="Select settlement date">
                        </el-date-picker>

                        <br>
                        <br>

                        <el-button type="success" @click="submit(order)" size="mini">
                            <i class="el-icon-loading" v-if="submitting"></i>
                            <i class="el-icon-circle-plus" v-else></i>
                            Settle
                        </el-button>
                    </el-tab-pane>
                    <el-tab-pane label="Unmatch">
                        <el-button type="danger" @click="reverse(order)" size="mini">
                            <i class="el-icon-loading" v-if="unmatching"></i>
                            <i class="el-icon-circle-minus" v-else></i>
                            Un-match
                        </el-button>
                    </el-tab-pane>
                    <el-tab-pane label="Send Payment Reminder">
                        <el-button type="danger" @click="sendReminder" size="mini">
                            <i class="el-icon-loading" v-if="unmatching"></i>
                            <i class="el-icon-circle-minus" v-else></i>
                            Send
                        </el-button>
                    </el-tab-pane>
                </el-tabs>
            </div>
        </div>
    </div>
</template>