<script>
    import PaymentMixin from './paymentMixin';

    export default {
        mixins: [PaymentMixin]
    }

</script>
<template>
    <div class="re-payment-form">
        <div v-show="step === 'form'">
            <el-form ref="makePaymentForm" :rules="rules" :model="makePaymentForm" label-position="top" size="small"
                     label-width="">
                <div>

                    <el-form-item label="Enter the amount paid" prop="amount">
                        <el-input
                            v-model="makePaymentForm.amount"
                            :controls="false"
                            style="width: 95%;">

                        </el-input>
                        <br>
                        <form-error v-if="errors.amount" :errors="errors">
                            <div v-for="error in errors.amount"><p> {{ error }}</p></div>
                        </form-error>
                    </el-form-item>

                    <el-form-item label="Enter the date this payment was made" prop="date">
                        <el-date-picker type="date"
                                        placeholder="Pick a date"
                                        v-model="makePaymentForm.date"
                                        style="width: 95%;">
                        </el-date-picker>
                        <br>
                        <form-error v-if="errors.date" :errors="errors">
                            <div v-for="error in errors.date"><p> {{ error }}</p></div>
                        </form-error>
                    </el-form-item>

                    <el-form-item label="Narration" prop="description">
                        <el-input placeholder="Narration" style="width: 95%;"
                                  v-model="makePaymentForm.description"></el-input>
                        <br>
                        <form-error v-if="errors.description" :errors="errors">
                            <div v-for="error in errors.description"><p> {{ error }}</p></div>
                        </form-error>
                    </el-form-item>

                    <el-form-item label="Select the mode of payment" prop="mode_of_payment">
                        <el-select
                                v-model="makePaymentForm.mode_of_payment"
                                placeholder="Payment Mode"
                                style="width: 95%">
                            <el-option value="Direct Bank Deposit" label="Direct Bank Deposit"></el-option>
                            <el-option value="M-Pesa Paybill" label="M-Pesa Paybill"></el-option>
                        </el-select>
                        <br>
                        <form-error v-if="errors.mode_of_payment" :errors="errors">
                            <div v-for="error in errors.mode_of_payment"><p> {{ error }}</p></div>
                        </form-error>
                    </el-form-item>

                    <el-form-item label="Proof of Payment (Optional)">
                        <div class="form-group">
                            <el-upload
                                    class="upload-demo no-padding"
                                    drag
                                    :action='url'
                                    :headers="headers"
                                    :auto-upload="false"
                                    ref="upload"
                                    :data="makePaymentForm"
                                    :on-change="showFile"
                                    :on-success="showUploadSuccess"
                                    size="medium"
                                    :on-error="errorOccurred">

                                <i class="el-icon-upload"></i>
                                <div class="el-upload__text">Drop file here or <em>click to upload</em> a
                                    file/screenshot
                                </div>
                                <div class="el-upload__tip" slot="tip">
                                    Images or pdf files with a size of less than 2mbs
                                    <form-error name="file.*" :errors="errors"></form-error>
                                </div>
                            </el-upload>
                        </div>
                    </el-form-item>
                </div>

                <div class="">
                    <el-popover
                            placement="left"
                            width="500"
                            trigger="hover">

                        <re-bank-details :unit="unitDetails"></re-bank-details>

                        <el-button size="mini" type="warning" slot="reference">View bank details</el-button>
                    </el-popover>
                </div>

                <hr>

                <div>
                    <el-form-item>
                        <el-button type="custom-success" @click="showConfirm('makePaymentForm')">
                            Make Payment
                        </el-button>
                        <el-button type="custom-default" @click="close">Cancel</el-button>
                    </el-form-item>
                </div>

            </el-form>
        </div>

        <div v-if="step === 'confirm'">
            <div class="confirm-top-up"
                 v-loading="submitting"
                 element-loading-text="Please wait as the unit-payment information you provided is being submitted">
                <div class="description">
                    <h2>Confirm details before submitting</h2>
                </div>

                <div class="description">
                    <h3>Payment Date</h3>
                    <p>{{makePaymentForm.date}}</p>
                </div>

                <div class="description">
                    <h3>Amount</h3>
                    <p>{{makePaymentForm.amount}}</p>
                </div>

                <div class="description">
                    <h3>Narration</h3>
                    <p>{{makePaymentForm.description}}</p>
                </div>

                <div class="description">
                    <h3>Selected Mode of payment</h3>
                    <p>{{makePaymentForm.mode_of_payment}}</p>
                </div>
                
                <div class="description">
                    <h3>Payment Proof provided</h3>
                    <p v-if="paymentProofFile">{{paymentProofFile.name}}</p>
                    <p v-else>No proof of payment provided...</p>
                </div>

                <div class="description last">
                    <el-button type="custom-success" @click="submit">Submit</el-button>
                    <el-button type="custom-default" @click="close">Cancel</el-button>
                </div>
            </div>
        </div>

        <div v-if="step === 'success' ">
            <div class="submitPaymentSuccess">
                <div class="message">
                    <h4>Payment was submitted successfully. We will notify you after 24 hours and update the details
                        accordingly. Thank you. </h4>
                </div>
                <div class="icon">
                    <h1><i class="fa fa-check-circle" aria-hidden="true"></i></h1>
                </div>
            </div>

        </div>
    </div>
</template>

<style>
    .re-payment-form {
        padding: 5%;
    }

    input::placeholder {
        color: blue !important;
    }
</style>