//@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,700');
@import "utils/variables";
@import "layout/main_top_bar";
@import "layout/body_area";

@import "dashboard/dashboard";

*, html {
  font-family: 'Roboto', sans-serif;
}

.link-div {
  cursor: pointer;
}