<script>
    import {mapGetters} from 'vuex';

    export default {
        props: ['instruction', 'client'],

        data() {
            return {}
        },

        computed: {
            ...mapGetters({})
        },

        mounted() {
            this.date = this.instruction.date;
        }
    }
</script>

<template>
    <div class="panel panel-success">
        <div class="panel-heading">
            <p v-if="instruction.bill_type == 'bill'">
                <i class="glyphicon glyphicon-plus-sign"></i> Process Bill Utility
            </p>
            <p v-if="instruction.bill_type == 'airtime'">
                <i class="glyphicon glyphicon-plus-sign"></i> Process Airtime Utility
            </p>
        </div>

        <div class="panel-body">
            <div>
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>Biller Name:</th>
                        <td> {{ instruction.client_name }}</td>
                    </tr>
                    <tr>
                        <th>Bill Name:</th>
                        <td> {{ instruction.bill_name }}</td>
                    </tr>
                    <tr>
                        <th>Bill Type:</th>
                        <td> {{ instruction.bill_type | capitalize }}</td>
                    </tr>
                    <tr>
                        <th>Account Name:</th>
                        <td> {{ instruction.account_name }}</td>
                    </tr>
                    <tr>
                        <th>Account Number:</th>
                        <td> {{ instruction.account_number }}</td>
                    </tr>
                    <tr v-if="instruction.smart_card_number">
                        <th>Smart Card Number:</th>
                        <td> {{ instruction.smart_card_number }}</td>
                    </tr>
                    <tr v-if="instruction.meter_number">
                        <th>Meter Number:</th>
                        <td> {{ instruction.meter_number }}</td>
                    </tr>
                    <tr>
                        <th>Amount:</th>
                        <td> {{ instruction.amount }}</td>
                    </tr>
                    <tr v-if="instruction.number">
                        <th>Number:</th>
                        <td> {{ instruction.number }}</td>
                    </tr>
                    <tr>
                        <th>Source Funds:</th>
                        <td> {{ instruction.unit_fund }}</td>
                    </tr>
                    <tr>
                        <th>To:</th>
                        <td>{{instruction.to}}</td>
                    </tr>
                    <tr>
                        <th>Date:</th>
                        <td>{{instruction.date}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<style scoped>

</style>