<template id="id-of-unit-fund-fundSwitch" v-cloak>
    <div class="col-md-10 col-md-offset-1">
        <div class="panel-dashboard">
            <h3>
                Unit Fund Switch Details
                <div class="btn-group pull-right">
                    <router-link v-bind:to="{ name: 'unit-fund-switches.index' }" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Back to Switches</router-link>
                </div>
            </h3>
            <table class = "table table-hover">
                <tbody>
                    <tr>
                        <td width="30%">ID</td>
                        <td>{{ fundSwitch.id }}</td>
                    </tr>
                    <tr>
                        <td>Holder Name</td>
                        <td>{{ fundSwitch.holder.client.contact.title.name }} {{ fundSwitch.holder.client.contact.firstname }} {{ fundSwitch.holder.client.contact.lastname }}</td>
                    </tr>
                    <tr>
                        <td>Holder Number</td>
                        <td>{{ fundSwitch.holder.number }}</td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>{{ fundSwitch.date | formatDate }}</td>
                    </tr>
                    <tr>
                        <td>From (Previous Unit Fund)</td>
                        <td>{{ fundSwitch.previous_fund.name }}</td>
                    </tr>
                    <tr>
                        <td>To (Current Unit Fund)</td>
                        <td>{{ fundSwitch.current_fund.name }}</td>
                    </tr>
                    <tr>
                        <td>Switch Rate</td>
                        <td>{{ fundSwitch.rate.amount | currency }}</td>
                    </tr>
                    <tr>
                        <td>Actions</td>
                        <td>
                            <div class="btn-group">

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script type="text/babel">

    export default {

        data() {
            return {
                loading: false,
                url: '',
                fundSwitch: {
                    id: null,
                    date: null,
                    rate: {},
                    previous_fund: {},
                    current_fund: {},
                    holder: {
                        client: {
                            contact: {
                                title: {
                                    
                                }
                            }
                        }
                    }
                }
            }
        },

        created: function() {
            let holderId = this.$route.params.hid;
            this.fundSwitch.id = this.$route.params.id;
            this.url = `/api/unitization/unit-fund-holders/${holderId}/unit-fund-switches/${this.fundSwitch.id}`;
            this.getUnitFundSwitch();
        },

        methods: {
            getUnitFundSwitch: function() {

                axios.get(this.url)
                    .then((response) => {
                        if(response.status == 200) {

                            let data = response.data;

                            if(data.fetched) {
                                this.$set(this, 'fundSwitch', data.data);
                            }
                            else {
                                flash('Could not fetch requested unit fund switch', 'danger');
                                this.$router.push({ name: 'unit-fund-switches.index' });
                            }
                        }
                    }, (response) => {
                        flash('Oops! Something went wrong', 'danger');
                        this.$router.push({ name: 'unit-fund-switches.index'});
                    });
            },
        }
    }
</script>