<script>
    export default {
        name: "menu_detail_card",
        props: {
            title: {
                default: ''
            },
            title_time: {
                default: ''
            },
            description: {
                default: ''
            },
            description_sub: {
                default: ''
            },
            footer: {
                default: ''
            },
            footer_sub: {
                default: ''
            }
        }
    }
</script>

<template>
    <div class="summary_card ">
        <div class="summary_card_content card_dark">

            <div class="card__head">
                    <span class="head_left">
                        {{title}}
                    </span>
                <span class="head_right">
                        <span class="label label-default">
                            {{title_time}}
                        </span>
                    </span>
            </div>

            <div class="card__body">
                    <span class="body_left card_section">
                        <h4>{{description}}</h4>
                        <p>{{description_sub}}</p>
                    </span>
                <span class="body_right card_section">
                        <h4>
                            <slot name="description"></slot>
                        </h4>
                    </span>
            </div>
            <div class="card__foot">

                    <span class="footer_left card_section">
                        <h4>{{footer}}</h4>
                        <p>{{footer_sub}}</p>
                    </span>

                <span class="footer_right card_section">
                        <h4>
                            <slot name="footer"></slot>
                        </h4>
                    </span>

            </div>
        </div>
    </div>
</template>
