<script>
    export default {

        props: {
            title: {
                default: ''
            },

            statistics: {
                default: ''
            },

            statistics_title: {
                default: ''
            },

            icon: {
                default: ''
            },

            link: {
                default: '/'
            },

            fetch: {
                default: true
            },

            first: {

            },

            description: {
                default: ''
            }
        },
    }
</script>

<template>
    <a :href="this.link" class="menu_card">
        <div class="menu_card__content" :class="{'first-menu-item' : first}">
            <div class="menu_card__title">
                <p>{{ title }}</p>
            </div>
            <div class="menu_card__foot menu_foot">
                <div class="menu_foot__left">
                    <div v-if="!fetch">
                        <h4 >
                            {{ statistics | currency('', 0)}}
                        </h4>
                        <p>{{ statistics_title }}</p>
                    </div>

                    <div v-else>
                        <p class="menu-item-description">{{ description }}</p>
                    </div>
                </div>
                <div class="menu_foot__right" v-if="fetch">
                    <slot></slot>
                </div>
            </div>
        </div>
    </a>
</template>
