<script>
    export default {
        props: {
            title: {
                type: String,
                default: ''
            },

            icon: {
                type: String,
                default: 'fa-user-plus'
            },

            statistics_desc: {
                default: ''
            },

            statistics: {
                default: 0
            },

            link: {
                default: '/'
            },
        }
    }

</script>

<template>
    <a :href="link" class="analysis_card menu-summary-cards">
        <div class="card_content ">
            <div class="summary">
                <div class="summary__head">
                    <h5 ><b>{{title.toUpperCase()}}</b></h5>
                </div>

                <div class="summary__content">
                    <div class="summary__content_sub1">
                        <h2>{{statistics | currency('', 0)}}</h2>
                        <p>{{statistics_desc}}</p>
                    </div>
                    <div class="summary__content_sub2">
                        <p><slot></slot></p>
                    </div>
                </div>
            </div>
        </div>
    </a>
</template>
