<script>
    import EditProfileMixins from './edit'

    export default {
        mixins: [EditProfileMixins]
    }
</script>


<template>
    <div>

        <el-form label-position="top" size="small" style="width: 100%;" :model="editClient" :rules="rules" ref="editClient">
            <div class="details">
                <div class="description edit_card">
                    <h4>Contact Information</h4>

                    <el-form-item label="Email" prop="email">
                        <el-input v-model="editClient.email" readonly></el-input>
                    </el-form-item>

                    <el-form-item label="Phone" prop="phone">
                        <el-input v-model="editClient.phone"></el-input>
                    </el-form-item>

                    <el-form-item label="Residential Address" prop="residence">
                        <el-input v-model="editClient.residence"></el-input>
                    </el-form-item>

                    <!--<el-form-item label="Preffered method of contact">-->
                        <!--<el-input v-model="editClient.name"></el-input>-->
                    <!--</el-form-item>-->

                </div>

                <div class="description edit_card">
                    <h4>Employment Information</h4>

                    <el-form-item label="Employment Status" prop="employment_id">
                        <el-select v-model="editClient.employment_id" placeholder="Select Employment Status">
                            <el-option
                                    v-for="e in employmentTypes"
                                    :key="e.id"
                                    :label="e.name"
                                    :value="e.id">
                            </el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="Sector">
                        <el-input v-model="editClient.business_sector"></el-input>
                    </el-form-item>

                    <el-form-item label="Present Occupation" prop="present_occupation">
                        <el-input v-model="editClient.present_occupation"></el-input>
                    </el-form-item>

                    <el-form-item label="Employer Name">
                        <el-input v-model="editClient.employer_name"></el-input>
                    </el-form-item>

                    <el-form-item label="Employer Address">
                        <el-input v-model="editClient.employer_address"></el-input>
                    </el-form-item>


                </div>

                <!--<div class="description edit_card">-->
                    <!--<h4>Contact Person(s) Details</h4>-->

                    <!--<el-form-item label="Title">-->
                        <!--<el-select v-model="editClient.contact_person_title" placeholder="" filterable>-->
                            <!--<el-option-->
                                    <!--v-for="b in titles"-->
                                    <!--:key="b.id"-->
                                    <!--:label="b.name"-->
                                    <!--:value="b.id">-->
                            <!--</el-option>-->
                        <!--</el-select>-->
                    <!--</el-form-item>-->

                    <!--<el-form-item label="First Name">-->
                        <!--<el-input v-model="editClient.contact_person_fname"></el-input>-->
                    <!--</el-form-item>-->

                    <!--<el-form-item label="Last Name">-->
                        <!--<el-input v-model="editClient.contact_person_lname"></el-input>-->
                    <!--</el-form-item>-->


                    <!--<el-form-item label="Phone">-->
                        <!--<el-input v-model="editClient.contact_person_phone"></el-input>-->
                    <!--</el-form-item>-->


                    <!--<el-form-item label="Email">-->
                        <!--<el-input v-model="editClient.contact_person_phone"></el-input>-->
                    <!--</el-form-item>-->


                    <!--<el-form-item label="Address">-->
                        <!--<el-input v-model="editClient.contact_person_address"></el-input>-->
                    <!--</el-form-item>-->

                <!--</div>-->


            </div>

            <div class="details submit_edit">
                <el-form-item>
                    <el-button class="crims_action_button success" @click="saveEdit('editClient')">
                        Save Edit <span v-show="submitting"><i class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true"></i></span>
                    </el-button>
                </el-form-item>
            </div>
        </el-form>
    </div>
</template>

