<script>
    import { mapGetters } from 'vuex';

    export default {
        props: {
            tableId: {
                default: 'crims_table'
            },
            searchLabel: {
                default: 'Search ...'
            }
        },

        data() {
            return {
                security: '',
                assetClass: '',
                searchText: '',
                orderType: ''
            }
        },

        computed: {
            ...mapGetters({
                assetClassFilters: 'assetClassFilters',
                orderTypeFilters: 'orderTypeFilters'
            }),

            assetClasses() {
                return this.assetClassFilters;
            },

            ordersTypes() {
                return this.orderTypeFilters;
            }
        },

        watch: {
            assetClass: {
                handler: function ()
                {
                    this.doFilter();
                }
            },

            orderType: {
                handler: function () {
                    this.doFilter();
                }
            }
        },

        methods: {
            doSearch: function ()
            {
                this.$events.fire('search-set', {'id': this.tableId, 'data': this.searchText });
            },

            doFilter: function ()
            {
                this.$events.fire('filter-set', {
                    'id': this.tableId,
                    'asset_class_id': this.assetClass,
                    'order_type_id': this.orderType
                });
            }
        }
    }
</script>

<template>
    <div class="">
        <div class="form-group" style="width:100%">

            <div class="col-md-12">
                <!--<div class="col-md-4">-->
                    <!--<el-select v-model="security" placeholder="By security" style="width: 100%;">-->
                        <!--<el-option-->
                                <!--v-for="security in securityFilters"-->
                                <!--:key="security.id"-->
                                <!--:label="security.name"-->
                                <!--:value="security.id">-->
                        <!--</el-option>-->
                    <!--</el-select>-->
                <!--</div>-->

                <div class="col-md-6">
                    <el-select v-model="assetClass" placeholder="By asset class" style="width: 100%;">
                        <el-option
                                v-for="asset in assetClasses"
                                :key="asset.id"
                                :label="asset.name"
                                :value="asset.id">
                        </el-option>
                    </el-select>
                </div>

                <!--<div class="col-md-3">-->
                    <!--<el-select v-model="orderType" placeholder="By order type" style="width: 100%;">-->
                        <!--<el-option-->
                                <!--v-for="order in ordersTypes"-->
                                <!--:key="order.id"-->
                                <!--:label="order.name"-->
                                <!--:value="order.id">-->
                        <!--</el-option>-->
                    <!--</el-select>-->
                <!--</div>-->
                <div class="col-md-5">
                    <el-input type="text" class="form-control" style="width: 100%;" v-model="searchText" @keyup="doSearch" :placeholder="searchLabel">
                    </el-input>
                </div>
            </div>
        </div>
    </div>
</template>