<script>
    import ViewMixin from './viewMixin';

    export default {
        mixins: [ViewMixin]
    }
</script>

<template>
    <div>
        <div>
            <div v-if="fetchingAllBills">
                <dash-card-placeholder></dash-card-placeholder>
            </div>

            <div v-else>
                <h4>Pay Bills</h4>

                <div class="billing_body_panel">
                    <div class="billing_card"
                         v-for="bill in allBills"
                         @click="addBill(bill)">
                        <div :class="card_logo(bill.logo)"></div>
                        <div class="pull-right bill-name" v-if="kplcLogo(bill.slug) || zukuLogo(bill.slug)">{{ billName(bill.name) }}</div>
                    </div>
                </div>

            </div>
        </div>

        <div>
            <div v-if="fetchingAirtimeTypes">
                <dash-card-placeholder></dash-card-placeholder>
            </div>

            <div v-else>
                <h4>Buy Airtime</h4>

                <div class="billing_body_panel">
                    <div class="billing_card"
                         v-for="type in airtimeTypes"
                         @click="buyAirtime(type)">
                        <div :class="card_logo(type.logo)"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="drawers">

            <action-drawer title="Add Bill" :visible.sync="add_bill">
                <add-bill :bill="bill"></add-bill>
            </action-drawer>

            <action-drawer title="Buy Airtime" :visible.sync="buy_airtime">
                <buy-airtime :type="airtimeType"></buy-airtime>
            </action-drawer>

        </div>
    </div>
</template>

<style scoped>
    .billing_card:hover {
        cursor: pointer;
    }
</style>