<script>
    import ViewMixin from './viewMixin';

    export default {
        mixins: [ViewMixin]
    }
</script>

<template>
    <div>
        <div v-if="fetchingAllBills">
            <dash-card-placeholder></dash-card-placeholder>
        </div>

        <div v-else>
            <h4>Pay Bills</h4>

            <div class="billing_body_panel">
                <div v-if="clientBills.length === 0">
                    <div class="alert alert-info">
                        <p><b>Client has no saved bills.</b></p>
                    </div>
                </div>

                <div class="billing_card"
                     v-for="bill in clientBills"
                     v-else>
                    <div class="bill-head">
                        <div class="bill-name">{{bill.account_name}} <span v-if="kplcLogo(bill.slug)">: ({{ billName(bill.bill_name) }})</span></div>
                        <div class="bill-actions">
                            <el-tooltip effect="light" placement="bottom">
                                <div slot="content">
                                    <span class="hover" @click="editDeleteBill(bill, 'edit')"><i class="fa fa-edit"></i> Edit Bill</span>
                                    <br>
                                    <br>
                                    <span class="hover" @click="editDeleteBill(bill, 'delete')"><i class="fa fa-trash"></i> Delete Bill</span>
                                </div>
                                <span><i class="fa fa-ellipsis-v"></i></span>
                            </el-tooltip>
                        </div>
                    </div>
                    <div :class="card_logo(bill.logo)"
                         class="hover" @click="addBill(bill)">
                    </div>
                </div>
            </div>
        </div>

        <div class="drawers">

            <action-drawer title="Add Bill" :visible.sync="add_bill">
                <add-bill :bill="bill"></add-bill>
            </action-drawer>

            <action-drawer title="Manage Bill" :visible.sync="edit_bill">
                <manage-bill :bill="bill" :action="bill_action"></manage-bill>
            </action-drawer>

        </div>
    </div>
</template>

<style scoped>
    .bill-head {
        color: #a4a6ab;
        display: flex;
    }

    .bill-head .bill-name{
        font-size: 15px;
        font-weight: 800;
        color: #000;
    }

    span {
        /*color: #a4a6ab;*/
        font-size: 14px;
    }

    .bill-actions {
        margin-left: auto;
        cursor: pointer;
    }

    .hover {
        cursor: pointer;
    }

    .billing_body_panel .billing_card {
        height: 210px;
    }
</style>