<style scoped>
    .no-margin-left {
        margin-left: 0;
    }
</style>

<script>
    import Vue from 'vue'
    import {mapGetters} from 'vuex'
    import {Notification} from 'element-ui';

    // Vue.component('bank-details', require('../bank_details.vue'));

    export default {
        data() {
            return {
                file: '',
                bankPopup: null,
                backDetailsModal: false
            }
        },
        computed: {
            ...mapGetters({
                topup: 'topup',
                fetch_topup: 'fetch_topup',
                selectedClient: 'selectedClient',
                defaultHeaders: 'defaultHeaders',
                topupId: 'topupId',
            }),

            url() {
                return '/api/investments/topup/upload/' + this.$route.params.id;
            }
        },

        watch: {
            selectedClient() {
                this.checkPageData();
            }
        },

        methods: {
            popup() {
                if (this.bankPopup === null) this.bankPopup = new Foundation.Reveal($('#bankDetails'));

                this.bankPopup.open();
            },

            showUploadSuccess() {
                Notification.success({title: '', message: 'File uploaded successfully'});
                this.getTopUps();
            },

            popupBankDetailsModal() {
                this.backDetailsModal = true;
            },
            closeBankDetailsModal() {
                this.backDetailsModal = false;
            },
            getTopUps: function () {
                this.$store.commit('GET_TOPUP', this.$route.params.id);
            },
            checkPageData() {
                if (!this.selectedClient.hasSP) {
                    this.$router.push({
                        path: '/home'
                    });
                }
            },
        },
        mounted() {
            this.getTopUps();
            this.checkPageData();
        }
    }
</script>

<template>
    <div class="crims-page topup-list">
        <breadcrumb :noswitchbar='true'>
            <h3>
                <router-link :to="{name: 'all-investments'}">Investments</router-link>
                <span class="link-2">
                    <router-link :to="{name: 'investments.TopUPList'}">Top-Up Lists</router-link>
                </span>
                <span>Topup Details
                    <object v-if="fetch_topup"><i class="fa fa-spinner fa-pulse fa-fw"></i></object>
                    <object v-else>({{topup.product}})</object>
                </span>
            </h3>
        </breadcrumb>

        <div class="topup-list-area">

            <div class="heading">
                <div class="title">
                    <h3>Topup Details <span v-if="fetch_topup"><i class="fa fa-spinner fa-pulse fa-fw"></i></span><span
                            v-else>({{topup.product}})</span></h3>
                </div>
                <div class="form">

                </div>
            </div>

            <div class="topup-details-table">
                <div class="crims-table-area table_scroll">
                    <table class="crims-table">
                        <thead>
                        <tr>
                            <th>Amount</th>
                            <th>Product</th>
                            <th>Agreed Rate</th>
                            <th>Tenor</th>
                            <th>Mode of payment</th>
                            <th v-if="topup.document_id">Transfer Advise</th>
                        </tr>
                        </thead>
                        <tbody v-if="fetch_topup">
                        <tr>
                            <td colspan="6">
                                <table-holder></table-holder>
                            </td>
                        </tr>
                        </tbody>
                        <tbody v-else>
                        <tr>
                            <td>{{ topup.amount | currency }}</td>
                            <td>{{ topup.product }}</td>
                            <td>{{ topup.agreed_rate +'%' }}</td>
                            <td>{{ topup.tenor + ' Months' }}</td>
                            <td>{{ topup.mode_of_payment }}</td>
                            <td v-if="topup.document_id">
                                <span style="margin-right: 5px;">
                                    <a target="_blank" :href="'/api/document/' + topup.document_id">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                </span>
                                <span>
                                    <a target="_blank" :href="'/api/document/' + topup.document_id">
                                        <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="bank-details">
                <button class="" @click="popupBankDetailsModal()">See our bank details here</button>
            </div>

            <div class="top-up-details-upload">
                <div class="" v-if="topup.mode_of_payment === 'Direct Bank Deposit'">

                    <!--START of upload section-->

                    <div class="form-group" v-if="!topup.document_id">
                        <el-upload
                                drag
                                :action=url
                                :headers="defaultHeaders"
                                :on-success="showUploadSuccess"
                        >
                            <!--<el-button size="small" type="" class="">Upload bank transfer form</el-button>-->
                            <i class="el-icon-upload"></i>
                            <div class="el-upload__text">Drop file here or <em>click to upload</em> proof of payment
                            </div>
                            <div class="el-upload__tip" slot="tip">image or pdf files with a size less than 500kb</div>
                        </el-upload>

                        <!--<p>Looking for our bank details? <a @click="popup()">Please find them here.</a> </p>-->
                    </div>

                    <!--END of bank transfer upload form-->
                </div>
            </div>

            <!-- Bank details modal -->
            <el-dialog class="bank_details_modal" title="OUR BANK DETAILS" :visible.sync="backDetailsModal"
                       :before-close="closeBankDetailsModal">
                <el-alert
                        type="info"
                        title="To make a transfer, kindly use any of the bank account details below"
                        show-icon>
                </el-alert>
                <br/>
                <bank-details></bank-details>
            </el-dialog>
        </div>

    </div>
</template>