<script>
    import Vue from 'vue'
    import { mapGetters } from 'vuex';
    import event from '../../../../../events'

    Vue.component('inv-table', require('../../../../../components/tables/smartTable.vue'));
    Vue.component('pagination', require('../../../../../components/tables/pagination.vue'));
    export default {
        data () {
            return {
                columns: [
                    { name: 'amount', title: 'Amount', filter: this.currencyLabel },
                    { name: 'product', title: 'Product' },
                    { name: 'agreed_rate', title: 'Rate', filter: this.rateLabel },
                    { name: 'tenor', title: 'Tenor' },
                    { name: 'mode_of_payment', title: 'Mode of Payment' },
                    { name: 'document_id', title: 'Transfer Advise', filter: this.uploadLabel, html: true }
                ],
                topupDrawer: false
            }
        },
        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient',
                suspendCallout: 'suspendCallout',
                calloutAction: 'calloutAction',
                topups_data: 'topups_data',
                topupCount: 'topupCount',
                submitSuccess: 'submitSuccess'
            }),
            url: function(){
                return '/api/investments/'+this.selectedClient.id+'/pending-topups'
            }
        },
        watch: {
            selectedClient(){
                    this.checkPageData();

            },
            submitSuccess: {
                handler: function () {
                    if(this.submitSuccess){
                        this.getTopups();
                    }
                }
            }
        },
        methods: {
            currencyLabel(value) {
                value = !value ?  0 : Math.round(value * Math.pow(10, 0)) / Math.pow(10, 0);

                let parts = value.toString().split(".");

                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");

                return parts.join(".");
            },

            uploadLabel (value) {
                return value !== null ? '<span  class="active"> Uploaded </span>' : '<span  class="active"> Not uploaded </span>';
            },

            makeTopup(){

                if(this.suspendCallout){
                    event.bus.$emit('resume_callout');
                }else {
                    // let passedProduct = {
                    //     method: 'NEW',
                    //     id: '',
                    //     name: ''
                    // };
                    // this.$store.commit('OPEN_MODAL', passedProduct);
                    this.topupDrawer = true
                }
            },

            getTopups(){
                if(this.selectedClient.id) {
                    this.$store.commit('GET_TOPUPS', this.selectedClient.id);
                }
            },

            checkPageData() {
                if (!this.selectedClient.hasSP) {
                    this.$router.push({
                        path: '/home'
                    });
                }
            },
        },
        mounted(){
            this.getTopups();
            this.checkPageData();
        }
    }
</script>
<template>
    <div class="crims-page topup-list">

        <breadcrumb>
            <h3><router-link :to="{name: 'all-investments'}" >Investments</router-link>  <span>Top-up List</span></h3>
        </breadcrumb>
        <div class="topup-list-area">
            <div class="heading">
                <div class="title">
                    <h3>Top Ups</h3>
                </div>
                <div class="details">
                    <el-button
                            type="custom-success"
                            @click="makeTopup"
                            :class="{'suspend': suspendCallout }">
                        <span v-if="suspendCallout && calloutAction == 'NEW' ">
                            Transaction Pending
                        </span>
                        <span v-else>Make Top-up</span>
                        </el-button>
                </div>
            </div>

            <div class="content">
                <div class="crims-table-area table_scroll">
                    <inv-table  :columns="columns"
                                :endpoint=" url "
                                before-table-body="true"
                                additionalRows=""
                                inline-template>
                        <div class="table-scroll">
                            <table class="table-responsive table-bordered table-scroll">
                                <thead>
                                <tr>
                                    <td v-for="column in cols">{{ column.title }}</td>
                                    <td>Actions</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="row in rows">
                                    <td v-for="column in cols">
                                        <span v-if="column.html" v-html="getRowValue(row, column)"></span>
                                        <span v-else>{{ getRowValue(row, column) }}</span>
                                    </td>
                                    <td>
                                        <router-link :to="{ name: 'investments.TopUpDetails', params: {id: row.id} }"><i class="fa fa-eye" aria-hidden="true"></i> </router-link>
                                    </td>
                                </tr>
                                <tr v-show="rows.length == 0">
                                    <td :colspan="cols.length">
                                            <span class="null-notify">
                                                Sorry, No data to display!
                                            </span>
                                    </td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                            <pagination :pagination="pagination"></pagination>
                        </div>
                    </inv-table>
                </div>
            </div>
        </div>

        <div class="drawers">
            <action-drawer title="Top-up" :visible.sync="topupDrawer">
            <new-top-up ></new-top-up>
            </action-drawer>
        </div>

    </div>
</template>