<script>
import withdrawFormMixin from './withdrawalMixins';
import verify from '../../../../verify-action'

export default {
    mixins: [ withdrawFormMixin ],

    components: {verify}
}
</script>

<template>
    <div class="withdraw">
        <div class="withdraw-contain">

            <div v-if="step=='form'">
                <el-form label-position="top" ref="withdrawForm" :model="form" :rules="rules" size="small" >

                    <div class="">
                        <el-alert
                                description="Please note that this withdrawal will be effected on maturity date"
                                title = ''
                                type="error">
                        </el-alert>
                    </div>

                    <el-form-item label="Select amount to withdraw" prop="amount_select">
                        <el-select v-model="form.amount_select" placeholder="Amount to withdraw" style="width: 100%;">
                            <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
                        </el-select>
                    </el-form-item>

                    <div v-show="form.amount_select == 'amount'">
                        <el-form-item label="Enter the amount" prop="amount">
                            <el-input-number :controls="false" style="width: 100%;" autoComplete="off" class="amount" v-model="form.amount"></el-input-number>
                        </el-form-item>
                    </div>

                    <div v-show="form.amount_select != 'principal_interest'">
                        <el-form-item label="Select the account to send the money to" prop="client_account_id">
                            <el-select v-model="form.client_account_id" placeholder="Select" style="width: 100%;">
                                <el-option
                                        v-for="account in accounts"
                                        :key="account.id"
                                        :label="account.name"
                                        :value="account.id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </div>

                    <el-form-item label="Enter the reason for withdrawal (optional)">
                        <el-input type="textarea" v-model="form.reason" placeholder="Reason..." style="width: 100%;" autoComplete="off"></el-input>
                    </el-form-item>

                    <el-form-item label="" prop="agreed_to_terms">
                        <el-checkbox v-model="form.agreed_to_terms">Click here to agree to our <a @click="dialogTableVisible = true">terms and conditions</a></el-checkbox>
                    </el-form-item>

                    <div v-if="!selectedClient.kycValidated">
                        <el-alert
                                description="Please update your KYC details to be able to make a withdrawal instruction."
                                title=''
                                type="error"
                                :closable="false">
                        </el-alert>
                    </div>

                    <br/>

                    <el-form-item>
                        <p v-if="loadingConfirm">
                            <i :class="{'fa-spinner fa-spin':loadingConfirm }" class="fa"></i> Please wait.....
                        </p>
                        <el-button type="custom-success" @click="confirm('withdrawForm')" :disabled="loadingConfirm || !selectedClient.kycValidated">Withdraw</el-button>
                        <el-button type="custom-default" @click="close">Cancel</el-button>
                    </el-form-item>

                </el-form>
            </div>

            <el-dialog title="" append-to-body :visible.sync="dialogTableVisible">
                <rollover-terms></rollover-terms>
            </el-dialog>

            <div v-if="step=='confirm'" class="withdraw-confirm">
                <div class="confirm-top-up"
                     v-loading="submitting"
                     element-loading-text="Please wait as the Withdraw information you provided is being submitted">
                    <div class="description">
                        <h2>Confirm details before submitting</h2>
                    </div>
                    <div class="description">
                        <h3>Amount</h3>
                        <p><span v-if="currency_code !== ''">{{ currency_code }}. </span> {{ withdrawalForm.amount | currency }}</p>
                    </div>
                    <div class="description">
                        <h3>Withdraw Date</h3>
                        <p>{{ investment.maturity_date | date }}</p>
                    </div>
                    <div class="description">
                        <h3>Bank Name</h3>
                        <p>{{ bankDetails.bank  }}</p>
                    </div>
                    <div class="description">
                        <h3>Account Number</h3>
                        <p>{{ bankDetails.account_number  }}</p>
                    </div>
                    <div class="description last">

                        <el-button type="custom-success" @click="confirmTransaction" >Confirm Transaction</el-button>
                        <el-button type="custom-default" @click="close">Cancel</el-button>
                    </div>
                </div>
            </div>

            <div v-if="step=='verify'">
                <div class="confirm-top-up">
                    <verify v-on:tokenValidated="transValidated"></verify>
                </div>
            </div>

            <div v-if="step=='success'" class="withdraw-success">
                <div class="withdrawSuccesful">
                    <div class="message">
                        <h3>Withdrawal Information was submitted successfully. We will notify you after 24 hours and update the details accordingly. Thank you.  </h3>
                    </div>
                    <div class="icon">
                        <h1><i class="fa fa-check-circle" aria-hidden="true"></i></h1>
                    </div>
                </div>
            </div>


        </div>
    </div>
</template>


<style scoped>

</style>