.admin_breadcrumb {
  background: transparent;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;

  &__title {
    h5 {
      color: #303030;
      font-size: 20px;
      font-weight: 500;
      line-height: 18px;
    }
  }

  &__navigation {
    padding: 5px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .breadcrumb_home {
      a {
        color: #303030;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
        text-decoration: none;

      }
    }

    .menu_sub {
      color: #303030;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      text-decoration: none;

      a {
        color: #303030;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-decoration: none;


        &::before {
          content: '/';
          padding: 0 10px;
          font-size: 15px;

        }

        &.current {
          opacity: .9;
        }
      }
    }
  }
}