<style scoped>
    .pagination{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .pagination li{
        padding: 0;
    }
    .pagination-container {
        padding: 5px 40px;
    }
</style>
<script>
    import Vue from 'vue';
    import event from '../../events';

    const bus = event.bus;

    export default {
        props: {
            pagination: {
                required: true,
                default: function () {
                    return {}
                }
            }
        },
        methods: {
            goToPage(number){
                bus.$emit('go-to-page', number)
            }
        }
    }

</script>
<template>
    <div class="pagination-container">
        <ul class="pagination" role="navigation">
            <li class="pagination-previous">
                <a  @click="goToPage(pagination.current - 1)" :class="{disabled: pagination.current == 1 }">Previous</a>
            </li>
            <li>
                <a>Page {{ pagination.current }} of {{ pagination.number_of_pages }}</a>
            </li>
            <li class="pagination-next">
                <a @click="goToPage(pagination.current + 1)" :class="{disabled: pagination.current == pagination.number_of_pages }">Next</a>
            </li>
        </ul>
    </div>
</template>