<style scoped>

</style>
<script>
    import Vue from 'vue';
    import events from '../../events';
    import * as types from '../../store/mutation-types';
    Vue.component('pagination', require('./pagination.vue'));
    Vue.component('tablePlaceHolderShimmer', require('../../crims/utils/_table_loader.vue'));

    const bus = events.bus;

    export default {
        props: ['endpoint', 'columns', 'beforeTableBody', 'beforeBody', 'additionalRows'],
        data(){
            return {
                tableState: {
                        search: {},
                        sort : { column: '', direction: '' },
                        pagination : { page: 1, perPage: 10}
                    },
                endPointData: [],
                endPointMeta: {},
                bus: bus,
                fetching: false,
            }
        },
        route: {
            data: function (transition) {
                this.fetchEndPoint(transition);
            }
        },
        computed: {
            cols: function(){
                if(this.columns.length >= 1) return this.columns;
                return [];
            },
            rows: function () {
                return this.endPointData;
            },
            pagination: function () {
                if(this.endPointMeta.hasOwnProperty('pagination'))
                {
                    return this.endPointMeta.pagination
                }
                return {};
            }
        },
        watch:{
            endpoint(){
                this.fetchEndPoint();
            },
            pagination: {
                handler: function () {
                }
            }
        },
        methods: {
            resolve: function (path, obj) {
                return path.split('.').reduce(function(prev, curr) {
                    return prev ? prev[curr] : undefined
                }, obj || self)
            },
            getMeta: function (path) {
                try{
                    return this.resolve(path, this.endPointMeta);
                }catch (err){}

                return {};
            },
            getRowValue: function(row, column){

                if(column.filter) return column.filter(this.resolve(column.name, row));

                return this.resolve(column.name, row);
            },
            fetchEndPoint: function(transition){
                this.fetching = true;
                this.$http.get(this.endpoint, {params: {tableState: this.tableState}})
                    .then(function (response) {
                        this.fetching = false;
                        this.endPointData =  response.data.data;
                        this.endPointMeta =  response.data.meta;
                    }, function () {
                        this.fetching = false;
                        //raise event
                    });

            },
            goToPage: function (number){
                if(number > this.pagination.number_of_pages || number <= 0) return;

                this.tableState.pagination.page = number;
                this.fetchEndPoint();
            },
            viewFile (uuid) {
                this.$store.commit(types.VIEW_DOCUMENT, uuid);

            },
            details(row){
                events.bus.$emit('go-to-details', row);
            }
        },
        mounted(){
            const v = this;
            this.fetchEndPoint();

            bus.$on('st-search', function (field, value) {
                if(field === undefined) field = 'default';

                v.tableState.search[field] = value;
                v.fetchEndPoint();
            });

            bus.$on('go-to-page', function (number) {
                v.goToPage(number)
            });
        }
    }

    Vue.directive('search', function (el, binding) {
        $(el).on('input', function () {
            bus.$emit('st-search', binding.value, $(this).val())
        });
    });
</script>

<template>

    <div >
            <div v-if="beforeTableBody">
                <slot name="beforeTableBody"></slot>
            </div>
            <div>
                <table>
                    <thead>
                    <tr>
                        <td v-for="column in cols">{{ column.title }}</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="beforeBody">
                        <td colspan="100%"><slot name="beforeBody"></slot></td>
                    </tr>

                    <tr v-for="row in rows">
                        <td v-for="column in cols">
                            <span v-if="column.html" v-html="getRowValue(row, column)"></span>
                            <span v-else>{{ getRowValue(row, column) }}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <pagination :pagination="pagination"></pagination>
            </div>
        </div>
</template>

