<template>
    <div class="crims-table-area__tablefoot">
        <slot :info="tablePagination"></slot>
    </div>
</template>

<script>
    export default {
        name: "vuetable_footer",
        data: ()=> ({
            tablePagination: {
            }
        }),
        methods: {
            setPaginationData (tablePagination) {
                this.tablePagination = tablePagination;
            },
        }
    }
</script>

<style scoped>

</style>