<script>
    import {mapGetters} from 'vuex';
    import {Message} from 'element-ui';
    import axios from 'axios';
    import event from '../../../../events';

    export default {
        name: "add-loyalty-voucher",

        data() {
            return {
                form: {},
                extensions: 'image/pdf',
                url: '/api/clients/loyalty/vouchers/add',
                submittingForm: false,
                formErrors: [],
                fetchingVoucher: false,
                confirmModalDelete: false
            }
        },
        computed: {
            ...mapGetters({
                defaultHeaders: 'defaultHeaders',
            })
        },
        methods: {
            closeModal(event){
                this.$emit('clicked', false)
            },
            errorOnUpload() {},

            showUploadSuccess() {},

            uploadVoucher() {
                if (!this.validateForm()) {
                    Message.warning('Complete the all the required(*) form inputs and proceed');
                    return;
                }

                if (this.$refs.upload.uploadFiles[0] && this.form !== {}) {
                    setTimeout(function(){ this.submittingForm = true }, 3000);

                    this.$refs.upload.submit();
                } else {
                    this.submitForm();
                }
            },

            confirmDelete() {
                axios.post('/api/clients/loyalty/voucher/' + this.voucherId + '/remove/')
                    .then(({data}) => {
                        if (data.deleted) {
                            Message.success('Loyalty reward voucher deleted successfully');
                        } else {
                            Message.warning('Could not delete the Voucher');
                        }
                    }, () => {
                        Message.warning('Could not delete the Voucher');
                    });
            },

            submitForm() {
                this.submittingForm = true;

                if (this.voucherId) {
                    this.form.id = this.voucherId;
                }

                axios.post('/api/clients/loyalty/vouchers/add', this.form)
                    .then(({data}) => {
                        if (data.status === 422) {
                            this.formErrors = data.errors;
                            this.submittingForm = false;
                            Message.warning('There are errors in the form.');
                        } else if (data.status === 202) {
                            if (this.voucherId) {
                                this.submittingForm = false;
                                this.form = {};
                                Message.success('Loyalty reward voucher edited successfully');
                                location.reload();
                            } else {
                                this.submittingForm = false;
                                this.form = {};
                                Message.success('Loyalty reward voucher added successfully');
                                location.reload();
                            }
                        }

                    }, () => {
                        this.form = {};
                        this.submittingForm = false;
                    })
            },

            validateForm: function () {
                if (this.form.name == null) {
                    return false;
                } else if (this.form.value == null) {
                    return false;
                } else if (this.form.number == null || this.form.number <= 0) {
                    return false;
                }

                return true;
            },

            fetchVoucher() {
                if (this.voucherId) {
                    this.fetchingVoucher = true;

                    axios.get('/api/clients/loyalty/voucher/' + this.voucherId + '/details/')
                        .then(({data}) => {
                            this.form = data.details;
                            this.fetchingVoucher = false;
                        }, () => {
                            this.fetchingVoucher = false;
                        });
                }
            }
        },

        mounted() {
            this.fetchVoucher();
        }
    }
</script>

<template>
    <div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <p><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Reward Voucher </p>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12" v-if="fetchingVoucher">
                        <i class="fa fa-spinner fa-spin"></i> Fetching Voucher Details
                    </div>
                    <div class="col-md-12" v-else>
                        <div class="form-group">
                            <label for="name" class="required-field"> Voucher Name </label>
                            <input type="text"
                                   id="name"
                                   class="form-control"
                                   placeholder="Shopping Voucher"
                                   v-model="form.name">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="value" class="required-field"> Voucher Value </label>
                                    <input type="number"
                                           id="value"
                                           class="form-control"
                                           placeholder="3000"
                                           v-model="form.value">
                                </div>
                                <div class="col-md-6">
                                    <label for="number" class="required-field"> Available Vouchers </label>
                                    <input type="number"
                                           id="number"
                                           class="form-control"
                                           placeholder="10"
                                           v-model="form.number">
                                </div>
                            </div>

                            <label for="document"> Voucher Upload (optional) </label>
                            <el-upload
                                    class="upload-demo"
                                    drag
                                    id="document"
                                    :action=url
                                    ref="upload"
                                    :data=form
                                    :headers="defaultHeaders"
                                    :on-error="errorOnUpload"
                                    :on-success="showUploadSuccess"
                                    :accept=extensions
                                    :thumbnail-mode="false"
                                    :auto-upload="false">
                            </el-upload>

                            <br>
                            <el-button type="success" size="mini" @click="uploadVoucher">
                                <i class="el-icon-loading" v-if="submittingForm"></i>
                                <i class="el-icon-circle-plus" v-else></i> Submit
                            </el-button>
                            <el-button type="default" size="mini" @click="closeModal" class="el-icon-close">
                                Close
                            </el-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
    .el-upload {
        width: 100% !important;
    }

    .el-upload-dragger {
        width: 100% !important;
        height: 100px;
    }
</style>

