<script>
    import axios from 'axios';
    import { Message } from 'element-ui';

    export default {
        data() {
            return {
                loading: false,
                url: '',
                fundId: null,
                formErrors: {},
                item: {
                    id: null,
                    date: null,
                    amount: null,
                    dependent: false
                },
                types: [],
                parameters: [],
                chargeType: '',
                chargeFrequency: '',
                feeChargeTypes: [],
                feeChargeFrequencies: [],
                fetching: false,
                stages: [],
                calculationTypes: [],
                fee_charge_type_id: '',
                chargeType: ''
            }
        },

        watch: {
            fee_charge_type_id: {
                handler: function () {
                    this.item.fee_charge_type_id = this.fee_charge_type_id;

                    let chargeType = this.feeChargeTypes.filter( (type)=>{
                        return (type.value == this.fee_charge_type_id);
                    })['0'].label;

                    this.chargeType = chargeType;
                }
            }
        },

        created: function() {
            this.fundId = this.$route.params.fid;

            this.url = `/api/unitization/unit-funds/${this.fundId}/unit-fund-fees`;

            this.getFeeTypes();
            this.getFeeParameters();

            this.stages = [
                { value: 'initial', name: 'Initial'},
                { value: 'terminal', name: 'Terminal'},
                { value: 'switch', name: 'Switch'},
            ];

            this.calculationTypes = [
                { value: 0, name: 'Percentage'},
                { value: 1, name: 'Amount'},
            ];
        },

        methods: {
            getFeeTypes: function() {
                this.fetching = true;
                axios.get('/api/unitization/unit-fund-fee-types-list/partials')
                    .then(({ data }) => {
                        if (data.status == 200) {
                            this.types = data.typesList;
                            this.feeChargeTypes = data.feeChargeTypes;
                            this.feeChargeFrequencies = data.feeChargeFrequencies;
                        }
                        this.fetching = false;
                    }, (response) => {
                        flash('Oops! Something went wrong', 'danger');
                        this.fetching = false;
                    });
            },

            getFeeParameters: function() {

                axios.get('/api/unitization/unit-fund-fee-parameters-list')
                    .then((response) => {
                        if (response.status == 200) {

                            let data = response.data;

                            if (data.fetched) {
                                this.$set(this, 'parameters', data.data);
                            }
                            else {
                                flash('Could not fetch list of unit fund fee parameters', 'danger');
                            }
                        }
                    }, (response) => {
                        flash('Oops! Something went wrong', 'danger');
                    });
            },

            saveUnitFundFee: function(item) {
                this.loading = true;
                item.date = moment(item.date).format('YYYY-MM-DD');

                let input = item;

                axios.post(this.url, input)
                    .then((response) => {
                        this.loading = false;

                        let data = response.data;

                        if(response.status == 202) {
                            this.success();
                        }
                        else if(response.data.status == 422) {
                            this.throwValidationError(data);
                        }
                    }, (response) => {
                        this.loading = false;
                        Message.warning({ message: 'Oops! Something went wrong'});
                        this.formErrors = response.data;
                    });
            },

            success: function() {
                Message.success({ message: 'Request to create the unit fund fee has been saved for approval'});
                this.$router.push({ name: 'unit-fund-fees.index', params: { fid: this.fundId } });
            },

            throwValidationError: function(data) {
                Message.warning({ message: 'Unit fund fee failed to save'});
                this.formErrors = data.errors;
            }
        }
    }
</script>
<template id="id-of-template">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel-dashboard">
            <h4>
                <div class="btn-group pull-right">
                    <router-link v-bind:to="{ name: 'unit-fund-fees.index', params: { fid: fundId } }" class="btn btn-primary"><i class="fa fa-long-arrow-left"></i> Back to Fund Fees</router-link>
                    <router-link v-bind:to="{ name: 'unit-fund-fee-types.new' }" class="btn btn-default"><i class="fa fa-plus"></i> Add Fee Type </router-link>
                </div>
            </h4>
            <br>
            <br>
            <br>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <p><i class="fa fa-info"></i> Create Unit Fund Fee</p>
                </div>
                <div class="panel-body">
                    <div class="row" style="padding: 10px">
                        <form v-on:submit.prevent="saveUnitFundFee(item)">
                            <div class="form-group">
                                <div v-if="!fetching">
                                    <label>Fee Type </label>
                                    <select class="form-control" v-model="item.unit_fund_fee_type_id">
                                        <option v-for="type in types" v-bind:value="type.value" v-text="type.label"></option>
                                    </select>
                                    <ul v-if="formErrors['unit_fund_fee_type_id']" class="text-danger">
                                        <li v-for="message in formErrors['unit_fund_fee_type_id']" v-text="message"></li>
                                    </ul>
                                </div>
                                <i class="fa fa-spinner fa-spin" v-if="fetching"></i>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>Date </label>
                                <div class="input-group">
                                    <el-date-picker v-model="item.date" type="date" placeholder="Date..."></el-date-picker>
                                </div>
                                <ul v-if="formErrors['date']" class="text-danger">
                                    <li v-for="message in formErrors['date']" v-text="message"></li>
                                </ul>
                            </div>
                            <br/>
                            <div class="form-group">
                                <div v-if="!fetching">
                                    <label for="">How should the fee be charged?</label>
                                    <div class="input-group">
                                        <el-radio-group v-model="fee_charge_type_id">
                                            <el-radio v-for="type in feeChargeTypes" :label="type.value" :key="type.value">{{ type.label }}</el-radio>
                                        </el-radio-group>
                                    </div>
                                    <ul v-if="formErrors['fee_charge_type_id']" class="text-danger">
                                        <li v-for="message in formErrors['fee_charge_type_id']" v-text="message"></li>
                                    </ul>
                                </div>
                                <i class="fa fa-spinner fa-spin" v-if="fetching"></i>
                            </div>
                            <div class="form-group" v-show="chargeType == 'Once'">
                                <div v-if="!fetching">
                                    <label for="">Charged at?</label>
                                    <div class="input-group">
                                        <el-select v-model="item.charged_at" placeholder="Select" style="width: 100%;">
                                            <el-option
                                                    v-for="stage in stages"
                                                    :key="stage.value"
                                                    :label="stage.name"
                                                    :value="stage.value">
                                            </el-option>
                                        </el-select>
                                    </div>
                                    <ul v-if="formErrors['charged_at']" class="text-danger">
                                        <li v-for="message in formErrors['charged_at']" v-text="message"></li>
                                    </ul>
                                </div>
                                <i class="fa fa-spinner fa-spin" v-if="fetching"></i>
                            </div>
                            <br>
                            <div class="form-group" v-show="chargeType == 'Recurrent'">
                                <div v-if="!fetching">
                                    <label for="">How often should the fee be charged?</label>
                                    <div class="input-group">
                                        <el-radio-group v-model="item.fee_charge_frequency_id">
                                            <el-radio v-for="frequency in feeChargeFrequencies" :label="frequency.value" :key="frequency.value"> {{ frequency.label }} </el-radio>
                                        </el-radio-group>
                                    </div>
                                    <ul v-if="formErrors['fee_charge_frequency_id']" class="text-danger">
                                        <li v-for="message in formErrors['fee_charge_frequency_id']" v-text="message"></li>
                                    </ul>
                                </div>
                                <i class="fa fa-spinner fa-spin" v-if="fetching"></i>
                            </div>
                            <br>
                            <div class="form-group">
                                <div class="input-group">
                                    <el-checkbox v-model="item.dependent"> Dependent</el-checkbox>
                                </div>
                                <ul v-if="formErrors['dependent']" class="text-danger">
                                    <li v-for="message in formErrors['dependent']" v-text="message"></li>
                                </ul>
                                <br/>
                            </div>
                            <div class="form-group" v-show="item.dependent">
                                <label>Fee Parameter </label>
                                <el-select v-model="item.unit_fund_fee_parameter_id" placeholder="Select" style="width: 100%;">
                                    <el-option
                                            v-for="parameter in parameters"
                                            :key="parameter.id"
                                            :label="parameter.name"
                                            :value="parameter.id">
                                    </el-option>
                                </el-select>
                                <ul v-if="formErrors['unit_fund_fee_parameter_id']" class="text-danger">
                                    <li v-for="message in formErrors['unit_fund_fee_parameter_id']" v-text="message"></li>
                                </ul>
                            </div>
                            <br/>
                            <div class="form-group" v-show="item.dependent">
                                <label>Fee Calculation Type </label>
                                <el-select v-model="item.is_amount" placeholder="Select" style="width: 100%;">
                                    <el-option
                                            v-for="parameter in calculationTypes"
                                            :key="parameter.value"
                                            :label="parameter.name"
                                            :value="parameter.value">
                                    </el-option>
                                </el-select>
                                <ul v-if="formErrors['is_amount']" class="text-danger">
                                    <li v-for="message in formErrors['is_amount']" v-text="message"></li>
                                </ul>
                            </div>
                            <br/>
                            <div class="form-group" v-show="item.dependent">
                                <label>Fee Value </label>
                                <input type="number" class="form-control" step="0.001" placeholder="Value..." v-model="item.percentage">
                                <ul v-if="formErrors['percentage']" class="text-danger">
                                    <li v-for="message in formErrors['percentage']" v-text="message"></li>
                                </ul>
                            </div>
                            <div class="form-group" v-show="!item.dependent">
                                <label>Amount </label>
                                <input type="number" class="form-control" step="0.001" placeholder="Amount..." v-model="item.amount">
                                <ul v-if="formErrors['amount']" class="text-danger">
                                    <li v-for="message in formErrors['amount']" v-text="message"></li>
                                </ul>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Save <i class="fa fa-spinner fa-spin" v-if="loading"></i> </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>