<script>
    import moment from 'moment';
    import { Message } from 'element-ui';

    export default {

        data() {
            return {
                loading: false,
                fundId: null,
                item: {},
                addPercentage: false,
                form: {},
                date: '',
                parameters: [],
                submitting: false,
                formErrors: {}
            }
        },

        watch: {
            date:  {
                handler: function () {
                    this.form.date = moment(this.date).format('YYYY-MM-DD');
                }
            }
        },

        methods: {
            submit: function () {
                this.form.unit_fund_fee_id = this.item.id;

                this.submitting = true;
                axios.post(`/api/unit-fund/fee/${this.item.id}/percentage`, this.form)
                    .then( ({ data }) => {
                        if(data.status === 422) {
                            Message.error({ message: 'There are missig fields in the form.'});
                            this.formErrors = data.errors;
                        } else if(data.status === 422) {
                            this.addPercentage = false;
                            Message.success({ message: 'New unit fund fee percentage has been added for approval.'});
                        }
                        this.submitting = false;
                    }, () => {
                        this.submitting = false;
                        Message.warning({ message: 'Failed to add fee percentage.'});
                    });
            },

            getUnitFundFee: function() {
                axios.get(`/api/unitization/unit-funds/${this.fundId}/unit-fund-fees/${this.$route.params.id}`)
                    .then(({ data }) => {

                        this.item = data;

                    }, (response) => {
                        flash('Oops! Something went wrong', 'danger');
                        this.$router.push({ name: 'unit-fund-fees.index', params: { fid: this.fundId } });
                    });
            },

            getFeeParameters: function() {

                axios.get('/api/unitization/unit-fund-fee-parameters-list')
                    .then(({ data }) => {

                        this.parameters = data.data;

                    }, (response) => {
                        flash('Oops! Something went wrong', 'danger');
                    });
            },
        },

        created: function() {
            this.fundId = this.$route.params.fid;
            this.getFeeParameters();
            this.getUnitFundFee();
        },
    }
</script>

<template id="id-of-template" v-cloak>
    <div class="col-md-10 col-md-offset-1">
        <div class="panel-dashboard">
            <h3>
                Unit Fund Fee Details
                <div class="btn-group pull-right">
                    <router-link v-bind:to="{ name: 'unit-fund-fees.index', params: { fid: fundId } }" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Back to Fund Fee</router-link>
                    <router-link v-bind:to="{ name: 'unit-fund-fees.edit', params: { fid: fundId, id: item.id } }" class="btn btn-default"><i class="fa fa-pencil-square-o"></i> Edit Fund Fee </router-link>
                </div>
            </h3>
            <table class = "table table-hover">
                <tbody>
                    <tr>
                        <th width="30%">Fund</th>
                        <td colspan="3">{{ item.fund }}</td>
                    </tr>
                    <tr>
                        <th>Name of Fee</th>
                        <td colspan="3">{{ item.type }}</td>
                    </tr>
                    <tr>
                        <th>Date</th>
                        <td colspan="3">{{ item.date | formatDate }}</td>
                    </tr>
                    <tr>
                        <th>Dependent</th>
                        <td colspan="3">{{ item.dependent }}</td>
                    </tr>

                    <tr v-if="item.percentages.length > 0">
                        <th colspan="3"></th>
                    </tr>

                    <tr v-if="item.percentages.length > 0">
                        <th>Percentages</th>
                        <th colspan="3">
                            <el-popover
                                    placement="right"
                                    width="500"
                                    trigger="click"
                                    v-model="addPercentage">
                                <div>
                                    <div class="">
                                        <h4>Add Fee Percentage</h4>
                                    </div>
                                    <hr>
                                    <div class="">
                                        <div class="">
                                            <el-input-number
                                                    v-model="form.percentage"
                                                    :precision="2"
                                                    :max="100"
                                                    width="100%">
                                            </el-input-number>
                                            <ul v-if="formErrors['percentage']" class="text-danger">
                                                <li v-for="message in formErrors['percentage']" v-text="message"></li>
                                            </ul>
                                            <br>
                                        </div>
                                        <br>

                                        <div class="">
                                            <el-select v-model="form.unit_fund_fee_parameter_id" placeholder="Select">
                                                <el-option
                                                        v-for="param in parameters"
                                                        :key="param.id"
                                                        :label="param.name"
                                                        :value="param.id">
                                                </el-option>
                                            </el-select>
                                            <ul v-if="formErrors['unit_fund_fee_parameter_id']" class="text-danger">
                                                <li v-for="message in formErrors['unit_fund_fee_parameter_id']" v-text="message"></li>
                                            </ul>
                                            <br>
                                        </div>

                                        <br>

                                        <div class="">
                                            <el-date-picker
                                                    v-model="date"
                                                    type="date"
                                                    placeholder="Pick a date"
                                                    width="100%">
                                            </el-date-picker>
                                            <ul v-if="formErrors['date']" class="text-danger">
                                                <li v-for="message in formErrors['date']" v-text="message"></li>
                                            </ul>
                                            <br>
                                        </div>
                                        <br>
                                    </div>
                                    <hr>
                                    <div class="">
                                        <el-button type="success" size="mini" slot="reference" @click="submit">
                                            <i class="el-icon-loading" v-if="submitting"></i>
                                            <i class="el-icon-plus" v-else></i>
                                            Submit
                                        </el-button>

                                    </div>
                                </div>
                                <el-button slot="reference" size="mini" > <i class="el-icon-plus"></i> new</el-button>
                            </el-popover>
                        </th>
                    </tr>

                    <tr v-if="item.percentages.length > 0">
                        <th>Date</th>
                        <th>Type</th>
                        <th>Value</th>
                        <th>Parameter</th>
                    </tr>

                    <tr v-for="per in item.percentages">
                        <td>{{ per.date }}</td>
                        <td v-if="per.is_amount">Amount</td>
                        <td v-if="!per.is_amount">Percentage</td>
                        <td v-if="per.is_amount">{{ per.percentage | currency }}</td>
                        <td v-if="!per.is_amount">{{ per.percentage }}%</td>
                        <td>{{ per.parameter }}</td>
                    </tr>

                    <tr v-if="item.amount">
                        <th>Fee Amount </th>
                        <td colspan="2"> {{ item.amount | currency }}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</template>