//@import "../utils/spinner";
@import "../utils/scrollbar";
//@import "../utils/custom_tabs";
.clients {
  padding: 20px 20px;
  .client-area {
    padding: 10px 10px 100px 10px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ededed;
    background-color: #ffffff;
    min-height: 70%;
    //overflow-y: scroll;

    .head {
      border-bottom: 1px solid #f1f1f1;
      margin: 5px -10px;
      padding: 0 10px;
      display: flex;

      .head-left {
        width: 70%;
        display: flex;

        .filter {
          padding-right: 15px;
        }
      }

      .head-right {
        width: 30%;
        .el-form {
          float: right;
        }
      }


      div {

        label {
          color: #4a494a;
          font-size: 14px;
          font-weight: 600;
        }
        .el-input, .el-input--prefix {
          &.is-focus {
            .el-input__inner {
              border: 1.5px solid #d5d5d5;
              background-color: #ffffff;
            }
          }

          .el-input__inner {
            border: 1px solid #d5d5d5;
            background-color: #ffffff;
            padding: 8px 36px;
            border-radius: 0;
            color: #4a494a;
            font-size: 14px;
            font-weight: 400;
            max-height: 30px;
          }
          .el-input__icon {
            height: 70%;
            line-height: 0;
          }
        }
      }

      .el-form-item {
        margin-bottom: 4px;
      }

      h3 {
        font-size: 26px;
        color: #4a494a;
        font-family: "Proxima Nova", sans-serif;
        font-weight: 400;
        span {
          color: #006A5A;
        }
      }
    }

    .profile-area {
      display: flex;
      flex-wrap: wrap;

      .profiles {
        margin: 20px 20px 20px 0;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
        border: 1px solid #caced5;
        background-color: #ffffff;
        width: 45%;
        display: flex;
        cursor: pointer;
        transition: 1s;

        &:hover, &:focus{
          -webkit-box-shadow: -1px 0px 18px -2px rgba(0,0,0,0.75);
          -moz-box-shadow: -1px 0px 18px -2px rgba(0,0,0,0.75);
          box-shadow: -1px 0px 18px -2px rgba(0,0,0,0.75);
        }

        .avatar {
          width: 15%;
          top: 20%;
          padding: 15px;
        }

        .details {
          width: 77%;

          div {
            display: flex;
            padding: 10px 5px;

            object {
                &.title {
                        color: #707070;
                        font-size: 13px;
                        font-weight: 500;
                        line-height: 13px;
                        padding: 5px 5px;
                        text-align: left;
                }

              &.info {
                      color: #4a494a;
                      font-size: 12px;
                      font-weight: 600;
                      padding: 5px 5px;
                      line-height: 12px;
                      margin-left: 30px;
              }
            }
          }

          //table {
          //
          //  tr {
          //    padding: 10px;
          //    th {
          //      color: #707070;
          //      font-size: 13px;
          //      font-weight: 500;
          //      line-height: 13px;
          //      padding: 5px 5px;
          //      text-align: left;
          //    }
          //
          //    td {
          //      color: #4a494a;
          //      font-family: "Proxima Nova";
          //      font-size: 12px;
          //      font-weight: 600;
          //      padding: 5px 5px;
          //      line-height: 12px;
          //    }
          //  }
          //}
        }

        .action {
          width: 8%;
          padding-top: 5%;

          span {
            cursor: pointer;
            color: #006a5b;
            i {
              color: #006a5b;
              font-size: 18px;
              font-weight: 400;
              line-height: 13px;
              padding-top: 5px;
            }
          }
        }


      }
    }

    .portfolio-heading {
      padding: 7px 5px;
      h3 {
        font-size: 20px;
        color: #4a494a;
        font-family: "Proxima Nova", sans-serif;
        font-weight: 400;
      }
      border-bottom: 1px solid #eeeeee;
    }

    .client-details {
      padding: 10px;
      border: 1px solid #eeeeee;
      margin-top: 10px;
      display: flex;
      .profile {
        width: 20%;
        padding: 5px 10px;
        margin-right: 25px;
      }

      .details {
        width: 80%;
        table {
          text-align: left;

          tr{
            margin: 10px;
            th {
              text-align: left;
              font-size: 12px;
              font-weight: 400;
              padding: 5px;
            }
            td {
              font-size: 12px;
              font-weight: 600;
              color: #4a494a;
            }
          }
        }

        .view-statements {
          a {
            color: #006a5b;
            font-family: "Proxima Nova";
            font-size: 16px;
            font-weight: 500;
            line-height: 25px;
          }
          width: 100%;
          border-bottom: 1px solid #006a5b;
        }
      }

    }

    .investment-details {
      padding: 10px 10px;

      .crims-table-area {
        //border: 1px solid #eeeeee;
        width: 100%;
        overflow-x: scroll;

        .el-tabs  {
          .el-tabs__header {
            padding: 0;
            .el-tabs__nav-wrap {
              .el-tabs__nav-scroll {
                .el-tabs__nav {

                  .el-tabs__active-bar {
                    margin: 0 10px;
                    background: rgba(162, 212, 94, 0.2);
                  }

                  .el-tabs__item {
                    padding: 0 10px;
                    &:hover {
                      color: #a2d45f;
                    }
                    &:focus {
                      color: #a2d45f;
                    }
                    &.is-active{
                      background: rgba(162, 212, 94, 0.2);
                      color: #4a494a;
                      padding: 0 10px;
                      font-weight: 600;
                    }
                  }
                }
              }
            }
          }
        }


      }

    }
  }
}

@media screen and (max-width: 868px){
  .clients {
    .client-area {
      .head {
        display: block;
        .head-left {
          width: 100%;
          .filter {
            width:100%;
          }
        }
        .head-right {
          width: 100%;
        }
      }

      .profile-area {
        .profiles {
          width: 100%;
        }

      }
    }
      }
    }

@media screen and (max-width: 640px){
  .clients {
    .client-area {
      .head {
        display: block;
        .head-left {
          width: 100%;
          .filter {
            width:100%;
          }
        }
        .head-right {
          width: 100%;
        }
      }

      .profile-area {
        .profiles {
          width: 100%;
          flex-wrap: wrap;

          .action {
            width: 100%;
            text-align: center;
          }
        }


      }
    }
  }
}
