@import "../utils/spinner";
@mixin head {
    background: #eeeeee;
    padding: 5px 5px 2px 5px;
    h3 {
      color: #006A5A;
      font-size: 16px;

      span{
        font-weight: 600;
      }
    }

}
.commisions {
  padding: 20px 20px;

  .commission_head {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;


    .el-form {
      width: 70%;
      .el-select {
        .el-input {
          &__inner {
            border: none;
            border-radius: 0;

            &:focus {
              border: none;
              border-radius: 0;
            }
          }
        }
      }
    }
  }


  .chats-area {
    padding: 10px 10px 10px 10px ;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ededed;
    background-color: #ffffff;

    .page_head {
      padding: 10px 20px 0 20px;
    }

    .heading {
      h5 {
        font-size: 14px;
        color: #4a494a;
        font-family: "Proxima Nova";
        font-weight: 400;

        span {
          font-weight: 800;
          text-transform: uppercase;
        }
      }
    }

    .chat-box-area {
      padding: 20px 20px 5px 20px;
      border-top: 1px solid #eef;
      display: flex;
      justify-content: space-between;
    }

    .chat-box {
      margin: 0 5px -3px 5px;
      display: flex;
      flex-direction: column;
      &.no-foot {
        margin-bottom: -10px;
        .chat {
          border-bottom: 1px solid #eeeeee;
          min-height: 83%;
          max-height: 83%;
          width: 100%;
          padding: 0;
        }
        #chart-2 {
          height: 0 !important;

          canvas {
            max-height: 80% !important;
            max-width:  80% !important;
          }

        }
      }

      &.chat-table {
        margin-bottom: -10px;
        .chat {
          min-height: 83%;
          max-height: 83%;
          border-bottom: 1px solid #eeeeee;
          //overflow-y: scroll;
          padding: 0;
        }
      }
      .head {
        background: #eeeeee;
        padding: 10px 10px 5px 10px;
        h3 {
          font-size: 16px;
          font-weight: 400;
          color: #006A5A;
        }
      }

      .chat {
        background-color: #ffffff;
        padding: 15px 15px;
        border-right: 1px solid #eeeeee;
        border-left: 1px solid #eeeeee;
        flex: 1;
        &__stats {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        .chat-table {
          margin-bottom: -10px;
        }

        .vue-chart {
          max-height: 190px;

          .chat-area {
            position: relative;
            width: 100%;
            svg {
              max-height: 190px;
              path {
                max-height: 190px;
              }
            }
          }

          .description {
            width: 30%;
            padding-left: 10px;

          }

        }
        #chart-1 {
          height: auto !important;
        }

        .date {
          h3 {
            font-size: 16px;
            color: #4a494a;
            font-family: "Proxima Nova";
            font-weight: 800;
            span {
              color: #707070;
              font-family: "Proxima Nova";
              font-size: 14px;
              font-weight: 400;
            }
          }
        }

        .total {
          h3 {
            font-family: "Proxima Nova";
            font-weight: 600;
            font-size: 34px;
            color: #006B5B;
          }
        }

        .data {
          display: flex;
          .days {
            width: 30%;
            float: left;
            p {
              color: #707070;
              font-family: "Proxima Nova", sans-serif;
              font-size: 12px;
              font-weight: 400;
            }
          }

          .change {
            width: 70%;
            float: right;
            text-align: right;
            .commission-rate {
              text-align: right;
              font-weight: bold;
              font-size: 24px;
              color: #4990E2;
            }
          }
        }
      }

      .foot {
        background: #eeeeee;
        padding: 10px 10px 5px 10px;
        flex: 1;
        max-height: 50px;

        &::after {
          clear: both;
        }
      }
    }
  }

  .commision-table-area {
    padding: 20px;
    border-top: 1px solid #eef;
    .commision-table {
      width: 100%;
      //overflow-x: scroll;

      .c-table {
        thead {
          background: #eeeeee;
          font-size: 12px;
          font-weight: 400;
          color: #006A5A;

          th {
            width: auto;
          }
        }

        tbody {
          tr{
            &:nth-of-type(even) {
              background: #eeeeee;
            }
            td {
              font-size: 12px;
            }
          }
        }
      }
    }
  }




  .commision-product {
    padding: 10px 10px 100px 10px ;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ededed;
    background-color: #ffffff;
    min-height: 70%;
    //overflow-y: scroll;

    .head {
      padding: 5px 0;
      h3 {
        font-size: 26px;
        color: #4a494a;
        font-family: "Proxima Nova", sans-serif;
        font-weight: 400;
        span {
          color: #006A5A;
        }
      }


      .filter-overrides {
        position: absolute;
        opacity: 0;

        & + label {
          position: relative;
          cursor: pointer;
          padding: 0;
        }

        & + label:before {
          content: '';
          margin-right: 10px;
          display: inline-block;
          vertical-align: text-top;
          width: 20px;
          height: 20px;
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.32);
          background: white;
        }

        &:hover + label:before {
          background: #a2d45f;
        }

        &:focus + label:before {
          box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
        }

        &:checked + label:before {
          background: #006a5b;
        }

        &:checked + label:after {
          content: '';
          position: absolute;
          left: 5px;
          top: 9px;
          background: white;
          width: 2px;
          height: 2px;
          box-shadow:
                  2px 0 0 white,
                  4px 0 0 white,
                  4px -2px 0 white,
                  4px -4px 0 white,
                  4px -6px 0 white,
                  4px -8px 0 white;
          transform: rotate(45deg);
        }

      }
    }

    .details {
      display: flex;
      .list {
        padding: 2px 30px;
        h3 {
          font-size: 20px;
          color: #4a494a;
          font-family: "Proxima Nova", sans-serif;
          font-weight: 400;
          span{
            color: #006A5A;
          }
        }
      }
    }



    .crims-table {
      font-size: 16px;
      .crims-table-head {
        font-size: 16px;
      }

      .crims-table-body {
        transition: 1s;
        tr {
          padding: 20px;

          td {
            text-align: left;
          }
        }
      }
    }
    @include crims_load_spinner;

    .pagination-div {
      width: 60%;
      float: right;
      text-align: right;
    }


    .commision-client-details {
      .profile-details {
        .profile {
          box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
          border: 1px solid #ededed;
          background-color: #ffffff;
          margin-bottom: 15px;

          .head {
            @include head;
          }

          .body {
            padding: 10px 10px 5px 10px;
            background: #fff;

            h4 {
              color: #4a494a;
              font-size: 14px;
              font-weight: 400;
              padding-bottom: 5px;
              border-bottom: 1px solid rgba(74, 73, 58, 0.2);
            }
            p {
              color: #4a494a;
              font-size: 12px;
              font-weight: 300;

              .envelop{
                margin-right: 7px;
              }

              span {
                color: #006A5A;
              }
            }

            .totals {
              margin-top: 12px;
              border-bottom: 1px solid rgba(74, 73, 58, 0.2);
              width: 80%;
            }
          }

          .foot {
            background: #eeeeee;
            padding: 5px 5px 2px 5px;
          }
        }
      }

      .commisions-activities {
        box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
        border: 1px solid #ededed;
        background-color: #ffffff;
        margin: 0 0 0 15px;
        width: 56.33333333%;


        .head {
          @include head;
          display: flex;
          div {
            width: 50%;

          }

          .toggle-activities {
            text-align: right;
            span{
              color: #4a494a;
              font-size: 14px;
              font-weight: 400;
              padding-bottom: 5px;
              cursor: pointer;

              &.active {
                color: #006A5A;
                font-weight: 600;
              }
            }
          }
        }

        .body {
          padding: 15px 10px;
          .crims-table-area {
            h3 {
              font-size: 16px;
              color: #4a494a;
              font-family: "Proxima Nova";
              font-weight: 600;

            }

            h6 {
              margin-top: 50px;
              font-size: 16px;
              color: #4a494a;
              font-family: "Proxima Nova";
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .commisions {
    .chats-area {
      .chat-box-area {
        padding: 10px;

        .chat-box {
          width: 100%;
          margin: 20px;
        }
      }


    }

  }
      }

@media screen and (max-width: 822px) {
.commisions {
  .commision-product {
    .commision-client-details{
      .commisions-activities {
        width: 98%;
      }
      .profile-details{
        width: 98%;
      }
    }

  }
}
}
.banks_details {
  .title {
    border-bottom: 1px solid #eee;
    padding: 10px;
    color: #606266;
    line-height: 1.4;
    text-align: justify;
    font-size: 14px;
  }

  .banks_details__item {
    padding: 10px;
    h4 {
      color: #4a494a;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 600;

      span {
        color: #006a5b;
        margin-right: 15px;
      }
    }
  }
}

.commission-heading {
  width: 100%;
  display: flex;

  .fa-name {
    width: 50%;
  }
  .currency-switch {
    width: 50%;
    text-align: right;

  }
}


