
.my_fa {
  padding: 20px 20px;
.fa-area {
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #ededed;
  background-color: #ffffff;
  height: 80%;
  .heading {
    padding: 20px;
    border-bottom: 1px solid #f1f1f1;

    h4 {
      color: #4a494a;
      font-family: "Proxima Nova";
      font-size: 16px;
      font-weight: 400;
    }
  }

  .fa-table-details {
    padding: 20px;
    height: 100%;
    overflow-y: auto;
  }
}

}