@import "../utils/scrollbar";
@import "../form/form_select";
.projections {
  padding: 20px 20px;
  .projections_area {
    padding: 10px 10px 100px 10px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ededed;
    background-color: #ffffff;
    max-height: 100%;
    //overflow-y: scroll;
      .crims-table-area {
        display: block;
        table {

          thead {
            tr {
              td {
                min-width: 100px;
                &:nth-child(2) {
                  min-width: 300px;
                  text-align: center;
                }
              }

            }
          }
          tbody {
            tr {
              td {
                min-width: 100px;
                &:nth-child(2){
                  min-width: 300px;
                }
              }
            }
          }
        }
      }


    .heading {
      padding: 20px;
      border-bottom: 1px solid #f1f1f1;
      display: flex;

      //.projections-title {
      //  width: 20%;
      //  h3 {
      //    color: #4a494a;
      //    font-family: "Proxima Nova";
      //    font-size: 16px;
      //    font-weight: 600;
      //  }
      //}

      .form {
        float: right;
        width: 100%;
        @include callout_options_form;
        .el-form-item {
          .el-input {
            .el-input__inner {
              padding: 5px 50px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .projections {
    padding: 5px 5px;
    .projections_area {
      .heading {
        flex-wrap: wrap;
        .projections-title  {
          width: 100%;
        }

        .form {
          width: 100%;
        }
      }
    }
  }
}