<script type="text/babel">
    export default {
        data () {
            return {
                searchText: ''
            }
        },

        methods: {
            doSearch () {
                this.$events.fire('search-set', {'id': this.tableId, 'data': this.searchText })
            }
        },

        props: {
            tableId:{default: 'crims_table'},
            searchLabel:{default: 'Search ...'}
        },
    }
</script>

<template>
    <div>
        <div class="form-group">
            <input type="text"
                   class="form-control pull-right"
                   style="width: 100%;"
                   v-model="searchText"
                   @keyup="doSearch"
                   :placeholder="searchLabel"
            />
        </div>
    </div>
</template>