<script>
    import {mapGetters} from 'vuex';
    import vueTableMixin from '../../../mixins/vuetable_mixin';
    import moment from 'moment';

    export default {
        mixins: [vueTableMixin],

        props: ['id', 'types'],

        data() {
            return {
                fields: [
                    {name: 'id', title: 'Trans ID', sortField: 'id'},
                    {name: 'date', title: 'Date', sortField: 'date'},
                    {name: 'description', title: 'Narrative', sortField: 'description'},
                    {name: 'type_name', title: 'Type', sortField: 'type_name'},
                    {name: 'debit', title: 'Recipient', sortField: 'debit'},
                    {name: 'credit', title: 'Payment', sortField: 'credit'},
                    {name: 'balance', title: 'Balance', sortField: 'balance'},
                ],

                tableState: {},
                promise: true,
                start_date: '',
                end_date: '',
                trans_type: '',
            }
        },

        watch: {
            start_date: {
                handler: function () {
                    this.filter();
                }
            },

            end_date: {
                handler: function () {
                    this.filter();
                }
            },

            trans_type: {
                handler: function () {
                    this.filter();
                }
            },
        },

        computed: {
            ...mapGetters({}),

            dataUrl() {
                return '/api/portfolio/custodial/accounts/transactions/' + this.id;
            },

        },

        methods: {
            filter() {
                let data = {
                    'start': this.start_date ? moment(this.start_date).format('YYYY-MM-DD') : null,
                    'end': this.end_date ? moment(this.end_date).format('YYYY-MM-DD') : null,
                    'type': this.trans_type ? this.trans_type : null
                };

                this.$events.fire('filter-set', {'id': this.tableId, 'data': data});
            }
        },
    }
</script>

<template>
    <div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="crims-panel-heading">

                    <div class="row">
                        <div class="col-md-3">
                            <el-date-picker
                                    v-model="start_date"
                                    type="date"
                                    width="100%"
                                    placeholder="Pick a start day">
                            </el-date-picker>
                        </div>

                        <div class="col-md-3">
                            <el-date-picker
                                    v-model="end_date"
                                    type="date"
                                    width="100%"
                                    placeholder="Pick a end day">
                            </el-date-picker>
                        </div>
                        <div class="col-md-3">
                            <el-select v-model="trans_type" placeholder="Select Transaction Type" clearable
                                       filterable style="width:100%">
                                <el-option
                                        v-for="item in types"
                                        :key="item.id"
                                        :label="item.description"
                                        :value="item.id">
                                </el-option>
                            </el-select>
                        </div>
                        <div class="col-md-3">
                            <search-bar :search-label='"Search Client..."' style="width: 300px;"></search-bar>
                        </div>
                    </div>
                </div>
                <div class="crims_table">

                    <vuetable ref="vuetable"
                              :api-url="dataUrl"
                              :fields="fields"
                              pagination-path=""
                              @vuetable:pagination-data="onPaginationData"
                              :append-params="tableState"
                              :per-page="itemsPerPage"
                    >
                    </vuetable>

                    <div class="vuetable-pagination ui basic segment grid crims_pagination">
                        <table>
                            <tfoot>
                            <tr>
                                <td class="text-center" width="50%">
                                    <div class="inline-block"
                                         style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                        <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                        <select style="width: 100px" class="form-control" v-model="itemsPerPage"
                                                @change="changePerPage">
                                            <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}
                                            </option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <vuetable-pagination-info ref="paginationInfo">
                                    </vuetable-pagination-info>
                                    <vuetable-pagination ref="pagination"
                                                         @vuetable-pagination:change-page="onChangePage"
                                    ></vuetable-pagination>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>