<script type="text/babel">
    import axios from 'axios';

    export default {
        data() {
            return {
                transaction: {},
                loading: false,
                select_options: []
            }
        },

        props: ['transactionType', 'account', 'name', 'matched'],

        watch: {
            transaction: function() {
                this.$emit('suspenseTransactionSelected', this.transaction)
            }
        },

        methods: {
            getOptions (search) {
                this.search(search, this);
            },

            search: _.debounce((search, vm) => {
                vm.loading = true;

                let data = {
                    query: search,
                };

                if (vm.transactionType) {
                    data.transaction_type = vm.transactionType;
                }

                if (vm.account) {
                    data.account = vm.account;
                }

                if (vm.matched !== undefined) {
                    data.matched = vm.matched;
                }

                axios.post('/api/portfolio/suspense-transactions/search_transaction', data)
                    .then(({data}) => {
                        vm.select_options = data.data;
                        vm.loading = false;
                    });
            })
        }
    }
</script>

<template>
    <div>
        <div>
            <el-select
                    v-model="transaction"
                    clearable
                    filterable
                    remote
                    reserve-keyword
                    placeholder="Search transaction"
                    :remote-method="getOptions"
                    :loading="loading"
                    loading-text="Loading..."
                    style="width: 100%"
            >
                <el-option
                        v-for="item in select_options"
                        :key="item.value"
                        :label="item.label"
                        :value="item">
                </el-option>
            </el-select>
            <input type="hidden" :name="name" v-model="transaction.value">
        </div>
        <br>
        <div>
            <table class="table table-responsive-table-hover table-striped" v-if="transaction.hasOwnProperty('value')">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Amount:</th>
                    <th>Account:</th>
                    <th>Transaction Id:</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> {{ transaction.date }}</td>
                    <td> {{ transaction.currency }} {{ transaction.amount }}</td>
                    <td> {{ transaction.account }}</td>
                    <td> {{ transaction.transaction_id }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>