<script>
    import {mapGetters} from 'vuex';
    import partials from '../../Mixins/formPartials';
    import Vue from 'vue';

    Vue.component('application-setup', require('./forms/setup.vue'));
    Vue.component('investment-tab', require('./forms/investment'));
    Vue.component('subscriber-tab', require('./forms/subscriber'));
    Vue.component('contact-persons-tab', require('./forms/contact-persons'));
    Vue.component('joint-holders-tab', require('./forms/joint-holders'));
    Vue.component('kyc-tab', require('./forms/kyc'));
    Vue.component('payment-tab', require('./forms/payment'));
    Vue.component('indemnity-section', require('./forms/indemnity'));
    Vue.component('signing-mandate-section', require('./forms/mandate'));
    Vue.component('complete-section', require('./forms/complete'));
    Vue.component('shareholder-section', require('./forms/shareholder-acc-details'));

    export default {

        mixins: [partials],

        props: ['edit', 'application' , 'type', 'unit', 'mandates'],

        data() {
            return {
                clType: this.individual,
                appType: this.clientAppType,
            }
        },

        computed: {
            ...mapGetters({
                individual: 'individualType',
                clientAppType: 'clientAppType',

                investmentSection: 'investmentSection',
                subscriberSection: 'subscriberSection',
                contactSection: 'contactSection',
                jointSection: 'jointSection',
                indemnitySection: 'indemnitySection',
                kycSection: 'kycSection',
                paymentSection: 'paymentSection',
                mandateSection: 'mandateSection',
                shareholderAccountSection: 'shareholderAccountSection',

                applicationStage: 'applicationStage',
                settingClientForm: 'settingClientForm',
                processType: 'processType'
            }),

            checkFormApplication: function () {
                if (this.processType === 'register_shareholder') {
                    return false;
                } else if (this.processType === 'reserve_unit') {
                    return false;
                } else if(this.processType ==='client_investment'){
                    return true;
                }

                return true;
            }
        },

        watch: {
            individual: {
                handler: function () {
                    this.clType = this.individual;
                }
            },

            clientAppType: {
                handler: function () {
                    this.appType = this.clientAppType;
                }
            },
        },

        methods: {
            setApplicationForm: function () {

                if (this.edit) {
                    this.$store.commit('SET_CLIENT_APPLICATION_FORM', this.application);
                }

                return;
            },

            setApplicationType: function () {
                this.$store.commit('SET_APPLICATION_TYPE', this.type);
            },

            setInitApplicationStage: function () {
                if (this.processType === 'client_investment') {
                    this.$store.commit('SET_INIT_APPLICATION_STAGE', 'investment');
                } else if (this.processType === 'reserve_unit') {
                    this.$store.commit('SET_INIT_APPLICATION_STAGE', 'subscriber');
                } else {
                    this.$store.commit('SET_INIT_APPLICATION_STAGE', 'shareholder_register');
                }
            }
        },

        mounted() {
            this.setApplicationForm();
            this.setApplicationType();
            this.setInitApplicationStage();
        }
    }
</script>

<template>
    <div class="">
        <div class="panel col-md-12">
            <br>
            <div class="panel-header title-heading">
                <div class="title-heading">
                    <h4>
                        <span v-if="(processType == 'register_shareholder')">Register Shareholder</span>
                        <span v-else-if="(processType == 'reserve_unit')">Reserve Unit Application</span>
                        <span v-else-if="edit">Edit Client Application</span>
                        <span v-else> Client Application </span>
                    </h4>

                </div>

                <div class="title-actions">
                    <a class="btn btn-default" v-if="(processType == 'client_investment')"
                       href="/dashboard/investments/client-instructions" size="mini"> Back to instructions </a>
                    <a class="btn btn-default" v-if="(processType == 'register_shareholder')" href="/dashboard/shares"
                       size="mini"> Back to Menu </a>
                </div>
            </div>
            <hr>
            <div class="panel-body application-tabs">
                <el-tabs
                        type="card"
                        v-model="applicationStage"
                        v-loading="settingClientForm"
                        element-loading-text="Fetching application details..."
                        element-loading-spinner="el-icon-loading"
                        element-loading-background="#fff">

                    <div class="application-setup panel panel-success" v-if="!mandateSection">
                        <br>
                        <div class="">
                            <application-setup :edit="this.edit"></application-setup>
                            <br>
                            <br>
                        </div>
                        <br>
                    </div>

                    <el-tab-pane v-if="(processType == 'client_investment')" label="INVESTMENT" name="investment">

                        <span slot="label" :class="{ 'fillcomplete': investmentSection }">
                            <i class="el-icon-circle-check" v-if="investmentSection"></i> INVESTMENT
                        </span>

                        <span>
                            <investment-tab></investment-tab>
                        </span>

                    </el-tab-pane>

                    <el-tab-pane v-if="(processType == 'register_shareholder')" label="SHAREHOLDER ACCOUNT"
                                 name="shareholder_register">

                        <span slot="label" :class="{ 'fillcomplete': shareholderAccountSection }">
                            <i class="el-icon-circle-check" v-if="shareholderAccountSection"></i> SHAREHOLDER ACCOUNT
                        </span>

                        <span>
                            <shareholder-section></shareholder-section>
                        </span>

                    </el-tab-pane>


                    <el-tab-pane label="SUBSCRIBER" name="subscriber">

                        <span slot="label" :class="{ 'fillcomplete': subscriberSection }">
                            <i class="el-icon-circle-check" v-if="subscriberSection"></i> SUBSCRIBER
                        </span>

                        <span>
                            <subscriber-tab :edit="true" :unit="unit"></subscriber-tab>
                        </span>

                    </el-tab-pane>

                    <el-tab-pane label="CONTACT PERSONS" name="contact" v-if="individual === 2">

                        <span slot="label" :class="{ 'fillcomplete': contactSection }">
                            <i class="el-icon-circle-check" v-if="contactSection"></i> CONTACT PERSONS
                        </span>

                        <span>
                            <contact-persons-tab></contact-persons-tab>
                        </span>

                    </el-tab-pane>

                    <el-tab-pane label="JOINT HOLDERS" name="joint" v-if="individual === 1">

                        <span slot="label" :class="{ 'fillcomplete': jointSection }">
                            <i class="el-icon-circle-check" v-if="jointSection"></i> JOINT HOLDERS
                        </span>

                        <span>
                            <joint-holders-tab></joint-holders-tab>
                        </span>

                    </el-tab-pane>

                    <el-tab-pane label="KYC" name="kyc">

                        <span slot="label" :class="{ 'fillcomplete': kycSection }">
                            <i class="el-icon-circle-check" v-if="kycSection"></i> KYC
                        </span>

                        <span>
                            <kyc-tab></kyc-tab>
                        </span>

                    </el-tab-pane>

                    <el-tab-pane label="PAYMENT" name="payment" v-if="checkFormApplication">

                        <span slot="label" :class="{ 'fillcomplete': paymentSection }">
                            <i class="el-icon-circle-check" v-if="paymentSection"></i> PAYMENT
                        </span>

                        <span>
                            <payment-tab></payment-tab>
                        </span>

                    </el-tab-pane>

                    <el-tab-pane label="EMAIL INDEMNITY" name="indemnity" v-if="checkFormApplication">

                        <span slot="label" :class="{ 'fillcomplete': indemnitySection }">
                            <i class="el-icon-circle-check" v-if="indemnitySection"></i> EMAIL INDEMNITY
                        </span>

                        <span>
                            <indemnity-section></indemnity-section>
                        </span>

                    </el-tab-pane>

                    <el-tab-pane label="SIGNING MANDATE" name="mandate" v-if="checkFormApplication">

                        <span slot="label" :class="{ 'fillcomplete': mandateSection }">
                            <i class="el-icon-circle-check" v-if="mandateSection"></i> SIGNING MANDATE
                        </span>

                        <span>
                            <signing-mandate-section :mandates="mandates"></signing-mandate-section>
                        </span>

                    </el-tab-pane>

                    <el-tab-pane label="SIGNING MANDATE" name="complete" v-if="mandateSection">

                        <span slot="label" :class="{ 'fillcomplete': mandateSection }">
                            <i class="el-icon-circle-check" v-if="mandateSection"></i> COMPLETE
                        </span>

                        <span>
                            <complete-section></complete-section>
                        </span>

                    </el-tab-pane>
                </el-tabs>
            </div>
        </div>
    </div>
</template>

<style scoped>
    .fillcomplete {
        color: #1b9448;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 900;
    }
</style>