.single_card {

  .container {
    display: flex;
    flex-direction: column;

    .content {
      padding: 16px 30px 24px;

      .animated {
        background-color: #f3f3f3;
        background: linear-gradient(to right, #f3f3f3 5%, #eee 20%, #f3f3f3 35%);
        -webkit-animation: contentCardplaceholderShimmer 2s linear 0s infinite normal forwards;
        animation: contentCardplaceholderShimmer 2s linear 0s infinite normal forwards;
      }

      .title {
        position: relative;
        height: 28px;

        &:after {
          position: absolute;
          right: 0;
          content: "";
          background: #fff;
          height: 28px;
          width: 0%;
        }
      }

      .padding {
        height: 16px;
        background: #fff;
      }

      .parent {
        position: relative;
        height: 13px;

        &:after {
          position: absolute;
          right: 0;
          content: "";
          background: #fff;
          height: 14px;
          width: 70%;
        }
      }

      .followers {
        position: relative;
        height: 14px;

        &:after {
          position: absolute;
          right: 0;
          content: "";
          background: #fff;
          height: 14px;
          width: 80%;
        }
      }

      .description {
        position: relative;
        height: 14px;

        &:after {
          position: absolute;
          right: 0;
          content: "";
          background: #fff;
          height: 14px;
          width: 0%;
        }
      }

    }
  }



}


@-webkit-keyframes contentCardplaceholderShimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

@keyframes contentCardplaceholderShimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}