.animate_tables_load {
  padding: 10%;
  margin-left: 15px;
  animation-duration: 1.4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right,  #eeeeee 40%, #dddddd 50%, #eeeeee 40%);
  background-repeat: no-repeat;
  background-size: 1200px 160px;
  //position: absolute;
  z-index: 10000000;

  transform: translate3d(0, 0, 0);
  transition: all .4s ease-in-out;

  table {
    display: none;
  }

  .loading {
    display: none;
  }


  p.placeholder1,
  p.subplaceholder1,
  p.placeholder2,
  p.subplaceholder2,
  p.placeholder3 {
    position: absolute;
    background: white;
    padding: 7px;
  }

  p.placeholder1 {
    width: 90%;
    top: 5px;
    left: 10px;
  }

  p.subplaceholder1 {
    width: 35%;
    left: 10px;
    top: 30px;
  }

  p.placeholder2 {
    width: 80%;
    left: 10px;
    top: 60px;
  }



}