.animate_cards {

  width: 100%;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderLoader;
  animation-timing-function: linear;
  background-image: repeating-linear-gradient(180deg, #ccc, #ccc 30px, #dbdbdb 30px, #dbdbdb 60px);
  background: linear-gradient(to right,  #eeeeee 40%, #dddddd 50%, #eeeeee 40%);
  div {
    opacity: 0;
  }



  transform: translate3d(0, 0, 0);
  transition: all 1.0s ease-in-out;



  .loading {
    display: none;
  }


  p.placeholder1,
  p.subplaceholder1,
  p.placeholder2,
  p.subplaceholder2,
  p.placeholder3 {
    position: absolute;
    background: white;
    padding: 7px;
  }

  p.placeholder1 {
    width: 90%;
    top: 5px;
    left: 10px;
  }

  p.subplaceholder1 {
    width: 35%;
    left: 10px;
    top: 30px;
  }

  p.placeholder2 {
    width: 80%;
    left: 10px;
    top: 60px;
  }
  p.subplaceholder2 {
    width: 80%;
    left: 10px;
  }
  p.placeholder3 {
    width: 50%;
    left: 40px;
  }

//.holder-divs {
//  display: flex;
//  justify-content: space-between;
//  flex-direction:row;
//  .loader-box {
//    //position: absolute;
//    background: white;
//    padding: 1.5%;
//    width: 30%;
//    margin: 10px;
//    color: #000;
//  }
//}

}

@keyframes placeHolderLoader{
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 0px 0;
  }
}