@mixin custom_buttons {
  .el-button--custom-success {
    background-color: #006a5b;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 500;
    padding: 9px 40px;
    transition: all 2s;

    &:hover , &:focus {
      background-color: #a2d45e;
      color: #004d42;
    }

    &:disabled {
      opacity: 0.3;

      &:hover {
        background-color: #006a5b;
        color: #ffffff;
      }
    }

    &.suspend {
      background-color: #de0e0e;

      &:hover {
        background-color: #de0e0e;
        opacity: 0.8;
      }
    }
  }

  &.el-button--custom-error {
    background-color: #de0e0e;
    color: #ffffff;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 500;
    padding: 9px 40px;
    transition: all 2s;

    &:hover , &:focus {
      background-color: #de0e0e;
      color: #ffffff;
    }

    &:disabled {
      opacity: 0.3;

      &:hover {
        background-color: #de0e0e;
        color: #ffffff;
      }
    }
  }

  .el-button--custom-default {
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 500;
    padding: 9px 40px;
  }
}