@mixin custom-tab {
  .el-tabs  {
    .el-tabs__header {
      .el-tabs__nav-wrap {
        .el-tabs__nav-scroll {
          .el-tabs__nav {
            .el-tabs__active-bar {
              background-color: #006a5b;
            }

            .el-tabs__item {

              &:hover {
                color: #a2d45f;
              }
              &:focus {
                color: #a2d45f;
              }
              &.is-active{
                color: #a2d45f;
              }
            }
          }
        }
      }
    }
  }
}