/**
 * Created by Raphael Karanja on 12/09/2018.
 */
.crims_action_button {
  font-family: "Proxima Nova";
  font-size: 14px;
  font-weight: 500;
  padding: 9px 40px;
  transition: all 2s;

  &.success {
    background-color: #006a5b;
    color: #ffffff;
    transition: all .3s;

    &:hover, &:focus {
      background-color: #a2d45e;
      color: #004d42;
    }

    &:disabled {
      opacity: 0.5;
      background-color: #006a5b;
      cursor: not-allowed;

      &:hover {
        background-color: #006a5b;
        color: #ffffff;
      }
    }

    &.disabled {
      opacity: 0.5;
      background-color: #006a5b;

      &:hover {
        background-color: #006a5b;
        color: #ffffff;
      }
    }
  }

  &.danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;

    &:hover {
      color: #fff;
      background-color: #c9302c;
      border-color: #ac2925;
    }

    &:focus, &:active {
      color: #fff;
      background-color: #c9302c;
      border-color: #761c19;
    }
  }

  &.default {
    font-size: 14px;
    font-weight: 500;
    padding: 9px 40px;
    background: #ffffff;
    color: #006a5b;

    &:hover, &:focus {
      color: #a2d45e;
      background: #eeeeee;
      border-color: #a2d45e;
    }

    &:disabled {
      opacity: .3;
    }
  }

}

.el-button {
  &.el-button--custom_success {
    background-color: #006a5b;
    color: #ffffff;
    transition: all .3s;

    &:hover, &:focus {
      background-color: #a2d45e;
      color: #004d42;
    }

    &:disabled {
      opacity: 0.5;
      background-color: #006a5b;
      cursor: not-allowed;

      &:hover {
        background-color: #006a5b;
        color: #ffffff;
      }
    }
  }
}