@mixin crims_scrollbar {
  //&::-webkit-scrollbar-track
  //{
  //  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  //  background-color: #F5F5F5;
  //  //border-radius: 10px;
  //}
  //
  //&::-webkit-scrollbar
  //{
  //  width: 10px;
  //  background-color: #F5F5F5;
  //}
  //
  //&::-webkit-scrollbar-thumb
  //{
  //  border-radius: 5px;
  //  background-color: #FFF;
  //  background-image: -webkit-gradient(linear,
  //          40% 0%,
  //          75% 84%,
  //          from(#4D9C41),
  //          to(#006a5b),
  //          color-stop(.6,#a2d45f))
  //}




  //&::-webkit-scrollbar-track
  //{
  //  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  //  background-color: #F5F5F5;
  //}
  //
  //&::-webkit-scrollbar
  //{
  //  width: 10px;
  //  background-color: #F5F5F5;
  //}




  //&::-moz-scrollbar-track
  //{
  //  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  //  background-color: #F5F5F5;
  //  //border-radius: 10px;
  //}
  //
  //&::-moz-scrollbar
  //{
  //  width: 10px;
  //  background-color: #F5F5F5;
  //}
  //
  //&::-moz-scrollbar-thumb
  //{
  //  border-radius: 10px;
  //  background-color: #FFF;
  //  background-image: -webkit-gradient(linear,
  //          40% 0%,
  //          75% 84%,
  //          from(#4D9C41),
  //          to(#006a5b),
  //          color-stop(.6,#a2d45f))
  //}
  //
  //
  //&::-o-scrollbar-track
  //{
  //  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  //  background-color: #F5F5F5;
  //  //border-radius: 10px;
  //}
  //
  //&::-o-scrollbar
  //{
  //  width: 10px;
  //  background-color: #F5F5F5;
  //}
  //
  //&::-o-scrollbar-thumb
  //{
  //  border-radius: 10px;
  //  background-color: #FFF;
  //  background-image: -webkit-gradient(linear,
  //          40% 0%,
  //          75% 84%,
  //          from(#4D9C41),
  //          to(#006a5b),
  //          color-stop(.6,#a2d45f))
  //}
}