@mixin crims_load_spinner {
  .el-loading-mask {
    .el-loading-spinner {
      .el-loading-text {
        font-size: 26px;
        color: #006A5A;
        font-family: "Proxima Nova", sans-serif;
        font-weight: 800;
        margin: 0 0;
      }
      i, .el-icon-loading {
        color: #006A5A;
        font-size: 22px;
      }
      .path {
        stroke: #006A5A;
        stroke-width: 4;
      }
    }
  }
}