.tab-loader-container {
  background: #fff;
  padding: 15px;
  margin: 0 auto;
  max-width: 100%;


  .animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 140px;
    position: relative;


  .background-masker {
    background: #fff;
    position: absolute;
  }

  .row1,
  .row2,
  .row3,
  .row4,
  .row5,
  .row6 {
    height: 20px;
    width: 100%
  }

  .row1 {
    top: 20px;
    height: 10px;
  }

  .row2 {
    top: 40px;
  }

  .row3 {
    top: 60px;
  }

  .row4 {
    top: 80px;
  }

  .row5 {
    top: 100px;
  }

  .row6 {
    top: 120px;
  }

  .col1,
  .col2,
  .col3,
  .col4,
  .col5
  {
    top: 30px;
    width: 5%;
    height: 110px;
  }

  .col1 {
    left: 15%;
  }

  .col2 {
    left: 42%;
  }

  .col3 {
    left: 64%;
  }

  .col4 {
    left: 86%;
  }
  .col5 {
    left: 96%;
  }




  }
}

@keyframes tabPlaceHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}