.timeline-item {
  background: #fff;
  //border: 1px solid;
  //border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  padding: 15px;
  margin: 0 auto;
  max-width: 100%;


  .animated-background {
    animation-duration: 1.6s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: tablePlaceHolderShimmer;
    animation-timing-function: linear;
    background-color: #f3f3f3;
    background: linear-gradient(to right, #f3f3f3 8%, #eeeeee  18%, #f3f3f3 33%);
    background-size: 800px 104px;
    height: 140px;
    position: relative;


    .background-masker {
      background: #fff;
      position: absolute;
    }


    .row1,
    .row2,
    .row3,
    .row4,
    .row5,
    .row6 {
      height: 0.9px;
      width: 100%;
    }

    .row4,
    .row5,
    .row6 {
      height: 0;
    }


    .row1 {
      top: 20px;
      height: 10px;
    }

    .row2 {
      //top: 40px;
    }

    .row3 {
      top: 60px;
      height: 10px;
    }

    .row4 {
      top: 80px;
      height: 0;
    }

    .row5 {
      top: 100px;
      height: 20px;
    }

    .row6 {
      top: 120px;
      height: 0;
    }



    .col1,
    .col2,
    .col3,
    .col4,
    .col5,
    .col6{
      top: 30px;
      height: 110px;
    }



    .col1 {
      left: 40px;
    }

    .col2 {
      left: 180px;
    }

    .col3 {
      left: 280px;
    }

    .col4 {
      left: 380px;
    }

    .col5 {
      left: 480px;
    }
    .col6 {
      left: 580px;
    }


    .title {
      height: 5px;
      max-width: 100%;
      top: 10px;
    }

    .title-w {
      height: 15px;
      right: 55px;
      max-width: 300px;
    }

    .sub-title-w {
      height: 5px;
      right: 55px;
      max-width: 330px;
      top: 15px;
    }

  }
}

@keyframes tablePlaceHolderShimmer {
  0% {
    background-position: -768px 0
  }
  100% {
    background-position: 768px 0
  }
}

