<script>
    import {mapGetters} from 'vuex';
    import events from '../../../../events';
    import {Message} from 'element-ui';
    import axios from 'axios'
    import verify from '../../../investments/verify-action'

    export default {
        props: {
            bill: {
                require: true,
                default: ''
            },
            action: {
                require: true,
                default: ''
            }
        },

        data() {
            return {
                step: 'form',
                submittingBill: false,
                deletingBill: false,
                editingBill: false,
                errors: [],
                formErrors: [],
                account_number: '',
            }
        },

        components: {verify},

        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient',
                currentUser: 'currentUser',
                fetchingSourceFunds: 'fetchingSourceFunds',
                sourceFunds: 'sourceFunds'
            }),
            editBillForm: {
                get: function () {
                    return this.bill
                },
                set: function (value) {
                    this.$emit('billChange', value)
                }
            }
        },

        methods: {
            resetForm() {
                this.editBillForm = {};
                this.step = 'form';
                this.errors = [];
                events.bus.$emit('update_title', 'Manage Bill');
            },
            deleteBill() {
                this.deletingBill = true;
                let vm = this;

                axios.get('/api/billing/' + this.bill.id + '/' + this.selectedClient.id + '/delete-bill')
                    .then(({data}) => {
                        vm.deletingBill = false;
                        if (!data.locked && data.status === 422) {
                            this.step = 'form';
                            this.resetForm();
                            this.$message({
                                showClose: true,
                                message: data.message,
                                type: 'warning',
                                duration: 5000
                            });
                        } else if (data.status !== 422) {
                            events.bus.$emit('update_title', data.message);
                            events.bus.$emit('close_drawer');
                            vm.getClientBills();
                        } else {
                            Message.error('Error ' + data.message);
                            events.bus.$emit('update_title', 'Delete Bill Detail (Form Error!!)');
                        }
                    }, () => {
                        vm.deletingBill = false;
                    })
            },
            getClientBills() {
                this.$store.commit('GET_CLIENT_UTILITY_BILLS', this.selectedClient.id);
            },
            confirmEdit() {
                this.step = 'verify';
            },
            editBill() {
                this.editingBill = true;
                let vm = this;

                axios.post('/api/billing/' + this.editBillForm.id + '/' + this.selectedClient.id + '/update-bill', this.editBillForm)
                    .then(({data}) => {
                        vm.editingBill = false;
                        if (!data.locked && data.status === 422) {
                            this.step = 'form';
                            this.resetForm();
                            this.$message({
                                showClose: true,
                                message: data.message,
                                type: 'warning',
                                duration: 5000
                            });
                        } else if (data.status !== 422) {
                            events.bus.$emit('update_title', data.message);
                            events.bus.$emit('close_drawer');
                            vm.getClientBills();
                        } else {
                            Message.error('Error ' + data.message);
                            events.bus.$emit('update_title', 'Update Bill Details (Form Error!!)');
                        }
                    }, () => {
                        vm.editingBill = false;
                    })
            },

            validated() {
                this.editBill();
            },
            cancel() {
                events.bus.$emit('close_drawer');
                if (this.action === 'edit') {
                    this.resetForm();
                }
            },
        },
        created() {
            events.bus.$on('clear_drawer_form', () => {
                if (this.action === 'edit') {
                    this.resetForm();
                }
            });
        }
    }
</script>

<template>
    <div class="">
        <div v-show="action === 'delete'">
            <div class="confirm-top-up">
                <div class="description">
                    <h3>Account Name</h3>
                    <p>{{bill.account_name}}</p>
                </div>

                <div class="description">
                    <h3>Account Number</h3>
                    <p>{{bill.account_number}} </p>
                </div>

                <div class="description last">
                    <el-button type="custom-error" @click="deleteBill">
                        <i class="el-icon-loading" v-if="deletingBill"></i> Delete
                    </el-button>
                    <el-button class="crims_action_button default" @click="cancel">Cancel</el-button>
                </div>
            </div>
        </div>

        <div v-show="action === 'edit'">
            <div v-show="step === 'form'">
                <el-form ref="form" :model="editBillForm" label-position="top" size="small" label-width="">

                    <el-form-item label="Account Name">
                        <el-input v-model="editBillForm.account_name"></el-input>
                    </el-form-item>

                    <el-form-item label="Account Number">
                        <el-input v-model="editBillForm.account_number"></el-input>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="custom-success" @click="confirmEdit">
                            <i class="el-icon-loading" v-if="editingBill"></i> Edit
                        </el-button>
                        <el-button class="crims_action_button default" @click="cancel">Cancel</el-button>
                    </el-form-item>
                </el-form>
            </div>

            <div v-show="step === 'verify'">
                <div class="confirm-top-up">
                    <verify v-on:tokenValidated="validated"></verify>
                </div>
            </div>

            <div v-show="step === 'success' ">
                <div class="topupSuccessful">
                    <div class="message">
                        <h3>Bill details update request submitted successfully. We will notify you within 12 hours and
                            update the
                            details accordingly. Thank you. </h3>
                    </div>
                    <div class="icon">
                        <h1><i class="fa fa-check-circle" aria-hidden="true"></i></h1>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
