<template id="id-of-template">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel-dashboard">
            <h3>
                Add Unit Fund Switch Rate
                <router-link v-bind:to="{ name: 'unit-fund-switch-rates.index', params: { fid: fundId } }" class="btn btn-default pull-right"><i class="fa fa-long-arrow-left"></i> Back to Rates</router-link>
            </h3>

            <form v-on:submit.prevent="saveSwtichRate(item)">
                <div class="form-group">
                    <label>Date </label>
                    <div class="input-group">
                        <el-date-picker v-model="item.date" type="date" placeholder="Date..."></el-date-picker>
                    </div>
                    <ul v-if="formErrors['date']" class="text-danger">
                        <li v-for="message in formErrors['date']" v-text="message"></li>
                    </ul>
                </div>
                <div class="form-group">
                    <label>Amount </label>
                    <input type="number" class="form-control" step="0.001" placeholder="Amount..." v-model="item.amount">
                    <ul v-if="formErrors['amount']" class="text-danger">
                        <li v-for="message in formErrors['amount']" v-text="message"></li>
                    </ul>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Save <i class="fa fa-spinner fa-spin" v-if="loading"></i> </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script type="text/babel">

    export default {

        data() {
            return {
                loading: false,
                url: '',
                fundId: null,
                formErrors: {},
                item: {
                    id: null,
                    date: null,
                    amount: null
                },
            }
        },

        created: function() {
            this.fundId = this.$route.params.fid;
            this.url = `/api/unitization/unit-funds/${this.fundId}/unit-fund-switch-rates`;
        },

        methods: {
            saveSwtichRate: function(item) {
                this.loading = true;

                let input = item;

                axios.post(this.url, input)
                    .then((response) => {
                        this.loading = false;

                        let data = response.data;

                        if(response.status == 202) {
                            this.success();
                        }
                        else if(response.data.status == 422) {
                            this.throwValidationError(data);
                        }
                    }, (response) => {
                        this.loading = false;
                        flash('Oops! Something went wrong', 'danger');
                        this.formErrors = response.data;
                    });
            },

            success: function() {
                flash('Request to add the fund switch rate has been saved for approval.', 'info');
                this.$router.push({ name: 'unit-fund-switch-rates.index', params: { fid: this.fundId } });
            },

            throwValidationError: function(data) {
                flash('Unit fund switch rate failed to save.', 'danger');
                this.formErrors = data.errors;
            }
        }
    }
</script>