@import "../utils/animated_preload";
@import "../utils/hover_radial_in";
@import "../utils/bounce_to_top";

$cyan: #60daaa;

@import "cards/structured_products";
@import "cards/unit_trust";

.activities {
  margin: -100px auto 0 auto;
  width: 90%;
  background-color: #ffffff;
  min-height: 80%;
  overflow-x: hidden;
  max-width: 100%;
  padding: 3%;
  border-radius: 5px;

  h3 {
    color: #4a494a;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 600;

  }

  .el-tabs {
    &__active-bar {
      background-color: #006A5A;
    }
    &__item {
      &.is-active {
        color: #006A5A;
      }

      &.is-disabled {
        display: none;
      }

      &:first-child {
        padding-left: 0;
      }
    }
  }

  .investment-cards {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 3%;

    &__body {
      display: flex;
      margin-bottom: 5px;
    }
     &__pagination {
       display: flex;
       width: 100%;
       padding: 2px;
       justify-content: flex-start;
       margin: 20px 0;

       .toggle_cards {
         display: flex;
         justify-content: space-between;
         align-items: center;

         font-size: 14px;
         font-weight: 400;
         span {
           font-size: 12px;
           margin: 0 5px;
         }
         button {
           //color: #006a5b;
           //border: none;
           //background: transparent;
           //padding: 2px;

           position: relative;
           background-color: #006a5b;
           border: none;
           font-size: 14px;
           color: #FFFFFF;
           padding: 7px 12px;
           text-align: center;
           -webkit-transition-duration: 0.4s;
           transition-duration: 0.4s;
           text-decoration: none;
           overflow: hidden;
           cursor: pointer;

           &:disabled {
             cursor: not-allowed;
             opacity: 0.5;
             //color: #707070;
             background: #707070;
           }
         }

       }
     }

    .investment-grey {
      background: url('/assets/img/investment-cards/Group grey.svg') ;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 110%;
    }

    .investment-green {
      background: url('/assets/img/investment-cards/Group green.svg') ;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 110%;
    }

    .investment-blue {
      background: url('/assets/img/investment-cards/Group blue.svg') ;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 110%;
    }

    .investment-red {
      background: url('/assets/img/investment-cards/Group red.svg') ;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 110%;
    }

    .investment-new {
      background: url('/assets/img/investment-cards/Group new.svg') ;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 200%;
    }

    .investment-card {
      position: relative;
      transition: all .8s;
      margin-bottom: 0;
      border-radius: 5px;

      @include preload;

      &.add_new_investment {
        overflow: hidden;
        position: relative;
        cursor: pointer;
        border: 1px dashed #707070;
        height: 100% !important;
        width: 100% !important;

        &.createSyspended {
          border: 3px dashed #ffae00;
          .investment-card-new-investment {
            .overlay-display {
              display: block;
            }

            &:before {
              content: "";
              display: block;
              height: 100%;
              width: 100%;
              position: absolute;
              top: 0;
              left: 0;
              background-color: rgba(52, 73, 94, 0.75);
            }
          }

        }
        .investment-card-new-investment {
          height: 100%;
          width: 100%;
          -webkit-transition: all .5s;
          -moz-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s;
          padding: 25.8%;
          .overlay-display {
            display: none;
            font-size: 20px;
            color: #ffffff !important;
            font-family: sans-serif;
            text-align: center;
            font-weight: 800;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: 50px;
            cursor: pointer;
            /*text-decoration: none;*/
          }

          &:before {
            content: "";
            display: none;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(52, 73, 94, 0.75);
          }

        }

        &:hover, &:focus {

          .investment-card-new-investment {
            -ms-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -o-transform: scale(1.2);
            transform: scale(1.2);
            &:before {
              content: "";
              display: block;
              height: 100%;
              width: 100%;
              position: absolute;
              top: 0;
              left: 0;
              background-color: rgba(52, 73, 94, 0.75);
            }

            .overlay-display {
              display: block;
              span {
                display: block;
              }
            }
          }

        }

      }
      .investment-card-top-section {
        background-color: rgba(0, 0, 0, 0.1);
        .investment-card-header {
          display: flex;
          width: 100%;
          padding: 0;
          border-bottom: 1px solid #fff;
          transition: all .8s;
          .title {
            width: 70%;
            color: #fff;
            font-size: 13px;
            font-weight: 400;
            padding: 5px 0px 5px 15px;
          }

          .action {
            width: 30%;
            font-size: 13px;
            color: #fff;
            font-weight: 400;
            padding: 5px 0px 5px 5px;
            border-left: 1px solid #fff;
            cursor: pointer;
            transition: .3s;

            &:hover {
              color: #a2d45e;
              font-weight: 600;
            }
          }
        }

        .investment-card-body {
          transition: all .8s;
          height: 100% !important;
          table {
            tr {
              th {
                font-weight: 400;
                color: #fff;
                font-size: 14px;
                text-align: left;
                padding: 3px;
              }
              td {
                font-weight: 500;
                color: #fff;
                font-size: 16px;
              }
            }
          }
        }
      }

      .re-investment-card {
        background-color: #009688;
        height: 100%;

        border-radius: 2px;
        margin-right: 1%;
        transition: color 0.25s;

        .investment-card-header {
          display: flex;
          width: 100%;
          padding: 1%;
          border-bottom: 1px solid #eef;
          transition: all .8s;

          .title {
            width: 60%;
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            padding: 2%;
            font-family: Futura;
          }

          .action {
            width: 40%;
            font-size: 14px;
            color: #fff;
            font-weight: 400;
            padding: 2%;
            border-left: 1px solid #eef;
            cursor: pointer;
            transition: .3s;
            text-align: center;

            &:hover {
              color: #a2d45e;
              font-weight: 600;
            }
          }
        }

        .investment-card-body {
          transition: all .8s;

          table {
            tr {
              th {
                font-weight: 400;
                color: #fff;
                font-size: 14px;
                text-align: left;
                padding: 3px;
              }
              td {
                font-weight: 500;
                color: #fff;
                font-size: 16px;
              }
            }
          }
        }
      }

      //.investment-card-footer {
      //  display: flex;
      //  font-size: 1px;
      //  padding: 3px;
      //  background-color: #f5f5f5;
      //  text-align: center;
      //  h5 {
      //    font-size: 10px;
      //  }
      //  .investment-card-action {
      //    width: calc(100%/3);
      //    text-align: center;
      //    font-size: 10px;
      //    padding: 0px;
      //    cursor: pointer;
      //    h5 {
      //      font-size: 10px;
      //      text-align: center;
      //    }
      //  }
      //
      //  .middle {
      //    border-right: 1px solid #757575;
      //    border-left: 1px solid #757575;
      //  }
      //}
      //
      &:hover, &:focus {
        animation: shake 3s cubic-bezier(.36, .07, .19, .97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 10px;
        cursor: pointer;
        //
        //-webkit-box-shadow: rgba(0, 0, 0, .25) 0px 4px 5px 0px, rgba(232, 237, 250, .5) 0px 2px 4px 0px;
        //-moz-box-shadow: rgba(0, 0, 0, .25) 0px 4px 5px 0px, rgba(232, 237, 250, .5) 0px 2px 4px 0px;
        //box-shadow: rgba(0, 0, 0, .25) 0px 4px 5px 0px, rgba(232, 237, 250, .5) 0px 2px 4px 0px;

        //.investment-card-body, .structuredproducts-card-header {
        //   .title, .action, thead{
        //     font-weight: 600;
        //   }
        //  table {
        //    tr {
        //      td, th {
        //        font-weight: 600;
        //      }
        //    }
        //  }
        //}

      }
    }
      //@include bounce_to_top;


    .VueCarousel-dot-container {
      float: right;
      margin-top: -20px;
      margin-bottom: 10px;

      .VueCarousel-dot {
        margin-top: 2px !important;
      }

    }


  }
}

@media screen and (max-width: 1024px){
  .activities {
    margin: 0 auto;
    width: 100%;
  }
}

@keyframes placeHolderShimmer{
  0% {
    background-position: -700px 0;
  }
  100% {
    background-position: 0px 0;
  }
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}


@media only screen and (max-width: 480px) {
  .activities {
    .investment-cards {
      &__body {
        .investment-card {
          margin-right: 5px;
          width: 100%;
          background-size: 150%;
        }
      }
    }
  }
}


@media only screen and (min-width: 481px) and (max-width: 960px) {
  .activities {
    .investment-cards {
      &__body {
        .investment-card {
          margin-right: 5px;
          width: 50%;
          background-size: 150%;
        }
      }
    }
  }
}

@media only screen and (min-width: 961px) {
  .activities {
    .investment-cards {
      &__body {
        .investment-card {
          margin-right: 5px;
          max-width: 33%;
          min-width: 33%;
        }
      }
    }
  }
}


.button-paginate {
  position: relative;
  background-color: #009688;
  border: none;
  font-size: 14px;
  color: #FFFFFF;
  padding: 7px 20px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button-paginate-disabled {
  position: relative;
  background-color: #2dd1ac;
  border: none;
  font-size: 14px;
  color: #FFFFFF;
  padding: 10px 20px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.paginate-text {
  font-family: Futura;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #eef;
  padding: 8px 20px;
  margin: 0 5px;
  text-align: center;
  border-radius: 2px;
}


.sp-recent-activities {
  padding: 1%;

  .heading {
    .heading-left {
      font-family: Futura;
      font-size: 14px;
      font-weight: 600;
      color: #3c763d;
    }
  }
}

