.banner {
  width: 100%;
  height: 250px;
  margin-left: 0;
  .dashboard-banner {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(114deg, #a2d45e 0%, #006a5b 100%);
    .banner-cover {
      width: 100%;
      height: 100%;
      background-image: url(/assets/img/banner/wallet.svg), url(/assets/img/banner/bank.svg);
      background-position: left bottom, right top;
      background-repeat: no-repeat, no-repeat;
      background-size: 200px 150px;
      background-position-x: -5%, 102%;
    }

    .banner-container {
      width: 92%;
      margin: 0 auto;
      padding-top: 50px;
      padding-bottom: 20px;

      .salutation {
        .contain {
          //width: 60%;
          margin-top: 14px;
          text-align: left;
          display: flex;
          .h3 {
            display: block;
            color: #ffffff;
            font-size: 20px;
            font-weight: 400;
            margin-right: 10px;
          }
          .h4 {
            color: #ffffff;
            font-size: 18px;
            font-weight: 300;
          }
        }

      }
    }

    .banner-left {
      color: #ffffff;
      font-family: "Proxima Nova";

      h2 {
        font-size: 18px;
        font-weight: 400;
      }

      .switch-account-container {

        .switch-account-label {
          label {
            margin-top: 14px;
            color: #ffffff;
            font-size: 14px;
          }
        }
        .switch-account {
          color: #ffffff;
          font-family: "Proxima Nova";
          font-size: 12px;
          font-weight: 500;
          padding-left: 15px;

          input {
            border: 0;
            outline: 0;
            color: #ffffff;
            font-size: 12px;
            font-weight: 500;
            background: transparent;
            box-shadow: transparent;
            border-bottom: 1px dashed #ffffff;
            border-radius: 0;
            padding-right: 30px;
            padding-left: 0;
            overflow: hidden;
            text-overflow: ellipsis;

            &:focus {
              box-shadow: none;
              border-bottom-color: #a2d45e;
            }
            &::placeholder {
              color: #ffffff;
              opacity: 1;
            }

          }
          .el-input__suffix {
            .el-input__icon {
              height: 80%;
            }

            .el-select__caret {
              color: #fff;
            }
          }

        }
      }
    }

    .investment-totals {
      .investment-total {
        background-color: rgba(13, 1, 1,0.26);
        padding: 5px;
        border-radius: 3px;
        margin-right: 15px;
        text-align: center;

        h2 {
          color: #ffffff;
          font-family: "Proxima Nova";
          font-size: 12px;
          font-weight: 400;
          text-transform: uppercase;
        }

        h4{
          color: #ffffff;
          font-family: "Proxima Nova";
          font-size: 10px;
          font-weight: 300;
        }
      }

      .VueCarousel-dot-container {
        float: right;

        .VueCarousel-dot {
          margin-top: 2px !important;
        }

      }
    }
  }



}

@media screen and (max-width: 1024px) {
  .banner {
    height: auto;
    .dashboard-banner {
      .banner-container {
        .salutation {
          .contain {
            display: flex;
          }
        }

      }
    }
  }
}