.crims-page {
  //min-height: calc(100vh - 70px);
  background-color: #f1f1f1;
  //padding-top: 50px;
}

.sidebar {
  height: 100%;
  background: #2d3846;
}


.dashboard-summary {
  .el-tabs {
      .el-tabs__header {
          border: none !important;
          margin-bottom: 2%;
      }

      .el-tabs__nav {
          border: none !important;
      }

      .el-tabs__item {
          height: auto !important;
          font-family: Futura;
          font-size: 12px;
          font-weight: 300;
          text-transform: uppercase;
      }

      .el-tabs__nav-wrap::after {
          background: none !important;
      }

      .el-tabs__nav-scroll {
          margin-left: 10px;
      }
  }
}