.recent-activities {
  clear: both;
  width: 100%;
  margin-left: 10px;
  margin-right: 2px;
  .maturity-dates {
    box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.10);
    border: 1px solid #eee;
    margin-left: 10px;
    max-width: 100%;
  }

  .heading {
    display: flex;
    .heading-left {
      width: 70%;
    }
    .heading-right {
      width: 30%;
      padding-right: 10%;
      small {
        float: right;
      }
    }

  }
.recent-activities-area {
    border: 1px solid #ededed;
    background-color: #ffffff;
    min-width: 100%;
  .recent-activities-table {
      box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,0.10);
      border: 1px solid #eee;
      margin-right: 10px;
      max-width: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      color: #212020;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 400;

    .recent-activities-table-head {
      color: #006a5b;
      font-family: "Proxima Nova";
      font-size: 14px;
      font-weight: 700;
    }

  }
}
}

@media screen and (max-width: 1023px){
  .recent-activities {

    .u-maturities {
      width: 100%;
      margin-top: 35px;
      .maturity-dates {
        max-width: 100%;
        overflow-x:auto;
      }
    }

    .recent-activities-table {
      max-width: 100%;
      overflow-x:auto;
    }
  }
}
