//.default {
//  height: 100%;
//}
//
//.crims_main_content_area {
//  height: 100%;
//}
//
//@media only screen and (max-width: 1024px) {
//  .crims_main_content_area {
//    height: auto;
//
//    .main-body {
//      overflow:scroll;
//    }
//    .dashbody {
//      width: 100% !important;
//      max-width: 100%;
//      overflow:hidden;
//      height: 100%;
//
//      .dashboard-body {
//        //.crims-dashboard {
//        //  height: auto;
//        //}
//      }
//    }
//
//    .blade-menu {
//      width: 0;
//      display: none;
//      bottom: 0;
//
//      &.animate-hide {
//        opacity: 1;
//        -webkit-animation: menu-slide-off .4s ease-out;
//        -moz-animation: menu-slide-off .4s ease-out;
//        animation: menu-slide-off .4s ease-out;
//
//      }
//  }
//
//  }
//
//
//  .small-toggle {
//    display: flex !important;
//    margin-right: 10px;
//  }
//}
//
//
//@media screen and (max-width: 1025px) and (min-width: 700px){
//  .crims_main_content_area {
//    .menuVisible {
//      min-width: 27%;
//      display: block;
//      position: fixed;
//      z-index: 60000;
//      overflow-x: scroll;
//      -webkit-animation: menu-slide .4s ease-out;
//      -moz-animation: menu-slide .4s ease-out;
//      animation: menu-slide .4s ease-out;
//      &.animate-hide {
//        margin-left: -30%;
//      }
//
//
//
//    }
//  }
//
//}
//
//@media screen and (max-width: 700px) and (min-width: 500px){
//  .crims_main_content_area {
//    .menuVisible {
//      min-width: 40%;
//      display: block;
//      position: fixed;
//      z-index: 60000;
//      overflow-x: scroll;
//      -webkit-animation: menu-slide .4s ease-out;
//      -moz-animation: menu-slide .4s ease-out;
//      animation: menu-slide .4s ease-out;
//      &.animate-hide {
//        margin-left: -38%;
//      }
//
//      .side-menu {
//        ul {
//          li {
//            a {
//              padding: 10px 44% 10px 35px;
//            }
//          }
//        }
//      }
//
//    }
//  }
//}
//
//@media screen and (max-width: 500px){
//  .crims_main_content_area {
//    .menuVisible {
//      min-width: 60%;
//      display: block;
//      position: fixed;
//      z-index: 6000;
//      overflow-x: scroll;
//      -webkit-animation: menu-slide .4s ease-out;
//      -moz-animation: menu-slide .4s ease-out;
//      animation: menu-slide .4s ease-out;
//      &.animate-hide {
//        margin-left: -60%;
//      }
//      .side-menu {
//        height: auto;
//        background: #2d3846;
//        bottom: 0px;
//        padding-top: 18px;
//        margin-top: 0;
//        white-space: nowrap;
//        min-width: 120px;
//        z-index: 600;
//        padding-bottom: 20%;
//        margin-bottom: 20%;
//        ul {
//          li {
//            a {
//              padding: 10px 44% 10px 35px;
//            }
//          }
//        }
//      }
//
//    }
//  }
//
//}
//.small-toggle {
//  padding: 5px;
//  display: none;
//
//  &.dashboard-menu {
//    background-image: linear-gradient(114deg, #a2d45e 0%, #006a5b 100%);
//  }
//  .toggle-btn {
//    left: 1%;
//    top: 65px;
//    z-index: 100;
//
//
//    span {
//      display: block;
//      width: 26px;
//      height: 3px;
//      background: #006a5b;
//      margin: 5px 0px;
//    }
//  }
//
//  .menu-span {
//    margin-left: 12px;
//    font-size: 20px;
//    font-weight: 500;
//  }
//}
//
//
//.dismissMenu {
//  position: absolute;
//  float: right;
//  color: #fff;
//  top: 0;
//  z-index: 1;
//  right: 0;
//  cursor: pointer;
//
//  h1 {
//    font-size: 20px;
//    padding-right: 5px;
//  }
//
//
//
//
//}
//
//
//
//.menu-transition-leave-active {
//  -webkit-animation: menu-slide-off .4s ease-out;
//  -moz-animation: menu-slide-off .4s ease-out;
//  animation: menu-slide-off .4s ease-out;
//}
//
//
//@-webkit-keyframes menu-slide {
//  0% { opacity: 0; -webkit-transform: translateX(-100%); }
//  20% { opacity: 0.2; -webkit-transform: translateX(-80%); }
//  40% { opacity: 0.4; -webkit-transform: translateX(-60%); }
//  60% { opacity: 0.6; -webkit-transform: translateX(-40%); }
//  80% { opacity: 0.8; -webkit-transform: translateX(-20%); }
//  100% { opacity: 1; -webkit-transform: translateX(0); }
//}
//@-moz-keyframes menu-slide {
//  0% { opacity: 0; -webkit-transform: translateX(-100%); }
//  20% { opacity: 0.2; -webkit-transform: translateX(-80%); }
//  40% { opacity: 0.4; -webkit-transform: translateX(-60%); }
//  60% { opacity: 0.6; -webkit-transform: translateX(-40%); }
//  80% { opacity: 0.8; -webkit-transform: translateX(-20%); }
//  100% { opacity: 1; -webkit-transform: translateX(0); }
//}
//
//@keyframes menu-slide {
//  0% { opacity: 0; -webkit-transform: translateX(-100%); }
//  20% { opacity: 0.2; -webkit-transform: translateX(-80%); }
//  40% { opacity: 0.4; -webkit-transform: translateX(-60%); }
//  60% { opacity: 0.6; -webkit-transform: translateX(-40%); }
//  80% { opacity: 0.8; -webkit-transform: translateX(-20%); }
//  100% { opacity: 1; -webkit-transform: translateX(0); }
//}
//
//
//@-webkit-keyframes menu-slide-off {
//  0% { opacity: 0; -webkit-transform: translateX(100%); }
//  20% { opacity: 0.2; -webkit-transform: translateX(80%); }
//  40% { opacity: 0.4; -webkit-transform: translateX(60%); }
//  60% { opacity: 0.6; -webkit-transform: translateX(40%); }
//  80% { opacity: 0.8; -webkit-transform: translateX(20%); }
//  100% { opacity: 1; -webkit-transform: translateX(0); }
//}
//@-moz-keyframes menu-slide-off {
//  0% { opacity: 0; -webkit-transform: translateX(100%); }
//  20% { opacity: 0.2; -webkit-transform: translateX(80%); }
//  40% { opacity: 0.4; -webkit-transform: translateX(60%); }
//  60% { opacity: 0.6; -webkit-transform: translateX(40%); }
//  80% { opacity: 0.8; -webkit-transform: translateX(20%); }
//  100% { opacity: 1; -webkit-transform: translateX(0); }
//}
//
//@keyframes menu-slide-off {
//  0% { opacity: 0; -webkit-transform: translateX(100%); }
//  20% { opacity: 0.2; -webkit-transform: translateX(80%); }
//  40% { opacity: 0.4; -webkit-transform: translateX(60%); }
//  60% { opacity: 0.6; -webkit-transform: translateX(40%); }
//  80% { opacity: 0.8; -webkit-transform: translateX(20%); }
//  100% { opacity: 1; -webkit-transform: translateX(0); }
//}
