@import "../utils/spinner";
@import "../utils/scrollbar";
*{
  margin: 0px;
  padding: 0px;
  font-family: "Proxima Nova", sans-serif;

  @include crims_load_spinner;
  @include crims_scrollbar;
}
 body, html {
   height: 100%;
   margin: 0px;
   padding: 0px;
   overflow-x: hidden;
   font-family: "Proxima Nova", sans-serif;
   max-width: 100%;
   background-color: #f1f1f1;
 }

 .sidebar {
   height: 100vh;
   width: 250px;
   position: absolute;
   left: 0;
   bottom: 0;
   top: 50px;
 }

.side-menu {
  height: 100%;
  background: #2d3846;
  bottom: 0px;
  padding-top: 18px;
  //position: fixed;
  margin-top: 0;
  //overflow-x: hidden;
  //overflow-y: auto;
  white-space:nowrap;
  min-width: 120px;
  z-index: 600;

  .navigation-primary {
    margin-top: 15px;
  }


  ul {
    margin-left: 0px;
    width: 100%;

    li {
      list-style: none;
      margin: 5px 0;
      padding: 5px 0;
      width: 100%;



      a {
        padding: 11px 10px 11px 35px;
        height: 35px;

        font-size: 14px;
        font-family: 'Proxima Nova';
        font-weight: 500;
        color: #ffffff;
        width: 100%;
        transition: .2s;
        display: flex;
        align-items: center;

        i{
          margin-right: 15px;
        }

        &:hover {
          color: #a2d45e;
          background: rgba(2, 2, 2, 0.2);

        }



        &.router-link-exact-active {
          background: rgba(2, 2, 2, 0.2);
          height: 35px;
          width: 100%;
          border-left: 5px solid #a2d45e;
          font-size: 16px;
          padding: 10px 10px 10px 30px;
          z-index: -1;
          i {
            color: #a2d45e;
          }
        }

      }

      &.has_dropdown {
        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .caret-arrow {
            color: #ffffff;
            content: ' ';
            display: inline-block;
            border-right: 7px solid transparent;
            border-top:7px solid currentColor;
            border-left: 7px solid transparent;
            //vertical-align: middle;
            transform: translateY(-2px);
            transition: transform .3s ease-out;
            width: 10px;

            &.title-active {
              transform: rotate(180deg) translateX(-3px);
            }

          }
        }
        .dropdown_menu {
          display: flex;
          flex-direction: column;

          a {
            padding: 10px 10px 10px 50px;
            &.router-link-exact-active {
              padding: 10px 10px 10px 45px;
            }
          }
        }
      }


    }

  }


  .my-fa-menu {
    hr{
      /* Base style */
      color: #ffffff;
      font-weight: 400;
      border: 1px solid #050000;
      opacity: 0.3;
      margin-top: 2px;
    }
    label {
      /* Style for "FINANCIAL" */
      padding-left: 20px;
      height: 16px;
      color: #ffffff;
      font-family: "Proxima Nova";
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      margin-right: .5rem;
    }

    .caret-arrow {
      color: #ffffff;
      content: ' ';
      display: inline-block;
      border-right: 7px solid transparent;
      border-top: 7px solid currentColor;
      border-left: 7px solid transparent;
      //vertical-align: middle;
      transform: translateY(-2px);
      transition: transform .3s ease-out;
    }

    input {
      display: none;
      visibility: hidden;
    }


#my-fa-menu-display {
visibility: hidden;
  transition:  all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;;
}
  #toggle:checked ~ #my-fa-menu-display {
    transition-delay: 0s, 0s, 0.3s;
    visibility: visible;
  }

    #toggle:checked ~ .caret-arrow {
      transform: rotate(180deg) translateX(-3px);
    }
}
}



