<script>
    import Vue from 'vue';

    Vue.component('payment-index', require('./payments'));

    export default {

    }
</script>

<template>

    <div class="crims-page investment-details">
        <breadcrumb>
            <h3>
                <router-link :to="{name: 'main'}">DASHBOARD</router-link>
                |&nbsp;
                <router-link :to="{name: 'investments.REList'}">REAL ESTATE</router-link>
                <span>RECENT ACTIVITIES</span>
            </h3>
        </breadcrumb>

        <div class="investment-details-table-section small-12 medium-12">
            <el-container>

                <el-main class="investment-details-table-section-body">
                    <payment-index pages="10"></payment-index>
                </el-main>
            </el-container>
        </div>
    </div>

</template>