<script>

    export default {
        props: ['unit'],

        data: function () {
            return {
                activeNames: ['1']
            };
        },
    }
</script>

<template>
    <div class="bank-details" v-if="unit.bank_details">
        <div class="">
            <h5>Bank Details for the <b>{{ unit.project }}</b></h5>
        </div>

        <hr>

        <div>
            <table>
                <tr>
                    <th>Account Name</th>
                    <td>{{ unit.bank_details.account_name }}</td>
                </tr>
                <tr>
                    <th>Account Number</th>
                    <td>{{ unit.bank_details.account_number }}</td>
                </tr>

                <tr>
                    <th>Bank & Branch</th>
                    <td>{{ unit.bank_details.bank }} ({{ unit.bank_details.branch }})</td>
                </tr>
                <tr>
                    <th>Swift Code</th>
                    <td>{{ unit.bank_details.swift_code }}</td>
                </tr>
            </table>
        </div>
    </div>
</template>

<style scoped>

    .bank-details {
        padding: 20px;
    }

    table {
        text-align: left;
    }

    .bank-details td
    {
        padding-left: 4%;
    }

</style>