<script>
    export default {
        props: ['details', 'totals'],

        computed: {
            projects() {
                return Object.keys(this.details).length;
            }
        },

        methods: {
            viewRE() {
                this.$emit('view-re');
            }
        }
    }
</script>

<template>
    <div class="">
        <div class="item-general-stats-header">
            <div class="item-general-stats-header-left">
                <p>REAL ESTATE PROJECTS</p>
            </div>
            <div class="item-general-stats-header-right">
                <span class="today-stat-text">ALL</span>
            </div>
        </div>

        <div class="item-general-stats-body first-body">
            <div class="item-general-stats-body-left">
                <p>
                    <span class="header">All Projects</span>
                    <br>
                    <!--<span class="description"><b>{{ projects }}</b> Project(s).</span>-->
                </p>
            </div>
            <div class="item-general-stats-body-right">
                <p><span class="description"><b>{{ projects }}</b></span></p>
            </div>
        </div>

        <div class="item-general-stats-body">
            <div class="item-general-stats-body-left">
                <p>
                    <span class="header">Total Amount Paid</span>
                    <br>
                    <!--<span class="description"><b>{{ totals.total_paid | currency }}</b></span>-->
                </p>
            </div>
            <div class="item-general-stats-body-right">
                <p><span class="description"><b>{{ totals.total_paid | currency }}</b></span></p>
            </div>
        </div>

        <br>

        <div>
            <el-button @click="viewRE" round size="small">VIEW ALL</el-button>
        </div>

    </div>
</template>