<script>
    export default {
        props: ['pages'],

        data() {
            return {
                active_tab: 'recent_activities'
            }
        },

        methods: {
            switchTabs(tab) {
                this.active_tab = tab;
            },

            viewMore() {
                this.$router.push({ name: 'real_estate.activities' });
            }
        }
    }
</script>

<template>

    <div class="">
        <div class="switch-buttons-area">
            <div class="switch-buttons">
                <el-button-group>
                    <el-button size="mini" @click="switchTabs('recent_activities')">RECENT ACTIVITIES</el-button>
                    <el-button size="mini" @click="switchTabs('upcoming_payments')">UPCOMING PAYMENTS</el-button>
                    <el-button size="mini" @click="switchTabs('overdue_payments')">OVERDUE PAYMENTS</el-button>
                </el-button-group>
            </div>

            <div class="view-all" v-if="pages < 5">
                <el-button size="mini" @click="viewMore">VIEW MORE</el-button>
            </div>
        </div>

        <div class="" v-if="active_tab === 'recent_activities'">
            <h4 class="section-title">RECENT ACTIVITIES</h4>
            <re_recent-activities_comp :pages="pages"></re_recent-activities_comp>
        </div>

        <div class="" v-if="active_tab === 'upcoming_payments'">
            <h4 class="section-title">UPCOMING PAYMENTS</h4>
            <upcoming_payments :pages="pages"></upcoming_payments>
        </div>

        <div class="" v-if="active_tab === 'overdue_payments'">
            <h4 class="section-title">OVERDUE PAYMENTS</h4>
            <overdue_payments :pages="pages"></overdue_payments>
        </div>
    </div>

</template>

<style lang="scss">

    .switch-buttons-area {
        display: flex;
        padding: 1%;

        .switch-buttons {
            width: 50%;
            text-align:left;
        }
        .view-all {
            width: 50%;
            text-align: right;
        }
    }

    .section-title {
        font-family: Futura;
        font-size: 14px;
        padding: 1%;
    }

</style>