<script>
    import {mapGetters} from 'vuex';
    import PaginationMixins from '../../../../mixins/vuetable/paginationMixins';

    export default {
        mixins: [PaginationMixins],
        props: ['pages'],
        data() {
            return {
                fields: [
                    {
                        name: 'date',
                        title: 'Date'
                    },
                    {
                        name: 'project',
                        title: 'Project'
                    },
                    {
                        name: 'unit_no',
                        title: 'Unit Number'
                    },
                    {
                        name: 'type',
                        title: 'Type'
                    },
                    {
                        name: 'amount',
                        title: 'Amount (KES)'
                    },
                    {
                        name: 'desc',
                        title: 'Description'
                    },
                ]
            }
        },

        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient'
            }),

            url: function () {
                return '/api/client/' + this.selectedClient.id + '/activity-log/re-brief';
            }
        }
    }
</script>

<template>
    <div class="sp-recent-activities">

        <div class="recent-activities-area">
            <div>
                <div class="crims-table-area table_scroll refined-table">
                    <vuetable ref="vuetable"
                              :api-url="url"
                              :fields="fields"
                              :multi-sort="true"
                              :per-page="parseInt(pages)"
                              pagination-path=""
                              @vuetable:pagination-data="onPaginationData">
                    </vuetable>

                    <div class="crims-table-area__foot">
                        <div class="vuetable-pagiclination crims-table-area__pagination  ui basic segment grid">
                            <vuetable-pagination-info ref="paginationInfo"></vuetable-pagination-info>
                            <vuetable-pagination :css="pagination" ref="pagination" @vuetable-pagination:change-page="onChangePage">
                            </vuetable-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>