<script>
    import {mapGetters} from 'vuex';
    import DashCardPlaceholder from '../../utils/card-loaders';

    export default {
        data() {
            return {
                itemsPerPage: 3,
                pageNumber: 0,
                smallDevice: false,
            }
        },

        components: [DashCardPlaceholder],

        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient',
                realEstateSummary: 'realEstateSummary',
                fetchingRESummary: 'fetchingRESummary',
                realEstateTotals: 'realEstateTotals',
                realEstateDetails: 'realEstateDetails'
            }),

            pageCount() {
                let l = this.realEstateDetails.length;

                // if (this.smallDevice) {
                //     l -= 1;
                // }

                let s = this.itemsPerPage;

                return Math.ceil(l / s);
            },

            rePaginated() {

                const start = this.pageNumber * this.itemsPerPage,
                    end = start + this.itemsPerPage;

                let reInvestments = [...this.realEstateDetails];


                return reInvestments.slice(start, end);
            },

            paginationCount() {

                let page = parseInt(this.pageNumber) + 1,
                    total = parseInt(this.pageCount);

                return 'Page ' + page + ' of ' + total;
            }
        },

        watch: {
            selectedClient: {
                handler: function () {
                    this.fetchReSummaries();
                }
            },
        },

        methods: {
            fetchReSummaries: function () {
                this.$store.commit('GET_REAL_ESTATE_SUMMARY', this.selectedClient.id);
            },

            viewRE(id) {

                let project = id ? this.slugify(id) : null;

                this.$router.push({name: 'investments.REList', params: {id: project}});
            },

            slugify(text) {
                return text.toString().toLowerCase()
                    .replace(/\s+/g, '-')
                    .replace(/[^\w\-]+/g, '')
                    .replace(/^-+/, '')
                    .replace(/-+$/, '');
            },
            getWindowWidth(event) {
                this.windowWidth = document.documentElement.clientWidth;
                if (this.windowWidth < 1310 && this.windowWidth > 1270) {
                    this.itemsPerPage = 3;
                    // this.smallDevice = false;
                } else if (this.windowWidth < 1270 && this.windowWidth > 615) {
                    this.itemsPerPage = 2;
                    // this.smallDevice = false;
                } else if (this.windowWidth < 615) {
                    this.itemsPerPage = 1;
                    // this.smallDevice = true;
                } else {
                    this.itemsPerPage = 3;
                    // this.smallDevice = false;
                }
            },

            nextPage() {

                // if(this.pageNumber === this.pageCount - 1) {
                //     return;
                // }

                this.pageNumber++;
            },

            prevPage() {
                this.pageNumber--;
            },

            // nextPayment(data) {
            //     let sorted = data.sort(function (a, b) {
            //         return new Date(b.next_payment_date) - new Date(a.next_payment_date);
            //     })[0];
            //
            //     if (sorted.next_payment_date) {
            //         return {
            //             date: sorted.next_payment_date,
            //             amount: sorted.next_payment_amount,
            //         }
            //     }
            //
            //     return false;
            // }
        },

        mounted() {
            this.$nextTick(function () {
                window.addEventListener('resize', this.getWindowWidth);
                this.getWindowWidth();

            });

            this.fetchReSummaries();
        }
    }
</script>

<template>
    <div class="investment-cards">
        <div v-if="fetchingRESummary">
            <dash-card-placeholder></dash-card-placeholder>
        </div>

        <div class="unit_trust">
            <div
                    class="fund_cards__body"
                    v-show="!fetchingRESummary"
                    v-for="project in rePaginated"
                    @click="viewRE(project.project)">

                <div class="summary">
                    <h3>{{ project.project.toUpperCase() }} </h3>

                    <h2>
                        <small>AMOUNT PAID:</small>
                        KES {{ project.totalPaid | currency(null, 0)  }}
                    </h2>
                </div>

                <div class="details">

                    <div class="details__description">
                        <span>Project Units:</span>
                        <span>{{ project.units.length }}</span>
                    </div>

                    <div class="details__description">
                        <span>Total Value:</span>
                        <span>KES {{ project.totalValue | currency(null, 0) }}</span>
                    </div>

                    <div class="details__description" v-if="(project.nextPayment)">
                        <span>Next Payment:</span>
                        <span>{{ (project.nextPayment).date }} - KES {{ (project.nextPayment).amount | currency(null, 0)}}</span>
                    </div>

                    <div class="details__description"
                         v-if="!project.nextPayment && project.overdueAmount > 0">
                        <span> Total Overdue Payments:</span>
                        <span>KES {{ project.overdueAmount | currency(null, 0) }}</span>
                    </div>

                    <div class="" v-else>
                        <el-tag type="success">On Schedule</el-tag>
                    </div>

                </div>

                <div class="toggle">
                    <button>View Project</button>
                </div>

            </div>
        </div>

        <div class="investment-cards__pagination">
            <div class="toggle_cards">
                <div v-show="pageCount > 1">
                    <button
                            class="button-paginate "
                            @click="prevPage"
                            :disabled="pageNumber === 0">

                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </button>
                    <span class="paginate-text">
                    {{paginationCount}}
                </span>
                    <button
                            class="button-paginate"
                            @click="nextPage"
                            :disabled="parseInt(pageNumber)+1 === pageCount">

                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>
</template>

<style scoped>
    .view_more {
        color: #333;
        background-color: #fff;
        border-color: #ccc;
        padding: 5px;
        border-radius: 3px;
        list-style-type: none;
    }
</style>