<script>
    import {mapGetters} from 'vuex';
    import PaginationMixins from '../../../../mixins/vuetable/paginationMixins';

    export default {
        mixins: [PaginationMixins],
        props: ['pages'],
        data() {
            return {
                fields: [
                    {
                        name: 'project',
                        title: 'Project'
                    },

                    {
                        name: 'unit_no',
                        title: 'Unit Number'
                    },

                    {
                        name: 'date',
                        title: 'Date'
                    },

                    {
                        name: 'amount',
                        title: 'Amount (KES)'
                    },

                    {
                        name: '__slot:actions',
                        title: 'Actions',
                        dataClass: 'action'
                    },
                ]
            }
        },

        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient'
            }),

            url: function () {
                return '/api/client/' + this.selectedClient.id + '/upcoming-payments';
            }
        }
    }
</script>

<template>
    <div class="sp-recent-activities">

        <div class="recent-activities-area">
            <div>
                <div class="crims-table-area table_scroll">


                    <vuetable ref="vuetable"
                              :api-url="url"
                              :fields="fields"
                              :multi-sort="true"
                              :per-page="pages"
                              pagination-path=""
                              @vuetable:pagination-data="onPaginationData">
                        <template slot="actions" slot-scope="props" class="action">
                            <router-link :to="{ name: 'realestate.details', params: { id: props.rowData.unit_id }}">
                                <i class="el-icon-view" aria-hidden="true"></i>
                            </router-link>
                        </template>
                    </vuetable>

                    <div class="crims-table-area__foot">
                        <div class="vuetable-pagiclination crims-table-area__pagination  ui basic segment grid">
                            <vuetable-pagination-info ref="paginationInfo"></vuetable-pagination-info>
                            <vuetable-pagination :css="pagination" ref="pagination" @vuetable-pagination:change-page="onChangePage">
                            </vuetable-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>