<script>
    import RatesBody from './rates_body'

    export default  {
        components:{RatesBody},
    }

</script>
<template>
    <div class="crims-page">
        <breadcrumb>
            <h3>Prevailing Rates</h3>
        </breadcrumb>

        <rates-body></rates-body>
    </div>
</template>