<script>
    import {mapGetters} from 'vuex';
    import Vue from 'vue';
    Vue.component('tablePlaceHolderShimmer', require('../../utils/_table_loader.vue'));

    export default {
        props: ['product'],

        data: () => ({
            prevailing_rates: '',
            loading: false
        }),

        watch: {
            product: {
                handler: function () {
                    this.getPrevailingRates();
                }
            },
        },

        methods: {
            getPrevailingRates: function () {
                this.loading = true;
                this.$http.get('/api/product/prevailing-rates/'+this.product.id)
                    .then(response => {
                        this.prevailing_rates = response.data;
                        this.loading = false;
                    }, response => {
                        this.loading = false;
                        let vm = this;
                        this.$message.error('Oops!, '+vm.product.shortname,+' Rates could not be loaded!!');
                    });
            }
        },

        mounted(){
            this.getPrevailingRates();
        }

    }
</script>
<template>
    <div class="rates cms">

        <div v-if="loading">
            <tablePlaceHolderShimmer></tablePlaceHolderShimmer>
        </div>

        <div class="rates__body" v-else >
            <table>
                <thead>
                    <th v-for="(rate, key, index) in prevailing_rates">{{key}} <span v-if="key>1">Months</span> <span v-else>Month</span></th>
                </thead>
                <tbody>
                    <tr >
                        <td v-for="(rate, key, index) in prevailing_rates">
                            <span class="rates_desc">
                                <span v-for="rt in rate">
                                  {{ rt.rate }}%
                                    <span v-if="rt.min_amount > 0"> for amounts above {{ rt.min_amount | currency }}.</span>
                                    <span v-else></span>
                                </span>
                            </span>
                        </td>
                    </tr>

                    <tr v-if="prevailing_rates.length == 0">
                        <td class="error">
                            No rates available!
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</template>