<script>
    import Vue from 'vue';
    import {mapGetters} from 'vuex';

    Vue.component('prevailing-rates', require('./rates.vue'));

    export default {
        data() {
            return {
                activeSections: []
            };
        },

        computed: {
            ...mapGetters({
                loading: 'fetchingInvproducts',
                rates: 'prevailingRates',
                products: 'Invproducts'
            })
        }
    }
</script>

<template>
    <div class="prevailing-rates">
        <div class="rates_body">
            <div class="content_sections">
                <div v-if="loading">
                    <tablePlaceHolderShimmer></tablePlaceHolderShimmer>
                </div>
                <div>
                    <el-collapse v-model="activeSections" accordion style="width: 900px;">

                        <el-collapse-item v-for="product in products" :title="product.name" :name="product.id"
                                          :key="product.id">
                            <div class="product_section">
                                <prevailing-rates :product="product"></prevailing-rates>
                            </div>
                        </el-collapse-item>

                    </el-collapse>
                </div>
            </div>
        </div>
    </div>
</template>
