<script>
    import Vue from 'vue';
    import LoginController from './controller';

    Vue.component('client-login-form', require('./login'));
    Vue.component('client-verify-form', require('./verify'));

    export default {
        mixins: [ LoginController ]
    }
</script>

<template>
    <div>
        <div class="login-panel" v-if="loggingIn">
            <client-login-form></client-login-form>
        </div>

        <div class="login-panel" v-if="!loggingIn">
            <client-verify-form></client-verify-form>
        </div>
    </div>
</template>