<script>
    import LoginController from './controller';

    export default {
        mixins: [ LoginController ],
    }
</script>

<template>
    <div class="">
        <h3>Enter Username/Email Address and Password To Continue</h3>

        <form name="login_form">

            <input
                    class="login_text_field"
                    placeholder="Enter your username or email address"
                    name="username"
                    type="text"
                    v-model="creds.username"
            >

            <input
                    class="login_text_field"
                    placeholder="Enter your password"
                    name="password"
                    :type="togglePass"
                    v-model="creds.password"
            >

            <el-checkbox class="login_text_field view_password" v-model="seePass" border size="mini">See password</el-checkbox>

            <button
                    @click="verify($event)"
                    :disabled="submitting"
                    class="large button login-button"
                    type="submit"
            >
                <i :class="{'fa-spinner fa-spin':submitting, 'fa-lock':!submitting }" class="fa"></i>
                Login
            </button>

            <router-link
                    class="forgot_password_link"
                    :to="{ name: 'password.forgot'}"
            >
                Forgot your password?
            </router-link>
        </form>
    </div>
</template>