<script>
    import LoginController from './controller';

    export default {
        mixins: [LoginController]
    }
</script>

<template>
    <div class="verification_token">

        <div class="verification_token__header">
            <h4>2-Step Verification</h4>
            <p>This helps to show the account really belongs to you</p>

            <i v-if="parseInt(ver_option)  === 1" class="fa fa-envelope token_icon" aria-hidden="true"></i>
            <i v-if="parseInt(ver_option)  === 2" class="fa fa-comment token_icon" aria-hidden="true"></i>
            <i v-if="parseInt(ver_option)  === 3" class="fa fa-mobile-phone token_icon" aria-hidden="true"></i>

            <p>
                A six digit verification has been set to your
                <span v-if="parseInt(ver_option)  === 1">Email</span>
                <span v-else-if="parseInt(ver_option)   === 2">Phone</span>
                <span v-else-if="parseInt(ver_option)   === 3">Authy Application</span>
            </p>
        </div>

        <div class="verification_token__form">
            <form name="login_form">

                <input
                        autocomplete="off"
                        class="login_text_field"
                        placeholder="Enter token"
                        name="token"
                        type="text"
                        v-model="creds.token"
                >

                <button
                        @click="authenticate($event)"
                        :disabled="submitting"
                        class="button login-button"
                        type="submit">
                    <i :class="{'fa-spinner fa-spin':submitting, 'fa-lock':!submitting }" class="fa"></i>
                    Continue
                </button>
            </form>
            <h6>
                Did not get the code? <a @click="requestSMS">Send Again</a>
            </h6>

            <br>

            <div class="">
                <el-button type="info" size="small" @click="closeTokenModal">Go back</el-button>
            </div>
        </div>
    </div>
</template>