<script>
    import LoginController from './controller';
    import Vue from 'vue';

    Vue.component('token-verification', require('./token'));

    export default {
        mixins: [ LoginController ],

        watch: {
            verification_option: 'setOption'
        },
    }
</script>

<template>
    <div class="">

        <h3>You are required to make a two step verification:</h3>

        <div class="token_instr">
            <p>Please select an option where you would like us to send you the verification code:</p>
        </div>

        <div class="verification-form">
            <el-radio-group v-model="verification_option">
                <el-radio :label="1">Your email at <strong> {{ userDetails.email | trimEmail }}</strong></el-radio>
                <br>
                <el-radio :label="2">Your phone through sms at <strong>{{ userDetails.phone | trimPhone }}</strong></el-radio>
                <br>
                <el-radio :label="3">I have the authy application, use the token sent there</el-radio>
            </el-radio-group>

            <br>
            <br>

            <el-button class="login-button large" @click="requestSMS()">
                <i :class="{'fa-spinner fa-spin':requestingSMS, 'fa-envelope':!requestingSMS }" class="fa"></i>
                Send Token
            </el-button>
        </div>

        <el-dialog
                :visible.sync="verification_sent"
                class="verify_modal"
                center
                :show-close="false">
            <token-verification></token-verification>
        </el-dialog>
    </div>
</template>

<style scoped lang="scss">

</style>