<script>
    import allocations from './mixins/allocations';

    export default {
        mixins: [ allocations ],
    }
</script>

<template>
    <div class="">
        <div class="panel panel-success">
            <div class="panel-body">
                <div class="col-md-12">
                    <p>
                        <span v-if="order.asset_class == 'Equities'">
                            <b>Shares to allocate:</b> {{ total_shares }}
                        </span>
                        <span v-else>
                            <b>Amount to allocate:</b> {{ total_amount | currency }}
                        </span>
                    </p>
                    <hr>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <br>
                        <label>Date: </label>
                        <br>
                        <el-date-picker
                                v-model="date"
                                type="date"
                                placeholder="Pick a day"
                                style="width: 50%">
                        </el-date-picker>
                        <br>
                    </div>
                </div>

                <hr>

                <div class="col-md-12" v-if="allocations.length > 0">
                    <div class="form-group">
                        <hr>
                        <table class="table table-responsive-table-hover table-striped">
                            <thead>
                                <tr v-if="order.asset_class == 'Equities'">
                                    <th>No of shares</th>
                                    <th>Price per share</th>
                                    <th></th>
                                </tr>
                                <tr v-else>
                                    <th>Amount</th>
                                    <th>Rate</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="allocation in allocations">
                                    <td v-if="order.asset_class == 'Equities'">{{ allocation.shares }}</td>
                                    <td v-else>{{ allocation.amount | currency }}</td>
                                    <td v-if="order.asset_class == 'Equities'">{{ allocation.price }}</td>
                                    <td v-else>{{ allocation.rate }}</td>
                                    <td>
                                        <span>
                                            <el-button type="danger" @click="removeAllocation(allocation)" size="mini">
                                                <i class="fa fa-remove"></i>
                                            </el-button>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <hr>

                <div v-if="order.asset_class == 'Equities'">
                    <br>
                    <div class="col-md-5">
                        <div class="form-group">
                            <br>
                            <el-input placeholder="Enter shares" v-model="shares" style="width: 100%;"></el-input>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <br>
                            <el-input placeholder="Enter price" v-model="allocation.price" style="width: 100%;"></el-input>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <br>
                            <el-button type="primary" size="small" @click="addAllocation"><i class="fa fa-plus"></i></el-button>
                            <br>
                        </div>
                    </div>
                </div>

                <div v-else>
                    <br>
                    <div class="col-md-5">
                        <div class="form-group">
                            <br>
                            <el-input placeholder="Enter amount" v-model="allocation.amount" style="width: 100%;"></el-input>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <br>
                            <el-input placeholder="Enter rate" v-model="allocation.rate" style="width: 100%;"></el-input>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <br>
                            <el-button type="primary" size="small" @click="addAllocation"><i class="fa fa-plus"></i></el-button>
                            <br>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="panel-body">
            <button class="btn btn-primary" type="submit" @click="submit">
                <i class="fa fa-spinner fa-spin" v-if="allocatingOrder"></i> <i class="fa fa-save" v-else></i> Allocate
            </button>
            <a class="btn btn-default" @click="close">Cancel</a>
        </div>
    </div>
</template>