<script>
    import Vue from 'vue';
    import { mapGetters } from 'vuex';
    import Settlement from './mixins/settlement';

    Vue.component('settle-order', require('./settle'));
    Vue.component('equity-order', require('./equities'));
    Vue.component('reject-allocation', require('./reject'));

    export default {
        props: ['portfolioOrder', 'fundOrders', 'status'],

        mixins: [ Settlement ],

        data() {
            return {
                transaction_type: '',
                form: {}
            }
        },

        computed: {
            ...mapGetters({
                settleModal: 'settleModal',
                rejectModal: 'rejectModal',
                settleEquityModal: 'settleEquityModal'
            })
        },

        methods: {
            transact: function (allocation, type) {

                this.transaction_type = (type === 'confirm') ? 1 : 0;

                this.form = {
                    allocation_id: allocation.id,
                    type: this.transaction_type,
                    order_id: this.portfolioOrder.id
                };

                this.$confirm('Are you sure to '+type+ ' this allocation?')
                    .then( () => {
                        this.submit(allocation);
                    })
                    .catch( () => {});
            },

            submit: function (allocation) {

                this.$store.commit('SUBMIT_ALLOCATION_TRANSACTION', this.form);
            },

            settle: function (allocation) {

                if(this.portfolioOrder.asset_class == 'Equities') {
                    this.settleEquityAllocation(allocation);
                } else {
                    this.settleDepositAllocation(allocation);
                }
            },

            settleDepositAllocation: function (allocation) {

                this.$store.commit('DEPOSIT_SETTLEMENT_DIALOG', true);

                this.$store.commit('SET_ALLOCATION', allocation);
            },

            settleEquityAllocation: function (allocation) {

                this.$store.commit('EQUITY_SETTLEMENT_DIALOG', { value: true, allocation: allocation });
            },

            totalSharesAllocated: function () {
                return this.portfolioOrder.order_allocations.reduce( (carry, order) => {
                    return carry + parseFloat(order.shares);
                }, 0);
            },

            totalAmountAllocated: function () {
                return this.portfolioOrder.order_allocations.reduce( (carry, order) => {
                    return carry + parseFloat(order.amount);
                }, 0);
            }
        }
    }
</script>

<template>
    <div class="col-md-12  panel panel-success">
        <br>
        <h5><b>ALLOCATIONS</b></h5>

        <hr>

        <template>
            <el-table :data="portfolioOrder.order_allocations" style="width: 100%">
                <el-table-column type="expand">
                    <template slot-scope="props">
                        <table class="table table-hover">
                            <tr>
                                <th> Unit Fund </th>
                                <th v-if="portfolioOrder.asset_class == 'Equities'"> Shares </th>
                                <th v-if="portfolioOrder.asset_class == 'Deposits' || portfolioOrder.asset_class == 'Bonds'"> Amount </th>
                                <th> Allocated </th>
                                <th>Allocation</th>
                            </tr>

                            <tr v-for="fundOrder in fundOrders">
                                <td>{{ fundOrder.fund }}</td>

                                <td v-if="portfolioOrder.asset_class == 'Equities'">
                                    {{ fundOrder.shares }}
                                </td>

                                <td v-if="portfolioOrder.asset_class == 'Deposits' || portfolioOrder.asset_class == 'Bonds'">
                                    {{ fundOrder.amount | currency}}
                                </td>

                                <td v-if="portfolioOrder.asset_class == 'Equities'">
                                    {{ fundOrder.shares_allocated }}
                                </td>

                                <td v-if="portfolioOrder.asset_class == 'Deposits' || portfolioOrder.asset_class == 'Bonds'">
                                    {{ fundOrder.amount_allocated | currency }}
                                </td>

                                <td v-if="portfolioOrder.asset_class == 'Equities'">
                                    {{ shares(fundOrder, props.row) }}
                                </td>

                                <td v-if="portfolioOrder.asset_class == 'Deposits' || portfolioOrder.asset_class == 'Bonds'">
                                    {{ amount(fundOrder, props.row) | currency }}
                                </td>
                            </tr>
                        </table>
                    </template>
                </el-table-column>

                <el-table-column label="Date" prop="date"> </el-table-column>

                <el-table-column label="Shares" v-if="portfolioOrder.asset_class == 'Equities'">
                    <template slot-scope="scope">
                        <span>
                            {{ scope.row.shares }}
                        </span>
                    </template>
                </el-table-column>

                <el-table-column label="Amount" v-if="portfolioOrder.asset_class == 'Deposits' || portfolioOrder.asset_class == 'Bonds'">
                    <template slot-scope="scope">
                        <span>
                            {{ scope.row.amount | currency }}
                        </span>
                    </template>
                </el-table-column>

                <el-table-column label="Price" v-if="portfolioOrder.asset_class == 'Equities'">
                    <template slot-scope="props">
                        <span>
                            {{ props.row.price }}
                        </span>
                    </template>
                </el-table-column>

                <el-table-column label="Rate" v-if="portfolioOrder.asset_class == 'Deposits' || portfolioOrder.asset_class == 'Bonds'">
                    <template slot-scope="props">
                        <span>
                            {{ props.row.rate }} %
                        </span>
                    </template>
                </el-table-column>

                <el-table-column label="Confirmation">
                    <template slot-scope="scope">
                        <el-tag size="small" v-if="scope.row.status == 0"> awaiting confirmation </el-tag>
                        <el-tag size="small" type="warning" v-if="scope.row.status == 1"> awaiting settlement </el-tag>
                        <el-tag size="small" type="danger" v-if="scope.row.status == 2"> rejected </el-tag>
                        <el-tag size="small" type="warning" v-if="scope.row.status == 3"> awaiting approval </el-tag>
                        <el-tag size="small" type="success" v-if="scope.row.status == 4"> settled </el-tag>
                    </template>
                </el-table-column>

                <el-table-column label="Action">
                    <template slot-scope="scope">
                        <span v-if="scope.row.status == 0">
                            <el-button-group>
                                <el-button type="primary" size="mini" @click="transact(scope.row, 'confirm')"> Confirm </el-button>
                                <el-button type="danger" size="mini" @click="transact(scope.row, 'reject')"> Reject </el-button>
                            </el-button-group>
                        </span>

                        <span v-if="scope.row.status == 1">
                            <el-button type="warning" size="mini" @click="settle(scope.row)"> Settle </el-button>
                        </span>
                    </template>
                </el-table-column>

                <el-table-column label="Reason" v-if="portfolioOrder.reject_reason !== null">
                    <template slot-scope="props">
                        <span>
                            {{ props.row.reject_reason }}
                        </span>
                    </template>
                </el-table-column>
            </el-table>
        </template>

        <el-dialog
                title = "SETTLE PORTFOLIO ORDER"
                :visible.sync="settleModal"
                width="20%"
                :show-close="false">
                <span>
                    <settle-order></settle-order>
                </span>
        </el-dialog>

        <el-dialog
                title = "SETTLE PORTFOLIO ORDER"
                :visible.sync="settleEquityModal"
                width="20%"
                :show-close="false">
                <span>
                    <equity-order :order="portfolioOrder"></equity-order>
                </span>
        </el-dialog>

        <el-dialog
                title = "REJECT ALLOCATION"
                :visible.sync="rejectModal"
                width="20%"
                :show-close="false">
                <span>
                    <reject-allocation :form="form"></reject-allocation>
                </span>
        </el-dialog>
    </div>
</template>