<script>
    import { mapGetters } from 'vuex';
    import { Message } from 'element-ui';

    export default {
        props: ['order'],

        data() {
            return {
                form: {},
                fees: [],
                fee: {},
                editing: false
            }
        },

        computed: {
            ...mapGetters({
                settlingDeposit: 'settlingDeposit',
                settlementFees: 'settlementFees',
                allocation: 'orderAllocation',
                settling: 'settling'
            }),

            gross_amount() {
                return this.allocation.shares * this.allocation.price;
            },

            netAmount: function () {
                let charges = this.fees.reduce( (carry, fee) => {
                    return carry + parseFloat(this.calculateAmount(fee));
                }, 0);

                return (this.order.order_type == 'Buy')
                    ? this.gross_amount + charges
                    : this.gross_amount - charges;
            },
        },

        methods: {
            settle: function () {

                this.form.id = this.allocation.id;
                this.form.order_id = this.order.id;

                this.form.fees = this.fees;

                this.$store.commit('SETTLE_EQUITY_ORDER_ALLOCATION', this.form);
            },

            calculateAmount: function (fee) {
                if(fee.percentage) {
                    return (fee.percentage/100) * this.gross_amount;
                }

                return fee.amount;
            },

            edit: function (fee) {
                this.editing = true;
                this.fee = fee;
            },

            editFee: function () {
                let vm = this;

                this.fees.filter( function (fee) {

                    if(fee.id == vm.fee.id) {
                        fee.percentage = vm.fee.percentage;
                        fee.amount = vm.fee.amount;
                    }

                })[0];

                this.fee = {};
                this.editing = false;
            },

            remove: function (fee) {
                var index = this.fees.indexOf(fee);

                if (index !== -1) {
                    this.fees.splice(index, 1);
                }
            },

            close: function () {
                this.$store.commit('EQUITY_SETTLEMENT_DIALOG', false);
            }
        },

        mounted() {
            this.fees = this.settlementFees;
        }
    }

</script>

<template>
    <div class="">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-responsive-table-hover table-striped">
                    <tbody>
                        <tr>
                            <th>Gross Amount</th>
                            <th></th>
                            <th style="text-align: right">{{ allocation.shares * allocation.price | currency }}</th>
                            <th></th>
                        </tr>
                        <tr v-for="fee in fees">
                            <td>{{ fee.description }}</td>
                            <td>
                                <span v-if="fee.percentage">
                                    {{ fee.percentage }} %
                                </span>
                            </td>
                            <td style="text-align: right"> {{ calculateAmount(fee) | currency }} </td>
                            <td style="text-align: right">
                                <el-button-group>
                                    <el-button type="primary" size="mini" @click="edit(fee)">
                                        <i class="fa fa-pencil"></i>
                                    </el-button>

                                    <el-button type="danger" size="mini" @click="remove(fee)">
                                        <i class="fa fa-trash"></i>
                                    </el-button>
                                </el-button-group>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>NET AMOUNT</th>
                            <th>KES</th>
                            <th style="text-align: right">{{ netAmount | currency }}</th>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <br>
            <hr>
            <br>

            <div class="col-md-12" v-show="editing">
                <div class="col-md-5">
                    <div class="form-group">
                        <el-input placeholder="Please input" v-model="fee.description" style="width: 100%;" disabled></el-input>
                        <br>
                    </div>
                    <br>
                </div>

                <div class="col-md-4" v-if="fee.percentage">
                    <div class="form-group">
                        <el-input placeholder="Please input" v-model="fee.percentage" style="width: 100%;"></el-input>
                        <br>
                    </div>
                    <br>
                </div>

                <div class="col-md-4" v-else>
                    <div class="form-group">
                        <el-input placeholder="Please input" v-model="fee.amount" style="width: 100%;"></el-input>
                        <br>
                    </div>
                    <br>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <el-button @click="editFee" size="small"><i class="fa fa-plus-circle"></i></el-button>
                        <br>
                    </div>
                    <br>
                </div>
            </div>

            <br>
            <hr>
            <br>

            <div class="col-md-12">
                <div class="form-group">
                    <button class="btn btn-primary" @click="settle">
                        <i class="fa fa-spinner fa-spin" v-if="settling"></i> <i class="fa fa-save" v-else></i> Settle
                    </button>
                    <a class="btn btn-default" @click="close">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</template>