<script>
    export default {
        props: ['order', 'fundOrders'],

        methods: {
            totalShares: function () {
                return this.order.unit_fund_orders.reduce( (carry, order) => {
                    return carry + parseFloat(order.shares);
                }, 0);
            },

            totalShareAllocated: function () {
                return this.fundOrders.reduce( (carry, order) => {
                    return carry + parseFloat(order.shares_allocated);
                }, 0);
            },

            totalBalance: function () {
                return this.fundOrders.reduce( (carry, order) => {
                    return carry + parseFloat(order.balance);
                }, 0);
            },

            totalAmount: function () {
                return this.order.unit_fund_orders.reduce( (carry, order) => {
                    return carry + parseFloat(order.amount);
                }, 0);
            },

            totalAmountAllocated: function () {
                return this.fundOrders.reduce( (carry, order) => {
                    return carry + parseFloat(order.amount_allocated);
                }, 0);
            },

            totalValue: function () {
                return this.fundOrders.reduce( (carry, order) => {
                    return carry + parseFloat(order.value);
                }, 0);
            }
        }
    }
</script>

<template>
    <div class="col-md-12  panel panel-success">
        <br>
        <h5><b>UNIT FUND ORDERS </b></h5>
        <hr>

        <el-table :data="fundOrders" style="width: 100%">

            <el-table-column label="Unit Fund" prop="fund"> </el-table-column>
            <el-table-column label="Account" prop="account_name"> </el-table-column>

            <el-table-column label="Shares" v-if="order.asset_class == 'Equities'">
                <template slot-scope="scope">
                        <span>
                            {{ parseInt(scope.row.shares) }}
                        </span>
                </template>
            </el-table-column>

            <el-table-column label="Value of Shares" v-if="order.asset_class == 'Equities'">
                <template slot-scope="scope">
                        <span>
                            {{ scope.row.value | currency }}
                        </span>
                </template>
            </el-table-column>

            <el-table-column label="Amount" v-if="order.asset_class == 'Deposits' || order.asset_class == 'Bonds'">
                <template slot-scope="scope">
                        <span>
                            {{ scope.row.amount | currency }}
                        </span>
                </template>
            </el-table-column>

        </el-table>
    </div>
</template>