<script>
    import Vue from 'vue';
    import vueTableMixin from '../../../mixins/vuetable_mixin';
    import PortfolioMixins from '../mixins/index';

    import { mapGetters } from 'vuex';
    import partials from './mixins/partials';

    Vue.component('orders-filter-bar', require('../../../components/vuetable/filters/ordersFilterBar.vue'));

    export default {

        mixins: [ vueTableMixin, PortfolioMixins, partials ],

        data() {
            return {

                url: '/api/portfolio/orders',

                fields: [
                    { name: 'id', title: 'ID', sortField: 'id' },
                    { name: 'security', title: 'Security', sortField: 'security' },
                    { name: 'order_type', title: 'Order', sortField: 'order_type' },
                    { name: 'asset_class', title: 'Asset Class', sortField: 'asset_class' },
                    { name: 'sub_asset_class', title: 'Sub Asset Class', sortField: 'sub_asset_class' },
                    { name: 'fund_manager', title: 'Fund Manager'},
                    { name: 'cut_off_price', title: 'Cut off price', sortField: 'cut_off_price' },
                    { name: 'minimum_rate', title: 'Minimum rate', sortField: 'minimum_rate' },
                    { name: '__view_action', title: 'View', titleClass: 'text-center', dataClass: 'text-center' },
                ],
                tableState: { },
                promise: true,
                securityModal: false,
                form: {}
            }
        },

        props: [
            'fundmanagerId'
        ],

        computed: {
            ...mapGetters({
                createOrderModal: 'createOrderModal'
            })
        },

        methods: {
            createOrder: function ()
            {
                this.$router.push({ name: 'portfolio-order.create' });
            }
        }
    }
</script>

<template>
    <div class="col-md-12">
        <div class="panel-dashboard">
            <div class="col-md-12">
                <div class="btn-group pull-left">
                    <!--<el-button type="primary" @click="create" size="mini"><i class="el-icon-circle-plus"></i> new order</el-button>-->
                    <el-button type="primary" @click="createOrder" size="mini"><i class="el-icon-circle-plus"></i> new </el-button>
                </div>
            </div>

            <hr>

            <br>

            <div class="table-area">

                <div class="row pull-right">
                    <orders-filter-bar :search-label='"Search ..."' class="pull-right"></orders-filter-bar>
                    <br>
                </div>

                <br>

                <div class="crims_table">
                    <vuetable ref="vuetable"
                              :api-url="url"
                              :fields="fields"
                              pagination-path=""
                              @vuetable:pagination-data="onPaginationData"
                              :append-params="tableState"
                              :per-page="itemsPerPage"
                    >
                    </vuetable>

                    <div class="vuetable-pagination ui basic segment grid crims_pagination">
                        <table>
                            <tfoot>
                            <tr>
                                <td class="text-center" width="50%">
                                    <div class="inline-block" style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                        <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                        <select style="width: 100px" class="form-control" v-model="itemsPerPage" @change="changePerPage">
                                            <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <vuetable-pagination-info ref="paginationInfo">
                                    </vuetable-pagination-info>
                                    <vuetable-pagination ref="pagination"
                                                         @vuetable-pagination:change-page="onChangePage"
                                    ></vuetable-pagination>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
