<script>
    import { mapGetters } from 'vuex';

    export default {
        props: ['form'],

        data() {
            return {
                form: this.form
            }
        },

        computed: {
            ...mapGetters({
                rejecting: 'rejecting'
            })
        },

        methods: {
            submit: function () {
                this.$store.commit('SUBMIT_ALLOCATION_TRANSACTION', this.form);
            },

            close: function () {
                this.$store.commit('REJECT_MODAL', false);
            }
        }
    }
</script>

<template>
    <div class="">
        <div class="panel panel-success">
            <div class="panel-body">

                <div class="form-group">
                    <el-input placeholder="Enter reason" v-model="form.reason" style="width: 100%;"></el-input>
                    <br>
                </div>

            </div>
        </div>
        <div class="panel-body">
            <button class="btn btn-primary" type="submit" @click="submit">
                <i class="fa fa-spinner fa-spin" v-if="rejecting"></i>
                <i class="fa fa-save" v-else></i> Reject
            </button>
            <a class="btn btn-default" @click="close">Cancel</a>
        </div>
    </div>
</template>