<script>
    import { mapGetters } from 'vuex';
    import { Message } from 'element-ui';

    export default {
        data() {
            return{
                form: {}
            }
        },

        computed: {
            ...mapGetters({
                removingOrder: 'removingOrder',
            })
        },

        methods: {
            submit: function () {
                this.form.id = this.$route.params.id;

                if(!this.form.reason) {
                    Message.warning({ message: 'Provide reason and continue'});
                    return;
                }

                this.$store.commit("REMOVE_ORDER", this.form);
            },

            close: function () {
                this.$store.commit('REMOVE_ORDER_MODAL', false);
            }
        },

        mounted() {
            this.form = {};
        }
    }
</script>
<template>
    <div class="">
        <div class="panel">
            <div class="form-group">
                <label>Reason:</label>
                <el-input placeholder="Please input" v-model="form.reason" style="width: 100%;" v-bind:aria-required="true"></el-input>
                <br>
            </div>
        </div>
        <div class="">
            <button class="btn btn-primary" type="submit" @click="submit">
                <i class="fa fa-spinner fa-spin" v-if="removingOrder"></i> <i class="fa fa-save" v-else></i> Remove
            </button>
            <a class="btn btn-default" @click="close">Cancel</a>
        </div>
    </div>
</template>