<script>
    import PortfolioMixin from '../mixins/index';
    import { mapGetters } from 'vuex';
    import moment from 'moment';

    export default {

        mixins: [ PortfolioMixin ],

        data() {
            return {
                form: {},
                invested_date: '',
                purchase_date: '',
                maturity_date: '',
                depositType: '',
                deposit_type_id: '',
                addingDetails: true,
                broker_commission_perc: 0.035,
                editing_commission: false,
                entered_commission: 0
            }
        },

        computed: {
            ...mapGetters({
                depositErrors: 'depositErrors',
                depositTypes: 'depositTypes',
                settlingDeposit: 'settlingDeposit',
                order: 'portfolioOrderDetails',
                allocation: 'orderAllocation',
                settlementFees: 'settlementFees'
            }),
            consideration(){
                return this.form.amount * this.form.dirty_price/this.form.par_price;
            },
            coupon_yield(){
                return this.form.coupon_rate * this.form.amount / this.amount_payable;
            },
            amount_payable() {
                return this.consideration + parseFloat(this.form.commission);
            },
            amount_receivable() {
                return this.consideration - parseFloat(this.form.commission);
            }
        },

        watch: {
            invested_date : {
                handler: function () {
                    this.form.invested_date = moment(this.invested_date).format('YYYY-MM-DD');
                }
            },

            maturity_date: {
                handler: function () {
                    this.form.maturity_date = moment(this.maturity_date).format('YYYY-MM-DD');
                }
            },
            purchase_date: {
                handler: function () {
                    this.form.purchase_date = moment(this.purchase_date).format('YYYY-MM-DD');
                }
            },
            deposit_type_id: {
                handler: function () {
                    this.form.deposit_type_id = this.deposit_type_id;

                    this.depositType = this.depositTypes.filter( (deposit) => {
                        return (deposit.id == this.deposit_type_id);
                    })['0'].slug;
                }
            }
        },

        methods: {
            submit: function () {
                this.form.id = this.allocation.id;
                this.form.order_id = this.order.id;
                this.form.purchase_cost = this.amount_payable;
                this.form.ytm = this.coupon_yield;
                this.form.fees = this.settlementFees;

                this.$store.commit('SETTLE_DEPOSIT_ORDER_ALLOCATION', this.form);
            },

            close: function () {
                this.$store.commit('DEPOSIT_SETTLEMENT_DIALOG', false);
            },
            preview: function () {
                this.form.commission = this.broker_commission_perc * this.consideration /100;

                this.addingDetails = !this.addingDetails;
            },
            editCommission: function(ignore) {
                if(!ignore) {
                    this.entered_commission = parseFloat(this.form.commission)
                }

                this.editing_commission = !this.editing_commission;
            },
            saveCommission: function () {
                this.form.commission = parseFloat(this.entered_commission);
                this.editing_commission = false;
            }
        },

        mounted() {
            this.form = {
                amount: this.allocation.amount,
                ytm: this.allocation.rate,
                coupon_rate: this.allocation.rate,
                clean_price: 100,
                par_price: 100,
                dirty_price: 100,
                commission: 0,
            };

            this.purchase_date = moment(this.allocation.date).format('YYYY-MM-DD');

            this.getCustodialAccounts(this.order.fund_manager_id);
        }
    }
</script>

<template>
    <div class="">
        <div class="panel panel-success">
            <div class="panel-heading">
                <p><i class="fa fa-info"></i> Modify Deposit Holding</p>
            </div>
            <div class="panel-body">
                <div class="row" v-if="addingDetails">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Investment Type</label>
                            <el-select v-model="deposit_type_id" placeholder="" style="width: 100%;">
                                <el-option
                                        v-for="invType in depositTypes"
                                        :key="invType.id"
                                        :label="invType.name"
                                        :value="invType.id">
                                </el-option>
                            </el-select>
                            <ul v-if="depositErrors['investment_type_id']" class="text-danger">
                                <li v-for="message in depositErrors['investment_type_id']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Deposit/Bond Code</label>
                            <el-input type="text" v-model="form.code"></el-input>
                            <ul v-if="depositErrors['code']" class="text-danger">
                                <li v-for="message in depositErrors['code']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>

                    <template  v-if="depositType === 'bond'">
                        <!-- PRICES -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Par Price</label>
                                <el-input type="text" v-model="form.par_price"></el-input>
                                <ul v-if="depositErrors['par_price']" class="text-danger">
                                    <li v-for="message in depositErrors['par_price']" v-text="message"></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Dirty Price</label>
                                <el-input type="text" v-model="form.dirty_price"></el-input>
                                <ul v-if="depositErrors['dirty_price']" class="text-danger">
                                    <li v-for="message in depositErrors['dirty_price']" v-text="message"></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Clean Price</label>
                                <el-input type="text" v-model="form.clean_price"></el-input>
                                <ul v-if="depositErrors['clean_price']" class="text-danger">
                                    <li v-for="message in depositErrors['clean_price']" v-text="message"></li>
                                </ul>
                            </div>
                        </div>

                        <!-- END PRICES -->

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Coupon Payment Interval</label>
                                <el-select v-model="form.coupon_payment_duration" style="width: 100%">
                                    <el-option label="On Maturity" value="0" :key="1"></el-option>
                                    <el-option label="3 Months" value="3" ></el-option>
                                    <el-option label="6 Months" value="6"></el-option>
                                    <el-option label="12 Months" value="12"></el-option>
                                </el-select>
                                <ul v-if="depositErrors['coupon_payment_duration']" class="text-danger">
                                    <li v-for="message in depositErrors['coupon_payment_duration']" v-text="message"></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label> Coupon Yield (%)</label>
                                <el-input type="text" v-model="form.ytm"></el-input>
                                <ul v-if="depositErrors['ytm']" class="text-danger">
                                    <li v-for="message in depositErrors['ytm']" v-text="message"></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Coupon Rate (%)</label>
                                <el-input type="text" v-model="form.coupon_rate"></el-input>
                                <ul v-if="depositErrors['coupon_rate']" class="text-danger">
                                    <li v-for="message in depositErrors['coupon_rate']" v-text="message"></li>
                                </ul>
                            </div>
                        </div>
                    </template>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Value Date</label>
                            <el-date-picker
                                    v-model="invested_date"
                                    type="date"
                                    placeholder="" style="width: 100%;">
                            </el-date-picker>
                            <ul v-if="depositErrors['invested_date']" class="text-danger">
                                <li v-for="message in depositErrors['invested_date']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Purchase Date</label>
                            <el-date-picker
                                    v-model="purchase_date"
                                    type="date"
                                    placeholder="" style="width: 100%;">
                            </el-date-picker>
                            <ul v-if="depositErrors['purchase_date']" class="text-danger">
                                <li v-for="message in depositErrors['purchase_date']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Maturity Date</label>
                            <el-date-picker
                                    v-model="maturity_date"
                                    type="date"
                                    placeholder="" style="width: 100%;">
                            </el-date-picker>
                            <ul v-if="depositErrors['maturity_date']" class="text-danger">
                                <li v-for="message in depositErrors['maturity_date']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Custodial Account</label>
                            <el-select v-model="form.custodial_account_id" placeholder="" style="width: 100%;">
                                <el-option
                                        v-for="account in custodialAccounts"
                                        :key="account.value"
                                        :label="account.label"
                                        :value="account.value">
                                </el-option>
                            </el-select>
                            <ul v-if="depositErrors['custodial_account_id']" class="text-danger">
                                <li v-for="message in depositErrors['custodial_account_id']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Tax Rate</label>
                            <el-select v-model="form.tax_rate_id" placeholder="" style="width: 100%">
                                <el-option
                                        v-for="tax in taxRates"
                                        :key="tax.id"
                                        :label="tax.name"
                                        :value="tax.id">
                                </el-option>
                            </el-select>
                            <ul v-if="depositErrors['tax_rate_id']" class="text-danger">
                                <li v-for="message in depositErrors['tax_rate_id']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="row" v-else>
                    <div class="col-md-12">
                        <table class="table table-responsive-table-hover table-striped">
                            <tbody>
                                <tr>
                                    <th>Nominal/Face Value</th><th> {{ form.amount | currency }}</th>
                                </tr>
                                <tr>
                                    <th>Consideration</th><th>{{ consideration | currency }}</th>
                                </tr>
                                <tr>
                                    <td>Prices</td><td><b>Par:</b> {{ form.par_price }} <b>Clean:</b> {{ form.clean_price }} <b>Dirty:</b> {{ form.dirty_price }} </td>
                                </tr>
                                <tr>
                                    <td>Accrued Interest</td><td> {{ form.dirty_price - form.clean_price }}%</td>
                                </tr>
                                <tr>
                                    <td>Rates</td><td><b>Coupon Rate:</b> {{ form.coupon_rate }}% <b>Coupon Yield:</b> {{ coupon_yield}}%</td>
                                </tr>
                                <tr>
                                    <td>Dates</td><td><b>Value Date:</b> {{ form.invested_date }} <b>Purchase Date:</b> {{ form.purchase_date }} <b>Maturity Date:</b> {{ form.maturity_date }} </td>
                                </tr>
                                <tr>
                                    <td>Broker Commission</td>
                                    <td v-if="!editing_commission">
                                        {{ form.commission | currency }}
                                        <a><i class="fa fa-edit pull-right" @click="editCommission()"></i></a>
                                    </td>
                                    <td v-else>
                                        <input type="text" v-model="entered_commission" placeholder="Enter commission"/>
                                        <button class="btn btn-primary btn-sm" @click="saveCommission">
                                            <i class="fa fa-save"></i> Save
                                        </button>
                                        <a><i class="fa fa-times pull-right color-danger" @click="editCommission()"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Amount Receivable</td><td> {{ amount_receivable | currency}}</td>
                                </tr>
                                <tr>
                                    <th>Amount Payable</th><th>{{ amount_payable | currency }}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" @click="preview" v-if="addingDetails">
                <i class="fa fa-spinner fa-spin" v-if="settlingDeposit"></i> <i class="fa fa-save" v-else></i> Preview
            </button>

            <template v-else>
                <button class="btn btn-primary" @click="submit">
                    <i class="fa fa-spinner fa-spin" v-if="settlingDeposit"></i> <i class="fa fa-save" v-else></i> Settle
                </button>

                <button class="btn btn-default" @click="preview">
                    << Back
                </button>
            </template>


            <a class="btn btn-default" @click="close">Cancel</a>
        </div>

    </div>
</template>
<style>
    .col-md-6, .col-md-4{
        margin-bottom: 20px;
    }
</style>