<script>
    import { mapGetters } from 'vuex';
    import Vue from 'vue';
    import partials from './mixins/partials';

    Vue.component('remove-order', require('./remove'));
    Vue.component('edit-order', require('./edit'));
    Vue.component('allocate-order', require('./allocate'));

    Vue.component('fund-orders', require('./fund-orders'));
    Vue.component('alloacations-grid', require('./allocations'));

    export default {
        mixins: [ partials ],

        data() {
            return {
                status: [],
                warnStatus: [],
            }
        },

        computed: {
            ...mapGetters({
                order: 'portfolioOrderDetails',
                fundOrders: 'fundOrders',
                removeOrderModal: 'removeOrderModal',
                editOrderModal: 'editOrderModal',
                allocateOrderModal: 'allocateOrderModal',
                fetchingFundOrders: 'fetchingFundOrders',
            }),

            canEditReject(){
                if (this.order.order_allocations) {
                    return this.order.order_allocations.length !== 0;
                }
            },
            generateUrl() {
                return "/dashboard/portfolio/orders/generate-order/" + this.$route.params.id;
            },
        },

        watch: {
            fundOrders: {
                handler: function () {
                    this.getOrderStatus();

                    this.getOrderWarnStatus()
                }
            },

            order: {
                handler: function () {
                    this.getCustodialAccounts(this.order.fund_manager_id);
                }
            }
        },

        methods: {
            getOrderDetails: function () {
                let order_id = this.$route.params.id;
                this.$store.commit('GET_ORDER_DETAILS', order_id);
            },

            getFundOrders: function () {
                let order_id = this.$route.params.id;
                this.$store.commit('GET_FUND_ORDERS', order_id);
            },

            getCustodialAccounts: function (fundManagerId) {
                this.$store.commit('GET_CUSTODIAL_ACCOUNTS', fundManagerId);
            },

            editModal: function () {
                this.$store.commit('EDIT_ORDER_MODAL', true);
            },

            allocateModal: function () {
                this.$store.commit('ALLOCATE_ORDER_MODAL', true);
            },

            removeModal: function () {
                this.$store.commit('REMOVE_ORDER_MODAL', true);
            },

            getRawPortfolioOrder: function () {
                let order_id = this.$route.params.id;
                this.$store.commit('GET_RAW_PORTFOLIO_ORDER', order_id);
            },

            getOrderStatus: function () {
                this.status = this.fundOrders.reduce( (verdict, fundOrder) => {

                    if(fundOrder.status.length > 0) {
                        return verdict && fundOrder.status;
                    }

                    return verdict;

                }, []);
            },

            getOrderWarnStatus: function () {
                this.warnStatus = this.fundOrders.reduce( (verdict, fundOrder) => {

                    if(fundOrder.warnStatus.length > 0) {
                        return verdict && fundOrder.warnStatus;
                    }

                    return verdict;

                }, []);
            },
        },

        mounted() {
            this.getOrderDetails();

            this.getFundOrders();

            this.getRawPortfolioOrder();
        }
    }
</script>

<template>
    <div class="col-md-12">
        <div class="panel-dashboard">
            <div class="row">
                <div class="col-md-6">
                    <br>
                    <div class="col-md-12 panel panel-success">
                        <h4><b>ORDER DETAILS</b></h4>
                        <hr>
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th width="30%">ID</th>
                                <td>{{ order.id }}</td>
                            </tr>
                            <tr>
                                <th width="30%">Security</th>
                                <td>{{ order.security }}</td>
                            </tr>
                            <tr>
                                <th width="30%">Order Type</th>
                                <td>{{ order.order_type }}</td>
                            </tr>
                            <tr>
                                <th width="30%">Asset Class</th>
                                <td>{{ order.asset_class }}</td>
                            </tr>
                            <tr>
                                <th width="30%">Sub Asset Class</th>
                                <td>{{ order.sub_asset_class }}</td>
                            </tr>
                            <tr>
                                <th width="30%">Fund Manager</th>
                                <td>{{ order.fund_manager }}</td>
                            </tr>
                            <tr v-if="order.asset_class == 'Equities'">
                                <th width="30%">Cut off price</th>
                                <td>{{ order.cut_off_price }}</td>
                            </tr>
                            <tr v-if="order.asset_class == 'Deposits' || order.asset_class == 'Bonds'">
                                <th width="30%">Minimum rate</th>
                                <td>{{ order.minimum_rate }}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>

                </div>

                <br>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <div class="pull-right">
                            <a :href="generateUrl" target="_blank" class="btn btn-primary">
                                <i class="fa fa-list-alt"></i>
                                Generate Order
                            </a>
                            <a href="/dashboard/portfolio/orders" class="btn btn-default">
                                <i class="fa fa-list-alt"></i>
                                Back to orders
                            </a>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <hr>
                        <br>
                        <td colspan="2" class="btn-group">
                            <el-button type="primary" size="mini" @click="allocateModal"><i class="fa fa-check-circle-o"></i> Allocate</el-button>
                            <el-button type="primary" size="mini" @click="editModal" :disabled="canEditReject"><i class="fa fa-pencil"></i> Edit</el-button>
                            <el-button type="danger" size="mini" @click="removeModal" :disabled="canEditReject"><i class="fa fa-trash"></i> Remove</el-button>
                        </td>

                    </div>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-12" v-if="fundOrders.length > 0">
                    <fund-orders :order="order" :fundOrders="fundOrders"></fund-orders>
                    <br>
                    <br>
                </div>

                <br>
                <br>

                <div class="col-md-12" v-if="fundOrders.length > 0">
                    <alloacations-grid :portfolio-order="order" :fundOrders="fundOrders" :status="status"></alloacations-grid>
                </div>
            </div>
        </div>

        <el-dialog
                title = "REMOVE PORTFOLIO ORDER"
                :visible.sync="removeOrderModal"
                width="20%"
                :show-close="false">
                <span>
                    <remove-order></remove-order>
                </span>
        </el-dialog>

        <el-dialog
                title = "EDIT PORTFOLIO ORDER"
                :visible.sync="editOrderModal"
                width="100%"
                :show-close="false">
                <span>
                    <edit-order></edit-order>
                </span>
        </el-dialog>

        <el-dialog
                title = "ALLOCATE PORTFOLIO ORDER"
                :visible.sync="allocateOrderModal"
                width="20%"
                :show-close="false">
                <span>
                    <allocate-order></allocate-order>
                </span>
        </el-dialog>
    </div>
</template>