
<script type="text/babel">

    import moment from 'moment';
    import { mapGetters } from 'vuex';
    import Vue from 'vue';

    Vue.component('calculator-modal', require('../unitfundcalculator/index.vue'));

    export default {

        data() {
            return {
                loading: false,
                refreshingBalance: true,
                url: '',
                clientId: null,
                balance: null,
                formErrors: {},
                date: moment(Date.now()).format('YYYY-MM-DD'),
                amount: null,
                fundId: null,
            }
        },

        computed: {
            ...mapGetters({
                calculator: 'calculatorModal'
            })
        },

        created: function() {
            this.clientId = this.$route.params.id;
            this.fundId = this.$route.params.fid;

            this.url = `/api/unitization/unit-funds/${this.fundId}/unit-fund-clients/${this.clientId}/unit-fund-purchases`;

            this.getBalance(this.date);
        },

        watch: {
            date: {
                handler: function() {
                    this.refreshingBalance = true;
                    let formattedDateString = moment(this.date).format('YYYY-MM-DD');
                    this.getBalance(formattedDateString);
                }
            }
        },

        methods: {
            getBalance: function(date) {

                axios.get(`/api/unitization/unit-funds/${this.fundId}/unit-fund-clients/${this.clientId}/balance?date=${date}`)
                    .then((response) => {
                        this.refreshingBalance = false;

                        let data = response.data;

                        if(data.fetched) {
                            this.$set(this, 'balance', data.balance);
                        }

                        else {
                            flash('Could not fetch the balance of the fund client', 'danger');
                        }

                    }, (response) => {
                        flash('Oops! Something went wrong', 'danger');
                    });
            },

            buy: function() {

                if(Number(this.amount) > Number(this.balance)) {
                    flash('The amount entered exceeds the fund holder\'s balance', 'danger');
                    return;
                }

                this.loading = true;

                let input = {
                    date: moment(this.date).format('YYYY-MM-DD'),
                    amount: this.amount
                }

                axios.post(this.url, input)
                    .then((response) => {
                        this.loading = false;

                        let data = response.data;

                        if(response.status == 202) {
                            this.success();
                        }
                        else if(response.data.status == 422) {
                            this.throwValidationError(data);
                        }
                    }, (response) => {
                        this.loading = false;
                        flash('Oops! Something went wrong', 'danger');
                        this.formErrors = response.data;
                    });
            },

            success: function() {
                flash('Request to buy the units has been saved as instruction.', 'info');
                this.$router.push({ name: 'unit-fund-holders.show', params: { id: this.clientId } });
            },

            throwValidationError: function(data) {
                flash('Failed to buy the units.', 'danger');

                this.formErrors = data.errors;
            },

            viewCalculator: function () {
                this.$store.commit('OPEN_CALCULATOR_MODAL', true);
            }
        }
    }
</script>

<template id="id-of-template">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel-dashboard">
            <h3>
                Buy Units
                <span class="btn-group pull-right">
                    <el-button @click="viewCalculator" class="btn btn-info" size="small"><i class="fa fa-calculator"></i> Calculator </el-button>
                    <router-link v-bind:to="{ name: 'unit-fund-holders.show', params: { id: clientId } }" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Back to Fund Holder</router-link>
                </span>
            </h3>

            <form v-on:submit.prevent="buy()">
                <div class="form-group">
                    <label>Amount
                        <small>
                            ( Balance : <i class="fa fa-spinner fa-spin" v-if="refreshingBalance"></i>
                            <b v-else>{{ balance | currency }}</b> )
                        </small>
                    </label>
                    <input type="number" class="form-control" step="0.01" placeholder="Amount..." v-model="amount">
                    <ul v-if="formErrors['amount']" class="text-danger">
                        <li v-for="message in formErrors['amount']" v-text="message"></li>
                    </ul>
                </div>
                <div class="form-group">
                    <label>Date </label>
                    <div class="input-group">
                        <el-date-picker v-model="date" type="date" placeholder="Date..."></el-date-picker>
                    </div>
                    <ul v-if="formErrors['date']" class="text-danger">
                        <li v-for="message in formErrors['date']" v-text="message"></li>
                    </ul>
                </div>

                <div class="margin-top-25
">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Buy <i class="fa fa-spinner fa-spin" v-if="loading"></i> </button>
                </div>
            </form>
        </div>

        <el-dialog
                title = ""
                :visible.sync="calculator"
                width="20%"
                :show-close="false">
                <span>
                    <calculator-modal></calculator-modal>
                </span>
        </el-dialog>
    </div>
</template>