<script>
    import axios from 'axios';
    import { Message } from 'element-ui';

    export default {

        data() {
            return {
                fund_id: this.$route.params.fid,
                client_id: this.$route.params.id,
                fund_purchase_id: this.$route.params.fund_purchase_id,
                fetching: false,
                purchase: {},
                recipients: [],
                commission_recipient_id: 1,
                editing: false,
                editpopover: false
            }
        },

        watch: {
            purchase: {
                handler: function () {
                    if(this.purchase.recipient_id) {
                        this.commission_recipient_id = this.purchase.recipient_id;
                    }
                }
            }
        },

        methods: {
            purchaseDetails: function () {

                this.fetching = true;

                axios.get(`/api/unitization/unit-funds/${this.fund_id}/unit-fund-clients/${this.client_id}/unit-fund-purchases/${this.fund_purchase_id}`)
                    .then( ({ data }) => {
                        this.fetching = false;
                        this.purchase = data.data;
                        this.recipients = data.recipients;
                    }, () => {
                        this.fetching = false;
                    });
            },

            editFa: function () {

            },

            edit: function () {
                this.editing = true;
                axios.post('/api/unit-fund-purchase/recipient/edit', {
                    fund_purchase_id: this.fund_purchase_id,
                    commission_recipient_id: this.commission_recipient_id,
                }).then( ({ data }) => {
                    Message.success({ message: 'Commission recepient submitted for approval' });
                    this.editing = false;
                    this.editpopover = false;
                }, () => {
                    Message.error({ message: 'Failed to submit' });
                    this.editing = false;
                });
            }
        },

        created() {
            this.purchaseDetails();
        }
    }
</script>

<template>
    <div class="col-md-10 col-md-offset-1">
        <div class="panel-dashboard">
            <div class="col-md-8">
                <div class = "detail-group">
                    <h4>Unit Fund Purchase</h4>
                    <table class = "table table-hover">
                        <tbody>
                            <tr>
                                <th>Unit Fund</th>
                                <td>{{ purchase.fund }}</td>
                            </tr>

                            <tr>
                                <th>Purchase Date</th>
                                <td>{{ purchase.date }}</td>
                            </tr>

                            <tr>
                                <th>Currency</th>
                                <td>{{ purchase.currency }}</td>
                            </tr>

                            <tr>
                                <th>Amount Before Investment</th>
                                <td>{{ purchase.amountBeforeInvestment | currency }}</td>
                            </tr>

                            <tr>
                                <th>Amount Invested</th>
                                <td>{{ purchase.value }}</td>
                            </tr>

                            <tr>
                                <th>Unit Price</th>
                                <td>{{ purchase.unitPrice }}</td>
                            </tr>

                            <tr>
                                <th>Units Purchased</th>
                                <td>{{ purchase.numberOfUnits }}</td>
                            </tr>

                            <tr>
                                <th>Fees Charged</th>
                                <td>{{ purchase.feesIncurred }}</td>
                            </tr>

                            <tr>
                                <th>Description</th>
                                <td>{{ purchase.description }}</td>
                            </tr>

                            <tr>
                                <th>FA</th>
                                <td>
                                    <span v-if="purchase.recipient"><a :href="'/dashboard/investments/commission/payment/'+purchase.recipient.id">{{ purchase.recipient.name }} - {{ purchase.recipient.email }}</a></span>
                                    <span>
                                        <el-popover
                                                placement="right"
                                                width="400"
                                                trigger="click"
                                                v-model="editpopover">
                                            <div class="">
                                                <div class=""><h5>Edit FA</h5></div>
                                                <hr>
                                                <div class="popover-select">
                                                    <el-select v-model="commission_recipient_id" filterable placeholder="Select">
                                                        <el-option
                                                                v-for="recipient in recipients"
                                                                :key="recipient.id"
                                                                :label="recipient.name"
                                                                :value="recipient.id"
                                                                width="100%">
                                                        </el-option>
                                                    </el-select>
                                                </div>
                                                <hr>
                                                <div class="">
                                                    <el-button size="mini" @click="edit" slot="reference">
                                                        <i class="el-icon-loading" v-if="editing"></i> Submit
                                                    </el-button>
                                                </div>
                                            </div>
                                            <el-button class="el-icon-edit" @click="editFa" slot="reference" size="mini"></el-button>
                                        </el-popover>
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <div class="pull-right">
                        <router-link class="btn btn-default"
                                :to="{ name: 'unit-fund-holders.show', params: { fid: fund_id, id:client_id }}"
                            >
                            <i class="el-icon-back"></i> Back
                        </router-link>
                    </div>
                </div>
                <br>
                <hr>
                <div class="row">

                </div>
            </div>


        </div>
    </div>
</template>