<script></script>
<template>
    <div class="single_card">
        <div class="container">
            <div class="header">
                <div class="content">
                    <div class="animated">
                        <div class="parent"></div>
                        <div class="padding"></div>
                        <div class="title"></div>
                        <div class="padding"></div>
                        <div class="followers"></div>
                        <div class="padding"></div>
                        <div class="description"></div>
                        <div class="padding"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>