<script>

</script>
<template>
    <div>
        <div class='tab-loader-container'>
            <div class='animated-background'>
                <div class='background-masker row1'></div>
                <div class='background-masker row2'></div>
                <div class='background-masker row3'></div>
                <div class='background-masker row4'></div>
                <div class='background-masker row5'></div>
                <div class='background-masker row6'></div>
                <div class='background-masker col1'></div>
                <div class='background-masker col2'></div>
                <div class='background-masker col3'></div>
                <div class='background-masker col4'></div>
                <div class='background-masker col5'></div>
            </div>
        </div>
    </div>
</template>