<script>
    import { mapGetters } from 'vuex';
    import moment from 'moment';

    export default {
        data() {
            return {
                form: {
                    unit_fund_id: this.$route.params.id,
                    date: moment(new Date()).format('YYYY-MM-DD')
                },
                date: moment(new Date()).format('YYYY-MM-DD')
            }
        },

        computed: {
            ...mapGetters({
                submittingBulk: 'submittingBulk'
            })
        },

        watch: {
            date: {
                handler: function () {
                    this.form.date = moment(this.date).format('YYYY-MM-DD')
                }
            }
        },

        methods: {
            submit() {
                this.$store.commit('SEND_INTEREST_BULK_PAYMENT', this.form)
            },

            closeModal() {
                this.$store.commit('BULK_INTEREST_PAYMENT_MODAL', false)
            }
        },
    }
</script>

<template>
    <div class="">
        <div class="panel panel-success">
            <div class="panel-heading">
                <p><i class="fa fa-info"></i> Add interest payment schedule.</p>
            </div>

            <div class="panel-body">
                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Date </label>
                            <el-date-picker
                                    v-model="date"
                                    type="date"
                                    placeholder="Interest payment start date..."
                                    style="width: 100%">

                            </el-date-picker>
                        </div>
                    </div>

                    <br><br>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <button class="btn btn-primary" type="submit" @click="submit">
                <i class="el-icon-loading" v-if="submittingBulk"></i> Submit
            </button>
            <a class="btn btn-default" @click="closeModal()">Cancel</a>
        </div>
    </div>
</template>