<script>
    import { mapGetters } from 'vuex';
    import moment from 'moment';

    export default {
        props: ['schedule', 'client'],

        data() {
            return {
                form: {
                    id: this.schedule.id,
                    interest_payment_start_date: this.schedule.interest_payment_start_date,
                    interest_payment_interval: this.schedule.interest_payment_interval,
                    client_id: this.$route.params.id,
                    unit_fund_id: this.$route.params.fid,

                },

                date: moment(new Date()).format('YYYY-MM-DD')
            }
        },

        computed: {
            ...mapGetters({
                submittingSchedules: 'submittingSchedules'
            })
        },

        watch: {
            date: {
                handler: function () {
                    this.form.interest_payment_start_date = moment(this.date).format('YYYY-MM-DD')
                }
            }
        },

        methods: {
            submit() {
                if(this.form.interest_payment_start_date === 'Invalid date') {
                    this.form.interest_payment_start_date = null;
                }

                this.$store.commit('EDIT_INTEREST_PAYMENT', this.form)
            },

            closeModal() {
                this.$store.commit('EDIT_INTEREST_MODAL', false)
            }
        },
    }
</script>

<template>
    <div class="">
        <div class="panel panel-success">
            <div class="panel-heading">
                <p><i class="fa fa-info"></i> Edit interest payment schedule.</p>
            </div>

            <div class="panel-body">
                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Interest Payment Interval (Months)</label>
                            <el-input-number
                                v-model="form.interest_payment_interval"
                                :min="1"
                                :max="100"
                                style="width: 100%"
                            >

                            </el-input-number>

                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="clearfix">
                            <br>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Interest Payment Start Date </label>
                            <el-date-picker
                                v-model="date"
                                type="date"
                                placeholder="Interest payment start date..."
                                style="width: 100%">

                            </el-date-picker>
                        </div>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <button class="btn btn-primary" type="submit" @click="submit">
                <i class="el-icon-loading" v-if="submittingSchedules"></i> Submit
            </button>
            <a class="btn btn-default" @click="closeModal()">Cancel</a>
        </div>
    </div>
</template>