<script type="text/babel">
    import Vue from 'vue';
    import { mapGetters } from 'vuex';

    import vueTableMixin from '../../../../mixins/vuetable_mixin';
    Vue.component('interest-payment-modal', require('./payment'));

    export default {

        mixins: [vueTableMixin],

        data() {
            return {
                url: `/api/unitization/unit-funds/${this.$route.params.fid}/${this.$route.params.id}/interest-payment-schedule/view`,

                fields: [
                    { name: 'id', title: 'ID', sortField: 'id' },
                    { name: 'client_name', title: 'Client' },
                    { name: 'fund_name', title: 'Fund Name' },
                    { name: 'payment_interval', title: 'Payment Interval' },
                    { name: 'start_date', title: 'Payment Start Date' },
                    { name: 'next_payment_date', title: 'Next Payment Date' },
                    { name: '__view_action', title: 'View', titleClass: 'text-center', dataClass: 'text-center' },
                ],

                tableState: {
                },

                promise: true
            }
        },


        computed: {
            ...mapGetters({
                interestModal: 'interestModal'
            })
        },

        methods: {
            interestPayment: function () {
                this.$store.commit('INTEREST_PAYMENT_MODAL', true);
            }
        }
    }
</script>

<template>
    <div class="col-md-12">
        <div class="panel-dashboard">
            <h3>
                Unit Fund Clients Interest Payment
            </h3>

            <br>

            <button class="btn btn-success" @click="interestPayment" role="button"><i class="fa fa-plus"></i> Interest Payment</button>

            <br>
            <br>

            <div class="crims_table">
                <vuetable ref="vuetable"
                          :api-url="url"
                          :fields="fields"
                          pagination-path=""
                          @vuetable:pagination-data="onPaginationData"
                          :append-params="tableState"
                          :per-page="itemsPerPage"
                >
                </vuetable>

                <div class="vuetable-pagination ui basic segment grid crims_pagination">
                    <table>
                        <tfoot>
                        <tr>
                            <td class="text-center" width="50%">
                                <div class="inline-block" style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                    <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                    <select style="width: 100px" class="form-control" v-model="itemsPerPage" @change="changePerPage">
                                        <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}</option>
                                    </select>
                                </div>
                            </td>
                            <td class="text-center">
                                <vuetable-pagination-info ref="paginationInfo">
                                </vuetable-pagination-info>
                                <vuetable-pagination ref="pagination"
                                                     @vuetable-pagination:change-page="onChangePage"
                                ></vuetable-pagination>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>


            <!--interest payment modal-->
            <div>
                <el-dialog
                        title = "INTEREST PAYMENT"
                        :visible.sync="interestModal"
                        width="30%"
                        :show-close="false">
                <span>
                    <interest-payment-modal></interest-payment-modal>
                </span>
                </el-dialog>
            </div>
        </div>
    </div>

</template>