<script type="text/babel">
    import Vue from 'vue';
    import axios from 'axios';
    import { mapGetters } from 'vuex';

    Vue.component('edit-interest-payment-modal', require('./edit'));

    export default {
        data() {
            return {
                id: this.$route.params.schedule_id,
                fund_id: this.$route.params.fid,
                client_id: this.$route.params.id,
                schedule: {},
                url: '',
                fund: {},
                client: {}
            }
        },

        computed: {
            ...mapGetters({
                editInterestModal: 'editInterestModal'
            })
        },

        created() {
            this.url = `/api/unitization/unit-funds/${this.fund_id}/${this.client_id}/interest-payment-schedule/${this.id}`;
        },

        methods: {
            getDetails() {
                console.log(this.url);

                axios.get(this.url).then( ({ data }) => {
                    this.schedule = data.schedule;
                    this.fund = data.fund;
                    this.client = data.client;
                });
            },

            editInterest() {
                this.$store.commit('EDIT_INTEREST_MODAL', true);
            }
        },

        mounted() {
            this.getDetails();
        }
    }
</script>
<template>

    <div class="col-md-12">
        <div class="panel-dashboard">
            <h3>
                Interest Payment Details

                <div class="btn-group pull-right">
                    <!--<a class="btn btn-default" :href="'/dashboard/unitization/unit-funds/' +fundId+ '/unit-fund-clients'"><i class="fa fa-long-arrow-left"></i> Back to fund clients</a>-->
                </div>
            </h3>

            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>Client Code</td>
                        <td>{{ client.client_code }}</td>
                    </tr>

                    <tr>
                        <td>Client Name</td>
                        <td>{{ client.client_name }} </td>
                    </tr>

                    <tr>
                        <td>E-Mail</td>
                        <td>
                            {{ client.email }}
                        </td>
                    </tr>

                    <tr>
                        <td>Fund Name</td>
                        <td>{{ fund.name }}</td>
                    </tr>


                    <tr>
                        <td>Payment Interval</td>
                        <td>{{ schedule.interest_payment_interval }}</td>
                    </tr>

                    <tr>

                        <td>Payment Start Date</td>
                        <td>{{ schedule.interest_payment_start_date | date}}</td>
                    </tr>

                    <tr>
                        <td>Next Payment Date</td>
                        <td>{{ schedule.next_payment_date | date }}</td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr>
                        <td></td>
                        <td><el-button round size="mini" type="success" class="el-icon-edit-outline" @click="editInterest">Edit</el-button></td>
                    </tr>
                </tfoot>
            </table>


            <div>
                <el-dialog
                        title = "EDIT INTEREST PAYMENT"
                        :visible.sync="editInterestModal"
                        width="30%"
                        :show-close="false">
                <span>
                    <edit-interest-payment-modal
                        :client="client"
                        :schedule="schedule">

                    </edit-interest-payment-modal>
                </span>
                </el-dialog>
            </div>
        </div>
    </div>

</template>