<script>
    import SummaryCardMixins from './summaryCardsMixins';

    export default {
        mixins: [SummaryCardMixins]
    }
</script>

<template>
    <div>
        <div class="investment-cards ">
            <div v-show="fetchingSammary">
                <dash-card-placeholder></dash-card-placeholder>
            </div>

            <div class="unit_trust" v-show="!fetchingSammary">
                <div
                        class="fund_cards__body"
                        v-for="investment in investmentPaginated"
                        @click="viewProduct(investment)">

                    <div class="summary">
                        <h3>{{ investment.name }} </h3>

                        <h2>
                            <small>TOTAL INVESTMENTS:</small>
                            {{ investment.currency }} {{ investment.total_value | currency(null, 0) }}
                        </h2>
                    </div>

                    <div class="details">

                        <div class="details__description">
                            <span>{{investment.name}} Investments:</span>
                            <span>{{ investment.investments }}</span>
                        </div>

                        <div class="details__description">
                            <span>Last Investment:</span>
                            <span>{{ investment.last_investment }}</span>
                        </div>

                        <div class="details__description">
                        <span>
                            <p v-if="investment.shortname == 'CPN'">Next Coupon Date:</p>
                            <p v-else>Next Maturity Date:</p>
                        </span>
                            <span>{{investment.next_maturity_date }}</span>
                        </div>

                    </div>

                    <div class="toggle">
                        <button>View Product</button>
                    </div>
                </div>

                <div class="fund_cards__body plain add_new_investment" v-show="pageNumber >= pageCount"
                     @click="newInvestment">
                    <div class="add_investment">
                        <span class="overlay-display">
                                        <span v-if="topupCount > 0">
                                            View Top-ups<br/>
                                            <small>(You have pending Topups)</small>
                                        </span>
                                        <span v-else>
                                            Add New Top-up
                                        </span>
                                </span>
                    </div>

                </div>
            </div>

            <div class="investment-cards__pagination">
                <div class="toggle_cards" v-show="pageCount>0">
                    <button @click="prevPage" class="button-paginate" :disabled="pageNumber === 0">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </button>
                    <span class="paginate-text">
                    {{paginationCount}}
                </span>
                    <button @click="nextPage" class="button-paginate" :disabled="pageNumber >= pageCount">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </button>
                </div>
            </div>

        </div>
        <div class="drawers">
            <action-drawer title="Top-up" :visible.sync="topupDrawer">
                <new-top-up></new-top-up>
            </action-drawer>
        </div>

    </div>
</template>
