<script>
    import { mapGetters } from 'vuex';

    export default {

        data() {
            return {
                bank: '',
                branch: ''
            }
        },

        computed: {
            ...mapGetters({
                clientForm: 'clientForm',
                subscribeErrors: 'subscribeErrors',
                banks: 'banks',
                branches: 'branches',
                fetching: 'fetchingBranches',
                client_bank_id: 'client_bank_id',
                client_bank_branch_id: 'client_bank_branch_id',
            })
        },

        watch: {
            bank: {
                handler: function ()
                {
                    this.clientForm.investor_bank = this.bank;

                    this.getBankBranch();

                }
            },

            branch: {
                handler: function () {
                    this.clientForm.investor_bank_branch = this.branch;
                }
            },

            client_bank_id: {
                handler: function () {
                    this.bank = parseInt(this.client_bank_id);
                }
            },

            client_bank_branch_id: {
                handler: function () {
                    this.branch = parseInt(this.client_bank_branch_id);
                }
            }
        },

        methods: {
            getBankBranch: function ()
            {
                this.$store.commit('GET_BANK_BRANCHES', this.bank);
            },
        }
    }
</script>

<template>
    <div class="">
        <div class="form-element">
            <div class="col-md-3">
                <br>
                <label class="required-field">Account Name</label>

                <el-input  v-model="clientForm.investor_account_name" placeholder="Account Name"></el-input>

                <div v-if="subscribeErrors['investor_account_name']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['investor_account_name']" v-text="message"></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <br>
                <label class="required-field">Account Number</label>

                <el-input  v-model="clientForm.investor_account_number" placeholder="Account Number"></el-input>

                <div v-if="subscribeErrors['investor_account_number']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['investor_account_number']" v-text="message"></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <br>
                <label class="required-field">Bank</label>

                <el-select v-model="bank" filterable placeholder="Select Bank" style="width: 100%;">
                    <el-option
                            v-for="bank in banks"
                            :key="bank.id"
                            :label="bank.name"
                            :value="bank.id"
                    >
                    </el-option>
                </el-select>

                <div v-if="subscribeErrors['client_bank_id']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['client_bank_id']" v-text="message"></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <br>
                <span v-if="fetching"><i class="fa fa-spinner fa-spin"></i></span>

                <label class="required-field">Branch</label>

                <el-select v-model="branch" filterable placeholder="Select Bank Branch" style="width: 100%;">
                    <el-option
                            v-for="branch in branches"
                            :key="branch.id"
                            :label="branch.name"
                            :value="branch.id"
                    >
                    </el-option>
                </el-select>

                <div v-if="subscribeErrors['client_bank_branch']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['client_bank_branch']" v-text="message"></li>
                    </ul>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>
</template>

<style>
    .alert{
        margin-top: 10px;
    }

    ul li{
        list-style: none;
    }
</style>