<script>
    import { mapGetters } from 'vuex';
    import VueTelInput from 'vue-tel-input'

    export default {
        data() {
            return {
                firstname: '',
                lastname: ''
            }
        },

        components: {
            VueTelInput
        },

        computed: {
            ...mapGetters({
                contactsErrors: 'contactsErrors',
                submitting: 'submittingContactPerson',
                form: 'contactForm'
            })
        },

        methods: {
            addContactPerson: function () {
                this.form.name = this.firstname + ' ' + this.lastname;
                this.$store.commit('ADD_CONTACT_PERSON', this.form);
            },

            closeModal: function () {
                this.$store.commit('CONTACT_PERSON_MODAL', false);
            }
        }
    }
</script>

<template>
    <div class="panel panel-success">
        <div class="panel-body">
            <div class="col-md-12">
                <div class="form-element">
                    <div class="small-12 medium-8 columns">
                        <label class="required-field">First Name</label>
                        <el-input v-model="firstname" placeholder="Enter Name"></el-input>
                        <div v-if="contactsErrors['firstname']" class="alert alert-danger">
                            <p class="text-danger" v-for="message in contactsErrors['firstname']" v-text="message"></p>
                        </div>
                    </div>
                </div>
                <br>

                <div class="form-element">
                    <div class="small-12 medium-8 columns">
                        <label class="required-field">Last Name</label>
                        <el-input v-model="lastname" placeholder="Enter Name"></el-input>
                        <div v-if="contactsErrors['lastname']" class="alert alert-danger">
                            <p class="text-danger" v-for="message in contactsErrors['lastname']" v-text="message"></p>
                        </div>
                    </div>
                </div>
                <br>

                <div class="form-element">
                    <div class="small-12 medium-8 columns">
                        <div class="dropdown-icon">
                            <label class="required-field">Email Address</label>
                            <el-input v-model="form.email" placeholder="Enter Email"></el-input>
                        </div>
                        <div v-if="contactsErrors['email']" class="alert alert-danger">
                            <p class="text-danger" v-for="message in contactsErrors['email']" v-text="message"></p>
                        </div>
                    </div>
                </div>
                <br>

                <div class="form-element">
                    <div class="small-12 medium-8 columns">
                        <div class="dropdown-icon">
                            <label class="">Address</label>
                            <el-input v-model="form.address" placeholder="Enter Address"></el-input>
                        </div>
                        <div v-if="contactsErrors['address']" class="alert alert-danger">
                            <p class="text-danger" v-for="message in contactsErrors['address']" v-text="message"></p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-element">
                    <div class="small-12 medium-8 columns">
                        <div class="dropdown-icon">
                            <label class="">Phone Number</label>
                            <vue-tel-input v-model="form.phone" placeholder="Enter Phone Number" class="el-input__inner"></vue-tel-input>
                        </div>
                        <div v-if="contactsErrors['phone']" class="alert alert-danger">
                            <p class="text-danger" v-for="message in contactsErrors['phone']" v-text="message"></p>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <el-button type="primary" @click="addContactPerson" size="small">
                        <i class="fa fa-spinner fa-spin" v-if="submitting"></i>
                        <i class="fa fa-save" v-else></i>
                        Add
                    </el-button>
                    <el-button class="btn btn-primary" @click="closeModal" size="small">Cancel</el-button>
                </div>
            </div>
        </div>
    </div>
</template>