<script>

    export default {
        data() {
            return {
                duplicate_reason: ''
            }
        },

        watch: {
            duplicate_reason: {
                handler: function () {
                    this.$emit('filled', document.getElementById('duplicate_reason').value)
                }
            }
        },
    }
</script>

<template>
    <div class="">
        <div class="form-element">
            <div class="columns grid-content float-left ">
                <br>

                <label class="required-field">Reason for Duplication</label>

                <el-input
                        type="textarea"
                        :rows="3"
                        id="duplicate_reason"
                        placeholder="Reason for a duplicate client application"
                        v-model="duplicate_reason">
                </el-input>

            </div>
            <br>
        </div>
    </div>
</template>