<script>
    import { mapGetters } from 'vuex';

    export default {
        data(){
            return{
                method_of_contact_id: 1
            }
        },

        computed: {
            ...mapGetters({
                clientForm: 'clientForm',
                subscribeErrors: "subscribeErrors",
                employmentTypes: 'employmentTypes',
                contactMethods: 'contactMethods'
            })
        },
        watch: {
            method_of_contact_id: {
                handler: function () {
                    this.clientForm.method_of_contact_id = this.country_id;
                }
            },
        },

        mounted() {
            this.clientForm.method_of_contact_id = this.method_of_contact_id;
        }
    }
</script>

<template>
    <div class="">
        <div class="form-element">
            <div class="col-md-3 columns grid-content float-left ">
                <br>
                <label class="">Employment Type</label>
                <el-select v-model="clientForm.employment_id" placeholder="Select Employment Type" style="width: 100%;">
                    <el-option
                            v-for="emp in employmentTypes"
                            :key="emp.id"
                            :label="emp.name"
                            :value="emp.id"
                    >

                    </el-option>
                </el-select>

                <div v-if="subscribeErrors['employment_id']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['employment_id']" v-text="message"></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 columns grid-content float-left ">
                <br>
                <label class="">Business Sector</label>
                <el-input v-model="clientForm.business_sector" placeholder="Business Sector"></el-input>

                <div v-if="subscribeErrors['business_sector']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['business_sector']" v-text="message"></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 columns grid-content float-left ">
                <br>
                <label class="">Present Occupation</label>
                <el-input v-model="clientForm.present_occupation" placeholder="Present Occupation"></el-input>

                <div v-if="subscribeErrors['present_occupation']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['present_occupation']" v-text="message"></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 columns grid-content float-left ">
                <br>
                <label class="">Employer Name</label>
                <el-input v-model="clientForm.employer_name" placeholder="Employer Name"></el-input>

                <div v-if="subscribeErrors['employer_name']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['employer_name']" v-text="message"></li>
                    </ul>
                </div>
            </div>
            <hr>
            <br>
        </div>


        <div class="form-element">
            <div class="col-md-3 columns grid-content float-left ">
                <br>
                <label class="">Employer Address</label>
                <el-input v-model="clientForm.employer_address" placeholder="Employer Address"></el-input>

                <div v-if="subscribeErrors['employer_address']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['employer_address']" v-text="message"></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 columns grid-content float-left ">
                <br>
                <label class="required-field">Prefferred Method of Contact</label>
                <el-select v-model="method_of_contact_id" placeholder="Select Method of Contact" style="width: 100%;">
                    <el-option
                            v-for="ct in contactMethods"
                            :key="ct.id"
                            :label="ct.description"
                            :value="ct.id"
                    >

                    </el-option>
                </el-select>

                <div v-if="subscribeErrors['method_of_contact_id']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['method_of_contact_id']" v-text="message"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
    .alert{
        margin-top: 10px;
    }

    ul li{
        list-style: none;
    }
</style>