<script>
    import {mapGetters} from 'vuex'
    import moment from 'moment'
    import Vue from 'vue'
    import VueTelInput from 'vue-tel-input'


    Vue.component('duplicate-reason', require('./duplicate'));
    Vue.component('client-search', require('../../../../../components/investments/client/search-client.vue'));

    export default {
        data() {
            return {
                dob: '',
                holderType: 1,
                holderTypes: [
                    {value: 1, name: 'New Holder'},
                    {value: 2, name: 'Existing Holder'},
                    {value: 3, name: 'Duplicate Holder'}
                ],
                country_id: 114,
                nationality_id: 114,
            }
        },

        components: {
            VueTelInput
        },

        computed: {
            ...mapGetters({
                titles: 'titles',
                countries: 'countries',
                contactMethods: 'contactMethods',
                gender: 'genderList',
                form: 'clientHoldersForm',

                errors: 'jointHolderFormErrors',
                submitting: 'submittingJointHolder',
                clientForm: 'clientForm',
            })
        },

        watch: {
            dob: {
                handler: function () {
                    this.form.dob = moment(this.dob).format('YYYY-MM-DD');
                    this.dob = this.form.dob;
                }
            },

            holderType: {
                handler: function () {
                    this.$store.commit('SET_JOINT_TYPE', this.holderType)
                }
            },

            country_id: {
                handler: function () {
                    this.form.country_id = this.country_id;
                }
            },

            nationality_id: {
                handler: function () {
                    this.form.nationality_id = this.nationality_id;
                }
            }
        },

        methods: {
            selectedUser: function (value) {

                this.form.client_id = value;
            },

            filledReason: function (value) {
                this.form.duplicate_reason = value;
            },

            validate() {
                this.form.holder_type = this.holderType;

                this.$store.commit('SUBMIT_JOINT_HOLDER_FORM', this.form);
            },

            close() {
                this.$store.commit('CLIENT_JOINT_HOLDER_MODAL', false);
            }
        },

        mounted() {
            this.form.country_id = this.country_id;
            this.form.nationality_id = this.nationality_id;
        }
    }
</script>

<template>
    <div class="panel panel-success">
        <div class="panel-body">
            <div class="small-12 columns" style="padding: 10px;">
                <div class="row form-element">
                    <div class="col-md-12 columns float-left grid-content">
                        <div v-if="errors['duplicate_client']" class="alert alert-danger" role="alert">
                            <p class="text-danger" v-text="errors['duplicate_client']"></p>
                        </div>
                    </div>
                </div>
                <div class="row form-element">
                    <div class="col-md-6 columns float-left grid-content">
                        <label class="">Holder </label>
                        <br>
                        <el-select v-model="holderType" placeholder="Select application type">
                            <el-option
                                    v-for="type in holderTypes"
                                    :key="type.value"
                                    :label="type.name"
                                    :value="type.value"
                                    width="100%">
                            </el-option>
                        </el-select>
                    </div>
                </div>

                <div class="row form-element" v-if="holderType == 2">
                    <div class="col-md-12 columns float-left grid-content">
                        <label class="required-field">Search Client</label>
                        <br>
                        <client-search :edit="true" @selected="selectedUser"></client-search>

                        <div v-if="errors['client_id']" class="alert alert-danger" role="alert">
                            <p class="text-danger">A Client is required, Please select a client</p>
                        </div>
                    </div>
                </div>

                <div class="row form-element" v-if="holderType == 3">
                    <div class="col-md-12 columns float-left grid-content">
                        <duplicate-reason @filled="filledReason"></duplicate-reason>


                        <div v-if="errors['duplicate_reason']" class="alert alert-danger" role="alert">
                            <p class="text-danger">Duplicate Joint-Holder application requires a reason</p>
                        </div>
                    </div>
                </div>

                <div v-if="holderType != 2">
                    <div class="row form-element">
                        <div class="col-md-3 columns float-left grid-content">
                            <br>
                            <label class="required-field">Title</label>
                            <el-select v-model="form.title_id" placeholder="Select title" style="width: 100%">
                                <el-option
                                        v-for="t in titles"
                                        :key="t.id"
                                        :label="t.name"
                                        :value="t.id">
                                </el-option>
                            </el-select>
                            <div v-if="errors['title_id']" class="alert alert-danger">
                                <p class="text-danger" v-for="message in errors['title_id']" v-text="message"></p>
                            </div>
                        </div>

                        <div class="col-md-3 columns float-left grid-content">
                            <br>
                            <label class="required-field">First Name</label>
                            <el-input v-model="form.firstname" type="text" placeholder="First name"></el-input>
                            <div v-if="errors['firstname']" class="alert alert-danger">
                                <p class="text-danger" v-for="message in errors['firstname']" v-text="message"></p>
                            </div>
                        </div>

                        <div class="col-md-3 columns float-left grid-content">
                            <br>
                            <label class="">Middle Name</label>
                            <el-input v-model="form.middlename" type="text" placeholder="Middle name"></el-input>
                            <div v-if="errors['middlename']" class="alert alert-danger">
                                <p class="text-danger" v-for="message in errors['middlename']" v-text="message"></p>
                            </div>
                        </div>

                        <div class="col-md-3 columns float-left grid-content">
                            <br>
                            <label class="required-field">Last Name</label>
                            <el-input v-model="form.lastname" type="text" placeholder="Last name"></el-input>
                            <div v-if="errors['lastname']" class="alert alert-danger">
                                <p class="text-danger" v-for="message in errors['lastname']" v-text="message"></p>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="row form-element">
                        <div class="col-md-6 columns float-left grid-content">
                            <br>
                            <label class="">Gender</label>
                            <el-select v-model="form.gender_id" placeholder="Select gender" style="width: 100%">
                                <el-option
                                        v-for="g in gender"
                                        :key="g.id"
                                        :label="g.abbr"
                                        :value="g.id">
                                </el-option>
                            </el-select>
                            <div v-if="errors['gender_id']" class="alert alert-danger">
                                <p class="text-danger" v-for="message in errors['gender_id']" v-text="message"></p>
                            </div>
                        </div>
                        <div class="col-md-6 columns float-left grid-content">
                            <br>
                            <label class="">Date of Birth</label>
                            <el-date-picker
                                    v-model="dob"
                                    type="date"
                                    placeholder="Date of birth" style="width: 100%">
                            </el-date-picker>
                            <div v-if="errors['dob']" class="alert alert-danger">
                                <p class="text-danger" v-for="message in errors['dob']" v-text="message"></p>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="row form-element">
                        <div class="col-md-6 columns float-left grid-content">
                            <br>
                            <label class="required-field">Pin No</label>
                            <el-input v-model="form.pin_no" type="text" placeholder="Enter pin number here"></el-input>
                            <div v-if="errors['[pin_no']" class="alert alert-danger">
                                <p class="text-danger" v-for="message in errors['pin_no']" v-text="message"></p>
                            </div>
                        </div>

                        <div class="col-md-6 columns float-left grid-content">
                            <br>
                            <label class="required-field">ID or Passport</label>
                            <el-input v-model="form.id_or_passport" type="text"
                                      placeholder="Enter ID or Passport number here"></el-input>
                            <div v-if="errors['id_or_passport']" class="alert alert-danger">
                                <p class="text-danger" v-for="message in errors['id_or_passport']" v-text="message"></p>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="row form-element">
                        <div class="col-md-6 columns float-left grid-content">
                            <br>
                            <label class="required-field">Email Address</label>
                            <el-input v-model="form.email" type="text" placeholder="example@email.com"></el-input>
                            <div v-if="errors['email']" class="alert alert-danger">
                                <p class="text-danger" v-for="message in errors['email']" v-text="message"></p>
                            </div>
                        </div>
                        <div class="col-md-6 columns float-left grid-content">
                            <br>
                            <label class="required-field">Phone Number</label>
                            <vue-tel-input v-model="form.telephone_cell" placeholder="Enter Phone Number"
                                           class="el-input__inner"></vue-tel-input>
                            <div v-if="errors['telephone_cell']" class="alert alert-danger">
                                <p class="text-danger" v-for="message in errors['telephone_cell']" v-text="message"></p>
                            </div>
                        </div>

                    </div>
                    <br>

                    <div class="row form-element">
                        <div class="col-md-6 columns float-left grid-content">
                            <br>
                            <label class="">Country</label>
                            <el-select v-model="form.country_id" placeholder="Select country" filterable
                                       style="width: 100%">
                                <el-option
                                        v-for="c in countries"
                                        :key="c.id"
                                        :label="c.name"
                                        :value="c.id">
                                </el-option>
                            </el-select>
                            <div v-if="errors['country_id']" class="alert alert-danger">
                                <p class="text-danger" v-for="message in errors['country_id']" v-text="message"></p>
                            </div>
                        </div>

                        <div class="col-md-6 columns float-left grid-content">
                            <br>
                            <label class="">Nationality</label>
                            <el-select v-model="form.nationality_id" placeholder="Select Nationality" filterable style="width: 100%">
                                <el-option
                                        v-for="c in countries"
                                        :key="c.id"
                                        :label="c.name"
                                        :value="c.id">
                                </el-option>
                            </el-select>
                            <div v-if="errors['nationality_id']" class="alert alert-danger">
                                <p class="text-danger" v-for="message in errors['nationality_id']" v-text="message"></p>
                            </div>
                        </div>

                    </div>
                    <br>

                    <div class="row form-element">
                        <div class="col-md-6 columns float-left grid-content">
                            <br>
                            <label class="">Postal Address</label>
                            <el-input v-model="form.postal_address" type="text" placeholder="Postal Address"></el-input>
                            <div v-if="errors['postal_address']" class="alert alert-danger">
                                <p class="text-danger" v-for="message in errors['postal_address']" v-text="message"></p>
                            </div>
                        </div>

                        <div class="col-md-6 columns float-left grid-content">
                            <br>
                            <label class="">Postal Code</label>
                            <el-input v-model="form.postal_code" type="text" placeholder="Postal Code"></el-input>
                            <div v-if="errors['postal_code']" class="alert alert-danger">
                                <p class="text-danger" v-for="message in errors['postal_code']" v-text="message"></p>
                            </div>
                        </div>

                    </div>
                    <br>

                    <div class="row form-element">
                        <div class="col-md-6 columns float-left grid-content">
                            <br>
                            <label class="">Residential Address</label>
                            <el-input v-model="form.residential_address" type="text"
                                      placeholder="Residential Address"></el-input>
                            <div v-if="errors['residential_address']" class="alert alert-danger">
                                <p class="text-danger" v-for="message in errors['residential_address']"
                                   v-text="message"></p>
                            </div>
                        </div>

                        <div class="col-md-6 columns float-left grid-content">
                            <br>
                            <label class="">Town</label>
                            <el-input v-model="form.town" type="text" placeholder="Town"></el-input>
                            <div v-if="errors['town']" class="alert alert-danger">
                                <p class="text-danger" v-for="message in errors['town']" v-text="message"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>
                <div class="row form-element1">
                    <div class="small-12 medium-12 columns float-left grid-content">
                        <el-button type="default" @click="close" size="small">Cancel</el-button>
                        <el-button type="success" @click="validate" size="small"><i v-if="submitting"
                                                                                    class="fa fa-spinner fa-spin"></i>
                            Add
                        </el-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>