<script>
    import {mapGetters} from 'vuex';
    import VueTelInput from 'vue-tel-input'

    export default {

        computed: {
            ...mapGetters({
                clientForm: 'clientForm',
                subscribeErrors: 'subscribeErrors'
            })
        },

        components: {
            VueTelInput
        }
    }
</script>

<template>
    <div class="">
        <div class="form-element">
            <div class="col-md-6 columns grid-content float-left ">
                <br>
                <label class="">Full Name</label>
                <el-input v-model="clientForm.kin_name" placeholder="Full name"></el-input>

                <div v-if="subscribeErrors['kin_name']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['kin_name']" v-text="message"></li>
                    </ul>
                </div>

            </div>
            <div class="col-md-6 columns grid-content float-left ">
                <br>
                <label class="">Postal Address</label>
                <el-input v-model="clientForm.kin_postal"  placeholder="Postal Address"></el-input>

                <div v-if="subscribeErrors['kin_postal']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['kin_postal']" v-text="message"></li>
                    </ul>
                </div>
            </div>
            <br>
            <br>
        </div>

        <div class="form-element">
            <div class="col-md-6 columns grid-content float-left ">
                <br>
                <label class="">Email Address</label>
                <el-input v-model="clientForm.kin_email"  placeholder="Email Adrress"></el-input>

                <div v-if="subscribeErrors['kin_email']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['kin_email']" v-text="message"></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 columns grid-content float-left ">
                <br>
                <label class="">Phone Number</label>
                <VueTelInput v-model="clientForm.kin_phone" placeholder="Phone Number e.g 0712345678" class="el-input__inner"></VueTelInput>

                <div v-if="subscribeErrors['kin_phone']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['kin_phone']" v-text="message"></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</template>

<style>
    .alert{
        margin-top: 10px;
    }

    ul li{
        list-style: none;
    }

</style>