<script>
    import { mapGetters } from 'vuex';

    export default {

        computed: {
            ...mapGetters({
                clientForm: 'clientForm',
                subscribeErrors: 'subscribeErrors',
                naturesList: 'businessNatures'
            })
        },
    }
</script>

<template>
    <div class="">
        <div class="form-element">
            <div class="col-md-6 columns grid-content float-left ">
                <br>

                <label class="">Corporate Investor Type</label>

                <el-select v-model="clientForm.corporate_investor_type" placeholder="Select Corporate Investor" style="width: 100%;">
                    <el-option
                            v-for="b in naturesList"
                            :key="b.id"
                            :label="b.name "
                            :value="b.id"
                    >
                    </el-option>
                </el-select>

                <div v-if="subscribeErrors['corporate_investor_type']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['corporate_investor_type']" v-text="message"></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 columns grid-content float-left ">
                <br>
                <label class="">Specify if other..</label>

                <el-input v-model="clientForm.corporate_investor_type_other"  placeholder="Specify if other"></el-input>

                <div v-if="subscribeErrors['corporate_investor_type_other']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['corporate_investor_type_other']" v-text="message"></li>
                    </ul>
                </div>
            </div>
            <br>
        </div>
    </div>
</template>

<style>
    .alert{
        margin-top: 10px;
    }

    ul li{
        list-style: none;
    }
</style>