<script>
    import {mapGetters} from 'vuex';
    import moment from 'moment';
    import VueTelInput from 'vue-tel-input'

    export default {
        data() {
            return {
                dob: '',
                country_id: 114,
                nationality_id: 114,
            }
        },

        computed: {
            ...mapGetters({
                clientForm: 'clientForm',
                subscribeErrors: 'subscribeErrors',
                titles: 'titles',
                gender: 'genderList',
                countries: "countries",
                processType: 'processType',
            })
        },

        components: {
            VueTelInput
        },

        watch: {
            country_id: {
                handler: function () {
                    this.clientForm.country_id = this.country_id;
                }
            },

            nationality_id: {
                handler: function () {
                    this.clientForm.nationality_id = this.nationality_id;
                }
            },

            dob: {
                handler: function () {
                    this.clientForm.dob = moment(this.dob).format('YYYY-MM-DD');
                }
            },

            clientForm: {
                handler: function () {
                    if (this.clientForm.dob) this.dob = this.clientForm.dob;
                }
            }
        },

        mounted() {
            this.clientForm.country_id = this.country_id;
            this.clientForm.nationality_id = this.nationality_id;
        }
    }
</script>

<template>
    <div class="">
        <div class="form-element">
            <div class="col-md-3">
                <br>
                <label class="required-field">Title</label>
                <el-select v-model="clientForm.title" placeholder="Select client title" style="width: 100%">
                    <el-option
                            v-for="t in titles"
                            :key="t.id"
                            :label="t.name"
                            :value="t.id"
                    >
                    </el-option>
                </el-select>

                <div v-if="subscribeErrors['title']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['title']" v-text="message"></li>
                    </ul>
                </div>
                <br>
            </div>

            <div class="col-md-3">
                <br>
                <label class="required-field">First Name</label>
                <el-input v-model="clientForm.firstname" placeholder="First name"></el-input>

                <div v-if="subscribeErrors['firstname']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['firstname']" v-text="message"></li>
                    </ul>
                </div>
                <br>
            </div>

            <div class="col-md-3">
                <br>
                <label class="">Middle Name</label>
                <el-input v-model="clientForm.middlename" placeholder="Middle name"></el-input>

                <div v-if="subscribeErrors['middlename']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['middlename']" v-text="message"></li>
                    </ul>
                </div>
                <br>
            </div>

            <div class="col-md-3">
                <br>
                <label class="required-field">Last Name</label>
                <el-input v-model="clientForm.lastname" placeholder="Last name"></el-input>

                <div v-if="subscribeErrors['lastname']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['lastname']" v-text="message"></li>
                    </ul>
                </div>
                <br>
            </div>

            <div class="clearfix"></div>

        </div>

        <div class="form-element">
            <div class="col-md-3">
                <br>
                <label class="required-field">Gender</label>
                <el-select v-model="clientForm.gender_id" placeholder="Select gender" style="width: 100%">
                    <el-option
                            v-for="g in gender"
                            :key="g.id"
                            :label="g.abbr"
                            :value="g.id"
                    >
                    </el-option>
                </el-select>
                <br>
            </div>

            <div class="col-md-3">
                <br>
                <label class="required-field">Date of Birth</label>
                <el-date-picker v-model="dob" type="date" placeholder="Date of birth"
                                style="width: 100%"></el-date-picker>

                <div v-if="subscribeErrors['dob']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['dob']" v-text="message"></li>
                    </ul>
                </div>
                <br>
            </div>

            <div class="col-md-3 columns grid-content float-left ">
                <br>
                <label class="required-field">ID or Passport</label>
                <el-input v-model="clientForm.id_or_passport" placeholder="ID or Passport Number"></el-input>

                <div v-if="subscribeErrors['id_or_passport']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['id_or_passport']" v-text="message"></li>
                    </ul>
                </div>
                <br>
            </div>

            <div class="col-md-3">
                <br>
                <label class="required-field">Pin Number</label>
                <el-input v-model="clientForm.pin_no" placeholder="Pin No: e.g. A00388389239"></el-input>

                <div v-if="subscribeErrors['pin_no']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['pin_no']" v-text="message"></li>
                    </ul>
                </div>
                <br>
            </div>

            <div class="col-md-3">
                <br>
                <label class="required-field">Email Address</label>
                <el-input v-model="clientForm.email" placeholder="Email Address"></el-input>

                <div v-if="subscribeErrors['email']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['email']" v-text="message"></li>
                    </ul>
                </div>
                <br>
            </div>
            <hr>
            <br/>
        </div>


        <div class="">
            <div class="col-md-3 ">
                <br>
                <label class="">Country of Residence</label>
                <el-select v-model="country_id" filterable placeholder="Country of Residence" style="width: 100%">
                    <el-option
                            v-for="c in countries"
                            :key="c.id"
                            :label="c.name"
                            :value="c.id"></el-option
                    >
                </el-select>

                <div v-if="subscribeErrors['country_id']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['country_id']" v-text="message"></li>
                    </ul>
                </div>
                <br>
            </div>

            <div class="col-md-3 ">
                <br>
                <label class="">Nationality</label>
                <el-select v-model="nationality_id" filterable placeholder="Nationality" style="width: 100%">
                    <el-option
                            v-for="c in countries"
                            :key="c.id"
                            :label="c.name"
                            :value="c.id"></el-option
                    >
                </el-select>

                <div v-if="subscribeErrors['nationality_id']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['nationality_id']" v-text="message"></li>
                    </ul>
                </div>
                <br>
            </div>

            <div class="col-md-3">
                <br>
                <label class="" v-if="processType != 'reserve_unit'">Postal Address</label>
                <label class="required-field" v-if="processType == 'reserve_unit'">Postal Address</label>
                <el-input v-model="clientForm.postal_address" placeholder="Postal Address: e.g. 400499"></el-input>

                <div v-if="subscribeErrors['postal_address']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['postal_address']" v-text="message"></li>
                    </ul>
                </div>
                <br>
            </div>

            <div class="col-md-3">
                <br>
                <label class="" v-if="processType != 'reserve_unit'">Postal Code</label>
                <label class="required-field" v-if="processType == 'reserve_unit'">Postal Code</label>
                <el-input v-model="clientForm.postal_code" placeholder="Postal Code: e.g. 00200"></el-input>

                <div v-if="subscribeErrors['postal_code']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['postal_code']" v-text="message"></li>
                    </ul>
                </div>
                <br>
            </div>

            <div class="col-md-3">
                <br>
                <label class="" v-if="processType != 'reserve_unit'">Town</label>
                <label class="required-field" v-if="processType == 'reserve_unit'">Town</label>
                <el-input v-model="clientForm.town" placeholder="Town"></el-input>

                <div v-if="subscribeErrors['town']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['town']" v-text="message"></li>
                    </ul>
                </div>
                <br>
            </div>
        </div>
        <hr>
        <br>

        <div class="">
            <div class="col-md-3">
                <br>
                <label class="" v-if="processType != 'reserve_unit'">Physical Address</label>
                <label class="required-field" v-if="processType == 'reserve_unit'">Physical Address</label>
                <el-input v-model="clientForm.street" type="textarea" :rows="3"
                          placeholder="Physical Address: e.g. 6411 Ivy Lane, Suite 112 Greenbelt, MD 20770"></el-input>

                <div v-if="subscribeErrors['street']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['street']" v-text="message"></li>
                    </ul>
                </div>
                <br>
            </div>

            <div class="col-md-3">
                <br>
                <label class="required-field">Phone/ Home Number</label>

                <VueTelInput v-model="clientForm.telephone_home" placeholder="Phone Number e.g 0712345678"
                               class="el-input__inner"></VueTelInput>

                <div v-if="subscribeErrors['telephone_home']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['telephone_home']" v-text="message"></li>
                    </ul>
                </div>
                <br>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-3">
                <br>
                <label class="">Telephone Office</label>

                <VueTelInput v-model="clientForm.telephone_office" placeholder="Office Number e.g 0712345678"
                               class="el-input__inner"></VueTelInput>

                <div v-if="subscribeErrors['telephone_office']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['telephone_office']" v-text="message"></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</template>


<style>
    .alert {
        margin-top: 10px;
    }

    ul li {
        list-style: none;
    }
</style>