<script>
    import { mapGetters } from 'vuex';

    export default {

        computed: {
            ...mapGetters({
                clientForm: 'clientForm',
                subscribeErrors: 'subscribeErrors',
            })
        },
    }
</script>

<template>
    <div class="">
        <div class="form-element">
            <div class="col-md-6 columns grid-content float-left ">
                <br>

                <label class="required-field">Reason for Risky Client Application</label>

                <el-input
                        type="textarea"
                        :rows="3"
                        placeholder="Please provide a reason for a client application whose deemed risky"
                        v-model="clientForm.risk_reason">
                </el-input>

                <input type="hidden" v-model="clientForm.risky" value="true">

                <div v-if="subscribeErrors['risk_reason']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['risk_reason']" v-text="message"></li>
                    </ul>
                </div>

                <div v-if="subscribeErrors['risk_client']" class="alert alert-danger" role="alert">
                    <p class="text-danger">Please provide a reason as to a Risky Client Application</p>
                </div>
            </div>
            <br>
        </div>
    </div>
</template>