<script>
    import { mapGetters } from 'vuex';

    export default {

        computed: {
            ...mapGetters({
                clientForm: 'clientForm',
                subscribeErrors: 'subscribeErrors',
                sourceOfFunds: 'sourceOfFunds'
            })
        },
    }
</script>

<template>
    <div class="">
        <div class="form-element">
            <div class="col-md-6 columns grid-content float-left ">
                <br>
                <label class="">Fund Source</label>
                <el-select v-model="clientForm.funds_source_id" placeholder="Fund Source" style="width: 100%;">
                    <el-option
                            v-for="s in sourceOfFunds"
                            :key="s.id"
                            :label="s.name "
                            :value="s.id">
                    </el-option>
                </el-select>

                <div v-if="subscribeErrors['funds_source_id']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['funds_source_id']" v-text="message"></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 columns grid-content float-left ">
                <br>
                <label class="">Funds Source OTHER</label>
                <el-input v-model="clientForm.funds_source_other" placeholder="Details"></el-input>

                <div v-if="subscribeErrors['funds_source_other']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['funds_source_other']" v-text="message"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
    .alert{
        margin-top: 10px;
    }

    ul li{
        list-style: none;
    }
</style>