<script>
    import { mapGetters } from 'vuex';
    import VueTelInput from 'vue-tel-input'

    export default {
        components: {
            VueTelInput
        },

        computed: {
            ...mapGetters({
                clientForm: 'clientForm',
                subscribeErrors: 'subscribeErrors',
                contactMethods: 'contactMethods'
            })
        },
    }
</script>

<template>
    <div class="">
        <div class="form-element">

            <div class="col-md-3">
                <br>
                <label class="required-field">Registered Name</label>
                <el-input v-model="clientForm.registered_name"  placeholder="Registered Name"></el-input>

                <div v-if="subscribeErrors['registered_name']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['registered_name']" v-text="message"></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <br>
                <label class="">Trade Name</label>
                <el-input v-model="clientForm.trade_name"  placeholder="Trade Name"></el-input>

                <div v-if="subscribeErrors['trade_name']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['trade_name']" v-text="message"></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <br>
                <label class="required-field">Registered Address</label>
                <el-input v-model="clientForm.registered_address"  placeholder="Registered Address"></el-input>

                <div v-if="subscribeErrors['registered_address']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['registered_address']" v-text="message"></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <br>
                <label class="required-field">Registration Number</label>
                <el-input v-model="clientForm.registration_number"  placeholder="Registration Number"></el-input>
                <ul v-if="subscribeErrors['registration_number']" class="text-danger">
                    <li v-for="message in subscribeErrors['registration_number']" v-text="message"></li>
                </ul>
            </div>
            <br>
            <br>
        </div>

        <div class="form-element">
            <div class="col-md-3">
                <br>
                <label class="">Postal Address</label>
                <el-input v-model="clientForm.postal_address"  placeholder="e.g. 400499"></el-input>

                <div v-if="subscribeErrors['postal_address']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['postal_address']" v-text="message"></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <br>
                <label class="">Postal Code</label>
                <el-input v-model="clientForm.postal_code"   placeholder="e.g. 00200"></el-input>

                <div v-if="subscribeErrors['postal_code']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['postal_code']" v-text="message"></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <br>
                <label class="">Town</label>
                <el-input v-model="clientForm.town"   placeholder="Nairobi"></el-input>

                <div v-if="subscribeErrors['town']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['town']" v-text="message"></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <br>
                <label class="required-field">Telephone Office</label>
                <VueTelInput v-model="clientForm.telephone_office" placeholder="Enter Phone Number e.g. 0712345678" class="el-input__inner"></VueTelInput>

                <div v-if="subscribeErrors['telephone_office']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['telephone_office']" v-text="message"></li>
                    </ul>
                </div>
            </div>
            <br>
            <br>
        </div>

        <div class="form-element">
            <div class="col-md-3">
                <br>
                <label class="required-field">Email Address  </label>
                <el-input  v-model="clientForm.email"  placeholder="Email Address"></el-input>

                <div v-if="subscribeErrors['email']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['email']" v-text="message"></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <br>
                <label class="required-field">Physical Address</label>
                <el-input  v-model="clientForm.street" placeholder="Physical Address"></el-input>

                <div v-if="subscribeErrors['street']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['street']" v-text="message"></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <br>
                <label class="required-field">Pin No</label>
                <el-input  v-model="clientForm.pin_no" placeholder="Pin No:"></el-input>

                <div v-if="subscribeErrors['pin_no']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['pin_no']" v-text="message"></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <br>
                <label class="">Method of Contact</label>
                <el-select v-model="clientForm.method_of_contact_id" placeholder="Select Method of Contact" style="width: 100%;">
                    <el-option
                            v-for="c in contactMethods"
                            :key="c.id"
                            :label="c.description"
                            :value="c.id"
                    >
                    </el-option>
                </el-select>

                <div v-if="subscribeErrors['method_of_contact_id']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in subscribeErrors['method_of_contact_id']" v-text="message"></li>
                    </ul>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>
</template>

<style>
    .alert{
        margin-top: 10px;
    }

    ul li{
        list-style: none;
    }
</style>