<script>
    import Vue from 'vue';
    import {mapGetters} from 'vuex';
    import events from '../../events';

    Vue.component('redeem-points', require('./actions/redeem-points'));
    Vue.component('redeem-instructions', require('./partials/redeem_instructions'));
    Vue.component('redeem-vouchers', require('./partials/vouchers'));

    export default {
        data() {
            return {
                redeem_points: false,
                view_instructions: false,
                view_vouchers: false,
            }
        },

        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient',
                pointsSummaries: 'loyaltyPointsDetails',
                fetchingPointsSummary: 'fetchingPointsSummary',
                vouchers: 'vouchersDetails'
            })
        },

        watch: {
            redeem_points: {
                handler: function () {
                    if (this.redeem_points) {
                        events.bus.$emit('update_title', 'Redeem Loyalty Points');
                    }
                }
            },
            selectedClient: {
                handler: function () {
                    this.fetchLoyaltyPoints();
                    this.fetchVouchers();
                }
            }
        },

        methods: {
            fetchLoyaltyPoints() {
                this.$store.commit('FETCH_LOYALTY_POINTS_SUMMARY', this.selectedClient.id)
            },

            toggleViewInstructions() {
                this.view_instructions = !this.view_instructions;
            },

            toggleViewVouchers() {
                this.view_vouchers = !this.view_vouchers;
            },

            fetchVouchers() {
                if (this.vouchers.length === 0) {
                    this.$store.commit('FETCH_VOUCHERS_DETAILS')
                }
            }
        },

        mounted() {
            this.fetchLoyaltyPoints();
            this.fetchVouchers();
        }
    }
</script>

<template>
    <div class="crims-page unittrust investment-details">
        <breadcrumb>
            <h3>
                Loyalty Points
                <span>
                     <strong>{{selectedClient.name}}</strong>
                </span>
            </h3>
        </breadcrumb>

        <div class="unittrust__details">

            <div v-show="fetchingPointsSummary">
                <table-holder></table-holder>
            </div>

            <div class="crims-table-area" v-show="!fetchingPointsSummary">
                <div class="crims-table-area__head">
                    <div class="head-left">
                        <h3>Points Breakdown</h3>
                    </div>
                    <div class="head-right">

                    </div>
                </div>
                <div class="crims-table-area__body">

                    <table class="crims-table" id="ut_details_step_0">
                        <thead class="crims-table-head">
                        <tr>
                            <th>Investment</th>
                            <th>Real Estate</th>
                            <th>Unit Fund</th>
                            <th>Total Points</th>
                            <th>Available Points</th>
                            <th>Redeemed Points</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>{{pointsSummaries.invPoints}}</td>
                            <td>{{pointsSummaries.rePoints}}</td>
                            <td>{{pointsSummaries.fundPoints}}</td>
                            <td>{{pointsSummaries.totalPoints}}</td>
                            <td>{{pointsSummaries.availablePoints | currency('', 2)}}</td>
                            <td>{{pointsSummaries.redeemedPoints}}</td>
                            <td>
                                <el-tooltip class="item" effect="dark" content="The available points are less than the required for redeeming" placement="bottom-end" v-if="!selectedClient.canRedeem">
                                    <el-button  class="crims_action_button success disabled" >Redeem Points</el-button>
                                </el-tooltip>

                                <el-button class="crims_action_button success" v-else @click="redeem_points = true">
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                    Redeem Points
                                </el-button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="drawers">
                    <action-drawer title="Redeem Points" :visible.sync="redeem_points">
                        <redeem-points :pointsDetail="pointsSummaries" :vouchers="vouchers"></redeem-points>
                    </action-drawer>
                </div>
            </div>

        </div>

        <div class="">
            <el-button
                    size="medium"
                    round
                    v-show="!fetchingPointsSummary && selectedClient.canRedeem" @click="toggleViewInstructions"
            >
                <i class="el-icon-arrow-right" v-if="!view_instructions"></i>
                <i class="el-icon-arrow-down" v-else></i>
                View Instructions
            </el-button>

            <el-button
                    size="medium"
                    round
                    v-show="!fetchingPointsSummary" @click="toggleViewVouchers"
            >
                <i class="el-icon-arrow-right" v-if="!view_vouchers"></i>
                <i class="el-icon-arrow-down" v-else></i>
                View Vouchers
            </el-button>
        </div>

        <div class="unittrust__details" v-show="!fetchingPointsSummary">
            <div class="crims-table-area" v-if="view_instructions">
                <redeem-instructions></redeem-instructions>
            </div>
        </div>

        <div class="unittrust__details" v-show="!fetchingPointsSummary">
            <div class="crims-table-area" v-if="view_vouchers">
                <redeem-vouchers></redeem-vouchers>
            </div>
        </div>
    </div>
</template>