<script>
    import Vue from 'vue';
    import {mapGetters} from 'vuex';

    Vue.component('loyalty-points-cards', require('./partials/summary-cards.vue'));
    Vue.component('loyalty-points-activities', require('./partials/recent-activities.vue'));
    Vue.component('loyalty-activities_comp', require('./partials/loyalty_recent_activities_comp'));
    Vue.component('redeem_policy', require('./partials/redeem_policy'));


    export default {
        data: () => ({}),
        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient',
            })
        },
        methods: {},
    }
</script>

<template>
    <div>
        <div class="investment-cards">
            <loyalty-points-cards></loyalty-points-cards>
        </div>

        <div class="recent-activities">
            <div class="grid-x dashboard_tour_step_4">
                <div class="large-12 small-12 medium-12">
                    <loyalty-points-activities pages="3"></loyalty-points-activities>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>

</style>