<script>
    import Vue from 'vue';
    import {mapGetters} from 'vuex';

    Vue.component('investment-cards', require('./summarycards/summary-cards.vue'));
    Vue.component('sproducts-recent-activities', require('./recentactivities/recent-activities.vue'));
    Vue.component('upcoming-maturity-dates', require('./upcomingmaturitydates/upcoming-maturity-dates.vue'));

    export default {
        data: () => ({}),
        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient',
            })
        },
        methods: {},
    }
</script>
<template>
    <div v-show="selectedClient.hasSP">
        <div class="investment-cards">
            <investment-cards></investment-cards>
        </div>

        <div class="recent-activities">
            <div class="grid-x dashboard_tour_step_4">
                <div class="large-6 small-12 medium-12">
                    <sproducts-recent-activities></sproducts-recent-activities>
                </div>
                <div class="large-6 u-maturities small-12 medium-12">
                    <upcoming-maturity-dates></upcoming-maturity-dates>
                </div>
            </div>
        </div>
    </div>
</template>