<script>
   import moment from 'moment';
   import { mapGetters } from 'vuex';
   import { Message } from 'element-ui';

    export default {
        props: [ 'investment', 'combined', 'combined_date'],
        data() {
            return {
                form: {},
                combine_date: null,
                selected: []
            }
        },
        computed: {
            ...mapGetters({
                combineInvestments: 'combineInvestments',
                submitting: 'combiningSelected',
                fetchingInvestments: 'fetchingInvestments'
            }),
            selectAll: {
                get: function () {
                    return this.combineInvestments ? this.selected.length === this.combineInvestments.length : false;
                },
                set: function (value) {
                    var selected = [];
                    if (value) {
                        this.combineInvestments.forEach(function (combineInvestment) {
                            selected.push(combineInvestment.id);
                        });
                    }
                    this.selected = selected;
                }
            }
        },
        watch: {
            combine_date: {
                handler: function () {
                    this.form.combine_date = moment(this.combine_date).format('YYYY-MM-DD');
                    this.$store.commit('SET_COMBINED_DATE', this.form.combine_date);
                }
            },
            combineInvestments: {
                handler: function ()
                {
                    this.fetchComplete = this.combineInvestments.length > 0;
                }
            },
            selected: {
                handler: function () {
                    console.log(this.selected, "selected ");
                }
            }
        },
        methods: {
            combineSelectedRollover: function () {
                this.form.investments = this.selected;
                this.form.investment_id = this.investment.id;

                if(this.form.combine_date && this.form.investments)
                {
                    this.$store.commit('COMBINE_SELECTED_ROLLOVER', this.form);
                }
                else {
                    Message.info({ message: 'Kindly complete the form then proceed'})
                }
            },
            closeModal: function () {
                this.$store.commit('COMBINE_MODAL', false);
            },
            getCombineInvestments: function () {
                this.$store.commit('GET_COMBINED_INVESTMENTS', this.investment.id);
            }
        },
        mounted() {
            this.getCombineInvestments();
            if(this.combined.length > 0) this.selected = this.combined;
            if(this.combined_date) this.combine_date = moment(this.combined_date).format('YYYY-MM-DD');
        }
    }
</script>
<template>
        <div class="panel panel-default">
                <div class="panel-heading">
                        <h4><span class="inv-header"> COMBINE INVESTMENTS </span></h4>
                </div>
                <div class="panel-body">
                        <div class="">
                                <div class="form-group">
                                        <el-date-picker v-model="combine_date" type="date" placeholder="Select combine date" style="width: 100%;"></el-date-picker>
                                </div>
                                <br>
                                <br>
                                <div v-if="fetchingInvestments">
                                        <i class="fa fa-spinner fa-spin"></i> Fetching
                                </div>
                                <div class="form-group" v-else>
                                        <table class="table table-hover">
                                                <thead>
                                                        <tr>
                                                                <th> Select </th>
                                                                <th>Amount</th>
                                                                <th>Value Date</th>
                                                                <th>Maturity Date</th>
                                                                <th>Value</th>
                                                        </tr>
                                                </thead>
                                                <tbody>
                                                        <tr v-for="inv in combineInvestments">
                                                                <td>
                                                                        <input type="checkbox" v-model="selected" :value="inv.id" number>
                                                                </td>
                                                                <td>{{ inv.amount | currency}}</td>
                                                                <td>{{ inv.invested_date | date }}</td>
                                                                <td>{{ inv.maturity_date | date }}</td>
                                                                <td>{{ inv.total_value | currency }}</td>
                                                        </tr>
                                                </tbody>
                                        </table>

                                </div>

                                <br>
                                <div class="form-group">
                                        <el-button type="success" @click="combineSelectedRollover"><i v-show="submitting" class="fa fa-spinner fa-spin"></i> Combine</el-button>
                                        <el-button type="default" @click="closeModal()"> Cancel</el-button>
                                </div>
                        </div>
                </div>
        </div>
</template>