<script>
    import { mapGetters } from 'vuex';
    import clientPartials from '../../mixins/clientPartials';

    export default {
        props: [ 'investment', 'instruction', 'client' ],
        mixins: [ clientPartials ],
        data() {
            return {
                form: this.instruction,
                selected_account: '',
                options: [
                    { value: 'principal', label: 'Principal' },
                    { value: 'principal_interest', label: 'Principal + Interest' },
                    { value: 'interest', label: 'Interest' },
                    { value: 'amount', label: 'Amount' },
                ],
                tenor: parseInt(this.instruction.tenor),
                tenor_value: '',
                rolled: [],
                combined: false,
                item: {},
            }
        },
        computed: {
            ...mapGetters({
                rolloverErrors: 'rolloverUpdateErrors',
                submitting: 'updatingRollover',
                fetchingRate: 'fetchingRate',
                interestRate: 'topupRate',
                combineModal: 'combineModal',
                combiningSelected: 'combiningSelected',
                combinedInvestments: 'combinedInvestments',
                combineDate: 'combineDate'
            })
        },
        watch: {
            form: {
                handler: function ()
                {
                    this.fetchRate();
                }, deep: true
            },
            interestRate: {
                handler: function () {
                    this.form.agreed_rate = this.interestRate;
                }
            },
            tenor_value: {
                handler: function ()
                {
                    this.form.tenor = this.tenor_value;
                }
            },
            tenor: {
                handler: function () {
                    this.form.tenor = this.tenor;
                }
            },
            combinedInvestments: {
                handler: function () {
                    if(this.combinedInvestments.length > 0)
                    {
                        this.combined = true;
                        this.form.combinedInvestment = this.combinedInvestments;
                    }
                }
            },
            combineDate: {
                handler: function ()
                {
                    this.form.combine_date = this.combineDate;
                }
            }
        },
        methods: {
            updateRollover: function ()
            {
                this.$store.commit('UPDATE_ROLLOVER_INSTRUCTION', this.form);
            },
            fetchRate: function ()
            {
                this.form.client_id = this.client.id;
                if(this.form.client_id && this.form.product_id && this.form.amount && this.form.tenor)
                {
                    this.$store.commit('GET_TOPUP_RATES', this.item);
                }
            },
            combineSelectedRollover: function () {
                this.item.investments = this.instruction.combinedRollover;

                var inv = this.item.investments.indexOf(this.investment.uuid);
                if(inv != -1) this.item.investments.splice(inv, 1);

                this.rolled = this.item.investments;

                this.item.investment_id = this.investment.id;
                this.item.combine_date = this.instruction.due_date;

                this.$store.commit('COMBINE_SELECTED_ROLLOVER', this.item);
            },
            openCombineModal: function () {
                this.$store.commit('COMBINE_MODAL', true);
            },
            setupRolloverEdit: function ()
            {
                if(this.instruction.combinedRollover.length > 0)
                {
                    this.combined = true;
                    this.combineSelectedRollover();
                }
            }
        },
        mounted() {
            this.getClientAccounts(this.client);
            this.setupRolloverEdit();
            console.log(this.instruction);
        }
    }
</script>
<template>
        <div class="">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><span class="inv-header"> EDIT  </span>ROLLOVER</h4>
                </div>
                <div class="panel-body">
                    <div v-if="combined">
                        <div v-if="combiningSelected">
                            <i class="fa fa-spinner fa-spin"></i>
                        </div>
                        <div v-else>
                            <br>
                            <selected-investments></selected-investments>
                        </div>
                    </div>
                    <div>
                        <el-button type="primary" @click="openCombineModal"><i class="fa fa-plus"></i> Combine </el-button>

                        <el-dialog :visible.sync="combineModal" :show-close="false" :close-on-click-modal="false">
                            <combine-form :investment="investment" :combined="rolled" :combined_date="instruction.due_date"></combine-form>
                        </el-dialog>
                    </div>
                    <br>
                    <hr>
                    <div class="col-md-8">
                        <div class="row">
                            <label>Select amount to rollover</label>
                            <el-select v-model="form.amount_select" placeholder="Amount to rollover" style="width: 95%;">
                                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
                            </el-select>
                            <ul v-if="rolloverErrors['amount']" class="text-danger">
                                <li v-for="message in rolloverErrors['amount']" v-text="message"></li>
                            </ul>
                        </div>

                        <div class="row" v-show="form.amount_select == 'amount'">
                            <br>
                            <label>Enter the amount</label>
                            <el-input v-model="form.amount" style="width: 95%;" placeholder="Enter amount to rollover" autoComplete="off"></el-input>
                            <ul v-if="rolloverErrors['amount']" class="text-danger">
                                <li v-for="message in rolloverErrors['amount']" v-text="message"></li>
                            </ul>
                        </div>
                        <br>

                        <div class="row" v-show="form.amount_select == 'principal_interest'">
                            <label>Enter amount to topup</label>
                            <el-input v-model="form.topup_amount" style="width: 95%;" placeholder="Enter amount to topup" autoComplete="off"></el-input>
                        </div>
                        <br>

                        <div class="row">
                            <label>New investment duration</label>
                            <div class="dropdown-icon">
                                <el-select v-model="tenor" placeholder="please select the tenor" style="width: 95%;">
                                    <el-option label="1 Month" :value="1"></el-option>
                                    <el-option label="3 Months" :value="3"></el-option>
                                    <el-option label="6 Months" :value="6"></el-option>
                                    <el-option label="9 Months" :value="9"></el-option>
                                    <el-option label="1 Year" :value="12"></el-option>
                                    <el-option label="Other" :value="NaN"></el-option>
                                </el-select>
                                <ul v-if="rolloverErrors['tenor']" class="text-danger">
                                    <li v-for="message in rolloverErrors['tenor']" v-text="message"></li>
                                </ul>
                            </div>
                        </div>
                        <br>

                        <div class="row" v-show="form.tenor == 'NaN'">
                            <label>Enter the tenor in months</label>
                            <input v-model="tenor_value" type="text" placeholder="Investment Period" style="width: 95%;" autoComplete="off"/>
                            <ul v-if="rolloverErrors['tenor']" class="text-danger">
                                <li v-for="message in rolloverErrors['tenor']" v-text="message"></li>
                            </ul>
                        </div>
                        <br>

                        <div class="row" v-show="form.amount_select != 'principal_interest'">
                            <label>Select the account to send the balance to</label>
                            <el-select v-model="form.client_account_id" placeholder="Select account" style="width: 95%;">
                                <el-option v-for="c in accounts" :key="c.id" :label="c.name" :value="c.id"></el-option>
                            </el-select>
                        </div>
                        <br>

                        <div class="row">
                            <el-button type="success" @click="updateRollover"><i v-show="submitting" class="fa fa-spinner fa-spin"></i> Update </el-button>
                        </div>
                    </div>
                    <div class="col-md-4 columns rollover-form">
                        <div class="">
                            <div class="" v-if="fetchingRate">
                                <i class="fa fa-spinner fa-spin"></i> Fetching interest rate...
                            </div>
                            <div v-else>
                                <div>
                                    <p>
                                        The agreed interest rate is:
                                    </p>
                                    <br>
                                    <p>
                                        <span class="rate-box"> {{ form.agreed_rate }} % </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</template>