<script>
    import { mapGetters } from 'vuex';

    export default {
        data() {
            return {}
        },
        computed: {
            ...mapGetters({
                combinedInvestments: 'combinedInvestments'
            })
        },
        methods: {
            sumAmount: function ()
            {
                return this.combinedInvestments.reduce(function (carry, val)
                {
                    return carry + parseFloat(val.amount);
                }, 0);
            },
            sumValue: function ()
            {
                return this.combinedInvestments.reduce(function (carry, val)
                {
                    return carry + parseFloat(val.value);
                }, 0);
            },
        }
    }
</script>
<template>
        <div class="">
                <table class="table table-responsive table-hover">
                        <thead>
                                <tr>
                                        <th>Value Date</th>
                                        <th>Maturity Date</th>
                                        <th>Combine Date</th>
                                        <th>Amount</th>
                                        <th>Value</th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr v-for="inv in combinedInvestments">
                                        <td>{{ inv.invested_date | date }}</td>
                                        <td>{{ inv.maturity_date | date }}</td>
                                        <td>{{ inv.combine_date | date }}</td>
                                        <td>{{ inv.amount | currency }}</td>
                                        <td>{{ inv.value | currency }}</td>
                                </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                                <th>Total</th>
                                <th></th>
                                <th></th>
                                <th>{{ sumAmount() | currency }}</th>
                                <th>{{ sumValue() | currency }}</th>
                        </tr>
                        </tfoot>
                </table>
        </div>
</template>