<script>
    export default {
        methods: {
            refresh: function () {
                location.reload();
            }
        }
    }
</script>

<template>
    <div class="">

        <br>

        <div class="uploaded-section rate-box">
            <h4> <i class="el-icon-success"></i> Client application completed successfully</h4>
            <h5>You can update any section of the application form.</h5>
        </div>

        <br>

        <div class="">
            <el-button size="mini" :href="'/dashboard/investments/client-instructions'" type="danger">
                <i class="el-icon-caret-left"></i> Back to application instruction
            </el-button>

            <el-button type="success" @click="refresh" size="mini"> Make new application </el-button>
        </div>
    </div>
</template>