<script>
    import { Message } from 'element-ui';
    import { mapGetters } from 'vuex';
    import Vue from 'vue';

    Vue.component('contact-persons-modal', require('./partials/contact'));

    export default {
        computed: {
            ...mapGetters({
                contacts: 'contactPersons',
                contactModal: 'contactModal',
                client_investment_id: 'client_investment_id',
                submitting: 'savingContactPersons',
                removing: 'removing',
                processType: 'processType',
                reserve_unit_transaction_id: 'reserve_unit_transaction_id',
                register_transaction_id: 'register_transaction_id',
            })
        },

        methods: {
            submit: function () {

                let contacts = this.filterContacts();

                if (!this.validateForm()) {
                    return;
                }

                // save depending on form
                if(this.processType === 'register_shareholder'){
                    this.$store.commit('SAVE_CONTACT_PERSON', {
                        id: this.register_transaction_id,
                        processType: this.processType,
                        contacts: contacts
                    })
                }else if(this.processType === 'reserve_unit'){
                    this.$store.commit('SAVE_CONTACT_PERSON', {
                        id: this.reserve_unit_transaction_id,
                        processType: this.processType,
                        contacts: contacts
                    })
                }else {
                    this.$store.commit('SAVE_CONTACT_PERSON', {
                        id: this.client_investment_id,
                        processType: this.processType,
                        contacts: contacts
                    })
                }
            },

            validateForm: function () {
                if(this.processType === 'register_shareholder'){
                    if(!this.register_transaction_id) {
                        Message.warning({message: 'Complete the subscriber form and proceed'});

                        return;
                    }
                }else if(this.processType === 'reserve_unit'){
                    if(!this.reserve_unit_transaction_id) {
                        Message.warning({message: 'Complete the subscriber form and proceed'});

                        return;
                    }
                }else {
                    if(!this.client_investment_id) {
                        Message.warning({message: 'Complete the investment and subscriber form and proceed'});

                        return;
                    }
                }

                return true;
            },

            filterContacts: function () {
                return this.contacts.filter( (contact) => {
                    return !contact.id;
                });
            },

            add: function () {
                this.$store.commit('CONTACT_PERSON_MODAL', true);
            },

            remove: function (person) {
                this.$store.commit('REMOVE_CONTACT_PERSON', person);
            },
        }
    }
</script>

<template>
    <div class="panel panel-success">
        <div class="panel-body">
            <div class="">
                <table class="table table-hover" v-if="contacts.length > 0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email Address</th>
                            <th>Address</th>
                            <th>Phone Number</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="person in contacts">
                            <td>{{ person.name }}</td>
                            <td>{{ person.email }}</td>
                            <td>{{ person.address }}</td>
                            <td>{{ person.phone }}</td>
                            <td>
                                <el-button
                                        type="danger"
                                        @click="remove(person)"
                                        size="mini">
                                    <!--<i class="el-icon-loading" v-if="removing"></i>-->
                                    <i class="el-icon-delete"></i>

                                </el-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="">

                <el-button type="primary" @click="add" size="small" class="el-icon-circle-plus-outline"> Add</el-button>
                <el-button type="success" @click="submit" size="small" :disabled="contacts.length < 1">
                    <i class="el-icon-loading" v-if="submitting"></i>
                    <i class="el-icon-circle-plus-outline" v-else></i>
                    Submit
                </el-button>

                <el-dialog :visible.sync="contactModal" :show-close="false">
                    <contact-persons-modal></contact-persons-modal>
                </el-dialog>

            </div>
        </div>
    </div>
</template>