<script>
    import {mapGetters} from 'vuex';
    import {Message} from 'element-ui';

    export default {

        data() {
            return {
                url: '/api/client/document/upload',
                extensions: 'image/pdf',
                date: '',
                form: {
                    slug: 'email_indemnity'
                }
            }
        },

        computed: {
            ...mapGetters({
                client_investment_id: 'client_investment_id',
                individual: 'individualType',
                defaultHeaders: 'defaultHeaders',
                indemnities: 'emailIndemnities',
                processType: 'processType',
            })
        },

        watch: {
            individual: {
                handler: function () {
                    this.getKycDocumentTypes();
                }
            },

            date: {
                handler: function () {
                    this.form.date = moment(this.date).format('YYYY-MM-DD');
                }
            },
        },

        methods: {
            upload: function () {

                this.form.application_id = this.client_investment_id;
                this.form.process_type = this.processType;

                if (!this.validateForm()) {
                    Message.warning({message: 'Complete the investment and subscriber form and proceed'});

                    return;
                }

                if (!this.$refs.upload.uploadFiles[0]) {
                    Message.warning({message: 'Upload the form and proceed'});
                    return;
                }

                this.$refs.upload.submit();
            },

            validateForm: function () {

                if (!this.form.application_id) {
                    return false;
                } else if (this.form.date == null) {
                    return false;
                } else if (this.form.email == null) {
                    return false;
                }

                return true;
            },

            errorOnUpload: function () {
                Message.warning({message: 'There was an error while uploading, please try again later'});
            },

            showUploadSuccess: function () {
                Message.success({message: 'File uploaded successfully'});

                this.$store.commit('SET_EMAIL_INDEMNITY', this.form);

                this.$store.commit('SET_APPLICATION_STAGE', {
                    stage: 'mandate',
                    section: 'indemnitySection'
                });
            },

            remove: function (doc) {
                this.$store.commit('REMOVE_CLIENT_DOCUMENT', doc);
                this.$store.commit('REMOVE_INDEMNITY', doc);
            }
        }
    }
</script>

<template>
    <div class="">
        <div class="col-md-12 panel panel-success">
            <div class="col-md-6">

                <br>

                <div class="small-12">

                    <label class="required">Date</label>
                    <el-date-picker
                            v-model="date"
                            type="date"
                            placeholder="Date" style="width: 100%">
                    </el-date-picker>

                    <br>
                </div>

                <br>

                <div class="small-12">

                    <label class="required"> Email </label>
                    <el-input v-model="form.email"></el-input>

                    <br>
                </div>

                <br>

                <div class="kyc-application">
                    <el-upload
                            class="upload-demo"
                            drag
                            :action=url
                            ref="upload"
                            :data=form
                            :headers="defaultHeaders"
                            :on-error="errorOnUpload"
                            :on-success="showUploadSuccess"
                            :accept=extensions
                            :thumbnail-mode="false"
                            :auto-upload="false">
                    </el-upload>
                    <br>
                </div>

                <br>

                <div>
                    <el-button type="success" size="mini" @click="upload" class="el-icon-circle-plus">Submit</el-button>
                    <br>
                </div>
                <br>
            </div>

            <div class="col-md-6">
                <br>
                <br>
                <div class="uploaded-section rate-box" v-if="indemnities.length > 0">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Email</th>
                            <th>Date</th>
                            <th>File</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="indemnity in indemnities">
                            <td>{{ indemnity.email }}</td>
                            <td>{{ indemnity.date }}</td>
                            <td>
                                    <span v-if="indemnity.document_id">
                                        <a target="_blank" :href="'/dashboard/document/'+indemnity.document_id">
                                            <i class="el-icon-document"></i>
                                        </a>
                                    </span>
                            </td>
                            <td>
                                    <span v-if="indemnity.document_id">
                                        <el-button type="danger" class="el-icon-delete" @click="remove(indemnity)"
                                                   size="mini"></el-button>
                                    </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>