<script>
    import { mapGetters } from 'vuex';
    import formData from '../../../Mixins/partials';

    export default {
        mixins: [ formData ],

        data() {
            return {
                unit_fund_id: '',
                product_category: 'products',
                product_id: '',
                amount: '',
                tenor: ''
            }
        },

        computed: {
            ...mapGetters({
                clientForm: 'clientForm',
                clientErrors: 'clientErrors',
                prods: 'productsList',
                unitFunds: 'allUnitFunds',
                agreedRate: 'interestRate',
                fetchingRate: 'fetchingRate',
                validating: 'validatingClientInvestment'
            })
        },

        watch: {
            unit_fund_id: {
                handler: function () {
                    this.clientForm.unit_fund_id = this.unit_fund_id;
                }
            },

            agreedRate: {
                handler: function () {
                    this.clientForm.agreed_rate = this.agreedRate;
                }
            },

            product_id: {
                handler: function () {
                    this.clientForm.product_id = this.product_id;
                    this.fetchInterestRate();
                }
            },

            amount: {
                handler: function () {
                    this.clientForm.amount = this.amount;
                    this.fetchInterestRate();
                }

            },

            tenor: {
                handler: function () {
                    this.clientForm.tenor = this.tenor;
                    this.fetchInterestRate();
                }
            },

            clientForm: {
                handler: function () {
                    this.amount = this.clientForm.amount;
                    this.unit_fund_id = this.clientForm.unit_fund_id;
                    this.product_id = this.clientForm.product_id;
                    this.tenor = this.clientForm.tenor;
                }
            }
        },

        methods: {
            submit: function () {
                this.$store.commit('VALIDATE_INVESTMENT_FORMS', this.clientForm);
            },

            fetchInterestRate: function () {
                if(
                    this.clientForm.amount &&
                    this.clientForm.tenor &&
                    this.clientForm.product_id
                ) {
                    this.$store.commit('GET_AGREED_INTEREST_RATE', this.clientForm);
                }
            }
        }
    }
</script>

<template>
    <div class="">
        <div class="col-md-12 panel panel-success">
            <div class="col-md-6">
                <br>

                <div class="small-12">
                    <label class="required-field">Amount to Invest</label>
                    <el-input v-model="amount" placeholder="Enter Amount"></el-input>

                    <div v-if="clientErrors['amount']" class="alert alert-danger" role="alert">
                        <ul>
                            <li v-for="message in clientErrors['amount']" v-text="message"></li>
                        </ul>
                    </div>

                </div>

                <br>

                <div class="form-element">
                    <div class="small-12">
                        <div class="">
                            <label class="required-field">Select Product Category</label>
                            <br>
                            <el-radio-group v-model="clientForm.product_category">
                                <el-radio label="funds"> Unit Trust Funds</el-radio>
                                <el-radio label="products">Structured Products</el-radio>
                            </el-radio-group>
                        </div>

                        <div v-if="clientErrors['product_id']" class="alert alert-danger" role="alert">
                            <ul>
                                <li v-for="message in clientErrors['product_id']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <br>

                <div v-show="clientForm.product_category === 'funds'">
                    <div class="form-element">
                        <div class="small-12">
                            <div class="">
                                <label class="required-field">Select Unit Fund</label>
                                <el-select v-model="unit_fund_id" placeholder="Select Unit Fund" style="width: 100%">
                                    <el-option
                                            v-for="f in unitFunds"
                                            :key="f.value"
                                            :label="f.label"
                                            :value="f.value"
                                    >
                                    </el-option>
                                </el-select>
                            </div>

                            <div v-if="clientErrors['unit_fund_id']" class="alert alert-danger" role="alert">
                                <ul>
                                    <li v-for="message in clientErrors['unit_fund_id']" v-text="message"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>

                <div v-show="clientForm.product_category === 'products'">
                    <div class="form-element">
                        <div class="small-12 medium-8">
                            <div class="">
                                <label class="required-field">Select Product</label>
                                <el-select v-model="product_id" placeholder="Select Product" style="width: 100%">
                                    <el-option
                                            v-for="p in prods"
                                            :key="p.id"
                                            :label="p.name"
                                            :value="p.id"
                                    >
                                    </el-option>
                                </el-select>
                            </div>

                            <div v-if="clientErrors['product_id']" class="alert alert-danger" role="alert">
                                <ul>
                                    <li v-for="message in clientErrors['product_id']" v-text="message"></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="form-element">
                        <div class="small-12">
                            <div class="">
                                <label class="required-field">Select Tenor</label>
                                <el-select v-model="tenor" placeholder="Select Tenor" style="width: 100%">
                                    <el-option
                                            v-for="t in tenorList"
                                            :key="t.id"
                                            :label="t.name"
                                            :value="t.id"
                                    >
                                    </el-option>
                                </el-select>
                            </div>

                            <div v-if="clientErrors['tenor']" class="alert alert-danger" role="alert">
                                <ul>
                                    <li v-for="message in clientErrors['tenor']" v-text="message"></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <br>

                </div>
                <br>
            </div>
            <div class="col-md-5">
                <div v-show="clientForm.product_category == 'products'">

                    <div class="" v-if="fetchingRate">
                        <i class="fa fa-spinner fa-spin"></i> Fetching Rate
                    </div>

                    <div class="form-group" v-if="agreedRate">
                        <div class="">
                            <div class="">
                                <label>Agreed interest rate is:</label>
                            </div>
                            <br>
                            <div class="">
                                <div>
                                    <p>
                                        <span class="rate-box"> {{ agreedRate }} %</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="col-md-12">
            <div class="col-md-4">
                <el-button type="primary" size="small" @click="submit">
                    <i class="el-icon-loading" v-if="validating"></i>
                    <i class="el-icon-circle-plus-outline" v-else></i>
                    Proceed
                </el-button>
            </div>
        </div>
    </div>
</template>

<style>
    .alert{
        margin-top: 10px;
    }

    ul li{
        list-style: none;
    }
</style>