<script>
    import {Message} from 'element-ui';
    import {mapGetters} from 'vuex';
    import Vue from 'vue';

    Vue.component('joint-holder-modal', require('./partials/joint'));

    export default {
        computed: {
            ...mapGetters({
                holders: 'clientJointHolderForm',
                clientJointHolderModal: 'clientJointHolderModal',
                client_investment_id: 'client_investment_id',
                submitting: 'savingClientJointHolders',
                removing: 'removingHolder',
                processType: 'processType',
                register_transaction_id: 'register_transaction_id',
                reserve_unit_transaction_id: 'reserve_unit_transaction_id',
                holderType: 'holderType',
            })
        },

        methods: {
            submit: function () {

                let jHolders = this.filterHolders();

                if (!this.validateForm()) {
                    return;
                }

                // save depending on form
                if (this.processType === 'register_shareholder') {
                    this.$store.commit('SAVE_JOINT_HOLDERS', {
                        id: this.register_transaction_id,
                        processType: this.processType,
                        holders: jHolders
                    })
                } else if (this.processType === 'reserve_unit') {
                    this.$store.commit('SAVE_JOINT_HOLDERS', {
                        id: this.reserve_unit_transaction_id,
                        processType: this.processType,
                        holders: jHolders
                    })
                } else {
                    this.$store.commit('SAVE_JOINT_HOLDERS', {
                        id: this.client_investment_id,
                        processType: this.processType,
                        holders: jHolders
                    })
                }
            },

            validateForm: function () {
                if (this.processType === 'register_shareholder') {
                    if (!this.register_transaction_id) {
                        Message.warning({message: 'Complete the subscriber form and proceed'});

                        return;
                    }
                } else if (this.processType === 'reserve_unit') {
                    if (!this.reserve_unit_transaction_id) {
                        Message.warning({message: 'Complete the subscriber form and proceed'});

                        return;
                    }
                } else {
                    if (!this.client_investment_id) {
                        Message.warning({message: 'Complete the investment and subscriber form and proceed'});

                        return;
                    }
                }

                return true;
            },

            filterHolders: function () {
                return this.holders.filter((holder) => {
                    return !holder.id;
                });
            },

            add: function () {
                this.$store.commit('CLIENT_JOINT_HOLDER_MODAL', true);
            },

            remove: function (holder) {
                this.$store.commit('REMOVE_JOINT_HOLDER', holder)
            }
        }
    }
</script>

<template>
    <div class="panel panel-success">
        <div class="panel-body">
            <div class="">
                <table class="table table-hover" v-if="holders.length > 0">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>PIN Number</th>
                        <th>Id/Passport:</th>
                        <th v-if="holderType == 3">Reason</th>
                        <th>Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="holder in holders">
                        <td>{{ holder.code }}</td>
                        <td>{{ holder.firstname }} {{ holder.lastname }}</td>
                        <td>{{ holder.email }}</td>
                        <td>{{ holder.telephone_cell }}</td>
                        <td>{{ holder.pin_no }}</td>
                        <td>{{ holder.id_or_passport }}</td>
                        <td v-if="holderType == 3">{{ holder.duplicate_reason }}</td>
                        <td>
                            <span class="label label-default" v-if="holder.holder_type == 1">NEW HOLDER</span>
                            <span class="label label-info" v-if="holder.holder_type == 2">EXISTING CLIENT</span>
                            <span class="label label-primary" v-if="holder.holder_type == 3">DUPLICATE HOLDER</span>
                        </td>
                        <td>
                            <el-button
                                    type="danger"
                                    @click="remove(holder)"
                                    size="mini">
                                <!--<i class="el-icon-loading" v-if="removing"></i>-->
                                <i class="el-icon-delete"></i>
                            </el-button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="">

                <el-button type="primary" @click="add" size="small" class="el-icon-circle-plus-outline"> Add</el-button>

                <el-button type="success" @click="submit" size="small" :disabled="holders.length < 1">
                    <i class="el-icon-loading" v-if="submitting"></i>
                    <i class="el-icon-circle-plus-outline" v-else></i>
                    Submit
                </el-button>

                <el-dialog :visible.sync="clientJointHolderModal" :show-close="false">
                    <joint-holder-modal></joint-holder-modal>
                </el-dialog>

            </div>
        </div>
    </div>
</template>