<script>
    import {mapGetters} from 'vuex';
    import {Message} from 'element-ui';

    export default {

        data() {
            return {
                document_type_ids: [],
                url: '/api/client/document/upload',
                extensions: 'image/pdf/*',
                slug: 'kyc',
            }
        },

        computed: {
            ...mapGetters({
                client_investment_id: 'client_investment_id',
                individual: 'individualType',
                documentTypes: 'documentTypes',
                fetchingDocumentTypes: "fetchingDocumentTypes",
                defaultHeaders: 'defaultHeaders',
                uploaded: 'kycUploaded',
                processType: 'processType',
                register_transaction_id: 'register_transaction_id',
                reserve_unit_transaction_id: 'reserve_unit_transaction_id',
            }),

            attachment() {
                return {
                    slug: this.slug,
                    document_type_ids: JSON.stringify(this.document_type_ids),
                    application_id: this.getApplicationId(),
                    process_type: this.processType
                };
            }
        },

        watch: {
            individual: {
                handler: function () {
                    this.getKycDocumentTypes();
                }
            }
        },

        methods: {
            getApplicationId: function () {
                if (this.processType === 'register_shareholder') {
                    return this.register_transaction_id;
                } else if (this.processType === 'reserve_unit') {
                    return this.reserve_unit_transaction_id;
                } else {
                    return this.client_investment_id
                }
            },

            upload: function () {

                if (!this.validateForm()) {
                    Message.warning('Complete the previous sections of the form and proceed');
                    return;
                }

                if (!this.$refs.upload.uploadFiles[0]) {
                    Message.warning('Upload the form and proceed');
                    return;
                }

                this.$refs.upload.submit();
            },

            validateForm: function () {

                if (this.attachment.slug == "") {
                    return false;
                } else if (this.attachment.application_id == null) {
                    return false;
                }

                return true;
            },

            errorOnUpload: function () {
                Message.warning('There was an error while uploading, please try again later');
            },

            showUploadSuccess: function () {

                Message.success('File uploaded successfully');

                this.document_type_ids.forEach((type) => {

                    let doc = this.docType(type);

                    this.addToUploaded(doc);
                });

                this.document_type_ids = [];

                if (this.documentTypes.length === this.uploaded.length) {
                    this.$store.commit('SET_APPLICATION_STAGE', {
                        stage: 'payment',
                        section: 'kycSection'
                    });
                }
            },

            addToUploaded: function (doc) {
                this.$store.commit('SET_UPLOADED_KYC', doc);
            },

            getKycDocumentTypes: function () {
                this.$store.commit('GET_KYC_DOCUMENT_TYPES', this.individual);
            },

            docType: function (id) {
                let vm = this;


                return this.documentTypes.find(function (type) {
                    return (type.id === id);
                })
            },

            remove: function (doc) {
                this.$store.commit('REMOVE_CLIENT_DOCUMENT', doc);
                this.$store.commit('REMOVE_KYC_FROM_LIST', doc);
            }
        },

        mounted() {
            this.getKycDocumentTypes();
        }
    }
</script>

<template>
    <div class="">
        <div class="col-md-12 panel panel-success">
            <div class="col-md-6">

                <br>

                <div class="small-12">

                    <label class="required">
                        Select document type to upload
                        <i class="el-icon-loading" v-if="fetchingDocumentTypes"></i>
                    </label>

                    <el-select
                            v-model="document_type_ids"
                            placeholder="Select document type"
                            style="width: 100%"
                            multiple>
                        <el-option
                                v-for="type in documentTypes"
                                :key="type.id"
                                :label="type.name"
                                :value="type.id"
                        >
                        </el-option>
                    </el-select>

                    <br>
                </div>

                <br>

                <div class="kyc-application">
                    <el-upload
                            class="upload-demo"
                            drag
                            :action=url
                            ref="upload"
                            :data=attachment
                            :headers="defaultHeaders"
                            :on-error="errorOnUpload"
                            :on-success="showUploadSuccess"
                            :accept=extensions
                            :thumbnail-mode="false"
                            :auto-upload="false">
                    </el-upload>
                    <br>
                </div>

                <br>

                <div>
                    <el-button type="success" size="mini" @click="upload" class="el-icon-upload">upload</el-button>
                    <br>
                </div>
                <br>
            </div>

            <div class="col-md-6">
                <br>
                <br>
                <div class="uploaded-section rate-box" v-if="uploaded.length > 0">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th> Type</th>
                            <th> File</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="upload in uploaded">
                            <td><i class="el-icon-success"></i>
                                <span v-if="upload.document_id">{{ upload.kyc_type }}</span>
                                <span v-else>{{ upload.name }}</span>
                            </td>

                            <td>
                                <span v-if="upload.document_id">
                                    <a target="_blank"
                                       :href="'/dashboard/investments/client-instructions/filled-application-documents/'+upload.document_id">
                                        <i class="el-icon-document"></i>
                                    </a>
                                </span>
                            </td>

                            <td>
                                <span v-if="upload.document_id">
                                    <el-button type="danger" class="el-icon-delete" @click="remove(upload)"
                                               size="mini"></el-button>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>