<script>
    import {mapGetters} from 'vuex';
    import {Message} from 'element-ui';
    import axios from 'axios';

    export default {

        props: ['mandates'],

        data() {
            return {
                mandate: {},
                url: '/api/client/application/signing-mandate',
                signing_mandate: 0,
                document_type_id: '',
                upload_url: '/api/client/document/upload',
                extensions: 'image/pdf',
            }
        },

        computed: {
            ...mapGetters({
                client_investment_id: 'client_investment_id',
                individual: 'individualType',
                defaultHeaders: 'defaultHeaders',
                mandateDocuments: 'mandateDocuments',
                processType: 'processType',
            }),

            attachment() {
                return {
                    application_id: this.client_investment_id,
                    slug: 'client_signatures',
                    process_type: this.processType
                };
            }
        },

        watch: {
            signing_mandate: {
                handler: function () {
                    this.mandate.signing_mandate = this.signing_mandate;
                }
            }
        },

        methods: {
            submit: function () {
                if (this.client_investment_id) {

                    this.mandate.application_id = this.client_investment_id;

                    axios.post(this.url, this.mandate)
                        .then(() => {
                            Message.success({message: 'Signing mandate updated'});

                            this.updateSection();

                        }, () => {
                            Message.warning({message: 'Error while uploading'});
                        });

                    return;
                }

                Message.warning({message: 'Please fill other sections before saving signing mandate'});
            },

            updateSection: function () {
                this.$store.commit('SET_APPLICATION_STAGE', {
                    stage: 'complete',
                    section: 'mandateSection'
                });
            },

            uploadForm: function () {
                this.upload(); // upload attachment

                this.submit(); // update the signing mandate
            },

            upload: function () {

                if (!this.validateForm()) {
                    Message.warning({message: 'Complete the investment and subscriber form and proceed'});

                    return;
                }

                if (!this.$refs.upload.uploadFiles[0]) {
                    Message.warning({message: 'Upload the form and proceed'});
                    return;
                }

                this.$refs.upload.submit();
            },

            validateForm: function () {

                if (this.attachment.application_id == null) {
                    return false;
                }

                return true;
            },

            errorOnUpload: function () {
                Message.warning({message: 'There was an error while uploading, please try again later'});
            },

            showUploadSuccess: function () {

                Message.success({message: 'Upload of the signing mandate document was succcesful'});

                this.$store.commit('SET_APPLICATION_STAGE', {
                    stage: 'complete',
                    section: 'mandateSection'
                });
            },

            remove: function (doc) {
                this.$store.commit('REMOVE_CLIENT_DOCUMENT', doc);
                this.$store.commit('REMOVE_SIGNING_MANDATE', doc);
            }
        }
    }
</script>

<template>
    <div class="col-md-12 panel panel-success">
        <div class="col-md-6">

            <br>

            <div class="kyc-application">
                <br>
                <label>Select signing mandate</label>
                <el-select v-model="signing_mandate" placeholder="Select signing mandate" style="width: 100%">
                    <el-option
                            v-for="mandate in mandates"
                            :key="mandate.id"
                            :label="mandate.name"
                            :value="mandate.id"
                    >
                    </el-option>
                </el-select>
                <br>
            </div>

            <br>

            <div v-if="signing_mandate != 0">
                <el-button type="success" size="mini" @click="submit" class="el-icon-plus">Save</el-button>
                <br>
            </div>
            <br>
        </div>

        <div class="col-md-6" v-if="signing_mandate === 0">

            <br>

            <div class="kyc-application">
                <br>
                <label>Signature Person File</label>
                <el-upload
                        class="upload-demo"
                        drag
                        :action=upload_url
                        ref="upload"
                        :data=attachment
                        :headers="defaultHeaders"
                        :on-error="errorOnUpload"
                        :on-success="showUploadSuccess"
                        :accept=extensions
                        :thumbnail-mode="false"
                        :auto-upload="false">
                </el-upload>
                <br>
            </div>

            <br>

            <div>
                <el-button type="success" size="mini" @click="uploadForm" class="el-icon-upload">upload</el-button>
                <br>
            </div>

            <br>

        </div>

        <div class="col-md-6">
            <br>
            <br>
            <div class="uploaded-section rate-box" v-if="mandateDocuments.length > 0">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th> Type</th>
                        <th> File</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="upload in mandateDocuments">
                        <td><i class="el-icon-success"></i> Client signature</td>
                        <td>
                            <span v-if="upload.document_id">
                                <a target="_blank" :href="'/dashboard/document/'+upload.document_id">
                                    <i class="el-icon-document"></i>
                                </a>
                            </span>
                        </td>
                        <td>
                            <span v-if="upload.document_id">
                                <el-button type="danger" class="el-icon-delete" @click="remove(upload)"
                                           size="mini"></el-button>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    </div>
</template>