<script>
    import {mapGetters} from 'vuex';
    import {Message} from 'element-ui';

    export default {

        data() {
            return {
                document_type_id: '',
                url: '/api/client/document/upload',
                extensions: 'image/pdf/*',
            }
        },

        computed: {
            ...mapGetters({
                client_investment_id: 'client_investment_id',
                individual: 'individualType',
                defaultHeaders: 'defaultHeaders',
                paymentDocument: 'paymentDocument',
                paymentUploaded: 'paymentUploaded',
                processType: 'processType',
            }),

            attachment() {
                return {
                    slug: 'payment',
                    kyc_type: (this.individual === 1) ? 'transfer_individual' : 'transfer_corporate',
                    application_id: this.client_investment_id,
                    process_type: this.processType
                };
            }
        },

        methods: {
            upload: function () {

                if (!this.validateForm()) {
                    Message.warning({message: 'Complete the investment and subscriber form and proceed'});

                    return;
                }

                if (!this.$refs.upload.uploadFiles[0]) {
                    Message.warning({message: 'Upload the form and proceed'});
                    return;
                }

                this.$refs.upload.submit();
            },

            validateForm: function () {
                return this.attachment.application_id !== null;
            },

            errorOnUpload: function () {
                Message.warning({message: 'There was an error while uploading, please try again later'});
            },

            showUploadSuccess: function () {
                Message.success({message: 'Upload of the payment document was succcesful'});

                this.upload = true;

                this.$store.commit('SET_APPLICATION_STAGE', {
                    stage: 'indemnity',
                    section: 'paymentSection'
                });
            },

            remove: function (doc) {
                this.$store.commit('REMOVE_CLIENT_DOCUMENT', doc);
                this.$store.commit('REMOVE_PAYMENT_FROM_UPLOADED', doc);
            }
        }
    }
</script>

<template>
    <div class="col-md-12 panel panel-success">
        <div class="col-md-6">

            <br>

            <div class="kyc-application">
                <br>
                <label>Payment Document</label>
                <el-upload
                        class="upload-demo"
                        drag
                        :action=url
                        ref="upload"
                        :data=attachment
                        :headers="defaultHeaders"
                        :on-error="errorOnUpload"
                        :on-success="showUploadSuccess"
                        :accept=extensions
                        :thumbnail-mode="false"
                        :auto-upload="false">
                </el-upload>
                <br>
            </div>

            <br>

            <div>
                <el-button type="success" size="mini" @click="upload" class="el-icon-upload">upload</el-button>
                <br>
            </div>

            <br>

        </div>

        <div class="col-md-6">
            <br>
            <br>
            <div class="uploaded-section rate-box" v-if="paymentDocument.kyc_type">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th> Type</th>
                        <th> File</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><i class="el-icon-success"></i> {{ paymentDocument.kyc_type }}</td>
                        <td>
                            <a target="_blank" :href="'/dashboard/document/'+paymentDocument.document_id">
                                <i class="el-icon-document"></i>
                            </a>
                        </td>
                        <td>
                                <span v-if="paymentDocument.document_id">
                                    <el-button type="danger" class="el-icon-delete" @click="remove(paymentDocument)"
                                               size="mini"></el-button>
                                </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>