<script>
    import {mapGetters} from 'vuex';
    import formData from '../../../Mixins/partials';
    import {Message} from 'element-ui';

    export default {
        mixins: [formData],

        props: ['edit'],

        data() {
            return {
                complete: true,
                indType: 1,
                applicationType: 1,
                franchise: false,
                penalty_exempt: false,
            }
        },

        computed: {
            ...mapGetters({
                clientForm: 'clientForm',
                individual: 'individualType',
                clientAppType: 'clientAppType',
                appComplete: 'appComplete',
                client_investment_id: 'client_investment_id',
                appFranchise: 'appFranchise',
                subscriberSection: 'subscriberSection',
                processType: 'processType',
                reserve_unit_transaction_id : 'reserve_unit_transaction_id'
            })
        },

        watch: {
            individual: {
                handler: function () {
                    this.indType = this.individual;
                }
            },

            appFranchise: {
                handler: function () {
                    this.franchise = this.appFranchise === 1 ? false : true;
                }
            },

            clientAppType: {
                handler: function () {
                    this.applicationType = this.clientAppType;
                }
            },

            appComplete: {
                handler: function () {
                    this.complete = this.appComplete === 1 ? true : false;
                }
            },

            indType: {
                handler: function () {
                    this.clientForm.individual = this.indType;
                    this.$store.commit('SET_CLIENT_TYPES', this.indType);
                }
            },

            applicationType: {
                handler: function () {

                    this.clientForm.new_client = this.applicationType;

                    this.$store.commit('SET_APPLICATION_TYPES', this.applicationType);

                }
            },

            franchise: {
                handler: function () {
                    this.clientForm.franchise = this.franchise;
                }
            },

            complete: {
                handler: function () {
                    this.clientForm.complete = this.complete;
                }
            },

            penalty_exempt: {
                handler: function () {
                    this.clientForm.penalty_exempt = this.penalty_exempt;
                }
            }
        },

        methods: {
            completeApplication: function () {
                Message.success({message: 'Application complete'});

                location.reload();
            },

            uploadApprovalDocuments: function () {
                window.location.href = "/dashboard/investments/client-instructions/" + this.reserve_unit_transaction_id + "/approval-document";
            }
        },

        mounted() {
            this.clientForm.individual = this.individual;
            this.clientForm.new_client = this.applicationType;
            this.clientForm.complete = this.complete;
            this.clientForm.franchise = this.franchise;
        }
    }
</script>
<template>
    <div class="">
        <div class="row">
            <div class="col-md-10">
                <div class="col-md-3">
                    <el-select v-model="indType" placeholder="Select Client Type">
                        <el-option
                                v-for="type in clientTypes"
                                :key="type.value"
                                :label="type.label"
                                :value="type.value"
                                width="100%">
                        </el-option>
                    </el-select>
                </div>

                <div class="col-md-2">
                <span class="field-inline">
                    <el-select v-model="applicationType" placeholder="Select application type">
                        <el-option
                                v-for="type in applicationTypes"
                                :key="type.value"
                                :label="type.name"
                                :value="type.value"
                                width="100%">
                        </el-option>
                    </el-select>
                </span>
                </div>

                <div class="col-md-7">
                <span class="field-inline">
                    <el-switch
                            v-model="complete"
                            active-text="Complete"
                            inactive-text="Incomplete">
                    </el-switch>
                </span>

                    <span class="field-inline">
                    <el-switch
                            v-model="franchise"
                            active-color="#13ce66"
                            active-text="Franchise"
                            inactive-text="Unfranchise">
                    </el-switch>
                </span>
                    <span class="field-inline" v-if="(processType == 'reserve_unit')">
                    <el-checkbox v-model="penalty_exempt"></el-checkbox> Penalty Exemption
                </span>
                </div>
            </div>

            <div class="col-md-2" v-if="client_investment_id || subscriberSection == true">
                <div class="">
                    <el-button type="danger" @click="completeApplication"> Complete application</el-button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="pull-right col-md-2">
                <div class="margin-top-15" v-if="reserve_unit_transaction_id">
                    <el-button type="danger" @click="uploadApprovalDocuments"> Upload Approval Document</el-button>
                </div>
            </div>
        </div>
    </div>
</template>