<script>
    import { mapGetters } from 'vuex';
    import formData from '../../../Mixins/partials';

    export default {
        mixins: [ formData ],

        data() {
            return {
                entity_id: '',
            }
        },

        computed: {
            ...mapGetters({
                clientForm: 'clientForm',
                clientErrors: 'clientErrors',
                shareEntities: 'allShareEntities',
                validating: 'validatingShareholderAccDetails'
            })
        },

        watch: {
            entity_id: {
                handler: function () {
                    this.clientForm.entity_id = this.entity_id;
                }
            },

            clientForm: {
                handler: function () {
                    this.entity_id = this.clientForm.entity_id;
                }
            }
        },

        methods: {
            submit: function () {
                this.$store.commit('VALIDATE_SHAREHOLDER_ACCOUNT_FORMS', this.clientForm);
            },
        }
    }
</script>

<template>
    <div class="">
        <div class="col-md-12 panel panel-success" style="padding: 40px;">
            <div class="col-md-6">
                <div class="">
                    <label class="required-field">Share Entity</label>
                    <el-select v-model="entity_id" placeholder="Select Share Entity" style="width: 100%">
                        <el-option
                                v-for="f in shareEntities"
                                :key="f.value"
                                :label="f.label"
                                :value="f.value"
                        >
                        </el-option>
                    </el-select>
                </div>

                <div v-if="clientErrors['entity_id']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in clientErrors['entity_id']" v-text="message"></li>
                    </ul>
                </div>
            </div>

        </div>

        <br>

        <div class="col-md-12">
            <div class="col-md-4">
                <el-button type="primary" size="small" @click="submit">
                    <i class="el-icon-loading" v-if="validating"></i>
                    <i class="el-icon-circle-plus-outline" v-else></i>
                    Proceed
                </el-button>
            </div>
        </div>
    </div>
</template>

<style>
    .alert{
        margin-top: 10px;
    }

    ul li{
        list-style: none;
    }
</style>