<script>
    import {mapGetters} from 'vuex';
    import {Message} from 'element-ui';

    import Vue from 'vue';

    Vue.component('personal-information', require('./partials/personal'));
    Vue.component('employment-details', require('./partials/employment'));
    Vue.component('source-of-funds', require('./partials/source'));
    Vue.component('client-search', require('../../../../components/investments/client/search-client.vue'));
    Vue.component('next-of-kin', require('./partials/kin'));
    Vue.component('business-natures', require('./partials/nature'));
    Vue.component('subscriber-details', require('./partials/subscriber'));
    Vue.component('banking-information', require('./partials/bank'));
    Vue.component('duplicate-client', require('./partials/duplicate'));
    Vue.component('contact-persons-tab', require('./contact-persons'));
    Vue.component('risky-client', require('./partials/risky'));

    export default {

        data() {
            return {
                clType: this.individual,
                appType: this.clientAppType,
            }
        },

        props: ['code', 'edit', 'unit'],

        computed: {
            ...mapGetters({
                clientForm: 'clientForm',
                individual: 'individualType',
                clientAppType: 'clientAppType',
                investmentSection: 'investmentSection',
                shareholderAccountSection: 'shareholderAccountSection',
                submitting: 'savingSubscriber',
                client_investment_id: 'client_investment_id',
                subscribeErrors: 'subscribeErrors',
                processType: 'processType',
            })
        },

        watch: {
            individual: {
                handler: function () {
                    this.clType = this.individual;
                }
            },

            clientAppType: {
                handler: function () {
                    this.appType = this.clientAppType;
                }
            },
        },

        methods: {
            selectedUser: function (value) {

                this.clientForm.client_id = value;
            },

            filledReason: function (reason) {
                this.clientForm.duplicate_reason = reason;
            },

            submit: function () {

                if (this.processType == 'client_investment') {
                    if (!this.investmentSection && !this.client_investment_id) {
                        Message.warning("Fill the Investment Section first before proceeding to subscriber section");

                        return;
                    }
                } else if (this.processType == 'register_shareholder') {

                    if (!this.shareholderAccountSection) {
                        Message.warning("Fill the Shareholder Account Details Section first before proceeding to subscriber section");

                        return;
                    }
                }

                if (this.client_investment_id) {
                    this.clientForm.id = this.client_investment_id;
                }

                this.clientForm.type = this.processType;

                if (this.processType == 'reserve_unit') {
                    this.clientForm.unit_id = this.unit.id;
                }

                this.$store.dispatch('save_redirect', this.clientForm)
            },
        }
    }

</script>


<template>
    <div class="">

        <div v-if="subscribeErrors['risk_client']" class="alert alert-warning" role="alert">
            <p class="text-center" v-text="subscribeErrors['risk_client']"></p>
        </div>

        <div v-if="subscribeErrors['duplicate']" class="alert alert-warning" role="alert">
            <p class="text-center" v-text="subscribeErrors['duplicate']"></p>
        </div>

        <div class="panel panel-danger" v-if="subscribeErrors['risk_client']">
            <div class="">
                <div class="col-md-12">
                    <h4>Risky Client</h4>
                    <hr>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <risky-client></risky-client>
                </div>
            </div>
            <br>
        </div>


        <div class="panel panel-success" v-if="appType === 3">
            <div class="">
                <div class="col-md-12">
                    <h4>Duplicate Client</h4>
                    <hr>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <duplicate-client @filled="filledReason"></duplicate-client>

                        <div v-if="subscribeErrors['duplicate_reason']" class="alert alert-danger" role="alert">
                            <ul>
                                <li v-for="message in subscribeErrors['duplicate_reason']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>


        <!--<div class="alert alert-info alert-dismissible text-center" role="alert">-->
        <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <!--<strong>Warning!</strong> Please fill all the required <span style="color: red">*</span> fields to continue-->
        <!--</div>-->

        <div class="panel panel-success" v-if="appType === 2">
            <div>
                <div class="col-md-12">
                    <h4>SELECT CLIENT: </h4>
                    <hr>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <client-search :edit="true" @selected="selectedUser"></client-search>

                    <div class="container">
                        <div v-if="subscribeErrors['client_id']" class="alert alert-danger" role="alert">
                            <p class="text-danger">A Client is required, Please select a client</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>

        <div class="panel panel-success" v-if="individual === 1 && appType !== 2">
            <div class="">
                <div class="col-md-12">
                    <h4>Personal Information</h4>
                    <hr>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <personal-information></personal-information>
                </div>
            </div>
            <br>
        </div>

        <div class="panel panel-success" v-if="individual === 2 && appType !== 2">
            <div class="">
                <div class="col-md-12">
                    <h4>Nature of Subscriber</h4>
                    <hr>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <business-natures></business-natures>
                </div>
            </div>
            <br>
        </div>

        <div class="panel panel-success" v-if="individual === 2 && appType !== 2">
            <div class="">
                <div class="col-md-12">
                    <h4>Subscriber Details</h4>
                    <hr>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <subscriber-details></subscriber-details>
                </div>
            </div>
            <br>
        </div>

        <div class="panel panel-success" v-if="individual === 1 && appType !== 2">

            <div class="">
                <div class="col-md-12">
                    <h4>Employment Details</h4>
                    <hr>
                </div>
            </div>
            <div class="panel-body" v-if="individual === 1 && appType !== 2">
                <div class="row">
                    <employment-details></employment-details>
                </div>
            </div>
            <br>
        </div>

        <div class="panel panel-success">
            <div>
                <div class="col-md-12">
                    <h4>Source of Fund</h4>
                    <hr>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <source-of-funds :edit="true"></source-of-funds>
                </div>
            </div>
            <br>
        </div>


        <div class="panel panel-success" v-if="individual === 1 && appType !== 2">

            <div class="">
                <div class="col-md-12">
                    <h4>Next of Kin</h4>
                    <hr>
                </div>
            </div>
            <div class="panel-body" v-if="individual === 1 && appType !== 2">
                <div class="row">
                    <next-of-kin></next-of-kin>
                </div>
            </div>
            <br>
        </div>


        <div class="panel panel-success" v-if="appType !== 2">
            <div class="">
                <div class="col-md-12">
                    <h4>Banking Information</h4>
                    <hr>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <banking-information></banking-information>
                </div>
            </div>
            <br>
        </div>

        <div class="col-md-12">
            <el-button type="primary" size="small" @click="submit">
                <i class="el-icon-loading" v-if="submitting"></i>
                <i class="el-icon-circle-plus-outline" v-else></i>
                Proceed
            </el-button>
        </div>
    </div>
</template>