<script>
    import {mapGetters} from 'vuex';
    import moment from 'moment';

    export default {

        props: ['edit', 'risk_id'],

        data() {
            return {
                type: 1,
                clientTypes: [
                    {label: 'Individual', value: 1},
                    {label: 'Corporate', value: 2}
                ],
            }
        },


        computed: {
            ...mapGetters({
                riskyForm: 'riskyForm',
                nations: "nations",
                clientAppType: 'clientAppType',
                riskyFormErrors: 'riskyFormErrors',
                submitting: 'submitting',
                savingSubscriber: 'savingSubscriber',
                date_flagged: 'date_flagged',
                risksStatus: 'risksStatus'
            })
        },

        watch: {
            type: {
                handler: function () {
                    this.riskyForm.type = this.type;
                }
            },
        },

        methods: {
            getRiskyData: function () {
                this.$store.commit('GET_ALL_COUNTRIES');
                this.$store.commit('GET_ALL_RISK_STATUS');
            },

            submit: function () {
                this.riskyForm.date_flagged = moment(this.riskyForm.date_flagged).format('YYYY-MM-DD');
                this.riskyForm.type = this.type;

                if (this.edit) {
                    this.riskyForm.risk_id =  this.risk_id;
                }

                this.$store.commit('SAVE_RISKY_CLIENT', this.riskyForm);
            },

            setRiskyForm: function () {
                if (this.edit) {
                    this.$store.commit('SET_RISKY_FORM', this.risk_id);
                } else {
                    this.riskyForm.type = 1;
                }

                return;
            }

        },

        mounted() {
            this.getRiskyData();
            this.setRiskyForm();
        }
    }
</script>

<template>
    <el-form ref="form" label-width="120px">

        <div class="form-element">
            <div class="col-md-12">
                <br>
                <el-select v-model="type" placeholder="Select Client Type" value="">
                    <el-option
                            v-for="type in clientTypes"
                            :key="type.value"
                            :label="type.label"
                            :value="type.value"
                            width="100%">
                    </el-option>
                </el-select>
                <br>
            </div>
        </div>

        <div class="form-element">
            <div class="col-md-4" v-if="riskyForm.type == 1">
                <br>
                <label class="required-field">First Name</label>
                <el-input v-model="riskyForm.firstname" placeholder="First name"></el-input>

                <div v-if="riskyFormErrors['firstname']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in riskyFormErrors['firstname']" v-text="message"></li>
                    </ul>
                </div>
                <br>
            </div>

            <div class="col-md-4" v-if="riskyForm.type == 1">
                <br>
                <label class="required-field">Last Name</label>
                <el-input v-model="riskyForm.lastname" placeholder="Last name"></el-input>

                <div v-if="riskyFormErrors['lastname']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in riskyFormErrors['lastname']" v-text="message"></li>
                    </ul>
                </div>
                <br>
            </div>

            <div class="col-md-4" v-if="riskyForm.type == 2">
                <br>
                <label class="required-field">Organization Name</label>
                <el-input v-model="riskyForm.organization" placeholder="Full Organization Name"></el-input>

                <div v-if="riskyFormErrors['organization_name']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in riskyFormErrors['organization_name']" v-text="message"></li>
                    </ul>
                </div>
                <br>
            </div>

            <div class="col-md-4">
                <br>
                <label class="">Email (optional)</label>
                <el-input v-model="riskyForm.email" placeholder="Email"></el-input>

                <div v-if="riskyFormErrors['email']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in riskyFormErrors['email']" v-text="message"></li>
                    </ul>
                </div>

                <br>
            </div>

            <div class="col-md-4">
                <br>
                <label class="required-field">Flagged Date</label>
                <el-date-picker type="date" placeholder="Pick a date" v-model="riskyForm.date_flagged"
                                style="width: 100%;"></el-date-picker>

                <div v-if="riskyFormErrors['date_flagged']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in riskyFormErrors['date_flagged']" v-text="message"></li>
                    </ul>
                </div>
                <br>
            </div>

            <div class="col-md-4">
                <br>
                <label class="">Nationality (optional)</label>
                <el-select v-model="riskyForm.country_id" filterable placeholder="Country of Residence"
                           style="width: 100%">
                    <el-option
                            v-for="c in nations"
                            :key="c.id"
                            :label="c.name"
                            :value="c.id"></el-option
                    >
                </el-select>
                <br>
            </div>

            <div class="col-md-4">
                <br>
                <label class="required-field">Risky Status</label>
                <el-select v-model="riskyForm.risky_status_id" filterable placeholder="Risk Status" style="width: 100%">
                    <el-option
                            v-for="r in risksStatus"
                            :key="r.id"
                            :label="r.name"
                            :value="r.id"></el-option
                    >
                </el-select>

                <div v-if="riskyFormErrors['risky_status_id']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in riskyFormErrors['risky_status_id']" v-text="message"></li>
                    </ul>
                </div>
                <br>
            </div>
            <!--flagged by needed-->

            <div class="clearfix"></div>
        </div>

        <div class="form-element">
            <div class="col-md-4">
                <br>
                <label class="">Affiliations/ Relationships (optional)</label>
                <el-input type="textarea" rows="5" v-model="riskyForm.affiliations"
                          placeholder="Provide an affiliation or relationship ..."></el-input>
                <br>
            </div>

            <div class="col-md-4">
                <br>
                <label class="required-field">Risk Sources from</label>
                <el-input type="textarea" rows="5" v-model="riskyForm.risk_source"
                          placeholder="your source ..."></el-input>

                <div v-if="riskyFormErrors['risk_source']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in riskyFormErrors['risk_source']" v-text="message"></li>
                    </ul>
                </div>
                <br>
            </div>

            <div class="col-md-4">
                <br>
                <label class="required-field">Reason/ Exposure</label>
                <el-input type="textarea" rows="5" v-model="riskyForm.reason"
                          placeholder="reason for adding risk ..."></el-input>

                <div v-if="riskyFormErrors['reason']" class="alert alert-danger" role="alert">
                    <ul>
                        <li v-for="message in riskyFormErrors['reason']" v-text="message"></li>
                    </ul>
                </div>
                <br>
            </div>
        </div>

        <div class="form-element">
            <div class="col-md-12">
                <br>
                <button class="btn btn-primary" @click="submit">
                    <i class="el-icon-loading" v-if="savingSubscriber"></i>
                    <i class="el-icon-circle-plus-outline" v-else></i>
                    Add Client
                </button>
            </div>
        </div>

    </el-form>
</template>