<template>
    <div style="display: flex; width: 900px; justify-content: space-between;">
        <div class="" style="width: 50%;">
            <h3>Our Contacts</h3>

            <table class="table table-responsive">
                <tr>
                    <td><i class="fa fa-mobile-phone"></i></td>
                    <td>+254(0) 709-101-200</td>
                </tr>
                <tr>
                    <td><i class="fa fa-phone"></i></td>
                    <td>+254(0) 203-929-000</td>
                </tr>
                <tr>
                    <td><i class="fa fa-whatsapp"></i></td>
                    <td>+254(0) 748-070-000</td>
                </tr>
                <tr>
                    <td><i class="fa fa-envelope"></i></td>
                    <td>clientservices@cytonn.com</td>
                </tr>
            </table>
        </div>

        <div class="" style="width: 50%">
            <h3>Our Pages</h3>
            <table class="table table-responsive">
                <tr>
                    <td><i class="fa fa-facebook"></i></td>
                    <td>
                        <a href="https://www.facebook.com/CytonnInvestments">
                            Like us on Facebook
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="fa fa-twitter"></i> </td>
                    <td>
                        <a href="https://twitter.com/CytonnInvest">
                            Follow us on Twitter
                        </a>
                    </td>
                </tr>
                <tr>
                    <td> <i class="fa fa-youtube"></i></td>
                    <td>
                        <a href="https://www.youtube.com/channel/UChDsXna_okPQc9XdcwCLarA">
                            Watch us on YouTube
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><i class="fa fa-linkedin"></i></td>
                    <td>
                        <a href="https://www.linkedin.com/company/cytonn/">
                            Follow us on Linkedin
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: "contacts"
    }
</script>