<template>
    <div class="offices" v-if="offices">
        <div class="offices-description" style="width: 30%;">
            <div class="list-group" style="">
                <div v-for="office in offices" @click="seeOfficeMap(office)" class="list-group-item"
                     :class="{'activeOffice': activeOffice}">
                    <h3 class="list-group-item-heading">{{office.title}}</h3>
                    <p class="list-group-item-text" style="display: flex; justify-content: space-between">
                        <span>{{office.floor}}<br/>{{office.location}}<br/>{{office.town}}, {{office.country}}</span>
                        <span><i class="fa fa-map-marker"></i></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="offices-map" style="padding: 10px;width: 70%">
            <div class="panel">
                <div class="panel-body">
                    <div v-if="!showMap" class="alert alert-info" role="alert">
                        <p>Select office to view location</p>
                    </div>

                    <iframe v-else :src="url" style="border:0; width: 100%; height: 600px;"></iframe>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                offices: [],
                office: {},
                url: '',
                activeOffice: false,
                showMap: false,
            }
        },

        created() {
            this.fetchOffices();
        },

        watch: {
            office: {
                handler: function () {
                    if (this.office) {
                        this.showMap = true;
                        this.url = "https://maps.google.com/maps?q=" + this.office.latitude + ", " + this.office.longitude + "&z=15&output=embed";
                    }
                }
            }
        },

        methods: {
            fetchOffices() {
                axios.get('/api/get/offices')
                    .then(({data}) => {
                        this.offices = data;
                    }, (response) => {
                        console.log(response, 'response');
                    })
            },

            seeOfficeMap(office) {
                this.office = office;
            },
        }
    }
</script>

<style scoped>
    .offices {
        display: flex;
        justify-content: space-between;
        width: 900px;
    }

    .offices .offices-description > .list-group {
        margin-bottom: 0;
    }

    .offices .offices-description > .list-group .list-group-item {
        border-width: 1px 0;
        border-bottom: 1px solid #f1f1f1;
        margin-bottom: 10px;
    }

    .offices .offices-description > .list-group .list-group-item .activeOffice {
        border-right: 1px solid #006a5b;
    }

    .offices .offices-description > .list-group .list-group-item h5 {
        font-size: 20px;
        font-weight: 600;
    }

    .offices .offices-description > .list-group .list-group-item p {
        color: #0000007a;
    }

    .offices .offices-description > .list-group .list-group-item:hover,
    .offices .offices-description > .list-group .list-group-item:focus {
        color: #000;
        cursor: pointer;
    }

    .alert {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .alert-info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
</style>