<template>
    <div>
        <RealEstateProducts></RealEstateProducts>
    </div>
</template>

<script>
    import RealEstateProducts from '../../../crims/realestate/re_projects'

    export default {
        components:{RealEstateProducts}
    }
</script>

<style scoped>

</style>