<script>
    import { mapGetters } from 'vuex'
    import moment from 'moment';
    import formPartials from '../../../../crims/Investments/mixins/formpartials';

    export default {
        mixins: [ formPartials ],

        data () {
            return {
                dob: '',
                country_id: 114,
                nationality_id: 114,
            }
        },

        computed: {
            ...mapGetters({
                submitting: 'submitJointHolder',
                holders: 'jointHolders',
                adding: 'adding',
                formErrors: 'holderErrors',
                form: 'jointForm'
            })
        },

        watch: {
            dob: {
                handler: function() {
                    this.form.dob = moment(this.dob).format('YYYY-MM-DD');
                    this.dob = this.form.dob;
                }
            },

            formErrors: {
                handler: function () {
                    console.log(this.formErrors, "form formErrors");
                }
            },

            country_id: {
                handler: function () {
                    this.form.country_id = this.country_id;
                }
            },

            nationality_id: {
                handler: function () {
                    this.form.nationality_id = this.nationality_id;
                }
            }
        },

        methods: {
            submit: function () {
                event.preventDefault();

                this.items = this.form;
                this.$store.commit('ADD_JOINT_HOLDER', this.items);
            },

            closeModal: function () {
                this.$store.commit('HOLDER_MODAL', false);
            }
        },

        created() {
            this.$store.commit('RESET_FORM');
        },

        mounted() {
            this.form.country_id = this.country_id;
            this.form.nationality_id = this.nationality_id;
        }
    }
</script>

<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>JOINT HOLDER</h5>
        </div>
        <div class="panel-body">
            <div class="small-12 columns" style="padding: 10px;">
                <div class="row form-element">
                    <div class="col-md-3 columns float-left grid-content">
                        <label class="required">Title</label>
                        <el-select v-model="form.title_id" placeholder="Select title" style="width: 100%">
                            <el-option
                                    v-for="t in titles"
                                    :key="t.id"
                                    :label="t.name"
                                    :value="t.id">
                            </el-option>
                        </el-select>
                        <ul v-if="formErrors['title_id']" class="text-danger">
                            <li v-for="message in formErrors['title_id']" v-text="message"></li>
                        </ul>
                    </div>

                    <div class="col-md-3 columns float-left grid-content">
                        <label class="required">First Name</label>
                        <el-input v-model="form.firstname" type="text" placeholder="First name"></el-input>
                        <ul v-if="formErrors['firstname']" class="text-danger">
                            <li v-for="message in formErrors['firstname']" v-text="message"></li>
                        </ul>
                    </div>

                    <div class="col-md-3 columns float-left grid-content">
                        <label class="">Middle Name</label>
                        <el-input v-model="form.middlename" type="text" placeholder="Middle name"></el-input>
                        <ul v-if="formErrors['middlename']" class="text-danger">
                            <li v-for="message in formErrors['middlename']" v-text="message"></li>
                        </ul>
                    </div>

                    <div class="col-md-3 columns float-left grid-content">
                        <label class="required">Last Name</label>
                        <el-input v-model="form.lastname" type="text" placeholder="Last name"></el-input>
                        <ul v-if="formErrors['lastname']" class="text-danger">
                            <li v-for="message in formErrors['lastname']" v-text="message"></li>
                        </ul>
                    </div>
                </div>
                <br>

                <div class="row form-element">
                    <div class="col-md-6 columns float-left grid-content">
                        <label class="">Gender</label>
                        <el-select v-model="form.gender_id" placeholder="Select gender" style="width: 100%">
                            <el-option
                                    v-for="g in gender"
                                    :key="g.id"
                                    :label="g.abbr"
                                    :value="g.id">
                            </el-option>
                        </el-select>
                        <ul v-if="formErrors.gender_id" class="text-danger">
                            <li v-for="message in formErrors.gender_id" v-text="message"></li>
                        </ul>
                    </div>
                    <div class="col-md-6 columns float-left grid-content">
                        <label class="">Date of Birth</label>
                        <el-date-picker
                                v-model="dob"
                                type="date"
                                placeholder="Date of birth" style="width: 100%">
                        </el-date-picker>
                        <ul v-if="formErrors.dob" class="text-danger">
                            <li v-for="message in formErrors.dob" v-text="message"></li>
                        </ul>
                    </div>
                </div>
                <br>

                <div class="row form-element">
                    <div class="col-md-6 columns float-left grid-content">
                        <label class="required">Pin No</label>
                        <el-input v-model="form.pin_no" type="text" placeholder="Enter pin number here"></el-input>
                        <ul v-if="formErrors.pin_no" class="text-danger">
                            <li v-for="message in formErrors.pin_no" v-text="message"></li>
                        </ul>
                    </div>

                    <div class="col-md-6 columns float-left grid-content">
                        <label class="required">Pin or Passport</label>
                        <el-input v-model="form.id_or_passport" type="text" placeholder="Enter ID or Passport number here"></el-input>
                        <ul v-if="formErrors.id_or_passport" class="text-danger">
                            <li v-for="message in formErrors.id_or_passport" v-text="message"></li>
                        </ul>
                    </div>
                </div>
                <br>

                <div class="row form-element">
                    <div class="col-md-6 columns float-left grid-content">
                        <label class="required">Email Address</label>
                        <el-input v-model="form.email" type="text" placeholder="example@email.com"></el-input>
                        <ul v-if="formErrors.email" class="text-danger">
                            <li v-for="message in formErrors.email" v-text="message"></li>
                        </ul>
                    </div>
                    <div class="col-md-6 columns float-left grid-content">
                        <label class="required">Phone Number</label>
                        <el-input v-model="form.telephone_cell" type="text" placeholder="Phone Number"></el-input>
                        <ul v-if="formErrors.telephone_cell" class="text-danger">
                            <li v-for="message in formErrors.telephone_cell" v-text="message"></li>
                        </ul>
                    </div>

                </div>
                <br>

                <div class="row form-element">
                    <div class="col-md-6 columns float-left grid-content">
                        <label class="">Country</label>
                        <el-select v-model="country_id" filterable placeholder="Select country" style="width: 100%">
                            <el-option
                                    v-for="c in countries"
                                    :key="c.id"
                                    :label="c.name"
                                    :value="c.id">
                            </el-option>
                        </el-select>
                        <ul v-if="formErrors.country_id" class="text-danger">
                            <li v-for="message in formErrors.country_id" v-text="message"></li>
                        </ul>
                    </div>

                    <div class="col-md-6 columns float-left grid-content">
                        <label class="">Nationality</label>
                        <el-select v-model="nationality_id" filterable placeholder="Select Nationality" style="width: 100%">
                            <el-option
                                    v-for="c in countries"
                                    :key="c.id"
                                    :label="c.name"
                                    :value="c.id">
                            </el-option>
                        </el-select>
                        <ul v-if="formErrors.nationality_id" class="text-danger">
                            <li v-for="message in formErrors.nationality_id" v-text="message"></li>
                        </ul>
                    </div>
                </div>
                <br>

                <div class="row form-element">
                    <div class="col-md-6 columns float-left grid-content">
                        <label class="">Postal Code</label>
                        <el-input v-model="form.postal_code" type="text" placeholder="Postal Code"></el-input>
                        <ul v-if="formErrors.postal_code" class="text-danger">
                            <li v-for="message in formErrors.postal_code" v-text="message"></li>
                        </ul>
                    </div>
                    <div class="col-md-6 columns float-left grid-content">
                        <label class="">Town</label>
                        <el-input v-model="form.town" type="text" placeholder="Town"></el-input>
                        <ul v-if="formErrors.town" class="text-danger">
                            <li v-for="message in formErrors.town" v-text="message"></li>
                        </ul>
                    </div>
                </div>
                <br>

                <div class="row form-element">
                    <div class="col-md-6 columns float-left grid-content">
                        <label class="">Postal Address</label>
                        <el-input v-model="form.postal_address" type="text" placeholder="Postal Address"></el-input>
                        <ul v-if="formErrors.postal_address" class="text-danger">
                            <li v-for="message in formErrors.postal_address" v-text="message"></li>
                        </ul>
                    </div>
                    <div class="col-md-6 columns float-left grid-content">
                        <label class="">Residential Address</label>
                        <el-input v-model="form.residential_address" type="text" placeholder="Residential Address"></el-input>
                        <ul v-if="formErrors.residential_address" class="text-danger">
                            <li v-for="message in formErrors.residential_address" v-text="message"></li>
                        </ul>
                    </div>
                </div>
                <br>
                <hr/>
                <div class="row form-element1">
                    <div class="small-12 medium-12 columns float-left grid-content">
                        <el-button type="default" @click="closeModal">Cancel</el-button>
                        <el-button type="success" @click="submit"> <i class="fa fa-spinner fa-spin" v-if="adding"></i> Add </el-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
    label {
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: 14px;
        color: #006699;
        margin-top: 20px;
        text-transform: uppercase;
    }
    .required {
        font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        font-weight: 300;
        font-size: 14px;
        color: #006699;
        margin-top: 20px;
        text-transform: uppercase;
    }
    .required:after {
        content:" *";
    }
</style>