@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~font-awesome/scss/font-awesome";
@import 'modules/stylings';
@import 'modules/navtop';
@import 'modules/navsidebar';
@import 'modules/grids';
@import 'pages/login';
@import 'pages/appdetails';
@import 'modules/angular';
@import "modules/detail_pages";
@import 'pages/dashboard';
@import "modules/print";
@import "modules/detail_pages";
@import "modules/elementui";
@import "modules/status_bar";
@import '~material-icons/iconfont/material-icons.scss';
@import "admin_dashboard/admin_dashboard";
@import "components/components";

$warning: #FFAE00;

body {
  background: #ECF0F1;
}

.container-fluid {
  font-family: 'Open Sans', sans-serif;
}

.content {
  padding-bottom: 20px;
}

@media (min-width: 992px) {
  body{
    height: 100vh;
    overflow-y: hidden;
  }
  .content {
    min-height: 89vh;
    padding-bottom: 20px;
  }
  .content-wrapper {
    height: 95vh;
    overflow: scroll;
  }
  .content-wrapper.contentsidebarminimised{
    padding-left: 15px;
  }
  .contentsidebarminimised {
    width: 93vw;
    position: relative;
    min-height: 1px;
    float: left;
  }
  .content-wrapper-row{
    padding: 0;
  }
  .content-wrapper-div{
    padding: 0;
  }
}
@media(min-width: 1120px){
  .contentsidebarminimised {
    width: 95vw;
  }
}

.cytonn-green {
  color: #006666;
}

.footer {
  color: #8C8888;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}

.panel-dashboard {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 0;
  margin-left: 3px;
  padding: 20px;
  background-color: #ffffff !important;
  overflow: auto;
}
.content > .panel-dashboard{
  min-height: 400px !important;
}

.panel-dashboard:after {
  content: "";
  display: table;
  clear: both;
}
.panel-dashboard label {
  font-weight: 400;
}

.form-grouping {
  border: 1px solid #ebebeb;
  border-radius: 5px;
  margin: 20px;
}

.form-group {
  display: inline;
  clear: both;
}

.form-separator {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100% !important;
}

h1, h2, h3, h4, h5 {
  color: #006666;
}

.grid-menu {
  margin: 20px;
  text-align: center;
  display: inline-block;
  padding: 20px 0 0 0;
  color: #006666;
}

.grid-menu i {
  color: #79B829;
}

.grid-menu .panel-footer {
  width: 100%;
}

.autocomplete input {
  font-size: 1em !important;
}

.autocomplete ul {
  padding-left: 0;
  border-top: 1px solid grey;
  //border-radius: 5px;
}

.form-errors {
  color: red;
  font-size: 12px;
  margin-top: 5px !important;
}

.form-group {
  margin-bottom: 20px;
}

.toolbar-header {
  margin-bottom: 20px;
  text-align: right;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.ng-show, .ng-hide, .ng-hide-add, .ng-hide-remove {
  transition: all linear 0.5s;
}

.bold {
  font-weight: 600;
}

.label, form .label {
  font-weight: normal;
}

.color-danger {
  color: #a94442;
}

.color-success {
  color: green;
}

.color-client {
  background-color: #CB48C3;
}

.color-admin {
  background-color: #337ab7;
}

.clearfix {
  @extend .group;
}

input.ng-invalid.ng-touched {
  border-color: #a94442;
}

input.ng-valid.ng-touched {
  border-color: green;
}

.end-date {
  color: #ff0000;
}

.permissions {
  margin-left: 20px;
}

.required-field, .required-field label{
  display: inline;
}
.required-field:after{
  content: ' *';
  color: red;
  display: inline;
}

.dashboard-item{
  @extend .panel-dashboard;
  padding: 0px;
  width: 22%;
  display: inline-block;
}
.menu-item{
  @extend .dashboard-item;
  font-size: 0.9em;

  .item-content{
    min-height: 45px;
  }
  .warning {
    color: $warning;
  }

  a{
    color: #fff;
  }
}
@media (min-width: 992px) {
  .dashboard-item {
    width: 19.3%;
  }
  .menu-item{
    min-width: 15.3%;
    width: auto;
    margin-bottom: 5px;
  }
  .dashboard-item-lg{
    width: 49%;
  }
}
@media (max-width: 992px) {
  .dashboard-item {
    width: 45%;
  }
  .dashboard-item-lg{
    width: 93%;
  }
}
.dashboard-item > .panel-body{
  color: #FFF;
}
.dashboard-item .panel-footer{
  font-size: 12px;
}
.dashboard-item .huge{
  font-size: 30px;
}
.dashboard-item:nth-of-type(odd){
  background-color: #337ab7 !important;
  border-color: #337ab7;
}
.dashboard-item:nth-of-type(even){
  background-color: #5CB85C !important;
  border-color: #5CB85C;
}
.dashboard-item:nth-of-type(even) .panel-footer{
  color: #5CB85C;
  background-color: #F5F5F5;
}

.dashboard-item:nth-of-type(odd) .panel-footer{
  color: #337ab7;
  background-color: #F5F5F5;
}
.dashboard-item .panel-body p{
  font-size: 0.8em;
}
.loading{
  position: absolute;
  top: 50px;
  height: 200px;
}
.loading-spinner{
  font-size: 1.5em;
}

@media screen {
  .print-only{
    display: none;
  }
}

.warning{
  color: #f0ad4e;
}

input[type='tel']::placeholder {
  color: #b8bec3;
}
[v-cloak] {display: none}

ul[data-v-28770270] {
  width: 390px;
  z-index: 2;
}

.dropdown-item {
  width: 390px;
}

[data-v-7775b23e] {
  --border-radius: 2px;
}

@import "others";

@import "~vue-tel-input/dist/vue-tel-input.css";

