<script>
    import {mapGetters} from 'vuex';
    import PaginationMixins from '../../../../../mixins/vuetable/paginationMixins';
    export default {
        mixins: [PaginationMixins],

        data() {
            return {
                fields: [
                    {
                        name: 'product',
                        title: 'Product'
                    },
                    {
                        name: 'date',
                        title: 'Date'
                    },
                    {
                        name: 'amount',
                        title: 'Amount',
                        callback: 'currencyLabel'
                    },

                    {
                        name: '__slot:actions',
                        title: 'Actions',
                        dataClass: 'action'
                    },
                ]
            }

        },
        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient'
            }),
            url: function () {
                return '/api/client/' + this.selectedClient.id + '/investment/maturities';
            }
        },
        methods: {
            currencyLabel(value) {

                value = !value ? 0 : Math.round(value * Math.pow(10, 0)) / Math.pow(10, 0);

                let parts = value.toString().split(".");

                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");

                return parts.join(".");
            },

            viewMore() {
                this.$router.push({ name: 'Activities' });
            }
        }

    }
</script>
<template>
    <div class="sp-recent-activities">
        <div class="heading">
            <span class="heading-left">
                <p>UPCOMING MATURITIES</p>

            </span>
        </div>

        <div class="recent-activities-area">
            <div class="crims-table-area table_scroll">
                <vuetable ref="vuetable"
                          :api-url="url"
                          :fields="fields"
                          :multi-sort="true"
                          :per-page="5"
                          :noDataTemplate="noData"
                          pagination-path=""
                          @vuetable:loaded="onLoaded">

                    <template slot="actions" slot-scope="props" class="action">
                        <router-link :to="{ name: 'investments.details', params: { id: props.rowData.id } }">
                            <i class="el-icon-view" aria-hidden="true"></i>
                        </router-link>
                    </template>

                </vuetable>

                <div v-if="vueTableLoading">
                    <content-card-shimmer></content-card-shimmer>
                </div>

            </div>

        </div>

        <br>

        <div class="recent-activities-area-footer">
            <el-button
                    size="mini"
                    round
                    @click="viewMore"
            >
                <i class="el-icon-arrow-right"></i> VIEW MORE
            </el-button>
        </div>
    </div>
</template>
<style>
    .recent-activities-area-footer {
        text-align: right;
        width: 100%;
    }
</style>