<script>
    import {mapGetters} from 'vuex';
    import Vue from 'vue';

    Vue.component('gravator', require('../partials/Gravator'));
    Vue.component('switch-board', require('../partials/switch-user.vue'));
    export default {
        data: () => ({}),
        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient',
            }),

            viewProfile() {
                return this.$route.name == 'profile.edit'
                    || this.$route.name == 'profile.edit_kyc'
                    || this.$route.name == 'profile.client_account_details';
            }
        },
        methods: {
            getInitials(name) {
                var parts = name.split(' ');
                var initials = '';
                for (var i = 1; i < parts.length; i++) {
                    if (parts[i].length > 0 && parts[i] !== '') {
                        initials += parts[i][0]
                    }
                }
                if (initials.length > 3) {
                    return initials.substring(0, 3);
                } else {
                    return initials;
                }

            }
        },
    }
</script>
<template>
    <div class="profile">
        <div class="profile__banner">
            <div class="banner_icons">
                <div class="cover">
                    <div class="salutation">
                        <h3>{{selectedClient.fullname}}</h3>
                    </div>
                    <div class="switch_user">
                        <switch-board :banner_component="true"></switch-board>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile__details">
            <div class="avatar_area">
                <div class="user">
                    <!--<span v-html="getInitials(selectedClient.fullname )"></span>-->
                    <gravator :email="selectedClient.email" :size="150"/>

                </div>
                <router-link v-show="$route.name=='profile.details'" :to="{name: 'profile.edit'}" class="edit_client"><i
                        class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Profile Details
                </router-link>
                <router-link v-show="viewProfile" :to="{name: 'profile.details'}" class="edit_client">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                    View Profile Details
                </router-link>
            </div>
            <div class="details_area">
                <router-view></router-view>
            </div>
        </div>
    </div>
</template>