<script type="text/babel">

    import axios from 'axios';
    import {mapGetters} from 'vuex';
    import Vue from 'vue';
    import moment from 'moment';

    Vue.component('calculator-modal', require('../unitfundcalculator/index.vue'));

    export default {

        data() {
            return {
                loading: false,
                refreshingOwnedUnits: true,
                url: '',
                clientId: null,
                ownedUnits: null,
                formErrors: {},
                date: '',
                number: null,
                fundId: null,
                amount: '',
                price: '',
                kycValidated: true,
                withdrawable: null
            }
        },

        computed: {
            ...mapGetters({
                calculator: 'calculatorModal'
            })
        },

        created: function () {
            this.clientId = this.$route.params.id;
            this.fundId = this.$route.params.fid;

            this.date = moment(Date.now()).format('YYYY-MM-DD');

            this.url = `/api/unitization/unit-funds/${this.fundId}/unit-fund-clients/${this.clientId}/unit-fund-sales`;

            this.getOwnedUnits(this.date);
        },

        watch: {
            date: {
                handler: function () {

                    this.getOwnedUnits();
                }
            },
        },

        methods: {
            getOwnedUnits: function () {

                let date = moment(this.date).format('YYYY-MM-DD');

                this.refreshingOwnedUnits = true;

                axios.get(`/api/unitization/unit-funds/${this.fundId}/unit-fund-clients/${this.clientId}/owned-units?date=${date}`)
                    .then((response) => {

                        this.refreshingOwnedUnits = false;

                        let data = response.data;

                        if (data.fetched) {
                            this.$set(this, 'ownedUnits', data.ownedUnits);
                            this.$set(this, 'price', data.price);
                            this.$set(this, 'amount', data.amount);
                            this.$set(this, 'withdrawable', data.withdrawable);
                            this.kycValidated = data.kycValidated;
                        } else {
                            flash('Could not fetch the number of owned units for the fund client', 'danger');
                        }

                    }, (response) => {
                        flash('Oops! Something went wrong', 'danger');
                    });
            },

            sale: function () {
                if (Number(this.number) > 0.01 + Number(this.ownedUnits)) {
                    flash('The number of units entered exceeds the fund holder\'s owned units', 'danger');
                    return;
                }

                if (Number(this.number) > 0.01 + Number(this.withdrawable)) {
                    flash('The number of units entered exceeds the fund holder\'s withdrawable units', 'danger');
                    return;
                }

                this.loading = true;

                let input = {
                    date: moment(this.date).format('YYYY-MM-DD'),
                    number: this.number
                };

                axios.post(this.url, input)
                    .then((response) => {
                        this.loading = false;

                        let data = response.data;

                        if (response.status === 202) {
                            this.success();
                        } else if (response.data.status === 422) {
                            this.throwValidationError(data);
                        }
                    }, (response) => {
                        this.loading = false;
                        flash('Oops! Something went wrong', 'danger');
                        this.formErrors = response.data;
                    });
            },

            success: function () {
                flash('Request to sell the units has been saved as instruction.', 'info');
                this.$router.push({name: 'unit-fund-holders.show', params: {id: this.clientId}});
            },

            throwValidationError: function (data) {
                flash('Failed to sell the units.', 'danger');

                this.formErrors = data.errors;
            },

            viewCalculator: function () {
                this.$store.commit('OPEN_CALCULATOR_MODAL', true);
            }
        }
    }
</script>

<template id="id-of-template">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel-dashboard">
            <h3>
                Sell Units

                <span class="btn-group pull-right">
                    <el-button @click="viewCalculator" class="btn btn-info" size="small"><i class="fa fa-calculator"></i> Calculator </el-button>
                    <router-link v-bind:to="{ name: 'unit-fund-holders.show', params: { id: clientId } }" class="btn btn-default pull-right"><i class="fa fa-long-arrow-left"></i> Back to Fund Holder</router-link>
                </span>
            </h3>

            <form v-on:submit.prevent="sale()">
                <div class="form-group">
                    <label>
                        <small>
                            <span v-if="refreshingOwnedUnits">
                                <i class="fa fa-spinner fa-spin" v-if="refreshingOwnedUnits"></i>
                            </span>
                            <span v-else="refreshingOwnedUnits">
                                Number of Units: <b>{{ ownedUnits | currency('', 2) }}</b> |
                                Price per unit: <b>{{ price | currency('', 2) }}</b> |
                                Value of units: <b>{{ amount | currency('', 2) }}</b> |
                                Withdrawable units: <b>{{ withdrawable | currency('', 2) }}</b>
                                <i class="fa fa-spinner fa-spin" v-if="refreshingOwnedUnits"></i>
                            </span>
                        </small>
                    </label>
                    <input type="text" class="form-control" step="1" placeholder="Number of units..." v-model="number">
                    <ul v-if="formErrors['number']" class="text-danger">
                        <li v-for="message in formErrors['number']" v-text="message"></li>
                    </ul>
                </div>
                <div class="form-group">
                    <label>Date </label>
                    <div class="input-group">
                        <el-date-picker v-model="date" type="date" placeholder="Date..."></el-date-picker>
                    </div>
                    <ul v-if="formErrors['date']" class="text-danger">
                        <li v-for="message in formErrors['date']" v-text="message"></li>
                    </ul>
                </div>

                <div class="alert alert-danger margin-top-25" role="alert" v-if="!kycValidated">
                    Please validate client's KYC Details to be able to make a sale instruction.
                </div>

                <div class="margin-top-25">
                    <button class="btn btn-primary" :disabled="!kycValidated" type="submit"><i class="fa fa-save"></i>
                        Sell <i class="fa fa-spinner fa-spin" v-if="loading"></i></button>
                </div>
            </form>
        </div>
        <el-dialog
                title=""
                :visible.sync="calculator"
                width="30%"
                :show-close="false">
                <span>
                    <calculator-modal></calculator-modal>
                </span>
        </el-dialog>
    </div>
</template>