<script>
    import InstructionsMixin from './instructions'
    export default {
        name: "instructions",
        mixins: [InstructionsMixin]
    }
</script>


<template>
    <div class="crims-table-area">
        <div class="crims-table-area__head">
            <div class="head-left">

            </div>
            <div class="head-right">

            </div>
        </div>
        <div class="crims-table-area__body">

            <vuetable ref="vuetable"
                      :api-url="url"
                      :fields="fields"
                      :multi-sort="true"
                      :per-page="5"
                      pagination-path=""
                      @vuetable:pagination-data="onPaginationData">
                <template slot="actions" slot-scope="props" class="action">
                    <router-link v-show="props.rowData.instructionType == 'purchase'" :to="{name: 'unittrust.purchase', params: {fundId: $route.params.id, id: props.rowData.id} }">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </router-link>
                </template>
            </vuetable>

            <div class="crims-table-area__foot">
                <div class="vuetable-pagiclination crims-table-area__pagination  ui basic segment grid">
                    <vuetable-pagination-info ref="paginationInfo"></vuetable-pagination-info>
                    <vuetable-pagination :css="pagination" ref="pagination" @vuetable-pagination:change-page="onChangePage">
                    </vuetable-pagination>
                </div>
            </div>

        </div>
    </div>
</template>
