@import "../utils/custom_buttons";
.contactus {
  padding: 20px 20px;
  overflow-y: scroll;
  height: 100%;

  .contact-area {
    padding: 10px 10px 10px 10px ;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ededed;
    background-color: #ffffff;
    min-height: 50%;
    display: flex;

    .form {
      width: 60%;

      .el-form {
        .el-form-item {
          margin-bottom: 0;
          @include custom_buttons;
          .el-input {
            .el-input__inner {
              height: 30px;
              border: 1px solid rgba(74, 73, 74, 0.7);
              background-color: #ffffff;
              color: #4a494a;
              font-family: "Proxima Nova";
              font-size: 14px;
              font-weight: 400;
              padding: 8px 18px;
              border-radius: 3px;

              &::-webkit-input-placeholder {
                color: #4a494a;
              }
              &::-moz-placeholder {
                color: #4a494a;
              }
              &:-ms-input-placeholder {
                color: #4a494a;
              }
              &:-moz-placeholder {
                color: #4a494a;
              }
            }
          }

          .el-textarea {
            .el-textarea__inner {
              border: 1px solid rgba(74, 73, 74, 0.7);
              background-color: #ffffff;
              color: #4a494a;
              font-family: "Proxima Nova";
              font-size: 14px;
              font-weight: 400;
              padding: 8px 18px;
              border-radius: 3px;



              &::-webkit-input-placeholder {
                color: #4a494a;
              }
              &::-moz-placeholder {
                color: #4a494a;
              }
              &:-ms-input-placeholder {
                color: #4a494a;;
              }
              &:-moz-placeholder {
                color: #4a494a;
              }


            }
          }
        }
      }
    }

    .details {
      width: 40%;
      padding: 10px 30px ;
      .contact-details  {
        padding: 22px 40px;
        border: 1px dashed #707070;



        table {
          tr {
            display: flex;
            padding-bottom: 10px;
            .icon {
              margin-right: 16px;
              i {
                color: #4a494a;
                font-size: 14px;
                font-weight: 400;
              }
            }

            .description {

              h3 {
                color: #006a5b;
                font-family: "Proxima Nova";
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
              }

              h4 {
                color: #4a494a;
                font-family: "Proxima Nova";
                font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;
              }

              strong {
                color: #4a494a;
                font-family: "Proxima Nova";
                font-size: 14px;
                font-weight: 400;
              }

              span {
                color: #4a494a;
                font-family: "Proxima Nova";
                font-size: 14px;
                font-weight: 300;
              }
            }
          }
        }
      }
    }


  }
}

@media screen and (max-width: 1024px) {
  .contactus {
    .contact-area {
      display: block;

      .form {
        width: 95%;
      }
      .details {
        width: 95%;
        padding:0;
      }
    }
  }
}