<script type="text/babel">
    import axios from 'axios';
    import { Message } from 'element-ui';

    export default {
        data() {
            return {
                transaction : [],
                form : {
                    category : 'product',
                    payment_to_id : null,
                    client_id : null,
                    commission_recipient_id : null
                },
                categories : {
                    'product' : 'Product',
                    'project' : 'Project',
                    'shares' : 'Shares',
                    'funds' : 'Unit Funds'
                },
                payment_to: {
                    'product' : [],
                    'project' : [],
                    'shares' : [],
                    'funds' : []
                },
                loading : false,
            }
        },
        props: [
            'transactionId'
        ],
        methods: {
            getSupsenseTransactionDetails() {
                axios.get('/api/portfolio/suspense-transactions/details/' + this.transactionId)
                    .then(({data}) => {
                        this.transaction = data;
                    });
            },

            getPaymentToDetails() {
                axios.get('/api/portfolio/suspense-transactions/payment_to/categories')
                    .then(({data}) => {
                        this.payment_to = data;
                        this.form.payment_to_id = Object.keys(this.payment_to[this.form.category])[0]
                    });
            },

            submitTransaction() {
                this.loading = true;
                axios.post('/dashboard/portfolio/suspense-transactions/record_client_inflow/' + this.transactionId, this.form)
                    .then((response) => {
                        this.loading = false;

                        let data = response.data;

                        if (data.status == 201) {
                            Message.success({message: data.data.message});
                            window.location.href = "/dashboard/portfolio/suspense-transactions/details/" + this.transactionId;
                        } else {
                            Message.error({message: data.errors});
                        }
                    }, (response) => {
                        this.loading = false;
                        Message.error({message: 'Whoops, something went wrong'});
                        window.location.href = "/dashboard/portfolio/suspense-transactions/details/" + this.transactionId;
                    });
            },

            selectedClient(clientId) {
                this.form.client_id = clientId;
            },

            selectedFa(fa) {
                this.form.commission_recipient_id = fa.value;
            },
        },

        watch: {
            'form.category' : {
                handler: function () {
                    this.form.payment_to_id = Object.keys(this.payment_to[this.form.category])[0]
                }
            },
        },

        mounted() {
            this.getSupsenseTransactionDetails();

            this.getPaymentToDetails();
        }
    }
</script>

<template>
    <span>
        <button class="btn btn-info" data-toggle="modal" data-target="#addClientInflowModal">Add
            Client Inflow
        </button>
        <div class="modal fade" id="addClientInflowModal" tabindex="-1" role="dialog"
             aria-labelledby="addClientInflowModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Add Client Inflow</h4>
                    </div>
                    <div class="modal-body">
                        <p><b>Transaction Details</b></p>
                        <table class="table table-hover table-responsive table-striped">
                            <tbody>
                            <tr>
                                <td>Amount</td>
                                <td>{{ transaction.amount }}</td>
                            </tr>
                            <tr>
                                <td>Date</td>
                                <td>{{ transaction.date }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="form-group">
                            <label>Select payment category</label>
                            <select class="form-control" v-model="form.category">
                                <option name="category" v-for="(category , index) in categories" v-bind:value="index" v-text="category"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Select payment to</label>
                            <select class="form-control" v-model="form.payment_to_id">
                                <option name="payment_to_id" v-for="(payment , index) in payment_to[form.category]" v-bind:value="index" v-text="payment"></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Search Client (Optional)</label>
                                    <search-client @selected="selectedClient" name="client_id" v-model="form.client_id"></search-client>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Search FA (Optional)</label>
                                    <search-financial-advisor @faSelected="selectedFa" name="commission_recipient_id" v-model="form.commission_recipient_id"></search-financial-advisor>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button class="btn btn-success" @click="submitTransaction()">
                            <i class="fa fa-paper-plane-o"></i> Submit
                            <i class="fa fa-spinner fa-spin" v-show="loading"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </span>
</template>