<script type="text/babel">
    import axios from 'axios';
    import { Message } from 'element-ui';

    export default {
        data() {
            return {
                transaction : [],
                form : {
                    transaction_id : null,
                },
                loading : false,
            }
        },
        props: [
            'transactionId'
        ],

        computed: {
            transactionType: function () {
                return 'credit';
            },
        },

        methods: {
            getSupsenseTransactionDetails() {
                axios.get('/api/portfolio/suspense-transactions/details/' + this.transactionId)
                    .then(({data}) => {
                        this.transaction = data;
                    });
            },

            submitTransaction() {
                this.loading = true;

                if (!this.form.transaction_id) {
                    Message.warning({message: 'Please select a custodial transaction to match'});
                    return;
                }

                axios.post('/dashboard/portfolio/suspense-transactions/bounce_cheque/' + this.transactionId, this.form)
                    .then((response) => {
                        this.loading = false;

                        let data = response.data;

                        if (data.status == 201) {
                            Message.success({message: data.data.message});
                            window.location.href = "/dashboard/portfolio/suspense-transactions/details/" + this.transactionId;
                        } else {
                            Message.error({message: data.errors});
                        }
                    }, (response) => {
                        this.loading = false;
                        Message.error({message: 'Whoops, something went wrong'});
                        window.location.href = "/dashboard/portfolio/suspense-transactions/details/" + this.transactionId;
                    });
            },

            selectedCustodialTransaction(transaction) {
                this.form.transaction_id = transaction.value;
            },
        },

        mounted() {
            this.getSupsenseTransactionDetails();
        }
    }
</script>

<template>
    <span>
        <button class="btn btn-info" data-toggle="modal" data-target="#bounceChequeModal">Bounce Cheque</button>
        <div class="modal fade" id="bounceChequeModal" tabindex="-1" role="dialog"
             aria-labelledby="bounceChequeModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Bounce a Cheque</h4>
                    </div>
                    <div class="modal-body">
                        <p><b>Transaction Details</b></p>
                        <table class="table table-hover table-responsive table-striped">
                            <tbody>
                            <tr>
                                <td>Amount</td>
                                <td>{{ transaction.amount }}</td>
                            </tr>
                            <tr>
                                <td>Date</td>
                                <td>{{ transaction.date }}</td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Search Transaction</label>
                                    <search-custodial-transaction
                                            @custodialTransactionSelected="selectedCustodialTransaction"
                                            name="transaction_id"
                                            :account="transaction.custodial_account_id"
                                            :transaction-type="transactionType"
                                            v-model="form.transaction_id"
                                    >
                                    </search-custodial-transaction>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button class="btn btn-success" @click="submitTransaction()">
                            <i class="fa fa-paper-plane-o"></i> Submit
                            <i class="fa fa-spinner fa-spin" v-show="loading"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </span>
</template>