<script>
    import vueTableMixin from "../../../../mixins/vuetable_mixin";
    import moment from 'moment';

    export default {
        mixins: [vueTableMixin],

        props: [
            'custodial_account_id'
        ],

        data() {
            return {
                fields: [
                    {name: 'date', title: 'Date', sortField: 'date'},
                    {name: 'bank_reference', title: 'Bank Reference', sortField: 'bank_reference'},
                    {name: 'transaction_id', title: 'Transaction Id', sortField: 'transaction_id'},
                    {name: 'outgoing_reference', title: 'Outgoing Reference', sortField: 'outgoing_reference'},
                    {name: 'source_identity', title: 'Source Identity', sortField: 'source_identity'},
                    {name: 'amount', title: 'Amount', sortField: 'amount'},
                    {name: 'matched_status', title: 'Matched'},
                    {name: 'id',title: 'Action', dataClass: 'center_text', callback: 'viewTransaction'},
                ],
                tableState: {},
                promise: true,
                startDate:null,
                endDate:null,
                filters:{
                    start: null,
                    end: null
                }
            }
        },

        watch: {
            startDate: {
                handler: function () {
                    this.filters.start = this.startDate != null ? moment(this.startDate).format('YYYY-MM-DD') : null;

                    this.$events.fire('filter-set', {'id': this.tableId, 'data': this.filters })
                }
            },
            endDate: {
                handler: function () {
                    this.filters.end = this.endDate != null ? moment(this.endDate).format('YYYY-MM-DD') : null;

                    this.$events.fire('filter-set', {'id': this.tableId, 'data': this.filters })
                }
            },
        },

        computed: {
            dataUrl() {
                return '/api/portfolio/suspense-transactions/list/' + this.custodial_account_id;
            }
        },

        methods: {
            viewTransaction(value) {
                return '<a href="/dashboard/portfolio/suspense-transactions/details/' + value + '" class="fa fa-eye"></a>'
            },
        }
    }
</script>

<template>
    <div class="col-md-12 panel panel-default">
        <div class="panel-body">
            <div class="crims-panel-heading">
                <div class="crims-panel-heading-left">
                    <div class="col-md-6">
                        <el-date-picker
                                v-model="startDate"
                                type="date"
                                placeholder="Start ..."
                                style="width: 100%">

                        </el-date-picker>
                    </div>
                    <div class="col-md-6">
                        <el-date-picker
                                v-model="endDate"
                                type="date"
                                placeholder="End ..."
                                style="width: 100%">

                        </el-date-picker>
                    </div>
                </div>
                <div class="crims-panel-heading-right">
                    <div class="col-md-6 pull-right">
                        <search-bar :search-label='"Search ..."'></search-bar>
                    </div>
                </div>
            </div>
            <div class="crims_table">
                <vuetable ref="vuetable"
                          :api-url="dataUrl"
                          :fields="fields"
                          pagination-path=""
                          @vuetable:pagination-data="onPaginationData"
                          :append-params="tableState"
                          :per-page="itemsPerPage"
                >
                </vuetable>

                <div class="vuetable-pagination ui basic segment grid crims_pagination">
                    <table>
                        <tfoot>
                        <tr>
                            <td class="text-center" width="50%">
                                <div class="inline-block"
                                     style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                    <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                    <select style="width: 100px" class="form-control" v-model="itemsPerPage"
                                            @change="changePerPage">
                                        <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}
                                        </option>
                                    </select>
                                </div>
                            </td>
                            <td class="text-center">
                                <vuetable-pagination-info ref="paginationInfo">
                                </vuetable-pagination-info>
                                <vuetable-pagination ref="pagination"
                                                     @vuetable-pagination:change-page="onChangePage"
                                ></vuetable-pagination>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>