<script>
import Vue from 'vue';
import {mapGetters} from 'vuex';
//Vue.component('top-up', require('../../investments/investment/partials/topup.vue'));
Vue.component('roll-over', require('../../investments/structuredproducts/partials/actions/rollover/rollover.vue'));
Vue.component('withdraw-action', require('../../investments/structuredproducts/partials/actions/withdraw/withdraw.vue'));
//Vue.component('new-investments', require('../../investments/investment/partials/new_Investment.vue'));
Vue.component('new-top-up', require('../../investments/structuredproducts/partials/actions/topup/top-up.vue'));
import event from '../../../events';
	export default {
		data(){
			return {
				calloutHidden: false,
				suspend: true,
				hide: false
			}
		},
		 computed: {
            ...mapGetters({
                actionCalloutActive: 'actionCalloutActive',
                calloutAction: 'calloutAction',
                calloutActionProductId: 'calloutActionProductId',
                calloutTitle: 'calloutTitle',
                suspendCallout: 'suspendCallout',
                calloutName: 'calloutName'
            })
        },
		methods: {
			closeCallout(){
//				this.$store.commit('CLOSE_CALLOUT');
                event.bus.$emit('closeModal');
			},
            hideCallout(){
                event.bus.$emit('closeModal');
				}


		},
		created(){
		    let vm = this;
		    event.bus.$on('resume_callout', function () {
                vm.hideCallout();
            })
		},
		mounted(){

		},

	}
</script>

<template>
	<div>
		<div :class="{'background-overlay': actionCalloutActive }"></div>

		<div class="open-bar-section-offset" @click="hideCallout" :class="{'hide': !actionCalloutActive, 'active': suspendCallout }" >
			<i class="fa fa-angle-left" aria-hidden="true"></i>
		</div>

		<transition name="callout-transition">
			<div class="action-callouts" :class="{'hide-callout': actionCalloutActive, 'suspend-callout': suspendCallout}" v-show="!suspendCallout && actionCalloutActive">
				<div class="callout-bar-title">
					<div class="bar-section-offset" @click="hideCallout" :class="{'active': !suspendCallout}">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</div>
					<div class="bar-section-main" >
						<div class="callout-title">
							<h3> <span v-if="calloutTitle !=='NEW' ">
								{{calloutTitle}}
							</span>
								<span v-if="calloutTitle=='NEW' ">Make a Top-Up</span>
								<span v-else>
									{{ calloutName }}
								</span>
							</h3>
						</div>
						<div class="close-callout" @click="closeCallout">
							<img src="/assets/icons/close-callout.svg">
						</div>
					</div>
				</div>

				<div class="action-callout-body">
					<!--<div class="top-up" v-show="calloutAction=='TOPUP'">-->
						<!--<top-up></top-up>-->
					<!--</div>-->
					<div class="withdraw" v-show="calloutAction=='WITHDRAW'">
						<withdraw-action></withdraw-action>
					</div>

					<div class="rollover" v-show="calloutAction=='ROLLOVER'">
						<roll-over></roll-over>
					</div>

					<!--<div class="rollover" v-show="calloutAction=='NEW'">-->
						<!--<new-investments></new-investments>-->
					<!--</div>-->

					<div class="top-up" v-show="calloutAction=='NEW' || calloutAction=='TOPUP'">
						<new-top-up></new-top-up>
					</div>
				</div>
			</div>
		</transition>


        </div>
</template>

<style>
	
</style>