
<script>

    import { mapState, mapGetters, mapActions } from 'vuex';
    import event from '../../../events';

    export default {
        name: "fetch_fund_apis",
        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient',
                isClient: 'isClient',

            })
        },


        mounted(){
        },

    }
</script>

<template>
    <div></div>
</template>


<style scoped>

</style>

