<script>
    import {mapGetters} from 'vuex';

    export default {
        name: "fetch_loyalty_points_apis",
        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient',
                isClient: 'isClient',
            })
        },


        mounted() {
        },

    }
</script>

<template>
    <div></div>
</template>