<script>
    import {mapGetters} from 'vuex';
    import events from '../../../events';

    export default {
        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient',
                isClient: 'isClient',
            })
        },

        created(){
            let vm = this;
            events.bus.$on('client_switched', function () {
                vm.getTopups();
            });

            events.bus.$on('client_switch', function () {
                vm.getTopups();
            })

        },

        methods: {

            getTopups(){
                this.$store.commit('GET_TOPUPS', this.selectedClient.id);
            },
            getProductList: function ()
            {
                this.$store.commit('GET_PRODUCTS');
            },
        },

        mounted(){
            if(this.isClient && this.selectedClient.id) {
                this.getTopups();
                this.getProductList();
            }
        },

    }
</script>

<template>
    <div></div>
</template>