<script>
    import {mapGetters} from 'vuex';
    import events from '../../../events';
    export default {
        name: "fetch_common_apis",

        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient',
                isClient: 'isClient',
            })
        },
        methods: {
            bankAccounts: function ()
            {
                if(this.selectedClient.id)
                {
                    this.$store.commit('CLIENT_BANK_ACCOUNTS', this.selectedClient);
                }
            },
        },
        created(){
            let vm = this;
            events.bus.$on('client_switched', function () {
                vm.bankAccounts();
            });
        },
        mounted() {
            if(this.isClient && this.selectedClient.id){
                this.bankAccounts();
            }
        }
    }
</script>
<template>
    <div></div>
</template>

<style scoped>

</style>