<script type="text/babel">
    import Vue from 'vue';
    import axios from 'axios';
    import moment from 'moment';
    import {Message} from 'element-ui';

    Vue.component('client-details', require('./holderdetails.vue'));

    export default {
        data() {
            return {
                fund_id: this.$route.params.fid,
                client_id: this.$route.params.id,
                fund_purchase_id: this.$route.params.fund_purchase_id,
                purchase: {},
                form: {},
                schedules: {},
                schedule_date: '',
                editing: false,
                visible: false,
                total: 0,
                schedule:{},
                date: new Date()
            }
        },

        watch: {
            date: {
                handler() {
                    this.schedule.date = moment(this.date).format('YYYY-MM-DD');
                }
            }
        },

        created: function () {
            this.purchaseDetails();
            this.commissionSchedules();
        },

        methods: {
            purchaseDetails: function () {
                axios.get(`/api/unitization/unit-funds/${this.fund_id}/unit-fund-clients/${this.client_id}/unit-fund-purchases/${this.fund_purchase_id}`)
                    .then(({data}) => {
                        this.purchase = data.data;
                    });
            },

            getSum() {
                let schedules = this.schedules;

                this.total = schedules.reduce((acc, schedule) => acc + parseFloat(schedule.amount), 0);
            },

            commissionSchedules: function () {
                axios.get(`/api/unitization/unit-fund-purchases/${this.fund_purchase_id}/commission-schedules`)
                    .then(({data}) => {
                        this.schedules = data.schedules;

                        this.getSum();
                    });
            },

            editSchedule: function (schedule) {
                this.date = moment(schedule.date).format('YYYY-MM-DD');
                this.visible = true;
                this.schedule = schedule;
            },

            submit: function () {
                this.editing = true;
                this.visible = true;

                let schedule_date = this.schedule.date;

                // schedule_date = moment(schedule_date).format('YYYY-MM-DD');

                axios.get(`/api/unit-fund-purchase/commission-schedule/${this.schedule.id}/${schedule_date}/edit`)
                    .then((response) => {
                        Message.success({message: 'Commission Schedule edit submitted for approval'});
                        this.editing = false;
                        this.visible = false;
                    }, () => {
                        Message.error({message: 'Failed to submit'});
                        this.visible = false;
                    });
            }
        }
    }
</script>

<template>
    <div class="col-md-12">
        <div class="panel-dashboard">
            <div class="col-md-6">
                <div class="detail-group">
                    <h4>Unit Fund Purchase</h4>
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>Unit Fund</th>
                            <td>{{ purchase.fund }}</td>
                        </tr>

                        <tr>
                            <th>Purchase Date</th>
                            <td>{{ purchase.date }}</td>
                        </tr>

                        <tr>
                            <th>Currency</th>
                            <td>{{ purchase.currency }}</td>
                        </tr>

                        <tr>
                            <th>Amount Before Investment</th>
                            <td>{{ purchase.amountBeforeInvestment | currency }}</td>
                        </tr>

                        <tr>
                            <th>Amount Invested</th>
                            <td>{{ purchase.value }}</td>
                        </tr>

                        <tr>
                            <th>Unit Price</th>
                            <td>{{ purchase.unitPrice }}</td>
                        </tr>

                        <tr>
                            <th>Units Purchased</th>
                            <td>{{ purchase.numberOfUnits }}</td>
                        </tr>

                        <tr>
                            <th>Fees Charged</th>
                            <td>{{ purchase.feesIncurred }}</td>
                        </tr>

                        <tr>
                            <th>Description</th>
                            <td>{{ purchase.description }}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="detail-group">
                    <h4>Commission details</h4>
                    <table class="table table-hover">
                        <tbody>

                        <tr v-if="purchase.recipient">
                            <th>FA</th>
                            <td>{{purchase.recipient.name}}</td>
                        </tr>

                        <tr>
                            <th>Rate</th>
                            <td>{{purchase.rate}}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail-group">
                    <h4>Commission Schedules</h4>
                    <table class="table table-responsive table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="schedule in schedules">
                            <td>{{schedule.date}}</td>
                            <td>{{schedule.description}}</td>
                            <td>{{schedule.amount}}</td>
                            <td>
                                <el-button type="text" @click="editSchedule(schedule)"><i
                                        class="fa fa-edit"></i></el-button>


                            </td>
                        </tr>
                        <tr>
                            <th>Total</th>
                            <td></td>
                            <th>{{total}}</th>
                            <th></th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <el-dialog
                    :visible.sync="visible"
                    width="30%"
                    title="Edit Schedule">
                <div class="">
                    <p class="demonstration">Scheduled Date</p>
                    <el-date-picker
                            v-model="date"
                            type="date"
                            placeholder="Pick a day">
                    </el-date-picker>
                    <hr>
                    <el-button size="mini" @click="submit()">
                        <i class="el-icon-loading" v-if="editing"></i>Submit
                    </el-button>
                </div>
            </el-dialog>
        </div>
    </div>
</template>