<script type="text/babel">
    import { mapGetters } from 'vuex';
    import Vue from 'vue';
    import moment from 'moment';

    Vue.component('switch-fund', require('./switch-fund.vue'));

    export default {

        props: ['client'],

        data() {
            return {
                loading: false,
                isCollapsed: false,
                item: {},
                date: null,
                start_date: null,
                formErrors: {},
                unit_fund_id: null,
                switch_date: null,
                funds: [],
                clientId: null,
                fundId: null,
                openCampaigns: [],
                end_date: null
            }
        },

        created: function() {
            this.clientId = this.$route.params.id;
            this.fundId = this.$route.params.fid;

            this.getOpenCampaigns();
        },

        computed: {
            ...mapGetters({
                switchModal: 'switchModal',
                interestModal: 'interestModal'
            })
        },

        methods: {
            openSwitchModal: function () {
                this.$store.commit('SWITCH_MODAL', true);
            },

            addToCampaign: function(item) {

                this.loading = true;

                let input = item;

                input.client_id = this.clientId;

                axios.post('/api/unitization/campaign-statement-items', input)
                    .then((response) => {

                        this.loading = false;

                        this.removeModal('#statement');

                        let data = response.data;

                        if(response.status === 202) {
                            this.success('The client for the fund has been successfully added to the unit fund campaign');
                        }
                        else if(response.data.status === 422) {
                            this.throwValidationError(data);
                        }
                    }, (response) => {

                        this.loading = false;
                        flash('Oops! Something went wrong', 'danger');
                        this.formErrors = response.data;

                    });
            },

            sendStatement: function() {

                this.loading = true;

                let input = {
                    date: moment(this.end_date).format('YYYY-MM-DD'),
                    start_date: moment(this.start_date).format('YYYY-MM-DD')
                };

                axios.post(`/api/unitization/unit-funds/${this.fundId}/unit-fund-clients/${this.clientId}/send-statement`, input)
                    .then((response) => {
                        this.loading = false;
                        this.removeModal('#statement');

                        let data = response.data;

                        if(response.status === 202) {
                            this.success('The statement has been successfully sent.');
                        }
                        else if(response.data.status === 422) {
                            this.throwValidationError(data);
                        }
                    }, (response) => {
                        this.loading = false;
                        flash('Oops! Something went wrong', 'danger');
                        this.formErrors = response.data;
                    });
            },

            success: function($message, type = 'success') {
                flash($message, type);
            },

            throwValidationError: function(data) {
                if(data.warning)
                    flash(data.warning, 'warning');
                else {
                    this.formErrors = data.errors;
                    flash('The operation could not be executed!', 'danger');
                }
            },

            removeModal: function(id) {
                $(id).modal('hide');
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            },

            getOpenCampaigns: function () {
                this.fetching = true;

                axios.get('/api/unit-fund/'+this.fundId+ '/' +this.clientId+'/statement/campaigns')
                    .then( ({ data }) => {
                        this.openCampaigns = data;
                    }, () => {
                        flash('The operation could not be executed!', 'danger');
                    });
            }
        }
    }
</script>
<template>
    <div>
        <h3>
            Unit Fund Client Summary
            <div class="btn-group pull-right">
                <a class="btn btn-default" :href="'/dashboard/unitization/unit-funds/' +fundId+ '/unit-fund-clients'"><i class="fa fa-long-arrow-left"></i> Back to fund clients</a>
                <router-link v-bind:to="{ name: 'unit-funds.show', params: { id: fundId } }" class="btn btn-default"><i class="fa fa-eye"></i> View Unit Fund</router-link>
            </div>
        </h3>
        <table class="table table-hover">
            <tbody>
            <tr>
                <td>Client Code</td>
                <td>{{ client.code }}</td>
            </tr>
            <tr>
                <td>Holder Name</td>
                <td>{{ client.name }} </td>
            </tr>
            <tr>
                <td>E-Mail</td>
                <td>
                    {{ client.email }}
                </td>
            </tr>
            <tr>
                <td>Fund Name</td>
                <td>{{ client.fund }}</td>
            </tr>
            <tr>
                <td>Owned Units</td>
                <td>{{ client.ownedUnits }}</td>
            </tr>
            <tr>
                <td>Accrued Interest</td>
                <td>{{ client.accruedInterest }}</td>
            </tr>
            <tr>
                <td>Fees Incurred</td>
                <td>{{ client.feesIncurred }}</td>
            </tr>
            <tr>
                <td>Actions</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#statement">
                            <i class="fa fa-paperclip"></i> Statements
                        </button>
                        <router-link v-bind:to="{ name: 'unit-fund-purchases.new', params: { fid: fundId, id: clientId } }" class="btn btn-primary">
                            <i class="fa fa-shopping-bag"></i> Buy Units
                        </router-link>
                        <router-link v-bind:to="{ name: 'unit-fund-sales.new', params: { hid: client.id } }" class="btn btn-info">
                            <i class="fa fa-sign-out"></i> Sell Units
                        </router-link>
                        <router-link v-bind:to="{ name: 'unit-fund-transfers.new', params: { hid: client.id } }" class="btn btn-warning">
                            <i class="fa fa-exchange"></i> Transfer Units
                        </router-link>
                        <!--TODO-->
                        <button class="btn btn-default" @click="openSwitchModal" role="button"><i class="fa fa-sign-in"></i> Switch Fund</button>
                        <a class="btn btn-default" :href="'/api/unitization/unit-funds/'+fundId+'/unit-fund-clients/'+client.id+'/export-calculation'" role="button"><i class="fa fa-file-excel-o"></i> Export calculation</a>

                        <router-link v-bind:to="{ name: 'unit-fund-interest-payments.index', params: { fid: fundId, id: clientId } }" class="btn btn-primary">
                            <i class="fa fa-shopping-bag"></i> Add Interest Payment Schedules
                        </router-link>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- Statement Modal -->
        <div class="modal fade" id="statement" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Unit Fund Statements</h4>
                    </div>
                    <div class="modal-body">
                        <div v-if="openCampaigns">
                            <form v-on:submit.prevent="addToCampaign(item)">
                                <div class="form-group">
                                    <label>Select Campaign </label>
                                    <select class="form-control" v-model="item.unit_fund_statement_campaign_id">
                                        <option v-for="campaign in openCampaigns" v-bind:value="campaign.id" v-text="campaign.name"></option>
                                    </select>
                                    <ul v-if="formErrors['unit_fund_statement_campaign_id']" class="text-danger">
                                        <li v-for="message in formErrors['unit_fund_statement_campaign_id']" v-text="message"></li>
                                    </ul>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-plus-square-o"></i> Add To Campaign <i class="fa fa-spinner fa-spin" v-if="loading"></i> </button>
                                </div>
                            </form>
                        </div>

                        <p v-else>No open unit fund campaigns</p>

                        <div class="padding-top-50">
                            <button type="button" class="btn btn-default" @click="isCollapsed = !isCollapsed">More options</button>
                            <div v-show="isCollapsed" class="padding-top-50">
                                <form v-on:submit.prevent="sendStatement">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <el-date-picker v-model="start_date" type="date" placeholder="Select start date..."></el-date-picker>
                                            <ul v-if="formErrors['date']" class="text-danger">
                                                <li v-for="message in formErrors['date']" v-text="message"></li>
                                            </ul>
                                        </div>

                                        <div class="input-group">
                                            <el-date-picker v-model="end_date" type="date" placeholder="Select end date..."></el-date-picker>
                                            <ul v-if="formErrors['date']" class="text-danger">
                                                <li v-for="message in formErrors['date']" v-text="message"></li>
                                            </ul>
                                        </div>

                                    </div>
                                    <div class="margin-top-25">
                                        <button class="btn btn-success" type="submit"><i class="fa fa-paper-plane-o"></i> Send Statement <i class="fa fa-spinner fa-spin" v-if="loading"></i> </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Switch Fund Modal-->
        <div>
            <el-dialog
                    title = "Switch Fund"
                    :visible.sync="switchModal"
                    width="30%"
                    :show-close="false">
                <span>
                    <switch-fund :client="client"></switch-fund>
                </span>
            </el-dialog>
        </div>

    </div>
</template>