<script type="text/babel">
    import moment from 'moment';

    export default {

        props: ['clientId', 'fundId'],

        data() {
            return {
                loading: false,
                date: '',
                formattedDateString: '',
                formErrors: {},
                start: '',
                start_date: '',
            }
        },

        watch: {
            date: {
                handler: function() {
                    this.formattedDateString = moment(this.date).format('YYYY-MM-DD');
                }
            },

            start: {
                handler: function() {
                    this.start_date = moment(this.start).format('YYYY-MM-DD');
                }
            }
        },
    }
</script>

<template>
    <div>
        <h3>Statement</h3>

        <div class="col-md-12">
            <div class="col-md-2">
                <div class="input-group">
                    <el-date-picker v-model="start" type="date" placeholder="Select start date to preview..."></el-date-picker>
                </div>
            </div>

            <div class="col-md-2">
                <div class="input-group">
                    <el-date-picker v-model="date" type="date" placeholder="Select date to preview..."></el-date-picker>
                </div>
            </div>

            <div class="col-md-2">
                <a :href="'/api/unitization/unit-funds/' + fundId + '/unit-fund-clients/' + clientId + '/preview-statement/' + formattedDateString + '/' + start_date"
                   class="btn btn-success" type="submit">
                    <i class="fa fa-eye"></i> View Statement <i class="fa fa-spinner fa-spin" v-if="loading"></i>
                </a>
            </div>
        </div>
    </div>
</template>