<script>
    import { mapGetters } from 'vuex';
    import moment from 'moment';

    export default {
        props: ['client'],

        data() {
            return {
                fundId: null,
                form: { },
                date: ''
            }
        },

        computed: {
            ...mapGetters({
                fetchingFunds: 'fetchingFunds',
                switching: 'switchingFund',
                errors: 'switchFormErrors',
                funds: 'unitFundsList'
            })
        },

        watch: {
            date: {
                handler: function () {
                    this.form.date = moment(this.date).format('YYYY-MM-DD');
                }
            }
        },

        methods: {
            switchFund: function () {
                this.form.fund_id = this.fundId;
                this.form.client_id = this.clientId;

                this.$store.commit('SWITCH_FUND', this.form);
            },

            getFunds: function () {
                this.$store.commit('GET_UNITS_FUNDS', this.fundId);
            },

            closeModal: function () {
                this.$store.commit('SWITCH_MODAL', false);
            }
        },

        mounted() {
            this.fundId = this.$route.params.fid;
            this.clientId = this.$route.params.id;

            this.getFunds();
        }
    }
</script>

<template>
    <div class="">
        <div class="panel panel-success">
            <div class="panel-heading">
                <p><i class="fa fa-info"></i> Choose Fund to switch to</p>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>
                                <i class="fa fa-spinner fa-spin" v-if="fetchingFunds"></i>
                                Unit Fund:
                            </label>
                            <el-select v-model="form.unit_fund_id" placeholder="" style="width: 100%;">
                                <el-option
                                        v-for="fund in funds"
                                        :key="fund.id"
                                        :label="fund.name"
                                        :value="fund.id">
                                </el-option>
                            </el-select>
                            <ul v-if="errors['unit_fund_id']" class="text-danger">
                                <li v-for="message in errors['unit_fund_id']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12"><div class="clearfix"><br></div></div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label> Date </label>
                            <el-date-picker v-model="date" type="date" placeholder="Date..." style="width: 100%"></el-date-picker>
                            <ul v-if="errors['date']" class="text-danger">
                                <li v-for="message in errors['date']" v-text="message"></li>
                            </ul>
                        </div>
                    </div>
                    <br><br>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <button class="btn btn-primary" type="submit" @click="switchFund">
                <i class="fa fa-spinner fa-spin" v-if="switching"></i> <i class="fa fa-save" v-else></i> Switch
            </button>
            <a class="btn btn-default" @click="closeModal()">Cancel</a>
        </div>
    </div>
</template>