<script type="text/babel">
    import { mapGetters } from 'vuex';
    import Vue from 'vue';

    Vue.component('reverse-sale', require('../../unitfundsales/reverse.vue'));

    export default {

        props: ['sales'],

        computed: {
            ...mapGetters({
                saleModal: 'saleModal'
            })
        },
        methods: {
            totalUnitsPrice: function(sale) {
                return parseFloat(sale.number) * parseFloat(sale.unit_price);
            },

            reverseSalesModal: function (sale) {
                this.$store.commit('REVERSE_SALE_MODAL', { sale: sale, value: true });
            }
        }
    }
</script>

<template>
    <div>
        <div>
            <h4>Unit Sales</h4>
            <hr>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Number of Units</th>
                    <th>Unit Price</th>
                    <th>Unit Price * No. of Units</th>
                    <th>Total Amount</th>
                    <th>Description</th>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="sale in sales">
                    <td>{{ sale.date | formatDate }}</td>
                    <td>{{ sale.number | currency('', 2) }}</td>
                    <td>{{ sale.unit_price | currency }}</td>
                    <td>{{ totalUnitsPrice(sale) | currency }}</td>
                    <td>{{ totalUnitsPrice(sale) | currency }}</td>
                    <td>{{ sale.description }}</td>
                    <td><el-button type="success" size="mini" @click="reverseSalesModal(sale)">reverse</el-button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <el-dialog
                    title = "Reverse Unit Fund Transaction"
                    :visible.sync="saleModal"
                    width="30%"
                    :show-close="false">
                <span>
                    <reverse-sale></reverse-sale>
                </span>
            </el-dialog>
        </div>
    </div>
</template>