<script type="text/babel">
    import {mapGetters} from 'vuex';
    import Vue from 'vue';

    Vue.component('reverse-purchase', require('../../unitfundpurchases/reverse.vue'));

    export default {

        props: ['purchases', 'client'],

        computed: {
            ...mapGetters({
                reversalModal: 'reversalModal',
            })
        },

        methods: {
            investmentAmount(purchase) {
                return (purchase.numberOfUnits * purchase.unitPrice) + parseFloat(purchase.fees_incurred);
            },

            totalUnitsPrice(purchase) {
                return parseFloat(purchase.number) * parseFloat(purchase.unitPrice)
            },

            totalAmount(purchase) {

                let totalAmount = parseFloat(this.totalUnitsPrice(purchase));
                //let totalAmount = parseFloat(this.totalUnitsPrice(purchase)) + parseFloat(purchase.feesIncurred);

                return totalAmount;
            },

            balance(purchase) {
                return (Math.abs(purchase.amount) - this.totalUnitsPrice(purchase));
            },

            reversePurchaseModal: function (purchase) {
                this.$store.commit('REVERSE_PURCHASE_MODAL', {purchase: purchase, value: true});
            },

            commission: function (purchase) {
                let fund_id = this.$route.params.fid;

                this.$router.push({
                    name: 'unit-fund-purchases.commission',
                    params: {fid: fund_id, id: this.client.id, fund_purchase_id: purchase.id}
                });
            },

            view: function (purchase) {
                let fund_id = this.$route.params.fid;

                this.$router.push({
                    name: 'unit-fund-purchases.show',
                    params: {fid: fund_id, id: this.client.id, fund_purchase_id: purchase.id}
                });
            }
        },
    }
</script>

<template>
    <div>
        <div>
            <h4>Unit Purchases</h4>
            <hr>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Amount Invested</th>
                    <th>Number of Units</th>
                    <th>Unit Price</th>
                    <th>Unit Price * No. of Units</th>
                    <th>Fees Incurred</th>
                    <th>Total Amount</th>
                    <th>Description</th>
                    <!--<th>Balance</th>-->
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="purchase in purchases">
                    <td>{{ purchase.date | formatDate }}</td>
                    <td>{{ purchase.amountBeforeInvestment | currency }}</td>
                    <td>{{ purchase.numberOfUnits }}</td>
                    <td>{{ purchase.unitPrice | currency }}</td>
                    <td>{{ totalUnitsPrice(purchase) | currency }}</td>
                    <td>{{ purchase.fees_incurred | currency }}</td>
                    <td>{{ totalAmount(purchase) | currency }}</td>
                    <td>{{ purchase.description }}</td>
                    <td>
                        <span v-if="purchase.client_payment_id">
                            <el-button type="success" size="mini"
                                       @click="reversePurchaseModal(purchase)">reverse</el-button>
                        </span>

                        <span>
                            <el-button type="primary" size="mini" @click="commission(purchase)">commission</el-button>
                        </span>

                        <span v-if="purchase.client_payment_id">
                            <el-button size="mini" @click="view(purchase)" class="el-icon-view"></el-button>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <el-dialog
                    title="Reverse Unit Fund Transaction"
                    :visible.sync="reversalModal"
                    width="30%"
                    :show-close="false">
                <span>
                    <reverse-purchase></reverse-purchase>
                </span>
            </el-dialog>
        </div>
    </div>
</template>
