<script type="text/babel">
    import { mapGetters } from 'vuex';
    import Vue from 'vue';

    Vue.component('reverse-transfer', require('../../unitfundtransfers/reverse.vue'));

    export default {

        props: ['transfers'],

        computed: {
            ...mapGetters({
                transferModal: 'transferModal'
            })
        },

        methods: {
            reverseTransferModal: function (transfer) {
                this.$store.commit('REVERSE_TRANSFER_MODAL', { transfer: transfer, value: true });
            }
        }
    }
</script>

<template>
    <div>
        <div>
            <h4>Unit Transfers Given</h4>
            <hr>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Number of Units</th>
                    <th>Recipient's Name</th>
                    <th>Recipient's Holder Number</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="transfer in transfers">
                    <td>{{ transfer.date | formatDate }}</td>
                    <td>{{ transfer.numberOfUnits }}</td>
                    <td>{{ transfer.recipientName }}</td>
                    <td>{{ transfer.recipientNumber }}</td>
                    <td><el-button type="success" size="mini" @click="reverseTransferModal(transfer)">reverse</el-button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <el-dialog
                    title = "Reverse Unit Fund Transaction"
                    :visible.sync="transferModal"
                    width="30%"
                    :show-close="false">
                <span>
                    <reverse-transfer></reverse-transfer>
                </span>
            </el-dialog>
        </div>
    </div>
</template>