<script>
    import { mapGetters } from 'vuex';

    export default {
        data() {
            return { form: {} }
        },
        computed: {
            ...mapGetters({
                formErrors: 'formErrors',
                savingAsset: 'savingAsset'
            })
        },
        methods: {
            saveAssetClass: function ()
            {
                this.$store.commit('ADD_NEW_ASSET_CLASS', this.form);
            },
            closeModal: function ()
            {
                this.$store.commit('CREATE_ASSET_CLASS', false);
            }
        },
    }
</script>

<template>
    <div class="">
        <div class="form-group">
            <label> Asset Class </label>
            <input type="text" name="name" class="form-control" placeholder="Asset class..." v-model="form.name" required>
            <ul v-if="formErrors['name']" class="text-danger">
                <li v-for="message in formErrors['name']" v-text="message"></li>
            </ul>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit" @click="saveAssetClass"><i class="fa fa-spinner fa-spin" v-if="savingAsset"></i> <i class="fa fa-save" v-else></i> Save </button>
            <a class="btn btn-default" @click="closeModal()">Close</a>
        </div>
    </div>
</template>

<style>

</style>