<script>
    import { mapGetters } from 'vuex';

    export default {
        data() {
            return {
                form: {},
                aName: ''
            }
        },
        computed: {
            ...mapGetters({
                updateErors: 'updateErors',
                asset: 'assetClass',
                editAssetClass: 'editAssetClass',
                editing: 'editing'
            })
        },
        watch: {
            asset: {
                handler: function ()
                {
                    this.aName = this.asset.name;
                }
            },
            aName: {
                handler: function ()
                {
                    this.form.name = this.aName;
                }
            }
        },
        methods: {
            updateAssetClass: function ()
            {
                this.$store.commit('UPDATE_ASSET_CLASS', { form: this.form, id: this.$route.params.id });
            },

            assetClassDetails: function ()
            {
                this.$store.commit('ASSET_CLASS_DETAILS', this.$route.params.id);
            }
        },
        mounted() {
            this.assetClassDetails();
        }
    }
</script>

<template>
    <div class="col-md-10 col-md-offset-1">
        <div class="panel-dashboard">
            <div class="form-group">
                <label>Fund Name</label>
                <input type="text" name="name" class="form-control" v-model="aName" required>
                <ul v-if="updateErors['name']" class="text-danger">
                    <li v-for="message in updateErors['name']" v-text="message"></li>
                </ul>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit" @click="updateAssetClass"><i class="fa fa-spinner fa-spin" v-if="editing"></i> <i class="fa fa-save" v-else></i> Update </button>
                <router-link :to="{ name: 'asset-classes' }" data-dismiss="modal" class="btn btn-danger"> Cancel </router-link>
            </div>
        </div>
    </div>
</template>