<script>
    import vueTableMixin from '../../../mixins/vuetable_mixin';
    import Vue from 'vue';
    import { mapGetters } from 'vuex';

    Vue.component('create-asset-class', require('./create.vue'));

    export default {

        mixins: [ vueTableMixin ],

        data() {
            return {
                url: '/api/portfolio/asset-classes',
                fields: [
                    { name: 'id', title: 'ID', sortField: 'id' },
                    { name: 'name', sortField: 'name' },
                    { name: '__view_action', title: 'View', titleClass: 'text-center', dataClass: 'text-center' },
                    { name: '__edit_action', title: 'Edit', titleClass: 'text-center', dataClass: 'text-center' },
                ],
                tableState: {
                },
                promise: true,
            }
        },
        computed: {
            ...mapGetters({
                createAssetClass: 'createAssetClass',
            })
        },
        methods: {
            createAssetClassModal: function ()
            {
                this.$store.commit('CREATE_ASSET_CLASS', true);
            }
        }
    }
</script>

<template>
    <div class="col-md-10 col-md-offset-1">
        <div class="panel-dashboard">
            <div class="row" style="margin: 10px;">
                <div class="pull-left">
                    <h4>Asset Classes</h4>
                </div>
                <div class="btn-group pull-right">
                    <a href="/dashboard/portfolio/securities" class="btn btn-default"><i class="fa fa-long-arrow-left"></i> Back to Securities </a>
                    <a class="btn btn-default pull-right" @click="createAssetClassModal"><i class="fa fa-plus-square-o"></i> Add New Asset Class</a>
                </div>
            </div>

            <div class="row" style="margin: 10px;">
                <search-bar :search-label='"Search asset class..."'></search-bar>
            </div>

            <div class="crims_table">
                <vuetable ref="vuetable"
                          :api-url="url"
                          :fields="fields"
                          pagination-path=""
                          @vuetable:pagination-data="onPaginationData"
                          :append-params="tableState"
                          :per-page="itemsPerPage"
                >
                </vuetable>

                <div class="vuetable-pagination ui basic segment grid crims_pagination">
                    <table>
                        <tfoot>
                            <tr>
                                <td class="text-center" width="50%">
                                    <div class="inline-block" style="vertical-align: top; padding-top: 25px; margin-right: 40px;">
                                        <span class="pull-left margin-right-20 margin-top-5"> Items per page</span>
                                        <select style="width: 100px" class="form-control" v-model="itemsPerPage" @change="changePerPage">
                                            <option v-for="option in itemsPerPageOptions" :value="option">{{ option }}</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <vuetable-pagination-info ref="paginationInfo">
                                    </vuetable-pagination-info>
                                    <vuetable-pagination ref="pagination"
                                                         @vuetable-pagination:change-page="onChangePage"
                                    ></vuetable-pagination>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <el-dialog
                    title = "Add Asset Class"
                    :visible.sync="createAssetClass"
                    width="30%">
                <span>
                    <create-asset-class></create-asset-class>
                </span>
            </el-dialog>

        </div>
    </div>
</template>

<style>

</style>