<script>
    import { mapGetters } from 'vuex';
    import Vue from 'vue';

    Vue.component('edit-asset-class', require('./edit.vue'));
    Vue.component('add-sub-asset-class', require('../subassetclasses/create.vue'));
    Vue.component('edit-sub-asset-class', require('../subassetclasses/edit.vue'));

    export default {

        data() {
            return {
                subAssetEdit: {name : '', id : ''},
            }
        },

        computed: {
            ...mapGetters({
                asset: 'assetClass',
                subAssets: 'subAssetClasses',
                editAssetClass: 'editAssetClass',
                addSubAssestClass: 'addSubAssestClass',
                editSubAssetClass: 'editSubAssetClass'
            })
        },
        methods: {
            assetClassDetails: function ()
            {
                this.$store.commit('ASSET_CLASS_DETAILS', this.$route.params.id);
            },
            subAssetClasses: function ()
            {
                this.$store.commit('GET_SUB_ASSET_CLASSES', this.$route.params.id);
            },
            setAssetId: function()
            {
                this.$store.commit('SET_ASSET_CLASS_ID', this.$route.params.id);
            },
            editAssetClassModal: function ()
            {
                this.$store.commit('EDIT_ASSET_CLASS_MODAL', true);
            },
            addSubAssetClassModal: function ()
            {
                this.$store.commit('ADD_SUB_ASSET_CLASS_MODAL', true);
            },
            editSubAssetClassModal: function (subAsset)
            {
                this.subAssetEdit = subAsset;
                this.$store.commit('EDIT_SUB_ASSET_CLASS_MODAL', { value: true });
            }
        },
        mounted() {
            this.assetClassDetails();
            this.subAssetClasses();
        }
    }
</script>

<template id="id-of-template" v-cloak>
    <div class="col-md-10 col-md-offset-1">
        <div class="panel-dashboard">
            <h3>
                Asset Class Details
                <div class="btn-group pull-right">
                    <router-link :to="{ name: 'asset-classes' }" class="btn btn-default">
                        <i class="fa fa-long-arrow-left"></i> Back to Asset Classes
                    </router-link>
                    <a class="btn btn-default pull-right" @click="editAssetClassModal"><i class="fa fa-plus-square-o"></i> Edit Asset Class</a>
                </div>
            </h3>
            <table class = "table table-hover">
                <tbody>
                    <tr>
                        <td width="30%">ID</td>
                        <td>{{ asset.id }}</td>
                    </tr>
                    <tr>
                        <td>Fund Name</td>
                        <td>{{ asset.name }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="">
                <a class="btn btn-primary" @click="addSubAssetClassModal"><i class="fa fa-plus-square-o"></i> Add Sub Asset Class</a>
            </div>
            <br>
            <br>
            <div class="" v-if="subAssets.length > 0">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h5>Sub Asset Classes</h5>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="row">
                                <table class="table table-responsive table-bodered">
                                    <thead>
                                    <tr>
                                        <th> ID </th>
                                        <th> Name </th>
                                        <th> Asset Class </th>
                                        <th> Edit </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="subAsset in subAssets">
                                        <td>{{ subAsset.id }}</td>
                                        <td>{{ subAsset.name }}</td>
                                        <td>{{ subAsset.assetClass }}</td>
                                        <td><button class="btn btn-secondary" @click="editSubAssetClassModal(subAsset)"><i class="fa fa-edit"></i></button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <el-dialog
                title = "Add Sub Asset Class"
                :show-close=false
                :visible.sync="addSubAssestClass"
                width="30%">
                <span>
                    <add-sub-asset-class></add-sub-asset-class>
                </span>
        </el-dialog>

        <el-dialog
                title = "Edit Asset Class"
                :show-close=false
                :visible.sync="editAssetClass"
                width="30%">
                <span>
                    <edit-asset-class></edit-asset-class>
                </span>
        </el-dialog>

        <el-dialog
                title = "Edit Asset Class"
                :visible.sync="editSubAssetClass"
                :show-close=false
                width="30%">
                <span>
                    <edit-sub-asset-class :sub-asset="subAssetEdit"></edit-sub-asset-class>
                </span>
        </el-dialog>
    </div>
</template>