<script>
    import controllerMixin from './controller';

    export default {
        props: ['client', 'holders', 'contacts', 'relations'],

        mixins: [ controllerMixin ]
    }
</script>


<template>
    <div class="">
        <div class="panel panel-default">
            <div class="form-area">
                <div class="">
                    <label for="">Select person</label>
                </div>

                <div class="">
                    <el-radio v-model="signature.signature_person" label="new">New</el-radio>
                    <el-radio v-model="signature.signature_person" label="holder">Joint Holder</el-radio>
                    <el-radio v-model="signature.signature_person" label="contact">Contact Person</el-radio>
                    <el-radio v-model="signature.signature_person" label="relationship">Relationship Person</el-radio>
                </div>
            </div>

            <div class=""  v-if="signature.signature_person === 'new'">
                <div class="">
                    <div class="col-md-4">
                        <label for="">Enter full name</label>
                        <br>
                        <el-input v-model="signature.name" placeholder="Enter full name"></el-input>
                        <br>
                    </div>


                    <div class="col-md-4">
                        <label for="">Enter email address</label>
                        <br>
                        <el-input v-model="signature.email_address" placeholder="Enter email address"></el-input>
                        <br>
                    </div>


                    <div class="col-md-4">
                        <label for="">Enter phone number</label>
                        <br>
                        <el-input v-model="signature.phone" placeholder="Enter phone number"></el-input>
                        <br>
                    </div>
                </div>
            </div>
            <br>

            <div class="form-area" v-if="signature.signature_person === 'holder'">
                <label for="">Select holder</label>

                <br>

                <el-select
                        v-model="signature.joint_client_holder_id"
                        filterable
                        placeholder="Select joint holder"
                        >
                    <el-option
                            v-for="holder in holders"
                            :key="holder.id"
                            :label="holder.name"
                            :value="holder.id">
                    </el-option>
                </el-select>
            </div>

            <div class="form-area" v-if="signature.signature_person === 'contact'">
                <label for="">Select contact person</label>

                <br>

                <el-select
                        v-model="signature.client_contact_person_id"
                        filterable
                        placeholder="Select contact person"
                        >
                    <el-option
                            v-for="contact in contacts"
                            :key="contact.id"
                            :label="contact.name"
                            :value="contact.id">
                    </el-option>
                </el-select>
            </div>

            <div class="form-area" v-if="signature.signature_person === 'relationship'">
                <label for="">Select relationship person</label>

                <br>

                <el-select
                        v-model="signature.commission_recepient_id"
                        filterable
                        placeholder="Select relationship person"
                        >
                    <el-option
                            v-for="rel in relations"
                            :key="rel.id"
                            :label="rel.name"
                            :value="rel.id">
                    </el-option>
                </el-select>
            </div>

            <div class="form-area">
                <br>
                <br>
                <label for="">Upload image:</label>

                <br>

                <el-upload
                        class="upload-demo"
                        drag
                        :action=url
                        ref="upload"
                        :data=attachment
                        :headers="defaultHeaders"
                        :on-error="errorOnUpload"
                        :on-success="showUploadSuccess"
                        :thumbnail-mode="false"
                        :auto-upload="false">
                </el-upload>
            </div>
        </div>

        <div class="pull-right">
            <el-button type="danger" size="small" @click="closeModal">Cancel</el-button>
            <el-button type="success" size="small" @click="submit">
                <i class="el-icon-loading" v-if="uploading"></i>
                Upload
            </el-button>
        </div>

        <br>
        <br>

    </div>
</template>