<script>
    import { mapGetters } from 'vuex';
    import axios from 'axios';

    export default {
        props: ['signature'],

        data() {
            return {
                editing: false
            }
        },

        computed: {
            ...mapGetters({
                defaultHeaders: 'defaultHeaders'
            })
        },

        methods: {
            edit() {
                this.editing = true;

                if(!this.$refs.upload.uploadFiles[0]) {
                    this.editSignature();
                }

                this.uploadSignature();
            },

            editSignature() {
                axios.post('/api/client/signature', this.signature)
                    .then( () => {
                        this.editing = false;
                        Message.success({ message: 'Signature edited succesfully!'});
                        location.reload();
                    }, () => {
                        this.editing = false;
                    });
            },

            uploadSignature() {
                this.$refs.upload.submit();
            },

            showUploadSuccess() {
                location.reload();
            },

            errorOnUpload() {},

            cancelEdit() {}
        }
    }
</script>

<template>
    <div class="modal-body">
        <div class="moal-header">
            <h5>EDIT CLIENT SIGNATURE</h5>
        </div>
        <hr>
        <div class="form-group" v-if="signature.email_address">
            <div class="">
                <label for="">Enter full name</label>
                <br>
                <el-input v-model="signature.name" placeholder="Enter full name"></el-input>
                <br>
            </div>

            <br>

            <div class="">
                <label for="">Enter email address</label>
                <br>
                <el-input v-model="signature.email_address" placeholder="Enter email address"></el-input>
                <br>
            </div>

            <br>

            <div class="">
                <label for="">Enter phone number</label>
                <br>
                <el-input v-model="signature.phone" placeholder="Enter phone number"></el-input>
                <br>
            </div>
        </div>

        <br>

        <div class="form-group">
            <br>

            <label for="">Update Signature: This will replace the existing signature</label>

            <br>

            <el-upload
                    class="upload-demo"
                    drag
                    action='/api/client/signature'
                    ref="upload"
                    :data=signature
                    :headers="defaultHeaders"
                    :on-error="errorOnUpload"
                    :on-success="showUploadSuccess"
                    :thumbnail-mode="false"
                    :auto-upload="false">
            </el-upload>
        </div>

        <div class="modal-footer">
            <el-button size="small" type="primary" @click="edit">
                <i class="el-icon-loading" v-if="editing"></i>
                Edit
            </el-button>
        </div>
    </div>
</template>