<script>
    import Vue from 'vue';
    import controllerMixin from './controller';

    Vue.component('create-client-signature', require('./create'));

    export default {

        props: ['client', 'holders', 'contacts', 'relations'],

        mixins: [ controllerMixin ],
    }

</script>

<template>
    <div class="">
        <div class="">

        </div>

        <br>

        <div class="">
            <el-button type="primary" size="small" @click="create"><i class="el-icon-plus"></i> Upload signature</el-button>

            <el-dialog
                    title = "Upload Client Signature"
                    :visible.sync="mandateModal"
                    width="20%"
                    :show-close="false">
                <span>
                    <create-client-signature
                            :client="client"
                            :holders="holders"
                            :contacts="contacts"
                            :relations="relations">
                    </create-client-signature>
                </span>
            </el-dialog>
        </div>
    </div>
</template>