<script>
    import transferUnitsMixins from './transfer'
    import verify from '../../../../verify-action'

    export default {
        mixins: [transferUnitsMixins],

        components: {verify}
    }
</script>
<template>
    <div class="">
        <div v-show="step === 'form' ">
            <el-form ref="form" :model="transferUnitsForm" label-position="top" size="small" label-width="">

                <el-form-item label="Client Code: ">
                    <el-input v-model="client_code"></el-input>
                    <p class="form_errors" v-if="errors['transferee_id']">{{errors['transferee_id'][0]}}</p>
                </el-form-item>

                <div class="description" v-if="sameClient">
                    <div class="topup-investment-rate-info error-info">
                        You can't transfer units to your own account.
                    </div>
                </div>

                <el-form-item>
                    <label>
                        No of Units: <strong v-show="fundDetails.ownedUnits">{{(fundDetails.calculate ?
                        fundDetails.calculate.total : 0) | currency(null, 0)}}</strong>
                        <span v-show="fundDetails.withdrawable_units">| Transferable Units</span> <strong
                            v-show="fundDetails.price">{{(fundDetails.withdrawable_units) | currency(null, 0)}}</strong>
                    </label>
                    <el-input type="number" v-model="transferUnitsForm.number"></el-input>

                    <p class="form_errors" v-if="transferUnitsForm.number > fundDetails.withdrawable_units">The units to
                        be transferred are more than the transferable units</p>
                    <p class="form_errors" v-if="errors['number']">{{errors['number'][0]}}</p>
                </el-form-item>

                <div class="description" v-if="transferLimit">
                    <div class="topup-investment-rate-info error-info">
                        You can transfer a minimum of {{minTransfer}} units
                    </div>
                </div>

                <el-form-item>
                    <el-tooltip class="item" effect="dark"
                                content="Fill in valid inputs in all required fields (Units must be less than owned units)"
                                placement="bottom-end" v-if="!canTransferUnit || sameClient">
                        <el-button class="crims_action_button success disabled">Transfer Units</el-button>
                    </el-tooltip>

                    <el-button v-if="canTransferUnit && !sameClient" :disabled="confirmingFundTransfer" class="crims_action_button success"
                               @click="confirmUnitTransfer()">Transfer Units
                    </el-button>

                    <el-button class="crims_action_button default" @click="cancel">Cancel</el-button>
                </el-form-item>

            </el-form>
        </div>

        <div v-show="step === 'confirm'">
            <div class="confirm-top-up"
                 v-loading="submittingFundTransfer"
                 element-loading-text="Please wait as the Fund Sale information you provided is being submitted">

                <div class="description">
                    <h3>Fund</h3>
                    <p>{{fundDetails.shortname}}</p>
                </div>

                <div class="description">
                    <h3>Units to Transfer</h3>
                    <p>{{transferUnitsForm.number}} </p>
                </div>

                <div class="description">
                    <h3>Client Transfer (Client Code)</h3>
                    <p>{{client_code}}</p>
                </div>

                <div class="description">
                    <h3>Client Transfer (Full Name)</h3>
                    <p>
                        <span class="el-icon-loading" v-if="fetchingTransferClient"></span>
                        <span v-else>{{transferClient.fullName}}</span>
                    </p>
                </div>

                <!--                <div class="description" v-if="transferClient">-->
                <!--                    <div class="topup-investment-rate-info error-info" v-show="!transferClient.hasCMMF">-->
                <!--                        Can't make this transfer as the client has no CMMF investment.-->
                <!--                    </div>-->
                <!--                </div>-->

                <div class="description">
                    <h3>Transfer Date</h3>
                    <p>{{transferUnitsForm.date | date}} </p>
                </div>

                <div class="description">
                    <h3>Unit Price</h3>
                    <p>{{fundDetails.price}} </p>
                </div>

                <div class="description">
                    <div class="topup-investment-rate-info confirm-topup-info">
                        You are Transferring <strong>{{transferUnitsForm.number}} </strong> units.
                    </div>
                </div>

                <div class="description last">
                    <el-tooltip class="item" effect="dark"
                                content="Please confirm that the client selected has CMMF investment to proceed"
                                placement="bottom-end" v-if="!transferClient">
                        <el-button class="crims_action_button success disabled">Verify</el-button>
                    </el-tooltip>

                    <el-button type="custom-success" v-if="transferClient" @click="verifyTransfer">Verify</el-button>
                    <el-button class="crims_action_button default" @click="cancel">Cancel</el-button>
                </div>
            </div>
        </div>

        <div v-show="step === 'verify'">
            <div class="confirm-top-up"
                v-loading="submittingFundTransfer"
                element-loading-text="Please wait as the Fund Sale information you provided is being validated">
                <div class="confirm-top-up">
                    <verify v-on:tokenValidated="transValidated"></verify>
                </div>
            </div>
        </div>

        <div v-show="step === 'success' ">
            <div class="topupSuccessful">
                <div class="message">
                    <h3>Fund Transfer details were submitted successfully. We will notify you after 24 hours and update
                        the details accordingly. Thank you.</h3>
                </div>
                <div class="icon">
                    <h1><i class="fa fa-check-circle" aria-hidden="true"></i></h1>
                </div>
            </div>
        </div>
    </div>
</template>
