<script>
    export default {
        props: ['custodials', 'fund'],

        data() {
            return {
                selectedOption: null,
                selectedType: 'received',
                options: JSON.parse(this.custodials),
                fundName: (JSON.parse(this.fund)).name
            }
        },
    }
</script>
<template>
    <div>
        <table class="table table-hover table-responsive">
            <thead></thead>
            <tbody>
            <tr>
                <td>Fund Name</td>
                <td>{{this.fundName}}</td>
            </tr>

            <tr>
                <td>Account Type</td>
                <td>
                    <el-radio v-model="selectedType" label="received">Receiving</el-radio>
                    <el-radio v-model="selectedType" label="operating">Operating</el-radio>
                    <input type="hidden" name="type" v-model="selectedType">
                </td>
            </tr>
            <tr>
                <td>Account</td>
                <td>
                    <div class="form-group">
                        <el-select v-model="selectedOption" placeholder="Select Custodial Account" style="width: 100%">
                            <el-option
                                    v-for="d in options"
                                    :key="d.value"
                                    :label="d.label"
                                    :value="d.value">
                            </el-option>
                        </el-select>
                        <input type="hidden" name="custodial_id" v-model="selectedOption">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</template>
