<script>
    import {mapGetters} from 'vuex';
    import PaginationMixins from '../../../mixins/vuetable/paginationMixins';
    import CallBackMixin from './callbacks';

    export default {
        pages: ['pages'],

        mixins: [PaginationMixins, CallBackMixin],

        data() {
            return {
                fields: [
                    {name: 'amount', title: 'Amount'},
                    {name: 'status', title: 'Status', callback: 'redeemStatus'},
                    {name: 'date', title: 'Date'},
                    {name: 'origin', title: 'Origin', callback: 'redeemOrigin'}
                ]
            }
        },

        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient'
            }),

            url: function () {
                return '/api/client/' + this.selectedClient.id + '/activity-log/loyalty-brief';
            }
        },

        methods: {
            viewMore() {
                this.$router.push({name: 'loyalty_points:details'});
            },
        }
    }
</script>

<template>
    <div class="sp-recent-activities">
        <div class="heading">
            <span class="heading-left">
                <p>RECENT ACTIVITIES</p>
            </span>
        </div>

        <div class="recent-activities-area">
            <div>
                <div class="crims-table-area">
                    <div class="crims-table-area__body">
                        <vuetable ref="vuetable"
                                  :api-url="url"
                                  :fields="fields"
                                  :multi-sort="true"
                                  :per-page="5"
                                  :noDataTemplate="noData"
                                  pagination-path=""
                                  @vuetable:loaded="onLoaded"
                                  @vuetable:pagination-data="onPaginationData">
                        </vuetable>
                    </div>

                    <div class="crims-table-area__foot">
                        <div v-if="vueTableLoading">
                            <content-card-shimmer></content-card-shimmer>
                        </div>

                        <div v-show="!vueTableLoading" class="vuetable-pagination crims-table-area__pagination  ui basic segment grid">
                            <vuetable-pagination-info ref="paginationInfo"></vuetable-pagination-info>
                            <vuetable-pagination :css="pagination" ref="pagination" @vuetable-pagination:change-page="onChangePage">
                            </vuetable-pagination>
                        </div>
                    </div>
                </div>
                <div>

                </div>
            </div>
        </div>

        <br>
    </div>
</template>

<style>
    .alert{
        padding: 8px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .alert-info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }

    .alert-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
    .alert-primary {
        color: #3c763d;
        background-color: #337ab7;
        border-color: #d6e9c6;
    }
    .alert-warning{
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
</style>