<script>
    export default {
        props: ['pages'],

        data() {
            return {
                active_tab: 'recent_activities'
            }
        },

        methods: {
            switchTabs(tab) {
                this.active_tab = tab;
            },

            viewMore() {
                this.$router.push({name: 'loyalty_points.activities'});
            }
        }
    }
</script>

<template>
    <div class="">
        <div class="switch-buttons-area">
            <div class="switch-buttons">
                <el-button-group>
                    <el-button size="mini" @click="switchTabs('recent_activities')">RECENT ACTIVITIES</el-button>
                    <el-button size="mini" @click="switchTabs('redeem_policy')">REDEEM POLICY</el-button>
                </el-button-group>
            </div>
        </div>

        <div class="" v-if="active_tab === 'redeem_policy'">
            <redeem_policy :pages="pages"></redeem_policy>
        </div>

        <div class="" v-if="active_tab === 'recent_activities'">
            <loyalty-activities_comp :pages="pages"></loyalty-activities_comp>
        </div>
    </div>
</template>

<style lang="scss">

    .switch-buttons-area {
        display: flex;
        padding: 1%;

        .switch-buttons {
            width: 50%;
            text-align: left;
        }

        .view-all {
            width: 50%;
            text-align: right;
        }
    }

    .section-title {
        font-family: Futura,serif;
        font-size: 14px;
        padding: 1%;
    }

</style>