<script>
    export default {
        name: "redeem_policy",

        methods:{
            viewDetails(){
                this.$router.push({name: 'loyalty_points:details'});
            }
        }
    }
</script>

<template>
    <div class="sp-recent-activities">
        <div class="heading">
            <span class="heading-left">
                <p>REDEEM POLICIES</p>
            </span>
        </div>
        <div class="recent-activities-area">
            <div class="policy_content">
                <p>Please note that points can only be redeemed:</p>

                <ol>
                    <li>When client has accumulated 2,000 points and above.</li>
                    <li>Real Estate products, the Points will be eligible to be redeemed
                        after 365 days from the day of first payment.
                    </li>
                </ol>

                <div class="">
                    <el-button
                            size="small"
                            round
                            type="success"
                            plain
                    @click="viewDetails">
                        <i class="el-icon-arrow-right"></i> REDEEM POINTS
                    </el-button>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
    .policy_content {
        text-align: justify;
        background: #f8f8f8;
        color: #0a0a0a;
        padding: 25px;
    }
</style>