<script>
    import CallBackMixin from './callbacks';
    import PaginationMixins from '../../../mixins/vuetable/paginationMixins';
    import {mapGetters} from 'vuex';

    export default {
        data() {
            return {
                fields: [
                    {
                        name: 'origin',
                        title: 'Origin',
                        callback: 'redeemOrigin'
                    },
                    {
                        name: 'vouchers',
                        title: 'Voucher',
                    },
                    {
                        name: 'amount',
                        title: 'Name'
                    },
                    {
                        name: 'date',
                        title: 'Date'
                    }, {
                        name: 'status',
                        title: 'Status',
                        callback: 'redeemStatus'
                    },

                ]
            }
        },

        mixins:[PaginationMixins, CallBackMixin],

        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient'
            }),

            url: function () {
                return '/api/client/' + this.selectedClient.id + '/redeem-instructions';
            }
        },
    }
</script>

<template>
    <div>
        <div class="crims-table-area__head">
            <div class="head-left">
                <h3>Redeem Instructions</h3>
            </div>
            <div class="head-right">

            </div>
        </div>
        <div class="crims-table-area__body">
            <vuetable ref="vuetable"
                      :api-url="url"
                      :fields="fields"
                      :multi-sort="true"
                      :per-page="5"
                      pagination-path=""
                      @vuetable:pagination-data="onPaginationData"
                      @vuetable:loaded="onLoaded">
            </vuetable>
            <div v-if="vueTableLoading">
                <content-card-shimmer></content-card-shimmer>
            </div>

            <div class="crims-table-area__foot">
                <div class="vuetable-pagiclination crims-table-area__pagination  ui basic segment grid">
                    <vuetable-pagination-info ref="paginationInfo"></vuetable-pagination-info>
                    <vuetable-pagination :css="pagination" ref="pagination"
                                         @vuetable-pagination:change-page="onChangePage">
                    </vuetable-pagination>
                </div>
            </div>
        </div>
    </div>
</template>

<style>
    .alert{
        padding: 8px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
    }

    .alert-info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }

    .alert-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
    .alert-primary {
        color: #3c763d;
        background-color: #337ab7;
        border-color: #d6e9c6;
    }
    .alert-warning{
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
</style>