<script>
    import SummaryCardMixins from './summary-cards';

    export default {
        mixins: [SummaryCardMixins]
    }
</script>

<template>
    <div class="investment-cards">
        <div v-show="fetchingPointsSummary">
            <dash-card-placeholder></dash-card-placeholder>
        </div>
        <div class="unit_trust">

            <div class="fund_cards__body"
                 v-show="!fetchingPointsSummary"
                 @click="viewPointsDetails">
                <div class="summary">
                    <h3>REDEEMABLE POINTS </h3>
                    <h2>
                        {{pointsSummaries.availablePoints | currency('', 2)}}
                    </h2>
                </div>

                <div class="details">

                    <div class="details__description">
                        <span>Investments:</span>
                        <span>{{pointsSummaries.invPoints}}</span>
                    </div>

                    <div class="details__description">
                        <span>Unit Trust:</span>
                        <span>{{pointsSummaries.fundPoints}}</span>
                    </div>

                    <div class="details__description">
                        <span>Real Estate:</span>
                        <span>{{pointsSummaries.rePoints}}</span>
                    </div>

                </div>

                <div class="toggle">
                    <button>View Details</button>
                </div>

            </div>

        </div>
    </div>
</template>