<script>
    import PaginationMixins from '../../../mixins/vuetable/paginationMixins';

    export default {
        mixins: [PaginationMixins],

        data() {
            return {
                fields: [
                    {
                        name: 'name',
                        title: 'Name'
                    },
                    {
                        name: 'value',
                        title: 'Value',
                        callback: 'currencyLabel'
                    },
                ]
            }
        },

        computed: {
            url: function () {
                return '/api/vouchers-details';
            }
        },

        methods: {
            currencyLabel(value) {

                value = !value ? 0 : Math.round(value * Math.pow(10, 0)) / Math.pow(10, 0);

                let parts = value.toString().split(".");

                parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");

                return parts.join(".");
            },
        }
    }
</script>

<template>
    <div>
        <div class="crims-table-area__head">
            <div class="head-left">
                <h3>Vouchers</h3>
            </div>
            <div class="head-right">

            </div>
        </div>
        <div class="crims-table-area__body">
            <vuetable ref="vuetable"
                      :api-url="url"
                      :fields="fields"
                      :multi-sort="true"
                      :per-page="5"
                      pagination-path=""
                      @vuetable:pagination-data="onPaginationData"
                      @vuetable:loaded="onLoaded">
            </vuetable>
            <div v-if="vueTableLoading">
                <content-card-shimmer></content-card-shimmer>
            </div>

            <div class="crims-table-area__foot">
                <div class="vuetable-pagiclination crims-table-area__pagination  ui basic segment grid">
                    <vuetable-pagination-info ref="paginationInfo"></vuetable-pagination-info>
                    <vuetable-pagination :css="pagination" ref="pagination" @vuetable-pagination:change-page="onChangePage">
                    </vuetable-pagination>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>

</style>