<script>
    import Vue from 'vue';
    Vue.component('investment-cards', require('./investments-sammary-cards.vue'));
    Vue.component('recent-activities', require('./partials/recent-activities.vue'));
    Vue.component('upcoming-maturity-dates', require('./partials/upcoming-maturity-dates.vue'));
    export default {}
</script>

<template>
    <div >
        <h3>My Investments</h3>

        <div class="investment-cards">
            <investment-cards></investment-cards>
        </div>

        <div class="recent-activities">
            <div class="grid-x" >
                <div class="large-7 small-12 medium-12">
                    <recent-activities></recent-activities>
                </div>
                <div class="large-5 u-maturities small-12 medium-12">
                    <upcoming-maturity-dates></upcoming-maturity-dates>
                </div>
            </div>
        </div>
    </div>
</template>