<script>
    import Vue from 'vue';
    import moment from 'moment';
    import {mapGetters} from 'vuex';

    Vue.component('switch-board', require('../partials/switch-user.vue'));

    export default {
        data() {
            return {
                hi: '',
                now: '',
            }
        },
        computed: {
            ...mapGetters({
                currentUser: 'currentUser',
                realEstateTotals: 'realEstateTotals',

            }),
            time_now() {
                let d = new Date();
                return moment().format('LTS');

            }
        },
        watch: {
            currentUser: {
                handler: function () {
                    this.user = this.currentUser;
                },
                deep: true
            },
            time_now: {
                handler: function () {
                    this.saltuation();
                }
            }
        },
        methods: {
            saltuation() {
                let d = new Date();
                let time = d.getHours();

                if (time < 12) {
                    this.hi = "Good Morning";
                }
                if (time >= 12) {
                    this.hi = "Good Afternoon";
                    ;
                }
                if (time >= 18) {
                    this.hi = "Good Evening";
                }
                if (time >= 22) {
                    this.hi = "Good Night";
                }
            }
        },
        mounted() {
            this.saltuation();
        }
    }
</script>

<template>
    <div class="dashboard-banner">
        <div class="banner-cover">
            <div class="banner-container">
                <div class="grid-x grid-padding-x ">
                    <div class="large-6 cell salutation">
                        <div class="contain">
                            <span class="h3">{{hi}}</span>
                            <span class="h4">{{ currentUser.firstname }} {{ currentUser.lastname }}</span>
                        </div>
                    </div>

                    <div class="large-2 cell"></div>

                    <div class="large-4 cell investments-stats">
                        <switch-board></switch-board>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>

</style>

