<script>
    import {mapGetters } from 'vuex';

    export default {
        name: 'dashboard',
        computed: {
            ...mapGetters({
                selectedClient: 'selectedClient',
                isClient: 'isClient'
            })
        }
    }
</script>

<template>
    <div class="crims-dashboard" >

        <side-menu></side-menu>

        <div class="crims-dashboard__content">
            <router-view></router-view>
        </div>

        <fetch-common-apis v-show="selectedClient.id && this.isClient"></fetch-common-apis>

        <div v-show="selectedClient.hasSP && this.isClient">
            <fetch-sp-apis></fetch-sp-apis>
        </div>

        <div v-show="selectedClient.hasUT && this.isClient">
            <fetch-fund-apis></fetch-fund-apis>
        </div>

        <div v-show="selectedClient.hasRE && this.isClient">
            <fetch-re-apis></fetch-re-apis>
        </div>

<!--        <div v-show="!selectedClient.canRedeem && this.isClient">-->
<!--            <fetch-loyalty-points-apis></fetch-loyalty-points-apis>-->
<!--        </div>-->
    </div>
</template>