<script>
    import Vue from 'vue';
    import event from '../../events'
    import {mapGetters} from 'vuex';

    Vue.component('dashboard-banner', require('./banner.vue'));
    Vue.component('activities', require('./activities/index.vue'));
    Vue.component('commissions-page', require('../sales/commissions'));

    export default {
        computed: {
            ...mapGetters({
                isFa: 'isFa',
                isClient: 'isClient',
            })
        },
        mounted(){
            event.bus.$emit('current_component', this.$route.name);
        }
    }
</script>

<template>
    <div style="height: 100%;">
        <div style="height: 100%" v-if="isClient">
            <div class="banner">
                <dashboard-banner></dashboard-banner>
            </div>

            <div class="activities">
                <activities></activities>
            </div>
        </div>

        <div style="width: 100%" v-if="isFa && !isClient">
            <commissions-page></commissions-page>
        </div>
    </div>
</template>