<script>
    import Vue from 'vue';
    import { mapState, mapActions, mapMutations, mapGetters } from 'vuex';
    Vue.component('toggle-menu', require('./partials/toggle-menu.vue'));
    export default {
        data() {
            return {
                menuVisible: false,
                user: []
            }
        },
        computed: {
            ...mapGetters({
                isAuthenticated: 'isAuthenticated',
                currentUser: 'currentUser',
                selectedClient: 'selectedClient',
                isFa: 'isFa',
                isClient: 'isClient',
                isMultipleClient: 'isMultipleClient',
                contactModal: 'contactModal'
            })
        },
        watch: {
            currentUser: {
                handler: function () {
                    this.user = this.currentUser;
                },
                deep: true
            }
        },
        methods: {
            ...mapActions({
                individual: 'selectIndividual',
                corporate: 'selectCorporate'
            }),

            popupContactModal() {
                this.$store.commit('contactModal', true);
            },

            closeContactModal() {
                this.$store.commit('contactModal', false);
            },

            goToLanding() {
                if (this.isAuthenticated) {
                    this.$router.push({name: 'main'});
                }
                else {
                    this.$router.push({name: 'landing'});
                }
            },
            logout: function () {
                this.$store.dispatch('logoutUser');
            },
            switchClient(event, client) {
                event.preventDefault();

                this.$store.dispatch('switchClient', client);
            },
            toggleMenu() {
                this.menuVisible = !this.menuVisible;
            },
            checkClass($event){

                if( !$event.target.classList.contains('dropbtn') ) {
                    this.menuVisible = false;
                }
            },
            bankAccounts(){
                this.$store.commit('GET_CLIENT_TOTAL_BALANCE', this.selectedClient);
            }
        },
        mounted(){
            this.bankAccounts();
        }
    }
</script>

<template>
    <div class="responsive-top-bar" :class="{'responsive':menuVisible }">
        <div class="top-bar-logo" @click="goToLanding()">
            <span>
                <toggle-menu></toggle-menu>
            </span>
            <span>
                <img src="/assets/img/logo.svg">
            </span>
        </div>

        <div class="menu-listed" >
            <div v-if="isAuthenticated">
             <span class="menu-list-item show-for-large">
                CRIMS
            </span>
            </div>
        </div>
        <div class="menu-left-display" v-if="isAuthenticated" >
            <div >
                <el-dropdown class="user-action-dropdown" >
                  <span class="el-dropdown-link">
                        <span class="user-icon">
                            <img src="/assets/icons/user-background.png">
                            <i class="fa fa-caret-down hide-for-medium"></i>
                        </span>
                        <span class="show-for-medium">
                           {{ user.firstname }} {{ user.lastname }}
                          <i class="el-icon-arrow-down el-icon--right"></i>
                        </span>
                  </span>

                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item divided >
                            <a href="/logout">
                                <span>
                                 <i class="fa fa-sign-out"></i>
                                 Logout
                                </span>
                            </a>
                        </el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </div>

        </div>

        <div  class="application-button-div" v-else-if="!isAuthenticated">

            <!---->
            <ul  class="dropdown  menu menu-list" data-close-on-click-inside="false" v-foundation data-dropdown-menu>
                <li >
                    <a class="application-button">Apply Now</a>
                    <ul class="menu">
                        <li><router-link :to="{ name: 'apply.risk'}"><span @click="individual()"> Individual </span></router-link> </li>
                        <li><router-link :to="{ name: 'apply.risk'}"><span @click="corporate()"> Corporate </span></router-link></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</template>


<style>

    .el-dropdown-link {
        cursor: pointer;
        color: hsla(150, 3%, 1%, 0.5);
        font-weight: 600;
    }
    .el-icon-arrow-down {
        font-size: 12px;
    }




</style>