<script>
    import ClientDetailsValidation from './ClientDetailsValidation';

    export default {
        mixins: [ClientDetailsValidation],
    }
</script>

<template>
    <div>
        <h4>Client Validations</h4>
        <table class="table table-striped table-responsive">
            <thead></thead>
            <tbody>
            <tr v-if="client.client_type_id == 1">
                <td>Client ID</td>
                <td>{{client.id_or_passport}}</td>
                <td v-if="kycIDValidated">
                    <p><i class="fa fa-check-square-o fa-2 text-success"></i></p>
                </td>
                <td v-else>
                    <span v-if="checkValidation">
                        <i class="el-icon-loading"></i>
                    </span>
                    <span v-else>
                        <button class="btn btn-default btn-sm" @click="requestProof('id')">
                        <i v-if="requestingID" class="el-icon-loading"></i> REQUEST PROOF
                        </button>
                        <button class="btn btn-primary btn-sm" @click="openDialogComment('id')">
                            VERIFY
                        </button>
                    </span>
                </td>
            </tr>
            <tr>
                <td>Client Tax PIN</td>
                <td>{{client.pin_no}}</td>
                <td v-if="kycPINValidated">
                    <p><i class="fa fa-check-square-o fa-2 text-success"></i></p>
                </td>
                <td v-else>
                    <span v-if="checkValidation">
                        <i class="el-icon-loading"></i>
                    </span>
                    <span v-else>
                        <button class="btn btn-default btn-sm" @click="requestProof('pin_no')">
                            <i v-if="requestingPIN" class="el-icon-loading"></i> REQUEST PROOF
                        </button>
                        <button class="btn btn-primary btn-sm" @click="openDialogComment('pin_no')">
                            VERIFY
                        </button>
                     </span>
                </td>
            </tr>
            </tbody>
        </table>

        <el-dialog
                title="Validation Comment"
                :visible.sync="dialogComment"
                width="30% !important">

            <label>Comment: </label>
            <el-input v-model="comment" type="textarea" :rows="2"></el-input>

            <span slot="footer" class="dialog-footer">
                <el-button size="mini" @click="dialogComment = false">CANCEL</el-button>
                <el-button size="mini" type="success" @click="confirmData()">
                    <i v-if="confirming" class="el-icon-loading"></i> CONFIRM</el-button>
            </span>
        </el-dialog>
    </div>
</template>
