<script>
    import { mapGetters } from 'vuex';

    export default {
        props: ['security', 'holding'],

        data() {
            return {}
        },

        computed: {
            ...mapGetters({
                schedules: 'amortizationSchedules'
            })
        },

        methods: {
            getSchedule: function () {
                this.$store.commit('GET_AMORTIZATION_SCHEDULE', this.holding.id);
            }
        },

        mounted() {
            this.getSchedule();
        }
    }
</script>

<template>
    <div class="">
        <div class="row">
            <div class="col-md-10">
                <h4>Loan Amortization</h4>
            </div>

            <div class="col-md-2">
                <div class="btn-group">
                    <a class="btn btn-success" :href="'/dashboard/portfolio/investments/'+ holding.id +'/loan/amortization/export'">Export</a>
                    <a class="btn btn-primary" :href="'/dashboard/portfolio/securities/'+ security.id +'/deposit-holdings/'+ holding.id">Back</a>
                </div>
            </div>
        </div>
        <hr>
        <br>
        <div class="">
            <table class="table table-hover table-responsive table-striped table-right">
                <thead>
                <tr class="table-right">
                    <th >Pmt No.</th>
                    <th>Payment Date</th>
                    <th class="table-right">Beginning Balance</th>
                    <th class="table-right">Scheduled Payment</th>
                    <th class="table-right">Extra Payment</th>
                    <th class="table-right">Total Payment</th>
                    <th class="table-right">Principal</th>
                    <th class="table-right">Interest</th>
                    <th class="table-right">Ending Balance</th>
                    <th class="table-right">Cumulative Interest</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(schedule, index) in schedules">
                    <td>{{ index + 1 }}</td>
                    <td>{{ schedule.date }}</td>
                    <td class="table-right">{{ schedule.beginning_balance }}</td>
                    <td class="table-right">{{ schedule.scheduled_payment }}</td>
                    <td v-if="schedule.extra_payment" class="table-right">{{ schedule.extra_payment }}</td>
                    <td v-else class="table-center"> - </td>
                    <td class="table-right">{{ schedule.total_payment }}</td>
                    <td class="table-right">{{ schedule.principal }}</td>
                    <td class="table-right">{{ schedule.interest }}</td>
                    <td class="table-right">{{ schedule.ending_balance }}</td>
                    <td class="table-right">{{ schedule.cumulative_interest }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>