<script>
    import {mapGetters} from 'vuex';
    import {Message} from 'element-ui';

    export default {
        props: ['bank'],

        data() {
            return {
                url: '/api/applications/uploads/document',
                extensions: ['image/*', 'application/pdf'],
                transferIndividualData: {slug: 'transfer_individual', application_id: '', type: 'payment'},
                dialogBank: false,
                viewUpload: false,
            }
        },

        computed: {
            ...mapGetters({
                individual: 'individualApplication',
                appId: 'appUUID',
                defaultHeaders: 'defaultHeaders',
                payment_complete: 'payment_complete',
                sendingSMS: 'sendingSMS',
                client: 'clientDetails',
            })
        },

        methods: {
            bankConfirm() {
                this.dialogBank = false;
            },

            transferIndividual() {
                this.transferIndividualData.application_id = this.appId;
            },

            closeDialogBank() {
                this.$store.commit('ACTIVATE_DIALOG_BANK', {value: false});
            },

            showUploadSuccess() {
                Message.success('The document has been successfully uploaded');

                this.$store.commit('UPLOAD_PAYMENT_COMPLETE', {applId: this.appId})
            },

            errorOnUpload() {
                Message.warning('Please complete the investment and subscriber stages before uploading documents');
            },

            sendBankDetails() {
                this.$store.commit('REQUEST_BANK_DETAIL_SMS', {'appId': this.appId, 'client': this.client})
            },

            completeApplication() {
                this.$emit('completeDialogBank')
            },

            viewUploadProof() {
                this.viewUpload = !this.viewUpload;
            }
        }
    }
</script>

<template>
    <div>
        <div class="form-section">
            <div class="form-section-body">
                <div class="">
                    <div class="primary title-bar">
                        <div class="center title">Bank Details provided below</div>
                    </div>
                    <br>
                    <p>Account Name : {{ bank.account_name }}</p>
                    <p>Account No : {{ bank.number }}</p>
                    <p>Bank : {{ bank.bank_name }}</p>
                    <p v-if="bank.branch">Branch : {{ bank.branch }}</p>
                    <p>Swift Code : {{ bank.swift_code }}</p>
                    <br>
                    <el-button type="primary" @click="sendBankDetails">Send Bank Details to Phone <span
                            v-if="sendingSMS"><i class="el-icon-loading"></i></span>
                    </el-button>

                    <el-button type="" @click="viewUploadProof">Upload Proof of Payment</el-button>
                    <br>
                </div>
                <br>
                <div class="form-element">
                    <div v-if="viewUpload">
                        <label>Upload Proof of Payment</label>
                        <el-upload
                                class="upload-demo"
                                drag
                                :action=url
                                :data=transferIndividualData
                                :headers="defaultHeaders"
                                :on-error="errorOnUpload"
                                :on-success="showUploadSuccess"
                                :before-upload="transferIndividual"
                                accept="image/*,.pdf">
                            <div class="el-upload__text">
                                <span><i class="el-icon-upload"></i></span><br/>
                                Upload a funds deposit slip of transfer advise <em>click to upload</em></div>
                            <div class="el-upload__tip" slot="tip">jpg/png files with a size less than 500kb
                            </div>
                        </el-upload>
                        <br>
                    </div>
                    <br>
                    <div class="">
                        <el-button class="button secondary" @click="closeDialogBank">Go back</el-button>
                        <el-button @click="completeApplication" class="def next button pull-right">
                            Complete Application <i class="fa fa-long-arrow-right"></i>
                        </el-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>