<style>

</style>

<script>

    export default {
        data: function () {
            return {

            };
        }
    }
</script>

<template>
    <div class="help-sidebar">
        <div class="title">
            <h5>NEED ANY HELP?</h5>
        </div>
        <div class="content">
            <p>Got problems submitting your application? Don't worry, you can contact us for support</p>
            <p><i class="fa fa-phone"></i> <a href="tel:+254709101000">+254 709 101 000</a></p>
            <p><i class="fa fa-phone"></i> <a href="tel:+1 (301) 982-2560">+1 (301) 982-2560</a></p>

            <p><i class="fa fa-envelope-o"></i> <a href="mailto:operations@cytonn.com">operations@cytonn.com</a> </p>
        </div>
    </div>
</template>