<script>
    import {mapGetters} from 'vuex'

    export default {
        props: ['amount', 'mpesa'],

        data() {
            return {}
        },

        computed: {
            ...mapGetters({
                applId: 'appUUID',
                errors: 'paymentErrors',
                client: 'clientDetails',
            })
        },

        methods: {
            mpesaConfirm() {
                this.$store.commit('CONFIRM_MPESA_DEPOSIT', {
                    applId: this.applId,
                    amount: this.amount,
                    clientUUID: (this.client) ? this.client.uuid : 'app_' +this.applId
                });
            },

            closeDialogMpesa() {
                this.$store.commit('ACTIVATE_DIALOG_MPESA', {value: false});
            },

            completeApplication() {
                this.$emit('completeDialogMpesa')
            },

            getAccNum(){
                return (this.client) ? this.client.client_code : ''
            }
        },

        mounted() {
            this.mpesaConfirm();
        }
    }
</script>

<template>
    <div>
        <div class="form-section">
            <div class="form-section-body">
                <div class="form-element">
                    <div class="">
                        <div class="primary title-bar">
                            <div class="center title">Payment Request has been sent to your phone. Input your MPESA PIN to complete process.</div>
                        </div>
                        <br>
                        <p>Note that you can make direct deposits via M-PESA.</p>
                        <p>Paybill Number: {{ mpesa.paybill }}</p>
                        <p>Account Number: {{ getAccNum() }} </p>
                    </div>
                    <br/>
                    <br>
                    <div class="">
                        <el-button class="button secondary" @click="closeDialogMpesa">Go back</el-button>
                        <el-button @click="completeApplication" class="def next button pull-right">
                            Complete Application <i class="fa fa-long-arrow-right"></i>
                        </el-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style>

</style>