<script>
    import vSelect from "vue-select";
    import {mapGetters} from 'vuex';
    import axios from 'axios';

    export default {
        props: ['code', 'edit'],

        data() {
            return {
                selectedFa: null,
                select_options: [],
                fa: {},
                loading: false
            }
        },

        watch:{
            selectedFa: function () {
                this.fa = this.selectedFa;
                this.$emit('referredFA', this.fa)
            }
        },

        computed: {
          ...mapGetters({

          }),
        },

        methods: {
            getOptions(search) {
                this.search(search, this)
            },

            search: _.debounce((search, vm) => {
                vm.loading = true;
                axios.post('/api/commission-recipients/all', {query: search})
                    .then(({data}) => {
                        vm.select_options = data.data;
                        vm.loading = false;
                    })
            }, 350),

            getClientId() {
                if (this.selectedFa) {
                    return this.selectedFa.id
                }
                return null;
            },
        }
    }
</script>

<template>
    <div>

        <div>
            <el-select
                    v-model="selectedFa"
                    clearable
                    filterable
                    remote
                    reserve-keyword
                    placeholder="Search FA by Referral Code or Email"
                    :remote-method="getOptions"
                    :loading="loading"
                    loading-text="Loading..."
                    style="width: 100%"
            >
                <el-option
                        v-for="item in select_options"
                        :key="item.value"
                        :label="item.label"
                        :value="item">
                </el-option>
            </el-select>
            <input type="hidden" :name="code" v-model="fa.value">
        </div>
    </div>
</template>
