/**
 * Created by Raphael Karanja on 07/09/2018.
 */
.unittrust {
  &__details {
    margin: 50px 0;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 7px;
    &:first-child {
      margin: 0 0 50px 0;
    }
  }


  &__tabs {
    .el-collapse {
      &-item {
        margin: 15px 0;

        &__header{
          padding: 10px 20px;
          color: #006a5b;
          font-family: "Proxima Nova";
          font-size: 16px;
          font-weight: 600;
          text-transform: uppercase;

          display: flex;
          align-items: center;
        }
      }
    }
  }
}